<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>acceptQuest_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,30},{46,10}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,98},{46,10}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>acceptQuest_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,0},{230,44}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,82},{230,44}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>acceptQuest_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,0},{230,48}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,80},{230,48}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>acceptQuest_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{232,48}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,79},{232,48}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>acceptQuest_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,0},{136,30}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,88},{136,30}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Animation_acceptQuest.pvr</string>
            <key>size</key>
            <string>{828,48}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:275769d206a9a990ddbef03ff3376039:1/1$</string>
            <key>textureFileName</key>
            <string>Animation_acceptQuest.pvr</string>
        </dict>
    </dict>
</plist>
