<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>questframe0.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,424},{180,72}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,17},{180,72}}</string>
                <key>sourceSize</key>
                <string>{280,100}</string>
            </dict>
            <key>questframe1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,140},{186,72}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,17},{186,72}}</string>
                <key>sourceSize</key>
                <string>{280,100}</string>
            </dict>
            <key>questframe2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,70},{188,70}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,17},{188,70}}</string>
                <key>sourceSize</key>
                <string>{280,100}</string>
            </dict>
            <key>questframe3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,282},{184,72}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,17},{184,72}}</string>
                <key>sourceSize</key>
                <string>{280,100}</string>
            </dict>
            <key>questframe4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,354},{184,70}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,18},{184,70}}</string>
                <key>sourceSize</key>
                <string>{280,100}</string>
            </dict>
            <key>questframe5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,212},{186,70}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,18},{186,70}}</string>
                <key>sourceSize</key>
                <string>{280,100}</string>
            </dict>
            <key>questframe6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{188,70}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,18},{188,70}}</string>
                <key>sourceSize</key>
                <string>{280,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Animation_quest_9004.pvr</string>
            <key>size</key>
            <string>{188,496}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:64de7484a65ce0f637f329f9de2ecdb0:1/1$</string>
            <key>textureFileName</key>
            <string>Animation_quest_9004.pvr</string>
        </dict>
    </dict>
</plist>
