<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>finishQuest_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,0},{314,46}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,73},{314,46}}</string>
                <key>sourceSize</key>
                <string>{450,200}</string>
            </dict>
            <key>finishQuest_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,0},{226,44}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,73},{226,44}}</string>
                <key>sourceSize</key>
                <string>{450,200}</string>
            </dict>
            <key>finishQuest_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{170,50}}</string>
                <key>offset</key>
                <string>{5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,68},{170,50}}</string>
                <key>sourceSize</key>
                <string>{450,200}</string>
            </dict>
            <key>finishQuest_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,0},{164,42}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,75},{164,42}}</string>
                <key>sourceSize</key>
                <string>{450,200}</string>
            </dict>
            <key>finishQuest_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,0},{138,30}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,81},{138,30}}</string>
                <key>sourceSize</key>
                <string>{450,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Animation_finishQuest.pvr</string>
            <key>size</key>
            <string>{1012,50}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:98a929b6d60b8794d7ffbb07c1114ec1:1/1$</string>
            <key>textureFileName</key>
            <string>Animation_finishQuest.pvr</string>
        </dict>
    </dict>
</plist>
