<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>9133</key>
	<dict>
		<key>name</key>
		<string>zhetian</string>
		<key>needBuild</key>
		<true/>
		<key>plist</key>
		<string>zhetian/zhetian/Resources/Info.plist</string>
		<key>scheme</key>
		<string>zhetian</string>
		<key>channel</key>
		<string>9133</string>
		<key>version</key>
		<string>0.0.2.32</string>
		<key>provision</key>
		<string>dis_All_Youai_App</string>
	</dict>
	<key>9133-base</key>
	<dict>
		<key>name</key>
		<string>zhetian</string>
		<key>needBuild</key>
		<true/>
		<key>plist</key>
		<string>zhetian/Info-base.plist</string>
		<key>scheme</key>
		<string>zhetian-base</string>
		<key>channel</key>
		<string>9133</string>
		<key>version</key>
		<string>0.0.2.32</string>
		<key>provision</key>
		<string>dis_All_Youai_App</string>
	</dict>
	<key>downjoy</key>
	<dict>
		<key>name</key>
		<string>zhetianDC</string>
		<key>needBuild</key>
		<true/>
		<key>plist</key>
		<string>zhetianDC/zhetian/Resources/Info.plist</string>
		<key>scheme</key>
		<string>zhetianDC</string>
		<key>channel</key>
		<string>downjoy</string>
		<key>version</key>
		<string>0.0.2.32</string>
		<key>provision</key>
		<string>lyzt_dl_dev</string>
	</dict>
	<key>downjoy-base</key>
	<dict>
		<key>name</key>
		<string>zhetianDC</string>
		<key>needBuild</key>
		<true/>
		<key>plist</key>
		<string>zhetianDC/Info-base.plist</string>
		<key>scheme</key>
		<string>zhetianDC-base</string>
		<key>channel</key>
		<string>downjoy</string>
		<key>version</key>
		<string>0.0.2.32</string>
		<key>provision</key>
		<string>lyzt_dl_dev</string>
	</dict>
	<key>ky</key>
	<dict>
		<key>name</key>
		<string>zhetianKY</string>
		<key>needBuild</key>
		<true/>
		<key>plist</key>
		<string>zhetianKY/zhetian/Resources/Info.plist</string>
		<key>scheme</key>
		<string>zhetianKY</string>
		<key>channel</key>
		<string>ky</string>
		<key>version</key>
		<string>0.0.2.32</string>
		<key>provision</key>
		<string>lyzt_ky_dev</string>
	</dict>
	<key>ky-base</key>
	<dict>
		<key>name</key>
		<string>zhetianKY</string>
		<key>needBuild</key>
		<true/>
		<key>plist</key>
		<string>zhetianKY/Info-base.plist</string>
		<key>scheme</key>
		<string>zhetianKY-base</string>
		<key>channel</key>
		<string>ky</string>
		<key>version</key>
		<string>0.0.2.32</string>
		<key>provision</key>
		<string>lyzt_ky_dev</string>
	</dict>
	<key>ledou</key>
	<dict>
		<key>name</key>
		<string>zhetianLD</string>
		<key>needBuild</key>
		<true/>
		<key>plist</key>
		<string>zhetianLD/zhetian/Resources/Info.plist</string>
		<key>scheme</key>
		<string>zhetianLD</string>
		<key>channel</key>
		<string>ledou</string>
		<key>version</key>
		<string>0.0.2.32</string>
		<key>provision</key>
		<string>lyzr_ld_dev</string>
	</dict>
	<key>ledou-base</key>
	<dict>
		<key>name</key>
		<string>zhetianLD</string>
		<key>needBuild</key>
		<true/>
		<key>plist</key>
		<string>zhetianLD/Info-base.plist</string>
		<key>scheme</key>
		<string>zhetianLD-base</string>
		<key>channel</key>
		<string>ledou</string>
		<key>version</key>
		<string>0.0.2.32</string>
		<key>provision</key>
		<string>lyzr_ld_dev</string>
	</dict>
	<key>pp</key>
	<dict>
		<key>name</key>
		<string>zhetianPP</string>
		<key>needBuild</key>
		<true/>
		<key>plist</key>
		<string>zhetianPP/zhetian/Resources/Info.plist</string>
		<key>scheme</key>
		<string>zhetianPP</string>
		<key>channel</key>
		<string>pp</string>
		<key>version</key>
		<string>0.0.2.32</string>
		<key>provision</key>
		<string>lyzt_pp_dev</string>
	</dict>
	<key>pp-base</key>
	<dict>
		<key>name</key>
		<string>zhetianPP</string>
		<key>needBuild</key>
		<true/>
		<key>plist</key>
		<string>zhetianPP/Info-base.plist</string>
		<key>scheme</key>
		<string>zhetianPP-base</string>
		<key>channel</key>
		<string>pp</string>
		<key>version</key>
		<string>0.0.2.32</string>
		<key>provision</key>
		<string>lyzt_pp_dev</string>
	</dict>
	<key>91</key>
	<dict>
		<key>name</key>
		<string>zhetian91</string>
		<key>needBuild</key>
		<true/>
		<key>plist</key>
		<string>zhetian91/zhetian/Resources/Info.plist</string>
		<key>scheme</key>
		<string>zhetian91</string>
		<key>channel</key>
		<string>91</string>
		<key>version</key>
		<string>0.0.2.38</string>
		<key>provision</key>
		<string>lyzt_91_dev</string>
	</dict>
	<key>91-base</key>
	<dict>
		<key>name</key>
		<string>zhetian91</string>
		<key>needBuild</key>
		<true/>
		<key>plist</key>
		<string>zhetian91/info-base.plist</string>
		<key>scheme</key>
		<string>zhetian91-base</string>
		<key>channel</key>
		<string>91</string>
		<key>version</key>
		<string>0.0.2.38</string>
		<key>provision</key>
		<string>lyzt_91_dev</string>
	</dict>
	<key>itools</key>
	<dict>
		<key>name</key>
		<string>zhetianIT</string>
		<key>needBuild</key>
		<true/>
		<key>plist</key>
		<string>zhetianIT/zhetian/Resources/Info.plist</string>
		<key>scheme</key>
		<string>zhetianIT</string>
		<key>channel</key>
		<string>itools</string>
		<key>version</key>
		<string>0.0.2.38</string>
		<key>provision</key>
		<string>lyzt_itools_dev</string>
	</dict>
	<key>itools-base</key>
	<dict>
		<key>name</key>
		<string>zhetianIT</string>
		<key>needBuild</key>
		<true/>
		<key>plist</key>
		<string>zhetianIT/info-base.plist</string>
		<key>scheme</key>
		<string>zhetianIT-base</string>
		<key>channel</key>
		<string>itools</string>
		<key>version</key>
		<string>0.0.2.38</string>
		<key>provision</key>
		<string>lyzt_itools_dev</string>
	</dict>
	<key>haima</key>
	<dict>
		<key>name</key>
		<string>zhetianHM</string>
		<key>needBuild</key>
		<true/>
		<key>plist</key>
		<string>zhetianHM/zhetian/Resources/Info.plist</string>
		<key>scheme</key>
		<string>zhetianHM</string>
		<key>channel</key>
		<string>haima</string>
		<key>version</key>
		<string>0.0.2.38</string>
		<key>provision</key>
		<string>lyzt_haima_dev</string>
	</dict>
	<key>haima-base</key>
	<dict>
		<key>name</key>
		<string>zhetianHM</string>
		<key>needBuild</key>
		<true/>
		<key>plist</key>
		<string>zhetianHM/info-base.plist</string>
		<key>scheme</key>
		<string>zhetianHM-base</string>
		<key>channel</key>
		<string>haima</string>
		<key>version</key>
		<string>0.0.2.38</string>
		<key>provision</key>
		<string>lyzt_haima_dev</string>
	</dict>
	<key>tongbu</key>
	<dict>
		<key>name</key>
		<string>zhetianTB</string>
		<key>needBuild</key>
		<true/>
		<key>plist</key>
		<string>zhetianTB/zhetian/Resources/Info.plist</string>
		<key>scheme</key>
		<string>zhetianTB</string>
		<key>channel</key>
		<string>tongbu</string>
		<key>version</key>
		<string>0.0.2.38</string>
		<key>provision</key>
		<string>lyzt_tbt_dev</string>
	</dict>
	<key>tongbu-base</key>
	<dict>
		<key>name</key>
		<string>zhetianTB</string>
		<key>needBuild</key>
		<true/>
		<key>plist</key>
		<string>zhetianTB/info-base.plist</string>
		<key>scheme</key>
		<string>zhetianTB-base</string>
		<key>channel</key>
		<string>tongbu</string>
		<key>version</key>
		<string>0.0.2.38</string>
		<key>provision</key>
		<string>lyzt_tbt_dev</string>
	</dict>
	<key>aisi</key>
	<dict>
		<key>name</key>
		<string>zhetianAS</string>
		<key>needBuild</key>
		<true/>
		<key>plist</key>
		<string>zhetianAS/zhetian/Resources/Info.plist</string>
		<key>scheme</key>
		<string>zhetianAS</string>
		<key>channel</key>
		<string>aisi</string>
		<key>version</key>
		<string>0.0.2.38</string>
		<key>provision</key>
		<string>lyzt_aisi_dev</string>
	</dict>
	<key>aisi-base</key>
	<dict>
		<key>name</key>
		<string>zhetianAS</string>
		<key>needBuild</key>
		<true/>
		<key>plist</key>
		<string>zhetianAS/info-base.plist</string>
		<key>scheme</key>
		<string>zhetianAS-base</string>
		<key>channel</key>
		<string>aisi</string>
		<key>version</key>
		<string>0.0.2.38</string>
		<key>provision</key>
		<string>lyzt_aisi_dev</string>
	</dict>
</dict>
</plist>
