<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BPUSH_CHANNEL</key>
	<string>ld</string>
	<key>DEBUG</key>
	<false/>
	<key>API_KEY</key>
	<string>g0LgVW38GXo0NV4YxQD2HzOa</string>
	<key>PRODUCTION_MODE</key>
	<false/>
</dict>
</plist>
