<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chat_horn.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,185},{62,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,34}}</string>
                <key>sourceSize</key>
                <string>{62,34}</string>
            </dict>
            <key>common_Crit.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,195},{77,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,47}}</string>
                <key>sourceSize</key>
                <string>{77,47}</string>
            </dict>
            <key>common_Crit_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,206},{77,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,47}}</string>
                <key>sourceSize</key>
                <string>{77,47}</string>
            </dict>
            <key>common_VipEffext.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,136},{66,22}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{66,22}}</string>
                <key>sourceSize</key>
                <string>{70,30}</string>
            </dict>
            <key>common_achievementNumber.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,69},{90,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,24}}</string>
                <key>sourceSize</key>
                <string>{90,24}</string>
            </dict>
            <key>common_add_tips.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,265},{16,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,15}}</string>
                <key>sourceSize</key>
                <string>{16,15}</string>
            </dict>
            <key>common_barTopLayer.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,197},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>common_bossKilled.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{249,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,101}}</string>
                <key>sourceSize</key>
                <string>{249,101}</string>
            </dict>
            <key>common_dodge.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,94},{79,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,41}}</string>
                <key>sourceSize</key>
                <string>{79,41}</string>
            </dict>
            <key>common_dodge_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,98},{79,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,41}}</string>
                <key>sourceSize</key>
                <string>{79,41}</string>
            </dict>
            <key>common_fade.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,226},{25,26}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{25,26}}</string>
                <key>sourceSize</key>
                <string>{35,30}</string>
            </dict>
            <key>common_halfStar.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,185},{23,40}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,40}}</string>
                <key>sourceSize</key>
                <string>{43,40}</string>
            </dict>
            <key>common_iocnBindWind.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,263},{25,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,17}}</string>
                <key>sourceSize</key>
                <string>{25,17}</string>
            </dict>
            <key>common_iocnGold.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,265},{18,12}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{18,12}}</string>
                <key>sourceSize</key>
                <string>{22,16}</string>
            </dict>
            <key>common_iocnWind.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,263},{20,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{20,16}}</string>
                <key>sourceSize</key>
                <string>{22,16}</string>
            </dict>
            <key>common_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,178},{43,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,40}}</string>
                <key>sourceSize</key>
                <string>{43,40}</string>
            </dict>
            <key>common_tipsIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,243},{37,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,39}}</string>
                <key>sourceSize</key>
                <string>{37,39}</string>
            </dict>
            <key>common_upTriangle.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,253},{26,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,30}}</string>
                <key>sourceSize</key>
                <string>{26,30}</string>
            </dict>
            <key>common_wordBg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,69},{160,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,28}}</string>
                <key>sourceSize</key>
                <string>{160,28}</string>
            </dict>
            <key>common_word_green_da.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,222},{35,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,30}}</string>
                <key>sourceSize</key>
                <string>{35,30}</string>
            </dict>
            <key>common_word_green_dian.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,108},{13,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>common_word_green_dong.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,251},{35,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{35,28}}</string>
                <key>sourceSize</key>
                <string>{35,30}</string>
            </dict>
            <key>common_word_green_guai.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,251},{35,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{35,28}}</string>
                <key>sourceSize</key>
                <string>{35,30}</string>
            </dict>
            <key>common_word_green_zhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,220},{35,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,30}}</string>
                <key>sourceSize</key>
                <string>{35,30}</string>
            </dict>
            <key>common_word_green_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,203},{31,30}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{31,30}}</string>
                <key>sourceSize</key>
                <string>{35,30}</string>
            </dict>
            <key>common_word_yellow_dian.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,94},{13,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>common_word_yellow_dong.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,228},{34,28}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{34,28}}</string>
                <key>sourceSize</key>
                <string>{36,30}</string>
            </dict>
            <key>common_word_yellow_lu.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,220},{36,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,30}}</string>
                <key>sourceSize</key>
                <string>{36,30}</string>
            </dict>
            <key>common_word_yellow_xun.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,197},{36,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,30}}</string>
                <key>sourceSize</key>
                <string>{36,30}</string>
            </dict>
            <key>common_word_yellow_zhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,228},{34,30}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{34,30}}</string>
                <key>sourceSize</key>
                <string>{36,30}</string>
            </dict>
            <key>common_word_yellow_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,234},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{36,30}</string>
            </dict>
            <key>fight_blood.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,0},{258,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,68}}</string>
                <key>sourceSize</key>
                <string>{258,68}</string>
            </dict>
            <key>font.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,254},{73,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,18}}</string>
                <key>sourceSize</key>
                <string>{73,18}</string>
            </dict>
            <key>frontNameBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,102},{103,195}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{103,195}}</string>
                <key>sourceSize</key>
                <string>{103,211}</string>
            </dict>
            <key>mall_goodsframe_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,102},{89,92}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{89,92}}</string>
                <key>sourceSize</key>
                <string>{91,94}</string>
            </dict>
            <key>mount_tipsEffect.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,136},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>paopao.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,253},{26,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,18}}</string>
                <key>sourceSize</key>
                <string>{26,18}</string>
            </dict>
            <key>payNowText.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,241},{117,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,34}}</string>
                <key>sourceSize</key>
                <string>{117,34}</string>
            </dict>
            <key>receiveGiftText.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,206},{117,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,34}}</string>
                <key>sourceSize</key>
                <string>{117,34}</string>
            </dict>
            <key>skill_useEffect.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,98},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>strongerUpArrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,243},{31,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,37}}</string>
                <key>sourceSize</key>
                <string>{31,37}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_common_other4444.pvr</string>
            <key>size</key>
            <string>{508,280}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ac34b7da946c2383b54424eaaeb2deac:1/1$</string>
            <key>textureFileName</key>
            <string>ui_common_other4444.pvr</string>
        </dict>
    </dict>
</plist>
