<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tab_1_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,0},{98,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,44}}</string>
                <key>sourceSize</key>
                <string>{98,44}</string>
            </dict>
            <key>tab_1_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,0},{98,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,44}}</string>
                <key>sourceSize</key>
                <string>{98,44}</string>
            </dict>
            <key>tab_2_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,0},{48,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,100}}</string>
                <key>sourceSize</key>
                <string>{48,100}</string>
            </dict>
            <key>tab_2_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{50,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,100}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>tab_3_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,88},{13,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,14}}</string>
                <key>sourceSize</key>
                <string>{13,14}</string>
            </dict>
            <key>tab_3_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,88},{14,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,18}}</string>
                <key>sourceSize</key>
                <string>{14,18}</string>
            </dict>
            <key>tab_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,0},{52,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{52,87}}</string>
                <key>sourceSize</key>
                <string>{54,87}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_control_tab.pvr</string>
            <key>size</key>
            <string>{242,102}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8c0eeedfd48cf529c5cffd6664f13af6:1/1$</string>
            <key>textureFileName</key>
            <string>ui_control_tab.pvr</string>
        </dict>
    </dict>
</plist>
