<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>activeTalismanText.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,107},{88,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,21}}</string>
                <key>sourceSize</key>
                <string>{88,21}</string>
            </dict>
            <key>chat_input_name_label.png</key>
            <dict>
                <key>frame</key>
                <string>{{23,326},{102,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,22}}</string>
                <key>sourceSize</key>
                <string>{102,22}</string>
            </dict>
            <key>cur_lv_effect_label.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,198},{86,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,27}}</string>
                <key>sourceSize</key>
                <string>{86,27}</string>
            </dict>
            <key>next_lv_effect_label.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,140},{86,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,27}}</string>
                <key>sourceSize</key>
                <string>{86,27}</string>
            </dict>
            <key>passiveTalismanText.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,109},{88,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,21}}</string>
                <key>sourceSize</key>
                <string>{88,21}</string>
            </dict>
            <key>player_detailProperty.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,0},{108,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,23}}</string>
                <key>sourceSize</key>
                <string>{108,23}</string>
            </dict>
            <key>sevenLoginTip.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,0},{150,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,22}}</string>
                <key>sourceSize</key>
                <string>{150,22}</string>
            </dict>
            <key>skill_detail_normal_label.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,318},{91,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,24}}</string>
                <key>sourceSize</key>
                <string>{91,24}</string>
            </dict>
            <key>skill_need_exp_label.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,0},{139,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,25}}</string>
                <key>sourceSize</key>
                <string>{139,25}</string>
            </dict>
            <key>talisAwardText.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,306},{87,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,21}}</string>
                <key>sourceSize</key>
                <string>{87,21}</string>
            </dict>
            <key>talisman_curStepsProperty.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,410},{84,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,17}}</string>
                <key>sourceSize</key>
                <string>{84,17}</string>
            </dict>
            <key>talisman_fightingPromote.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,223},{101,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,19}}</string>
                <key>sourceSize</key>
                <string>{101,19}</string>
            </dict>
            <key>talisman_nextLevelProperty.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,417},{84,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,17}}</string>
                <key>sourceSize</key>
                <string>{84,17}</string>
            </dict>
            <key>word_BagItem.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,329},{86,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,21}}</string>
                <key>sourceSize</key>
                <string>{86,21}</string>
            </dict>
            <key>word_ItemType.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,0},{106,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,24}}</string>
                <key>sourceSize</key>
                <string>{106,24}</string>
            </dict>
            <key>word_SellingItems.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,0},{145,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,21}}</string>
                <key>sourceSize</key>
                <string>{145,21}</string>
            </dict>
            <key>word_button_AllClean.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,325},{91,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,24}}</string>
                <key>sourceSize</key>
                <string>{91,24}</string>
            </dict>
            <key>word_game_groupBoss.png</key>
            <dict>
                <key>frame</key>
                <string>{{23,223},{102,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,22}}</string>
                <key>sourceSize</key>
                <string>{102,22}</string>
            </dict>
            <key>word_label_announce.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,318},{90,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,27}}</string>
                <key>sourceSize</key>
                <string>{90,27}</string>
            </dict>
            <key>word_label_chairman.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,227},{90,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,27}}</string>
                <key>sourceSize</key>
                <string>{90,27}</string>
            </dict>
            <key>word_label_description.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,285},{43,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,25}}</string>
                <key>sourceSize</key>
                <string>{43,25}</string>
            </dict>
            <key>word_label_factionName.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,127},{90,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,27}}</string>
                <key>sourceSize</key>
                <string>{90,27}</string>
            </dict>
            <key>word_label_factionNum.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,227},{90,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,27}}</string>
                <key>sourceSize</key>
                <string>{90,27}</string>
            </dict>
            <key>word_label_imagepreview.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,218},{87,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,21}}</string>
                <key>sourceSize</key>
                <string>{87,21}</string>
            </dict>
            <key>word_label_questReward.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,429},{71,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,19}}</string>
                <key>sourceSize</key>
                <string>{71,19}</string>
            </dict>
            <key>word_label_questlist.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,416},{57,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,21}}</string>
                <key>sourceSize</key>
                <string>{57,21}</string>
            </dict>
            <key>word_label_strenghtenactivation.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,151},{71,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,23}}</string>
                <key>sourceSize</key>
                <string>{71,23}</string>
            </dict>
            <key>word_label_upgradeneed.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,409},{71,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,17}}</string>
                <key>sourceSize</key>
                <string>{71,17}</string>
            </dict>
            <key>word_label_wholeproperty.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,443},{60,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,25}}</string>
                <key>sourceSize</key>
                <string>{60,25}</string>
            </dict>
            <key>word_level_questlevel.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,146},{72,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,20}}</string>
                <key>sourceSize</key>
                <string>{72,20}</string>
            </dict>
            <key>word_level_questorder.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,409},{71,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,17}}</string>
                <key>sourceSize</key>
                <string>{71,17}</string>
            </dict>
            <key>word_sign_beVip.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,223},{219,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,22}}</string>
                <key>sourceSize</key>
                <string>{219,22}</string>
            </dict>
            <key>word_sign_signtotalText.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,0},{126,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,24}}</string>
                <key>sourceSize</key>
                <string>{126,24}</string>
            </dict>
            <key>word_sign_topsigncountText.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{222,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,24}}</string>
                <key>sourceSize</key>
                <string>{222,24}</string>
            </dict>
            <key>word_signcount.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,417},{84,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,18}}</string>
                <key>sourceSize</key>
                <string>{84,18}</string>
            </dict>
            <key>world_label_sellprice.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,481},{48,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,26}}</string>
                <key>sourceSize</key>
                <string>{48,26}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_word_label.pvr</string>
            <key>size</key>
            <string>{171,507}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:77078932ca2654f2a4b45e52498b2539:1/1$</string>
            <key>textureFileName</key>
            <string>ui_word_label.pvr</string>
        </dict>
    </dict>
</plist>
