<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>acculatePayWold.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,224},{143,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,24}}</string>
                <key>sourceSize</key>
                <string>{143,24}</string>
            </dict>
            <key>activityTime.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,249},{130,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,25}}</string>
                <key>sourceSize</key>
                <string>{130,25}</string>
            </dict>
            <key>backGiftWold.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,275},{115,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,19}}</string>
                <key>sourceSize</key>
                <string>{115,19}</string>
            </dict>
            <key>consumeWold.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,166},{37,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,19}}</string>
                <key>sourceSize</key>
                <string>{37,19}</string>
            </dict>
            <key>everyDayPayTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{337,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{337,62}}</string>
                <key>sourceSize</key>
                <string>{337,62}</string>
            </dict>
            <key>everyDayPayWord1.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,243},{59,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,33}}</string>
                <key>sourceSize</key>
                <string>{59,33}</string>
            </dict>
            <key>everyDayPayWord2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,258},{155,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,34}}</string>
                <key>sourceSize</key>
                <string>{155,34}</string>
            </dict>
            <key>firstPayTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,63},{287,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,64}}</string>
                <key>sourceSize</key>
                <string>{287,64}</string>
            </dict>
            <key>firstPayWord1.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,209},{62,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,33}}</string>
                <key>sourceSize</key>
                <string>{62,33}</string>
            </dict>
            <key>firstPayWord2.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,172},{70,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,36}}</string>
                <key>sourceSize</key>
                <string>{70,36}</string>
            </dict>
            <key>firstPayWord3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,224},{172,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,33}}</string>
                <key>sourceSize</key>
                <string>{172,33}</string>
            </dict>
            <key>firstPayWord4.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,190},{139,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,33}}</string>
                <key>sourceSize</key>
                <string>{139,33}</string>
            </dict>
            <key>firstPayWord5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,190},{175,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,33}}</string>
                <key>sourceSize</key>
                <string>{175,33}</string>
            </dict>
            <key>getValueWold.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,172},{109,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,19}}</string>
                <key>sourceSize</key>
                <string>{109,19}</string>
            </dict>
            <key>giftAward.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,63},{81,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,21}}</string>
                <key>sourceSize</key>
                <string>{81,21}</string>
            </dict>
            <key>giftPayTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,128},{278,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,61}}</string>
                <key>sourceSize</key>
                <string>{278,61}</string>
            </dict>
            <key>payFlower.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,0},{169,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,171}}</string>
                <key>sourceSize</key>
                <string>{169,171}</string>
            </dict>
            <key>payTableCellBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,172},{86,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,99}}</string>
                <key>sourceSize</key>
                <string>{86,99}</string>
            </dict>
            <key>weekAcculateConsumeWord.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,275},{127,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,19}}</string>
                <key>sourceSize</key>
                <string>{127,19}</string>
            </dict>
            <key>yuanbao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,63},{43,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,24}}</string>
                <key>sourceSize</key>
                <string>{43,24}</string>
            </dict>
            <key>yuanbao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,128},{37,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,19}}</string>
                <key>sourceSize</key>
                <string>{37,19}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_game_pay.pvr</string>
            <key>size</key>
            <string>{507,294}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2cd7b622bff0718a2d5b0457d5afd700:1/1$</string>
            <key>textureFileName</key>
            <string>ui_game_pay.pvr</string>
        </dict>
    </dict>
</plist>
