<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Ins_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,0},{78,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,81}}</string>
                <key>sourceSize</key>
                <string>{78,81}</string>
            </dict>
            <key>Ins_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,0},{114,76}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{114,76}}</string>
                <key>sourceSize</key>
                <string>{114,78}</string>
            </dict>
            <key>Ins_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,0},{105,76}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,76}}</string>
                <key>sourceSize</key>
                <string>{105,78}</string>
            </dict>
            <key>Ins_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,0},{100,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,108}}</string>
                <key>sourceSize</key>
                <string>{100,108}</string>
            </dict>
            <key>Ins_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,106},{102,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,99}}</string>
                <key>sourceSize</key>
                <string>{102,99}</string>
            </dict>
            <key>Ins_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,109},{80,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,103}}</string>
                <key>sourceSize</key>
                <string>{80,103}</string>
            </dict>
            <key>Ins_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,78},{60,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,76}}</string>
                <key>sourceSize</key>
                <string>{60,76}</string>
            </dict>
            <key>Ins_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,0},{78,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,77}}</string>
                <key>sourceSize</key>
                <string>{78,77}</string>
            </dict>
            <key>Ins_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,115},{78,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,97}}</string>
                <key>sourceSize</key>
                <string>{78,97}</string>
            </dict>
            <key>Ins_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,136},{77,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,83}}</string>
                <key>sourceSize</key>
                <string>{77,83}</string>
            </dict>
            <key>ins_enter.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,82},{62,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,23}}</string>
                <key>sourceSize</key>
                <string>{62,23}</string>
            </dict>
            <key>ins_font.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,0},{135,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,18}}</string>
                <key>sourceSize</key>
                <string>{135,18}</string>
            </dict>
            <key>ins_questReword.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{206,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,47}}</string>
                <key>sourceSize</key>
                <string>{206,47}</string>
            </dict>
            <key>payonPalace_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,139},{75,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{75,65}}</string>
                <key>sourceSize</key>
                <string>{75,67}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_game_instance.pvr</string>
            <key>size</key>
            <string>{497,213}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c525c8b38fb097a70ebdb56977e4b523:1/1$</string>
            <key>textureFileName</key>
            <string>ui_game_instance.pvr</string>
        </dict>
    </dict>
</plist>
