<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>main_buff_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,441},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,29}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>main_commonbottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,368},{3,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,21}}</string>
                <key>sourceSize</key>
                <string>{3,21}</string>
            </dict>
            <key>main_goodAndEvil.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,441},{40,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,22}}</string>
                <key>sourceSize</key>
                <string>{40,22}</string>
            </dict>
            <key>main_heroheadframe.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{325,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,155}}</string>
                <key>sourceSize</key>
                <string>{325,155}</string>
            </dict>
            <key>main_hp.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,326},{152,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,20}}</string>
                <key>sourceSize</key>
                <string>{152,20}</string>
            </dict>
            <key>main_mp.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,347},{123,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,20}}</string>
                <key>sourceSize</key>
                <string>{123,20}</string>
            </dict>
            <key>main_peace.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,398},{40,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,22}}</string>
                <key>sourceSize</key>
                <string>{40,22}</string>
            </dict>
            <key>main_pk.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,368},{61,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,33}}</string>
                <key>sourceSize</key>
                <string>{61,33}</string>
            </dict>
            <key>main_slider.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,443},{22,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,26}}</string>
                <key>sourceSize</key>
                <string>{22,26}</string>
            </dict>
            <key>main_sociaty.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,400},{40,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,22}}</string>
                <key>sourceSize</key>
                <string>{40,22}</string>
            </dict>
            <key>main_together.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,400},{40,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,22}}</string>
                <key>sourceSize</key>
                <string>{40,22}</string>
            </dict>
            <key>main_vipcopper.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,368},{50,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,31}}</string>
                <key>sourceSize</key>
                <string>{50,31}</string>
            </dict>
            <key>main_vipgold.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,434},{48,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{48,31}}</string>
                <key>sourceSize</key>
                <string>{50,31}</string>
            </dict>
            <key>main_vipgrey.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,402},{50,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,31}}</string>
                <key>sourceSize</key>
                <string>{50,31}</string>
            </dict>
            <key>main_vipsliver.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,347},{50,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,31}}</string>
                <key>sourceSize</key>
                <string>{50,31}</string>
            </dict>
            <key>main_whole.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,402},{40,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,22}}</string>
                <key>sourceSize</key>
                <string>{40,22}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_game_main_hero.pvr</string>
            <key>size</key>
            <string>{155,471}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:06911ad1f10d5fa00d714324dc969a17:1/1$</string>
            <key>textureFileName</key>
            <string>ui_game_main_hero.pvr</string>
        </dict>
    </dict>
</plist>
