<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arenaTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{83,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,24}}</string>
                <key>sourceSize</key>
                <string>{83,24}</string>
            </dict>
            <key>directtips.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,77},{19,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,7}}</string>
                <key>sourceSize</key>
                <string>{19,7}</string>
            </dict>
            <key>fightRankName.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,25},{76,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{76,23}}</string>
                <key>sourceSize</key>
                <string>{76,25}</string>
            </dict>
            <key>grayBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,0},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>knightRankName.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,0},{76,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,25}}</string>
                <key>sourceSize</key>
                <string>{76,25}</string>
            </dict>
            <key>levelRankName.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,129},{76,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,25}}</string>
                <key>sourceSize</key>
                <string>{76,25}</string>
            </dict>
            <key>no1.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,77},{45,15}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{45,15}}</string>
                <key>sourceSize</key>
                <string>{49,15}</string>
            </dict>
            <key>no2.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,102},{49,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,15}}</string>
                <key>sourceSize</key>
                <string>{49,15}</string>
            </dict>
            <key>no3.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,102},{49,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,15}}</string>
                <key>sourceSize</key>
                <string>{49,15}</string>
            </dict>
            <key>richRankName.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,103},{76,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,25}}</string>
                <key>sourceSize</key>
                <string>{76,25}</string>
            </dict>
            <key>rideRankName.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,77},{76,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,25}}</string>
                <key>sourceSize</key>
                <string>{76,25}</string>
            </dict>
            <key>sign1.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,138},{14,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,10}}</string>
                <key>sourceSize</key>
                <string>{14,10}</string>
            </dict>
            <key>sign2.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,13},{14,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,10}}</string>
                <key>sourceSize</key>
                <string>{14,10}</string>
            </dict>
            <key>sign3.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,123},{14,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,10}}</string>
                <key>sourceSize</key>
                <string>{14,10}</string>
            </dict>
            <key>talismanRankName.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,51},{76,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,25}}</string>
                <key>sourceSize</key>
                <string>{76,25}</string>
            </dict>
            <key>verticalDivideLine.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,123},{3,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,25}}</string>
                <key>sourceSize</key>
                <string>{3,25}</string>
            </dict>
            <key>wingRankName.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,25},{76,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,25}}</string>
                <key>sourceSize</key>
                <string>{76,25}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_game_arenaTitle.pvr</string>
            <key>size</key>
            <string>{126,154}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:47e5f97991782549d10b893e0ca40902:1/1$</string>
            <key>textureFileName</key>
            <string>ui_game_arenaTitle.pvr</string>
        </dict>
    </dict>
</plist>
