<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc_activityAreatext.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,33},{69,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,22}}</string>
                <key>sourceSize</key>
                <string>{69,22}</string>
            </dict>
            <key>npc_cityAreatext.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,37},{69,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,22}}</string>
                <key>sourceSize</key>
                <string>{69,22}</string>
            </dict>
            <key>npc_collect.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{160,13}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{160,13}}</string>
                <key>sourceSize</key>
                <string>{164,15}</string>
            </dict>
            <key>npc_collect_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,27},{8,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,12}}</string>
                <key>sourceSize</key>
                <string>{8,12}</string>
            </dict>
            <key>npc_collect_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,14},{73,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,18}}</string>
                <key>sourceSize</key>
                <string>{73,18}</string>
            </dict>
            <key>npc_collectframe.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,14},{12,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,15}}</string>
                <key>sourceSize</key>
                <string>{12,15}</string>
            </dict>
            <key>npc_damageAreatext.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,14},{69,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,22}}</string>
                <key>sourceSize</key>
                <string>{69,22}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_game_npc.pvr</string>
            <key>size</key>
            <string>{160,59}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:61774479f644a60cae418e85d70e8dd7:1/1$</string>
            <key>textureFileName</key>
            <string>ui_game_npc.pvr</string>
        </dict>
    </dict>
</plist>
