<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fund_titleText.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{106,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,24}}</string>
                <key>sourceSize</key>
                <string>{106,24}</string>
            </dict>
            <key>word_fund_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,79},{101,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,26}}</string>
                <key>sourceSize</key>
                <string>{101,26}</string>
            </dict>
            <key>word_fund_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,52},{101,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,26}}</string>
                <key>sourceSize</key>
                <string>{101,26}</string>
            </dict>
            <key>word_fund_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,25},{101,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,26}}</string>
                <key>sourceSize</key>
                <string>{101,26}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_game_jijin.pvr</string>
            <key>size</key>
            <string>{106,105}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ae9a63c21dc7995aa971fe317e556903:1/1$</string>
            <key>textureFileName</key>
            <string>ui_game_jijin.pvr</string>
        </dict>
    </dict>
</plist>
