<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bagBatch_down_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{20,191},{16,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,19}}</string>
                <key>sourceSize</key>
                <string>{16,19}</string>
            </dict>
            <key>bagBatch_greenlevellimit.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,191},{21,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,15}}</string>
                <key>sourceSize</key>
                <string>{21,15}</string>
            </dict>
            <key>bagBatch_iconBgBlue.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,130},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>bagBatch_iconBgPurple.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,130},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>bagBatch_iconBgWhite.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,69},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>bagBatch_iconBgjinse.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,69},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>bagBatch_iocnLock.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,191},{11,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,15}}</string>
                <key>sourceSize</key>
                <string>{11,15}</string>
            </dict>
            <key>bagBatch_itemBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>bagBatch_levellimit.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,191},{21,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,15}}</string>
                <key>sourceSize</key>
                <string>{21,15}</string>
            </dict>
            <key>bagBatch_prohibit.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,191},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>bagBatch_small_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,0},{51,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,62}}</string>
                <key>sourceSize</key>
                <string>{51,62}</string>
            </dict>
            <key>bagBatch_up_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,191},{16,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,19}}</string>
                <key>sourceSize</key>
                <string>{16,19}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_game_bag.pvr</string>
            <key>size</key>
            <string>{121,207}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3ea5fe496791511499ea5474e7640960:1/1$</string>
            <key>textureFileName</key>
            <string>ui_game_bag.pvr</string>
        </dict>
    </dict>
</plist>
