<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>main_BOSSHp.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,414},{3,21}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{3,21}}</string>
                <key>sourceSize</key>
                <string>{3,25}</string>
            </dict>
            <key>main_BOSSHpBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,410},{3,21}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{3,21}}</string>
                <key>sourceSize</key>
                <string>{3,25}</string>
            </dict>
            <key>main_BOSSHp_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,406},{3,21}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{3,21}}</string>
                <key>sourceSize</key>
                <string>{3,25}</string>
            </dict>
            <key>main_BOSSHp_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,402},{3,21}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{3,21}}</string>
                <key>sourceSize</key>
                <string>{3,25}</string>
            </dict>
            <key>main_BOSSHp_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,398},{3,21}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{3,21}}</string>
                <key>sourceSize</key>
                <string>{3,25}</string>
            </dict>
            <key>main_BOSSheadframeBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{397,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{397,25}}</string>
                <key>sourceSize</key>
                <string>{397,25}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_game_main_boss.pvr</string>
            <key>size</key>
            <string>{25,417}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1699e5af27f40660ad2108c6da61cc16:1/1$</string>
            <key>textureFileName</key>
            <string>ui_game_main_boss.pvr</string>
        </dict>
    </dict>
</plist>
