<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>strong_menu_10_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,0},{76,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{76,24}}</string>
                <key>sourceSize</key>
                <string>{100,24}</string>
            </dict>
            <key>strong_menu_1_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,100},{77,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{77,25}}</string>
                <key>sourceSize</key>
                <string>{99,25}</string>
            </dict>
            <key>strong_menu_2_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,150},{77,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,1},{77,23}}</string>
                <key>sourceSize</key>
                <string>{99,25}</string>
            </dict>
            <key>strong_menu_3_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,77},{75,23}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,2},{75,23}}</string>
                <key>sourceSize</key>
                <string>{99,25}</string>
            </dict>
            <key>strong_menu_4_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,26},{75,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{75,25}}</string>
                <key>sourceSize</key>
                <string>{99,25}</string>
            </dict>
            <key>strong_menu_5_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,126},{77,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,1},{77,23}}</string>
                <key>sourceSize</key>
                <string>{99,25}</string>
            </dict>
            <key>strong_menu_6_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{99,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,25}}</string>
                <key>sourceSize</key>
                <string>{99,25}</string>
            </dict>
            <key>strong_menu_7_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,0},{75,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{75,25}}</string>
                <key>sourceSize</key>
                <string>{99,25}</string>
            </dict>
            <key>strong_menu_8_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,77},{76,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{76,24}}</string>
                <key>sourceSize</key>
                <string>{100,24}</string>
            </dict>
            <key>strong_menu_9_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,52},{76,24}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{76,24}}</string>
                <key>sourceSize</key>
                <string>{100,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_game_strong.pvr</string>
            <key>size</key>
            <string>{127,173}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:615acd56ec12fdfd59a6474cfae52cf2:1/1$</string>
            <key>textureFileName</key>
            <string>ui_game_strong.pvr</string>
        </dict>
    </dict>
</plist>
