<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>commonNPCHead.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,410},{89,119}}</string>
                <key>offset</key>
                <string>{-8,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,29},{89,119}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>npc_2000.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,378},{101,121}}</string>
                <key>offset</key>
                <string>{-8,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,27},{101,121}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>npc_2001.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,122},{127,129}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,19},{127,129}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>npc_2002.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,378},{103,121}}</string>
                <key>offset</key>
                <string>{-9,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,27},{103,121}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>npc_2003.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,256},{109,129}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,18},{109,129}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>npc_2004.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,378},{103,121}}</string>
                <key>offset</key>
                <string>{-9,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,27},{103,121}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>npc_2005.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,264},{97,131}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,17},{97,131}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>npc_2006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,414},{85,131}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,16},{85,131}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>npc_2007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{155,127}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,22},{155,127}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>npc_2008.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,264},{91,145}}</string>
                <key>offset</key>
                <string>{-14,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,4},{91,145}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>npc_2009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,264},{113,149}}</string>
                <key>offset</key>
                <string>{-14,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{113,149}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>npc_2010.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,250},{115,127}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,21},{115,127}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>npc_2011.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,0},{127,119}}</string>
                <key>offset</key>
                <string>{-7,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,28},{127,119}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>npc_2012.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,128},{99,135}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,12},{99,135}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>npc_2013.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,386},{103,113}}</string>
                <key>offset</key>
                <string>{-9,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,35},{103,113}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>npc_2014.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,396},{103,129}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,19},{103,129}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>npc_2015.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,0},{121,139}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,9},{121,139}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>npc_2016.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,254},{115,123}}</string>
                <key>offset</key>
                <string>{-15,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,25},{115,123}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>npc_2017.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,0},{131,131}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,17},{131,131}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>npc_2018.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,254},{101,123}}</string>
                <key>offset</key>
                <string>{-9,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,25},{101,123}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>npc_2019.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,128},{131,135}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{131,135}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>npc_2020.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,0},{115,149}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,0},{115,149}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>npc_2021.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,132},{121,129}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,18},{121,129}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>npc_2022.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,128},{103,119}}</string>
                <key>offset</key>
                <string>{-9,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,29},{103,119}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>npc_2023.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,116},{111,139}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,9},{111,139}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>npc_2024.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,0},{111,145}}</string>
                <key>offset</key>
                <string>{-17,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,3},{111,145}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>npc_2025.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,112},{101,133}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,15},{101,133}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>npc_3042.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,232},{93,97}}</string>
                <key>offset</key>
                <string>{-5,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,51},{93,97}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_game_npc_name.pvr</string>
            <key>size</key>
            <string>{843,499}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:70a11c0ea3967f335374270ecf48d458:1/1$</string>
            <key>textureFileName</key>
            <string>ui_game_npc_name.pvr</string>
        </dict>
    </dict>
</plist>
