<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>title_name1.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,278},{99,195}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,9},{99,195}}</string>
                <key>sourceSize</key>
                <string>{103,211}</string>
            </dict>
            <key>title_name10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,308},{75,205}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,6},{75,205}}</string>
                <key>sourceSize</key>
                <string>{103,211}</string>
            </dict>
            <key>title_name11.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,0},{99,197}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{99,197}}</string>
                <key>sourceSize</key>
                <string>{103,211}</string>
            </dict>
            <key>title_name2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,206},{101,199}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{101,199}}</string>
                <key>sourceSize</key>
                <string>{103,211}</string>
            </dict>
            <key>title_name3.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,0},{89,199}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{89,199}}</string>
                <key>sourceSize</key>
                <string>{103,211}</string>
            </dict>
            <key>title_name4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{93,205}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{93,205}}</string>
                <key>sourceSize</key>
                <string>{103,211}</string>
            </dict>
            <key>title_name5.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,200},{87,183}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,13},{87,183}}</string>
                <key>sourceSize</key>
                <string>{103,211}</string>
            </dict>
            <key>title_name6.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,0},{79,189}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,16},{79,189}}</string>
                <key>sourceSize</key>
                <string>{103,211}</string>
            </dict>
            <key>title_name7.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,198},{79,197}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,11},{79,197}}</string>
                <key>sourceSize</key>
                <string>{103,211}</string>
            </dict>
            <key>title_name8.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,0},{67,197}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,13},{67,197}}</string>
                <key>sourceSize</key>
                <string>{103,211}</string>
            </dict>
            <key>title_name9.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,0},{73,199}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{73,199}}</string>
                <key>sourceSize</key>
                <string>{103,211}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_word_fabao.pvr</string>
            <key>size</key>
            <string>{505,383}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f5dae2ba8e86602c5cbd152e708141f6:1/1$</string>
            <key>textureFileName</key>
            <string>ui_word_fabao.pvr</string>
        </dict>
    </dict>
</plist>
