<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ride_Name_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,292},{73,175}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,18},{73,175}}</string>
                <key>sourceSize</key>
                <string>{103,211}</string>
            </dict>
            <key>ride_Name_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,264},{81,163}}</string>
                <key>offset</key>
                <string>{-8,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,35},{81,163}}</string>
                <key>sourceSize</key>
                <string>{103,211}</string>
            </dict>
            <key>ride_Name_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,188},{81,167}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,23},{81,167}}</string>
                <key>sourceSize</key>
                <string>{103,211}</string>
            </dict>
            <key>ride_Name_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,356},{83,147}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,35},{83,147}}</string>
                <key>sourceSize</key>
                <string>{103,211}</string>
            </dict>
            <key>ride_Name_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,428},{81,143}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,37},{81,143}}</string>
                <key>sourceSize</key>
                <string>{103,211}</string>
            </dict>
            <key>ride_Name_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,90},{87,173}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,21},{87,173}}</string>
                <key>sourceSize</key>
                <string>{103,211}</string>
            </dict>
            <key>ride_Name_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{89,197}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{89,197}}</string>
                <key>sourceSize</key>
                <string>{103,211}</string>
            </dict>
            <key>ride_Name_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,0},{93,187}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{93,187}}</string>
                <key>sourceSize</key>
                <string>{103,211}</string>
            </dict>
            <key>ride_Name_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,90},{83,201}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{83,201}}</string>
                <key>sourceSize</key>
                <string>{103,211}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_word_zuoqi.pvr</string>
            <key>size</key>
            <string>{303,509}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:372b7bb194e6a8b23a546a43a68307a2:1/1$</string>
            <key>textureFileName</key>
            <string>ui_word_zuoqi.pvr</string>
        </dict>
    </dict>
</plist>
