<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>m_equip_50_1301.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{126,142}}</string>
                <key>offset</key>
                <string>{-71,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,195},{126,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>m_equip_50_1301.pvr</string>
            <key>size</key>
            <string>{126,142}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b786a9ebffbb3ddc68868aef28bf2649:1/1$</string>
            <key>textureFileName</key>
            <string>m_equip_50_1301.pvr</string>
        </dict>
    </dict>
</plist>
