<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>m_equip_80_1300.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{152,162}}</string>
                <key>offset</key>
                <string>{-88,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,217},{152,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>m_equip_80_1300.pvr</string>
            <key>size</key>
            <string>{152,162}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1fa6b7dff7b44e2eee01fcf49088afd6:1/1$</string>
            <key>textureFileName</key>
            <string>m_equip_80_1300.pvr</string>
        </dict>
    </dict>
</plist>
