<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>m_equip_80_1100.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{156,166}}</string>
                <key>offset</key>
                <string>{-89,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,222},{156,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>m_equip_80_1100.pvr</string>
            <key>size</key>
            <string>{156,166}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:61e4cb9cca0003071046415af3b94637:1/1$</string>
            <key>textureFileName</key>
            <string>m_equip_80_1100.pvr</string>
        </dict>
    </dict>
</plist>
