<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>m_equip_70_2210.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{120,202}}</string>
                <key>offset</key>
                <string>{-13,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,135},{120,202}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>m_equip_70_2210.pvr</string>
            <key>size</key>
            <string>{120,202}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c1214f0531e57f28063d1f8ead8ef88b:1/1$</string>
            <key>textureFileName</key>
            <string>m_equip_70_2210.pvr</string>
        </dict>
    </dict>
</plist>
