<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>m_equip_60_1201.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{140,136}}</string>
                <key>offset</key>
                <string>{-75,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,216},{140,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>m_equip_60_1201.pvr</string>
            <key>size</key>
            <string>{140,136}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a4e8cd5b45bdc72b36fe54b4d56a9cc8:1/1$</string>
            <key>textureFileName</key>
            <string>m_equip_60_1201.pvr</string>
        </dict>
    </dict>
</plist>
