<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>m_equip_40_1101.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{130,126}}</string>
                <key>offset</key>
                <string>{-77,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,225},{130,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>m_equip_40_1101.pvr</string>
            <key>size</key>
            <string>{130,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:41b55a10c4d1c4b20347f7c60334f5cd:1/1$</string>
            <key>textureFileName</key>
            <string>m_equip_40_1101.pvr</string>
        </dict>
    </dict>
</plist>
