<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ride_6_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{334,174}}</string>
                <key>offset</key>
                <string>{23,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,153},{334,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ride_6_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,0},{338,174}}</string>
                <key>offset</key>
                <string>{26,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,153},{338,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ride_6_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,175},{336,174}}</string>
                <key>offset</key>
                <string>{27,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,153},{336,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ride_6_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,175},{336,174}}</string>
                <key>offset</key>
                <string>{24,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,153},{336,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Animation_ride_6.pvr</string>
            <key>size</key>
            <string>{674,349}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2b17e7252d607b975864383579ccbe47:1/1$</string>
            <key>textureFileName</key>
            <string>Animation_ride_6.pvr</string>
        </dict>
    </dict>
</plist>
