<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ride_5_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,147},{342,142}}</string>
                <key>offset</key>
                <string>{-26,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,183},{342,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ride_5_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,147},{342,142}}</string>
                <key>offset</key>
                <string>{-25,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,183},{342,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ride_5_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,0},{344,144}}</string>
                <key>offset</key>
                <string>{-25,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,181},{344,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ride_5_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{344,146}}</string>
                <key>offset</key>
                <string>{-26,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,179},{344,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Animation_ride_5.pvr</string>
            <key>size</key>
            <string>{689,289}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b3df241a926ac7ffc9d503af99290dec:1/1$</string>
            <key>textureFileName</key>
            <string>Animation_ride_5.pvr</string>
        </dict>
    </dict>
</plist>
