<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ride_4_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,153},{344,162}}</string>
                <key>offset</key>
                <string>{-2,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,163},{344,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ride_4_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{348,172}}</string>
                <key>offset</key>
                <string>{2,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,153},{348,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ride_4_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,0},{346,152}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,173},{346,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ride_4_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,173},{350,152}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,174},{350,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Animation_ride_4.pvr</string>
            <key>size</key>
            <string>{695,325}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:74de7769186c25017a1d5cbceae676b9:1/1$</string>
            <key>textureFileName</key>
            <string>Animation_ride_4.pvr</string>
        </dict>
    </dict>
</plist>
