<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ride_3_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,141},{266,140}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,182},{266,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ride_3_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,141},{268,140}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,182},{268,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ride_3_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{268,140}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,182},{268,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ride_3_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,0},{266,140}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,182},{266,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Animation_ride_3.pvr</string>
            <key>size</key>
            <string>{535,281}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2eddebaa75ba6bddacda8fe6cbd9ca2f:1/1$</string>
            <key>textureFileName</key>
            <string>Animation_ride_3.pvr</string>
        </dict>
    </dict>
</plist>
