<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>purpleQuality0.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{76,82}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,26},{76,82}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>purpleQuality1.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,0},{80,70}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,33},{80,70}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>purpleQuality2.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,0},{74,80}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,28},{74,80}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>purpleQuality3.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,0},{78,80}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,27},{78,80}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>purpleQuality4.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,0},{80,74}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,29},{80,74}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>purpleQuality5.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,0},{74,82}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,26},{74,82}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Animation_quality.pvr</string>
            <key>size</key>
            <string>{446,82}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9eabba46b935b9f0fb12b1f4bdced24c:1/1$</string>
            <key>textureFileName</key>
            <string>Animation_quality.pvr</string>
        </dict>
    </dict>
</plist>
