<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>login_btn_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,126},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>login_btn_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,117},{52,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,53}}</string>
                <key>sourceSize</key>
                <string>{52,53}</string>
            </dict>
            <key>login_btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,117},{52,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,53}}</string>
                <key>sourceSize</key>
                <string>{52,53}</string>
            </dict>
            <key>login_btn_minus.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,126},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>login_common_lefttop_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,0},{90,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,92}}</string>
                <key>sourceSize</key>
                <string>{90,92}</string>
            </dict>
            <key>login_common_selectBox.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,147},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>login_common_selectIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,147},{19,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,18}}</string>
                <key>sourceSize</key>
                <string>{19,18}</string>
            </dict>
            <key>login_common_seniorFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,0},{113,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,116}}</string>
                <key>sourceSize</key>
                <string>{113,116}</string>
            </dict>
            <key>login_ins_clickFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{111,125}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,16},{111,125}}</string>
                <key>sourceSize</key>
                <string>{115,143}</string>
            </dict>
            <key>login_knight_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,126},{33,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,28}}</string>
                <key>sourceSize</key>
                <string>{33,28}</string>
            </dict>
            <key>login_loadSence_font.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,117},{57,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,19}}</string>
                <key>sourceSize</key>
                <string>{57,19}</string>
            </dict>
            <key>login_loadSence_point.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,160},{7,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,7}}</string>
                <key>sourceSize</key>
                <string>{7,7}</string>
            </dict>
            <key>login_loading.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,0},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>login_mall_goodsframe.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,0},{91,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,94}}</string>
                <key>sourceSize</key>
                <string>{91,94}</string>
            </dict>
            <key>login_sever_window_font.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,95},{80,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,24}}</string>
                <key>sourceSize</key>
                <string>{80,24}</string>
            </dict>
            <key>login_squares_itemBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,93},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>login_vip_fram1.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,93},{71,52}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{71,52}}</string>
                <key>sourceSize</key>
                <string>{71,58}</string>
            </dict>
            <key>login_vip_fram5.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,85},{59,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,61}}</string>
                <key>sourceSize</key>
                <string>{59,61}</string>
            </dict>
            <key>login_word_button_cancel.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,95},{72,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,2},{72,24}}</string>
                <key>sourceSize</key>
                <string>{94,28}</string>
            </dict>
            <key>login_word_button_sure.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,95},{72,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,2},{72,24}}</string>
                <key>sourceSize</key>
                <string>{94,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>login_common_4444.pvr</string>
            <key>size</key>
            <string>{499,175}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3ce0cd95b8e12c0b3f89d9f18e3d5152:1/1$</string>
            <key>textureFileName</key>
            <string>login_common_4444.pvr</string>
        </dict>
    </dict>
</plist>
