<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>iconFlash0.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,0},{74,94}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,31},{74,94}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>iconFlash1.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,0},{72,72}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,42},{72,72}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>iconFlash2.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,0},{98,100}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,30},{98,100}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>iconFlash3.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,0},{100,100}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,29},{100,100}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>iconFlash4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{100,102}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,27},{100,102}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>iconFlash5.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,0},{100,100}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,29},{100,100}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>iconFlash6.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,0},{100,100}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,29},{100,100}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>iconFlash7.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,0},{100,100}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,29},{100,100}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>iconFlash8.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,0},{100,100}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,29},{100,100}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Animation_iconFlash.pvr</string>
            <key>size</key>
            <string>{846,100}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d10ca2cbe48da10e7a1f8d249d70a13b:1/1$</string>
            <key>textureFileName</key>
            <string>Animation_iconFlash.pvr</string>
        </dict>
    </dict>
</plist>
