<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_RoleBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,417},{144,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,152}}</string>
                <key>sourceSize</key>
                <string>{144,152}</string>
            </dict>
            <key>role_createRoleBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,420},{67,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,73}}</string>
                <key>sourceSize</key>
                <string>{67,73}</string>
            </dict>
            <key>role_daoshiIntroduction.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,251},{165,373}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,373}}</string>
                <key>sourceSize</key>
                <string>{165,373}</string>
            </dict>
            <key>role_dice.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,420},{86,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,66}}</string>
                <key>sourceSize</key>
                <string>{86,66}</string>
            </dict>
            <key>role_font.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,111},{90,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,24}}</string>
                <key>sourceSize</key>
                <string>{90,24}</string>
            </dict>
            <key>role_fontBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,0},{45,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,110}}</string>
                <key>sourceSize</key>
                <string>{45,110}</string>
            </dict>
            <key>role_fontDaoshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,487},{37,70}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{37,70}}</string>
                <key>sourceSize</key>
                <string>{37,74}</string>
            </dict>
            <key>role_fontMagic.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,487},{35,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{35,74}}</string>
                <key>sourceSize</key>
                <string>{37,74}</string>
            </dict>
            <key>role_fontWarior.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,420},{35,72}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,72}}</string>
                <key>sourceSize</key>
                <string>{37,74}</string>
            </dict>
            <key>role_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,417},{268,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,2}}</string>
                <key>sourceSize</key>
                <string>{268,2}</string>
            </dict>
            <key>role_loginBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,353},{157,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,152}}</string>
                <key>sourceSize</key>
                <string>{157,152}</string>
            </dict>
            <key>role_magicIntroduction.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,0},{165,352}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,352}}</string>
                <key>sourceSize</key>
                <string>{165,352}</string>
            </dict>
            <key>role_mountain1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{756,250}}</string>
                <key>offset</key>
                <string>{-1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,36},{756,250}}</string>
                <key>sourceSize</key>
                <string>{778,286}</string>
            </dict>
            <key>role_startBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,420},{67,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,72}}</string>
                <key>sourceSize</key>
                <string>{67,72}</string>
            </dict>
            <key>role_wariorIntroduction.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,251},{165,430}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,430}}</string>
                <key>sourceSize</key>
                <string>{165,432}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_login_role.pvr</string>
            <key>size</key>
            <string>{970,561}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fc57270557954435dd74721766610481:1/1$</string>
            <key>textureFileName</key>
            <string>ui_login_role.pvr</string>
        </dict>
    </dict>
</plist>
