<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_modelFemanWarior.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{455,471}}</string>
                <key>offset</key>
                <string>{66,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,38},{455,471}}</string>
                <key>sourceSize</key>
                <string>{659,541}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_login_role_modelFemanWarior.pvr</string>
            <key>size</key>
            <string>{455,471}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cc88fddd28399ab16e5a952f57b06ff4:1/1$</string>
            <key>textureFileName</key>
            <string>ui_login_role_modelFemanWarior.pvr</string>
        </dict>
    </dict>
</plist>
