<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_modelCreateRole.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{181,419}}</string>
                <key>offset</key>
                <string>{6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,69},{181,419}}</string>
                <key>sourceSize</key>
                <string>{659,541}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_login_role_modelCreateRole.pvr</string>
            <key>size</key>
            <string>{181,419}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:24a7893cb29f2cd70d6d897b6cf99dd8:1/1$</string>
            <key>textureFileName</key>
            <string>ui_login_role_modelCreateRole.pvr</string>
        </dict>
    </dict>
</plist>
