<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_modelManMagic.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{421,449}}</string>
                <key>offset</key>
                <string>{33,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,48},{421,449}}</string>
                <key>sourceSize</key>
                <string>{659,541}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_login_role_modelManMagic.pvr</string>
            <key>size</key>
            <string>{421,449}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:756c90838e59d7a334b47930c19ca734:1/1$</string>
            <key>textureFileName</key>
            <string>ui_login_role_modelManMagic.pvr</string>
        </dict>
    </dict>
</plist>
