<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>activity0.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,84},{92,76}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,36},{92,76}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>activity1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{108,86}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,31},{108,86}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>activity2.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,108},{74,96}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,26},{74,96}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>activity3.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,0},{74,76}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,36},{74,76}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>activity4.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,0},{84,84}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,32},{84,84}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>activity5.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,160},{92,68}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,40},{92,68}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>activity6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,108},{96,80}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,33},{96,80}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Animation_activity.pvr</string>
            <key>size</key>
            <string>{246,228}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0e1b29a03c4216e5838b8a6a33447b62:1/1$</string>
            <key>textureFileName</key>
            <string>Animation_activity.pvr</string>
        </dict>
    </dict>
</plist>
