<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>8000_0_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,220},{212,214}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,98},{212,214}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>8000_0_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,448},{218,214}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,98},{218,214}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>8000_0_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{226,214}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,98},{226,214}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>8000_0_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,226},{222,216}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,98},{222,216}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>8000_0_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,0},{220,214}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,99},{220,214}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>8000_0_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,448},{216,214}}</string>
                <key>offset</key>
                <string>{11,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,99},{216,214}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>8000_0_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,666},{220,212}}</string>
                <key>offset</key>
                <string>{10,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,101},{220,212}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>8000_00.png</string>
            <key>size</key>
            <string>{428,878}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d8faf0150a997bd0cb9bc78656cda65f:1/1$</string>
            <key>textureFileName</key>
            <string>8000_00.png</string>
        </dict>
    </dict>
</plist>
