<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>8004_0_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,312},{112,94}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,214},{112,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>8004_0_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,82},{116,80}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,214},{116,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>8004_0_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,238},{114,74}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,220},{114,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>8004_0_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,406},{110,72}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,221},{110,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>8004_0_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,162},{114,76}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,218},{114,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>8004_0_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{120,82}}</string>
                <key>offset</key>
                <string>{8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,212},{120,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>8004_00.png</string>
            <key>size</key>
            <string>{120,478}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8f4573be3b510b582acde79c0290eae2:1/1$</string>
            <key>textureFileName</key>
            <string>8004_00.png</string>
        </dict>
    </dict>
</plist>
