<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cycle0.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,0},{88,82}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,18},{88,82}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>cycle1.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,0},{88,82}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,18},{88,82}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>cycle2.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,0},{88,86}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,16},{88,86}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>cycle3.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,0},{84,90}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,14},{84,90}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>cycle4.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,0},{86,86}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,16},{86,86}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>cycle5.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,0},{88,86}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,16},{88,86}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>cycle6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{88,90}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,14},{88,90}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Animation_cycle.pvr</string>
            <key>size</key>
            <string>{610,90}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ee8290b868b4f29038e9d6c861df4a23:1/1$</string>
            <key>textureFileName</key>
            <string>Animation_cycle.pvr</string>
        </dict>
    </dict>
</plist>
