<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1000_5_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,96},{56,96}}</string>
                <key>offset</key>
                <string>{1,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,107},{56,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1000_5_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{58,96}}</string>
                <key>offset</key>
                <string>{0,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,109},{58,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1000_5_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,96},{56,96}}</string>
                <key>offset</key>
                <string>{0,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,112},{56,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1000_5_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,192},{54,94}}</string>
                <key>offset</key>
                <string>{1,97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,112},{54,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1000_5_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,192},{54,94}}</string>
                <key>offset</key>
                <string>{1,99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,110},{54,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1000_5_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,0},{44,102}}</string>
                <key>offset</key>
                <string>{9,96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,109},{44,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1000_5_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,0},{42,102}}</string>
                <key>offset</key>
                <string>{9,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,111},{42,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1000_5_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,198},{42,100}}</string>
                <key>offset</key>
                <string>{9,92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{244,114},{42,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1000_5_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,98},{44,98}}</string>
                <key>offset</key>
                <string>{10,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,114},{44,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1000_5_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,54},{44,100}}</string>
                <key>offset</key>
                <string>{9,95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,111},{44,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1000_5_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,98},{42,100}}</string>
                <key>offset</key>
                <string>{6,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,112},{42,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1000_5_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,196},{42,100}}</string>
                <key>offset</key>
                <string>{5,92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,114},{42,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1000_5_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,98},{42,96}}</string>
                <key>offset</key>
                <string>{4,90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,118},{42,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1000_5_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,102},{42,94}}</string>
                <key>offset</key>
                <string>{5,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,118},{42,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1000_5_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,98},{42,98}}</string>
                <key>offset</key>
                <string>{6,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,114},{42,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1000_5_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,86},{52,92}}</string>
                <key>offset</key>
                <string>{-1,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,114},{52,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1000_5_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,0},{52,94}}</string>
                <key>offset</key>
                <string>{-1,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,114},{52,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1000_5_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,0},{54,90}}</string>
                <key>offset</key>
                <string>{-2,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,117},{54,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1000_5_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,90},{52,88}}</string>
                <key>offset</key>
                <string>{-1,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,118},{52,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1000_5_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,0},{52,90}}</string>
                <key>offset</key>
                <string>{-1,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,116},{52,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1000_5_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,0},{56,86}}</string>
                <key>offset</key>
                <string>{1,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,112},{56,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1000_5_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,90},{56,86}}</string>
                <key>offset</key>
                <string>{1,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,114},{56,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1000_5_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,178},{56,84}}</string>
                <key>offset</key>
                <string>{1,97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,117},{56,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1000_5_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,44},{54,82}}</string>
                <key>offset</key>
                <string>{1,98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,117},{54,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1000_5_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,0},{54,82}}</string>
                <key>offset</key>
                <string>{1,100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,115},{54,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1000_5.png</string>
            <key>size</key>
            <string>{498,246}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6691d98ade93bdd7a6baef18dac55b71:1/1$</string>
            <key>textureFileName</key>
            <string>1000_5.png</string>
        </dict>
    </dict>
</plist>
