<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1001_7_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,0},{60,92}}</string>
                <key>offset</key>
                <string>{0,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,176},{60,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1001_7_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,112},{54,112}}</string>
                <key>offset</key>
                <string>{-2,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,157},{54,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1001_7_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,116},{56,116}}</string>
                <key>offset</key>
                <string>{-3,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,152},{56,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1001_7_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,0},{62,104}}</string>
                <key>offset</key>
                <string>{1,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,164},{62,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1001_7_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,108},{56,108}}</string>
                <key>offset</key>
                <string>{-3,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,160},{56,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1001_7_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,218},{34,94}}</string>
                <key>offset</key>
                <string>{4,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,178},{34,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1001_7_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,0},{36,112}}</string>
                <key>offset</key>
                <string>{-6,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,160},{36,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1001_7_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,0},{36,118}}</string>
                <key>offset</key>
                <string>{-7,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,154},{36,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1001_7_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,112},{30,112}}</string>
                <key>offset</key>
                <string>{-4,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,160},{30,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1001_7_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,228},{28,114}}</string>
                <key>offset</key>
                <string>{-6,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,158},{28,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1001_7_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,60},{54,92}}</string>
                <key>offset</key>
                <string>{1,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,177},{54,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1001_7_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,0},{54,112}}</string>
                <key>offset</key>
                <string>{1,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,157},{54,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1001_7_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,128},{54,118}}</string>
                <key>offset</key>
                <string>{1,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,151},{54,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1001_7_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,114},{52,114}}</string>
                <key>offset</key>
                <string>{2,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,155},{52,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1001_7_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,0},{58,114}}</string>
                <key>offset</key>
                <string>{-1,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,155},{58,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1001_7_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,114},{78,90}}</string>
                <key>offset</key>
                <string>{1,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,171},{78,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1001_7_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,0},{70,110}}</string>
                <key>offset</key>
                <string>{5,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,151},{70,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1001_7_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,118},{70,116}}</string>
                <key>offset</key>
                <string>{5,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,145},{70,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1001_7_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,110},{76,108}}</string>
                <key>offset</key>
                <string>{2,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,153},{76,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1001_7_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,0},{70,108}}</string>
                <key>offset</key>
                <string>{5,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,153},{70,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1001_7_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,114},{60,102}}</string>
                <key>offset</key>
                <string>{1,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,169},{60,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1001_7_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,0},{54,128}}</string>
                <key>offset</key>
                <string>{4,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,143},{54,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1001_7_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{54,130}}</string>
                <key>offset</key>
                <string>{4,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,141},{54,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1001_7_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,0},{62,116}}</string>
                <key>offset</key>
                <string>{0,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,155},{62,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1001_7_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,130},{56,118}}</string>
                <key>offset</key>
                <string>{4,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,153},{56,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1001_7.png</string>
            <key>size</key>
            <string>{648,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d49385f1e268222dcee670ba23313307:1/1$</string>
            <key>textureFileName</key>
            <string>1001_7.png</string>
        </dict>
    </dict>
</plist>
