<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1001_4_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,0},{56,94}}</string>
                <key>offset</key>
                <string>{0,97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,112},{56,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1001_4_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,0},{56,94}}</string>
                <key>offset</key>
                <string>{0,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,114},{56,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1001_4_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,0},{56,94}}</string>
                <key>offset</key>
                <string>{0,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,113},{56,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1001_4_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,56},{56,92}}</string>
                <key>offset</key>
                <string>{1,96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,114},{56,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1001_4_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,0},{40,104}}</string>
                <key>offset</key>
                <string>{7,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,112},{40,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1001_4_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,0},{40,104}}</string>
                <key>offset</key>
                <string>{7,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,112},{40,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1001_4_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,0},{42,102}}</string>
                <key>offset</key>
                <string>{6,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,113},{42,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1001_4_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,0},{42,102}}</string>
                <key>offset</key>
                <string>{6,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,113},{42,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1001_4_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,0},{40,112}}</string>
                <key>offset</key>
                <string>{1,90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,110},{40,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1001_4_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,0},{40,110}}</string>
                <key>offset</key>
                <string>{1,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,112},{40,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1001_4_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,0},{38,110}}</string>
                <key>offset</key>
                <string>{1,90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,111},{38,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1001_4_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,0},{40,110}}</string>
                <key>offset</key>
                <string>{0,90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,111},{40,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1001_4_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{40,112}}</string>
                <key>offset</key>
                <string>{1,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,109},{40,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1001_4_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,0},{42,110}}</string>
                <key>offset</key>
                <string>{1,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,110},{42,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1001_4_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,0},{40,110}}</string>
                <key>offset</key>
                <string>{1,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,109},{40,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1001_4_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,0},{40,110}}</string>
                <key>offset</key>
                <string>{1,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,110},{40,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1001_4_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,0},{56,104}}</string>
                <key>offset</key>
                <string>{1,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,109},{56,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1001_4_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,0},{56,104}}</string>
                <key>offset</key>
                <string>{0,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,109},{56,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1001_4_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,0},{56,102}}</string>
                <key>offset</key>
                <string>{0,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,110},{56,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1001_4_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,0},{56,102}}</string>
                <key>offset</key>
                <string>{1,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,110},{56,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1001_4.png</string>
            <key>size</key>
            <string>{914,112}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:46e993b0d398589484a8cdd3e5b40695:1/1$</string>
            <key>textureFileName</key>
            <string>1001_4.png</string>
        </dict>
    </dict>
</plist>
