<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1001_5_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,94},{56,92}}</string>
                <key>offset</key>
                <string>{0,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,113},{56,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1001_5_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,94},{56,94}}</string>
                <key>offset</key>
                <string>{0,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,114},{56,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1001_5_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,0},{54,92}}</string>
                <key>offset</key>
                <string>{0,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,119},{54,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1001_5_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,92},{54,92}}</string>
                <key>offset</key>
                <string>{0,93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,117},{54,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1001_5_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,0},{54,92}}</string>
                <key>offset</key>
                <string>{0,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,114},{54,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1001_5_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,96},{42,96}}</string>
                <key>offset</key>
                <string>{10,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,113},{42,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1001_5_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,0},{40,96}}</string>
                <key>offset</key>
                <string>{10,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,115},{40,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1001_5_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,0},{42,94}}</string>
                <key>offset</key>
                <string>{9,90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,119},{42,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1001_5_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,188},{42,92}}</string>
                <key>offset</key>
                <string>{10,91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{245,119},{42,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1001_5_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,194},{42,96}}</string>
                <key>offset</key>
                <string>{10,94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{245,114},{42,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1001_5_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{40,102}}</string>
                <key>offset</key>
                <string>{6,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,112},{40,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1001_5_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,102},{38,100}}</string>
                <key>offset</key>
                <string>{7,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,115},{38,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1001_5_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,202},{36,98}}</string>
                <key>offset</key>
                <string>{7,89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{245,118},{36,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1001_5_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,96},{38,96}}</string>
                <key>offset</key>
                <string>{7,90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,118},{38,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1001_5_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,0},{38,98}}</string>
                <key>offset</key>
                <string>{7,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,115},{38,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1001_5_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,0},{44,98}}</string>
                <key>offset</key>
                <string>{2,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,112},{44,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1001_5_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,102},{46,98}}</string>
                <key>offset</key>
                <string>{1,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,114},{46,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1001_5_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,0},{46,96}}</string>
                <key>offset</key>
                <string>{1,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,116},{46,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1001_5_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,192},{46,92}}</string>
                <key>offset</key>
                <string>{1,92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,118},{46,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1001_5_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,98},{46,96}}</string>
                <key>offset</key>
                <string>{1,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,114},{46,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1001_5_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,0},{56,94}}</string>
                <key>offset</key>
                <string>{1,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,111},{56,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1001_5_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,94},{56,94}}</string>
                <key>offset</key>
                <string>{1,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,113},{56,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1001_5_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,0},{56,94}}</string>
                <key>offset</key>
                <string>{1,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,115},{56,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1001_5_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,146},{54,88}}</string>
                <key>offset</key>
                <string>{1,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,117},{54,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1001_5_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,146},{54,90}}</string>
                <key>offset</key>
                <string>{1,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,114},{54,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1001_5.png</string>
            <key>size</key>
            <string>{486,238}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:691497347faa068579a097e44e7a2408:1/1$</string>
            <key>textureFileName</key>
            <string>1001_5.png</string>
        </dict>
    </dict>
</plist>
