<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1001_8_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,0},{50,108}}</string>
                <key>offset</key>
                <string>{-3,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,163},{50,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1001_8_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,0},{46,112}}</string>
                <key>offset</key>
                <string>{3,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,159},{46,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1001_8_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,116},{54,110}}</string>
                <key>offset</key>
                <string>{8,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,161},{54,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1001_8_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,114},{56,106}}</string>
                <key>offset</key>
                <string>{8,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,165},{56,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1001_8_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,0},{50,108}}</string>
                <key>offset</key>
                <string>{6,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,163},{50,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1001_8_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,0},{66,118}}</string>
                <key>offset</key>
                <string>{-10,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,155},{66,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1001_8_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,0},{68,114}}</string>
                <key>offset</key>
                <string>{17,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,159},{68,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1001_8_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,108},{62,108}}</string>
                <key>offset</key>
                <string>{14,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,165},{62,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1001_8_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,0},{56,104}}</string>
                <key>offset</key>
                <string>{10,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,169},{56,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1001_8_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,108},{58,106}}</string>
                <key>offset</key>
                <string>{12,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,167},{58,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1001_8_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,0},{80,116}}</string>
                <key>offset</key>
                <string>{5,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,150},{80,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1001_8_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,0},{80,108}}</string>
                <key>offset</key>
                <string>{9,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,158},{80,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1001_8_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,0},{80,94}}</string>
                <key>offset</key>
                <string>{9,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,172},{80,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1001_8_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,76},{76,92}}</string>
                <key>offset</key>
                <string>{7,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,174},{76,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1001_8_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,0},{78,96}}</string>
                <key>offset</key>
                <string>{6,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,170},{78,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1001_8_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,0},{76,116}}</string>
                <key>offset</key>
                <string>{5,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,151},{76,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1001_8_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,0},{76,106}}</string>
                <key>offset</key>
                <string>{5,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,161},{76,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1001_8_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,0},{76,88}}</string>
                <key>offset</key>
                <string>{5,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,179},{76,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1001_8_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,0},{76,92}}</string>
                <key>offset</key>
                <string>{5,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,175},{76,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1001_8_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,94},{76,94}}</string>
                <key>offset</key>
                <string>{5,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,173},{76,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1001_8_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{50,122}}</string>
                <key>offset</key>
                <string>{5,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,156},{50,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1001_8_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,122},{46,114}}</string>
                <key>offset</key>
                <string>{-2,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,164},{46,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1001_8_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,96},{54,96}}</string>
                <key>offset</key>
                <string>{-6,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,182},{54,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1001_8_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,104},{56,96}}</string>
                <key>offset</key>
                <string>{-7,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,182},{56,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1001_8_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,118},{52,104}}</string>
                <key>offset</key>
                <string>{-5,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,174},{52,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1001_8.png</string>
            <key>size</key>
            <string>{1020,170}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5b2ef467e9f8c76c1476d1a0c96c1f07:1/1$</string>
            <key>textureFileName</key>
            <string>1001_8.png</string>
        </dict>
    </dict>
</plist>
