<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1002_5_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,98},{62,96}}</string>
                <key>offset</key>
                <string>{2,100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,108},{62,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1002_5_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,0},{60,98}}</string>
                <key>offset</key>
                <string>{2,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,109},{60,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1002_5_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,100},{62,96}}</string>
                <key>offset</key>
                <string>{1,95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,113},{62,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1002_5_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,102},{62,96}}</string>
                <key>offset</key>
                <string>{0,96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,112},{62,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1002_5_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,102},{62,96}}</string>
                <key>offset</key>
                <string>{2,99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,109},{62,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1002_5_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,0},{76,102}}</string>
                <key>offset</key>
                <string>{-6,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,110},{76,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1002_5_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{76,102}}</string>
                <key>offset</key>
                <string>{-6,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,112},{76,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1002_5_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,0},{78,100}}</string>
                <key>offset</key>
                <string>{-7,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,114},{78,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1002_5_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,0},{80,98}}</string>
                <key>offset</key>
                <string>{-7,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,115},{80,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1002_5_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,0},{78,100}}</string>
                <key>offset</key>
                <string>{-6,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,112},{78,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1002_5_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,0},{68,100}}</string>
                <key>offset</key>
                <string>{-7,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,113},{68,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1002_5_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,0},{68,100}}</string>
                <key>offset</key>
                <string>{-8,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,115},{68,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1002_5_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,100},{66,98}}</string>
                <key>offset</key>
                <string>{-8,90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,117},{66,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1002_5_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,100},{66,96}}</string>
                <key>offset</key>
                <string>{-7,91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,117},{66,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1002_5_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,98},{68,98}}</string>
                <key>offset</key>
                <string>{-7,92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,115},{68,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1002_5_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,0},{76,94}}</string>
                <key>offset</key>
                <string>{-12,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,113},{76,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1002_5_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,0},{76,94}}</string>
                <key>offset</key>
                <string>{-12,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,115},{76,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1002_5_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,90},{76,90}}</string>
                <key>offset</key>
                <string>{-12,93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,118},{76,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1002_5_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,0},{76,88}}</string>
                <key>offset</key>
                <string>{-12,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,119},{76,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1002_5_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,0},{76,90}}</string>
                <key>offset</key>
                <string>{-12,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,116},{76,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1002_5_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,88},{62,84}}</string>
                <key>offset</key>
                <string>{-1,100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,114},{62,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1002_5_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,94},{62,84}}</string>
                <key>offset</key>
                <string>{-1,98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,116},{62,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1002_5_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,82},{62,82}}</string>
                <key>offset</key>
                <string>{-1,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,119},{62,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1002_5_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,0},{62,80}}</string>
                <key>offset</key>
                <string>{0,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,119},{62,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1002_5_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,0},{62,82}}</string>
                <key>offset</key>
                <string>{0,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,116},{62,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1002_5.png</string>
            <key>size</key>
            <string>{1022,166}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ace71e84f697d5cb57452b5ab64b4bc8:1/1$</string>
            <key>textureFileName</key>
            <string>1002_5.png</string>
        </dict>
    </dict>
</plist>
