<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1002_6_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,50},{50,112}}</string>
                <key>offset</key>
                <string>{-1,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,154},{50,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1002_6_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,50},{50,112}}</string>
                <key>offset</key>
                <string>{0,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,154},{50,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1002_6_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,50},{50,112}}</string>
                <key>offset</key>
                <string>{-1,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,154},{50,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1002_6_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,58},{46,116}}</string>
                <key>offset</key>
                <string>{1,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,150},{46,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1002_6_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,60},{46,114}}</string>
                <key>offset</key>
                <string>{1,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,152},{46,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1002_6_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,100},{44,116}}</string>
                <key>offset</key>
                <string>{3,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,154},{44,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1002_6_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,106},{46,116}}</string>
                <key>offset</key>
                <string>{1,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,154},{46,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1002_6_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,0},{50,116}}</string>
                <key>offset</key>
                <string>{2,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,154},{50,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1002_6_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,100},{34,120}}</string>
                <key>offset</key>
                <string>{6,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{245,150},{34,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1002_6_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,100},{40,118}}</string>
                <key>offset</key>
                <string>{11,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{247,152},{40,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1002_6_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,106},{46,116}}</string>
                <key>offset</key>
                <string>{1,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,151},{46,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1002_6_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,106},{46,116}}</string>
                <key>offset</key>
                <string>{1,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,151},{46,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1002_6_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,58},{48,116}}</string>
                <key>offset</key>
                <string>{0,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,151},{48,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1002_6_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{66,114}}</string>
                <key>offset</key>
                <string>{13,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,153},{66,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1002_6_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,0},{60,114}}</string>
                <key>offset</key>
                <string>{10,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,153},{60,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1002_6_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,0},{58,110}}</string>
                <key>offset</key>
                <string>{2,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,149},{58,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1002_6_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,0},{58,110}}</string>
                <key>offset</key>
                <string>{2,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,149},{58,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1002_6_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,0},{58,110}}</string>
                <key>offset</key>
                <string>{2,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,149},{58,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1002_6_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,0},{72,106}}</string>
                <key>offset</key>
                <string>{9,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,153},{72,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1002_6_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,0},{58,106}}</string>
                <key>offset</key>
                <string>{2,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,153},{58,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1002_6_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,0},{50,116}}</string>
                <key>offset</key>
                <string>{2,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,151},{50,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1002_6_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,0},{50,118}}</string>
                <key>offset</key>
                <string>{2,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,150},{50,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1002_6_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,58},{48,118}}</string>
                <key>offset</key>
                <string>{2,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,150},{48,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1002_6_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,106},{46,116}}</string>
                <key>offset</key>
                <string>{0,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,152},{46,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1002_6_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,106},{46,116}}</string>
                <key>offset</key>
                <string>{0,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,152},{46,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1002_6.png</string>
            <key>size</key>
            <string>{1014,152}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:abeaa7b81b54b8e166e4249c31c5bbab:1/1$</string>
            <key>textureFileName</key>
            <string>1002_6.png</string>
        </dict>
    </dict>
</plist>
