<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1003_7_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,54},{60,92}}</string>
                <key>offset</key>
                <string>{0,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,176},{60,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1003_7_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,0},{54,112}}</string>
                <key>offset</key>
                <string>{-2,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,157},{54,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1003_7_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,0},{56,116}}</string>
                <key>offset</key>
                <string>{-3,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,152},{56,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1003_7_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,92},{62,104}}</string>
                <key>offset</key>
                <string>{1,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,164},{62,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1003_7_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,0},{56,108}}</string>
                <key>offset</key>
                <string>{-3,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,160},{56,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1003_7_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,56},{42,94}}</string>
                <key>offset</key>
                <string>{1,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,178},{42,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1003_7_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,70},{38,112}}</string>
                <key>offset</key>
                <string>{-5,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,160},{38,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1003_7_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,70},{38,118}}</string>
                <key>offset</key>
                <string>{-6,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,154},{38,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1003_7_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,62},{30,112}}</string>
                <key>offset</key>
                <string>{-4,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,160},{30,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1003_7_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,70},{30,114}}</string>
                <key>offset</key>
                <string>{-6,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,158},{30,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1003_7_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,108},{54,92}}</string>
                <key>offset</key>
                <string>{1,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,177},{54,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1003_7_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,54},{54,112}}</string>
                <key>offset</key>
                <string>{1,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,157},{54,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1003_7_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,0},{54,118}}</string>
                <key>offset</key>
                <string>{1,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,151},{54,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1003_7_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,56},{52,114}}</string>
                <key>offset</key>
                <string>{2,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,155},{52,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1003_7_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,108},{58,114}}</string>
                <key>offset</key>
                <string>{-1,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,155},{58,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1003_7_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,56},{78,90}}</string>
                <key>offset</key>
                <string>{1,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,171},{78,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1003_7_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,0},{70,110}}</string>
                <key>offset</key>
                <string>{5,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,151},{70,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1003_7_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,0},{70,116}}</string>
                <key>offset</key>
                <string>{5,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,145},{70,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1003_7_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{76,108}}</string>
                <key>offset</key>
                <string>{2,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,153},{76,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1003_7_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,0},{70,108}}</string>
                <key>offset</key>
                <string>{5,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,153},{70,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1003_7_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,54},{60,102}}</string>
                <key>offset</key>
                <string>{1,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,169},{60,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1003_7_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,108},{54,128}}</string>
                <key>offset</key>
                <string>{4,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,143},{54,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1003_7_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,108},{54,130}}</string>
                <key>offset</key>
                <string>{4,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,141},{54,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1003_7_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,0},{62,116}}</string>
                <key>offset</key>
                <string>{0,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,155},{62,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1003_7_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,100},{56,118}}</string>
                <key>offset</key>
                <string>{4,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,153},{56,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1003_7.png</string>
            <key>size</key>
            <string>{1002,166}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a0e198082089e652d596caf6abfa7e93:1/1$</string>
            <key>textureFileName</key>
            <string>1003_7.png</string>
        </dict>
    </dict>
</plist>
