<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1003_4_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,94},{56,94}}</string>
                <key>offset</key>
                <string>{0,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,112},{56,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1003_4_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,0},{56,94}}</string>
                <key>offset</key>
                <string>{0,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,114},{56,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1003_4_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,110},{56,94}}</string>
                <key>offset</key>
                <string>{0,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,113},{56,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1003_4_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,112},{56,92}}</string>
                <key>offset</key>
                <string>{1,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,114},{56,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1003_4_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,104},{56,104}}</string>
                <key>offset</key>
                <string>{0,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,112},{56,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1003_4_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,110},{56,104}}</string>
                <key>offset</key>
                <string>{0,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,112},{56,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1003_4_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,102},{56,102}}</string>
                <key>offset</key>
                <string>{0,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,113},{56,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1003_4_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,0},{56,102}}</string>
                <key>offset</key>
                <string>{0,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,113},{56,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1003_4_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{54,112}}</string>
                <key>offset</key>
                <string>{-6,90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,110},{54,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1003_4_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,0},{56,110}}</string>
                <key>offset</key>
                <string>{-7,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,112},{56,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1003_4_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,0},{56,110}}</string>
                <key>offset</key>
                <string>{-8,90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,111},{56,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1003_4_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,112},{54,110}}</string>
                <key>offset</key>
                <string>{-7,90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,111},{54,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1003_4_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,0},{46,112}}</string>
                <key>offset</key>
                <string>{-2,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,109},{46,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1003_4_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,0},{48,110}}</string>
                <key>offset</key>
                <string>{-2,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,110},{48,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1003_4_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,204},{48,110}}</string>
                <key>offset</key>
                <string>{-3,92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,109},{48,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1003_4_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,204},{48,110}}</string>
                <key>offset</key>
                <string>{-3,91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,110},{48,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1003_4_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,0},{56,104}}</string>
                <key>offset</key>
                <string>{1,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,109},{56,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1003_4_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,110},{56,104}}</string>
                <key>offset</key>
                <string>{0,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,109},{56,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1003_4_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,102},{56,102}}</string>
                <key>offset</key>
                <string>{0,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,110},{56,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1003_4_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,0},{56,102}}</string>
                <key>offset</key>
                <string>{1,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,110},{56,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1003_4.png</string>
            <key>size</key>
            <string>{502,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0f22ed4fac63298509973de28a793857:1/1$</string>
            <key>textureFileName</key>
            <string>1003_4.png</string>
        </dict>
    </dict>
</plist>
