<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1004_7_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,0},{66,96}}</string>
                <key>offset</key>
                <string>{2,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,174},{66,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1004_7_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,0},{60,116}}</string>
                <key>offset</key>
                <string>{-1,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,150},{60,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1004_7_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,122},{60,120}}</string>
                <key>offset</key>
                <string>{-1,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,146},{60,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1004_7_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,114},{66,110}}</string>
                <key>offset</key>
                <string>{2,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,156},{66,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1004_7_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,0},{52,112}}</string>
                <key>offset</key>
                <string>{-2,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,155},{52,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1004_7_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,0},{56,102}}</string>
                <key>offset</key>
                <string>{-5,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,171},{56,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1004_7_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,0},{46,118}}</string>
                <key>offset</key>
                <string>{-3,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,153},{46,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1004_7_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,138},{44,124}}</string>
                <key>offset</key>
                <string>{-4,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,147},{44,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1004_7_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,0},{54,116}}</string>
                <key>offset</key>
                <string>{-3,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,155},{54,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1004_7_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,0},{58,114}}</string>
                <key>offset</key>
                <string>{1,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,155},{58,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1004_7_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,104},{66,104}}</string>
                <key>offset</key>
                <string>{-2,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,166},{66,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1004_7_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,126},{56,118}}</string>
                <key>offset</key>
                <string>{3,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,151},{56,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1004_7_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,0},{54,126}}</string>
                <key>offset</key>
                <string>{4,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,143},{54,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1004_7_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,0},{60,112}}</string>
                <key>offset</key>
                <string>{1,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,157},{60,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1004_7_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,118},{62,108}}</string>
                <key>offset</key>
                <string>{0,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,157},{62,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1004_7_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,102},{80,98}}</string>
                <key>offset</key>
                <string>{2,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,165},{80,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1004_7_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,0},{74,118}}</string>
                <key>offset</key>
                <string>{5,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,143},{74,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1004_7_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,0},{74,122}}</string>
                <key>offset</key>
                <string>{5,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,138},{74,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1004_7_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,0},{82,104}}</string>
                <key>offset</key>
                <string>{1,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,157},{82,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1004_7_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,0},{66,104}}</string>
                <key>offset</key>
                <string>{4,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,154},{66,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1004_7_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,112},{66,104}}</string>
                <key>offset</key>
                <string>{-1,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,166},{66,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1004_7_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,0},{60,134}}</string>
                <key>offset</key>
                <string>{2,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,136},{60,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1004_7_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{60,138}}</string>
                <key>offset</key>
                <string>{2,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,132},{60,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1004_7_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,116},{66,112}}</string>
                <key>offset</key>
                <string>{-1,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,158},{66,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1004_7_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,0},{52,116}}</string>
                <key>offset</key>
                <string>{3,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,153},{52,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1004_7.png</string>
            <key>size</key>
            <string>{1004,182}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:69ec1acee9780c5965e9161d66704a12:1/1$</string>
            <key>textureFileName</key>
            <string>1004_7.png</string>
        </dict>
    </dict>
</plist>
