<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1004_8_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,0},{62,116}}</string>
                <key>offset</key>
                <string>{-3,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,157},{62,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1004_8_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,0},{64,116}}</string>
                <key>offset</key>
                <string>{3,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,157},{64,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1004_8_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,0},{66,104}}</string>
                <key>offset</key>
                <string>{4,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,169},{66,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1004_8_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,0},{86,102}}</string>
                <key>offset</key>
                <string>{-2,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,171},{86,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1004_8_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,124},{80,110}}</string>
                <key>offset</key>
                <string>{-1,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,163},{80,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1004_8_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{56,128}}</string>
                <key>offset</key>
                <string>{-1,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,147},{56,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1004_8_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,0},{74,112}}</string>
                <key>offset</key>
                <string>{16,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,162},{74,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1004_8_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,96},{70,94}}</string>
                <key>offset</key>
                <string>{11,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,180},{70,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1004_8_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,0},{78,104}}</string>
                <key>offset</key>
                <string>{5,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,170},{78,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1004_8_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,128},{76,108}}</string>
                <key>offset</key>
                <string>{6,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,166},{76,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1004_8_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,0},{80,126}}</string>
                <key>offset</key>
                <string>{7,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,141},{80,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1004_8_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,0},{84,96}}</string>
                <key>offset</key>
                <string>{7,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,170},{84,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1004_8_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,90},{86,80}}</string>
                <key>offset</key>
                <string>{9,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,186},{86,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1004_8_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,104},{82,100}}</string>
                <key>offset</key>
                <string>{6,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,167},{82,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1004_8_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,96},{84,96}}</string>
                <key>offset</key>
                <string>{5,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,170},{84,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1004_8_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,0},{84,124}}</string>
                <key>offset</key>
                <string>{5,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,144},{84,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1004_8_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,112},{84,92}}</string>
                <key>offset</key>
                <string>{5,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,176},{84,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1004_8_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,0},{84,78}}</string>
                <key>offset</key>
                <string>{5,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,190},{84,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1004_8_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,104},{84,100}}</string>
                <key>offset</key>
                <string>{5,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,168},{84,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1004_8_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,0},{84,96}}</string>
                <key>offset</key>
                <string>{5,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,172},{84,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1004_8_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,0},{62,126}}</string>
                <key>offset</key>
                <string>{4,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,153},{62,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1004_8_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,102},{66,100}}</string>
                <key>offset</key>
                <string>{-2,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,179},{66,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1004_8_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,0},{66,90}}</string>
                <key>offset</key>
                <string>{-2,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,189},{66,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1004_8_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,116},{86,104}}</string>
                <key>offset</key>
                <string>{4,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,175},{86,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1004_8_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,126},{78,110}}</string>
                <key>offset</key>
                <string>{2,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,169},{78,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1004_8.png</string>
            <key>size</key>
            <string>{1024,204}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9df37928048c7e69ae94affcef8f825d:1/1$</string>
            <key>textureFileName</key>
            <string>1004_8.png</string>
        </dict>
    </dict>
</plist>
