<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1004_0_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,122},{54,96}}</string>
                <key>offset</key>
                <string>{3,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,155},{54,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1004_0_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,0},{50,122}}</string>
                <key>offset</key>
                <string>{2,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,153},{50,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1004_0_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,0},{52,100}}</string>
                <key>offset</key>
                <string>{1,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,154},{52,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1004_0_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{54,122}}</string>
                <key>offset</key>
                <string>{3,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,152},{54,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1004_0_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,114},{52,110}}</string>
                <key>offset</key>
                <string>{3,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,153},{52,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1004_0_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,100},{80,96}}</string>
                <key>offset</key>
                <string>{-9,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,157},{80,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1004_0_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,0},{74,118}}</string>
                <key>offset</key>
                <string>{-11,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,154},{74,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1004_0_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,98},{80,94}}</string>
                <key>offset</key>
                <string>{-9,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,156},{80,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1004_0_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,0},{86,114}}</string>
                <key>offset</key>
                <string>{-5,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,154},{86,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1004_0_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,96},{86,96}}</string>
                <key>offset</key>
                <string>{-6,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,156},{86,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1004_0_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,0},{98,96}}</string>
                <key>offset</key>
                <string>{-10,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,165},{98,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1004_0_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,0},{98,100}}</string>
                <key>offset</key>
                <string>{-9,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,161},{98,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1004_0_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,0},{102,92}}</string>
                <key>offset</key>
                <string>{-10,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,159},{102,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1004_0_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,0},{100,94}}</string>
                <key>offset</key>
                <string>{-6,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,163},{100,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1004_0_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,0},{96,92}}</string>
                <key>offset</key>
                <string>{-11,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,160},{96,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1004_0_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,104},{78,100}}</string>
                <key>offset</key>
                <string>{-6,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,170},{78,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1004_0_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,100},{80,82}}</string>
                <key>offset</key>
                <string>{-4,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,169},{80,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1004_0_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,100},{82,98}}</string>
                <key>offset</key>
                <string>{-6,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,168},{82,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1004_0_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,0},{80,86}}</string>
                <key>offset</key>
                <string>{-5,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,168},{80,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1004_0_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,102},{80,102}}</string>
                <key>offset</key>
                <string>{-4,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,169},{80,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1004_0_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,0},{52,100}}</string>
                <key>offset</key>
                <string>{-2,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,173},{52,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1004_0_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,98},{50,84}}</string>
                <key>offset</key>
                <string>{0,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,170},{50,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1004_0_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,0},{52,102}}</string>
                <key>offset</key>
                <string>{1,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,171},{52,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1004_0_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,122},{54,84}}</string>
                <key>offset</key>
                <string>{-2,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,169},{54,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1004_0_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,0},{52,104}}</string>
                <key>offset</key>
                <string>{-3,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,170},{52,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1004_0.png</string>
            <key>size</key>
            <string>{1024,182}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e3514104263e6aedb784cdc7edf35356:1/1$</string>
            <key>textureFileName</key>
            <string>1004_0.png</string>
        </dict>
    </dict>
</plist>
