<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1005_0_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,52},{44,108}}</string>
                <key>offset</key>
                <string>{2,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,155},{44,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1005_0_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,96},{48,106}}</string>
                <key>offset</key>
                <string>{1,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,158},{48,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1005_0_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,0},{52,112}}</string>
                <key>offset</key>
                <string>{1,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,155},{52,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1005_0_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,308},{50,100}}</string>
                <key>offset</key>
                <string>{4,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,158},{50,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1005_0_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{46,116}}</string>
                <key>offset</key>
                <string>{3,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,155},{46,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1005_0_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,156},{76,102}}</string>
                <key>offset</key>
                <string>{0,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,156},{76,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1005_0_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,120},{56,104}}</string>
                <key>offset</key>
                <string>{-7,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,159},{56,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1005_0_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,188},{68,102}}</string>
                <key>offset</key>
                <string>{-3,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,158},{68,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1005_0_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,232},{64,102}}</string>
                <key>offset</key>
                <string>{-2,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,159},{64,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1005_0_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,46},{66,108}}</string>
                <key>offset</key>
                <string>{-2,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,157},{66,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1005_0_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,256},{100,96}}</string>
                <key>offset</key>
                <string>{-1,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,159},{100,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1005_0_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,296},{72,100}}</string>
                <key>offset</key>
                <string>{-8,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,161},{72,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1005_0_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,368},{82,96}}</string>
                <key>offset</key>
                <string>{-2,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,161},{82,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1005_0_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,358},{92,94}}</string>
                <key>offset</key>
                <string>{-1,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,160},{92,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1005_0_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,402},{70,96}}</string>
                <key>offset</key>
                <string>{-6,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,161},{70,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1005_0_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,0},{70,104}}</string>
                <key>offset</key>
                <string>{-2,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,162},{70,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1005_0_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,450},{54,96}}</string>
                <key>offset</key>
                <string>{-2,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,164},{54,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1005_0_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,176},{72,102}}</string>
                <key>offset</key>
                <string>{0,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,162},{72,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1005_0_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,402},{64,96}}</string>
                <key>offset</key>
                <string>{-1,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,165},{64,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1005_0_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,248},{60,102}}</string>
                <key>offset</key>
                <string>{-1,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,163},{60,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1005_0_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,112},{44,106}}</string>
                <key>offset</key>
                <string>{-1,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,164},{44,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1005_0_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,450},{50,90}}</string>
                <key>offset</key>
                <string>{0,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,168},{50,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1005_0_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,70},{50,106}}</string>
                <key>offset</key>
                <string>{0,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,165},{50,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1005_0_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,352},{50,98}}</string>
                <key>offset</key>
                <string>{-3,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,166},{50,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1005_0_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,144},{44,104}}</string>
                <key>offset</key>
                <string>{-2,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,164},{44,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1005_0.png</string>
            <key>size</key>
            <string>{332,504}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:beec9b3eb3beebf393770693bca5a1ad:1/1$</string>
            <key>textureFileName</key>
            <string>1005_0.png</string>
        </dict>
    </dict>
</plist>
