<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1005_6_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,412},{48,100}}</string>
                <key>offset</key>
                <string>{-2,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,160},{48,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1005_6_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,314},{54,100}}</string>
                <key>offset</key>
                <string>{0,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,160},{54,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1005_6_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,362},{50,100}}</string>
                <key>offset</key>
                <string>{0,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,160},{50,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1005_6_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,106},{52,110}}</string>
                <key>offset</key>
                <string>{-1,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,152},{52,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1005_6_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,362},{48,102}}</string>
                <key>offset</key>
                <string>{-2,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,159},{48,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1005_6_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,460},{44,106}}</string>
                <key>offset</key>
                <string>{2,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,156},{44,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1005_6_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,324},{48,106}}</string>
                <key>offset</key>
                <string>{3,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,156},{48,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1005_6_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,256},{54,104}}</string>
                <key>offset</key>
                <string>{4,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,157},{54,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1005_6_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,256},{44,106}}</string>
                <key>offset</key>
                <string>{4,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,156},{44,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1005_6_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,460},{44,102}}</string>
                <key>offset</key>
                <string>{7,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,159},{44,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1005_6_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,208},{54,106}}</string>
                <key>offset</key>
                <string>{4,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,156},{54,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1005_6_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,156},{52,106}}</string>
                <key>offset</key>
                <string>{5,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,156},{52,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1005_6_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,0},{54,106}}</string>
                <key>offset</key>
                <string>{4,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,156},{54,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1005_6_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,106},{66,104}}</string>
                <key>offset</key>
                <string>{13,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,158},{66,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1005_6_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,310},{52,104}}</string>
                <key>offset</key>
                <string>{10,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,158},{52,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1005_6_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,0},{56,106}}</string>
                <key>offset</key>
                <string>{6,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,157},{56,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1005_6_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,322},{56,106}}</string>
                <key>offset</key>
                <string>{6,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,157},{56,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1005_6_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,0},{64,106}}</string>
                <key>offset</key>
                <string>{6,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,157},{64,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1005_6_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{66,106}}</string>
                <key>offset</key>
                <string>{7,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,157},{66,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1005_6_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,0},{58,106}}</string>
                <key>offset</key>
                <string>{4,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,157},{58,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1005_6_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,208},{48,112}}</string>
                <key>offset</key>
                <string>{4,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,159},{48,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1005_6_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,210},{56,112}}</string>
                <key>offset</key>
                <string>{1,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,159},{56,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1005_6_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,158},{50,112}}</string>
                <key>offset</key>
                <string>{2,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,159},{50,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1005_6_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,106},{50,112}}</string>
                <key>offset</key>
                <string>{2,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,159},{50,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1005_6_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,210},{48,114}}</string>
                <key>offset</key>
                <string>{3,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,158},{48,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1005_6.png</string>
            <key>size</key>
            <string>{306,504}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:736d307c636cc5e13e071c8ad29a98e6:1/1$</string>
            <key>textureFileName</key>
            <string>1005_6.png</string>
        </dict>
    </dict>
</plist>
