<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1005_2_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,0},{54,108}}</string>
                <key>offset</key>
                <string>{-4,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,164},{54,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1005_2_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,112},{66,104}}</string>
                <key>offset</key>
                <string>{-9,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,167},{66,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1005_2_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,0},{56,106}}</string>
                <key>offset</key>
                <string>{-4,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,165},{56,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1005_2_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,0},{60,110}}</string>
                <key>offset</key>
                <string>{-5,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,162},{60,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1005_2_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,128},{52,112}}</string>
                <key>offset</key>
                <string>{-1,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,160},{52,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1005_2_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,0},{58,106}}</string>
                <key>offset</key>
                <string>{-7,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,166},{58,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1005_2_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,0},{60,106}}</string>
                <key>offset</key>
                <string>{-2,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,165},{60,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1005_2_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,0},{62,108}}</string>
                <key>offset</key>
                <string>{-1,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,163},{62,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1005_2_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,0},{62,112}}</string>
                <key>offset</key>
                <string>{3,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,160},{62,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1005_2_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,0},{54,112}}</string>
                <key>offset</key>
                <string>{-2,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,160},{54,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1005_2_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,0},{84,102}}</string>
                <key>offset</key>
                <string>{-1,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,163},{84,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1005_2_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,100},{80,94}}</string>
                <key>offset</key>
                <string>{1,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,170},{80,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1005_2_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,0},{82,98}}</string>
                <key>offset</key>
                <string>{0,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,166},{82,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1005_2_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,0},{82,100}}</string>
                <key>offset</key>
                <string>{0,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,164},{82,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1005_2_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,0},{80,104}}</string>
                <key>offset</key>
                <string>{1,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,161},{80,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1005_2_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,0},{82,106}}</string>
                <key>offset</key>
                <string>{1,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,159},{82,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1005_2_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,106},{72,88}}</string>
                <key>offset</key>
                <string>{6,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,177},{72,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1005_2_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,106},{72,90}}</string>
                <key>offset</key>
                <string>{6,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,175},{72,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1005_2_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,102},{78,96}}</string>
                <key>offset</key>
                <string>{3,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,169},{78,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1005_2_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,108},{72,102}}</string>
                <key>offset</key>
                <string>{6,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,163},{72,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1005_2_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{54,128}}</string>
                <key>offset</key>
                <string>{4,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,148},{54,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1005_2_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,110},{64,90}}</string>
                <key>offset</key>
                <string>{10,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,186},{64,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1005_2_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,104},{58,94}}</string>
                <key>offset</key>
                <string>{5,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,182},{58,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1005_2_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,106},{60,102}}</string>
                <key>offset</key>
                <string>{7,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,174},{60,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1005_2_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,0},{52,110}}</string>
                <key>offset</key>
                <string>{3,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,166},{52,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1005_2.png</string>
            <key>size</key>
            <string>{982,180}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:812739156d6c1de06d89a1234bb061da:1/1$</string>
            <key>textureFileName</key>
            <string>1005_2.png</string>
        </dict>
    </dict>
</plist>
