<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1005_5_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,94},{70,92}}</string>
                <key>offset</key>
                <string>{6,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,113},{70,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1005_5_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,78},{70,92}}</string>
                <key>offset</key>
                <string>{6,94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,116},{70,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1005_5_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,186},{76,92}}</string>
                <key>offset</key>
                <string>{6,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,119},{76,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1005_5_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,94},{78,92}}</string>
                <key>offset</key>
                <string>{7,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,117},{78,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1005_5_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,292},{72,92}}</string>
                <key>offset</key>
                <string>{7,96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,114},{72,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1005_5_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,196},{74,96}}</string>
                <key>offset</key>
                <string>{-6,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,113},{74,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1005_5_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,100},{74,96}}</string>
                <key>offset</key>
                <string>{-7,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,116},{74,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1005_5_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,0},{78,94}}</string>
                <key>offset</key>
                <string>{-9,90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,119},{78,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1005_5_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,0},{82,92}}</string>
                <key>offset</key>
                <string>{-10,90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,120},{82,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1005_5_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,0},{78,94}}</string>
                <key>offset</key>
                <string>{-8,93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,116},{78,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1005_5_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,100},{82,100}}</string>
                <key>offset</key>
                <string>{-15,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,114},{82,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1005_5_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{84,100}}</string>
                <key>offset</key>
                <string>{-16,90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,116},{84,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1005_5_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,200},{82,96}}</string>
                <key>offset</key>
                <string>{-16,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,120},{82,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1005_5_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,0},{84,94}}</string>
                <key>offset</key>
                <string>{-16,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,120},{84,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1005_5_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,0},{82,98}}</string>
                <key>offset</key>
                <string>{-15,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,116},{82,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1005_5_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,194},{58,96}}</string>
                <key>offset</key>
                <string>{-5,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,115},{58,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1005_5_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,98},{58,96}}</string>
                <key>offset</key>
                <string>{-5,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,117},{58,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1005_5_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,186},{62,92}}</string>
                <key>offset</key>
                <string>{-7,90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,120},{62,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1005_5_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,296},{64,90}}</string>
                <key>offset</key>
                <string>{-8,90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,121},{64,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1005_5_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,238},{60,92}}</string>
                <key>offset</key>
                <string>{-6,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,118},{60,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1005_5_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,290},{72,88}}</string>
                <key>offset</key>
                <string>{-5,95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,117},{72,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1005_5_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,148},{70,90}}</string>
                <key>offset</key>
                <string>{-5,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,117},{70,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1005_5_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,186},{76,88}}</string>
                <key>offset</key>
                <string>{-5,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,121},{76,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1005_5_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,278},{78,84}}</string>
                <key>offset</key>
                <string>{-5,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,122},{78,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1005_5_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,274},{76,84}}</string>
                <key>offset</key>
                <string>{-5,94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,120},{76,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1005_5.png</string>
            <key>size</key>
            <string>{504,364}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0a547633728f323d30616535d9e7bb45:1/1$</string>
            <key>textureFileName</key>
            <string>1005_5.png</string>
        </dict>
    </dict>
</plist>
