<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1007_5_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,442},{56,94}}</string>
                <key>offset</key>
                <string>{0,98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,111},{56,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1007_5_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,292},{56,94}}</string>
                <key>offset</key>
                <string>{0,95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,114},{56,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1007_5_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,348},{58,94}}</string>
                <key>offset</key>
                <string>{0,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,117},{58,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1007_5_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,174},{58,92}}</string>
                <key>offset</key>
                <string>{0,93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,117},{58,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1007_5_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,116},{58,92}}</string>
                <key>offset</key>
                <string>{-1,96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,114},{58,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1007_5_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,98},{84,100}}</string>
                <key>offset</key>
                <string>{-9,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,110},{84,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1007_5_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,198},{82,98}}</string>
                <key>offset</key>
                <string>{-8,93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,114},{82,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1007_5_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,96},{92,96}}</string>
                <key>offset</key>
                <string>{-13,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,117},{92,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1007_5_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{92,96}}</string>
                <key>offset</key>
                <string>{-12,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,116},{92,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1007_5_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,102},{88,96}}</string>
                <key>offset</key>
                <string>{-10,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,114},{88,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1007_5_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,392},{80,104}}</string>
                <key>offset</key>
                <string>{-14,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,110},{80,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1007_5_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,0},{84,102}}</string>
                <key>offset</key>
                <string>{-16,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,114},{84,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1007_5_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,192},{86,100}}</string>
                <key>offset</key>
                <string>{-18,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,117},{86,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1007_5_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,0},{88,98}}</string>
                <key>offset</key>
                <string>{-18,90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,117},{88,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1007_5_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,292},{84,100}}</string>
                <key>offset</key>
                <string>{-16,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,114},{84,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1007_5_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,338},{58,102}}</string>
                <key>offset</key>
                <string>{-2,96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,109},{58,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1007_5_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,232},{60,102}}</string>
                <key>offset</key>
                <string>{-4,94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,111},{60,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1007_5_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,396},{60,100}}</string>
                <key>offset</key>
                <string>{-4,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,113},{60,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1007_5_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,198},{62,98}}</string>
                <key>offset</key>
                <string>{-4,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,114},{62,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1007_5_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,396},{60,100}}</string>
                <key>offset</key>
                <string>{-3,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,111},{60,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1007_5_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,394},{58,96}}</string>
                <key>offset</key>
                <string>{1,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,109},{58,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1007_5_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,296},{58,98}}</string>
                <key>offset</key>
                <string>{1,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,110},{58,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1007_5_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,280},{58,98}}</string>
                <key>offset</key>
                <string>{1,95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,112},{58,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1007_5_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,58},{58,92}}</string>
                <key>offset</key>
                <string>{2,96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,114},{58,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1007_5_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,0},{58,92}}</string>
                <key>offset</key>
                <string>{2,98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,112},{58,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1007_5.png</string>
            <key>size</key>
            <string>{356,498}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8a8e78c353357a96e724800fc1c9f04d:1/1$</string>
            <key>textureFileName</key>
            <string>1007_5.png</string>
        </dict>
    </dict>
</plist>
