<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1007_3_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,112},{58,106}}</string>
                <key>offset</key>
                <string>{-2,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,156},{58,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1007_3_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,426},{48,104}}</string>
                <key>offset</key>
                <string>{-3,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,158},{48,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1007_3_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,218},{58,104}}</string>
                <key>offset</key>
                <string>{3,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,159},{58,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1007_3_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,322},{54,104}}</string>
                <key>offset</key>
                <string>{2,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,160},{54,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1007_3_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{58,112}}</string>
                <key>offset</key>
                <string>{3,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,159},{58,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1007_3.png</string>
            <key>size</key>
            <string>{58,530}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fa6c0bffd91a54f48b48644e2697a416:1/1$</string>
            <key>textureFileName</key>
            <string>1007_3.png</string>
        </dict>
    </dict>
</plist>
