<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1008_1_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,0},{50,110}}</string>
                <key>offset</key>
                <string>{0,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,152},{50,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1008_1_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,0},{48,108}}</string>
                <key>offset</key>
                <string>{1,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,154},{48,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1008_1_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,0},{50,108}}</string>
                <key>offset</key>
                <string>{1,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,154},{50,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1008_1_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,0},{50,108}}</string>
                <key>offset</key>
                <string>{2,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,154},{50,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1008_1_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,0},{44,112}}</string>
                <key>offset</key>
                <string>{-5,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,152},{44,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1008_1_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,0},{44,112}}</string>
                <key>offset</key>
                <string>{-5,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,152},{44,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1008_1_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,0},{46,112}}</string>
                <key>offset</key>
                <string>{-6,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,152},{46,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1008_1_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,0},{46,112}}</string>
                <key>offset</key>
                <string>{-5,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,152},{46,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1008_1_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,0},{42,112}}</string>
                <key>offset</key>
                <string>{-7,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,153},{42,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1008_1_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,0},{42,112}}</string>
                <key>offset</key>
                <string>{-7,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,153},{42,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1008_1_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,44},{44,114}}</string>
                <key>offset</key>
                <string>{-8,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,151},{44,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1008_1_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,0},{44,114}}</string>
                <key>offset</key>
                <string>{-8,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,151},{44,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1008_1_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,0},{50,112}}</string>
                <key>offset</key>
                <string>{-3,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,151},{50,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1008_1_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,0},{50,112}}</string>
                <key>offset</key>
                <string>{-4,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,151},{50,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1008_1_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,0},{50,112}}</string>
                <key>offset</key>
                <string>{-4,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,151},{50,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1008_1_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,0},{48,112}}</string>
                <key>offset</key>
                <string>{-3,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,151},{48,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1008_1_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,0},{50,112}}</string>
                <key>offset</key>
                <string>{0,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,151},{50,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1008_1_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,0},{48,112}}</string>
                <key>offset</key>
                <string>{1,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,151},{48,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1008_1_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,0},{48,112}}</string>
                <key>offset</key>
                <string>{0,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,151},{48,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1008_1_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{50,112}}</string>
                <key>offset</key>
                <string>{0,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,151},{50,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1008_1.png</string>
            <key>size</key>
            <string>{970,112}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:781710512c664b10db46b4ddeda2d8ce:1/1$</string>
            <key>textureFileName</key>
            <string>1008_1.png</string>
        </dict>
    </dict>
</plist>
