<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1008_4_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,100},{76,100}}</string>
                <key>offset</key>
                <string>{-1,96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,110},{76,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1008_4_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,0},{76,100}}</string>
                <key>offset</key>
                <string>{-2,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,110},{76,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1008_4_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,106},{76,100}}</string>
                <key>offset</key>
                <string>{-2,96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,110},{76,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1008_4_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,106},{76,100}}</string>
                <key>offset</key>
                <string>{-1,96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,110},{76,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1008_4_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,0},{82,108}}</string>
                <key>offset</key>
                <string>{-9,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,108},{82,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1008_4_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,0},{82,106}}</string>
                <key>offset</key>
                <string>{-8,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,110},{82,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1008_4_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,0},{82,106}}</string>
                <key>offset</key>
                <string>{-9,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,110},{82,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1008_4_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,0},{82,106}}</string>
                <key>offset</key>
                <string>{-9,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,110},{82,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1008_4_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,0},{82,108}}</string>
                <key>offset</key>
                <string>{-19,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,110},{82,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1008_4_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,0},{82,106}}</string>
                <key>offset</key>
                <string>{-20,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,111},{82,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1008_4_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,0},{82,108}}</string>
                <key>offset</key>
                <string>{-20,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,111},{82,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1008_4_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{82,108}}</string>
                <key>offset</key>
                <string>{-20,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,111},{82,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1008_4_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,108},{64,106}}</string>
                <key>offset</key>
                <string>{-10,91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,112},{64,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1008_4_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,108},{64,104}}</string>
                <key>offset</key>
                <string>{-10,92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,112},{64,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1008_4_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,108},{64,104}}</string>
                <key>offset</key>
                <string>{-10,90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,114},{64,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1008_4_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,108},{66,106}}</string>
                <key>offset</key>
                <string>{-10,91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,112},{66,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1008_4_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,0},{76,98}}</string>
                <key>offset</key>
                <string>{3,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,114},{76,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1008_4_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,106},{76,100}}</string>
                <key>offset</key>
                <string>{2,93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,113},{76,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1008_4_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,76},{76,98}}</string>
                <key>offset</key>
                <string>{2,93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,114},{76,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1008_4_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,0},{76,98}}</string>
                <key>offset</key>
                <string>{3,93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,114},{76,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1008_4.png</string>
            <key>size</key>
            <string>{918,182}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:caf24501166442d40a15587c02de6d9f:1/1$</string>
            <key>textureFileName</key>
            <string>1008_4.png</string>
        </dict>
    </dict>
</plist>
