<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1008_6_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,116},{76,116}}</string>
                <key>offset</key>
                <string>{-9,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,150},{76,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1008_6_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,116},{76,114}}</string>
                <key>offset</key>
                <string>{-9,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,152},{76,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1008_6_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,116},{74,114}}</string>
                <key>offset</key>
                <string>{-10,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,152},{74,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1008_6_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,0},{64,116}}</string>
                <key>offset</key>
                <string>{-8,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,150},{64,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1008_6_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,0},{68,116}}</string>
                <key>offset</key>
                <string>{-10,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,150},{68,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1008_6_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,0},{60,116}}</string>
                <key>offset</key>
                <string>{-4,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,154},{60,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1008_6_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,0},{60,116}}</string>
                <key>offset</key>
                <string>{-5,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,154},{60,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1008_6_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,0},{60,116}}</string>
                <key>offset</key>
                <string>{-3,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,154},{60,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1008_6_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{60,120}}</string>
                <key>offset</key>
                <string>{-7,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,150},{60,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1008_6_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,0},{66,118}}</string>
                <key>offset</key>
                <string>{-2,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,152},{66,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1008_6_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,0},{50,114}}</string>
                <key>offset</key>
                <string>{-1,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,153},{50,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1008_6_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,0},{52,114}}</string>
                <key>offset</key>
                <string>{1,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,153},{52,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1008_6_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,0},{50,114}}</string>
                <key>offset</key>
                <string>{0,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,153},{50,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1008_6_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,120},{72,118}}</string>
                <key>offset</key>
                <string>{10,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,149},{72,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1008_6_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,0},{62,114}}</string>
                <key>offset</key>
                <string>{9,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,153},{62,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1008_6_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,0},{70,106}}</string>
                <key>offset</key>
                <string>{4,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,153},{70,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1008_6_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,116},{76,106}}</string>
                <key>offset</key>
                <string>{7,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,153},{76,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1008_6_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,114},{74,106}}</string>
                <key>offset</key>
                <string>{7,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,153},{74,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1008_6_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,114},{72,106}}</string>
                <key>offset</key>
                <string>{9,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,153},{72,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1008_6_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,112},{62,104}}</string>
                <key>offset</key>
                <string>{3,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,155},{62,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1008_6_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,118},{74,114}}</string>
                <key>offset</key>
                <string>{10,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,153},{74,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1008_6_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,0},{76,116}}</string>
                <key>offset</key>
                <string>{10,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,152},{76,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1008_6_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,0},{76,116}}</string>
                <key>offset</key>
                <string>{12,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,152},{76,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1008_6_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,0},{62,112}}</string>
                <key>offset</key>
                <string>{9,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,156},{62,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1008_6_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,0},{66,112}}</string>
                <key>offset</key>
                <string>{11,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,156},{66,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1008_6.png</string>
            <key>size</key>
            <string>{1003,192}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3ab18909ed6fa8dd2487dfb954b80d45:1/1$</string>
            <key>textureFileName</key>
            <string>1008_6.png</string>
        </dict>
    </dict>
</plist>
