<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1008_5_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,78},{86,106}}</string>
                <key>offset</key>
                <string>{-1,96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,107},{86,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1008_5_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,72},{82,104}}</string>
                <key>offset</key>
                <string>{-1,95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,109},{82,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1008_5_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,0},{78,102}}</string>
                <key>offset</key>
                <string>{0,93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,112},{78,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1008_5_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,70},{82,104}}</string>
                <key>offset</key>
                <string>{0,93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,111},{82,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1008_5_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,78},{86,104}}</string>
                <key>offset</key>
                <string>{-1,94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,110},{86,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1008_5_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,164},{90,106}}</string>
                <key>offset</key>
                <string>{-2,95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,108},{90,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1008_5_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,164},{90,104}}</string>
                <key>offset</key>
                <string>{-2,94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,110},{90,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1008_5_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,164},{90,100}}</string>
                <key>offset</key>
                <string>{-3,92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,114},{90,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1008_5_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,164},{90,102}}</string>
                <key>offset</key>
                <string>{-2,92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,113},{90,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1008_5_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,164},{90,104}}</string>
                <key>offset</key>
                <string>{-1,93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,111},{90,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1008_5_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,154},{88,102}}</string>
                <key>offset</key>
                <string>{-17,94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,111},{88,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1008_5_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,78},{86,102}}</string>
                <key>offset</key>
                <string>{-17,92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,113},{86,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1008_5_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,152},{86,100}}</string>
                <key>offset</key>
                <string>{-18,91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,115},{86,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1008_5_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,150},{86,98}}</string>
                <key>offset</key>
                <string>{-17,92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,115},{86,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1008_5_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,78},{86,100}}</string>
                <key>offset</key>
                <string>{-16,93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,113},{86,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1008_5_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,0},{70,90}}</string>
                <key>offset</key>
                <string>{-8,94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,117},{70,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1008_5_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{68,92}}</string>
                <key>offset</key>
                <string>{-7,93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,117},{68,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1008_5_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,0},{68,88}}</string>
                <key>offset</key>
                <string>{-7,91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,121},{68,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1008_5_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,0},{70,90}}</string>
                <key>offset</key>
                <string>{-8,90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,121},{70,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1008_5_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,0},{72,90}}</string>
                <key>offset</key>
                <string>{-9,92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,119},{72,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1008_5_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,68},{84,80}}</string>
                <key>offset</key>
                <string>{2,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,118},{84,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1008_5_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,68},{82,82}}</string>
                <key>offset</key>
                <string>{2,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,118},{82,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1008_5_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,0},{78,80}}</string>
                <key>offset</key>
                <string>{2,95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,121},{78,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1008_5_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,0},{82,78}}</string>
                <key>offset</key>
                <string>{2,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,122},{82,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1008_5_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,0},{86,78}}</string>
                <key>offset</key>
                <string>{2,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,120},{86,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1008_5.png</string>
            <key>size</key>
            <string>{816,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bb019d6fc0c141e56fb546181effb369:1/1$</string>
            <key>textureFileName</key>
            <string>1008_5.png</string>
        </dict>
    </dict>
</plist>
