<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1008_3_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,66},{62,110}}</string>
                <key>offset</key>
                <string>{0,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,156},{62,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1008_3_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,0},{66,114}}</string>
                <key>offset</key>
                <string>{-4,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,156},{66,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1008_3_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,0},{66,110}}</string>
                <key>offset</key>
                <string>{-1,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,157},{66,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1008_3_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{82,100}}</string>
                <key>offset</key>
                <string>{1,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,159},{82,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1008_3_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,66},{62,110}}</string>
                <key>offset</key>
                <string>{1,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,158},{62,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1008_3.png</string>
            <key>size</key>
            <string>{306,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9fb97237ba9261aa989457b26c614b13:1/1$</string>
            <key>textureFileName</key>
            <string>1008_3.png</string>
        </dict>
    </dict>
</plist>
