<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1009_7_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,78},{64,90}}</string>
                <key>offset</key>
                <string>{-2,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,178},{64,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1009_7_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,118},{58,112}}</string>
                <key>offset</key>
                <string>{-4,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,157},{58,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1009_7_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,0},{54,116}}</string>
                <key>offset</key>
                <string>{-2,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,152},{54,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1009_7_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,116},{62,104}}</string>
                <key>offset</key>
                <string>{1,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,164},{62,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1009_7_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,0},{56,106}}</string>
                <key>offset</key>
                <string>{-3,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,162},{56,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1009_7_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,0},{62,92}}</string>
                <key>offset</key>
                <string>{-9,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,180},{62,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1009_7_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,0},{52,112}}</string>
                <key>offset</key>
                <string>{-13,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,160},{52,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1009_7_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,0},{54,118}}</string>
                <key>offset</key>
                <string>{-15,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,154},{54,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1009_7_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,118},{56,112}}</string>
                <key>offset</key>
                <string>{-17,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,160},{56,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1009_7_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,0},{52,110}}</string>
                <key>offset</key>
                <string>{-13,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,162},{52,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1009_7_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,110},{68,86}}</string>
                <key>offset</key>
                <string>{-6,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,183},{68,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1009_7_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,0},{68,112}}</string>
                <key>offset</key>
                <string>{-6,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,157},{68,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1009_7_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,0},{66,118}}</string>
                <key>offset</key>
                <string>{-5,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,151},{66,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1009_7_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,112},{66,110}}</string>
                <key>offset</key>
                <string>{-5,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,159},{66,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1009_7_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,110},{68,108}}</string>
                <key>offset</key>
                <string>{-6,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,161},{68,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1009_7_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,0},{80,78}}</string>
                <key>offset</key>
                <string>{0,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,183},{80,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1009_7_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,0},{74,110}}</string>
                <key>offset</key>
                <string>{3,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,151},{74,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1009_7_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,0},{78,116}}</string>
                <key>offset</key>
                <string>{1,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,145},{78,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1009_7_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,100},{78,100}}</string>
                <key>offset</key>
                <string>{1,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,161},{78,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1009_7_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,0},{78,100}}</string>
                <key>offset</key>
                <string>{1,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,161},{78,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1009_7_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,106},{64,94}}</string>
                <key>offset</key>
                <string>{3,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,177},{64,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1009_7_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,0},{58,128}}</string>
                <key>offset</key>
                <string>{6,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,143},{58,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1009_7_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{54,130}}</string>
                <key>offset</key>
                <string>{4,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,141},{54,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1009_7_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,0},{64,110}}</string>
                <key>offset</key>
                <string>{0,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,161},{64,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1009_7_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,0},{56,110}}</string>
                <key>offset</key>
                <string>{5,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,161},{56,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1009_7.png</string>
            <key>size</key>
            <string>{1010,178}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:74de488e647c8d09a9a823d1ea9bc9c1:1/1$</string>
            <key>textureFileName</key>
            <string>1009_7.png</string>
        </dict>
    </dict>
</plist>
