<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1009_0_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,282},{54,106}}</string>
                <key>offset</key>
                <string>{-3,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,156},{54,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1009_0_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,398},{46,106}}</string>
                <key>offset</key>
                <string>{2,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,158},{46,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1009_0_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,398},{46,112}}</string>
                <key>offset</key>
                <string>{4,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,155},{46,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1009_0_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,268},{56,100}}</string>
                <key>offset</key>
                <string>{1,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,158},{56,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1009_0_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,282},{58,116}}</string>
                <key>offset</key>
                <string>{-3,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,155},{58,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1009_0_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,184},{80,98}}</string>
                <key>offset</key>
                <string>{-3,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,157},{80,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1009_0_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,80},{58,104}}</string>
                <key>offset</key>
                <string>{-8,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,159},{58,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1009_0_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,282},{66,102}}</string>
                <key>offset</key>
                <string>{-3,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,158},{66,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1009_0_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,184},{68,98}}</string>
                <key>offset</key>
                <string>{-6,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,159},{68,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1009_0_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,0},{70,108}}</string>
                <key>offset</key>
                <string>{-8,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,156},{70,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1009_0_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{98,92}}</string>
                <key>offset</key>
                <string>{-1,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,161},{98,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1009_0_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,184},{70,98}}</string>
                <key>offset</key>
                <string>{-9,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,163},{70,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1009_0_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,70},{76,96}}</string>
                <key>offset</key>
                <string>{-9,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,159},{76,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1009_0_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,92},{92,92}}</string>
                <key>offset</key>
                <string>{-2,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,161},{92,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1009_0_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,384},{70,94}}</string>
                <key>offset</key>
                <string>{-6,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,163},{70,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1009_0_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,166},{68,102}}</string>
                <key>offset</key>
                <string>{-2,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,164},{68,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1009_0_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,92},{64,92}}</string>
                <key>offset</key>
                <string>{-7,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,167},{64,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1009_0_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,0},{80,100}}</string>
                <key>offset</key>
                <string>{-5,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,164},{80,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1009_0_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,388},{70,94}}</string>
                <key>offset</key>
                <string>{-4,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,167},{70,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1009_0_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,268},{62,100}}</string>
                <key>offset</key>
                <string>{-2,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,164},{62,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1009_0_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,368},{54,104}}</string>
                <key>offset</key>
                <string>{4,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,166},{54,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1009_0_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,70},{46,90}}</string>
                <key>offset</key>
                <string>{-1,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,168},{46,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1009_0_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,282},{46,106}}</string>
                <key>offset</key>
                <string>{-2,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,165},{46,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1009_0_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,368},{54,96}}</string>
                <key>offset</key>
                <string>{0,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,167},{54,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1009_0_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,166},{56,102}}</string>
                <key>offset</key>
                <string>{4,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,166},{56,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1009_0.png</string>
            <key>size</key>
            <string>{343,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5c3a8738cee9e391a72a4a568cac9aba:1/1$</string>
            <key>textureFileName</key>
            <string>1009_0.png</string>
        </dict>
    </dict>
</plist>
