<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1009_5_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,0},{68,92}}</string>
                <key>offset</key>
                <string>{-1,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,113},{68,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1009_5_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,0},{64,92}}</string>
                <key>offset</key>
                <string>{2,94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,116},{64,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1009_5_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,254},{72,92}}</string>
                <key>offset</key>
                <string>{2,91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,119},{72,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1009_5_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{78,92}}</string>
                <key>offset</key>
                <string>{2,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,117},{78,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1009_5_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,92},{70,92}}</string>
                <key>offset</key>
                <string>{2,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,114},{70,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1009_5_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,184},{70,96}}</string>
                <key>offset</key>
                <string>{-4,95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,113},{70,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1009_5_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,0},{64,96}}</string>
                <key>offset</key>
                <string>{-2,93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,115},{64,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1009_5_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,174},{66,94}}</string>
                <key>offset</key>
                <string>{-3,90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,119},{66,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1009_5_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,92},{74,92}}</string>
                <key>offset</key>
                <string>{-6,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,119},{74,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1009_5_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,184},{72,94}}</string>
                <key>offset</key>
                <string>{-5,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,116},{72,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1009_5_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,0},{58,98}}</string>
                <key>offset</key>
                <string>{-3,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,115},{58,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1009_5_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,278},{58,98}}</string>
                <key>offset</key>
                <string>{-3,90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,117},{58,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1009_5_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,64},{62,94}}</string>
                <key>offset</key>
                <string>{-6,87}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,122},{62,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1009_5_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,274},{62,92}}</string>
                <key>offset</key>
                <string>{-5,88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,122},{62,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1009_5_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,214},{60,96}}</string>
                <key>offset</key>
                <string>{-4,91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,117},{60,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1009_5_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,152},{62,94}}</string>
                <key>offset</key>
                <string>{-6,93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,116},{62,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1009_5_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,0},{64,94}}</string>
                <key>offset</key>
                <string>{-7,91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,118},{64,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1009_5_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,64},{68,90}}</string>
                <key>offset</key>
                <string>{-9,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,122},{68,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1009_5_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,154},{70,86}}</string>
                <key>offset</key>
                <string>{-10,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,124},{70,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1009_5_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,240},{66,90}}</string>
                <key>offset</key>
                <string>{-8,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,120},{66,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1009_5_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,64},{68,88}}</string>
                <key>offset</key>
                <string>{2,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,116},{68,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1009_5_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,126},{64,88}}</string>
                <key>offset</key>
                <string>{0,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,118},{64,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1009_5_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,240},{72,86}}</string>
                <key>offset</key>
                <string>{-1,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,122},{72,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1009_5_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,92},{76,82}}</string>
                <key>offset</key>
                <string>{-1,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,123},{76,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1009_5_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,240},{70,84}}</string>
                <key>offset</key>
                <string>{0,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,120},{70,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1009_5.png</string>
            <key>size</key>
            <string>{508,336}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2855e3abe97c8f35fc83ee38f54b86c1:1/1$</string>
            <key>textureFileName</key>
            <string>1009_5.png</string>
        </dict>
    </dict>
</plist>
