<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1009_3_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,302},{48,104}}</string>
                <key>offset</key>
                <string>{3,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,158},{48,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1009_3_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,406},{44,104}}</string>
                <key>offset</key>
                <string>{-1,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,158},{44,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1009_3_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{56,100}}</string>
                <key>offset</key>
                <string>{4,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,162},{56,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1009_3_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,100},{54,98}}</string>
                <key>offset</key>
                <string>{2,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,165},{54,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1009_3_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,198},{48,104}}</string>
                <key>offset</key>
                <string>{-2,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,166},{48,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1009_3.png</string>
            <key>size</key>
            <string>{56,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aa04d9ec1eb184f934404884988c1bee:1/1$</string>
            <key>textureFileName</key>
            <string>1009_3.png</string>
        </dict>
    </dict>
</plist>
