<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1010_2_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,116},{56,104}}</string>
                <key>offset</key>
                <string>{-3,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,170},{56,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1010_2_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,110},{82,110}}</string>
                <key>offset</key>
                <string>{-21,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,163},{82,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1010_2_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,0},{64,118}}</string>
                <key>offset</key>
                <string>{-13,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,155},{64,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1010_2_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,0},{60,122}}</string>
                <key>offset</key>
                <string>{-2,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,151},{60,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1010_2_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,0},{60,122}}</string>
                <key>offset</key>
                <string>{-4,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,151},{60,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1010_2_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,112},{64,108}}</string>
                <key>offset</key>
                <string>{-10,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,165},{64,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1010_2_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,0},{68,114}}</string>
                <key>offset</key>
                <string>{-2,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,159},{68,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1010_2_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,0},{78,122}}</string>
                <key>offset</key>
                <string>{-5,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,151},{78,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1010_2_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,0},{74,122}}</string>
                <key>offset</key>
                <string>{-6,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,151},{74,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1010_2_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,0},{62,124}}</string>
                <key>offset</key>
                <string>{-9,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,149},{62,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1010_2_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,126},{94,110}}</string>
                <key>offset</key>
                <string>{-7,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,154},{94,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1010_2_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,132},{88,98}}</string>
                <key>offset</key>
                <string>{-3,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,166},{88,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1010_2_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,122},{94,108}}</string>
                <key>offset</key>
                <string>{-7,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,156},{94,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1010_2_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,0},{86,112}}</string>
                <key>offset</key>
                <string>{-3,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,152},{86,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1010_2_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,122},{92,116}}</string>
                <key>offset</key>
                <string>{-6,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,148},{92,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1010_2_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,122},{96,118}}</string>
                <key>offset</key>
                <string>{-6,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,146},{96,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1010_2_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,114},{90,88}}</string>
                <key>offset</key>
                <string>{11,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,176},{90,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1010_2_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,118},{92,100}}</string>
                <key>offset</key>
                <string>{-4,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,164},{92,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1010_2_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,0},{84,110}}</string>
                <key>offset</key>
                <string>{0,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,154},{84,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1010_2_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,0},{90,116}}</string>
                <key>offset</key>
                <string>{-3,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,148},{90,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1010_2_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{56,132}}</string>
                <key>offset</key>
                <string>{4,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,143},{56,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1010_2_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,116},{82,92}}</string>
                <key>offset</key>
                <string>{23,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,183},{82,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1010_2_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,0},{66,118}}</string>
                <key>offset</key>
                <string>{14,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,157},{66,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1010_2_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,0},{60,118}}</string>
                <key>offset</key>
                <string>{3,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,157},{60,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1010_2_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,0},{60,126}}</string>
                <key>offset</key>
                <string>{5,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,149},{60,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1010_2.png</string>
            <key>size</key>
            <string>{1016,220}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dd67611d2656fd80822e20243a56d9eb:1/1$</string>
            <key>textureFileName</key>
            <string>1010_2.png</string>
        </dict>
    </dict>
</plist>
