<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1010_1_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,0},{50,112}}</string>
                <key>offset</key>
                <string>{0,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,150},{50,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1010_1_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,0},{48,110}}</string>
                <key>offset</key>
                <string>{1,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,152},{48,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1010_1_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,0},{48,110}}</string>
                <key>offset</key>
                <string>{1,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,152},{48,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1010_1_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,0},{48,112}}</string>
                <key>offset</key>
                <string>{1,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,150},{48,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1010_1_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,0},{44,116}}</string>
                <key>offset</key>
                <string>{-5,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,148},{44,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1010_1_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,0},{46,114}}</string>
                <key>offset</key>
                <string>{-6,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,150},{46,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1010_1_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,0},{44,114}}</string>
                <key>offset</key>
                <string>{-6,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,150},{44,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1010_1_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,0},{46,116}}</string>
                <key>offset</key>
                <string>{-6,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,148},{46,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1010_1_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,0},{44,120}}</string>
                <key>offset</key>
                <string>{-6,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,145},{44,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1010_1_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,0},{42,120}}</string>
                <key>offset</key>
                <string>{-5,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,145},{42,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1010_1_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,0},{42,120}}</string>
                <key>offset</key>
                <string>{-5,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,145},{42,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1010_1_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,0},{48,120}}</string>
                <key>offset</key>
                <string>{-8,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,145},{48,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1010_1_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,0},{50,122}}</string>
                <key>offset</key>
                <string>{-1,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,141},{50,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1010_1_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,0},{48,122}}</string>
                <key>offset</key>
                <string>{-1,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,141},{48,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1010_1_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,0},{50,122}}</string>
                <key>offset</key>
                <string>{-1,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,141},{50,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1010_1_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{56,122}}</string>
                <key>offset</key>
                <string>{-3,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,141},{56,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1010_1_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,0},{48,122}}</string>
                <key>offset</key>
                <string>{1,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,141},{48,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1010_1_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,0},{48,122}}</string>
                <key>offset</key>
                <string>{1,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,141},{48,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1010_1_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,0},{48,122}}</string>
                <key>offset</key>
                <string>{0,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,141},{48,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1010_1_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,0},{48,122}}</string>
                <key>offset</key>
                <string>{1,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,141},{48,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1010_1.png</string>
            <key>size</key>
            <string>{946,122}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f96aae5d5e878fd22d4bbd5747912d98:1/1$</string>
            <key>textureFileName</key>
            <string>1010_1.png</string>
        </dict>
    </dict>
</plist>
