<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1010_3_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,0},{52,120}}</string>
                <key>offset</key>
                <string>{3,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,146},{52,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1010_3_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{48,124}}</string>
                <key>offset</key>
                <string>{-1,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,146},{48,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1010_3_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,0},{54,118}}</string>
                <key>offset</key>
                <string>{-2,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,149},{54,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1010_3_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,52},{68,108}}</string>
                <key>offset</key>
                <string>{-3,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,151},{68,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1010_3_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,0},{52,114}}</string>
                <key>offset</key>
                <string>{-1,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,154},{52,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1010_3.png</string>
            <key>size</key>
            <string>{268,124}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:98b6729025dc8739720502a781d1c5a8:1/1$</string>
            <key>textureFileName</key>
            <string>1010_3.png</string>
        </dict>
    </dict>
</plist>
