<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1011_7_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,118},{60,98}}</string>
                <key>offset</key>
                <string>{0,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,170},{60,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1011_7_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,0},{54,112}}</string>
                <key>offset</key>
                <string>{-2,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,157},{54,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1011_7_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,0},{56,116}}</string>
                <key>offset</key>
                <string>{-3,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,152},{56,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1011_7_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,116},{64,110}}</string>
                <key>offset</key>
                <string>{0,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,158},{64,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1011_7_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,114},{56,112}}</string>
                <key>offset</key>
                <string>{-3,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,156},{56,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1011_7_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,108},{72,98}}</string>
                <key>offset</key>
                <string>{-4,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,174},{72,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1011_7_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,0},{68,112}}</string>
                <key>offset</key>
                <string>{-8,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,160},{68,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1011_7_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,0},{60,118}}</string>
                <key>offset</key>
                <string>{-9,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,154},{60,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1011_7_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,0},{54,118}}</string>
                <key>offset</key>
                <string>{-9,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,154},{54,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1011_7_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,130},{50,118}}</string>
                <key>offset</key>
                <string>{-9,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,154},{50,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1011_7_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,118},{62,92}}</string>
                <key>offset</key>
                <string>{-3,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,177},{62,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1011_7_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,0},{70,114}}</string>
                <key>offset</key>
                <string>{-3,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,155},{70,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1011_7_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,0},{62,118}}</string>
                <key>offset</key>
                <string>{-3,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,151},{62,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1011_7_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,0},{60,118}}</string>
                <key>offset</key>
                <string>{-2,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,151},{60,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1011_7_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,118},{62,116}}</string>
                <key>offset</key>
                <string>{-3,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,153},{62,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1011_7_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,0},{78,84}}</string>
                <key>offset</key>
                <string>{1,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,178},{78,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1011_7_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,0},{70,110}}</string>
                <key>offset</key>
                <string>{5,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,151},{70,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1011_7_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,0},{70,116}}</string>
                <key>offset</key>
                <string>{5,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,145},{70,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1011_7_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,0},{76,108}}</string>
                <key>offset</key>
                <string>{2,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,153},{76,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1011_7_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,110},{70,108}}</string>
                <key>offset</key>
                <string>{5,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,153},{70,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1011_7_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,116},{60,96}}</string>
                <key>offset</key>
                <string>{1,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,175},{60,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1011_7_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,0},{54,128}}</string>
                <key>offset</key>
                <string>{4,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,143},{54,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1011_7_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{56,130}}</string>
                <key>offset</key>
                <string>{4,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,141},{56,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1011_7_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,0},{64,116}}</string>
                <key>offset</key>
                <string>{1,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,155},{64,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1011_7_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,0},{56,116}}</string>
                <key>offset</key>
                <string>{4,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,155},{56,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1011_7.png</string>
            <key>size</key>
            <string>{1008,180}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1ea3f7bdcd82d9d3bfd2a1950538e451:1/1$</string>
            <key>textureFileName</key>
            <string>1011_7.png</string>
        </dict>
    </dict>
</plist>
