<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1012_0_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,300},{60,98}}</string>
                <key>offset</key>
                <string>{1,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,151},{60,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1012_0_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,240},{58,126}}</string>
                <key>offset</key>
                <string>{0,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,149},{58,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1012_0_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,300},{60,104}}</string>
                <key>offset</key>
                <string>{-2,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,150},{60,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1012_0_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,0},{60,128}}</string>
                <key>offset</key>
                <string>{1,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,147},{60,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1012_0_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,0},{60,114}}</string>
                <key>offset</key>
                <string>{1,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,150},{60,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1012_0_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,140},{76,100}}</string>
                <key>offset</key>
                <string>{-8,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,153},{76,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1012_0_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{74,122}}</string>
                <key>offset</key>
                <string>{-11,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,150},{74,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1012_0_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,214},{74,98}}</string>
                <key>offset</key>
                <string>{-9,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,151},{74,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1012_0_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,122},{74,118}}</string>
                <key>offset</key>
                <string>{-7,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,150},{74,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1012_0_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,202},{84,100}}</string>
                <key>offset</key>
                <string>{-5,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,153},{84,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1012_0_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,98},{88,102}}</string>
                <key>offset</key>
                <string>{-6,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,159},{88,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1012_0_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,120},{82,106}}</string>
                <key>offset</key>
                <string>{-8,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,155},{82,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1012_0_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,0},{98,98}}</string>
                <key>offset</key>
                <string>{-8,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,153},{98,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1012_0_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,200},{88,100}}</string>
                <key>offset</key>
                <string>{-7,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,157},{88,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1012_0_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,216},{88,96}}</string>
                <key>offset</key>
                <string>{-4,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,156},{88,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1012_0_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,138},{76,104}}</string>
                <key>offset</key>
                <string>{-1,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,166},{76,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1012_0_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,304},{72,88}}</string>
                <key>offset</key>
                <string>{-3,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,163},{72,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1012_0_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,60},{80,104}}</string>
                <key>offset</key>
                <string>{-5,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,162},{80,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1012_0_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,286},{76,92}}</string>
                <key>offset</key>
                <string>{-2,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,162},{76,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1012_0_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,60},{78,108}}</string>
                <key>offset</key>
                <string>{-1,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,163},{78,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1012_0_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,288},{62,106}}</string>
                <key>offset</key>
                <string>{1,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,167},{62,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1012_0_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,304},{56,88}}</string>
                <key>offset</key>
                <string>{0,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,165},{56,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1012_0_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,350},{54,108}}</string>
                <key>offset</key>
                <string>{1,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,165},{54,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1012_0_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,0},{60,90}}</string>
                <key>offset</key>
                <string>{0,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,163},{60,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1012_0_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,60},{60,110}}</string>
                <key>offset</key>
                <string>{1,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,164},{60,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1012_0.png</string>
            <key>size</key>
            <string>{504,404}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:093a9bbe5142776434b9657ea3cae09a:1/1$</string>
            <key>textureFileName</key>
            <string>1012_0.png</string>
        </dict>
    </dict>
</plist>
