<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1012_4_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,96},{62,94}}</string>
                <key>offset</key>
                <string>{1,100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,109},{62,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1012_4_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,0},{62,96}}</string>
                <key>offset</key>
                <string>{2,100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,108},{62,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1012_4_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,0},{62,96}}</string>
                <key>offset</key>
                <string>{1,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,109},{62,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1012_4_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,104},{62,96}}</string>
                <key>offset</key>
                <string>{2,100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,108},{62,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1012_4_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,0},{86,104}}</string>
                <key>offset</key>
                <string>{-7,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,108},{86,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1012_4_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,0},{88,104}}</string>
                <key>offset</key>
                <string>{-7,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,108},{88,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1012_4_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,0},{88,106}}</string>
                <key>offset</key>
                <string>{-7,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,107},{88,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1012_4_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,0},{88,106}}</string>
                <key>offset</key>
                <string>{-7,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,107},{88,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1012_4_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,0},{84,112}}</string>
                <key>offset</key>
                <string>{-14,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,106},{84,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1012_4_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,0},{84,110}}</string>
                <key>offset</key>
                <string>{-14,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,107},{84,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1012_4_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,0},{84,112}}</string>
                <key>offset</key>
                <string>{-14,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,107},{84,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1012_4_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{84,112}}</string>
                <key>offset</key>
                <string>{-15,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,107},{84,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1012_4_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,112},{58,112}}</string>
                <key>offset</key>
                <string>{-6,94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,106},{58,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1012_4_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,0},{58,110}}</string>
                <key>offset</key>
                <string>{-6,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,106},{58,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1012_4_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,112},{58,112}}</string>
                <key>offset</key>
                <string>{-5,94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,106},{58,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1012_4_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,112},{58,112}}</string>
                <key>offset</key>
                <string>{-6,94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,106},{58,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1012_4_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,106},{62,106}}</string>
                <key>offset</key>
                <string>{0,97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,106},{62,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1012_4_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,0},{62,106}}</string>
                <key>offset</key>
                <string>{-1,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,107},{62,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1012_4_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,106},{62,106}}</string>
                <key>offset</key>
                <string>{0,97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,106},{62,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1012_4_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,106},{62,106}}</string>
                <key>offset</key>
                <string>{0,97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,106},{62,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1012_4.png</string>
            <key>size</key>
            <string>{930,170}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:483175689dc34406dad15491547ca66b:1/1$</string>
            <key>textureFileName</key>
            <string>1012_4.png</string>
        </dict>
    </dict>
</plist>
