<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1013_5_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,0},{62,94}}</string>
                <key>offset</key>
                <string>{4,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,111},{62,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1013_5_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,94},{62,94}}</string>
                <key>offset</key>
                <string>{4,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,114},{62,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1013_5_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,290},{64,94}}</string>
                <key>offset</key>
                <string>{4,92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,117},{64,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1013_5_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,190},{62,94}}</string>
                <key>offset</key>
                <string>{5,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,115},{62,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1013_5_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,190},{62,94}}</string>
                <key>offset</key>
                <string>{4,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,112},{62,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1013_5_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,0},{82,98}}</string>
                <key>offset</key>
                <string>{-4,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,111},{82,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1013_5_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,194},{84,96}}</string>
                <key>offset</key>
                <string>{-6,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,115},{84,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1013_5_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,0},{86,96}}</string>
                <key>offset</key>
                <string>{-6,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,117},{86,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1013_5_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,0},{86,94}}</string>
                <key>offset</key>
                <string>{-5,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,117},{86,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1013_5_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,194},{84,96}}</string>
                <key>offset</key>
                <string>{-5,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,113},{84,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1013_5_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,100},{86,100}}</string>
                <key>offset</key>
                <string>{-16,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,113},{86,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1013_5_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{86,100}}</string>
                <key>offset</key>
                <string>{-17,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,115},{86,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1013_5_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,98},{86,96}}</string>
                <key>offset</key>
                <string>{-17,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,120},{86,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1013_5_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,96},{88,94}}</string>
                <key>offset</key>
                <string>{-17,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,120},{88,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1013_5_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,200},{86,98}}</string>
                <key>offset</key>
                <string>{-16,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,115},{86,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1013_5_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,96},{58,96}}</string>
                <key>offset</key>
                <string>{-5,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,114},{58,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1013_5_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,298},{58,96}}</string>
                <key>offset</key>
                <string>{-5,92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,116},{58,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1013_5_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,188},{58,92}}</string>
                <key>offset</key>
                <string>{-5,90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,120},{58,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1013_5_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,94},{58,90}}</string>
                <key>offset</key>
                <string>{-5,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,120},{58,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1013_5_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,0},{58,94}}</string>
                <key>offset</key>
                <string>{-5,93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,116},{58,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1013_5_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,284},{64,92}}</string>
                <key>offset</key>
                <string>{-3,98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,112},{64,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1013_5_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,290},{64,92}}</string>
                <key>offset</key>
                <string>{-3,95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,115},{64,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1013_5_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,284},{62,90}}</string>
                <key>offset</key>
                <string>{-3,93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,118},{62,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1013_5_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,146},{62,86}}</string>
                <key>offset</key>
                <string>{-3,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,119},{62,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1013_5_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,58},{62,88}}</string>
                <key>offset</key>
                <string>{-3,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,116},{62,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1013_5.png</string>
            <key>size</key>
            <string>{504,356}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:018ff1503034ba04405e15aa0eb4daf2:1/1$</string>
            <key>textureFileName</key>
            <string>1013_5.png</string>
        </dict>
    </dict>
</plist>
