<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1013_0_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,118},{48,110}}</string>
                <key>offset</key>
                <string>{0,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,152},{48,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1013_0_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,122},{50,108}}</string>
                <key>offset</key>
                <string>{0,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,156},{50,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1013_0_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,122},{50,114}}</string>
                <key>offset</key>
                <string>{2,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,153},{50,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1013_0_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,122},{50,102}}</string>
                <key>offset</key>
                <string>{4,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,156},{50,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1013_0_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,70},{48,118}}</string>
                <key>offset</key>
                <string>{2,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,153},{48,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1013_0_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,96},{80,100}}</string>
                <key>offset</key>
                <string>{-3,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,155},{80,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1013_0_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,0},{70,108}}</string>
                <key>offset</key>
                <string>{-10,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,156},{70,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1013_0_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,0},{74,106}}</string>
                <key>offset</key>
                <string>{-7,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,154},{74,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1013_0_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,0},{72,100}}</string>
                <key>offset</key>
                <string>{-8,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,157},{72,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1013_0_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,0},{76,110}}</string>
                <key>offset</key>
                <string>{-4,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,154},{76,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1013_0_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{98,96}}</string>
                <key>offset</key>
                <string>{-1,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,158},{98,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1013_0_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,94},{82,100}}</string>
                <key>offset</key>
                <string>{-6,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,160},{82,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1013_0_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,76},{88,96}}</string>
                <key>offset</key>
                <string>{-4,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,159},{88,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1013_0_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,0},{94,94}}</string>
                <key>offset</key>
                <string>{-3,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,159},{94,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1013_0_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,0},{84,98}}</string>
                <key>offset</key>
                <string>{-6,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,159},{84,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1013_0_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,0},{70,104}}</string>
                <key>offset</key>
                <string>{-2,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,162},{70,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1013_0_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,116},{56,96}}</string>
                <key>offset</key>
                <string>{-1,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,163},{56,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1013_0_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,0},{72,102}}</string>
                <key>offset</key>
                <string>{-1,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,162},{72,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1013_0_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,50},{66,98}}</string>
                <key>offset</key>
                <string>{-1,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,163},{66,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1013_0_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,72},{60,102}}</string>
                <key>offset</key>
                <string>{-1,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,162},{60,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1013_0_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,84},{48,108}}</string>
                <key>offset</key>
                <string>{1,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,162},{48,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1013_0_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,70},{52,94}}</string>
                <key>offset</key>
                <string>{1,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,164},{52,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1013_0_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,72},{50,110}}</string>
                <key>offset</key>
                <string>{0,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,161},{50,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1013_0_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,0},{50,100}}</string>
                <key>offset</key>
                <string>{-3,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,163},{50,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1013_0_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,74},{48,106}}</string>
                <key>offset</key>
                <string>{-1,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,161},{48,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1013_0.png</string>
            <key>size</key>
            <string>{1020,177}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:da6508070ac98a3e19a529e8be6ed98e:1/1$</string>
            <key>textureFileName</key>
            <string>1013_0.png</string>
        </dict>
    </dict>
</plist>
