<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1013_3_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,0},{48,108}}</string>
                <key>offset</key>
                <string>{3,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,154},{48,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1013_3_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,0},{46,106}}</string>
                <key>offset</key>
                <string>{4,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,156},{46,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1013_3_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,54},{52,102}}</string>
                <key>offset</key>
                <string>{6,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,160},{52,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1013_3_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,0},{54,102}}</string>
                <key>offset</key>
                <string>{2,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,161},{54,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1013_3_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{48,108}}</string>
                <key>offset</key>
                <string>{-2,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,162},{48,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1013_3.png</string>
            <key>size</key>
            <string>{244,108}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d8ba8f5bf100142ef82fc5988e4145ba:1/1$</string>
            <key>textureFileName</key>
            <string>1013_3.png</string>
        </dict>
    </dict>
</plist>
