<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1018_5_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,0},{64,98}}</string>
                <key>offset</key>
                <string>{0,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,106},{64,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1018_5_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,0},{64,100}}</string>
                <key>offset</key>
                <string>{0,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,107},{64,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1018_5_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,0},{66,98}}</string>
                <key>offset</key>
                <string>{0,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,111},{66,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1018_5_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,0},{66,98}}</string>
                <key>offset</key>
                <string>{0,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,110},{66,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1018_5_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,0},{64,96}}</string>
                <key>offset</key>
                <string>{1,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,109},{64,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1018_5_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,0},{58,104}}</string>
                <key>offset</key>
                <string>{3,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,108},{58,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1018_5_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{58,106}}</string>
                <key>offset</key>
                <string>{3,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,108},{58,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1018_5_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,0},{58,102}}</string>
                <key>offset</key>
                <string>{3,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,112},{58,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1018_5_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,0},{58,102}}</string>
                <key>offset</key>
                <string>{4,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,111},{58,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1018_5_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,0},{58,102}}</string>
                <key>offset</key>
                <string>{4,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,110},{58,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1018_5_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,0},{58,104}}</string>
                <key>offset</key>
                <string>{-2,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,109},{58,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1018_5_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,0},{58,104}}</string>
                <key>offset</key>
                <string>{-3,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,111},{58,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1018_5_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,102},{56,102}}</string>
                <key>offset</key>
                <string>{-3,92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,113},{56,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1018_5_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,102},{56,100}}</string>
                <key>offset</key>
                <string>{-2,93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,113},{56,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1018_5_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,0},{58,102}}</string>
                <key>offset</key>
                <string>{-2,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,111},{58,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1018_5_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,102},{56,98}}</string>
                <key>offset</key>
                <string>{0,98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,109},{56,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1018_5_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,104},{54,98}}</string>
                <key>offset</key>
                <string>{0,96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,111},{54,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1018_5_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,98},{56,96}}</string>
                <key>offset</key>
                <string>{-1,96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,112},{56,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1018_5_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,104},{54,94}}</string>
                <key>offset</key>
                <string>{0,96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,113},{54,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1018_5_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,98},{56,94}}</string>
                <key>offset</key>
                <string>{0,97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,112},{56,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1018_5_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,96},{62,88}}</string>
                <key>offset</key>
                <string>{1,102}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,110},{62,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1018_5_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,0},{64,90}}</string>
                <key>offset</key>
                <string>{0,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,110},{64,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1018_5_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,0},{66,90}}</string>
                <key>offset</key>
                <string>{1,100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,111},{66,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1018_5_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,90},{66,86}}</string>
                <key>offset</key>
                <string>{1,100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,113},{66,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1018_5_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,0},{64,88}}</string>
                <key>offset</key>
                <string>{1,102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,110},{64,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1018_5.png</string>
            <key>size</key>
            <string>{982,158}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d6a04915d5c7bec51305e01d32cffcf9:1/1$</string>
            <key>textureFileName</key>
            <string>1018_5.png</string>
        </dict>
    </dict>
</plist>
