<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1018_2_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,154},{50,112}}</string>
                <key>offset</key>
                <string>{1,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,162},{50,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1018_2_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,0},{80,108}}</string>
                <key>offset</key>
                <string>{-22,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,165},{80,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1018_2_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,78},{64,116}}</string>
                <key>offset</key>
                <string>{-13,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,157},{64,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1018_2_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,0},{64,120}}</string>
                <key>offset</key>
                <string>{-2,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,153},{64,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1018_2_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,142},{62,118}}</string>
                <key>offset</key>
                <string>{-5,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,155},{62,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1018_2_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,142},{62,116}}</string>
                <key>offset</key>
                <string>{-10,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,157},{62,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1018_2_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,64},{68,112}}</string>
                <key>offset</key>
                <string>{-1,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,161},{68,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1018_2_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,78},{64,118}}</string>
                <key>offset</key>
                <string>{3,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,155},{64,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1018_2_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,132},{56,118}}</string>
                <key>offset</key>
                <string>{3,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,155},{56,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1018_2_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,80},{48,120}}</string>
                <key>offset</key>
                <string>{-2,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,153},{48,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1018_2_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,0},{94,108}}</string>
                <key>offset</key>
                <string>{-7,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,156},{94,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1018_2_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,108},{78,96}}</string>
                <key>offset</key>
                <string>{2,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,168},{78,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1018_2_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,0},{80,106}}</string>
                <key>offset</key>
                <string>{0,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,158},{80,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1018_2_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,0},{78,110}}</string>
                <key>offset</key>
                <string>{1,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,154},{78,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1018_2_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,0},{78,114}}</string>
                <key>offset</key>
                <string>{1,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,150},{78,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1018_2_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{96,116}}</string>
                <key>offset</key>
                <string>{-6,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,148},{96,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1018_2_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,62},{90,92}}</string>
                <key>offset</key>
                <string>{11,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,172},{90,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1018_2_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,128},{76,100}}</string>
                <key>offset</key>
                <string>{4,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,164},{76,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1018_2_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,128},{76,108}}</string>
                <key>offset</key>
                <string>{4,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,156},{76,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1018_2_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,0},{76,116}}</string>
                <key>offset</key>
                <string>{4,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,148},{76,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1018_2_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,80},{48,130}}</string>
                <key>offset</key>
                <string>{0,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,145},{48,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1018_2_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,116},{82,96}}</string>
                <key>offset</key>
                <string>{23,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,179},{82,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1018_2_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,78},{64,104}}</string>
                <key>offset</key>
                <string>{15,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,171},{64,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1018_2_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,142},{62,118}}</string>
                <key>offset</key>
                <string>{3,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,157},{62,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1018_2_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,0},{62,124}}</string>
                <key>offset</key>
                <string>{5,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,151},{62,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1018_2.png</string>
            <key>size</key>
            <string>{988,204}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:99f9e6c9c53234378005081e5780480a:1/1$</string>
            <key>textureFileName</key>
            <string>1018_2.png</string>
        </dict>
    </dict>
</plist>
