<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1019_4_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,110},{56,94}}</string>
                <key>offset</key>
                <string>{0,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,113},{56,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1019_4_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,110},{56,94}}</string>
                <key>offset</key>
                <string>{0,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,114},{56,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1019_4_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,54},{56,94}}</string>
                <key>offset</key>
                <string>{0,96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,113},{56,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1019_4_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,110},{56,92}}</string>
                <key>offset</key>
                <string>{0,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,114},{56,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1019_4_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,0},{54,104}}</string>
                <key>offset</key>
                <string>{0,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,112},{54,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1019_4_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,0},{54,104}}</string>
                <key>offset</key>
                <string>{0,91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,113},{54,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1019_4_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,104},{54,104}}</string>
                <key>offset</key>
                <string>{0,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,112},{54,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1019_4_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,0},{54,104}}</string>
                <key>offset</key>
                <string>{0,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,112},{54,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1019_4_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,0},{54,112}}</string>
                <key>offset</key>
                <string>{-6,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,111},{54,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1019_4_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,110},{56,110}}</string>
                <key>offset</key>
                <string>{-7,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,112},{56,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1019_4_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{56,110}}</string>
                <key>offset</key>
                <string>{-8,90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,111},{56,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1019_4_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,112},{54,110}}</string>
                <key>offset</key>
                <string>{-7,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,112},{54,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1019_4_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,204},{46,112}}</string>
                <key>offset</key>
                <string>{-2,90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,110},{46,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1019_4_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,208},{48,112}}</string>
                <key>offset</key>
                <string>{-3,91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,109},{48,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1019_4_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,0},{48,110}}</string>
                <key>offset</key>
                <string>{-3,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,110},{48,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1019_4_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,208},{48,112}}</string>
                <key>offset</key>
                <string>{-3,91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,109},{48,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1019_4_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,104},{56,104}}</string>
                <key>offset</key>
                <string>{1,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,110},{56,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1019_4_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,0},{56,104}}</string>
                <key>offset</key>
                <string>{1,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,110},{56,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1019_4_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,104},{56,104}}</string>
                <key>offset</key>
                <string>{1,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,109},{56,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1019_4_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,0},{56,104}}</string>
                <key>offset</key>
                <string>{1,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,109},{56,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1019_4.png</string>
            <key>size</key>
            <string>{486,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b607fe5b5f6474ea6b167439120152da:1/1$</string>
            <key>textureFileName</key>
            <string>1019_4.png</string>
        </dict>
    </dict>
</plist>
