<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1021_5_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,186},{56,92}}</string>
                <key>offset</key>
                <string>{0,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,113},{56,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1021_5_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,284},{56,92}}</string>
                <key>offset</key>
                <string>{0,94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,116},{56,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1021_5_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,92},{54,92}}</string>
                <key>offset</key>
                <string>{0,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,119},{54,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1021_5_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,186},{54,92}}</string>
                <key>offset</key>
                <string>{0,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,117},{54,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1021_5_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,286},{54,92}}</string>
                <key>offset</key>
                <string>{0,96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,114},{54,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1021_5_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,0},{84,96}}</string>
                <key>offset</key>
                <string>{-12,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,113},{84,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1021_5_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,96},{82,96}}</string>
                <key>offset</key>
                <string>{-11,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,115},{82,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1021_5_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,190},{82,94}}</string>
                <key>offset</key>
                <string>{-11,90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,119},{82,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1021_5_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,0},{84,92}}</string>
                <key>offset</key>
                <string>{-11,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,119},{84,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1021_5_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,96},{84,94}}</string>
                <key>offset</key>
                <string>{-11,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,116},{84,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1021_5_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,98},{88,98}}</string>
                <key>offset</key>
                <string>{-18,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,115},{88,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1021_5_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{88,98}}</string>
                <key>offset</key>
                <string>{-18,90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,117},{88,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1021_5_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,192},{88,94}}</string>
                <key>offset</key>
                <string>{-19,87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,122},{88,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1021_5_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,94},{88,92}}</string>
                <key>offset</key>
                <string>{-18,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,122},{88,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1021_5_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,196},{88,96}}</string>
                <key>offset</key>
                <string>{-18,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,117},{88,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1021_5_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,0},{66,94}}</string>
                <key>offset</key>
                <string>{-7,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,116},{66,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1021_5_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,0},{64,94}}</string>
                <key>offset</key>
                <string>{-7,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,118},{64,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1021_5_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,174},{64,90}}</string>
                <key>offset</key>
                <string>{-7,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,122},{64,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1021_5_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,184},{66,86}}</string>
                <key>offset</key>
                <string>{-7,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,124},{66,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1021_5_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,0},{66,90}}</string>
                <key>offset</key>
                <string>{-7,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,120},{66,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1021_5_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,0},{54,88}}</string>
                <key>offset</key>
                <string>{1,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,116},{54,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1021_5_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,278},{56,88}}</string>
                <key>offset</key>
                <string>{1,93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,119},{56,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1021_5_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,88},{54,86}}</string>
                <key>offset</key>
                <string>{1,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,122},{54,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1021_5_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,278},{54,82}}</string>
                <key>offset</key>
                <string>{1,92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,123},{54,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1021_5_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,90},{54,84}}</string>
                <key>offset</key>
                <string>{1,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,120},{54,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1021_5.png</string>
            <key>size</key>
            <string>{506,340}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:297ca18a09ac123fee16d9ce833b05d5:1/1$</string>
            <key>textureFileName</key>
            <string>1021_5.png</string>
        </dict>
    </dict>
</plist>
