<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1021_6_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,396},{40,100}}</string>
                <key>offset</key>
                <string>{-2,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,160},{40,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1021_6_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,396},{40,100}}</string>
                <key>offset</key>
                <string>{-1,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,160},{40,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1021_6_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,396},{44,100}}</string>
                <key>offset</key>
                <string>{0,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,160},{44,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1021_6_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,88},{44,110}}</string>
                <key>offset</key>
                <string>{1,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,152},{44,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1021_6_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,296},{44,100}}</string>
                <key>offset</key>
                <string>{0,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,160},{44,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1021_6_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,346},{44,104}}</string>
                <key>offset</key>
                <string>{0,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,157},{44,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1021_6_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,400},{48,104}}</string>
                <key>offset</key>
                <string>{1,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,157},{48,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1021_6_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,400},{44,104}}</string>
                <key>offset</key>
                <string>{-1,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,157},{44,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1021_6_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,242},{40,106}}</string>
                <key>offset</key>
                <string>{6,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,156},{40,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1021_6_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,88},{42,102}}</string>
                <key>offset</key>
                <string>{8,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,159},{42,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1021_6_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,296},{52,104}}</string>
                <key>offset</key>
                <string>{4,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,158},{52,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1021_6_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,190},{52,106}}</string>
                <key>offset</key>
                <string>{4,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,156},{52,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1021_6_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,190},{52,106}}</string>
                <key>offset</key>
                <string>{4,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,156},{52,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1021_6_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,282},{64,104}}</string>
                <key>offset</key>
                <string>{14,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,158},{64,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1021_6_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,242},{54,104}}</string>
                <key>offset</key>
                <string>{9,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,158},{54,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1021_6_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,402},{48,106}}</string>
                <key>offset</key>
                <string>{10,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,157},{48,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1021_6_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,296},{48,106}}</string>
                <key>offset</key>
                <string>{10,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,157},{48,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1021_6_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,194},{48,106}}</string>
                <key>offset</key>
                <string>{9,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,157},{48,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1021_6_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,128},{66,106}}</string>
                <key>offset</key>
                <string>{7,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,157},{66,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1021_6_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,132},{58,106}}</string>
                <key>offset</key>
                <string>{4,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,157},{58,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1021_6_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,88},{40,112}}</string>
                <key>offset</key>
                <string>{3,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,159},{40,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1021_6_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,46},{42,112}}</string>
                <key>offset</key>
                <string>{2,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,159},{42,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1021_6_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,44},{44,112}}</string>
                <key>offset</key>
                <string>{1,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,159},{44,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1021_6_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,0},{44,112}}</string>
                <key>offset</key>
                <string>{1,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,159},{44,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1021_6_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{46,114}}</string>
                <key>offset</key>
                <string>{1,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,157},{46,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1021_6.png</string>
            <key>size</key>
            <string>{264,508}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e73ae1721cd4aeeded39e556257541f4:1/1$</string>
            <key>textureFileName</key>
            <string>1021_6.png</string>
        </dict>
    </dict>
</plist>
