<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1022_0_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,114},{50,98}}</string>
                <key>offset</key>
                <string>{5,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,151},{50,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1022_0_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,66},{48,126}}</string>
                <key>offset</key>
                <string>{3,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,149},{48,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1022_0_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,376},{52,104}}</string>
                <key>offset</key>
                <string>{0,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,150},{52,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1022_0_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,58},{50,126}}</string>
                <key>offset</key>
                <string>{4,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,148},{50,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1022_0_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,176},{48,114}}</string>
                <key>offset</key>
                <string>{5,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,149},{48,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1022_0_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,406},{70,100}}</string>
                <key>offset</key>
                <string>{-5,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,153},{70,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1022_0_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,0},{58,122}}</string>
                <key>offset</key>
                <string>{0,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,150},{58,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1022_0_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,310},{66,98}}</string>
                <key>offset</key>
                <string>{-1,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,151},{66,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1022_0_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,0},{66,118}}</string>
                <key>offset</key>
                <string>{-2,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,150},{66,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1022_0_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,98},{84,102}}</string>
                <key>offset</key>
                <string>{-5,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,151},{84,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1022_0_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,200},{82,100}}</string>
                <key>offset</key>
                <string>{-4,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,161},{82,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1022_0_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,300},{76,106}}</string>
                <key>offset</key>
                <string>{-2,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,155},{76,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1022_0_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{98,98}}</string>
                <key>offset</key>
                <string>{-8,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,153},{98,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1022_0_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,212},{72,98}}</string>
                <key>offset</key>
                <string>{-4,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,159},{72,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1022_0_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,114},{82,96}}</string>
                <key>offset</key>
                <string>{-5,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,156},{82,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1022_0_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,224},{62,104}}</string>
                <key>offset</key>
                <string>{2,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,166},{62,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1022_0_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,212},{68,88}}</string>
                <key>offset</key>
                <string>{-5,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,163},{68,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1022_0_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,406},{80,102}}</string>
                <key>offset</key>
                <string>{-5,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,164},{80,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1022_0_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,286},{62,92}}</string>
                <key>offset</key>
                <string>{4,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,162},{62,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1022_0_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,108},{68,106}}</string>
                <key>offset</key>
                <string>{-1,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,165},{68,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1022_0_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,376},{50,104}}</string>
                <key>offset</key>
                <string>{-2,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,169},{50,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1022_0_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,348},{48,88}}</string>
                <key>offset</key>
                <string>{-1,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,166},{48,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1022_0_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,300},{52,106}}</string>
                <key>offset</key>
                <string>{1,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,167},{52,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1022_0_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,456},{52,88}}</string>
                <key>offset</key>
                <string>{-3,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,165},{52,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1022_0_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,348},{48,108}}</string>
                <key>offset</key>
                <string>{-3,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,166},{48,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1022_0.png</string>
            <key>size</key>
            <string>{350,508}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fbe85f67965da563808eab5aae1db1dd:1/1$</string>
            <key>textureFileName</key>
            <string>1022_0.png</string>
        </dict>
    </dict>
</plist>
