<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1022_5_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,200},{60,98}}</string>
                <key>offset</key>
                <string>{1,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,106},{60,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1022_5_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,100},{60,100}}</string>
                <key>offset</key>
                <string>{1,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,107},{60,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1022_5_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{60,100}}</string>
                <key>offset</key>
                <string>{1,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,109},{60,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1022_5_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,98},{62,98}}</string>
                <key>offset</key>
                <string>{0,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,110},{62,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1022_5_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,0},{62,98}}</string>
                <key>offset</key>
                <string>{0,100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,107},{62,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1022_5_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,298},{50,106}}</string>
                <key>offset</key>
                <string>{7,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,106},{50,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1022_5_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,0},{52,106}}</string>
                <key>offset</key>
                <string>{6,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,108},{52,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1022_5_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,404},{50,104}}</string>
                <key>offset</key>
                <string>{7,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,110},{50,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1022_5_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,196},{52,102}}</string>
                <key>offset</key>
                <string>{7,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,111},{52,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1022_5_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,0},{52,104}}</string>
                <key>offset</key>
                <string>{7,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,108},{52,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1022_5_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,104},{42,104}}</string>
                <key>offset</key>
                <string>{6,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,109},{42,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1022_5_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,0},{42,104}}</string>
                <key>offset</key>
                <string>{5,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,111},{42,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1022_5_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,208},{44,102}}</string>
                <key>offset</key>
                <string>{3,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,113},{44,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1022_5_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,400},{42,100}}</string>
                <key>offset</key>
                <string>{5,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,113},{42,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1022_5_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,298},{42,102}}</string>
                <key>offset</key>
                <string>{6,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,111},{42,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1022_5_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,394},{54,96}}</string>
                <key>offset</key>
                <string>{-1,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,111},{54,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1022_5_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,298},{54,96}}</string>
                <key>offset</key>
                <string>{-1,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,113},{54,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1022_5_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,198},{54,92}}</string>
                <key>offset</key>
                <string>{-1,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,116},{54,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1022_5_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,106},{54,92}}</string>
                <key>offset</key>
                <string>{-1,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,115},{54,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1022_5_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,104},{54,94}}</string>
                <key>offset</key>
                <string>{-1,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,112},{54,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1022_5_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,376},{60,86}}</string>
                <key>offset</key>
                <string>{1,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,112},{60,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1022_5_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,198},{60,88}}</string>
                <key>offset</key>
                <string>{1,100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,112},{60,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1022_5_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,290},{62,86}}</string>
                <key>offset</key>
                <string>{0,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,115},{62,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1022_5_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,310},{62,84}}</string>
                <key>offset</key>
                <string>{1,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,115},{62,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1022_5_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,394},{60,84}}</string>
                <key>offset</key>
                <string>{1,100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,114},{60,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1022_5.png</string>
            <key>size</key>
            <string>{272,509}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a79d30e3fdc8143ed895923885204424:1/1$</string>
            <key>textureFileName</key>
            <string>1022_5.png</string>
        </dict>
    </dict>
</plist>
