<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1023_5_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,100},{58,98}}</string>
                <key>offset</key>
                <string>{1,100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,107},{58,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1023_5_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,98},{60,98}}</string>
                <key>offset</key>
                <string>{1,97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,110},{60,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1023_5_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,100},{58,98}}</string>
                <key>offset</key>
                <string>{2,94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,113},{58,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1023_5_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,0},{58,96}}</string>
                <key>offset</key>
                <string>{2,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,113},{58,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1023_5_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,0},{56,96}}</string>
                <key>offset</key>
                <string>{2,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,110},{56,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1023_5_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,0},{68,102}}</string>
                <key>offset</key>
                <string>{-3,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,107},{68,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1023_5_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,0},{70,100}}</string>
                <key>offset</key>
                <string>{-5,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,111},{70,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1023_5_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,0},{72,98}}</string>
                <key>offset</key>
                <string>{-6,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,115},{72,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1023_5_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,0},{72,98}}</string>
                <key>offset</key>
                <string>{-5,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,113},{72,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1023_5_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,0},{70,100}}</string>
                <key>offset</key>
                <string>{-4,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,110},{70,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1023_5_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{56,106}}</string>
                <key>offset</key>
                <string>{-2,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,108},{56,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1023_5_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,0},{56,104}}</string>
                <key>offset</key>
                <string>{-3,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,111},{56,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1023_5_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,102},{56,102}}</string>
                <key>offset</key>
                <string>{-4,91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,114},{56,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1023_5_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,0},{56,100}}</string>
                <key>offset</key>
                <string>{-3,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,114},{56,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1023_5_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,102},{56,102}}</string>
                <key>offset</key>
                <string>{-2,94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,111},{56,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1023_5_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,0},{64,102}}</string>
                <key>offset</key>
                <string>{-8,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,108},{64,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1023_5_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,0},{66,102}}</string>
                <key>offset</key>
                <string>{-9,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,110},{66,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1023_5_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,0},{66,98}}</string>
                <key>offset</key>
                <string>{-9,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,114},{66,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1023_5_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,0},{66,94}}</string>
                <key>offset</key>
                <string>{-9,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,116},{66,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1023_5_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,0},{64,98}}</string>
                <key>offset</key>
                <string>{-8,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,112},{64,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1023_5_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,98},{58,96}}</string>
                <key>offset</key>
                <string>{0,99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,109},{58,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1023_5_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,98},{58,96}}</string>
                <key>offset</key>
                <string>{0,97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,111},{58,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1023_5_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,96},{58,94}}</string>
                <key>offset</key>
                <string>{0,94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,115},{58,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1023_5_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,94},{58,88}}</string>
                <key>offset</key>
                <string>{-1,95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,117},{58,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1023_5_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,0},{58,92}}</string>
                <key>offset</key>
                <string>{-1,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,112},{58,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1023_5.png</string>
            <key>size</key>
            <string>{1018,158}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:55a5b58b5b08ae17637768170e528b9e:1/1$</string>
            <key>textureFileName</key>
            <string>1023_5.png</string>
        </dict>
    </dict>
</plist>
