<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1023_2_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,0},{40,106}}</string>
                <key>offset</key>
                <string>{-2,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,166},{40,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1023_2_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,118},{56,112}}</string>
                <key>offset</key>
                <string>{-14,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,160},{56,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1023_2_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,126},{52,114}}</string>
                <key>offset</key>
                <string>{-6,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,157},{52,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1023_2_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,116},{62,116}}</string>
                <key>offset</key>
                <string>{-5,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,155},{62,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1023_2_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,0},{50,118}}</string>
                <key>offset</key>
                <string>{-2,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,154},{50,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1023_2_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,108},{44,108}}</string>
                <key>offset</key>
                <string>{-4,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,164},{44,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1023_2_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,0},{62,114}}</string>
                <key>offset</key>
                <string>{-3,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,157},{62,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1023_2_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,0},{62,116}}</string>
                <key>offset</key>
                <string>{0,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,155},{62,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1023_2_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,0},{58,118}}</string>
                <key>offset</key>
                <string>{4,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,154},{58,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1023_2_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,0},{48,118}}</string>
                <key>offset</key>
                <string>{0,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,154},{48,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1023_2_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,0},{84,108}}</string>
                <key>offset</key>
                <string>{-1,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,157},{84,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1023_2_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,104},{74,100}}</string>
                <key>offset</key>
                <string>{4,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,164},{74,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1023_2_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,0},{76,104}}</string>
                <key>offset</key>
                <string>{3,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,160},{76,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1023_2_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,0},{76,106}}</string>
                <key>offset</key>
                <string>{3,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,158},{76,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1023_2_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,0},{76,110}}</string>
                <key>offset</key>
                <string>{3,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,154},{76,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1023_2_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,0},{82,112}}</string>
                <key>offset</key>
                <string>{1,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,153},{82,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1023_2_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,0},{72,90}}</string>
                <key>offset</key>
                <string>{6,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,175},{72,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1023_2_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,0},{72,96}}</string>
                <key>offset</key>
                <string>{6,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,169},{72,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1023_2_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,106},{72,102}}</string>
                <key>offset</key>
                <string>{6,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,163},{72,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1023_2_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,0},{72,108}}</string>
                <key>offset</key>
                <string>{6,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,157},{72,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1023_2_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{40,126}}</string>
                <key>offset</key>
                <string>{2,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,150},{40,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1023_2_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,112},{56,92}}</string>
                <key>offset</key>
                <string>{14,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,184},{56,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1023_2_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,108},{52,100}}</string>
                <key>offset</key>
                <string>{7,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,176},{52,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1023_2_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,114},{62,108}}</string>
                <key>offset</key>
                <string>{6,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,168},{62,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1023_2_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,0},{50,116}}</string>
                <key>offset</key>
                <string>{4,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,160},{50,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1023_2.png</string>
            <key>size</key>
            <string>{1020,178}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a001e941cf88fc681beadac4cd0c1376:1/1$</string>
            <key>textureFileName</key>
            <string>1023_2.png</string>
        </dict>
    </dict>
</plist>
