<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1023_0_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,48},{44,112}}</string>
                <key>offset</key>
                <string>{2,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,150},{44,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1023_0_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,50},{44,112}}</string>
                <key>offset</key>
                <string>{3,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,152},{44,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1023_0_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,0},{50,118}}</string>
                <key>offset</key>
                <string>{2,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,149},{50,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1023_0_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,62},{54,106}}</string>
                <key>offset</key>
                <string>{2,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,152},{54,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1023_0_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,0},{48,120}}</string>
                <key>offset</key>
                <string>{1,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,151},{48,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1023_0_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,98},{74,106}}</string>
                <key>offset</key>
                <string>{0,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,150},{74,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1023_0_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,0},{64,112}}</string>
                <key>offset</key>
                <string>{-7,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,152},{64,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1023_0_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,0},{68,110}}</string>
                <key>offset</key>
                <string>{-3,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,150},{68,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1023_0_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,68},{60,104}}</string>
                <key>offset</key>
                <string>{-2,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,153},{60,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1023_0_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,0},{62,114}}</string>
                <key>offset</key>
                <string>{-4,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,151},{62,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1023_0_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{100,100}}</string>
                <key>offset</key>
                <string>{-1,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,154},{100,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1023_0_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,64},{68,106}}</string>
                <key>offset</key>
                <string>{-4,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,155},{68,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1023_0_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,70},{72,102}}</string>
                <key>offset</key>
                <string>{-7,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,154},{72,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1023_0_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,0},{92,98}}</string>
                <key>offset</key>
                <string>{-1,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,155},{92,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1023_0_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,70},{66,102}}</string>
                <key>offset</key>
                <string>{-4,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,155},{66,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1023_0_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,0},{70,110}}</string>
                <key>offset</key>
                <string>{-2,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,156},{70,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1023_0_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,62},{56,102}}</string>
                <key>offset</key>
                <string>{-4,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,158},{56,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1023_0_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,100},{72,106}}</string>
                <key>offset</key>
                <string>{-1,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,158},{72,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1023_0_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,62},{64,102}}</string>
                <key>offset</key>
                <string>{-2,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,159},{64,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1023_0_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,0},{62,108}}</string>
                <key>offset</key>
                <string>{-2,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,156},{62,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1023_0_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,50},{44,112}}</string>
                <key>offset</key>
                <string>{-1,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,158},{44,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1023_0_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,48},{44,98}}</string>
                <key>offset</key>
                <string>{-2,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,160},{44,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1023_0_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,50},{50,112}}</string>
                <key>offset</key>
                <string>{-1,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,159},{50,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1023_0_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,68},{54,104}}</string>
                <key>offset</key>
                <string>{0,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,160},{54,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1023_0_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,62},{48,110}}</string>
                <key>offset</key>
                <string>{0,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,158},{48,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1023_0.png</string>
            <key>size</key>
            <string>{984,172}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fa6e23079298c0f9fb2a22b7b4ed7c96:1/1$</string>
            <key>textureFileName</key>
            <string>1023_0.png</string>
        </dict>
    </dict>
</plist>
