<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1024_1_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,0},{60,110}}</string>
                <key>offset</key>
                <string>{-1,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,152},{60,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1024_1_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,0},{60,110}}</string>
                <key>offset</key>
                <string>{-1,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,152},{60,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1024_1_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,0},{60,110}}</string>
                <key>offset</key>
                <string>{-1,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,152},{60,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1024_1_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,0},{60,110}}</string>
                <key>offset</key>
                <string>{-1,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,152},{60,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1024_1_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,110},{46,116}}</string>
                <key>offset</key>
                <string>{-5,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,148},{46,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1024_1_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,206},{48,116}}</string>
                <key>offset</key>
                <string>{-6,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,148},{48,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1024_1_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,156},{52,116}}</string>
                <key>offset</key>
                <string>{-8,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,148},{52,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1024_1_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,156},{50,118}}</string>
                <key>offset</key>
                <string>{-7,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,146},{50,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1024_1_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,110},{46,124}}</string>
                <key>offset</key>
                <string>{-6,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,141},{46,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1024_1_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,208},{40,122}}</string>
                <key>offset</key>
                <string>{-3,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,143},{40,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1024_1_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,124},{40,122}}</string>
                <key>offset</key>
                <string>{-3,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,143},{40,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1024_1_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,0},{40,124}}</string>
                <key>offset</key>
                <string>{-3,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,141},{40,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1024_1_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,0},{58,120}}</string>
                <key>offset</key>
                <string>{-5,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,143},{58,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1024_1_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,120},{56,120}}</string>
                <key>offset</key>
                <string>{-4,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,143},{56,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1024_1_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,120},{54,120}}</string>
                <key>offset</key>
                <string>{-3,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,143},{54,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1024_1_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,0},{54,120}}</string>
                <key>offset</key>
                <string>{-3,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,143},{54,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1024_1_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,120},{58,120}}</string>
                <key>offset</key>
                <string>{2,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,143},{58,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1024_1_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,120},{60,120}}</string>
                <key>offset</key>
                <string>{2,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,143},{60,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1024_1_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,0},{58,120}}</string>
                <key>offset</key>
                <string>{2,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,143},{58,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1024_1_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{60,120}}</string>
                <key>offset</key>
                <string>{2,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,143},{60,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1024_1.png</string>
            <key>size</key>
            <string>{510,255}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:acc2867f03775076dbaf567f844d17e1:1/1$</string>
            <key>textureFileName</key>
            <string>1024_1.png</string>
        </dict>
    </dict>
</plist>
