<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1025_2_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,0},{50,108}}</string>
                <key>offset</key>
                <string>{-5,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,164},{50,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1025_2_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,114},{78,114}}</string>
                <key>offset</key>
                <string>{-3,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,157},{78,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1025_2_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,0},{52,116}}</string>
                <key>offset</key>
                <string>{-7,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,155},{52,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1025_2_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,0},{60,118}}</string>
                <key>offset</key>
                <string>{-5,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,153},{60,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1025_2_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,0},{52,118}}</string>
                <key>offset</key>
                <string>{-5,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,154},{52,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1025_2_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,0},{48,114}}</string>
                <key>offset</key>
                <string>{-6,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,158},{48,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1025_2_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,128},{64,116}}</string>
                <key>offset</key>
                <string>{-1,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,155},{64,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1025_2_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,120},{72,118}}</string>
                <key>offset</key>
                <string>{-4,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,153},{72,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1025_2_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,0},{70,120}}</string>
                <key>offset</key>
                <string>{-1,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,152},{70,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1025_2_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,0},{58,120}}</string>
                <key>offset</key>
                <string>{-4,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,152},{58,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1025_2_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,0},{84,110}}</string>
                <key>offset</key>
                <string>{0,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,155},{84,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1025_2_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,110},{76,102}}</string>
                <key>offset</key>
                <string>{4,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,162},{76,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1025_2_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,0},{86,106}}</string>
                <key>offset</key>
                <string>{-1,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,158},{86,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1025_2_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,116},{76,108}}</string>
                <key>offset</key>
                <string>{4,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,156},{76,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1025_2_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,114},{78,112}}</string>
                <key>offset</key>
                <string>{3,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,153},{78,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1025_2_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,0},{82,114}}</string>
                <key>offset</key>
                <string>{1,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,151},{82,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1025_2_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,0},{88,92}}</string>
                <key>offset</key>
                <string>{-2,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,173},{88,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1025_2_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,92},{72,98}}</string>
                <key>offset</key>
                <string>{6,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,167},{72,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1025_2_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,0},{72,106}}</string>
                <key>offset</key>
                <string>{6,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,159},{72,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1025_2_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,118},{74,110}}</string>
                <key>offset</key>
                <string>{5,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,155},{74,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1025_2_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{50,128}}</string>
                <key>offset</key>
                <string>{7,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,148},{50,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1025_2_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,106},{76,96}}</string>
                <key>offset</key>
                <string>{4,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,180},{76,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1025_2_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,0},{52,110}}</string>
                <key>offset</key>
                <string>{8,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,166},{52,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1025_2_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,0},{60,114}}</string>
                <key>offset</key>
                <string>{7,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,162},{60,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1025_2_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,0},{52,120}}</string>
                <key>offset</key>
                <string>{5,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,156},{52,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1025_2.png</string>
            <key>size</key>
            <string>{1016,192}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:33f3cbaa0fafa50edebdcef840a7ca65:1/1$</string>
            <key>textureFileName</key>
            <string>1025_2.png</string>
        </dict>
    </dict>
</plist>
