<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1025_0_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,0},{46,116}}</string>
                <key>offset</key>
                <string>{1,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,147},{46,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1025_0_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,0},{50,114}}</string>
                <key>offset</key>
                <string>{0,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,150},{50,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1025_0_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,0},{52,120}}</string>
                <key>offset</key>
                <string>{1,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,148},{52,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1025_0_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,0},{52,108}}</string>
                <key>offset</key>
                <string>{3,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,150},{52,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1025_0_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{48,124}}</string>
                <key>offset</key>
                <string>{2,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,148},{48,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1025_0_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,116},{78,108}}</string>
                <key>offset</key>
                <string>{-1,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,148},{78,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1025_0_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,0},{74,114}}</string>
                <key>offset</key>
                <string>{-12,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,150},{74,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1025_0_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,0},{72,112}}</string>
                <key>offset</key>
                <string>{-5,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,149},{72,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1025_0_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,0},{68,104}}</string>
                <key>offset</key>
                <string>{-6,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,153},{68,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1025_0_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,124},{68,116}}</string>
                <key>offset</key>
                <string>{-6,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,149},{68,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1025_0_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,0},{100,102}}</string>
                <key>offset</key>
                <string>{-1,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,152},{100,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1025_0_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,0},{84,108}}</string>
                <key>offset</key>
                <string>{-13,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,153},{84,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1025_0_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,106},{88,104}}</string>
                <key>offset</key>
                <string>{-12,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,152},{88,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1025_0_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,0},{98,102}}</string>
                <key>offset</key>
                <string>{-3,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,151},{98,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1025_0_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,114},{78,104}}</string>
                <key>offset</key>
                <string>{-9,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,153},{78,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1025_0_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,0},{82,112}}</string>
                <key>offset</key>
                <string>{-8,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,154},{82,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1025_0_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,108},{82,104}}</string>
                <key>offset</key>
                <string>{-9,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,156},{82,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1025_0_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,112},{82,108}}</string>
                <key>offset</key>
                <string>{-5,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,156},{82,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1025_0_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,114},{76,104}}</string>
                <key>offset</key>
                <string>{-7,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,157},{76,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1025_0_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,112},{82,110}}</string>
                <key>offset</key>
                <string>{-8,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,155},{82,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1025_0_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,0},{48,114}}</string>
                <key>offset</key>
                <string>{0,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,156},{48,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1025_0_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,102},{50,100}}</string>
                <key>offset</key>
                <string>{0,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,159},{50,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1025_0_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,0},{50,114}}</string>
                <key>offset</key>
                <string>{0,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,157},{50,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1025_0_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,0},{52,106}}</string>
                <key>offset</key>
                <string>{-1,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,158},{52,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1025_0_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,0},{48,112}}</string>
                <key>offset</key>
                <string>{0,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,157},{48,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1025_0.png</string>
            <key>size</key>
            <string>{1024,194}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:403ec4cc36db7debb3476b06a9a7e5ae:1/1$</string>
            <key>textureFileName</key>
            <string>1025_0.png</string>
        </dict>
    </dict>
</plist>
