<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1025_8_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,0},{70,108}}</string>
                <key>offset</key>
                <string>{1,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,163},{70,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1025_8_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,0},{52,116}}</string>
                <key>offset</key>
                <string>{6,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,155},{52,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1025_8_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,0},{54,110}}</string>
                <key>offset</key>
                <string>{8,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,161},{54,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1025_8_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,0},{64,106}}</string>
                <key>offset</key>
                <string>{4,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,165},{64,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1025_8_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,0},{74,114}}</string>
                <key>offset</key>
                <string>{-6,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,157},{74,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1025_8_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,0},{66,118}}</string>
                <key>offset</key>
                <string>{-10,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,155},{66,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1025_8_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,0},{68,116}}</string>
                <key>offset</key>
                <string>{17,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,157},{68,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1025_8_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,124},{72,108}}</string>
                <key>offset</key>
                <string>{20,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,165},{72,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1025_8_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,0},{64,104}}</string>
                <key>offset</key>
                <string>{14,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,169},{64,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1025_8_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,0},{68,110}}</string>
                <key>offset</key>
                <string>{7,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,163},{68,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1025_8_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,0},{94,118}}</string>
                <key>offset</key>
                <string>{-1,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,149},{94,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1025_8_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,116},{80,108}}</string>
                <key>offset</key>
                <string>{9,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,159},{80,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1025_8_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,110},{82,94}}</string>
                <key>offset</key>
                <string>{10,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,173},{82,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1025_8_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,56},{76,94}}</string>
                <key>offset</key>
                <string>{8,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,173},{76,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1025_8_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,118},{78,98}}</string>
                <key>offset</key>
                <string>{7,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,169},{78,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1025_8_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,0},{96,118}}</string>
                <key>offset</key>
                <string>{-4,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,150},{96,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1025_8_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,118},{78,108}}</string>
                <key>offset</key>
                <string>{5,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,160},{78,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1025_8_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,108},{78,88}}</string>
                <key>offset</key>
                <string>{5,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,180},{78,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1025_8_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,106},{78,92}}</string>
                <key>offset</key>
                <string>{5,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,176},{78,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1025_8_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,118},{78,94}}</string>
                <key>offset</key>
                <string>{6,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,174},{78,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1025_8_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{76,124}}</string>
                <key>offset</key>
                <string>{-3,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,155},{76,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1025_8_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,0},{52,114}}</string>
                <key>offset</key>
                <string>{-5,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,165},{52,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1025_8_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,0},{56,96}}</string>
                <key>offset</key>
                <string>{-7,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,183},{56,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1025_8_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,132},{64,98}}</string>
                <key>offset</key>
                <string>{-4,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,181},{64,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1025_8_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,114},{82,108}}</string>
                <key>offset</key>
                <string>{10,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,171},{82,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1025_8.png</string>
            <key>size</key>
            <string>{994,196}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:66a9cef872ab37ccb3f4a46b45ccd39f:1/1$</string>
            <key>textureFileName</key>
            <string>1025_8.png</string>
        </dict>
    </dict>
</plist>
