<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1026_5_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,102},{86,100}}</string>
                <key>offset</key>
                <string>{0,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,108},{86,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1026_5_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,86},{86,100}}</string>
                <key>offset</key>
                <string>{1,97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,109},{86,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1026_5_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,0},{86,100}}</string>
                <key>offset</key>
                <string>{4,95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,111},{86,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1026_5_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,84},{88,100}}</string>
                <key>offset</key>
                <string>{3,94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,112},{88,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1026_5_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,84},{88,100}}</string>
                <key>offset</key>
                <string>{0,96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,110},{88,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1026_5_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{90,106}}</string>
                <key>offset</key>
                <string>{-4,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,106},{90,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1026_5_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,106},{88,106}}</string>
                <key>offset</key>
                <string>{-4,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,108},{88,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1026_5_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,0},{90,104}}</string>
                <key>offset</key>
                <string>{-4,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,110},{90,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1026_5_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,0},{90,102}}</string>
                <key>offset</key>
                <string>{-3,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,111},{90,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1026_5_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,0},{90,104}}</string>
                <key>offset</key>
                <string>{-3,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,108},{90,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1026_5_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,0},{86,106}}</string>
                <key>offset</key>
                <string>{-16,96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,107},{86,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1026_5_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,0},{84,106}}</string>
                <key>offset</key>
                <string>{-16,94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,109},{84,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1026_5_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,0},{84,102}}</string>
                <key>offset</key>
                <string>{-17,92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,113},{84,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1026_5_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,172},{84,100}}</string>
                <key>offset</key>
                <string>{-16,93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,113},{84,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1026_5_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,0},{84,104}}</string>
                <key>offset</key>
                <string>{-15,95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,109},{84,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1026_5_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,84},{78,96}}</string>
                <key>offset</key>
                <string>{-12,97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,111},{78,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1026_5_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,172},{78,96}}</string>
                <key>offset</key>
                <string>{-12,95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,113},{78,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1026_5_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,86},{78,92}}</string>
                <key>offset</key>
                <string>{-12,94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,116},{78,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1026_5_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,164},{76,92}}</string>
                <key>offset</key>
                <string>{-11,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,115},{76,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1026_5_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,162},{76,94}}</string>
                <key>offset</key>
                <string>{-11,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,112},{76,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1026_5_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,172},{86,84}}</string>
                <key>offset</key>
                <string>{1,100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,114},{86,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1026_5_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,172},{84,86}}</string>
                <key>offset</key>
                <string>{0,99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,114},{84,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1026_5_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,172},{86,84}}</string>
                <key>offset</key>
                <string>{-2,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,117},{86,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1026_5_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,86},{88,80}}</string>
                <key>offset</key>
                <string>{-1,97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,119},{88,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1026_5_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,174},{86,82}}</string>
                <key>offset</key>
                <string>{1,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,116},{86,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1026_5.png</string>
            <key>size</key>
            <string>{934,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d03a75c658e9b5d346aadf915de90106:1/1$</string>
            <key>textureFileName</key>
            <string>1026_5.png</string>
        </dict>
    </dict>
</plist>
