<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1026_2_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,410},{76,108}}</string>
                <key>offset</key>
                <string>{-8,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,166},{76,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1026_2_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,304},{88,106}}</string>
                <key>offset</key>
                <string>{-19,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,167},{88,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1026_2_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,692},{72,114}}</string>
                <key>offset</key>
                <string>{-9,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,159},{72,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1026_2_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,232},{66,118}}</string>
                <key>offset</key>
                <string>{-2,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,155},{66,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1026_2_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,350},{64,116}}</string>
                <key>offset</key>
                <string>{-3,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,157},{64,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1026_2_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,234},{70,112}}</string>
                <key>offset</key>
                <string>{-15,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,161},{70,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1026_2_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,486},{82,108}}</string>
                <key>offset</key>
                <string>{-9,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,165},{82,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1026_2_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,478},{78,116}}</string>
                <key>offset</key>
                <string>{-5,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,157},{78,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1026_2_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,114},{92,118}}</string>
                <key>offset</key>
                <string>{-15,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,155},{92,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1026_2_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,358},{80,120}}</string>
                <key>offset</key>
                <string>{-18,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,153},{80,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1026_2_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,706},{94,108}}</string>
                <key>offset</key>
                <string>{-7,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,156},{94,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1026_2_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,486},{98,94}}</string>
                <key>offset</key>
                <string>{-2,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,170},{98,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1026_2_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,814},{92,104}}</string>
                <key>offset</key>
                <string>{-6,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,160},{92,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1026_2_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,114},{98,108}}</string>
                <key>offset</key>
                <string>{-9,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,156},{98,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1026_2_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{102,114}}</string>
                <key>offset</key>
                <string>{-11,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,150},{102,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1026_2_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,0},{96,114}}</string>
                <key>offset</key>
                <string>{-6,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,150},{96,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1026_2_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,768},{96,84}}</string>
                <key>offset</key>
                <string>{8,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,180},{96,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1026_2_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,584},{90,96}}</string>
                <key>offset</key>
                <string>{-3,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,168},{90,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1026_2_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,918},{88,106}}</string>
                <key>offset</key>
                <string>{-2,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,158},{88,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1026_2_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,594},{86,112}}</string>
                <key>offset</key>
                <string>{-1,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,152},{86,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1026_2_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,232},{76,126}}</string>
                <key>offset</key>
                <string>{10,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,149},{76,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1026_2_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,680},{88,88}}</string>
                <key>offset</key>
                <string>{20,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,187},{88,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1026_2_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,594},{74,98}}</string>
                <key>offset</key>
                <string>{10,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,177},{74,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1026_2_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,864},{68,114}}</string>
                <key>offset</key>
                <string>{3,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,161},{68,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1026_2_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,114},{64,120}}</string>
                <key>offset</key>
                <string>{4,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,155},{64,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1026_2.png</string>
            <key>size</key>
            <string>{254,1006}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf762047e46395397749bd6b45e5b718:1/1$</string>
            <key>textureFileName</key>
            <string>1026_2.png</string>
        </dict>
    </dict>
</plist>
