<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1026_7_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,124},{98,110}}</string>
                <key>offset</key>
                <string>{-10,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,170},{98,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1026_7_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,118},{76,116}}</string>
                <key>offset</key>
                <string>{-6,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,150},{76,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1026_7_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,0},{84,120}}</string>
                <key>offset</key>
                <string>{-6,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,146},{84,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1026_7_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,118},{82,110}}</string>
                <key>offset</key>
                <string>{-6,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,156},{82,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1026_7_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,118},{64,116}}</string>
                <key>offset</key>
                <string>{-9,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,151},{64,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1026_7_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,138},{92,102}}</string>
                <key>offset</key>
                <string>{-18,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,171},{92,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1026_7_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,0},{74,118}}</string>
                <key>offset</key>
                <string>{-18,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,153},{74,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1026_7_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,0},{66,124}}</string>
                <key>offset</key>
                <string>{-16,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,147},{66,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1026_7_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,0},{74,118}}</string>
                <key>offset</key>
                <string>{-18,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,153},{74,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1026_7_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,0},{80,118}}</string>
                <key>offset</key>
                <string>{-15,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,151},{80,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1026_7_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,118},{84,98}}</string>
                <key>offset</key>
                <string>{-7,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,172},{84,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1026_7_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,0},{78,118}}</string>
                <key>offset</key>
                <string>{-9,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,151},{78,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1026_7_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,0},{74,126}}</string>
                <key>offset</key>
                <string>{-7,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,143},{74,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1026_7_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,0},{80,118}}</string>
                <key>offset</key>
                <string>{-9,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,151},{80,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1026_7_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,120},{82,114}}</string>
                <key>offset</key>
                <string>{-10,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,151},{82,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1026_7_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,118},{80,92}}</string>
                <key>offset</key>
                <string>{2,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,171},{80,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1026_7_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,0},{76,118}}</string>
                <key>offset</key>
                <string>{4,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,143},{76,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1026_7_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,0},{80,124}}</string>
                <key>offset</key>
                <string>{2,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,137},{80,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1026_7_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,126},{84,108}}</string>
                <key>offset</key>
                <string>{1,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,153},{84,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1026_7_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,118},{70,108}}</string>
                <key>offset</key>
                <string>{2,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,150},{70,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1026_7_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,134},{98,100}}</string>
                <key>offset</key>
                <string>{11,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,170},{98,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1026_7_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,0},{78,134}}</string>
                <key>offset</key>
                <string>{7,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,136},{78,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1026_7_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{82,138}}</string>
                <key>offset</key>
                <string>{7,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,132},{82,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1026_7_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,0},{82,118}}</string>
                <key>offset</key>
                <string>{7,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,152},{82,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1026_7_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,118},{64,116}}</string>
                <key>offset</key>
                <string>{10,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,152},{64,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1026_7.png</string>
            <key>size</key>
            <string>{1008,234}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e411f5547275ccdeb7f7cb18047e92b9:1/1$</string>
            <key>textureFileName</key>
            <string>1026_7.png</string>
        </dict>
    </dict>
</plist>
