<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1027_0_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,70},{54,108}}</string>
                <key>offset</key>
                <string>{-3,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,154},{54,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1027_0_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,102},{44,108}}</string>
                <key>offset</key>
                <string>{3,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,156},{44,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1027_0_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,192},{46,112}}</string>
                <key>offset</key>
                <string>{4,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,155},{46,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1027_0_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,190},{56,100}}</string>
                <key>offset</key>
                <string>{1,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,158},{56,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1027_0_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,0},{58,116}}</string>
                <key>offset</key>
                <string>{-3,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,155},{58,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1027_0_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,190},{78,100}}</string>
                <key>offset</key>
                <string>{-2,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,155},{78,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1027_0_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,0},{60,106}}</string>
                <key>offset</key>
                <string>{-8,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,157},{60,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1027_0_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,290},{68,106}}</string>
                <key>offset</key>
                <string>{-4,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,154},{68,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1027_0_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,190},{68,100}}</string>
                <key>offset</key>
                <string>{-6,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,157},{68,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1027_0_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,0},{70,110}}</string>
                <key>offset</key>
                <string>{-8,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,154},{70,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1027_0_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{98,96}}</string>
                <key>offset</key>
                <string>{-1,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,157},{98,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1027_0_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,60},{70,102}}</string>
                <key>offset</key>
                <string>{-9,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,159},{70,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1027_0_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,160},{76,96}}</string>
                <key>offset</key>
                <string>{-9,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,159},{76,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1027_0_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,96},{92,94}}</string>
                <key>offset</key>
                <string>{-2,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,159},{92,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1027_0_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,188},{72,98}}</string>
                <key>offset</key>
                <string>{-7,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,159},{72,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1027_0_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,290},{68,104}}</string>
                <key>offset</key>
                <string>{-2,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,162},{68,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1027_0_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,96},{64,94}}</string>
                <key>offset</key>
                <string>{-7,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,165},{64,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1027_0_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,58},{76,102}}</string>
                <key>offset</key>
                <string>{-3,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,162},{76,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1027_0_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,256},{68,96}}</string>
                <key>offset</key>
                <string>{-3,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,165},{68,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1027_0_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,0},{66,102}}</string>
                <key>offset</key>
                <string>{-4,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,162},{66,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1027_0_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,260},{54,104}}</string>
                <key>offset</key>
                <string>{4,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,166},{54,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1027_0_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,292},{46,90}}</string>
                <key>offset</key>
                <string>{-2,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,168},{46,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1027_0_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,146},{46,106}}</string>
                <key>offset</key>
                <string>{-3,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,165},{46,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1027_0_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,238},{54,96}}</string>
                <key>offset</key>
                <string>{0,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,167},{54,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1027_0_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,130},{58,102}}</string>
                <key>offset</key>
                <string>{4,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,166},{58,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1027_0.png</string>
            <key>size</key>
            <string>{496,358}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0aab08db7c8e02ac7d5fcd698c7fb5f0:1/1$</string>
            <key>textureFileName</key>
            <string>1027_0.png</string>
        </dict>
    </dict>
</plist>
