<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1027_2_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,0},{48,108}}</string>
                <key>offset</key>
                <string>{-6,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,164},{48,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1027_2_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,108},{60,106}}</string>
                <key>offset</key>
                <string>{-11,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,165},{60,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1027_2_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,0},{56,108}}</string>
                <key>offset</key>
                <string>{-5,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,163},{56,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1027_2_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,0},{62,112}}</string>
                <key>offset</key>
                <string>{-4,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,159},{62,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1027_2_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,0},{52,112}}</string>
                <key>offset</key>
                <string>{-2,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,160},{52,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1027_2_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,0},{60,108}}</string>
                <key>offset</key>
                <string>{-10,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,164},{60,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1027_2_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,112},{66,108}}</string>
                <key>offset</key>
                <string>{-3,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,163},{66,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1027_2_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,0},{74,110}}</string>
                <key>offset</key>
                <string>{-5,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,161},{74,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1027_2_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,0},{72,112}}</string>
                <key>offset</key>
                <string>{-2,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,159},{72,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1027_2_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,0},{64,114}}</string>
                <key>offset</key>
                <string>{-7,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,158},{64,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1027_2_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,0},{84,104}}</string>
                <key>offset</key>
                <string>{-1,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,160},{84,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1027_2_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,98},{78,94}}</string>
                <key>offset</key>
                <string>{2,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,170},{78,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1027_2_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,0},{92,98}}</string>
                <key>offset</key>
                <string>{-5,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,165},{92,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1027_2_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,0},{86,102}}</string>
                <key>offset</key>
                <string>{-2,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,162},{86,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1027_2_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,104},{80,104}}</string>
                <key>offset</key>
                <string>{1,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,160},{80,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1027_2_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,0},{82,108}}</string>
                <key>offset</key>
                <string>{0,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,157},{82,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1027_2_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,110},{74,88}}</string>
                <key>offset</key>
                <string>{4,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,177},{74,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1027_2_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,0},{88,98}}</string>
                <key>offset</key>
                <string>{-3,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,167},{88,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1027_2_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,102},{82,96}}</string>
                <key>offset</key>
                <string>{0,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,169},{82,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1027_2_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,112},{70,102}}</string>
                <key>offset</key>
                <string>{6,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,163},{70,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1027_2_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{50,128}}</string>
                <key>offset</key>
                <string>{7,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,148},{50,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1027_2_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,108},{60,96}}</string>
                <key>offset</key>
                <string>{12,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,180},{60,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1027_2_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,128},{56,114}}</string>
                <key>offset</key>
                <string>{6,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,162},{56,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1027_2_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,110},{62,102}}</string>
                <key>offset</key>
                <string>{6,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,174},{62,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1027_2_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,0},{52,110}}</string>
                <key>offset</key>
                <string>{4,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,166},{52,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1027_2.png</string>
            <key>size</key>
            <string>{1022,184}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:40fda2315c30f46f6bf543445bb6db0b:1/1$</string>
            <key>textureFileName</key>
            <string>1027_2.png</string>
        </dict>
    </dict>
</plist>
