<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1028_0_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,130},{64,100}}</string>
                <key>offset</key>
                <string>{1,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,150},{64,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1028_0_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,0},{60,128}}</string>
                <key>offset</key>
                <string>{4,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,147},{60,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1028_0_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,0},{58,108}}</string>
                <key>offset</key>
                <string>{1,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,147},{58,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1028_0_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{58,130}}</string>
                <key>offset</key>
                <string>{0,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,145},{58,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1028_0_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,0},{58,116}}</string>
                <key>offset</key>
                <string>{2,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,148},{58,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1028_0_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,108},{86,102}}</string>
                <key>offset</key>
                <string>{-3,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,151},{86,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1028_0_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,0},{90,124}}</string>
                <key>offset</key>
                <string>{-4,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,148},{90,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1028_0_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,108},{82,102}}</string>
                <key>offset</key>
                <string>{-5,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,148},{82,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1028_0_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,0},{106,120}}</string>
                <key>offset</key>
                <string>{-13,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,147},{106,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1028_0_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,0},{86,104}}</string>
                <key>offset</key>
                <string>{-6,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,149},{86,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1028_0_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,110},{92,104}}</string>
                <key>offset</key>
                <string>{-9,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,157},{92,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1028_0_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,0},{90,110}}</string>
                <key>offset</key>
                <string>{-12,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,151},{90,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1028_0_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,112},{98,102}}</string>
                <key>offset</key>
                <string>{-9,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,149},{98,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1028_0_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,0},{108,102}}</string>
                <key>offset</key>
                <string>{-14,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,155},{108,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1028_0_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,116},{94,100}}</string>
                <key>offset</key>
                <string>{-11,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,151},{94,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1028_0_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,124},{86,108}}</string>
                <key>offset</key>
                <string>{-4,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,162},{86,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1028_0_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,104},{84,92}}</string>
                <key>offset</key>
                <string>{-10,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,159},{84,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1028_0_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,128},{82,106}}</string>
                <key>offset</key>
                <string>{-4,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,160},{82,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1028_0_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,110},{90,96}}</string>
                <key>offset</key>
                <string>{-5,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,158},{90,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1028_0_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,0},{84,110}}</string>
                <key>offset</key>
                <string>{-4,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,161},{84,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1028_0_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,0},{60,108}}</string>
                <key>offset</key>
                <string>{1,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,165},{60,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1028_0_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,92},{58,90}}</string>
                <key>offset</key>
                <string>{0,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,163},{58,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1028_0_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,0},{54,110}}</string>
                <key>offset</key>
                <string>{0,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,163},{54,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1028_0_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,0},{58,92}}</string>
                <key>offset</key>
                <string>{1,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,161},{58,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1028_0_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,0},{56,112}}</string>
                <key>offset</key>
                <string>{0,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,162},{56,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1028_0.png</string>
            <key>size</key>
            <string>{1020,210}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0705f56ff97cb14856f42e7b500e5ba4:1/1$</string>
            <key>textureFileName</key>
            <string>1028_0.png</string>
        </dict>
    </dict>
</plist>
