<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1029_7_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,0},{60,96}}</string>
                <key>offset</key>
                <string>{0,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,172},{60,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1029_7_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,0},{58,112}}</string>
                <key>offset</key>
                <string>{-4,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,157},{58,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1029_7_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,130},{56,116}}</string>
                <key>offset</key>
                <string>{-3,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,152},{56,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1029_7_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,0},{64,110}}</string>
                <key>offset</key>
                <string>{0,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,158},{64,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1029_7_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,0},{66,112}}</string>
                <key>offset</key>
                <string>{-8,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,156},{66,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1029_7_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,112},{74,98}}</string>
                <key>offset</key>
                <string>{-6,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,174},{74,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1029_7_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,114},{72,112}}</string>
                <key>offset</key>
                <string>{-10,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,160},{72,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1029_7_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,0},{68,118}}</string>
                <key>offset</key>
                <string>{-12,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,154},{68,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1029_7_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,0},{62,116}}</string>
                <key>offset</key>
                <string>{-12,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,156},{62,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1029_7_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,0},{70,118}}</string>
                <key>offset</key>
                <string>{-19,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,154},{70,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1029_7_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,0},{62,92}}</string>
                <key>offset</key>
                <string>{-3,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,177},{62,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1029_7_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,0},{72,114}}</string>
                <key>offset</key>
                <string>{-5,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,155},{72,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1029_7_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,118},{68,118}}</string>
                <key>offset</key>
                <string>{-6,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,151},{68,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1029_7_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,0},{66,116}}</string>
                <key>offset</key>
                <string>{-5,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,153},{66,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1029_7_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,118},{68,114}}</string>
                <key>offset</key>
                <string>{-6,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,155},{68,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1029_7_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,96},{78,86}}</string>
                <key>offset</key>
                <string>{1,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,177},{78,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1029_7_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,116},{70,110}}</string>
                <key>offset</key>
                <string>{5,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,151},{70,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1029_7_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,0},{70,116}}</string>
                <key>offset</key>
                <string>{5,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,145},{70,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1029_7_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,110},{76,108}}</string>
                <key>offset</key>
                <string>{2,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,153},{76,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1029_7_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,116},{70,106}}</string>
                <key>offset</key>
                <string>{5,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,155},{70,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1029_7_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,0},{60,96}}</string>
                <key>offset</key>
                <string>{1,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,175},{60,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1029_7_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,0},{58,128}}</string>
                <key>offset</key>
                <string>{5,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,143},{58,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1029_7_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{56,130}}</string>
                <key>offset</key>
                <string>{4,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,141},{56,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1029_7_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,0},{64,116}}</string>
                <key>offset</key>
                <string>{1,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,155},{64,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1029_7_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,0},{64,114}}</string>
                <key>offset</key>
                <string>{9,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,157},{64,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1029_7.png</string>
            <key>size</key>
            <string>{1020,186}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7a5f55f1dd63220c5306b60cd59b1b37:1/1$</string>
            <key>textureFileName</key>
            <string>1029_7.png</string>
        </dict>
    </dict>
</plist>
