<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1029_5_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{62,98}}</string>
                <key>offset</key>
                <string>{0,100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,107},{62,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1029_5_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,0},{64,98}}</string>
                <key>offset</key>
                <string>{-1,97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,110},{64,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1029_5_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,62},{68,98}}</string>
                <key>offset</key>
                <string>{-1,94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,113},{68,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1029_5_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,130},{70,98}}</string>
                <key>offset</key>
                <string>{-2,96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,111},{70,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1029_5_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,0},{66,98}}</string>
                <key>offset</key>
                <string>{-1,99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,108},{66,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1029_5_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,270},{76,102}}</string>
                <key>offset</key>
                <string>{-7,98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,107},{76,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1029_5_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,272},{76,100}}</string>
                <key>offset</key>
                <string>{-8,95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,111},{76,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1029_5_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,276},{76,98}}</string>
                <key>offset</key>
                <string>{-8,92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,115},{76,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1029_5_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,276},{80,98}}</string>
                <key>offset</key>
                <string>{-9,94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,113},{80,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1029_5_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,276},{78,100}}</string>
                <key>offset</key>
                <string>{-8,96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,110},{78,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1029_5_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,132},{70,106}}</string>
                <key>offset</key>
                <string>{-8,95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,108},{70,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1029_5_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,64},{68,104}}</string>
                <key>offset</key>
                <string>{-8,93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,111},{68,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1029_5_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,134},{70,100}}</string>
                <key>offset</key>
                <string>{-10,90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,116},{70,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1029_5_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,204},{72,98}}</string>
                <key>offset</key>
                <string>{-10,91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,116},{72,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1029_5_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,200},{70,102}}</string>
                <key>offset</key>
                <string>{-9,94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,111},{70,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1029_5_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,128},{68,100}}</string>
                <key>offset</key>
                <string>{-10,96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,110},{68,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1029_5_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,66},{68,100}}</string>
                <key>offset</key>
                <string>{-10,94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,112},{68,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1029_5_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,202},{70,96}}</string>
                <key>offset</key>
                <string>{-11,92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,116},{70,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1029_5_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,204},{72,92}}</string>
                <key>offset</key>
                <string>{-12,92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,118},{72,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1029_5_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,196},{70,96}}</string>
                <key>offset</key>
                <string>{-11,94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,114},{70,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1029_5_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,0},{62,94}}</string>
                <key>offset</key>
                <string>{2,98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,111},{62,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1029_5_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,0},{62,96}}</string>
                <key>offset</key>
                <string>{2,97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,111},{62,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1029_5_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,62},{66,92}}</string>
                <key>offset</key>
                <string>{2,93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,117},{66,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1029_5_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,134},{70,88}}</string>
                <key>offset</key>
                <string>{2,95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,117},{70,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1029_5_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,62},{66,90}}</string>
                <key>offset</key>
                <string>{2,97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,114},{66,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1029_5.png</string>
            <key>size</key>
            <string>{498,356}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f5cf77ec2d15566ccfd65f9684c4188f:1/1$</string>
            <key>textureFileName</key>
            <string>1029_5.png</string>
        </dict>
    </dict>
</plist>
