<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1030_1_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,0},{84,112}}</string>
                <key>offset</key>
                <string>{-2,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,152},{84,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1030_1_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,0},{84,112}}</string>
                <key>offset</key>
                <string>{-1,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,152},{84,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1030_1_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,112},{82,110}}</string>
                <key>offset</key>
                <string>{-1,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,154},{82,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1030_1_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,0},{84,112}}</string>
                <key>offset</key>
                <string>{-2,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,153},{84,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1030_1_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,120},{66,126}}</string>
                <key>offset</key>
                <string>{-10,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,145},{66,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1030_1_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,120},{62,126}}</string>
                <key>offset</key>
                <string>{-9,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,146},{62,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1030_1_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,120},{58,126}}</string>
                <key>offset</key>
                <string>{-7,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,146},{58,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1030_1_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,120},{64,126}}</string>
                <key>offset</key>
                <string>{-10,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,146},{64,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1030_1_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,0},{56,122}}</string>
                <key>offset</key>
                <string>{-11,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,143},{56,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1030_1_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,122},{52,124}}</string>
                <key>offset</key>
                <string>{-10,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,141},{52,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1030_1_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,122},{52,124}}</string>
                <key>offset</key>
                <string>{-9,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,142},{52,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1030_1_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,122},{56,124}}</string>
                <key>offset</key>
                <string>{-11,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,141},{56,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1030_1_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,0},{80,118}}</string>
                <key>offset</key>
                <string>{-15,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,145},{80,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1030_1_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,118},{78,120}}</string>
                <key>offset</key>
                <string>{-14,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,143},{78,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1030_1_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,112},{76,120}}</string>
                <key>offset</key>
                <string>{-13,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,143},{76,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1030_1_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,120},{80,120}}</string>
                <key>offset</key>
                <string>{-14,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,143},{80,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1030_1_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,0},{82,120}}</string>
                <key>offset</key>
                <string>{3,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,143},{82,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1030_1_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,0},{82,120}}</string>
                <key>offset</key>
                <string>{2,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,143},{82,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1030_1_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,0},{82,120}}</string>
                <key>offset</key>
                <string>{2,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,143},{82,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1030_1_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{84,120}}</string>
                <key>offset</key>
                <string>{3,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,143},{84,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1030_1.png</string>
            <key>size</key>
            <string>{726,246}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:743e4d8d0032f5c61b44aae43ddb3061:1/1$</string>
            <key>textureFileName</key>
            <string>1030_1.png</string>
        </dict>
    </dict>
</plist>
