<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1030_3_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,0},{72,114}}</string>
                <key>offset</key>
                <string>{3,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,152},{72,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1030_3_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{64,122}}</string>
                <key>offset</key>
                <string>{-2,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,148},{64,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1030_3_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,0},{68,118}}</string>
                <key>offset</key>
                <string>{-8,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,149},{68,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1030_3_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,0},{78,110}}</string>
                <key>offset</key>
                <string>{-5,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,149},{78,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1030_3_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,0},{72,118}}</string>
                <key>offset</key>
                <string>{-2,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,150},{72,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1030_3.png</string>
            <key>size</key>
            <string>{354,122}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cbe18603460c7e04e78d6a9abc3e8007:1/1$</string>
            <key>textureFileName</key>
            <string>1030_3.png</string>
        </dict>
    </dict>
</plist>
