<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1030_8_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,250},{88,118}}</string>
                <key>offset</key>
                <string>{-6,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,155},{88,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1030_8_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,124},{64,120}}</string>
                <key>offset</key>
                <string>{1,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,153},{64,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1030_8_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,360},{70,110}}</string>
                <key>offset</key>
                <string>{3,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,163},{70,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1030_8_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,0},{80,112}}</string>
                <key>offset</key>
                <string>{0,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,161},{80,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1030_8_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,244},{74,116}}</string>
                <key>offset</key>
                <string>{0,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,157},{74,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1030_8_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,124},{70,128}}</string>
                <key>offset</key>
                <string>{-11,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,147},{70,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1030_8_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,110},{76,116}}</string>
                <key>offset</key>
                <string>{15,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,158},{76,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1030_8_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,172},{80,106}}</string>
                <key>offset</key>
                <string>{20,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,168},{80,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1030_8_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,0},{84,112}}</string>
                <key>offset</key>
                <string>{11,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,162},{84,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1030_8_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,0},{96,110}}</string>
                <key>offset</key>
                <string>{-3,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,164},{96,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1030_8_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,0},{86,124}}</string>
                <key>offset</key>
                <string>{5,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,143},{86,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1030_8_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,84},{92,102}}</string>
                <key>offset</key>
                <string>{12,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,164},{92,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1030_8_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,80},{98,92}}</string>
                <key>offset</key>
                <string>{14,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,174},{98,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1030_8_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,374},{88,100}}</string>
                <key>offset</key>
                <string>{10,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,166},{88,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1030_8_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,284},{88,98}}</string>
                <key>offset</key>
                <string>{5,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,168},{88,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1030_8_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{94,124}}</string>
                <key>offset</key>
                <string>{0,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,144},{94,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1030_8_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,186},{92,98}}</string>
                <key>offset</key>
                <string>{8,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,170},{92,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1030_8_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,278},{84,90}}</string>
                <key>offset</key>
                <string>{5,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,178},{84,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1030_8_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,372},{84,100}}</string>
                <key>offset</key>
                <string>{5,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,168},{84,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1030_8_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,368},{88,106}}</string>
                <key>offset</key>
                <string>{3,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,162},{88,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1030_8_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,124},{88,126}}</string>
                <key>offset</key>
                <string>{6,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,153},{88,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1030_8_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,226},{64,108}}</string>
                <key>offset</key>
                <string>{0,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,171},{64,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1030_8_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,372},{70,102}}</string>
                <key>offset</key>
                <string>{-1,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,177},{70,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1030_8_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,368},{80,104}}</string>
                <key>offset</key>
                <string>{1,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,175},{80,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1030_8_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,252},{74,122}}</string>
                <key>offset</key>
                <string>{1,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,157},{74,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1030_8.png</string>
            <key>size</key>
            <string>{501,474}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7631e10195826224a4038529b9bc982a:1/1$</string>
            <key>textureFileName</key>
            <string>1030_8.png</string>
        </dict>
    </dict>
</plist>
