<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1031_8_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,0},{66,110}}</string>
                <key>offset</key>
                <string>{0,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,162},{66,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1031_8_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,0},{52,112}}</string>
                <key>offset</key>
                <string>{6,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,159},{52,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1031_8_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,0},{58,110}}</string>
                <key>offset</key>
                <string>{10,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,161},{58,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1031_8_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,0},{64,106}}</string>
                <key>offset</key>
                <string>{5,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,165},{64,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1031_8_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,0},{68,108}}</string>
                <key>offset</key>
                <string>{-3,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,163},{68,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1031_8_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,0},{66,120}}</string>
                <key>offset</key>
                <string>{-10,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,155},{66,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1031_8_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,0},{72,114}}</string>
                <key>offset</key>
                <string>{15,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,159},{72,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1031_8_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,124},{74,108}}</string>
                <key>offset</key>
                <string>{19,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,165},{74,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1031_8_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,0},{70,104}}</string>
                <key>offset</key>
                <string>{12,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,169},{70,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1031_8_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,120},{78,106}}</string>
                <key>offset</key>
                <string>{2,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,167},{78,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1031_8_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,0},{90,118}}</string>
                <key>offset</key>
                <string>{1,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,149},{90,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1031_8_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,114},{82,108}}</string>
                <key>offset</key>
                <string>{9,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,159},{82,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1031_8_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,108},{86,94}}</string>
                <key>offset</key>
                <string>{13,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,173},{86,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1031_8_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,104},{76,94}}</string>
                <key>offset</key>
                <string>{8,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,173},{76,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1031_8_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,118},{78,96}}</string>
                <key>offset</key>
                <string>{7,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,171},{78,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1031_8_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,0},{92,118}}</string>
                <key>offset</key>
                <string>{-2,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,150},{92,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1031_8_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,112},{86,108}}</string>
                <key>offset</key>
                <string>{1,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,160},{86,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1031_8_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,110},{78,88}}</string>
                <key>offset</key>
                <string>{6,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,180},{78,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1031_8_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,106},{78,92}}</string>
                <key>offset</key>
                <string>{5,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,176},{78,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1031_8_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,118},{78,98}}</string>
                <key>offset</key>
                <string>{5,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,170},{78,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1031_8_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{66,124}}</string>
                <key>offset</key>
                <string>{1,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,155},{66,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1031_8_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,0},{52,114}}</string>
                <key>offset</key>
                <string>{-5,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,165},{52,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1031_8_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,0},{58,96}}</string>
                <key>offset</key>
                <string>{-8,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,183},{58,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1031_8_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,0},{64,98}}</string>
                <key>offset</key>
                <string>{-3,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,181},{64,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1031_8_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,0},{68,112}}</string>
                <key>offset</key>
                <string>{4,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,167},{68,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1031_8.png</string>
            <key>size</key>
            <string>{1006,198}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9660e51240f61b6cd789854c255946e8:1/1$</string>
            <key>textureFileName</key>
            <string>1031_8.png</string>
        </dict>
    </dict>
</plist>
