<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1031_5_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,132},{64,96}}</string>
                <key>offset</key>
                <string>{1,99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,109},{64,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1031_5_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,98},{68,96}}</string>
                <key>offset</key>
                <string>{-1,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,112},{68,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1031_5_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,0},{66,96}}</string>
                <key>offset</key>
                <string>{1,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,115},{66,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1031_5_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,96},{66,96}}</string>
                <key>offset</key>
                <string>{1,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,113},{66,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1031_5_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,0},{64,96}}</string>
                <key>offset</key>
                <string>{1,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,110},{64,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1031_5_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,110},{108,102}}</string>
                <key>offset</key>
                <string>{-19,97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,108},{108,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1031_5_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,110},{108,100}}</string>
                <key>offset</key>
                <string>{-20,94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,112},{108,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1031_5_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,0},{110,100}}</string>
                <key>offset</key>
                <string>{-20,93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,113},{110,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1031_5_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,0},{108,98}}</string>
                <key>offset</key>
                <string>{-19,93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,114},{108,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1031_5_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{110,100}}</string>
                <key>offset</key>
                <string>{-19,96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,110},{110,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1031_5_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,0},{100,106}}</string>
                <key>offset</key>
                <string>{-24,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,108},{100,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1031_5_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,108},{102,106}}</string>
                <key>offset</key>
                <string>{-25,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,110},{102,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1031_5_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,104},{100,104}}</string>
                <key>offset</key>
                <string>{-25,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,113},{100,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1031_5_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,0},{104,102}}</string>
                <key>offset</key>
                <string>{-26,92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,113},{104,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1031_5_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,106},{102,104}}</string>
                <key>offset</key>
                <string>{-25,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,110},{102,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1031_5_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,102},{76,102}}</string>
                <key>offset</key>
                <string>{-11,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,109},{76,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1031_5_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,0},{76,102}}</string>
                <key>offset</key>
                <string>{-11,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,111},{76,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1031_5_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,0},{80,100}}</string>
                <key>offset</key>
                <string>{-14,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,113},{80,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1031_5_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,0},{80,98}}</string>
                <key>offset</key>
                <string>{-13,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,114},{80,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1031_5_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,100},{78,100}}</string>
                <key>offset</key>
                <string>{-12,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,111},{78,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1031_5_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,96},{64,96}}</string>
                <key>offset</key>
                <string>{0,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,109},{64,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1031_5_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,98},{68,98}}</string>
                <key>offset</key>
                <string>{1,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,110},{68,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1031_5_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,0},{66,96}}</string>
                <key>offset</key>
                <string>{0,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,114},{66,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1031_5_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,66},{66,92}}</string>
                <key>offset</key>
                <string>{0,96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,114},{66,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1031_5_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,0},{66,92}}</string>
                <key>offset</key>
                <string>{0,98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,112},{66,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1031_5.png</string>
            <key>size</key>
            <string>{1024,218}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5056d74b1909ca95ee89f10e6e7accab:1/1$</string>
            <key>textureFileName</key>
            <string>1031_5.png</string>
        </dict>
    </dict>
</plist>
