<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1031_3_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,0},{60,110}}</string>
                <key>offset</key>
                <string>{1,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,154},{60,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1031_3_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,0},{76,110}}</string>
                <key>offset</key>
                <string>{-12,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,155},{76,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1031_3_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,0},{82,104}}</string>
                <key>offset</key>
                <string>{-7,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,159},{82,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1031_3_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{86,104}}</string>
                <key>offset</key>
                <string>{-13,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,160},{86,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1031_3_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,60},{56,112}}</string>
                <key>offset</key>
                <string>{-2,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,159},{56,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1031_3.png</string>
            <key>size</key>
            <string>{356,116}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:77eee12a322c5e3df2c38d0b83cd0a34:1/1$</string>
            <key>textureFileName</key>
            <string>1031_3.png</string>
        </dict>
    </dict>
</plist>
