<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1032_5_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,218},{88,104}}</string>
                <key>offset</key>
                <string>{-1,100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,104},{88,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1032_5_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,426},{86,104}}</string>
                <key>offset</key>
                <string>{1,99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,105},{86,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1032_5_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,108},{86,102}}</string>
                <key>offset</key>
                <string>{4,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,109},{86,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1032_5_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,324},{88,104}}</string>
                <key>offset</key>
                <string>{3,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,108},{88,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1032_5_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,104},{88,104}}</string>
                <key>offset</key>
                <string>{0,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,106},{88,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1032_5_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{102,108}}</string>
                <key>offset</key>
                <string>{-7,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,104},{102,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1032_5_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,108},{100,110}}</string>
                <key>offset</key>
                <string>{-7,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,104},{100,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1032_5_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,0},{98,106}}</string>
                <key>offset</key>
                <string>{-7,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,108},{98,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1032_5_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,218},{98,106}}</string>
                <key>offset</key>
                <string>{-6,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,107},{98,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1032_5_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,0},{102,106}}</string>
                <key>offset</key>
                <string>{-6,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,106},{102,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1032_5_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,324},{88,106}}</string>
                <key>offset</key>
                <string>{-17,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,107},{88,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1032_5_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,0},{86,108}}</string>
                <key>offset</key>
                <string>{-17,95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,107},{86,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1032_5_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,322},{86,104}}</string>
                <key>offset</key>
                <string>{-18,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,111},{86,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1032_5_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,0},{86,104}}</string>
                <key>offset</key>
                <string>{-17,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,109},{86,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1032_5_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,86},{86,106}}</string>
                <key>offset</key>
                <string>{-16,96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,107},{86,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1032_5_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,172},{84,98}}</string>
                <key>offset</key>
                <string>{-9,94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,113},{84,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1032_5_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,428},{84,98}}</string>
                <key>offset</key>
                <string>{-9,93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,114},{84,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1032_5_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,256},{86,96}}</string>
                <key>offset</key>
                <string>{-11,91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,117},{86,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1032_5_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,106},{88,96}}</string>
                <key>offset</key>
                <string>{-11,90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,118},{88,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1032_5_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,202},{86,98}}</string>
                <key>offset</key>
                <string>{-10,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,115},{86,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1032_5_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,256},{86,86}}</string>
                <key>offset</key>
                <string>{2,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,115},{86,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1032_5_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,426},{86,86}}</string>
                <key>offset</key>
                <string>{1,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,116},{86,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1032_5_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,342},{88,84}}</string>
                <key>offset</key>
                <string>{-3,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,120},{88,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1032_5_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,342},{88,84}}</string>
                <key>offset</key>
                <string>{-1,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,120},{88,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1032_5_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,426},{88,86}}</string>
                <key>offset</key>
                <string>{1,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,117},{88,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1032_5.png</string>
            <key>size</key>
            <string>{497,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7140985584c444346e92332ca24a677e:1/1$</string>
            <key>textureFileName</key>
            <string>1032_5.png</string>
        </dict>
    </dict>
</plist>
