<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1032_3_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,0},{72,114}}</string>
                <key>offset</key>
                <string>{-3,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,152},{72,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1032_3_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{76,118}}</string>
                <key>offset</key>
                <string>{0,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,152},{76,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1032_3_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,0},{76,112}}</string>
                <key>offset</key>
                <string>{-4,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,155},{76,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1032_3_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,0},{84,102}}</string>
                <key>offset</key>
                <string>{0,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,157},{84,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1032_3_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,0},{72,110}}</string>
                <key>offset</key>
                <string>{4,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,158},{72,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1032_3.png</string>
            <key>size</key>
            <string>{380,118}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0f7fd1b7ba82b381a5e9b3b7ec4caa41:1/1$</string>
            <key>textureFileName</key>
            <string>1032_3.png</string>
        </dict>
    </dict>
</plist>
