<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1032_0_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,204},{66,110}}</string>
                <key>offset</key>
                <string>{0,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,149},{66,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1032_0_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,104},{64,128}}</string>
                <key>offset</key>
                <string>{4,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,147},{64,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1032_0_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,220},{66,106}}</string>
                <key>offset</key>
                <string>{3,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,148},{66,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1032_0_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,326},{66,128}}</string>
                <key>offset</key>
                <string>{3,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,146},{66,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1032_0_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,168},{64,114}}</string>
                <key>offset</key>
                <string>{-1,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,149},{64,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1032_0_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,242},{98,106}}</string>
                <key>offset</key>
                <string>{-14,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,152},{98,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1032_0_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{100,122}}</string>
                <key>offset</key>
                <string>{-9,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,150},{100,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1032_0_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,0},{102,110}}</string>
                <key>offset</key>
                <string>{-10,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,151},{102,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1032_0_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,122},{98,120}}</string>
                <key>offset</key>
                <string>{-13,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,148},{98,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1032_0_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,0},{102,108}}</string>
                <key>offset</key>
                <string>{-14,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,151},{102,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1032_0_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,348},{104,100}}</string>
                <key>offset</key>
                <string>{-15,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,161},{104,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1032_0_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,220},{92,106}}</string>
                <key>offset</key>
                <string>{-11,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,155},{92,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1032_0_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,0},{104,104}}</string>
                <key>offset</key>
                <string>{-11,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,153},{104,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1032_0_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,108},{92,102}}</string>
                <key>offset</key>
                <string>{-16,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,159},{92,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1032_0_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,232},{98,98}}</string>
                <key>offset</key>
                <string>{-13,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,157},{98,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1032_0_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,0},{104,100}}</string>
                <key>offset</key>
                <string>{-11,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,170},{104,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1032_0_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,332},{96,86}}</string>
                <key>offset</key>
                <string>{-14,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,166},{96,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1032_0_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,330},{94,98}}</string>
                <key>offset</key>
                <string>{-12,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,168},{94,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1032_0_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,232},{100,88}}</string>
                <key>offset</key>
                <string>{-10,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,167},{100,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1032_0_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,122},{98,104}}</string>
                <key>offset</key>
                <string>{-8,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,167},{98,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1032_0_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,418},{68,100}}</string>
                <key>offset</key>
                <string>{1,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,173},{68,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1032_0_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,332},{64,84}}</string>
                <key>offset</key>
                <string>{-2,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,171},{64,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1032_0_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,104},{68,100}}</string>
                <key>offset</key>
                <string>{-2,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,173},{68,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1032_0_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,416},{66,82}}</string>
                <key>offset</key>
                <string>{-4,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,171},{66,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1032_0_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,326},{66,110}}</string>
                <key>offset</key>
                <string>{3,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,164},{66,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1032_0.png</string>
            <key>size</key>
            <string>{509,490}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fd91776335599ebe2059867c9218f8e8:1/1$</string>
            <key>textureFileName</key>
            <string>1032_0.png</string>
        </dict>
    </dict>
</plist>
