<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1032_4_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,100},{84,98}}</string>
                <key>offset</key>
                <string>{0,102}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,105},{84,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1032_4_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,80},{84,98}}</string>
                <key>offset</key>
                <string>{0,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,106},{84,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1032_4_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,0},{88,100}}</string>
                <key>offset</key>
                <string>{-1,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,105},{88,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1032_4_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,82},{84,98}}</string>
                <key>offset</key>
                <string>{0,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,106},{84,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1032_4_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,0},{94,108}}</string>
                <key>offset</key>
                <string>{-15,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,104},{94,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1032_4_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,0},{94,108}}</string>
                <key>offset</key>
                <string>{-15,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,104},{94,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1032_4_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,0},{94,108}}</string>
                <key>offset</key>
                <string>{-14,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,105},{94,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1032_4_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{94,108}}</string>
                <key>offset</key>
                <string>{-15,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,105},{94,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1032_4_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,108},{82,114}}</string>
                <key>offset</key>
                <string>{-19,95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,104},{82,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1032_4_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,0},{82,112}}</string>
                <key>offset</key>
                <string>{-20,95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,105},{82,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1032_4_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,0},{82,114}}</string>
                <key>offset</key>
                <string>{-20,94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,105},{82,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1032_4_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,108},{82,114}}</string>
                <key>offset</key>
                <string>{-20,94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,105},{82,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1032_4_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,0},{80,110}}</string>
                <key>offset</key>
                <string>{-13,93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,108},{80,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1032_4_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,0},{80,108}}</string>
                <key>offset</key>
                <string>{-14,94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,108},{80,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1032_4_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,0},{80,108}}</string>
                <key>offset</key>
                <string>{-13,92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,110},{80,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1032_4_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,108},{80,110}}</string>
                <key>offset</key>
                <string>{-13,93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,108},{80,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1032_4_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,82},{84,102}}</string>
                <key>offset</key>
                <string>{1,95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,110},{84,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1032_4_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,82},{84,102}}</string>
                <key>offset</key>
                <string>{1,94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,111},{84,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1032_4_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,80},{86,100}}</string>
                <key>offset</key>
                <string>{2,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,112},{86,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1032_4_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,80},{84,100}}</string>
                <key>offset</key>
                <string>{2,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,112},{84,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1032_4.png</string>
            <key>size</key>
            <string>{1016,191}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:468c3338f12889204361e98c110b0eb8:1/1$</string>
            <key>textureFileName</key>
            <string>1032_4.png</string>
        </dict>
    </dict>
</plist>
