<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1032_1_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,128},{64,112}}</string>
                <key>offset</key>
                <string>{0,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,150},{64,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1032_1_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,116},{64,112}}</string>
                <key>offset</key>
                <string>{0,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,150},{64,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1032_1_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,180},{62,112}}</string>
                <key>offset</key>
                <string>{0,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,150},{62,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1032_1_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,64},{64,112}}</string>
                <key>offset</key>
                <string>{0,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,150},{64,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1032_1_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,0},{68,116}}</string>
                <key>offset</key>
                <string>{-12,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,148},{68,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1032_1_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,116},{62,116}}</string>
                <key>offset</key>
                <string>{-11,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,148},{62,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1032_1_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,0},{64,116}}</string>
                <key>offset</key>
                <string>{-11,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,148},{64,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1032_1_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,114},{66,116}}</string>
                <key>offset</key>
                <string>{-12,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,148},{66,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1032_1_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,64},{52,120}}</string>
                <key>offset</key>
                <string>{-11,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,145},{52,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1032_1_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,192},{54,120}}</string>
                <key>offset</key>
                <string>{-12,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,145},{54,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1032_1_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,0},{52,118}}</string>
                <key>offset</key>
                <string>{-12,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,147},{52,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1032_1_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,178},{54,120}}</string>
                <key>offset</key>
                <string>{-12,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,145},{54,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1032_1_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,116},{68,116}}</string>
                <key>offset</key>
                <string>{-12,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,147},{68,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1032_1_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,0},{68,116}}</string>
                <key>offset</key>
                <string>{-13,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,147},{68,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1032_1_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,116},{68,116}}</string>
                <key>offset</key>
                <string>{-13,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,147},{68,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1032_1_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{70,116}}</string>
                <key>offset</key>
                <string>{-14,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,147},{70,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1032_1_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,0},{70,114}}</string>
                <key>offset</key>
                <string>{2,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,149},{70,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1032_1_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,0},{64,116}}</string>
                <key>offset</key>
                <string>{2,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,147},{64,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1032_1_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,52},{64,114}}</string>
                <key>offset</key>
                <string>{1,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,149},{64,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1032_1_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,116},{70,114}}</string>
                <key>offset</key>
                <string>{1,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,149},{70,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1032_1.png</string>
            <key>size</key>
            <string>{626,246}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:48aff7355eb73a1d41a6e799ebe9ade8:1/1$</string>
            <key>textureFileName</key>
            <string>1032_1.png</string>
        </dict>
    </dict>
</plist>
