<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1033_6_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,74},{62,106}}</string>
                <key>offset</key>
                <string>{-14,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,154},{62,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1033_6_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,134},{68,106}}</string>
                <key>offset</key>
                <string>{-11,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,154},{68,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1033_6_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,136},{76,106}}</string>
                <key>offset</key>
                <string>{-9,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,154},{76,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1033_6_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,66},{66,110}}</string>
                <key>offset</key>
                <string>{-12,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,152},{66,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1033_6_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,136},{72,106}}</string>
                <key>offset</key>
                <string>{-14,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,155},{72,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1033_6_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{84,110}}</string>
                <key>offset</key>
                <string>{-22,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,151},{84,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1033_6_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,0},{76,110}}</string>
                <key>offset</key>
                <string>{-11,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,151},{76,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1033_6_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,66},{68,110}}</string>
                <key>offset</key>
                <string>{-3,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,151},{68,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1033_6_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,132},{50,110}}</string>
                <key>offset</key>
                <string>{1,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,152},{50,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1033_6_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,0},{76,108}}</string>
                <key>offset</key>
                <string>{-9,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,153},{76,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1033_6_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,0},{74,110}}</string>
                <key>offset</key>
                <string>{-7,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,152},{74,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1033_6_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,134},{64,106}}</string>
                <key>offset</key>
                <string>{-2,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,156},{64,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1033_6_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,134},{54,108}}</string>
                <key>offset</key>
                <string>{3,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,154},{54,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1033_6_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,66},{68,110}}</string>
                <key>offset</key>
                <string>{12,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,152},{68,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1033_6_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,0},{66,110}}</string>
                <key>offset</key>
                <string>{3,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,152},{66,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1033_6_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,134},{54,108}}</string>
                <key>offset</key>
                <string>{10,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,155},{54,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1033_6_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,134},{58,108}}</string>
                <key>offset</key>
                <string>{8,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,155},{58,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1033_6_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,134},{64,108}}</string>
                <key>offset</key>
                <string>{9,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,155},{64,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1033_6_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,0},{74,110}}</string>
                <key>offset</key>
                <string>{12,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,153},{74,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1033_6_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,136},{68,106}}</string>
                <key>offset</key>
                <string>{9,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,157},{68,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1033_6_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,74},{60,114}}</string>
                <key>offset</key>
                <string>{13,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,157},{60,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1033_6_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,0},{66,114}}</string>
                <key>offset</key>
                <string>{12,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,157},{66,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1033_6_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,110},{72,114}}</string>
                <key>offset</key>
                <string>{8,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,157},{72,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1033_6_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,0},{66,118}}</string>
                <key>offset</key>
                <string>{13,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,153},{66,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1033_6_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,110},{74,118}}</string>
                <key>offset</key>
                <string>{16,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,153},{74,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1033_6.png</string>
            <key>size</key>
            <string>{804,242}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:07ce9ce5c74ae60f25048d06419ce5cd:1/1$</string>
            <key>textureFileName</key>
            <string>1033_6.png</string>
        </dict>
    </dict>
</plist>
