<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1033_5_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,102},{68,100}}</string>
                <key>offset</key>
                <string>{1,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,108},{68,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1033_5_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,102},{68,100}}</string>
                <key>offset</key>
                <string>{2,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,110},{68,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1033_5_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,102},{74,100}}</string>
                <key>offset</key>
                <string>{2,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,113},{74,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1033_5_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,0},{74,102}}</string>
                <key>offset</key>
                <string>{2,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,112},{74,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1033_5_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,0},{68,102}}</string>
                <key>offset</key>
                <string>{1,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,109},{68,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1033_5_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,106},{96,106}}</string>
                <key>offset</key>
                <string>{-12,96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,107},{96,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1033_5_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,0},{98,104}}</string>
                <key>offset</key>
                <string>{-13,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,111},{98,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1033_5_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,0},{100,106}}</string>
                <key>offset</key>
                <string>{-11,90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,113},{100,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1033_5_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{102,106}}</string>
                <key>offset</key>
                <string>{-12,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,114},{102,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1033_5_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,0},{98,106}}</string>
                <key>offset</key>
                <string>{-13,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,110},{98,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1033_5_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,0},{88,106}}</string>
                <key>offset</key>
                <string>{-18,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,108},{88,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1033_5_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,0},{90,104}}</string>
                <key>offset</key>
                <string>{-19,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,112},{90,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1033_5_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,104},{90,104}}</string>
                <key>offset</key>
                <string>{-20,88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,116},{90,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1033_5_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,106},{92,104}}</string>
                <key>offset</key>
                <string>{-20,88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,116},{92,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1033_5_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,0},{88,104}}</string>
                <key>offset</key>
                <string>{-18,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,112},{88,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1033_5_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,0},{58,102}}</string>
                <key>offset</key>
                <string>{-5,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,112},{58,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1033_5_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,0},{56,102}}</string>
                <key>offset</key>
                <string>{-4,90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,115},{56,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1033_5_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,0},{58,102}}</string>
                <key>offset</key>
                <string>{-5,87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,118},{58,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1033_5_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,102},{60,100}}</string>
                <key>offset</key>
                <string>{-6,86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,120},{60,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1033_5_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,102},{58,100}}</string>
                <key>offset</key>
                <string>{-5,90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,116},{58,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1033_5_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,106},{66,92}}</string>
                <key>offset</key>
                <string>{0,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,113},{66,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1033_5_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,106},{68,92}}</string>
                <key>offset</key>
                <string>{0,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,115},{68,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1033_5_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,106},{74,92}}</string>
                <key>offset</key>
                <string>{-1,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,119},{74,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1033_5_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,104},{74,90}}</string>
                <key>offset</key>
                <string>{-1,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,120},{74,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1033_5_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,104},{68,90}}</string>
                <key>offset</key>
                <string>{0,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,117},{68,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1033_5.png</string>
            <key>size</key>
            <string>{1008,202}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:270c0e26d2573e1133a2a902c259c653:1/1$</string>
            <key>textureFileName</key>
            <string>1033_5.png</string>
        </dict>
    </dict>
</plist>
