<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1033_3_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{72,110}}</string>
                <key>offset</key>
                <string>{4,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,152},{72,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1033_3_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,0},{82,108}}</string>
                <key>offset</key>
                <string>{-9,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,154},{82,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1033_3_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,0},{82,106}}</string>
                <key>offset</key>
                <string>{-9,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,156},{82,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1033_3_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,0},{78,98}}</string>
                <key>offset</key>
                <string>{-7,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,165},{78,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1033_3_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,0},{72,106}}</string>
                <key>offset</key>
                <string>{-3,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,164},{72,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1033_3.png</string>
            <key>size</key>
            <string>{386,110}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:06c84f776b23cfa65fb02142e3b8c47e:1/1$</string>
            <key>textureFileName</key>
            <string>1033_3.png</string>
        </dict>
    </dict>
</plist>
