<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1033_1_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{48,104}}</string>
                <key>offset</key>
                <string>{3,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,156},{48,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1033_1_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,0},{48,106}}</string>
                <key>offset</key>
                <string>{4,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,154},{48,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1033_1_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,0},{50,106}}</string>
                <key>offset</key>
                <string>{4,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,154},{50,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1033_1_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,0},{48,106}}</string>
                <key>offset</key>
                <string>{3,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,154},{48,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1033_1_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,156},{62,106}}</string>
                <key>offset</key>
                <string>{-9,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,153},{62,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1033_1_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,98},{58,106}}</string>
                <key>offset</key>
                <string>{-7,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,153},{58,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1033_1_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,50},{56,106}}</string>
                <key>offset</key>
                <string>{-7,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,153},{56,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1033_1_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,106},{62,106}}</string>
                <key>offset</key>
                <string>{-9,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,153},{62,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1033_1_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,106},{60,108}}</string>
                <key>offset</key>
                <string>{-14,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,151},{60,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1033_1_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,104},{60,108}}</string>
                <key>offset</key>
                <string>{-14,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,152},{60,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1033_1_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,50},{56,108}}</string>
                <key>offset</key>
                <string>{-12,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,152},{56,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1033_1_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,100},{58,108}}</string>
                <key>offset</key>
                <string>{-13,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,151},{58,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1033_1_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,166},{68,108}}</string>
                <key>offset</key>
                <string>{-14,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,152},{68,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1033_1_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,168},{70,108}}</string>
                <key>offset</key>
                <string>{-15,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,152},{70,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1033_1_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,158},{66,106}}</string>
                <key>offset</key>
                <string>{-13,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,154},{66,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1033_1_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,164},{68,108}}</string>
                <key>offset</key>
                <string>{-14,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,152},{68,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1033_1_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,48},{50,108}}</string>
                <key>offset</key>
                <string>{-2,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,153},{50,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1033_1_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,50},{54,108}}</string>
                <key>offset</key>
                <string>{-3,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,153},{54,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1033_1_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,48},{52,108}}</string>
                <key>offset</key>
                <string>{-3,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,153},{52,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1033_1_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,0},{50,108}}</string>
                <key>offset</key>
                <string>{-2,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,153},{50,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1033_1.png</string>
            <key>size</key>
            <string>{538,238}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e6d0f787958b1aa39f537a29ad2fa1fc:1/1$</string>
            <key>textureFileName</key>
            <string>1033_1.png</string>
        </dict>
    </dict>
</plist>
