<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1033_7_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,182},{76,102}}</string>
                <key>offset</key>
                <string>{-8,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,172},{76,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1033_7_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,0},{98,112}}</string>
                <key>offset</key>
                <string>{-8,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,157},{98,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1033_7_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,258},{96,116}}</string>
                <key>offset</key>
                <string>{-12,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,152},{96,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1033_7_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,222},{78,110}}</string>
                <key>offset</key>
                <string>{-1,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,158},{78,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1033_7_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,346},{78,110}}</string>
                <key>offset</key>
                <string>{-2,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,158},{78,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1033_7_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,336},{76,98}}</string>
                <key>offset</key>
                <string>{-9,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,174},{76,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1033_7_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,0},{98,112}}</string>
                <key>offset</key>
                <string>{-22,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,160},{98,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1033_7_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,92},{90,118}}</string>
                <key>offset</key>
                <string>{-16,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,154},{90,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1033_7_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,116},{86,116}}</string>
                <key>offset</key>
                <string>{-15,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,156},{86,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1033_7_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,128},{74,118}}</string>
                <key>offset</key>
                <string>{-11,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,154},{74,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1033_7_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,414},{84,90}}</string>
                <key>offset</key>
                <string>{-8,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,179},{84,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1033_7_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,374},{96,114}}</string>
                <key>offset</key>
                <string>{-4,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,155},{96,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1033_7_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,0},{92,118}}</string>
                <key>offset</key>
                <string>{-8,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,151},{92,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1033_7_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,258},{84,116}}</string>
                <key>offset</key>
                <string>{-14,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,153},{84,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1033_7_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,374},{84,114}}</string>
                <key>offset</key>
                <string>{-13,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,155},{84,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1033_7_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,412},{82,82}}</string>
                <key>offset</key>
                <string>{1,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,179},{82,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1033_7_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,112},{98,110}}</string>
                <key>offset</key>
                <string>{2,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,151},{98,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1033_7_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,0},{96,116}}</string>
                <key>offset</key>
                <string>{0,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,145},{96,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1033_7_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,332},{82,106}}</string>
                <key>offset</key>
                <string>{-1,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,155},{82,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1033_7_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,258},{78,100}}</string>
                <key>offset</key>
                <string>{1,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,161},{78,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1033_7_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,414},{76,92}}</string>
                <key>offset</key>
                <string>{9,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,179},{76,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1033_7_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{102,128}}</string>
                <key>offset</key>
                <string>{10,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,143},{102,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1033_7_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,128},{98,130}}</string>
                <key>offset</key>
                <string>{12,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,141},{98,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1033_7_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,232},{80,114}}</string>
                <key>offset</key>
                <string>{4,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,157},{80,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1033_7_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,222},{76,110}}</string>
                <key>offset</key>
                <string>{2,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,161},{76,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1033_7.png</string>
            <key>size</key>
            <string>{516,506}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b99e06fc9d1ce0f808a779e439f0c16f:1/1$</string>
            <key>textureFileName</key>
            <string>1033_7.png</string>
        </dict>
    </dict>
</plist>
