<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1033_0_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,0},{48,112}}</string>
                <key>offset</key>
                <string>{1,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,150},{48,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1033_0_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,0},{52,112}}</string>
                <key>offset</key>
                <string>{1,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,152},{52,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1033_0_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,0},{60,118}}</string>
                <key>offset</key>
                <string>{4,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,149},{60,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1033_0_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,132},{58,104}}</string>
                <key>offset</key>
                <string>{3,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,154},{58,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1033_0_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{50,120}}</string>
                <key>offset</key>
                <string>{1,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,151},{50,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1033_0_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,108},{98,104}}</string>
                <key>offset</key>
                <string>{-12,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,151},{98,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1033_0_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,0},{90,110}}</string>
                <key>offset</key>
                <string>{-14,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,153},{90,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1033_0_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,112},{94,110}}</string>
                <key>offset</key>
                <string>{-14,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,150},{94,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1033_0_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,0},{86,106}}</string>
                <key>offset</key>
                <string>{-15,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,153},{86,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1033_0_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,0},{90,114}}</string>
                <key>offset</key>
                <string>{-14,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,150},{90,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1033_0_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,108},{108,98}}</string>
                <key>offset</key>
                <string>{-6,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,155},{108,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1033_0_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,0},{96,104}}</string>
                <key>offset</key>
                <string>{-12,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,157},{96,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1033_0_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,110},{96,106}}</string>
                <key>offset</key>
                <string>{-13,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,156},{96,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1033_0_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,0},{108,100}}</string>
                <key>offset</key>
                <string>{-10,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,156},{108,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1033_0_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,106},{92,100}}</string>
                <key>offset</key>
                <string>{-14,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,157},{92,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1033_0_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,120},{86,106}}</string>
                <key>offset</key>
                <string>{-11,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,160},{86,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1033_0_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,0},{80,96}}</string>
                <key>offset</key>
                <string>{-14,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,163},{80,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1033_0_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,118},{88,102}}</string>
                <key>offset</key>
                <string>{-9,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,162},{88,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1033_0_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,104},{94,98}}</string>
                <key>offset</key>
                <string>{-16,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,163},{94,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1033_0_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,0},{86,104}}</string>
                <key>offset</key>
                <string>{-14,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,160},{86,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1033_0_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,0},{48,108}}</string>
                <key>offset</key>
                <string>{0,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,162},{48,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1033_0_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,80},{52,94}}</string>
                <key>offset</key>
                <string>{-1,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,164},{52,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1033_0_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,0},{62,108}}</string>
                <key>offset</key>
                <string>{-1,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,163},{62,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1033_0_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,106},{62,100}}</string>
                <key>offset</key>
                <string>{-1,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,163},{62,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1033_0_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,0},{50,106}}</string>
                <key>offset</key>
                <string>{0,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,162},{50,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1033_0.png</string>
            <key>size</key>
            <string>{1014,206}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0355c8932246f2a8f56afee8cf12b009:1/1$</string>
            <key>textureFileName</key>
            <string>1033_0.png</string>
        </dict>
    </dict>
</plist>
