<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1034_7_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,174},{76,102}}</string>
                <key>offset</key>
                <string>{0,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,165},{76,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1034_7_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,0},{80,116}}</string>
                <key>offset</key>
                <string>{-8,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,150},{80,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1034_7_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,120},{90,120}}</string>
                <key>offset</key>
                <string>{-14,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,146},{90,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1034_7_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,138},{90,116}}</string>
                <key>offset</key>
                <string>{-10,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,150},{90,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1034_7_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,0},{64,120}}</string>
                <key>offset</key>
                <string>{-8,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,147},{64,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1034_7_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,110},{70,106}}</string>
                <key>offset</key>
                <string>{-1,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,167},{70,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1034_7_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,124},{86,122}}</string>
                <key>offset</key>
                <string>{-18,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,149},{86,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1034_7_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,0},{84,124}}</string>
                <key>offset</key>
                <string>{-22,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,147},{84,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1034_7_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,0},{72,124}}</string>
                <key>offset</key>
                <string>{-13,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,147},{72,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1034_7_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,124},{74,124}}</string>
                <key>offset</key>
                <string>{-4,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,145},{74,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1034_7_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,0},{84,100}}</string>
                <key>offset</key>
                <string>{-10,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,170},{84,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1034_7_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,0},{92,120}}</string>
                <key>offset</key>
                <string>{-13,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,149},{92,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1034_7_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,0},{94,126}}</string>
                <key>offset</key>
                <string>{-16,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,143},{94,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1034_7_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,0},{84,122}}</string>
                <key>offset</key>
                <string>{-11,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,147},{84,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1034_7_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,138},{86,116}}</string>
                <key>offset</key>
                <string>{-12,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,149},{86,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1034_7_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,84},{90,96}}</string>
                <key>offset</key>
                <string>{-3,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,169},{90,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1034_7_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,120},{82,116}}</string>
                <key>offset</key>
                <string>{1,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,144},{82,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1034_7_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,122},{74,122}}</string>
                <key>offset</key>
                <string>{5,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,138},{74,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1034_7_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,116},{82,112}}</string>
                <key>offset</key>
                <string>{1,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,148},{82,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1034_7_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,0},{80,110}}</string>
                <key>offset</key>
                <string>{-3,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,147},{80,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1034_7_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,0},{76,104}}</string>
                <key>offset</key>
                <string>{1,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,166},{76,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1034_7_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,0},{82,134}}</string>
                <key>offset</key>
                <string>{9,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,136},{82,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1034_7_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{92,138}}</string>
                <key>offset</key>
                <string>{15,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,132},{92,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1034_7_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,126},{90,124}}</string>
                <key>offset</key>
                <string>{11,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,146},{90,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1034_7_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,126},{56,126}}</string>
                <key>offset</key>
                <string>{6,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,142},{56,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1034_7.png</string>
            <key>size</key>
            <string>{1000,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:be7c6e4a2b40fbc0eed07e37eba770fe:1/1$</string>
            <key>textureFileName</key>
            <string>1034_7.png</string>
        </dict>
    </dict>
</plist>
