<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1034_5_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,316},{64,102}}</string>
                <key>offset</key>
                <string>{1,103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,102},{64,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1034_5_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,310},{64,104}}</string>
                <key>offset</key>
                <string>{1,101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,103},{64,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1034_5_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,310},{66,102}}</string>
                <key>offset</key>
                <string>{0,98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,107},{66,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1034_5_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,214},{66,102}}</string>
                <key>offset</key>
                <string>{0,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,106},{66,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1034_5_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,412},{64,100}}</string>
                <key>offset</key>
                <string>{1,101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,105},{64,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1034_5_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{110,110}}</string>
                <key>offset</key>
                <string>{-20,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,102},{110,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1034_5_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,0},{108,110}}</string>
                <key>offset</key>
                <string>{-19,97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,104},{108,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1034_5_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,0},{112,108}}</string>
                <key>offset</key>
                <string>{-21,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,106},{112,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1034_5_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,0},{112,106}}</string>
                <key>offset</key>
                <string>{-20,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,107},{112,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1034_5_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,106},{108,108}}</string>
                <key>offset</key>
                <string>{-18,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,104},{108,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1034_5_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,108},{102,110}}</string>
                <key>offset</key>
                <string>{-24,98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,103},{102,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1034_5_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,110},{100,110}}</string>
                <key>offset</key>
                <string>{-24,96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,105},{100,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1034_5_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,210},{102,106}}</string>
                <key>offset</key>
                <string>{-26,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,108},{102,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1034_5_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,108},{102,106}}</string>
                <key>offset</key>
                <string>{-25,96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,107},{102,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1034_5_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,210},{100,108}}</string>
                <key>offset</key>
                <string>{-23,97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,105},{100,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1034_5_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,210},{102,100}}</string>
                <key>offset</key>
                <string>{-22,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,107},{102,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1034_5_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,310},{100,98}}</string>
                <key>offset</key>
                <string>{-21,97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,110},{100,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1034_5_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,214},{104,96}}</string>
                <key>offset</key>
                <string>{-23,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,112},{104,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1034_5_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,410},{102,94}}</string>
                <key>offset</key>
                <string>{-22,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,113},{102,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1034_5_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,316},{100,96}}</string>
                <key>offset</key>
                <string>{-21,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,110},{100,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1034_5_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,440},{64,88}}</string>
                <key>offset</key>
                <string>{0,102}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,110},{64,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1034_5_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,418},{64,88}}</string>
                <key>offset</key>
                <string>{1,100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,112},{64,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1034_5_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,374},{66,86}}</string>
                <key>offset</key>
                <string>{1,98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,115},{66,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1034_5_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,440},{66,84}}</string>
                <key>offset</key>
                <string>{1,99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,115},{66,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1034_5_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,376},{64,86}}</string>
                <key>offset</key>
                <string>{1,101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,112},{64,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1034_5.png</string>
            <key>size</key>
            <string>{487,506}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c3dd8a7ee04f7533bb3eb31970b833b8:1/1$</string>
            <key>textureFileName</key>
            <string>1034_5.png</string>
        </dict>
    </dict>
</plist>
