<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1034_4_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,138},{70,104}}</string>
                <key>offset</key>
                <string>{0,101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,103},{70,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1034_4_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,0},{70,102}}</string>
                <key>offset</key>
                <string>{1,100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,105},{70,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1034_4_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,66},{72,104}}</string>
                <key>offset</key>
                <string>{1,99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,105},{72,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1034_4_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,70},{70,104}}</string>
                <key>offset</key>
                <string>{0,100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,104},{70,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1034_4_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,110},{110,110}}</string>
                <key>offset</key>
                <string>{-20,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,102},{110,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1034_4_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,0},{110,110}}</string>
                <key>offset</key>
                <string>{-20,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,102},{110,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1034_4_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,110},{110,110}}</string>
                <key>offset</key>
                <string>{-20,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,103},{110,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1034_4_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,0},{110,110}}</string>
                <key>offset</key>
                <string>{-20,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,103},{110,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1034_4_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,116},{98,116}}</string>
                <key>offset</key>
                <string>{-27,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,102},{98,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1034_4_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{98,116}}</string>
                <key>offset</key>
                <string>{-28,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,101},{98,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1034_4_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,116},{96,116}}</string>
                <key>offset</key>
                <string>{-27,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,103},{96,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1034_4_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,0},{96,116}}</string>
                <key>offset</key>
                <string>{-27,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,103},{96,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1034_4_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,0},{98,114}}</string>
                <key>offset</key>
                <string>{-27,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,104},{98,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1034_4_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,114},{98,112}}</string>
                <key>offset</key>
                <string>{-27,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,104},{98,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1034_4_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,114},{98,114}}</string>
                <key>offset</key>
                <string>{-27,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,104},{98,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1034_4_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,0},{98,114}}</string>
                <key>offset</key>
                <string>{-27,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,104},{98,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1034_4_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,0},{66,106}}</string>
                <key>offset</key>
                <string>{-1,97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,106},{66,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1034_4_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,106},{66,106}}</string>
                <key>offset</key>
                <string>{-1,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,107},{66,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1034_4_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,140},{68,104}}</string>
                <key>offset</key>
                <string>{-2,96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,108},{68,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1034_4_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,0},{66,106}}</string>
                <key>offset</key>
                <string>{-1,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,106},{66,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1034_4.png</string>
            <key>size</key>
            <string>{884,232}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:239e05884c440319d7a40a1ad5a3b468:1/1$</string>
            <key>textureFileName</key>
            <string>1034_4.png</string>
        </dict>
    </dict>
</plist>
