<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1034_1_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,0},{68,120}}</string>
                <key>offset</key>
                <string>{3,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,147},{68,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1034_1_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,120},{68,120}}</string>
                <key>offset</key>
                <string>{4,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,149},{68,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1034_1_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,186},{68,118}}</string>
                <key>offset</key>
                <string>{3,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,149},{68,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1034_1_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,0},{68,120}}</string>
                <key>offset</key>
                <string>{3,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,148},{68,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1034_1_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,126},{62,126}}</string>
                <key>offset</key>
                <string>{-11,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,146},{62,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1034_1_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{64,126}}</string>
                <key>offset</key>
                <string>{-12,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,146},{64,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1034_1_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,0},{60,124}}</string>
                <key>offset</key>
                <string>{-10,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,147},{60,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1034_1_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,126},{62,126}}</string>
                <key>offset</key>
                <string>{-10,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,147},{62,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1034_1_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,0},{54,122}}</string>
                <key>offset</key>
                <string>{-7,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,144},{54,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1034_1_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,0},{50,124}}</string>
                <key>offset</key>
                <string>{-8,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,144},{50,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1034_1_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,122},{50,122}}</string>
                <key>offset</key>
                <string>{-8,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,144},{50,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1034_1_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,124},{58,122}}</string>
                <key>offset</key>
                <string>{-5,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,144},{58,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1034_1_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,120},{72,120}}</string>
                <key>offset</key>
                <string>{-13,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,143},{72,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1034_1_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,120},{70,120}}</string>
                <key>offset</key>
                <string>{-11,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,143},{70,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1034_1_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,0},{70,120}}</string>
                <key>offset</key>
                <string>{-11,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,143},{70,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1034_1_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,0},{74,120}}</string>
                <key>offset</key>
                <string>{-13,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,143},{74,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1034_1_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,118},{68,118}}</string>
                <key>offset</key>
                <string>{-2,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,144},{68,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1034_1_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,0},{68,118}}</string>
                <key>offset</key>
                <string>{-2,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,144},{68,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1034_1_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,0},{68,118}}</string>
                <key>offset</key>
                <string>{-2,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,144},{68,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1034_1_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,120},{68,118}}</string>
                <key>offset</key>
                <string>{-2,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,144},{68,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1034_1.png</string>
            <key>size</key>
            <string>{644,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3753600dcbc7ec28a08d95931fa54138:1/1$</string>
            <key>textureFileName</key>
            <string>1034_1.png</string>
        </dict>
    </dict>
</plist>
