<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1034_3_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,0},{66,118}}</string>
                <key>offset</key>
                <string>{5,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,148},{66,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1034_3_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{58,122}}</string>
                <key>offset</key>
                <string>{-5,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,148},{58,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1034_3_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,0},{64,116}}</string>
                <key>offset</key>
                <string>{-4,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,151},{64,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1034_3_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,0},{74,106}}</string>
                <key>offset</key>
                <string>{-6,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,153},{74,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1034_3_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,0},{66,114}}</string>
                <key>offset</key>
                <string>{-3,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,154},{66,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1034_3.png</string>
            <key>size</key>
            <string>{328,122}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5c1e0b4b73e05bff00c0c0a5dc68937c:1/1$</string>
            <key>textureFileName</key>
            <string>1034_3.png</string>
        </dict>
    </dict>
</plist>
