<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1035_6_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,112},{56,108}}</string>
                <key>offset</key>
                <string>{-9,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,152},{56,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1035_6_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,0},{58,108}}</string>
                <key>offset</key>
                <string>{-9,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,152},{58,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1035_6_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,118},{50,110}}</string>
                <key>offset</key>
                <string>{-6,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,151},{50,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1035_6_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,112},{56,110}}</string>
                <key>offset</key>
                <string>{-6,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,152},{56,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1035_6_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,60},{62,106}}</string>
                <key>offset</key>
                <string>{-7,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,155},{62,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1035_6_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,120},{48,112}}</string>
                <key>offset</key>
                <string>{-3,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,149},{48,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1035_6_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,112},{52,112}}</string>
                <key>offset</key>
                <string>{-4,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,149},{52,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1035_6_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,0},{60,110}}</string>
                <key>offset</key>
                <string>{-6,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,151},{60,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1035_6_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,120},{48,110}}</string>
                <key>offset</key>
                <string>{2,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,152},{48,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1035_6_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,112},{56,108}}</string>
                <key>offset</key>
                <string>{1,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,153},{56,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1035_6_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,0},{60,112}}</string>
                <key>offset</key>
                <string>{0,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,150},{60,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1035_6_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,0},{68,112}}</string>
                <key>offset</key>
                <string>{-3,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,150},{68,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1035_6_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,0},{60,112}}</string>
                <key>offset</key>
                <string>{3,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,150},{60,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1035_6_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,0},{66,112}}</string>
                <key>offset</key>
                <string>{13,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,150},{66,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1035_6_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,0},{64,112}}</string>
                <key>offset</key>
                <string>{4,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,150},{64,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1035_6_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,112},{56,112}}</string>
                <key>offset</key>
                <string>{6,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,151},{56,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1035_6_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,0},{58,112}}</string>
                <key>offset</key>
                <string>{5,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,151},{58,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1035_6_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,0},{58,112}}</string>
                <key>offset</key>
                <string>{8,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,151},{58,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1035_6_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,0},{66,114}}</string>
                <key>offset</key>
                <string>{7,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,149},{66,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1035_6_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,0},{58,112}}</string>
                <key>offset</key>
                <string>{4,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,151},{58,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1035_6_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,0},{58,118}}</string>
                <key>offset</key>
                <string>{12,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,153},{58,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1035_6_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,0},{50,118}}</string>
                <key>offset</key>
                <string>{6,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,153},{50,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1035_6_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,0},{50,120}}</string>
                <key>offset</key>
                <string>{6,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,151},{50,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1035_6_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,0},{50,120}}</string>
                <key>offset</key>
                <string>{5,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,151},{50,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1035_6_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{58,120}}</string>
                <key>offset</key>
                <string>{7,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,151},{58,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1035_6.png</string>
            <key>size</key>
            <string>{992,168}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:984b4195c31cf7619f8f10b5895199ff:1/1$</string>
            <key>textureFileName</key>
            <string>1035_6.png</string>
        </dict>
    </dict>
</plist>
