<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1035_5_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,0},{60,98}}</string>
                <key>offset</key>
                <string>{-1,100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,107},{60,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1035_5_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,98},{60,98}}</string>
                <key>offset</key>
                <string>{0,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,110},{60,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1035_5_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,294},{62,98}}</string>
                <key>offset</key>
                <string>{-1,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,113},{62,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1035_5_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,196},{62,98}}</string>
                <key>offset</key>
                <string>{-1,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,111},{62,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1035_5_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,196},{60,98}}</string>
                <key>offset</key>
                <string>{0,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,108},{60,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1035_5_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,102},{96,102}}</string>
                <key>offset</key>
                <string>{-17,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,107},{96,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1035_5_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,210},{96,102}}</string>
                <key>offset</key>
                <string>{-18,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,109},{96,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1035_5_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,204},{96,100}}</string>
                <key>offset</key>
                <string>{-18,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,113},{96,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1035_5_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,0},{96,98}}</string>
                <key>offset</key>
                <string>{-17,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,113},{96,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1035_5_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,0},{96,102}}</string>
                <key>offset</key>
                <string>{-17,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,108},{96,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1035_5_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{86,106}}</string>
                <key>offset</key>
                <string>{-17,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,108},{86,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1035_5_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,106},{88,104}}</string>
                <key>offset</key>
                <string>{-18,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,111},{88,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1035_5_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,306},{86,102}}</string>
                <key>offset</key>
                <string>{-18,91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,114},{86,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1035_5_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,304},{88,100}}</string>
                <key>offset</key>
                <string>{-18,92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,114},{88,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1035_5_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,0},{90,102}}</string>
                <key>offset</key>
                <string>{-19,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,111},{90,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1035_5_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,102},{88,102}}</string>
                <key>offset</key>
                <string>{-19,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,108},{88,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1035_5_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,204},{88,102}}</string>
                <key>offset</key>
                <string>{-20,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,110},{88,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1035_5_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,312},{72,98}}</string>
                <key>offset</key>
                <string>{-12,93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,114},{72,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1035_5_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,0},{84,94}}</string>
                <key>offset</key>
                <string>{-18,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,116},{84,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1035_5_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,98},{90,98}}</string>
                <key>offset</key>
                <string>{-20,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,112},{90,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1035_5_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,278},{60,94}}</string>
                <key>offset</key>
                <string>{2,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,111},{60,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1035_5_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,294},{60,96}}</string>
                <key>offset</key>
                <string>{2,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,111},{60,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1035_5_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,218},{60,94}}</string>
                <key>offset</key>
                <string>{2,94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,115},{60,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1035_5_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,158},{60,88}}</string>
                <key>offset</key>
                <string>{2,95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,117},{60,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1035_5_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,98},{60,90}}</string>
                <key>offset</key>
                <string>{1,97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,114},{60,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1035_5.png</string>
            <key>size</key>
            <string>{512,392}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4fe4655b0cba3d383288907625f027c5:1/1$</string>
            <key>textureFileName</key>
            <string>1035_5.png</string>
        </dict>
    </dict>
</plist>
