<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1036_1_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,98},{68,126}}</string>
                <key>offset</key>
                <string>{1,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,142},{68,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1036_1_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,226},{68,124}}</string>
                <key>offset</key>
                <string>{1,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,142},{68,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1036_1_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,268},{70,124}}</string>
                <key>offset</key>
                <string>{1,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,142},{70,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1036_1_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,278},{68,124}}</string>
                <key>offset</key>
                <string>{1,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,143},{68,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1036_1_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,0},{56,138}}</string>
                <key>offset</key>
                <string>{-4,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,130},{56,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1036_1_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,132},{56,136}}</string>
                <key>offset</key>
                <string>{-4,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,132},{56,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1036_1_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,0},{64,134}}</string>
                <key>offset</key>
                <string>{-8,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,132},{64,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1036_1_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,0},{62,136}}</string>
                <key>offset</key>
                <string>{-7,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,132},{62,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1036_1_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,138},{50,140}}</string>
                <key>offset</key>
                <string>{-10,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,125},{50,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1036_1_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,56},{42,140}}</string>
                <key>offset</key>
                <string>{-6,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,125},{42,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1036_1_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,134},{42,140}}</string>
                <key>offset</key>
                <string>{-6,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,125},{42,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1036_1_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,224},{44,140}}</string>
                <key>offset</key>
                <string>{-5,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,125},{44,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1036_1_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{70,138}}</string>
                <key>offset</key>
                <string>{-6,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,126},{70,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1036_1_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,138},{66,138}}</string>
                <key>offset</key>
                <string>{-3,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,126},{66,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1036_1_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,138},{64,138}}</string>
                <key>offset</key>
                <string>{-2,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,126},{64,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1036_1_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,0},{64,138}}</string>
                <key>offset</key>
                <string>{-3,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,126},{64,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1036_1_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,98},{70,128}}</string>
                <key>offset</key>
                <string>{0,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,135},{70,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1036_1_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,132},{70,128}}</string>
                <key>offset</key>
                <string>{0,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,135},{70,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1036_1_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,62},{70,128}}</string>
                <key>offset</key>
                <string>{0,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,135},{70,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1036_1_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,276},{70,130}}</string>
                <key>offset</key>
                <string>{0,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,133},{70,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1036_1.png</string>
            <key>size</key>
            <string>{490,364}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab333564c0d827de5478553b9f296407:1/1$</string>
            <key>textureFileName</key>
            <string>1036_1.png</string>
        </dict>
    </dict>
</plist>
