<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1036_4_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,116},{92,108}}</string>
                <key>offset</key>
                <string>{2,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,97},{92,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1036_4_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,0},{90,104}}</string>
                <key>offset</key>
                <string>{2,104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,100},{90,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1036_4_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,106},{94,106}}</string>
                <key>offset</key>
                <string>{2,104}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,99},{94,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1036_4_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,0},{94,106}}</string>
                <key>offset</key>
                <string>{2,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,98},{94,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1036_4_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,134},{116,126}}</string>
                <key>offset</key>
                <string>{-11,107}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,86},{116,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1036_4_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,134},{116,122}}</string>
                <key>offset</key>
                <string>{-11,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,90},{116,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1036_4_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,132},{124,124}}</string>
                <key>offset</key>
                <string>{-13,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,89},{124,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1036_4_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,138},{116,126}}</string>
                <key>offset</key>
                <string>{-10,106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,87},{116,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1036_4_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,0},{102,138}}</string>
                <key>offset</key>
                <string>{-28,107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,80},{102,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1036_4_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,0},{104,134}}</string>
                <key>offset</key>
                <string>{-27,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,83},{104,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1036_4_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,0},{102,138}}</string>
                <key>offset</key>
                <string>{-26,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,81},{102,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1036_4_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{102,138}}</string>
                <key>offset</key>
                <string>{-27,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,81},{102,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1036_4_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,0},{74,134}}</string>
                <key>offset</key>
                <string>{-6,104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,85},{74,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1036_4_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,0},{78,132}}</string>
                <key>offset</key>
                <string>{-8,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,85},{78,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1036_4_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,0},{76,134}}</string>
                <key>offset</key>
                <string>{-7,104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,85},{76,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1036_4_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,0},{76,134}}</string>
                <key>offset</key>
                <string>{-7,104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,85},{76,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1036_4_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,138},{94,118}}</string>
                <key>offset</key>
                <string>{-1,102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,95},{94,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1036_4_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,138},{94,118}}</string>
                <key>offset</key>
                <string>{0,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,96},{94,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1036_4_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,0},{96,116}}</string>
                <key>offset</key>
                <string>{0,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,97},{96,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1036_4_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,138},{98,118}}</string>
                <key>offset</key>
                <string>{1,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,96},{98,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1036_4.png</string>
            <key>size</key>
            <string>{994,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a9d58d2399e5c6a4e58b177e09d4a3e9:1/1$</string>
            <key>textureFileName</key>
            <string>1036_4.png</string>
        </dict>
    </dict>
</plist>
