<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1037_3_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,0},{78,118}}</string>
                <key>offset</key>
                <string>{3,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,146},{78,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1037_3_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{64,124}}</string>
                <key>offset</key>
                <string>{9,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,140},{64,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1037_3_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,0},{60,122}}</string>
                <key>offset</key>
                <string>{2,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,141},{60,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1037_3_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,0},{86,116}}</string>
                <key>offset</key>
                <string>{4,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,148},{86,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1037_3_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,0},{78,114}}</string>
                <key>offset</key>
                <string>{-3,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,157},{78,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1037_3.png</string>
            <key>size</key>
            <string>{366,124}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a368a3c203fccddc43d27b12ee8e5b3a:1/1$</string>
            <key>textureFileName</key>
            <string>1037_3.png</string>
        </dict>
    </dict>
</plist>
