<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1037_2_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,376},{78,116}}</string>
                <key>offset</key>
                <string>{-10,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,156},{78,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1037_2_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,106},{96,116}}</string>
                <key>offset</key>
                <string>{-8,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,155},{96,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1037_2_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,296},{80,122}}</string>
                <key>offset</key>
                <string>{-4,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,149},{80,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1037_2_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,392},{68,120}}</string>
                <key>offset</key>
                <string>{-7,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,151},{68,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1037_2_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,222},{74,124}}</string>
                <key>offset</key>
                <string>{-8,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,148},{74,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1037_2_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,376},{68,120}}</string>
                <key>offset</key>
                <string>{-14,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,152},{68,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1037_2_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,296},{72,122}}</string>
                <key>offset</key>
                <string>{-2,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,149},{72,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1037_2_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,376},{90,116}}</string>
                <key>offset</key>
                <string>{-9,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,155},{90,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1037_2_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{94,124}}</string>
                <key>offset</key>
                <string>{-13,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,148},{94,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1037_2_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,222},{74,128}}</string>
                <key>offset</key>
                <string>{-12,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,144},{74,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1037_2_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,164},{84,120}}</string>
                <key>offset</key>
                <string>{0,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,145},{84,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1037_2_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,124},{94,120}}</string>
                <key>offset</key>
                <string>{-5,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,153},{94,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1037_2_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,0},{110,106}}</string>
                <key>offset</key>
                <string>{-7,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,158},{110,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1037_2_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,0},{98,110}}</string>
                <key>offset</key>
                <string>{-6,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,155},{98,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1037_2_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,106},{96,116}}</string>
                <key>offset</key>
                <string>{-6,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,149},{96,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1037_2_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,310},{82,122}}</string>
                <key>offset</key>
                <string>{1,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,143},{82,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1037_2_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,0},{110,106}}</string>
                <key>offset</key>
                <string>{-2,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,166},{110,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1037_2_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,110},{92,102}}</string>
                <key>offset</key>
                <string>{2,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,163},{92,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1037_2_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,202},{84,108}}</string>
                <key>offset</key>
                <string>{12,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,157},{84,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1037_2_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,0},{98,118}}</string>
                <key>offset</key>
                <string>{-5,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,147},{98,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1037_2_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,244},{78,130}}</string>
                <key>offset</key>
                <string>{11,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,146},{78,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1037_2_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,418},{94,100}}</string>
                <key>offset</key>
                <string>{9,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,176},{94,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1037_2_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,296},{80,112}}</string>
                <key>offset</key>
                <string>{5,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,164},{80,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1037_2_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,98},{66,118}}</string>
                <key>offset</key>
                <string>{7,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,158},{66,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1037_2_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,374},{76,130}}</string>
                <key>offset</key>
                <string>{9,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,146},{76,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1037_2.png</string>
            <key>size</key>
            <string>{535,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b8410971820972bf46c8deb2957946d6:1/1$</string>
            <key>textureFileName</key>
            <string>1037_2.png</string>
        </dict>
    </dict>
</plist>
