<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1038_6_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,0},{78,136}}</string>
                <key>offset</key>
                <string>{-13,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,142},{78,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1038_6_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,0},{70,130}}</string>
                <key>offset</key>
                <string>{-8,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,146},{70,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1038_6_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,0},{62,130}}</string>
                <key>offset</key>
                <string>{-6,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,146},{62,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1038_6_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,126},{74,126}}</string>
                <key>offset</key>
                <string>{-6,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,144},{74,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1038_6_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,0},{70,134}}</string>
                <key>offset</key>
                <string>{-8,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,144},{70,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1038_6_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,130},{82,122}}</string>
                <key>offset</key>
                <string>{-11,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,148},{82,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1038_6_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,122},{68,122}}</string>
                <key>offset</key>
                <string>{-7,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,148},{68,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1038_6_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,122},{66,122}}</string>
                <key>offset</key>
                <string>{-5,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,148},{66,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1038_6_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,0},{74,134}}</string>
                <key>offset</key>
                <string>{-14,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,136},{74,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1038_6_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{78,138}}</string>
                <key>offset</key>
                <string>{-8,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,139},{78,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1038_6_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,0},{66,122}}</string>
                <key>offset</key>
                <string>{-2,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,145},{66,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1038_6_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,130},{72,122}}</string>
                <key>offset</key>
                <string>{1,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,145},{72,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1038_6_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,130},{74,122}}</string>
                <key>offset</key>
                <string>{0,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,145},{74,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1038_6_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,0},{94,130}}</string>
                <key>offset</key>
                <string>{-1,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,137},{94,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1038_6_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,0},{86,126}}</string>
                <key>offset</key>
                <string>{-3,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,141},{86,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1038_6_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,138},{86,114}}</string>
                <key>offset</key>
                <string>{12,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,146},{86,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1038_6_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,134},{84,114}}</string>
                <key>offset</key>
                <string>{7,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,146},{84,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1038_6_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,130},{80,122}}</string>
                <key>offset</key>
                <string>{5,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,144},{80,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1038_6_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,136},{82,116}}</string>
                <key>offset</key>
                <string>{4,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,144},{82,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1038_6_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,134},{88,112}}</string>
                <key>offset</key>
                <string>{-5,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,148},{88,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1038_6_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,130},{78,122}}</string>
                <key>offset</key>
                <string>{15,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,146},{78,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1038_6_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,0},{70,130}}</string>
                <key>offset</key>
                <string>{9,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,145},{70,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1038_6_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,0},{62,130}}</string>
                <key>offset</key>
                <string>{7,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,145},{62,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1038_6_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,0},{74,120}}</string>
                <key>offset</key>
                <string>{7,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,148},{74,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1038_6_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,0},{70,122}}</string>
                <key>offset</key>
                <string>{9,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,146},{70,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1038_6.png</string>
            <key>size</key>
            <string>{964,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5f925b16f87a520d884122a5be02dc3e:1/1$</string>
            <key>textureFileName</key>
            <string>1038_6.png</string>
        </dict>
    </dict>
</plist>
