<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1038_0_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,244},{74,122}}</string>
                <key>offset</key>
                <string>{-2,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,151},{74,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1038_0_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,130},{74,126}}</string>
                <key>offset</key>
                <string>{-1,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,149},{74,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1038_0_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,256},{78,124}}</string>
                <key>offset</key>
                <string>{0,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,150},{78,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1038_0_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,130},{76,128}}</string>
                <key>offset</key>
                <string>{1,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,147},{76,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1038_0_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,380},{74,124}}</string>
                <key>offset</key>
                <string>{-1,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,150},{74,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1038_0_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,366},{116,118}}</string>
                <key>offset</key>
                <string>{-18,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,149},{116,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1038_0_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,384},{122,124}}</string>
                <key>offset</key>
                <string>{-17,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,148},{122,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1038_0_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,0},{122,116}}</string>
                <key>offset</key>
                <string>{-17,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,150},{122,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1038_0_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,122},{118,120}}</string>
                <key>offset</key>
                <string>{-19,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,148},{118,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1038_0_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,122},{112,122}}</string>
                <key>offset</key>
                <string>{-19,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,146},{112,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1038_0_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{130,106}}</string>
                <key>offset</key>
                <string>{-17,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,155},{130,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1038_0_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,242},{118,112}}</string>
                <key>offset</key>
                <string>{-21,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,149},{118,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1038_0_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,258},{126,112}}</string>
                <key>offset</key>
                <string>{-22,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,147},{126,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1038_0_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,0},{122,108}}</string>
                <key>offset</key>
                <string>{-26,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,154},{122,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1038_0_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,0},{120,104}}</string>
                <key>offset</key>
                <string>{-24,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,152},{120,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1038_0_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,0},{110,106}}</string>
                <key>offset</key>
                <string>{-11,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,164},{110,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1038_0_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,106},{108,90}}</string>
                <key>offset</key>
                <string>{-14,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,161},{108,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1038_0_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,120},{114,104}}</string>
                <key>offset</key>
                <string>{-15,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,162},{114,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1038_0_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,360},{116,94}}</string>
                <key>offset</key>
                <string>{-14,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,162},{116,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1038_0_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,242},{114,108}}</string>
                <key>offset</key>
                <string>{-12,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,163},{114,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1038_0_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,348},{80,104}}</string>
                <key>offset</key>
                <string>{5,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,169},{80,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1038_0_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,428},{80,86}}</string>
                <key>offset</key>
                <string>{5,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,167},{80,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1038_0_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,268},{80,106}}</string>
                <key>offset</key>
                <string>{2,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,167},{80,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1038_0_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,428},{74,90}}</string>
                <key>offset</key>
                <string>{3,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,165},{74,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1038_0_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,196},{72,108}}</string>
                <key>offset</key>
                <string>{2,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,166},{72,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1038_0.png</string>
            <key>size</key>
            <string>{596,508}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dc39abfc9976f929dfdf1c9831d3d98a:1/1$</string>
            <key>textureFileName</key>
            <string>1038_0.png</string>
        </dict>
    </dict>
</plist>
