<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1040_5_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,366},{70,104}}</string>
                <key>offset</key>
                <string>{0,103}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,101},{70,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1040_5_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,96},{70,106}}</string>
                <key>offset</key>
                <string>{0,102}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,101},{70,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1040_5_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,436},{70,106}}</string>
                <key>offset</key>
                <string>{1,99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,104},{70,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1040_5_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,98},{70,104}}</string>
                <key>offset</key>
                <string>{1,100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,104},{70,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1040_5_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,438},{70,104}}</string>
                <key>offset</key>
                <string>{1,102}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,102},{70,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1040_5_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,0},{96,112}}</string>
                <key>offset</key>
                <string>{-13,100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,100},{96,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1040_5_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,108},{96,112}}</string>
                <key>offset</key>
                <string>{-13,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,102},{96,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1040_5_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,0},{98,110}}</string>
                <key>offset</key>
                <string>{-14,96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,105},{98,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1040_5_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,328},{98,110}}</string>
                <key>offset</key>
                <string>{-14,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,104},{98,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1040_5_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,220},{96,110}}</string>
                <key>offset</key>
                <string>{-13,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,102},{96,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1040_5_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,110},{102,110}}</string>
                <key>offset</key>
                <string>{-22,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,103},{102,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1040_5_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{102,110}}</string>
                <key>offset</key>
                <string>{-23,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,105},{102,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1040_5_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,220},{102,108}}</string>
                <key>offset</key>
                <string>{-24,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,107},{102,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1040_5_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,330},{102,106}}</string>
                <key>offset</key>
                <string>{-23,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,108},{102,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1040_5_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,0},{102,108}}</string>
                <key>offset</key>
                <string>{-23,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,105},{102,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1040_5_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,168},{84,102}}</string>
                <key>offset</key>
                <string>{-7,100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,105},{84,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1040_5_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,166},{84,102}}</string>
                <key>offset</key>
                <string>{-7,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,107},{84,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1040_5_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,252},{86,98}}</string>
                <key>offset</key>
                <string>{-9,97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,110},{86,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1040_5_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,268},{86,98}}</string>
                <key>offset</key>
                <string>{-9,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,109},{86,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1040_5_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,168},{86,100}}</string>
                <key>offset</key>
                <string>{-8,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,107},{86,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1040_5_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,338},{70,92}}</string>
                <key>offset</key>
                <string>{1,104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,106},{70,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1040_5_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,436},{70,92}}</string>
                <key>offset</key>
                <string>{1,102}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,108},{70,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1040_5_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,268},{72,92}}</string>
                <key>offset</key>
                <string>{0,100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,110},{72,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1040_5_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,436},{72,90}}</string>
                <key>offset</key>
                <string>{0,102}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,109},{72,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1040_5_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,360},{72,90}}</string>
                <key>offset</key>
                <string>{0,103}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,108},{72,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1040_5.png</string>
            <key>size</key>
            <string>{470,511}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:792c254f033c5b17105bc6d8c08ce073:1/1$</string>
            <key>textureFileName</key>
            <string>1040_5.png</string>
        </dict>
    </dict>
</plist>
