<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1040_2_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,370},{72,120}}</string>
                <key>offset</key>
                <string>{-7,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,157},{72,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1040_2_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,108},{98,114}}</string>
                <key>offset</key>
                <string>{-13,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,159},{98,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1040_2_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,372},{80,122}}</string>
                <key>offset</key>
                <string>{-6,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,153},{80,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1040_2_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,0},{78,134}}</string>
                <key>offset</key>
                <string>{-11,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,145},{78,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1040_2_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,78},{72,130}}</string>
                <key>offset</key>
                <string>{-10,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,148},{72,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1040_2_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,414},{74,122}}</string>
                <key>offset</key>
                <string>{-5,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,151},{74,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1040_2_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,160},{86,114}}</string>
                <key>offset</key>
                <string>{-10,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,159},{86,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1040_2_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,0},{94,122}}</string>
                <key>offset</key>
                <string>{-12,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,151},{94,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1040_2_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{96,130}}</string>
                <key>offset</key>
                <string>{-17,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,143},{96,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1040_2_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,290},{82,126}}</string>
                <key>offset</key>
                <string>{-19,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,147},{82,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1040_2_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,370},{94,118}}</string>
                <key>offset</key>
                <string>{-7,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,146},{94,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1040_2_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,252},{118,96}}</string>
                <key>offset</key>
                <string>{-5,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,168},{118,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1040_2_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,0},{108,108}}</string>
                <key>offset</key>
                <string>{-10,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,156},{108,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1040_2_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,332},{88,120}}</string>
                <key>offset</key>
                <string>{-4,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,145},{88,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1040_2_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,122},{94,120}}</string>
                <key>offset</key>
                <string>{-7,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,145},{94,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1040_2_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,130},{96,122}}</string>
                <key>offset</key>
                <string>{-5,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,142},{96,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1040_2_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,222},{106,92}}</string>
                <key>offset</key>
                <string>{5,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,172},{106,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1040_2_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,246},{86,102}}</string>
                <key>offset</key>
                <string>{1,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,162},{86,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1040_2_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,80},{80,112}}</string>
                <key>offset</key>
                <string>{3,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,152},{80,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1040_2_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,242},{92,120}}</string>
                <key>offset</key>
                <string>{-3,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,144},{92,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1040_2_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,150},{72,136}}</string>
                <key>offset</key>
                <string>{8,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,139},{72,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1040_2_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,314},{100,102}}</string>
                <key>offset</key>
                <string>{14,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,173},{100,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1040_2_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,0},{80,108}}</string>
                <key>offset</key>
                <string>{7,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,167},{80,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1040_2_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,420},{78,122}}</string>
                <key>offset</key>
                <string>{12,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,153},{78,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1040_2_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,222},{68,128}}</string>
                <key>offset</key>
                <string>{10,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,147},{68,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1040_2.png</string>
            <key>size</key>
            <string>{540,501}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8ec61470ee9ae58470bfaefeec7f0169:1/1$</string>
            <key>textureFileName</key>
            <string>1040_2.png</string>
        </dict>
    </dict>
</plist>
