<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1040_3_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{68,128}}</string>
                <key>offset</key>
                <string>{-4,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,143},{68,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1040_3_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,0},{76,126}}</string>
                <key>offset</key>
                <string>{-14,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,144},{76,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1040_3_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,0},{72,124}}</string>
                <key>offset</key>
                <string>{-11,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,143},{72,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1040_3_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,0},{80,116}}</string>
                <key>offset</key>
                <string>{-9,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,144},{80,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1040_3_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,0},{68,124}}</string>
                <key>offset</key>
                <string>{4,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,144},{68,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1040_3.png</string>
            <key>size</key>
            <string>{364,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:41758cea6455f48f3e75235a637e0900:1/1$</string>
            <key>textureFileName</key>
            <string>1040_3.png</string>
        </dict>
    </dict>
</plist>
