<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1041_2_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,0},{62,110}}</string>
                <key>offset</key>
                <string>{-6,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,162},{62,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1041_2_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,0},{64,114}}</string>
                <key>offset</key>
                <string>{-9,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,157},{64,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1041_2_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,0},{62,116}}</string>
                <key>offset</key>
                <string>{-1,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,155},{62,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1041_2_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,0},{64,120}}</string>
                <key>offset</key>
                <string>{-4,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,152},{64,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1041_2_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,0},{68,120}}</string>
                <key>offset</key>
                <string>{-8,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,152},{68,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1041_2_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,0},{52,114}}</string>
                <key>offset</key>
                <string>{-8,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,158},{52,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1041_2_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,0},{76,114}}</string>
                <key>offset</key>
                <string>{-9,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,157},{76,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1041_2_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,0},{92,118}}</string>
                <key>offset</key>
                <string>{-11,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,153},{92,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1041_2_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,128},{90,120}}</string>
                <key>offset</key>
                <string>{-11,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,152},{90,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1041_2_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,0},{84,120}}</string>
                <key>offset</key>
                <string>{-12,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,152},{84,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1041_2_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,0},{86,110}}</string>
                <key>offset</key>
                <string>{-1,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,155},{86,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1041_2_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,120},{90,98}}</string>
                <key>offset</key>
                <string>{-3,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,166},{90,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1041_2_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,114},{104,104}}</string>
                <key>offset</key>
                <string>{-10,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,160},{104,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1041_2_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,118},{100,106}}</string>
                <key>offset</key>
                <string>{-8,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,158},{100,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1041_2_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,114},{86,110}}</string>
                <key>offset</key>
                <string>{-1,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,155},{86,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1041_2_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,0},{82,114}}</string>
                <key>offset</key>
                <string>{1,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,151},{82,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1041_2_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,114},{92,96}}</string>
                <key>offset</key>
                <string>{0,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,169},{92,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1041_2_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,120},{88,98}}</string>
                <key>offset</key>
                <string>{-2,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,167},{88,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1041_2_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,116},{84,102}}</string>
                <key>offset</key>
                <string>{0,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,163},{84,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1041_2_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,110},{80,108}}</string>
                <key>offset</key>
                <string>{2,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,157},{80,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1041_2_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{62,128}}</string>
                <key>offset</key>
                <string>{7,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,148},{62,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1041_2_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,110},{64,106}}</string>
                <key>offset</key>
                <string>{10,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,170},{64,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1041_2_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,116},{64,102}}</string>
                <key>offset</key>
                <string>{2,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,174},{64,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1041_2_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,0},{64,110}}</string>
                <key>offset</key>
                <string>{5,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,166},{64,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1041_2_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,0},{68,116}}</string>
                <key>offset</key>
                <string>{9,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,160},{68,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1041_2.png</string>
            <key>size</key>
            <string>{1002,218}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:626b7ed8f12fba41d242e2e36741af17:1/1$</string>
            <key>textureFileName</key>
            <string>1041_2.png</string>
        </dict>
    </dict>
</plist>
