<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1041_0_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,0},{58,118}}</string>
                <key>offset</key>
                <string>{-5,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,146},{58,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1041_0_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,0},{58,116}}</string>
                <key>offset</key>
                <string>{-4,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,148},{58,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1041_0_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,0},{58,122}}</string>
                <key>offset</key>
                <string>{0,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,146},{58,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1041_0_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,0},{56,108}}</string>
                <key>offset</key>
                <string>{1,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,150},{56,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1041_0_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{58,126}}</string>
                <key>offset</key>
                <string>{-3,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,146},{58,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1041_0_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,112},{92,108}}</string>
                <key>offset</key>
                <string>{-8,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,149},{92,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1041_0_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,0},{90,112}}</string>
                <key>offset</key>
                <string>{-7,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,151},{90,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1041_0_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,122},{82,114}}</string>
                <key>offset</key>
                <string>{-8,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,147},{82,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1041_0_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,118},{86,106}}</string>
                <key>offset</key>
                <string>{-13,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,151},{86,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1041_0_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,0},{96,118}}</string>
                <key>offset</key>
                <string>{-8,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,148},{96,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1041_0_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,104},{100,102}}</string>
                <key>offset</key>
                <string>{0,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,152},{100,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1041_0_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,110},{90,106}}</string>
                <key>offset</key>
                <string>{0,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,155},{90,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1041_0_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,116},{88,102}}</string>
                <key>offset</key>
                <string>{-2,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,155},{88,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1041_0_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,0},{102,98}}</string>
                <key>offset</key>
                <string>{-5,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,155},{102,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1041_0_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,102},{84,102}}</string>
                <key>offset</key>
                <string>{-10,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,155},{84,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1041_0_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,0},{76,108}}</string>
                <key>offset</key>
                <string>{-4,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,158},{76,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1041_0_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,126},{78,102}}</string>
                <key>offset</key>
                <string>{-7,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,158},{78,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1041_0_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,110},{84,108}}</string>
                <key>offset</key>
                <string>{-3,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,156},{84,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1041_0_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,0},{72,104}}</string>
                <key>offset</key>
                <string>{-5,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,157},{72,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1041_0_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,0},{72,110}}</string>
                <key>offset</key>
                <string>{-5,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,156},{72,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1041_0_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,0},{58,110}}</string>
                <key>offset</key>
                <string>{5,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,160},{58,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1041_0_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,108},{58,96}}</string>
                <key>offset</key>
                <string>{4,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,163},{58,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1041_0_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,0},{56,112}}</string>
                <key>offset</key>
                <string>{1,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,160},{56,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1041_0_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,0},{56,102}}</string>
                <key>offset</key>
                <string>{0,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,162},{56,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1041_0_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,0},{62,110}}</string>
                <key>offset</key>
                <string>{2,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,159},{62,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1041_0.png</string>
            <key>size</key>
            <string>{1024,204}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3790cbc51ecbe426db421c61afde8df2:1/1$</string>
            <key>textureFileName</key>
            <string>1041_0.png</string>
        </dict>
    </dict>
</plist>
