<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1041_6_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,0},{58,110}}</string>
                <key>offset</key>
                <string>{-2,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,150},{58,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1041_6_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,0},{58,112}}</string>
                <key>offset</key>
                <string>{-5,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,148},{58,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1041_6_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,116},{64,112}}</string>
                <key>offset</key>
                <string>{-7,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,149},{64,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1041_6_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,0},{72,112}}</string>
                <key>offset</key>
                <string>{-9,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,150},{72,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1041_6_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,112},{60,110}}</string>
                <key>offset</key>
                <string>{-6,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,151},{60,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1041_6_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,114},{66,110}}</string>
                <key>offset</key>
                <string>{-5,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,152},{66,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1041_6_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,0},{58,112}}</string>
                <key>offset</key>
                <string>{-8,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,150},{58,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1041_6_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,0},{58,112}}</string>
                <key>offset</key>
                <string>{-7,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,149},{58,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1041_6_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,112},{60,112}}</string>
                <key>offset</key>
                <string>{-4,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,150},{60,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1041_6_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,124},{56,112}}</string>
                <key>offset</key>
                <string>{1,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,149},{56,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1041_6_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,0},{58,114}}</string>
                <key>offset</key>
                <string>{2,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,149},{58,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1041_6_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,124},{56,114}}</string>
                <key>offset</key>
                <string>{3,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,149},{56,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1041_6_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,0},{60,114}}</string>
                <key>offset</key>
                <string>{6,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,149},{60,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1041_6_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,0},{76,114}}</string>
                <key>offset</key>
                <string>{8,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,148},{76,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1041_6_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,0},{70,118}}</string>
                <key>offset</key>
                <string>{1,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,145},{70,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1041_6_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,114},{60,112}}</string>
                <key>offset</key>
                <string>{5,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,152},{60,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1041_6_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,0},{58,112}}</string>
                <key>offset</key>
                <string>{5,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,152},{58,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1041_6_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,112},{58,110}}</string>
                <key>offset</key>
                <string>{5,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,153},{58,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1041_6_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,0},{66,116}}</string>
                <key>offset</key>
                <string>{7,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,147},{66,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1041_6_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,118},{60,118}}</string>
                <key>offset</key>
                <string>{4,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,146},{60,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1041_6_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,0},{58,116}}</string>
                <key>offset</key>
                <string>{3,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,155},{58,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1041_6_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,0},{58,116}}</string>
                <key>offset</key>
                <string>{7,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,155},{58,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1041_6_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,0},{62,118}}</string>
                <key>offset</key>
                <string>{8,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,153},{62,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1041_6_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{72,124}}</string>
                <key>offset</key>
                <string>{11,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,148},{72,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1041_6_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,0},{60,124}}</string>
                <key>offset</key>
                <string>{8,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,148},{60,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1041_6.png</string>
            <key>size</key>
            <string>{1011,180}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c4cb12abc83d425b02ab73b1ae95b322:1/1$</string>
            <key>textureFileName</key>
            <string>1041_6.png</string>
        </dict>
    </dict>
</plist>
