<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1042_8_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,124},{78,122}}</string>
                <key>offset</key>
                <string>{-4,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,154},{78,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1042_8_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,136},{68,136}}</string>
                <key>offset</key>
                <string>{0,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,137},{68,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1042_8_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,248},{82,122}}</string>
                <key>offset</key>
                <string>{2,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,151},{82,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1042_8_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,382},{94,118}}</string>
                <key>offset</key>
                <string>{-3,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,155},{94,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1042_8_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,0},{110,130}}</string>
                <key>offset</key>
                <string>{-17,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,143},{110,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1042_8_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,0},{78,132}}</string>
                <key>offset</key>
                <string>{-14,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,143},{78,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1042_8_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,272},{80,134}}</string>
                <key>offset</key>
                <string>{13,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,140},{80,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1042_8_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,98},{110,112}}</string>
                <key>offset</key>
                <string>{19,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,162},{110,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1042_8_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,246},{90,108}}</string>
                <key>offset</key>
                <string>{7,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,166},{90,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1042_8_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,258},{92,124}}</string>
                <key>offset</key>
                <string>{2,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,150},{92,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1042_8_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,130},{90,128}}</string>
                <key>offset</key>
                <string>{2,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,140},{90,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1042_8_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,0},{98,114}}</string>
                <key>offset</key>
                <string>{9,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,153},{98,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1042_8_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,404},{102,94}}</string>
                <key>offset</key>
                <string>{17,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,173},{102,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1042_8_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,208},{100,104}}</string>
                <key>offset</key>
                <string>{15,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,166},{100,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1042_8_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,406},{96,110}}</string>
                <key>offset</key>
                <string>{11,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,157},{96,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1042_8_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,268},{100,128}}</string>
                <key>offset</key>
                <string>{-1,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,140},{100,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1042_8_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,396},{100,106}}</string>
                <key>offset</key>
                <string>{7,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,162},{100,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1042_8_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,404},{102,92}}</string>
                <key>offset</key>
                <string>{13,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,176},{102,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1042_8_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,308},{96,104}}</string>
                <key>offset</key>
                <string>{5,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,168},{96,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1042_8_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,0},{124,114}}</string>
                <key>offset</key>
                <string>{11,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,154},{124,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1042_8_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{76,136}}</string>
                <key>offset</key>
                <string>{5,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,144},{76,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1042_8_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,124},{66,124}}</string>
                <key>offset</key>
                <string>{2,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,156},{66,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1042_8_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,370},{80,112}}</string>
                <key>offset</key>
                <string>{0,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,168},{80,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1042_8_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,0},{92,116}}</string>
                <key>offset</key>
                <string>{4,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,164},{92,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1042_8_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,136},{110,132}}</string>
                <key>offset</key>
                <string>{18,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,148},{110,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1042_8.png</string>
            <key>size</key>
            <string>{588,502}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:186054a9d510014eb3548a15a6914f51:1/1$</string>
            <key>textureFileName</key>
            <string>1042_8.png</string>
        </dict>
    </dict>
</plist>
