<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1042_5_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,0},{96,112}}</string>
                <key>offset</key>
                <string>{1,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,94},{96,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1042_5_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,122},{100,112}}</string>
                <key>offset</key>
                <string>{1,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,95},{100,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1042_5_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,378},{102,112}}</string>
                <key>offset</key>
                <string>{1,102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,98},{102,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1042_5_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,380},{98,110}}</string>
                <key>offset</key>
                <string>{1,103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,98},{98,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1042_5_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,380},{96,110}}</string>
                <key>offset</key>
                <string>{1,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,96},{96,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1042_5_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,254},{118,126}}</string>
                <key>offset</key>
                <string>{-16,107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,86},{118,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1042_5_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{120,128}}</string>
                <key>offset</key>
                <string>{-17,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,86},{120,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1042_5_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,128},{116,126}}</string>
                <key>offset</key>
                <string>{-16,104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,89},{116,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1042_5_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,254},{116,124}}</string>
                <key>offset</key>
                <string>{-16,104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,90},{116,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1042_5_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,128},{118,126}}</string>
                <key>offset</key>
                <string>{-17,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,87},{118,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1042_5_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,0},{106,124}}</string>
                <key>offset</key>
                <string>{-24,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,89},{106,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1042_5_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,254},{106,126}}</string>
                <key>offset</key>
                <string>{-25,104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,89},{106,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1042_5_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,122},{102,122}}</string>
                <key>offset</key>
                <string>{-24,102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,93},{102,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1042_5_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,0},{100,122}}</string>
                <key>offset</key>
                <string>{-22,103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,92},{100,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1042_5_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,0},{104,122}}</string>
                <key>offset</key>
                <string>{-23,104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,91},{104,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1042_5_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,218},{86,110}}</string>
                <key>offset</key>
                <string>{-1,103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,98},{86,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1042_5_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,380},{90,110}}</string>
                <key>offset</key>
                <string>{-4,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,100},{90,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1042_5_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,112},{88,106}}</string>
                <key>offset</key>
                <string>{-4,100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,103},{88,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1042_5_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,382},{84,104}}</string>
                <key>offset</key>
                <string>{-3,100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,104},{84,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1042_5_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,328},{86,106}}</string>
                <key>offset</key>
                <string>{-3,102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,101},{86,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1042_5_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,100},{96,96}}</string>
                <key>offset</key>
                <string>{0,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,103},{96,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1042_5_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,0},{100,96}}</string>
                <key>offset</key>
                <string>{0,103}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,105},{100,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1042_5_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,234},{102,94}}</string>
                <key>offset</key>
                <string>{0,101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,108},{102,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1042_5_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,290},{98,92}}</string>
                <key>offset</key>
                <string>{0,102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,108},{98,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1042_5_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,196},{98,94}}</string>
                <key>offset</key>
                <string>{0,104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,105},{98,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1042_5.png</string>
            <key>size</key>
            <string>{622,490}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9233c3effc0642766c9845e295256252:1/1$</string>
            <key>textureFileName</key>
            <string>1042_5.png</string>
        </dict>
    </dict>
</plist>
