<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1042_0_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,212},{78,118}}</string>
                <key>offset</key>
                <string>{-1,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,139},{78,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1042_0_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,142},{78,138}}</string>
                <key>offset</key>
                <string>{1,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,138},{78,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1042_0_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,184},{74,118}}</string>
                <key>offset</key>
                <string>{1,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,139},{74,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1042_0_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,130},{76,138}}</string>
                <key>offset</key>
                <string>{0,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,138},{76,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1042_0_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,116},{76,128}}</string>
                <key>offset</key>
                <string>{-1,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,137},{76,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1042_0_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,0},{108,120}}</string>
                <key>offset</key>
                <string>{-9,63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,133},{108,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1042_0_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{118,142}}</string>
                <key>offset</key>
                <string>{-9,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,131},{118,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1042_0_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,0},{116,130}}</string>
                <key>offset</key>
                <string>{-11,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,132},{116,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1042_0_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,142},{116,136}}</string>
                <key>offset</key>
                <string>{-11,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,133},{116,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1042_0_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,268},{104,122}}</string>
                <key>offset</key>
                <string>{-10,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,133},{104,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1042_0_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,390},{102,116}}</string>
                <key>offset</key>
                <string>{-6,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,145},{102,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1042_0_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,0},{106,124}}</string>
                <key>offset</key>
                <string>{-13,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,137},{106,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1042_0_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,0},{116,116}}</string>
                <key>offset</key>
                <string>{-16,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,135},{116,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1042_0_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,400},{106,120}}</string>
                <key>offset</key>
                <string>{-12,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,143},{106,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1042_0_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,290},{102,112}}</string>
                <key>offset</key>
                <string>{-6,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,141},{102,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1042_0_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,258},{106,116}}</string>
                <key>offset</key>
                <string>{-1,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,155},{106,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1042_0_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,280},{118,100}}</string>
                <key>offset</key>
                <string>{-9,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,152},{118,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1042_0_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,278},{122,114}}</string>
                <key>offset</key>
                <string>{-9,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,152},{122,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1042_0_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,108},{118,104}}</string>
                <key>offset</key>
                <string>{-6,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,152},{118,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1042_0_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,398},{108,118}}</string>
                <key>offset</key>
                <string>{-1,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,153},{108,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1042_0_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,374},{84,114}}</string>
                <key>offset</key>
                <string>{5,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,159},{84,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1042_0_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,390},{76,96}}</string>
                <key>offset</key>
                <string>{1,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,158},{76,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1042_0_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,402},{80,116}}</string>
                <key>offset</key>
                <string>{-1,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,157},{80,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1042_0_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,290},{76,100}}</string>
                <key>offset</key>
                <string>{2,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,154},{76,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1042_0_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,106},{78,118}}</string>
                <key>offset</key>
                <string>{2,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,156},{78,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1042_0.png</string>
            <key>size</key>
            <string>{620,507}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:06bd6551b1a0c6ea4ab4341c09575226:1/1$</string>
            <key>textureFileName</key>
            <string>1042_0.png</string>
        </dict>
    </dict>
</plist>
