<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1043_5_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,328},{78,106}}</string>
                <key>offset</key>
                <string>{0,104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,99},{78,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1043_5_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,330},{80,106}}</string>
                <key>offset</key>
                <string>{0,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,102},{80,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1043_5_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,328},{86,106}}</string>
                <key>offset</key>
                <string>{0,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,105},{86,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1043_5_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,292},{86,106}}</string>
                <key>offset</key>
                <string>{0,100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,103},{86,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1043_5_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,330},{80,106}}</string>
                <key>offset</key>
                <string>{0,103}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,100},{80,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1043_5_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{104,112}}</string>
                <key>offset</key>
                <string>{-9,103}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,97},{104,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1043_5_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,116},{102,112}}</string>
                <key>offset</key>
                <string>{-11,100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,100},{102,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1043_5_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,0},{104,110}}</string>
                <key>offset</key>
                <string>{-10,98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,103},{104,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1043_5_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,222},{106,108}}</string>
                <key>offset</key>
                <string>{-8,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,103},{106,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1043_5_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,112},{108,110}}</string>
                <key>offset</key>
                <string>{-9,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,100},{108,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1043_5_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,0},{92,116}}</string>
                <key>offset</key>
                <string>{-19,100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,98},{92,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1043_5_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,104},{92,114}}</string>
                <key>offset</key>
                <string>{-19,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,102},{92,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1043_5_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,218},{92,110}}</string>
                <key>offset</key>
                <string>{-20,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,106},{92,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1043_5_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,104},{88,108}}</string>
                <key>offset</key>
                <string>{-18,96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,106},{88,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1043_5_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,0},{92,112}}</string>
                <key>offset</key>
                <string>{-19,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,102},{92,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1043_5_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,218},{72,110}}</string>
                <key>offset</key>
                <string>{-8,100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,101},{72,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1043_5_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,222},{70,110}}</string>
                <key>offset</key>
                <string>{-7,99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,102},{70,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1043_5_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,434},{70,104}}</string>
                <key>offset</key>
                <string>{-6,96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,108},{70,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1043_5_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,396},{74,102}}</string>
                <key>offset</key>
                <string>{-7,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,109},{74,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1043_5_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,292},{74,104}}</string>
                <key>offset</key>
                <string>{-8,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,106},{74,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1043_5_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,192},{80,100}}</string>
                <key>offset</key>
                <string>{0,102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,104},{80,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1043_5_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,398},{82,102}}</string>
                <key>offset</key>
                <string>{0,100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,105},{82,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1043_5_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,410},{84,98}}</string>
                <key>offset</key>
                <string>{0,97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,110},{84,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1043_5_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,0},{86,94}}</string>
                <key>offset</key>
                <string>{0,98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,111},{86,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1043_5_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,86},{80,96}}</string>
                <key>offset</key>
                <string>{1,100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,108},{80,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1043_5.png</string>
            <key>size</key>
            <string>{511,504}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2dc54542114f0c014af5d643c356fa3c:1/1$</string>
            <key>textureFileName</key>
            <string>1043_5.png</string>
        </dict>
    </dict>
</plist>
