<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1043_8_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,102},{82,116}}</string>
                <key>offset</key>
                <string>{-11,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,156},{82,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1043_8_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,304},{74,124}}</string>
                <key>offset</key>
                <string>{-8,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,147},{74,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1043_8_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,184},{86,114}}</string>
                <key>offset</key>
                <string>{3,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,157},{86,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1043_8_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,0},{94,112}}</string>
                <key>offset</key>
                <string>{-4,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,159},{94,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1043_8_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,0},{98,120}}</string>
                <key>offset</key>
                <string>{-13,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,152},{98,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1043_8_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,452},{54,120}}</string>
                <key>offset</key>
                <string>{-4,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,153},{54,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1043_8_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,378},{74,122}}</string>
                <key>offset</key>
                <string>{14,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,151},{74,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1043_8_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,190},{82,106}}</string>
                <key>offset</key>
                <string>{15,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,167},{82,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1043_8_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,272},{86,106}}</string>
                <key>offset</key>
                <string>{12,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,167},{86,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1043_8_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,366},{86,116}}</string>
                <key>offset</key>
                <string>{0,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,157},{86,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1043_8_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,0},{78,118}}</string>
                <key>offset</key>
                <string>{7,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,148},{78,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1043_8_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,94},{96,104}}</string>
                <key>offset</key>
                <string>{16,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,162},{96,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1043_8_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,214},{104,90}}</string>
                <key>offset</key>
                <string>{21,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,177},{104,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1043_8_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,372},{94,94}}</string>
                <key>offset</key>
                <string>{12,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,173},{94,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1043_8_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,430},{82,100}}</string>
                <key>offset</key>
                <string>{9,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,166},{82,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1043_8_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,246},{92,120}}</string>
                <key>offset</key>
                <string>{4,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,147},{92,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1043_8_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,120},{98,94}}</string>
                <key>offset</key>
                <string>{10,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,173},{98,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1043_8_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,368},{96,86}}</string>
                <key>offset</key>
                <string>{13,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,183},{96,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1043_8_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,270},{102,94}}</string>
                <key>offset</key>
                <string>{8,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,176},{102,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1043_8_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,0},{114,102}}</string>
                <key>offset</key>
                <string>{11,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,165},{114,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1043_8_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{104,126}}</string>
                <key>offset</key>
                <string>{1,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,152},{104,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1043_8_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,358},{72,104}}</string>
                <key>offset</key>
                <string>{9,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,174},{72,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1043_8_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,118},{84,102}}</string>
                <key>offset</key>
                <string>{-4,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,180},{84,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1043_8_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,272},{90,96}}</string>
                <key>offset</key>
                <string>{7,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,182},{90,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1043_8_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,126},{98,120}}</string>
                <key>offset</key>
                <string>{14,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,158},{98,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1043_8.png</string>
            <key>size</key>
            <string>{506,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:56e6a3ad6fb49de08946696ef73a094f:1/1$</string>
            <key>textureFileName</key>
            <string>1043_8.png</string>
        </dict>
    </dict>
</plist>
