<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1044_6_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,268},{88,132}}</string>
                <key>offset</key>
                <string>{-18,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,134},{88,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1044_6_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,130},{78,130}}</string>
                <key>offset</key>
                <string>{-13,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,136},{78,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1044_6_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,0},{76,130}}</string>
                <key>offset</key>
                <string>{-12,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,136},{76,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1044_6_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,400},{104,126}}</string>
                <key>offset</key>
                <string>{-20,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,140},{104,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1044_6_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,0},{80,128}}</string>
                <key>offset</key>
                <string>{-11,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,138},{80,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1044_6_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,136},{104,132}}</string>
                <key>offset</key>
                <string>{-2,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,138},{104,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1044_6_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,132},{94,130}}</string>
                <key>offset</key>
                <string>{-13,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,140},{94,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1044_6_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,262},{86,130}}</string>
                <key>offset</key>
                <string>{-4,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,140},{86,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1044_6_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,264},{64,132}}</string>
                <key>offset</key>
                <string>{0,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,138},{64,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1044_6_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{88,136}}</string>
                <key>offset</key>
                <string>{-9,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,134},{88,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1044_6_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,400},{106,128}}</string>
                <key>offset</key>
                <string>{12,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,139},{106,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1044_6_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,130},{88,128}}</string>
                <key>offset</key>
                <string>{0,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,139},{88,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1044_6_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,284},{70,126}}</string>
                <key>offset</key>
                <string>{-1,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,141},{70,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1044_6_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,132},{78,132}}</string>
                <key>offset</key>
                <string>{7,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,135},{78,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1044_6_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,0},{88,130}}</string>
                <key>offset</key>
                <string>{1,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,137},{88,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1044_6_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,0},{92,126}}</string>
                <key>offset</key>
                <string>{8,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,135},{92,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1044_6_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,208},{76,126}}</string>
                <key>offset</key>
                <string>{2,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,135},{76,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1044_6_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,354},{82,124}}</string>
                <key>offset</key>
                <string>{9,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,136},{82,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1044_6_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,392},{94,122}}</string>
                <key>offset</key>
                <string>{13,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,138},{94,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1044_6_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,388},{84,118}}</string>
                <key>offset</key>
                <string>{0,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,142},{84,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1044_6_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,0},{88,132}}</string>
                <key>offset</key>
                <string>{20,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,137},{88,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1044_6_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,268},{78,132}}</string>
                <key>offset</key>
                <string>{14,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,136},{78,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1044_6_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,0},{74,132}}</string>
                <key>offset</key>
                <string>{13,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,136},{74,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1044_6_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,260},{88,128}}</string>
                <key>offset</key>
                <string>{13,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,141},{88,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1044_6_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,128},{80,126}}</string>
                <key>offset</key>
                <string>{12,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,143},{80,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1044_6.png</string>
            <key>size</key>
            <string>{586,509}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2edd060038fbe048a8e3313205f22082:1/1$</string>
            <key>textureFileName</key>
            <string>1044_6.png</string>
        </dict>
    </dict>
</plist>
