<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1044_5_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,214},{110,112}}</string>
                <key>offset</key>
                <string>{0,107}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,93},{110,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1044_5_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,104},{112,112}}</string>
                <key>offset</key>
                <string>{1,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,95},{112,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1044_5_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,0},{118,112}}</string>
                <key>offset</key>
                <string>{1,102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,98},{118,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1044_5_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,0},{116,114}}</string>
                <key>offset</key>
                <string>{1,102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,97},{116,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1044_5_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,106},{112,110}}</string>
                <key>offset</key>
                <string>{0,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,96},{112,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1044_5_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,0},{104,122}}</string>
                <key>offset</key>
                <string>{-13,103}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,92},{104,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1044_5_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,0},{104,120}}</string>
                <key>offset</key>
                <string>{-13,102}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,94},{104,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1044_5_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,118},{112,118}}</string>
                <key>offset</key>
                <string>{-13,100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,97},{112,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1044_5_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{114,118}}</string>
                <key>offset</key>
                <string>{-13,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,96},{114,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1044_5_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,0},{104,120}}</string>
                <key>offset</key>
                <string>{-13,101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,95},{104,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1044_5_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,114},{102,116}}</string>
                <key>offset</key>
                <string>{-22,98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,100},{102,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1044_5_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,112},{104,116}}</string>
                <key>offset</key>
                <string>{-23,98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,100},{104,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1044_5_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,108},{108,112}}</string>
                <key>offset</key>
                <string>{-26,96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,104},{108,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1044_5_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,216},{108,112}}</string>
                <key>offset</key>
                <string>{-27,97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,103},{108,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1044_5_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,104},{104,114}}</string>
                <key>offset</key>
                <string>{-24,98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,101},{104,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1044_5_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,104},{112,110}}</string>
                <key>offset</key>
                <string>{-4,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,103},{112,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1044_5_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,216},{114,108}}</string>
                <key>offset</key>
                <string>{-3,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,104},{114,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1044_5_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,0},{118,106}}</string>
                <key>offset</key>
                <string>{-3,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,107},{118,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1044_5_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,0},{120,108}}</string>
                <key>offset</key>
                <string>{-3,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,107},{120,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1044_5_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,216},{116,108}}</string>
                <key>offset</key>
                <string>{-4,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,106},{116,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1044_5_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,216},{98,104}}</string>
                <key>offset</key>
                <string>{1,100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,104},{98,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1044_5_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,216},{90,104}}</string>
                <key>offset</key>
                <string>{0,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,106},{90,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1044_5_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,236},{88,104}}</string>
                <key>offset</key>
                <string>{0,95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,109},{88,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1044_5_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,216},{90,104}}</string>
                <key>offset</key>
                <string>{1,94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,110},{90,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1044_5_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,214},{98,104}}</string>
                <key>offset</key>
                <string>{2,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,107},{98,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1044_5.png</string>
            <key>size</key>
            <string>{968,324}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8755ac9c920cb4d96301a9d0414db37e:1/1$</string>
            <key>textureFileName</key>
            <string>1044_5.png</string>
        </dict>
    </dict>
</plist>
