<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1045_5_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,224},{92,112}}</string>
                <key>offset</key>
                <string>{-15,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,101},{92,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1045_5_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,224},{94,112}}</string>
                <key>offset</key>
                <string>{-16,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,103},{94,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1045_5_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,112},{94,110}}</string>
                <key>offset</key>
                <string>{-16,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,106},{94,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1045_5_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,336},{94,110}}</string>
                <key>offset</key>
                <string>{-16,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,106},{94,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1045_5_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,336},{92,112}}</string>
                <key>offset</key>
                <string>{-15,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,103},{92,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1045_5_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,112},{98,112}}</string>
                <key>offset</key>
                <string>{-23,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,101},{98,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1045_5_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{100,112}}</string>
                <key>offset</key>
                <string>{-24,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,103},{100,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1045_5_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,0},{100,108}}</string>
                <key>offset</key>
                <string>{-25,94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,108},{100,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1045_5_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,0},{102,106}}</string>
                <key>offset</key>
                <string>{-25,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,108},{102,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1045_5_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,0},{100,108}}</string>
                <key>offset</key>
                <string>{-24,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,105},{100,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1045_5_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,254},{72,106}}</string>
                <key>offset</key>
                <string>{-9,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,104},{72,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1045_5_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,254},{74,106}}</string>
                <key>offset</key>
                <string>{-10,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,106},{74,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1045_5_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,76},{76,100}}</string>
                <key>offset</key>
                <string>{-11,94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,112},{76,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1045_5_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,152},{78,98}}</string>
                <key>offset</key>
                <string>{-12,95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,112},{78,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1045_5_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,0},{76,102}}</string>
                <key>offset</key>
                <string>{-10,97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,108},{76,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1045_5_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,306},{74,98}}</string>
                <key>offset</key>
                <string>{0,101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,106},{74,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1045_5_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,230},{76,98}}</string>
                <key>offset</key>
                <string>{0,99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,108},{76,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1045_5_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,360},{76,96}}</string>
                <key>offset</key>
                <string>{0,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,112},{76,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1045_5_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,360},{76,92}}</string>
                <key>offset</key>
                <string>{0,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,113},{76,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1045_5_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,362},{74,94}}</string>
                <key>offset</key>
                <string>{0,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,110},{74,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1045_5_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,182},{72,110}}</string>
                <key>offset</key>
                <string>{1,99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,102},{72,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1045_5_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,254},{76,108}}</string>
                <key>offset</key>
                <string>{1,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,106},{76,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1045_5_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,176},{78,108}}</string>
                <key>offset</key>
                <string>{1,95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,107},{78,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1045_5_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,100},{76,108}}</string>
                <key>offset</key>
                <string>{1,95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,107},{76,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1045_5_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,108},{74,110}}</string>
                <key>offset</key>
                <string>{1,97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,104},{74,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1045_5.png</string>
            <key>size</key>
            <string>{512,456}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6cfdc7315586c386e70e52efe5e07842:1/1$</string>
            <key>textureFileName</key>
            <string>1045_5.png</string>
        </dict>
    </dict>
</plist>
