<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1045_4_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,0},{80,108}}</string>
                <key>offset</key>
                <string>{0,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,103},{80,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1045_4_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,114},{82,108}}</string>
                <key>offset</key>
                <string>{0,99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,103},{82,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1045_4_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,108},{80,108}}</string>
                <key>offset</key>
                <string>{0,99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,103},{80,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1045_4_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,116},{80,110}}</string>
                <key>offset</key>
                <string>{-1,99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,102},{80,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1045_4_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,0},{102,116}}</string>
                <key>offset</key>
                <string>{-10,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,100},{102,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1045_4_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,0},{102,114}}</string>
                <key>offset</key>
                <string>{-11,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,102},{102,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1045_4_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,0},{102,114}}</string>
                <key>offset</key>
                <string>{-11,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,101},{102,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1045_4_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,0},{102,114}}</string>
                <key>offset</key>
                <string>{-11,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,101},{102,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1045_4_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,0},{94,122}}</string>
                <key>offset</key>
                <string>{-26,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,100},{94,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1045_4_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,0},{94,122}}</string>
                <key>offset</key>
                <string>{-26,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,100},{94,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1045_4_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,0},{94,122}}</string>
                <key>offset</key>
                <string>{-27,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,99},{94,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1045_4_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{94,122}}</string>
                <key>offset</key>
                <string>{-27,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,99},{94,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1045_4_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,122},{72,120}}</string>
                <key>offset</key>
                <string>{-12,95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,101},{72,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1045_4_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,122},{72,118}}</string>
                <key>offset</key>
                <string>{-13,95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,102},{72,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1045_4_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,122},{74,116}}</string>
                <key>offset</key>
                <string>{-14,95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,103},{74,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1045_4_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,122},{72,118}}</string>
                <key>offset</key>
                <string>{-13,95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,102},{72,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1045_4_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,0},{80,108}}</string>
                <key>offset</key>
                <string>{2,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,105},{80,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1045_4_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,114},{80,108}}</string>
                <key>offset</key>
                <string>{1,97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,105},{80,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1045_4_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,108},{80,106}}</string>
                <key>offset</key>
                <string>{1,97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,106},{80,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1045_4_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,0},{80,106}}</string>
                <key>offset</key>
                <string>{1,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,106},{80,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1045_4.png</string>
            <key>size</key>
            <string>{1024,196}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:449bbd599b3439fd41c7f2a45d166899:1/1$</string>
            <key>textureFileName</key>
            <string>1045_4.png</string>
        </dict>
    </dict>
</plist>
