<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1046_5_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,198},{82,106}}</string>
                <key>offset</key>
                <string>{2,104}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,99},{82,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1046_5_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,0},{86,108}}</string>
                <key>offset</key>
                <string>{2,102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,100},{86,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1046_5_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,110},{88,108}}</string>
                <key>offset</key>
                <string>{2,99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,103},{88,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1046_5_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,108},{86,106}}</string>
                <key>offset</key>
                <string>{2,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,102},{86,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1046_5_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,188},{84,106}}</string>
                <key>offset</key>
                <string>{2,103}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,100},{84,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1046_5_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,0},{108,114}}</string>
                <key>offset</key>
                <string>{-16,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,98},{108,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1046_5_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,120},{112,114}}</string>
                <key>offset</key>
                <string>{-17,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,100},{112,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1046_5_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,0},{112,112}}</string>
                <key>offset</key>
                <string>{-16,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,103},{112,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1046_5_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,0},{110,110}}</string>
                <key>offset</key>
                <string>{-16,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,103},{110,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1046_5_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,356},{110,112}}</string>
                <key>offset</key>
                <string>{-16,100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,100},{110,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1046_5_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,120},{118,114}}</string>
                <key>offset</key>
                <string>{-32,100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,99},{118,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1046_5_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{120,116}}</string>
                <key>offset</key>
                <string>{-34,99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,99},{120,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1046_5_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,356},{118,112}}</string>
                <key>offset</key>
                <string>{-33,97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,103},{118,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1046_5_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,238},{118,110}}</string>
                <key>offset</key>
                <string>{-32,97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,104},{118,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1046_5_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,238},{118,112}}</string>
                <key>offset</key>
                <string>{-32,99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,101},{118,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1046_5_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,112},{76,108}}</string>
                <key>offset</key>
                <string>{-4,102}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,100},{76,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1046_5_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,272},{76,106}}</string>
                <key>offset</key>
                <string>{-4,100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,103},{76,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1046_5_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,348},{74,104}}</string>
                <key>offset</key>
                <string>{-5,100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,104},{74,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1046_5_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,354},{74,102}}</string>
                <key>offset</key>
                <string>{-5,99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,106},{74,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1046_5_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,280},{74,104}}</string>
                <key>offset</key>
                <string>{-3,101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,103},{74,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1046_5_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,428},{82,96}}</string>
                <key>offset</key>
                <string>{-1,105}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,103},{82,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1046_5_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,300},{84,96}}</string>
                <key>offset</key>
                <string>{-1,103}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,105},{84,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1046_5_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,422},{86,96}}</string>
                <key>offset</key>
                <string>{-1,101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,107},{86,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1046_5_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,214},{86,94}}</string>
                <key>offset</key>
                <string>{-1,103}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,106},{86,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1046_5_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,384},{84,94}}</string>
                <key>offset</key>
                <string>{-1,104}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,105},{84,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1046_5.png</string>
            <key>size</key>
            <string>{532,511}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:393979805c163ab4f68429bc6e7d1d86:1/1$</string>
            <key>textureFileName</key>
            <string>1046_5.png</string>
        </dict>
    </dict>
</plist>
