<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1046_2_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,170},{80,116}}</string>
                <key>offset</key>
                <string>{-9,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,158},{80,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1046_2_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,136},{96,118}}</string>
                <key>offset</key>
                <string>{-15,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,155},{96,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1046_2_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,376},{84,130}}</string>
                <key>offset</key>
                <string>{-6,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,143},{84,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1046_2_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,86},{84,134}}</string>
                <key>offset</key>
                <string>{-5,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,139},{84,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1046_2_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,376},{88,128}}</string>
                <key>offset</key>
                <string>{-4,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,145},{88,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1046_2_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,0},{70,122}}</string>
                <key>offset</key>
                <string>{-14,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,151},{70,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1046_2_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,254},{94,120}}</string>
                <key>offset</key>
                <string>{-7,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,153},{94,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1046_2_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{100,132}}</string>
                <key>offset</key>
                <string>{-7,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,141},{100,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1046_2_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,0},{86,134}}</string>
                <key>offset</key>
                <string>{-7,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,139},{86,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1046_2_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,118},{84,134}}</string>
                <key>offset</key>
                <string>{-15,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,139},{84,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1046_2_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,254},{98,122}}</string>
                <key>offset</key>
                <string>{-8,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,142},{98,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1046_2_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,250},{108,102}}</string>
                <key>offset</key>
                <string>{2,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,162},{108,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1046_2_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,0},{104,118}}</string>
                <key>offset</key>
                <string>{-11,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,148},{104,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1046_2_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,260},{100,122}}</string>
                <key>offset</key>
                <string>{-9,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,143},{100,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1046_2_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,0},{102,128}}</string>
                <key>offset</key>
                <string>{-10,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,137},{102,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1046_2_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,132},{100,128}}</string>
                <key>offset</key>
                <string>{-4,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,136},{100,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1046_2_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,286},{110,96}}</string>
                <key>offset</key>
                <string>{5,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,168},{110,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1046_2_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,254},{112,106}}</string>
                <key>offset</key>
                <string>{-3,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,158},{112,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1046_2_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,374},{98,114}}</string>
                <key>offset</key>
                <string>{-2,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,150},{98,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1046_2_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,128},{102,126}}</string>
                <key>offset</key>
                <string>{-4,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,138},{102,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1046_2_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,170},{80,140}}</string>
                <key>offset</key>
                <string>{9,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,135},{80,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1046_2_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,396},{96,98}}</string>
                <key>offset</key>
                <string>{16,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,177},{96,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1046_2_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,366},{84,104}}</string>
                <key>offset</key>
                <string>{7,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,171},{84,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1046_2_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,382},{82,124}}</string>
                <key>offset</key>
                <string>{6,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,151},{82,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1046_2_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,0},{88,136}}</string>
                <key>offset</key>
                <string>{5,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,139},{88,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1046_2.png</string>
            <key>size</key>
            <string>{602,506}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:690a8bbbebaa131560feb1fffd9d622c:1/1$</string>
            <key>textureFileName</key>
            <string>1046_2.png</string>
        </dict>
    </dict>
</plist>
