<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1046_0_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,0},{82,132}}</string>
                <key>offset</key>
                <string>{0,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,136},{82,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1046_0_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,0},{76,142}}</string>
                <key>offset</key>
                <string>{1,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,134},{76,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1046_0_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,112},{78,122}}</string>
                <key>offset</key>
                <string>{2,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,136},{78,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1046_0_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,136},{82,142}}</string>
                <key>offset</key>
                <string>{3,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,134},{82,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1046_0_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,0},{80,134}}</string>
                <key>offset</key>
                <string>{1,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,135},{80,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1046_0_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,0},{98,118}}</string>
                <key>offset</key>
                <string>{-13,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,139},{98,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1046_0_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{102,136}}</string>
                <key>offset</key>
                <string>{-9,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,137},{102,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1046_0_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,110},{94,120}}</string>
                <key>offset</key>
                <string>{-8,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,137},{94,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1046_0_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,0},{92,132}}</string>
                <key>offset</key>
                <string>{-10,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,136},{92,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1046_0_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,190},{94,118}}</string>
                <key>offset</key>
                <string>{-9,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,138},{94,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1046_0_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,188},{108,112}}</string>
                <key>offset</key>
                <string>{-13,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,149},{108,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1046_0_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,92},{106,116}}</string>
                <key>offset</key>
                <string>{-17,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,145},{106,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1046_0_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,0},{120,112}}</string>
                <key>offset</key>
                <string>{-19,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,141},{120,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1046_0_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,0},{118,110}}</string>
                <key>offset</key>
                <string>{-14,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,147},{118,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1046_0_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,80},{114,106}}</string>
                <key>offset</key>
                <string>{-10,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,146},{114,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1046_0_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,82},{106,114}}</string>
                <key>offset</key>
                <string>{-5,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,157},{106,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1046_0_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,152},{114,98}}</string>
                <key>offset</key>
                <string>{-8,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,158},{114,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1046_0_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,188},{112,108}}</string>
                <key>offset</key>
                <string>{-14,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,158},{112,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1046_0_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,192},{106,98}}</string>
                <key>offset</key>
                <string>{-13,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,156},{106,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1046_0_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,198},{102,114}}</string>
                <key>offset</key>
                <string>{-8,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,157},{102,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1046_0_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,76},{76,116}}</string>
                <key>offset</key>
                <string>{6,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,157},{76,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1046_0_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,98},{76,94}}</string>
                <key>offset</key>
                <string>{1,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,161},{76,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1046_0_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,186},{80,114}}</string>
                <key>offset</key>
                <string>{-3,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,159},{80,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1046_0_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,98},{80,100}}</string>
                <key>offset</key>
                <string>{-1,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,157},{80,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1046_0_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,204},{80,118}}</string>
                <key>offset</key>
                <string>{1,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,156},{80,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1046_0.png</string>
            <key>size</key>
            <string>{998,300}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7643b804f86ff6f46fa755a50eb10332:1/1$</string>
            <key>textureFileName</key>
            <string>1046_0.png</string>
        </dict>
    </dict>
</plist>
