<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1046_1_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,0},{80,136}}</string>
                <key>offset</key>
                <string>{1,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,145},{80,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1046_1_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{80,138}}</string>
                <key>offset</key>
                <string>{3,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,144},{80,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1046_1_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,0},{80,136}}</string>
                <key>offset</key>
                <string>{3,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,145},{80,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1046_1_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,0},{78,136}}</string>
                <key>offset</key>
                <string>{2,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,144},{78,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1046_1_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,0},{72,134}}</string>
                <key>offset</key>
                <string>{-9,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,142},{72,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1046_1_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,134},{72,134}}</string>
                <key>offset</key>
                <string>{-9,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,143},{72,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1046_1_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,0},{76,134}}</string>
                <key>offset</key>
                <string>{-11,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,142},{76,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1046_1_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,132},{74,132}}</string>
                <key>offset</key>
                <string>{-10,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,143},{74,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1046_1_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,136},{70,130}}</string>
                <key>offset</key>
                <string>{-11,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,135},{70,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1046_1_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,132},{72,128}}</string>
                <key>offset</key>
                <string>{-14,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,137},{72,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1046_1_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,138},{68,128}}</string>
                <key>offset</key>
                <string>{-11,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,137},{68,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1046_1_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,0},{70,128}}</string>
                <key>offset</key>
                <string>{-11,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,137},{70,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1046_1_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,132},{74,132}}</string>
                <key>offset</key>
                <string>{-8,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,132},{74,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1046_1_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,136},{70,132}}</string>
                <key>offset</key>
                <string>{-9,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,132},{70,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1046_1_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,0},{76,132}}</string>
                <key>offset</key>
                <string>{-11,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,132},{76,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1046_1_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,0},{76,132}}</string>
                <key>offset</key>
                <string>{-10,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,132},{76,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1046_1_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,0},{80,132}}</string>
                <key>offset</key>
                <string>{0,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,131},{80,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1046_1_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,0},{80,132}}</string>
                <key>offset</key>
                <string>{-1,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,131},{80,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1046_1_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,0},{80,132}}</string>
                <key>offset</key>
                <string>{-2,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,131},{80,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1046_1_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,0},{78,132}}</string>
                <key>offset</key>
                <string>{0,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,131},{78,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1046_1.png</string>
            <key>size</key>
            <string>{1006,206}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d20fc51a1f72c714ad539ff3e74ff721:1/1$</string>
            <key>textureFileName</key>
            <string>1046_1.png</string>
        </dict>
    </dict>
</plist>
