<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1047_3_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{72,126}}</string>
                <key>offset</key>
                <string>{3,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,137},{72,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1047_3_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,0},{68,124}}</string>
                <key>offset</key>
                <string>{-2,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,140},{68,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1047_3_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,0},{76,116}}</string>
                <key>offset</key>
                <string>{0,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,147},{76,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1047_3_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,0},{82,108}}</string>
                <key>offset</key>
                <string>{-6,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,156},{82,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1047_3_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,0},{70,114}}</string>
                <key>offset</key>
                <string>{-2,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,157},{70,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1047_3.png</string>
            <key>size</key>
            <string>{368,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4c2bf55cb2e7c609e9c722baa785ec6a:1/1$</string>
            <key>textureFileName</key>
            <string>1047_3.png</string>
        </dict>
    </dict>
</plist>
