<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1047_6_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,124},{72,122}}</string>
                <key>offset</key>
                <string>{-15,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,142},{72,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1047_6_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,0},{62,122}}</string>
                <key>offset</key>
                <string>{-9,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,142},{62,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1047_6_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,0},{70,124}}</string>
                <key>offset</key>
                <string>{-7,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,141},{70,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1047_6_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,122},{62,120}}</string>
                <key>offset</key>
                <string>{-6,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,142},{62,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1047_6_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,134},{72,114}}</string>
                <key>offset</key>
                <string>{-13,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,147},{72,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1047_6_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,128},{86,124}}</string>
                <key>offset</key>
                <string>{-16,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,138},{86,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1047_6_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,62},{60,122}}</string>
                <key>offset</key>
                <string>{-1,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,140},{60,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1047_6_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,122},{66,120}}</string>
                <key>offset</key>
                <string>{-3,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,141},{66,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1047_6_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,0},{64,122}}</string>
                <key>offset</key>
                <string>{-5,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,140},{64,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1047_6_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,134},{66,118}}</string>
                <key>offset</key>
                <string>{-4,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,143},{66,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1047_6_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,0},{76,124}}</string>
                <key>offset</key>
                <string>{2,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,139},{76,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1047_6_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,126},{74,126}}</string>
                <key>offset</key>
                <string>{6,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,137},{74,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1047_6_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,124},{72,124}}</string>
                <key>offset</key>
                <string>{6,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,139},{72,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1047_6_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,126},{76,124}}</string>
                <key>offset</key>
                <string>{8,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,138},{76,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1047_6_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,128},{84,124}}</string>
                <key>offset</key>
                <string>{-4,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,139},{84,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1047_6_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,0},{62,126}}</string>
                <key>offset</key>
                <string>{8,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,138},{62,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1047_6_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,0},{72,126}}</string>
                <key>offset</key>
                <string>{10,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,138},{72,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1047_6_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,126},{70,126}}</string>
                <key>offset</key>
                <string>{10,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,137},{70,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1047_6_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,130},{74,122}}</string>
                <key>offset</key>
                <string>{11,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,141},{74,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1047_6_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,0},{80,126}}</string>
                <key>offset</key>
                <string>{2,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,138},{80,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1047_6_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,0},{72,128}}</string>
                <key>offset</key>
                <string>{15,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,143},{72,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1047_6_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,0},{62,128}}</string>
                <key>offset</key>
                <string>{10,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,143},{62,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1047_6_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,0},{70,130}}</string>
                <key>offset</key>
                <string>{7,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,141},{70,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1047_6_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,0},{64,130}}</string>
                <key>offset</key>
                <string>{7,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,142},{64,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1047_6_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{74,134}}</string>
                <key>offset</key>
                <string>{14,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,138},{74,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1047_6.png</string>
            <key>size</key>
            <string>{888,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7884811cacbfbfc9a57427684e5be0d7:1/1$</string>
            <key>textureFileName</key>
            <string>1047_6.png</string>
        </dict>
    </dict>
</plist>
