<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1047_4_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,122},{94,114}}</string>
                <key>offset</key>
                <string>{1,106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,93},{94,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1047_4_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,126},{96,114}}</string>
                <key>offset</key>
                <string>{2,105}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,94},{96,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1047_4_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,128},{96,114}}</string>
                <key>offset</key>
                <string>{1,106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,93},{96,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1047_4_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,128},{96,114}}</string>
                <key>offset</key>
                <string>{1,106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,93},{96,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1047_4_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,0},{104,126}}</string>
                <key>offset</key>
                <string>{-11,102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,91},{104,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1047_4_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,0},{106,124}}</string>
                <key>offset</key>
                <string>{-11,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,93},{106,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1047_4_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,0},{104,122}}</string>
                <key>offset</key>
                <string>{-10,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,94},{104,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1047_4_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,0},{104,124}}</string>
                <key>offset</key>
                <string>{-11,102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,92},{104,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1047_4_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,0},{102,128}}</string>
                <key>offset</key>
                <string>{-26,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,95},{102,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1047_4_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{104,128}}</string>
                <key>offset</key>
                <string>{-26,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,95},{104,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1047_4_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,0},{102,126}}</string>
                <key>offset</key>
                <string>{-25,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,96},{102,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1047_4_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,0},{102,126}}</string>
                <key>offset</key>
                <string>{-26,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,96},{102,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1047_4_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,0},{66,122}}</string>
                <key>offset</key>
                <string>{-2,95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,100},{66,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1047_4_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,0},{68,122}}</string>
                <key>offset</key>
                <string>{-3,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,99},{68,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1047_4_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,132},{66,120}}</string>
                <key>offset</key>
                <string>{-3,96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,100},{66,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1047_4_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,66},{66,120}}</string>
                <key>offset</key>
                <string>{-2,95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,101},{66,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1047_4_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,126},{96,112}}</string>
                <key>offset</key>
                <string>{0,98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,102},{96,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1047_4_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,126},{96,110}}</string>
                <key>offset</key>
                <string>{-1,97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,104},{96,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1047_4_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,124},{96,108}}</string>
                <key>offset</key>
                <string>{1,97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,105},{96,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1047_4_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,124},{96,108}}</string>
                <key>offset</key>
                <string>{0,97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,105},{96,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1047_4.png</string>
            <key>size</key>
            <string>{1018,224}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5b5b2bd160ace601382d83087643277f:1/1$</string>
            <key>textureFileName</key>
            <string>1047_4.png</string>
        </dict>
    </dict>
</plist>
