<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1048_0_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,382},{74,118}}</string>
                <key>offset</key>
                <string>{1,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,140},{74,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1048_0_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,0},{80,140}}</string>
                <key>offset</key>
                <string>{0,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,137},{80,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1048_0_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,232},{78,120}}</string>
                <key>offset</key>
                <string>{0,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,138},{78,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1048_0_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,80},{74,142}}</string>
                <key>offset</key>
                <string>{1,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,136},{74,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1048_0_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,154},{68,130}}</string>
                <key>offset</key>
                <string>{1,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,138},{68,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1048_0_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,268},{88,118}}</string>
                <key>offset</key>
                <string>{-12,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,136},{88,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1048_0_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,126},{90,142}}</string>
                <key>offset</key>
                <string>{-7,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,132},{90,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1048_0_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,406},{90,118}}</string>
                <key>offset</key>
                <string>{-9,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,135},{90,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1048_0_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,268},{86,138}}</string>
                <key>offset</key>
                <string>{7,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,133},{86,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1048_0_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,224},{90,122}}</string>
                <key>offset</key>
                <string>{-5,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,134},{90,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1048_0_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,0},{100,122}}</string>
                <key>offset</key>
                <string>{-11,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,139},{100,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1048_0_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,222},{90,128}}</string>
                <key>offset</key>
                <string>{-13,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,135},{90,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1048_0_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,126},{104,120}}</string>
                <key>offset</key>
                <string>{-7,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,131},{104,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1048_0_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,310},{76,120}}</string>
                <key>offset</key>
                <string>{-5,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,138},{76,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1048_0_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,126},{98,120}}</string>
                <key>offset</key>
                <string>{-13,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,135},{98,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1048_0_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,0},{106,126}}</string>
                <key>offset</key>
                <string>{-7,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,146},{106,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1048_0_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,386},{96,112}}</string>
                <key>offset</key>
                <string>{-10,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,143},{96,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1048_0_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,312},{98,122}}</string>
                <key>offset</key>
                <string>{-9,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,144},{98,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1048_0_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,386},{98,114}}</string>
                <key>offset</key>
                <string>{-7,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,144},{98,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1048_0_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{108,126}}</string>
                <key>offset</key>
                <string>{-8,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,145},{108,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1048_0_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,410},{74,122}}</string>
                <key>offset</key>
                <string>{1,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,153},{74,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1048_0_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,0},{80,104}}</string>
                <key>offset</key>
                <string>{1,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,152},{80,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1048_0_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,154},{78,120}}</string>
                <key>offset</key>
                <string>{2,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,153},{78,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1048_0_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,80},{74,108}}</string>
                <key>offset</key>
                <string>{0,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,150},{74,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1048_0_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,314},{68,122}}</string>
                <key>offset</key>
                <string>{1,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,152},{68,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1048_0.png</string>
            <key>size</key>
            <string>{564,500}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a9fbe4d4caf1a32e0509e5121ec810a6:1/1$</string>
            <key>textureFileName</key>
            <string>1048_0.png</string>
        </dict>
    </dict>
</plist>
