<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1048_2_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,0},{80,108}}</string>
                <key>offset</key>
                <string>{-14,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,166},{80,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1048_2_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,70},{92,122}}</string>
                <key>offset</key>
                <string>{-17,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,151},{92,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1048_2_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,0},{70,128}}</string>
                <key>offset</key>
                <string>{-10,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,145},{70,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1048_2_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,270},{80,130}}</string>
                <key>offset</key>
                <string>{-6,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,143},{80,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1048_2_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,426},{72,130}}</string>
                <key>offset</key>
                <string>{-5,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,143},{72,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1048_2_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,258},{82,120}}</string>
                <key>offset</key>
                <string>{-19,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,154},{82,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1048_2_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,258},{88,128}}</string>
                <key>offset</key>
                <string>{-5,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,145},{88,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1048_2_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,136},{94,134}}</string>
                <key>offset</key>
                <string>{-8,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,139},{94,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1048_2_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,0},{84,136}}</string>
                <key>offset</key>
                <string>{-11,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,137},{84,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1048_2_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,288},{68,138}}</string>
                <key>offset</key>
                <string>{-12,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,135},{68,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1048_2_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,270},{102,128}}</string>
                <key>offset</key>
                <string>{-7,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,138},{102,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1048_2_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,152},{102,114}}</string>
                <key>offset</key>
                <string>{-2,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,150},{102,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1048_2_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,398},{106,124}}</string>
                <key>offset</key>
                <string>{-9,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,140},{106,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1048_2_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,0},{102,130}}</string>
                <key>offset</key>
                <string>{-7,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,136},{102,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1048_2_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,0},{84,136}}</string>
                <key>offset</key>
                <string>{2,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,130},{84,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1048_2_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,288},{98,136}}</string>
                <key>offset</key>
                <string>{-4,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,130},{98,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1048_2_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,378},{94,102}}</string>
                <key>offset</key>
                <string>{9,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,164},{94,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1048_2_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,386},{92,118}}</string>
                <key>offset</key>
                <string>{-1,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,148},{92,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1048_2_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,130},{90,128}}</string>
                <key>offset</key>
                <string>{0,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,138},{90,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1048_2_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,148},{94,136}}</string>
                <key>offset</key>
                <string>{-2,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,130},{94,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1048_2_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{80,148}}</string>
                <key>offset</key>
                <string>{15,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,129},{80,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1048_2_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,162},{92,96}}</string>
                <key>offset</key>
                <string>{18,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,181},{92,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1048_2_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,80},{72,118}}</string>
                <key>offset</key>
                <string>{11,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,159},{72,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1048_2_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,424},{80,134}}</string>
                <key>offset</key>
                <string>{7,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,143},{80,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1048_2_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,148},{72,140}}</string>
                <key>offset</key>
                <string>{6,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,137},{72,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1048_2.png</string>
            <key>size</key>
            <string>{590,504}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fab5ac3093c41b4a5f3cb20709da5716:1/1$</string>
            <key>textureFileName</key>
            <string>1048_2.png</string>
        </dict>
    </dict>
</plist>
