<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1049_5_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,92},{60,92}}</string>
                <key>offset</key>
                <string>{1,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,113},{60,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1049_5_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,0},{60,92}}</string>
                <key>offset</key>
                <string>{1,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,116},{60,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1049_5_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,94},{62,92}}</string>
                <key>offset</key>
                <string>{1,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,119},{62,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1049_5_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,92},{60,92}}</string>
                <key>offset</key>
                <string>{1,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,117},{60,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1049_5_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,0},{60,92}}</string>
                <key>offset</key>
                <string>{1,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,114},{60,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1049_5_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,100},{92,98}}</string>
                <key>offset</key>
                <string>{-14,95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,112},{92,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1049_5_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,0},{92,96}}</string>
                <key>offset</key>
                <string>{-15,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,116},{92,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1049_5_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,98},{94,94}}</string>
                <key>offset</key>
                <string>{-16,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,120},{94,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1049_5_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,98},{94,94}}</string>
                <key>offset</key>
                <string>{-15,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,118},{94,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1049_5_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,100},{92,96}}</string>
                <key>offset</key>
                <string>{-14,94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,114},{92,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1049_5_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,0},{96,102}}</string>
                <key>offset</key>
                <string>{-22,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,112},{96,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1049_5_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{98,102}}</string>
                <key>offset</key>
                <string>{-23,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,114},{98,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1049_5_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,0},{98,98}}</string>
                <key>offset</key>
                <string>{-24,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,119},{98,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1049_5_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,0},{98,96}}</string>
                <key>offset</key>
                <string>{-23,89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,119},{98,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1049_5_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,0},{98,100}}</string>
                <key>offset</key>
                <string>{-23,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,114},{98,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1049_5_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,0},{76,100}}</string>
                <key>offset</key>
                <string>{-11,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,112},{76,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1049_5_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,102},{78,100}}</string>
                <key>offset</key>
                <string>{-12,93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,113},{78,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1049_5_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,0},{78,96}}</string>
                <key>offset</key>
                <string>{-12,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,117},{78,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1049_5_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,96},{78,96}}</string>
                <key>offset</key>
                <string>{-12,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,116},{78,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1049_5_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,96},{76,96}}</string>
                <key>offset</key>
                <string>{-11,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,115},{76,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1049_5_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,0},{60,94}}</string>
                <key>offset</key>
                <string>{0,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,111},{60,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1049_5_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,0},{60,96}}</string>
                <key>offset</key>
                <string>{0,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,112},{60,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1049_5_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,96},{60,94}}</string>
                <key>offset</key>
                <string>{0,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,116},{60,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1049_5_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,102},{60,90}}</string>
                <key>offset</key>
                <string>{0,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,116},{60,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1049_5_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,102},{60,90}}</string>
                <key>offset</key>
                <string>{0,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,115},{60,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1049_5.png</string>
            <key>size</key>
            <string>{998,192}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5ba91cbeb38242d6eccd4b44d2a352b2:1/1$</string>
            <key>textureFileName</key>
            <string>1049_5.png</string>
        </dict>
    </dict>
</plist>
