<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1049_4_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,104},{60,94}}</string>
                <key>offset</key>
                <string>{1,96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,113},{60,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1049_4_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,104},{60,94}}</string>
                <key>offset</key>
                <string>{1,95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,114},{60,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1049_4_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,110},{60,94}}</string>
                <key>offset</key>
                <string>{1,96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,113},{60,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1049_4_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,104},{60,92}}</string>
                <key>offset</key>
                <string>{1,96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,114},{60,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1049_4_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,0},{92,104}}</string>
                <key>offset</key>
                <string>{-16,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,112},{92,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1049_4_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,0},{94,104}}</string>
                <key>offset</key>
                <string>{-16,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,113},{94,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1049_4_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,0},{94,104}}</string>
                <key>offset</key>
                <string>{-17,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,112},{94,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1049_4_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,0},{94,104}}</string>
                <key>offset</key>
                <string>{-16,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,112},{94,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1049_4_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,0},{94,112}}</string>
                <key>offset</key>
                <string>{-26,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,111},{94,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1049_4_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{94,112}}</string>
                <key>offset</key>
                <string>{-26,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,111},{94,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1049_4_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,0},{94,110}}</string>
                <key>offset</key>
                <string>{-27,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,112},{94,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1049_4_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,0},{94,110}}</string>
                <key>offset</key>
                <string>{-27,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,112},{94,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1049_4_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,0},{74,112}}</string>
                <key>offset</key>
                <string>{-14,90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,110},{74,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1049_4_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,0},{74,112}}</string>
                <key>offset</key>
                <string>{-15,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,109},{74,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1049_4_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,74},{74,110}}</string>
                <key>offset</key>
                <string>{-15,91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,110},{74,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1049_4_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,0},{74,112}}</string>
                <key>offset</key>
                <string>{-15,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,109},{74,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1049_4_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,112},{60,104}}</string>
                <key>offset</key>
                <string>{0,94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,110},{60,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1049_4_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,112},{60,104}}</string>
                <key>offset</key>
                <string>{1,94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,110},{60,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1049_4_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,112},{60,104}}</string>
                <key>offset</key>
                <string>{1,95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,109},{60,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1049_4_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,112},{60,104}}</string>
                <key>offset</key>
                <string>{1,95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,109},{60,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1049_4.png</string>
            <key>size</key>
            <string>{1010,172}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1365f057f1a386a7dd476228afd6bf55:1/1$</string>
            <key>textureFileName</key>
            <string>1049_4.png</string>
        </dict>
    </dict>
</plist>
