<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1049_3_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,114},{62,108}}</string>
                <key>offset</key>
                <string>{-1,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,154},{62,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1049_3_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,436},{40,108}}</string>
                <key>offset</key>
                <string>{1,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,154},{40,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1049_3_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,328},{56,108}}</string>
                <key>offset</key>
                <string>{4,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,155},{56,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1049_3_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,222},{58,106}}</string>
                <key>offset</key>
                <string>{1,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,158},{58,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1049_3_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{62,114}}</string>
                <key>offset</key>
                <string>{1,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,157},{62,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1049_3.png</string>
            <key>size</key>
            <string>{62,544}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c22e99654bab951b275496a794434dee:1/1$</string>
            <key>textureFileName</key>
            <string>1049_3.png</string>
        </dict>
    </dict>
</plist>
