<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1050_4_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,350},{112,112}}</string>
                <key>offset</key>
                <string>{0,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,108},{112,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1050_4_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,234},{116,112}}</string>
                <key>offset</key>
                <string>{0,92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,108},{116,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1050_4_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,0},{116,112}}</string>
                <key>offset</key>
                <string>{0,91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,109},{116,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1050_4_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,120},{114,114}}</string>
                <key>offset</key>
                <string>{-1,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,107},{114,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1050_4_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,246},{118,124}}</string>
                <key>offset</key>
                <string>{-10,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,103},{118,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1050_4_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,246},{116,120}}</string>
                <key>offset</key>
                <string>{-8,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,105},{116,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1050_4_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{124,122}}</string>
                <key>offset</key>
                <string>{-11,91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,104},{124,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1050_4_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,124},{122,122}}</string>
                <key>offset</key>
                <string>{-11,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,103},{122,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1050_4_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,0},{114,120}}</string>
                <key>offset</key>
                <string>{-23,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,102},{114,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1050_4_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,120},{112,118}}</string>
                <key>offset</key>
                <string>{-23,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,102},{112,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1050_4_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,370},{118,120}}</string>
                <key>offset</key>
                <string>{-25,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,101},{118,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1050_4_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,366},{116,118}}</string>
                <key>offset</key>
                <string>{-23,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,102},{116,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1050_4_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,0},{102,118}}</string>
                <key>offset</key>
                <string>{-22,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,100},{102,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1050_4_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,118},{102,116}}</string>
                <key>offset</key>
                <string>{-21,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,100},{102,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1050_4_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,234},{106,116}}</string>
                <key>offset</key>
                <string>{-23,96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,102},{106,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1050_4_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,340},{104,116}}</string>
                <key>offset</key>
                <string>{-22,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,102},{104,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1050_4_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,340},{112,108}}</string>
                <key>offset</key>
                <string>{1,98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,104},{112,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1050_4_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,0},{106,110}}</string>
                <key>offset</key>
                <string>{-1,98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,103},{106,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1050_4_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,234},{106,106}}</string>
                <key>offset</key>
                <string>{2,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,106},{106,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1050_4_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,106},{108,106}}</string>
                <key>offset</key>
                <string>{3,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,106},{108,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1050_4.png</string>
            <key>size</key>
            <string>{568,490}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:830f43c9bd3e509e087879af0e75f448:1/1$</string>
            <key>textureFileName</key>
            <string>1050_4.png</string>
        </dict>
    </dict>
</plist>
