<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1050_1_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,124},{82,122}}</string>
                <key>offset</key>
                <string>{-1,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,152},{82,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1050_1_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,124},{82,122}}</string>
                <key>offset</key>
                <string>{-1,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,153},{82,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1050_1_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,124},{82,122}}</string>
                <key>offset</key>
                <string>{-1,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,153},{82,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1050_1_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,124},{82,122}}</string>
                <key>offset</key>
                <string>{-1,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,152},{82,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1050_1_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,0},{76,124}}</string>
                <key>offset</key>
                <string>{-15,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,148},{76,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1050_1_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,0},{72,124}}</string>
                <key>offset</key>
                <string>{-13,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,149},{72,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1050_1_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,0},{74,124}}</string>
                <key>offset</key>
                <string>{-14,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,149},{74,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1050_1_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,0},{76,124}}</string>
                <key>offset</key>
                <string>{-14,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,148},{76,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1050_1_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,124},{66,122}}</string>
                <key>offset</key>
                <string>{-15,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,143},{66,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1050_1_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,0},{64,122}}</string>
                <key>offset</key>
                <string>{-13,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,143},{64,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1050_1_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,124},{66,122}}</string>
                <key>offset</key>
                <string>{-15,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,143},{66,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1050_1_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,124},{68,122}}</string>
                <key>offset</key>
                <string>{-16,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,143},{68,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1050_1_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,0},{78,124}}</string>
                <key>offset</key>
                <string>{-11,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,139},{78,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1050_1_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,0},{76,124}}</string>
                <key>offset</key>
                <string>{-11,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,139},{76,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1050_1_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,0},{76,124}}</string>
                <key>offset</key>
                <string>{-12,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,139},{76,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1050_1_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{78,124}}</string>
                <key>offset</key>
                <string>{-12,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,139},{78,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1050_1_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,120},{82,120}}</string>
                <key>offset</key>
                <string>{2,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,143},{82,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1050_1_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,0},{82,120}}</string>
                <key>offset</key>
                <string>{2,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,143},{82,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1050_1_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,122},{82,120}}</string>
                <key>offset</key>
                <string>{1,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,143},{82,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1050_1_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,124},{82,122}}</string>
                <key>offset</key>
                <string>{2,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,141},{82,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1050_1.png</string>
            <key>size</key>
            <string>{778,246}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f21f74f133c49a9dcbf3ded72e7c80d9:1/1$</string>
            <key>textureFileName</key>
            <string>1050_1.png</string>
        </dict>
    </dict>
</plist>
