<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1050_2_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,120},{88,120}}</string>
                <key>offset</key>
                <string>{-6,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,157},{88,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1050_2_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,0},{120,118}}</string>
                <key>offset</key>
                <string>{-14,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,157},{120,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1050_2_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,244},{98,118}}</string>
                <key>offset</key>
                <string>{-7,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,155},{98,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1050_2_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,0},{124,122}}</string>
                <key>offset</key>
                <string>{-13,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,154},{124,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1050_2_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,122},{114,122}}</string>
                <key>offset</key>
                <string>{-17,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,155},{114,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1050_2_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,248},{94,122}}</string>
                <key>offset</key>
                <string>{-24,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,151},{94,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1050_2_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{94,134}}</string>
                <key>offset</key>
                <string>{0,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,141},{94,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1050_2_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,242},{100,120}}</string>
                <key>offset</key>
                <string>{0,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,154},{100,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1050_2_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,0},{114,122}}</string>
                <key>offset</key>
                <string>{-8,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,151},{114,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1050_2_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,124},{108,124}}</string>
                <key>offset</key>
                <string>{-6,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,150},{108,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1050_2_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,240},{102,114}}</string>
                <key>offset</key>
                <string>{-11,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,150},{102,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1050_2_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,0},{110,124}}</string>
                <key>offset</key>
                <string>{-2,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,145},{110,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1050_2_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,116},{106,112}}</string>
                <key>offset</key>
                <string>{-6,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,154},{106,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1050_2_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,0},{108,116}}</string>
                <key>offset</key>
                <string>{-14,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,149},{108,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1050_2_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,120},{110,120}}</string>
                <key>offset</key>
                <string>{-15,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,146},{110,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1050_2_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,0},{104,120}}</string>
                <key>offset</key>
                <string>{-2,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,145},{104,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1050_2_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,130},{128,98}}</string>
                <key>offset</key>
                <string>{11,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,167},{128,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1050_2_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,228},{112,104}}</string>
                <key>offset</key>
                <string>{1,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,161},{112,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1050_2_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,0},{122,114}}</string>
                <key>offset</key>
                <string>{2,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,151},{122,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1050_2_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,122},{120,120}}</string>
                <key>offset</key>
                <string>{-4,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,145},{120,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1050_2_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,0},{88,130}}</string>
                <key>offset</key>
                <string>{7,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,145},{88,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1050_2_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,248},{120,94}}</string>
                <key>offset</key>
                <string>{16,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,181},{120,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1050_2_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,240},{98,104}}</string>
                <key>offset</key>
                <string>{8,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,171},{98,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1050_2_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,124},{124,120}}</string>
                <key>offset</key>
                <string>{14,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,155},{124,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1050_2_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,134},{116,130}}</string>
                <key>offset</key>
                <string>{18,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,145},{116,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1050_2.png</string>
            <key>size</key>
            <string>{1018,342}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dad4c31717d5b5df348d96b263377b86:1/1$</string>
            <key>textureFileName</key>
            <string>1050_2.png</string>
        </dict>
    </dict>
</plist>
