<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1051_5_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,908},{102,102}}</string>
                <key>offset</key>
                <string>{1,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,106},{102,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1051_5_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,806},{102,102}}</string>
                <key>offset</key>
                <string>{-1,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,108},{102,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1051_5_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,706},{104,100}}</string>
                <key>offset</key>
                <string>{-2,95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,111},{104,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1051_5_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,706},{104,100}}</string>
                <key>offset</key>
                <string>{-1,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,111},{104,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1051_5_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,810},{98,104}}</string>
                <key>offset</key>
                <string>{-1,97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,107},{98,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1051_5_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{114,114}}</string>
                <key>offset</key>
                <string>{-5,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,103},{114,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1051_5_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,228},{110,110}}</string>
                <key>offset</key>
                <string>{-9,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,105},{110,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1051_5_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,878},{106,104}}</string>
                <key>offset</key>
                <string>{-9,95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,109},{106,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1051_5_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,398},{106,106}}</string>
                <key>offset</key>
                <string>{-5,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,108},{106,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1051_5_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,114},{112,114}}</string>
                <key>offset</key>
                <string>{-5,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,104},{112,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1051_5_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,0},{110,110}}</string>
                <key>offset</key>
                <string>{-9,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,103},{110,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1051_5_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,338},{108,110}}</string>
                <key>offset</key>
                <string>{-13,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,105},{108,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1051_5_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,770},{104,108}}</string>
                <key>offset</key>
                <string>{-14,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,108},{104,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1051_5_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,504},{102,106}}</string>
                <key>offset</key>
                <string>{-11,95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,108},{102,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1051_5_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,448},{110,108}}</string>
                <key>offset</key>
                <string>{-11,97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,105},{110,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1051_5_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,664},{106,106}}</string>
                <key>offset</key>
                <string>{-10,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,105},{106,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1051_5_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,558},{108,106}}</string>
                <key>offset</key>
                <string>{-8,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,107},{108,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1051_5_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,606},{106,100}}</string>
                <key>offset</key>
                <string>{-10,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,112},{106,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1051_5_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,908},{102,100}}</string>
                <key>offset</key>
                <string>{-7,95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,111},{102,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1051_5_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,296},{106,102}}</string>
                <key>offset</key>
                <string>{-8,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,108},{106,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1051_5_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,502},{100,96}}</string>
                <key>offset</key>
                <string>{0,99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,109},{100,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1051_5_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,400},{102,96}}</string>
                <key>offset</key>
                <string>{1,97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,111},{102,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1051_5_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,110},{108,94}}</string>
                <key>offset</key>
                <string>{2,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,115},{108,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1051_5_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,204},{108,92}}</string>
                <key>offset</key>
                <string>{0,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,116},{108,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1051_5_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,296},{104,94}}</string>
                <key>offset</key>
                <string>{0,98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,111},{104,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1051_5.png</string>
            <key>size</key>
            <string>{310,1010}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2e3785a37b6ad6a94663b7962e33887f:1/1$</string>
            <key>textureFileName</key>
            <string>1051_5.png</string>
        </dict>
    </dict>
</plist>
