<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1051_6_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,124},{78,112}}</string>
                <key>offset</key>
                <string>{-15,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,149},{78,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1051_6_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,122},{70,114}}</string>
                <key>offset</key>
                <string>{-12,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,147},{70,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1051_6_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,124},{74,112}}</string>
                <key>offset</key>
                <string>{-10,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,148},{74,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1051_6_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,0},{70,122}}</string>
                <key>offset</key>
                <string>{-9,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,139},{70,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1051_6_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,0},{70,110}}</string>
                <key>offset</key>
                <string>{-6,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,152},{70,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1051_6_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,0},{82,116}}</string>
                <key>offset</key>
                <string>{-15,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,145},{82,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1051_6_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,116},{76,116}}</string>
                <key>offset</key>
                <string>{-9,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,145},{76,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1051_6_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,0},{68,114}}</string>
                <key>offset</key>
                <string>{-1,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,147},{68,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1051_6_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,0},{66,120}}</string>
                <key>offset</key>
                <string>{-1,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,141},{66,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1051_6_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,122},{80,114}}</string>
                <key>offset</key>
                <string>{-7,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,147},{80,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1051_6_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,0},{80,116}}</string>
                <key>offset</key>
                <string>{-10,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,146},{80,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1051_6_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,116},{82,116}}</string>
                <key>offset</key>
                <string>{-4,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,146},{82,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1051_6_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,118},{86,116}}</string>
                <key>offset</key>
                <string>{0,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,146},{86,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1051_6_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,0},{82,116}}</string>
                <key>offset</key>
                <string>{5,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,146},{82,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1051_6_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,120},{90,116}}</string>
                <key>offset</key>
                <string>{2,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,146},{90,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1051_6_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,124},{76,112}}</string>
                <key>offset</key>
                <string>{8,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,151},{76,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1051_6_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,124},{74,112}}</string>
                <key>offset</key>
                <string>{8,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,151},{74,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1051_6_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,114},{72,112}}</string>
                <key>offset</key>
                <string>{4,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,150},{72,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1051_6_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,116},{80,116}}</string>
                <key>offset</key>
                <string>{9,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,147},{80,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1051_6_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,0},{78,118}}</string>
                <key>offset</key>
                <string>{4,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,145},{78,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1051_6_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{86,124}}</string>
                <key>offset</key>
                <string>{13,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,147},{86,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1051_6_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,0},{76,124}}</string>
                <key>offset</key>
                <string>{11,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,147},{76,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1051_6_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,0},{78,124}}</string>
                <key>offset</key>
                <string>{8,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,147},{78,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1051_6_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,0},{70,122}}</string>
                <key>offset</key>
                <string>{10,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,149},{70,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1051_6_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,0},{70,122}}</string>
                <key>offset</key>
                <string>{7,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,149},{70,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1051_6.png</string>
            <key>size</key>
            <string>{986,236}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ebb0c66fc14667cf1fa53becee67893:1/1$</string>
            <key>textureFileName</key>
            <string>1051_6.png</string>
        </dict>
    </dict>
</plist>
