<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1051_4_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,106},{104,102}}</string>
                <key>offset</key>
                <string>{1,97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,108},{104,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1051_4_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,110},{108,98}}</string>
                <key>offset</key>
                <string>{0,97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,110},{108,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1051_4_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,0},{106,98}}</string>
                <key>offset</key>
                <string>{1,97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,110},{106,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1051_4_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,106},{106,100}}</string>
                <key>offset</key>
                <string>{1,97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,109},{106,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1051_4_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,0},{104,110}}</string>
                <key>offset</key>
                <string>{-12,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,106},{104,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1051_4_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,118},{110,110}}</string>
                <key>offset</key>
                <string>{-14,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,106},{110,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1051_4_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,118},{108,110}}</string>
                <key>offset</key>
                <string>{-15,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,105},{108,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1051_4_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,116},{104,110}}</string>
                <key>offset</key>
                <string>{-12,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,105},{104,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1051_4_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,0},{102,118}}</string>
                <key>offset</key>
                <string>{-19,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,104},{102,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1051_4_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{108,118}}</string>
                <key>offset</key>
                <string>{-17,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,104},{108,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1051_4_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,0},{104,116}}</string>
                <key>offset</key>
                <string>{-21,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,105},{104,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1051_4_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,0},{104,118}}</string>
                <key>offset</key>
                <string>{-19,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,103},{104,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1051_4_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,0},{98,116}}</string>
                <key>offset</key>
                <string>{-16,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,105},{98,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1051_4_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,116},{98,116}}</string>
                <key>offset</key>
                <string>{-16,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,104},{98,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1051_4_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,118},{100,114}}</string>
                <key>offset</key>
                <string>{-16,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,105},{100,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1051_4_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,118},{98,114}}</string>
                <key>offset</key>
                <string>{-16,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,106},{98,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1051_4_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,0},{100,106}}</string>
                <key>offset</key>
                <string>{3,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,107},{100,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1051_4_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,0},{100,104}}</string>
                <key>offset</key>
                <string>{-1,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,109},{100,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1051_4_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,0},{102,102}}</string>
                <key>offset</key>
                <string>{1,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,110},{102,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1051_4_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,102},{96,104}}</string>
                <key>offset</key>
                <string>{1,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,108},{96,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1051_4.png</string>
            <key>size</key>
            <string>{1020,232}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6e2936452681a48e250deea6c18162b0:1/1$</string>
            <key>textureFileName</key>
            <string>1051_4.png</string>
        </dict>
    </dict>
</plist>
