<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1052_1_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,190},{104,136}}</string>
                <key>offset</key>
                <string>{-1,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,146},{104,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1052_1_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,110},{106,136}}</string>
                <key>offset</key>
                <string>{-1,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,147},{106,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1052_1_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,0},{106,134}}</string>
                <key>offset</key>
                <string>{-1,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,147},{106,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1052_1_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,0},{106,136}}</string>
                <key>offset</key>
                <string>{-1,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,146},{106,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1052_1_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{106,146}}</string>
                <key>offset</key>
                <string>{-19,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,142},{106,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1052_1_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,0},{108,142}}</string>
                <key>offset</key>
                <string>{-18,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,144},{108,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1052_1_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,138},{106,142}}</string>
                <key>offset</key>
                <string>{-20,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,143},{106,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1052_1_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,146},{106,144}}</string>
                <key>offset</key>
                <string>{-20,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,144},{106,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1052_1_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,108},{82,138}}</string>
                <key>offset</key>
                <string>{-18,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,136},{82,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1052_1_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,108},{88,134}}</string>
                <key>offset</key>
                <string>{-20,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,137},{88,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1052_1_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,216},{86,132}}</string>
                <key>offset</key>
                <string>{-20,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,138},{86,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1052_1_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,216},{84,136}}</string>
                <key>offset</key>
                <string>{-19,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,138},{84,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1052_1_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,0},{110,138}}</string>
                <key>offset</key>
                <string>{-18,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,130},{110,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1052_1_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,0},{114,138}}</string>
                <key>offset</key>
                <string>{-20,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,131},{114,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1052_1_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,0},{110,136}}</string>
                <key>offset</key>
                <string>{-20,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,132},{110,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1052_1_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,0},{108,136}}</string>
                <key>offset</key>
                <string>{-18,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,132},{108,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1052_1_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,134},{104,132}}</string>
                <key>offset</key>
                <string>{3,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,131},{104,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1052_1_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,106},{104,132}}</string>
                <key>offset</key>
                <string>{2,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,131},{104,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1052_1_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,196},{104,132}}</string>
                <key>offset</key>
                <string>{2,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,131},{104,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1052_1_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,110},{106,132}}</string>
                <key>offset</key>
                <string>{3,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,131},{106,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1052_1.png</string>
            <key>size</key>
            <string>{1015,302}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:be11d9390854dd50551c74be5f3b6441:1/1$</string>
            <key>textureFileName</key>
            <string>1052_1.png</string>
        </dict>
    </dict>
</plist>
