<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1052_5_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,268},{100,122}}</string>
                <key>offset</key>
                <string>{3,106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,89},{100,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1052_5_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,0},{102,124}}</string>
                <key>offset</key>
                <string>{2,102}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,92},{102,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1052_5_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,0},{106,124}}</string>
                <key>offset</key>
                <string>{1,99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,95},{106,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1052_5_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,128},{110,120}}</string>
                <key>offset</key>
                <string>{1,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,95},{110,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1052_5_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,102},{106,120}}</string>
                <key>offset</key>
                <string>{2,104}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,92},{106,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1052_5_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,0},{134,130}}</string>
                <key>offset</key>
                <string>{-20,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,90},{134,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1052_5_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,134},{134,134}}</string>
                <key>offset</key>
                <string>{-19,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,90},{134,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1052_5_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{138,134}}</string>
                <key>offset</key>
                <string>{-21,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,94},{138,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1052_5_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,0},{136,126}}</string>
                <key>offset</key>
                <string>{-21,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,96},{136,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1052_5_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,0},{136,128}}</string>
                <key>offset</key>
                <string>{-20,100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,92},{136,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1052_5_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,130},{110,120}}</string>
                <key>offset</key>
                <string>{-28,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,99},{110,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1052_5_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,134},{110,120}}</string>
                <key>offset</key>
                <string>{-29,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,100},{110,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1052_5_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,0},{112,120}}</string>
                <key>offset</key>
                <string>{-31,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,103},{112,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1052_5_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,250},{110,118}}</string>
                <key>offset</key>
                <string>{-29,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,104},{110,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1052_5_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,106},{110,120}}</string>
                <key>offset</key>
                <string>{-28,95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,101},{110,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1052_5_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,248},{104,118}}</string>
                <key>offset</key>
                <string>{-21,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,100},{104,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1052_5_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,248},{104,120}}</string>
                <key>offset</key>
                <string>{-21,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,100},{104,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1052_5_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,126},{104,118}}</string>
                <key>offset</key>
                <string>{-21,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,102},{104,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1052_5_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,268},{100,116}}</string>
                <key>offset</key>
                <string>{-19,95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,103},{100,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1052_5_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,108},{106,118}}</string>
                <key>offset</key>
                <string>{-22,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,101},{106,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1052_5_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,0},{102,108}}</string>
                <key>offset</key>
                <string>{-2,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,96},{102,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1052_5_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,208},{104,110}}</string>
                <key>offset</key>
                <string>{-1,104}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,97},{104,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1052_5_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,244},{106,106}}</string>
                <key>offset</key>
                <string>{1,103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,100},{106,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1052_5_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,226},{110,106}}</string>
                <key>offset</key>
                <string>{0,103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,100},{110,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1052_5_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,216},{104,106}}</string>
                <key>offset</key>
                <string>{-1,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,98},{104,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1052_5.png</string>
            <key>size</key>
            <string>{1006,368}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:882edfdb10453a4e741479290a5cf2a3:1/1$</string>
            <key>textureFileName</key>
            <string>1052_5.png</string>
        </dict>
    </dict>
</plist>
