<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1053_1_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,120},{70,116}}</string>
                <key>offset</key>
                <string>{-5,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,152},{70,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1053_1_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,120},{70,116}}</string>
                <key>offset</key>
                <string>{-5,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,151},{70,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1053_1_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,120},{70,118}}</string>
                <key>offset</key>
                <string>{-4,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,151},{70,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1053_1_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,122},{70,118}}</string>
                <key>offset</key>
                <string>{-5,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,151},{70,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1053_1_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,0},{86,120}}</string>
                <key>offset</key>
                <string>{-22,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,147},{86,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1053_1_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,0},{82,122}}</string>
                <key>offset</key>
                <string>{-20,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,145},{82,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1053_1_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,0},{84,122}}</string>
                <key>offset</key>
                <string>{-21,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,146},{84,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1053_1_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,0},{86,120}}</string>
                <key>offset</key>
                <string>{-22,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,147},{86,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1053_1_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,0},{84,120}}</string>
                <key>offset</key>
                <string>{-22,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,140},{84,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1053_1_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,0},{84,120}}</string>
                <key>offset</key>
                <string>{-21,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,140},{84,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1053_1_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,0},{86,120}}</string>
                <key>offset</key>
                <string>{-21,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,140},{86,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1053_1_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,0},{86,120}}</string>
                <key>offset</key>
                <string>{-22,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,140},{86,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1053_1_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,0},{86,124}}</string>
                <key>offset</key>
                <string>{-22,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,138},{86,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1053_1_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,0},{86,124}}</string>
                <key>offset</key>
                <string>{-22,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,138},{86,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1053_1_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{88,124}}</string>
                <key>offset</key>
                <string>{-22,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,138},{88,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1053_1_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,0},{86,124}}</string>
                <key>offset</key>
                <string>{-22,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,138},{86,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1053_1_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,122},{70,122}}</string>
                <key>offset</key>
                <string>{6,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,140},{70,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1053_1_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,124},{70,122}}</string>
                <key>offset</key>
                <string>{6,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,140},{70,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1053_1_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,124},{70,122}}</string>
                <key>offset</key>
                <string>{6,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,140},{70,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1053_1_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,124},{70,122}}</string>
                <key>offset</key>
                <string>{7,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,140},{70,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1053_1.png</string>
            <key>size</key>
            <string>{1024,194}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1b0ddbee1dae605f012a7e6283445994:1/1$</string>
            <key>textureFileName</key>
            <string>1053_1.png</string>
        </dict>
    </dict>
</plist>
