<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1053_4_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,0},{78,114}}</string>
                <key>offset</key>
                <string>{0,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,104},{78,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1053_4_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,114},{78,114}}</string>
                <key>offset</key>
                <string>{0,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,105},{78,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1053_4_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,0},{78,114}}</string>
                <key>offset</key>
                <string>{0,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,103},{78,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1053_4_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,114},{78,114}}</string>
                <key>offset</key>
                <string>{0,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,104},{78,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1053_4_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,0},{114,122}}</string>
                <key>offset</key>
                <string>{-20,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,100},{114,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1053_4_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,126},{112,124}}</string>
                <key>offset</key>
                <string>{-20,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,100},{112,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1053_4_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,122},{114,122}}</string>
                <key>offset</key>
                <string>{-21,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,99},{114,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1053_4_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,0},{116,122}}</string>
                <key>offset</key>
                <string>{-21,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,100},{116,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1053_4_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{96,128}}</string>
                <key>offset</key>
                <string>{-27,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,96},{96,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1053_4_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,0},{94,126}}</string>
                <key>offset</key>
                <string>{-26,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,97},{94,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1053_4_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,0},{96,124}}</string>
                <key>offset</key>
                <string>{-28,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,98},{96,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1053_4_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,128},{96,126}}</string>
                <key>offset</key>
                <string>{-28,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,97},{96,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1053_4_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,0},{92,124}}</string>
                <key>offset</key>
                <string>{-24,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,98},{92,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1053_4_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,124},{92,124}}</string>
                <key>offset</key>
                <string>{-23,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,98},{92,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1053_4_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,122},{90,122}}</string>
                <key>offset</key>
                <string>{-24,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,99},{90,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1053_4_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,124},{90,124}}</string>
                <key>offset</key>
                <string>{-24,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,98},{90,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1053_4_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,0},{78,114}}</string>
                <key>offset</key>
                <string>{2,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,101},{78,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1053_4_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,122},{78,114}}</string>
                <key>offset</key>
                <string>{1,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,101},{78,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1053_4_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,112},{78,110}}</string>
                <key>offset</key>
                <string>{1,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,103},{78,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1053_4_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,0},{78,112}}</string>
                <key>offset</key>
                <string>{1,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,102},{78,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1053_4.png</string>
            <key>size</key>
            <string>{920,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:58b86bc56e296a07b5d3f00f8eb61fbd:1/1$</string>
            <key>textureFileName</key>
            <string>1053_4.png</string>
        </dict>
    </dict>
</plist>
