<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1053_5_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,120},{80,112}}</string>
                <key>offset</key>
                <string>{0,100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,100},{80,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1053_5_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,246},{78,112}}</string>
                <key>offset</key>
                <string>{1,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,101},{78,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1053_5_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,106},{84,108}}</string>
                <key>offset</key>
                <string>{2,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,104},{84,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1053_5_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,0},{86,106}}</string>
                <key>offset</key>
                <string>{3,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,104},{86,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1053_5_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,416},{84,110}}</string>
                <key>offset</key>
                <string>{1,99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,102},{84,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1053_5_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{124,120}}</string>
                <key>offset</key>
                <string>{-15,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,98},{124,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1053_5_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,0},{126,118}}</string>
                <key>offset</key>
                <string>{-17,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,99},{126,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1053_5_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,246},{126,114}}</string>
                <key>offset</key>
                <string>{-18,96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,103},{126,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1053_5_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,0},{128,112}}</string>
                <key>offset</key>
                <string>{-16,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,102},{128,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1053_5_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,120},{126,118}}</string>
                <key>offset</key>
                <string>{-14,97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,100},{126,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1053_5_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,0},{104,118}}</string>
                <key>offset</key>
                <string>{-22,100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,97},{104,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1053_5_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,372},{104,118}}</string>
                <key>offset</key>
                <string>{-23,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,99},{104,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1053_5_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,104},{106,114}}</string>
                <key>offset</key>
                <string>{-25,95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,104},{106,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1053_5_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,232},{106,112}}</string>
                <key>offset</key>
                <string>{-23,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,104},{106,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1053_5_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,372},{106,114}}</string>
                <key>offset</key>
                <string>{-22,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,101},{106,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1053_5_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,112},{94,114}}</string>
                <key>offset</key>
                <string>{-21,99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,100},{94,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1053_5_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,306},{94,110}}</string>
                <key>offset</key>
                <string>{-22,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,104},{94,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1053_5_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,214},{96,108}}</string>
                <key>offset</key>
                <string>{-23,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,108},{96,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1053_5_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,210},{96,108}}</string>
                <key>offset</key>
                <string>{-22,93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,109},{96,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1053_5_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,344},{94,110}}</string>
                <key>offset</key>
                <string>{-21,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,105},{94,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1053_5_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,322},{78,100}}</string>
                <key>offset</key>
                <string>{1,100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,106},{78,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1053_5_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,206},{78,100}}</string>
                <key>offset</key>
                <string>{1,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,108},{78,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1053_5_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,400},{84,98}}</string>
                <key>offset</key>
                <string>{0,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,112},{84,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1053_5_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,306},{86,94}}</string>
                <key>offset</key>
                <string>{-1,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,114},{86,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1053_5_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,400},{84,98}}</string>
                <key>offset</key>
                <string>{1,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,109},{84,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1053_5.png</string>
            <key>size</key>
            <string>{585,503}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8333f73319b029ebaedee093c159d211:1/1$</string>
            <key>textureFileName</key>
            <string>1053_5.png</string>
        </dict>
    </dict>
</plist>
