<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1054_3_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,0},{70,118}}</string>
                <key>offset</key>
                <string>{-2,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,148},{70,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1054_3_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{78,122}}</string>
                <key>offset</key>
                <string>{-3,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,148},{78,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1054_3_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,0},{68,118}}</string>
                <key>offset</key>
                <string>{-8,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,149},{68,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1054_3_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,0},{68,108}}</string>
                <key>offset</key>
                <string>{-3,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,151},{68,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1054_3_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,0},{68,114}}</string>
                <key>offset</key>
                <string>{2,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,154},{68,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1054_3.png</string>
            <key>size</key>
            <string>{352,122}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2e58c56d5e0ac12954650513454bfbf3:1/1$</string>
            <key>textureFileName</key>
            <string>1054_3.png</string>
        </dict>
    </dict>
</plist>
