<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1054_0_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,104},{66,108}}</string>
                <key>offset</key>
                <string>{2,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,152},{66,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1054_0_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,124},{66,126}}</string>
                <key>offset</key>
                <string>{0,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,149},{66,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1054_0_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,100},{66,110}}</string>
                <key>offset</key>
                <string>{0,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,150},{66,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1054_0_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,110},{62,126}}</string>
                <key>offset</key>
                <string>{2,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,149},{62,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1054_0_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,0},{58,114}}</string>
                <key>offset</key>
                <string>{1,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,150},{58,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1054_0_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,108},{90,102}}</string>
                <key>offset</key>
                <string>{-13,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,151},{90,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1054_0_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{92,124}}</string>
                <key>offset</key>
                <string>{-9,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,148},{92,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1054_0_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,92},{90,104}}</string>
                <key>offset</key>
                <string>{-11,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,149},{90,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1054_0_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,124},{84,120}}</string>
                <key>offset</key>
                <string>{3,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,148},{84,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1054_0_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,0},{92,104}}</string>
                <key>offset</key>
                <string>{-9,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,150},{92,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1054_0_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,0},{102,104}}</string>
                <key>offset</key>
                <string>{-14,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,157},{102,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1054_0_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,0},{102,110}}</string>
                <key>offset</key>
                <string>{-14,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,151},{102,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1054_0_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,0},{104,102}}</string>
                <key>offset</key>
                <string>{-11,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,149},{104,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1054_0_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,170},{82,102}}</string>
                <key>offset</key>
                <string>{-5,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,155},{82,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1054_0_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,0},{102,100}}</string>
                <key>offset</key>
                <string>{-15,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,152},{102,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1054_0_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,0},{104,106}}</string>
                <key>offset</key>
                <string>{-9,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,164},{104,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1054_0_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,106},{98,92}}</string>
                <key>offset</key>
                <string>{-13,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,160},{98,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1054_0_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,0},{100,104}}</string>
                <key>offset</key>
                <string>{-15,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,162},{100,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1054_0_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,102},{94,94}}</string>
                <key>offset</key>
                <string>{-7,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,161},{94,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1054_0_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,0},{104,108}}</string>
                <key>offset</key>
                <string>{-8,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,163},{104,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1054_0_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,166},{60,106}}</string>
                <key>offset</key>
                <string>{1,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,167},{60,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1054_0_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,164},{66,90}}</string>
                <key>offset</key>
                <string>{1,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,166},{66,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1054_0_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,182},{64,106}}</string>
                <key>offset</key>
                <string>{2,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,167},{64,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1054_0_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,100},{64,96}}</string>
                <key>offset</key>
                <string>{-1,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,164},{64,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1054_0_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,114},{58,108}}</string>
                <key>offset</key>
                <string>{1,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,166},{58,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1054_0.png</string>
            <key>size</key>
            <string>{976,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a37f9f026bc1b6a363451a904e400657:1/1$</string>
            <key>textureFileName</key>
            <string>1054_0.png</string>
        </dict>
    </dict>
</plist>
