<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1057_2_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,164},{80,120}}</string>
                <key>offset</key>
                <string>{-7,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,152},{80,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1057_2_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,78},{82,112}}</string>
                <key>offset</key>
                <string>{-2,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,159},{82,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1057_2_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,86},{82,116}}</string>
                <key>offset</key>
                <string>{2,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,155},{82,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1057_2_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,86},{78,120}}</string>
                <key>offset</key>
                <string>{-2,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,151},{78,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1057_2_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,0},{80,120}}</string>
                <key>offset</key>
                <string>{0,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,152},{80,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1057_2_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,0},{86,126}}</string>
                <key>offset</key>
                <string>{-17,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,146},{86,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1057_2_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,80},{90,112}}</string>
                <key>offset</key>
                <string>{-6,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,159},{90,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1057_2_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,0},{92,120}}</string>
                <key>offset</key>
                <string>{-6,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,151},{92,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1057_2_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,112},{100,118}}</string>
                <key>offset</key>
                <string>{-12,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,153},{100,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1057_2_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,0},{86,122}}</string>
                <key>offset</key>
                <string>{-10,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,150},{86,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1057_2_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{112,120}}</string>
                <key>offset</key>
                <string>{-15,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,145},{112,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1057_2_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,182},{100,104}}</string>
                <key>offset</key>
                <string>{-3,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,160},{100,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1057_2_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,120},{114,112}}</string>
                <key>offset</key>
                <string>{-11,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,152},{114,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1057_2_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,160},{102,110}}</string>
                <key>offset</key>
                <string>{-10,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,154},{102,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1057_2_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,0},{110,112}}</string>
                <key>offset</key>
                <string>{-14,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,152},{110,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1057_2_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,168},{88,116}}</string>
                <key>offset</key>
                <string>{-3,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,149},{88,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1057_2_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,190},{94,96}}</string>
                <key>offset</key>
                <string>{1,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,169},{94,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1057_2_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,80},{110,102}}</string>
                <key>offset</key>
                <string>{-13,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,163},{110,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1057_2_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,92},{98,100}}</string>
                <key>offset</key>
                <string>{-8,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,165},{98,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1057_2_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,170},{96,110}}</string>
                <key>offset</key>
                <string>{-5,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,155},{96,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1057_2_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,0},{78,130}}</string>
                <key>offset</key>
                <string>{7,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,146},{78,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1057_2_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,198},{82,104}}</string>
                <key>offset</key>
                <string>{3,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,172},{82,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1057_2_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,168},{80,116}}</string>
                <key>offset</key>
                <string>{-1,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,160},{80,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1057_2_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,92},{78,106}}</string>
                <key>offset</key>
                <string>{3,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,170},{78,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1057_2_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,0},{80,120}}</string>
                <key>offset</key>
                <string>{1,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,156},{80,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1057_2.png</string>
            <key>size</key>
            <string>{982,284}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e353fcca77f0213bcab41a3d77b11ee0:1/1$</string>
            <key>textureFileName</key>
            <string>1057_2.png</string>
        </dict>
    </dict>
</plist>
