<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1057_5_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,86},{90,94}}</string>
                <key>offset</key>
                <string>{4,98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,111},{90,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1057_5_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,0},{90,96}}</string>
                <key>offset</key>
                <string>{5,96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,112},{90,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1057_5_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,92},{96,96}}</string>
                <key>offset</key>
                <string>{4,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,115},{96,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1057_5_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,90},{96,94}}</string>
                <key>offset</key>
                <string>{4,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,115},{96,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1057_5_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,90},{92,94}}</string>
                <key>offset</key>
                <string>{4,97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,112},{92,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1057_5_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,386},{118,106}}</string>
                <key>offset</key>
                <string>{-16,100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,103},{118,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1057_5_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,280},{118,106}}</string>
                <key>offset</key>
                <string>{-16,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,105},{118,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1057_5_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,292},{120,106}}</string>
                <key>offset</key>
                <string>{-16,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,107},{120,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1057_5_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,284},{120,106}}</string>
                <key>offset</key>
                <string>{-16,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,107},{120,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1057_5_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,280},{118,106}}</string>
                <key>offset</key>
                <string>{-16,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,104},{118,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1057_5_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,386},{106,112}}</string>
                <key>offset</key>
                <string>{-28,99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,101},{106,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1057_5_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,188},{104,112}}</string>
                <key>offset</key>
                <string>{-28,97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,103},{104,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1057_5_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,398},{106,110}}</string>
                <key>offset</key>
                <string>{-29,95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,106},{106,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1057_5_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,398},{106,108}}</string>
                <key>offset</key>
                <string>{-29,96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,106},{106,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1057_5_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,390},{106,110}}</string>
                <key>offset</key>
                <string>{-28,98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,103},{106,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1057_5_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,90},{94,104}}</string>
                <key>offset</key>
                <string>{-10,98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,106},{94,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1057_5_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,182},{96,104}}</string>
                <key>offset</key>
                <string>{-11,96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,108},{96,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1057_5_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,188},{96,100}}</string>
                <key>offset</key>
                <string>{-10,94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,112},{96,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1057_5_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,184},{98,96}}</string>
                <key>offset</key>
                <string>{-11,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,114},{98,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1057_5_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,184},{96,100}}</string>
                <key>offset</key>
                <string>{-10,96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,110},{96,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1057_5_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,0},{90,92}}</string>
                <key>offset</key>
                <string>{-3,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,112},{90,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1057_5_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,0},{90,94}}</string>
                <key>offset</key>
                <string>{-3,97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,112},{90,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1057_5_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,0},{94,90}}</string>
                <key>offset</key>
                <string>{-3,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,118},{94,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1057_5_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{96,86}}</string>
                <key>offset</key>
                <string>{-3,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,119},{96,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1057_5_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,0},{92,90}}</string>
                <key>offset</key>
                <string>{-3,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,114},{92,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1057_5.png</string>
            <key>size</key>
            <string>{562,504}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:54487649937b1bd69f12d26a8fcd8b9f:1/1$</string>
            <key>textureFileName</key>
            <string>1057_5.png</string>
        </dict>
    </dict>
</plist>
