<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1057_4_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,112},{82,94}}</string>
                <key>offset</key>
                <string>{0,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,112},{82,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1057_4_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,112},{82,94}}</string>
                <key>offset</key>
                <string>{0,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,113},{82,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1057_4_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,112},{82,94}}</string>
                <key>offset</key>
                <string>{-1,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,113},{82,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1057_4_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,82},{84,92}}</string>
                <key>offset</key>
                <string>{-1,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,114},{84,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1057_4_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,0},{108,112}}</string>
                <key>offset</key>
                <string>{-17,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,104},{108,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1057_4_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{110,112}}</string>
                <key>offset</key>
                <string>{-18,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,104},{110,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1057_4_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,0},{110,110}}</string>
                <key>offset</key>
                <string>{-18,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,105},{110,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1057_4_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,0},{110,110}}</string>
                <key>offset</key>
                <string>{-17,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,105},{110,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1057_4_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,110},{96,122}}</string>
                <key>offset</key>
                <string>{-28,95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,100},{96,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1057_4_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,110},{96,122}}</string>
                <key>offset</key>
                <string>{-29,95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,100},{96,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1057_4_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,0},{98,120}}</string>
                <key>offset</key>
                <string>{-30,95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,101},{98,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1057_4_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,0},{96,120}}</string>
                <key>offset</key>
                <string>{-29,95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,101},{96,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1057_4_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,0},{88,118}}</string>
                <key>offset</key>
                <string>{-11,94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,103},{88,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1057_4_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,88},{90,116}}</string>
                <key>offset</key>
                <string>{-12,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,104},{90,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1057_4_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,92},{90,114}}</string>
                <key>offset</key>
                <string>{-11,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,105},{90,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1057_4_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,0},{92,116}}</string>
                <key>offset</key>
                <string>{-13,94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,104},{92,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1057_4_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,0},{82,106}}</string>
                <key>offset</key>
                <string>{2,96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,107},{82,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1057_4_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,92},{82,104}}</string>
                <key>offset</key>
                <string>{2,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,109},{82,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1057_4_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,98},{82,104}}</string>
                <key>offset</key>
                <string>{2,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,108},{82,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1057_4_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,96},{84,104}}</string>
                <key>offset</key>
                <string>{2,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,108},{84,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1057_4.png</string>
            <key>size</key>
            <string>{1024,206}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:07b72c0ab516de874128ff62331f9f53:1/1$</string>
            <key>textureFileName</key>
            <string>1057_4.png</string>
        </dict>
    </dict>
</plist>
