<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1059_2_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,0},{86,118}}</string>
                <key>offset</key>
                <string>{-8,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,155},{86,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1059_2_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,0},{84,128}}</string>
                <key>offset</key>
                <string>{0,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,144},{84,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1059_2_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,170},{90,132}}</string>
                <key>offset</key>
                <string>{4,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,140},{90,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1059_2_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{80,132}}</string>
                <key>offset</key>
                <string>{-3,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,140},{80,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1059_2_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,80},{86,130}}</string>
                <key>offset</key>
                <string>{-2,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,143},{86,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1059_2_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,80},{88,122}}</string>
                <key>offset</key>
                <string>{-15,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,151},{88,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1059_2_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,256},{98,130}}</string>
                <key>offset</key>
                <string>{-9,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,142},{98,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1059_2_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,358},{102,132}}</string>
                <key>offset</key>
                <string>{-10,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,140},{102,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1059_2_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,362},{108,134}}</string>
                <key>offset</key>
                <string>{-14,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,138},{108,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1059_2_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,168},{88,134}}</string>
                <key>offset</key>
                <string>{-10,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,139},{88,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1059_2_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,378},{116,122}}</string>
                <key>offset</key>
                <string>{-16,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,144},{116,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1059_2_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,172},{96,116}}</string>
                <key>offset</key>
                <string>{-6,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,149},{96,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1059_2_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,362},{112,122}}</string>
                <key>offset</key>
                <string>{-14,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,145},{112,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1059_2_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,260},{102,124}}</string>
                <key>offset</key>
                <string>{-9,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,141},{102,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1059_2_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,398},{114,124}}</string>
                <key>offset</key>
                <string>{-15,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,142},{114,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1059_2_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,260},{98,126}}</string>
                <key>offset</key>
                <string>{-3,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,140},{98,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1059_2_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,86},{92,104}}</string>
                <key>offset</key>
                <string>{-1,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,162},{92,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1059_2_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,178},{116,110}}</string>
                <key>offset</key>
                <string>{-12,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,156},{116,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1059_2_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,268},{110,118}}</string>
                <key>offset</key>
                <string>{-7,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,148},{110,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1059_2_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,288},{110,120}}</string>
                <key>offset</key>
                <string>{-6,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,146},{110,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1059_2_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,84},{86,138}}</string>
                <key>offset</key>
                <string>{10,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,139},{86,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1059_2_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,0},{82,104}}</string>
                <key>offset</key>
                <string>{1,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,173},{82,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1059_2_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,170},{90,120}}</string>
                <key>offset</key>
                <string>{-3,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,157},{90,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1059_2_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,0},{80,122}}</string>
                <key>offset</key>
                <string>{5,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,155},{80,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1059_2_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,86},{86,128}}</string>
                <key>offset</key>
                <string>{3,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,149},{86,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1059_2.png</string>
            <key>size</key>
            <string>{622,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:74216acfe4ed2d05a944384429a19708:1/1$</string>
            <key>textureFileName</key>
            <string>1059_2.png</string>
        </dict>
    </dict>
</plist>
