<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1059_5_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{86,108}}</string>
                <key>offset</key>
                <string>{3,104}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,98},{86,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1059_5_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,0},{88,110}}</string>
                <key>offset</key>
                <string>{4,102}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,99},{88,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1059_5_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,88},{94,110}}</string>
                <key>offset</key>
                <string>{3,99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,102},{94,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1059_5_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,88},{94,110}}</string>
                <key>offset</key>
                <string>{4,101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,100},{94,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1059_5_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,88},{90,110}}</string>
                <key>offset</key>
                <string>{3,104}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,97},{90,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1059_5_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,378},{118,116}}</string>
                <key>offset</key>
                <string>{-16,103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,95},{118,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1059_5_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,380},{120,116}}</string>
                <key>offset</key>
                <string>{-17,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,97},{120,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1059_5_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,380},{120,116}}</string>
                <key>offset</key>
                <string>{-15,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,100},{120,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1059_5_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,386},{120,120}}</string>
                <key>offset</key>
                <string>{-15,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,97},{120,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1059_5_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,384},{122,116}}</string>
                <key>offset</key>
                <string>{-17,102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,96},{122,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1059_5_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,280},{100,124}}</string>
                <key>offset</key>
                <string>{-24,103}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,91},{100,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1059_5_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,182},{98,122}}</string>
                <key>offset</key>
                <string>{-23,100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,95},{98,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1059_5_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,278},{100,120}}</string>
                <key>offset</key>
                <string>{-25,98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,98},{100,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1059_5_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,282},{102,122}}</string>
                <key>offset</key>
                <string>{-25,98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,97},{102,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1059_5_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,284},{102,120}}</string>
                <key>offset</key>
                <string>{-25,101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,95},{102,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1059_5_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,182},{98,122}}</string>
                <key>offset</key>
                <string>{-10,105}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,90},{98,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1059_5_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,182},{96,122}}</string>
                <key>offset</key>
                <string>{-9,103}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,92},{96,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1059_5_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,184},{100,116}}</string>
                <key>offset</key>
                <string>{-10,100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,98},{100,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1059_5_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,280},{100,114}}</string>
                <key>offset</key>
                <string>{-10,101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,98},{100,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1059_5_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,184},{98,116}}</string>
                <key>offset</key>
                <string>{-9,103}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,95},{98,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1059_5_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,0},{88,114}}</string>
                <key>offset</key>
                <string>{-2,107}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,92},{88,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1059_5_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,0},{88,114}}</string>
                <key>offset</key>
                <string>{-2,105}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,94},{88,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1059_5_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,88},{94,112}}</string>
                <key>offset</key>
                <string>{-3,102}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,98},{94,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1059_5_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,90},{94,106}}</string>
                <key>offset</key>
                <string>{-2,103}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,100},{94,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1059_5_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,0},{90,110}}</string>
                <key>offset</key>
                <string>{-2,106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,95},{90,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1059_5.png</string>
            <key>size</key>
            <string>{600,506}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6cc2655118c9cf470361330e7ceac2d3:1/1$</string>
            <key>textureFileName</key>
            <string>1059_5.png</string>
        </dict>
    </dict>
</plist>
