<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2002_10_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{58,120}}</string>
                <key>offset</key>
                <string>{-1,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,143},{58,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>2002_10_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,360},{56,120}}</string>
                <key>offset</key>
                <string>{-1,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,143},{56,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>2002_10_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,240},{56,120}}</string>
                <key>offset</key>
                <string>{-2,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,143},{56,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>2002_10_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,120},{56,120}}</string>
                <key>offset</key>
                <string>{-1,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,143},{56,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>2002_10.png</string>
            <key>size</key>
            <string>{58,480}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ace69d4333ab7f4a9b12bb8a9abc13fa:1/1$</string>
            <key>textureFileName</key>
            <string>2002_10.png</string>
        </dict>
    </dict>
</plist>
