<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2007_10_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{108,122}}</string>
                <key>offset</key>
                <string>{11,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,142},{108,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>2007_10_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,0},{108,120}}</string>
                <key>offset</key>
                <string>{11,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,144},{108,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>2007_10_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,0},{110,120}}</string>
                <key>offset</key>
                <string>{10,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,144},{110,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>2007_10_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,0},{108,120}}</string>
                <key>offset</key>
                <string>{11,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,144},{108,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>2007_10.png</string>
            <key>size</key>
            <string>{434,122}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f7c24087020c7b72c0e62b12e45f1274:1/1$</string>
            <key>textureFileName</key>
            <string>2007_10.png</string>
        </dict>
    </dict>
</plist>
