<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2010_10_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{46,104}}</string>
                <key>offset</key>
                <string>{-2,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,156},{46,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>2010_10_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,312},{44,104}}</string>
                <key>offset</key>
                <string>{-3,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,156},{44,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>2010_10_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,208},{44,104}}</string>
                <key>offset</key>
                <string>{-3,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,156},{44,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>2010_10_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,104},{44,104}}</string>
                <key>offset</key>
                <string>{-2,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,156},{44,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>2010_10.png</string>
            <key>size</key>
            <string>{46,416}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:392d1755f03e651177a07aea8a739866:1/1$</string>
            <key>textureFileName</key>
            <string>2010_10.png</string>
        </dict>
    </dict>
</plist>
