<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2012_10_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,0},{108,116}}</string>
                <key>offset</key>
                <string>{-15,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,147},{108,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>2012_10_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,0},{114,114}}</string>
                <key>offset</key>
                <string>{-18,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,149},{114,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>2012_10_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,0},{104,116}}</string>
                <key>offset</key>
                <string>{-13,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,147},{104,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>2012_10_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{108,116}}</string>
                <key>offset</key>
                <string>{-15,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,147},{108,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>2012_10.png</string>
            <key>size</key>
            <string>{434,116}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aacd91c31c87b41bcecc2db5b1794071:1/1$</string>
            <key>textureFileName</key>
            <string>2012_10.png</string>
        </dict>
    </dict>
</plist>
