<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2015_10_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,0},{78,116}}</string>
                <key>offset</key>
                <string>{8,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,144},{78,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>2015_10_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,0},{78,116}}</string>
                <key>offset</key>
                <string>{6,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,144},{78,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>2015_10_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{80,118}}</string>
                <key>offset</key>
                <string>{7,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,142},{80,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>2015_10_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,0},{78,116}}</string>
                <key>offset</key>
                <string>{7,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,144},{78,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>2015_10.png</string>
            <key>size</key>
            <string>{314,118}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:88c0025ebcb06b1fcd960de79d60320c:1/1$</string>
            <key>textureFileName</key>
            <string>2015_10.png</string>
        </dict>
    </dict>
</plist>
