<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2031_10_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,0},{98,128}}</string>
                <key>offset</key>
                <string>{-15,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,138},{98,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>2031_10_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,0},{98,128}}</string>
                <key>offset</key>
                <string>{-15,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,138},{98,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>2031_10_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,0},{98,128}}</string>
                <key>offset</key>
                <string>{-16,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,138},{98,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>2031_10_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{98,128}}</string>
                <key>offset</key>
                <string>{-15,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,138},{98,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>2031_10.png</string>
            <key>size</key>
            <string>{392,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e83ebc2f85eed0b53009d64da1df4d24:1/1$</string>
            <key>textureFileName</key>
            <string>2031_10.png</string>
        </dict>
    </dict>
</plist>
