<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4000_0_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{6,400},{6,32}}</string>
                <key>offset</key>
                <string>{26,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{279,182},{6,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4000_0_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,256},{6,50}}</string>
                <key>offset</key>
                <string>{24,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{277,166},{6,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4000_0_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{12,302},{6,58}}</string>
                <key>offset</key>
                <string>{23,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{276,158},{6,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4000_0_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,282},{6,52}}</string>
                <key>offset</key>
                <string>{26,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{279,162},{6,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4000_0_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,306},{6,38}}</string>
                <key>offset</key>
                <string>{26,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{279,176},{6,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4000_0_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,86},{58,22}}</string>
                <key>offset</key>
                <string>{34,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{261,199},{58,22}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4000_0_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{14,224},{58,38}}</string>
                <key>offset</key>
                <string>{39,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{266,184},{58,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4000_0_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{56,48}}</string>
                <key>offset</key>
                <string>{41,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{269,174},{56,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4000_0_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,86},{58,40}}</string>
                <key>offset</key>
                <string>{37,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{264,181},{58,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4000_0_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{18,282},{58,28}}</string>
                <key>offset</key>
                <string>{34,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{261,192},{58,28}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4000_0_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{20,144},{80,12}}</string>
                <key>offset</key>
                <string>{23,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,215},{80,12}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4000_0_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,302},{80,12}}</string>
                <key>offset</key>
                <string>{31,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{247,211},{80,12}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4000_0_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,144},{78,20}}</string>
                <key>offset</key>
                <string>{35,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{252,202},{78,20}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4000_0_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,222},{80,14}}</string>
                <key>offset</key>
                <string>{26,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,206},{80,14}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4000_0_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,0},{82,8}}</string>
                <key>offset</key>
                <string>{22,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,213},{82,8}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4000_0_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,48},{56,38}}</string>
                <key>offset</key>
                <string>{-2,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,205},{56,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4000_0_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{18,340},{56,22}}</string>
                <key>offset</key>
                <string>{6,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,213},{56,22}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4000_0_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,202},{54,12}}</string>
                <key>offset</key>
                <string>{9,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,216},{54,12}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4000_0_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,348},{56,20}}</string>
                <key>offset</key>
                <string>{0,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,207},{56,20}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4000_0_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,144},{58,32}}</string>
                <key>offset</key>
                <string>{-2,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,205},{58,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4000_0_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,256},{6,48}}</string>
                <key>offset</key>
                <string>{-24,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,195},{6,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4000_0_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{12,360},{6,34}}</string>
                <key>offset</key>
                <string>{-22,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,203},{6,34}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4000_0_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{6,382},{6,18}}</string>
                <key>offset</key>
                <string>{-21,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,212},{6,18}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4000_0_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,382},{6,24}}</string>
                <key>offset</key>
                <string>{-25,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,203},{6,24}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4000_0_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,304},{6,44}}</string>
                <key>offset</key>
                <string>{-24,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,193},{6,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4000_0.png</string>
            <key>size</key>
            <string>{64,406}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7d1c354d0fe8bcf70546f049c9f25578:1/1$</string>
            <key>textureFileName</key>
            <string>4000_0.png</string>
        </dict>
    </dict>
</plist>
