<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4000_1_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,840},{62,26}}</string>
                <key>offset</key>
                <string>{39,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{264,200},{62,26}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4000_1_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,840},{62,26}}</string>
                <key>offset</key>
                <string>{39,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{264,200},{62,26}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4000_1_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,778},{60,26}}</string>
                <key>offset</key>
                <string>{39,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{265,200},{60,26}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4000_1_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,778},{62,28}}</string>
                <key>offset</key>
                <string>{39,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{264,199},{62,28}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4000_1_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,446},{66,48}}</string>
                <key>offset</key>
                <string>{32,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{255,203},{66,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4000_1_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,312},{68,48}}</string>
                <key>offset</key>
                <string>{31,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{253,202},{68,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4000_1_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,380},{66,48}}</string>
                <key>offset</key>
                <string>{32,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{255,203},{66,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4000_1_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,246},{66,50}}</string>
                <key>offset</key>
                <string>{32,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{255,202},{66,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4000_1_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,644},{34,66}}</string>
                <key>offset</key>
                <string>{6,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,201},{34,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4000_1_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,578},{34,66}}</string>
                <key>offset</key>
                <string>{6,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,201},{34,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4000_1_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,512},{36,66}}</string>
                <key>offset</key>
                <string>{6,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,201},{36,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4000_1_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,710},{32,68}}</string>
                <key>offset</key>
                <string>{6,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,200},{32,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4000_1_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,576},{20,64}}</string>
                <key>offset</key>
                <string>{-23,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,201},{20,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4000_1_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,640},{20,62}}</string>
                <key>offset</key>
                <string>{-23,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,203},{20,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4000_1_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,702},{18,54}}</string>
                <key>offset</key>
                <string>{-24,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,211},{18,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4000_1_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,512},{20,64}}</string>
                <key>offset</key>
                <string>{-23,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,202},{20,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4000_1_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,184},{62,54}}</string>
                <key>offset</key>
                <string>{-38,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,191},{62,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4000_1_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,122},{62,54}}</string>
                <key>offset</key>
                <string>{-37,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,192},{62,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4000_1_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{60,56}}</string>
                <key>offset</key>
                <string>{-37,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,190},{60,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4000_1_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,60},{62,54}}</string>
                <key>offset</key>
                <string>{-38,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,192},{62,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4000_1.png</string>
            <key>size</key>
            <string>{56,902}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6264d8588ef8d79580584e8b2f2ad8dc:1/1$</string>
            <key>textureFileName</key>
            <string>4000_1.png</string>
        </dict>
    </dict>
</plist>
