<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4000_8_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,176},{62,36}}</string>
                <key>offset</key>
                <string>{-8,84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,154},{62,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4000_8_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,108},{68,46}}</string>
                <key>offset</key>
                <string>{3,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,139},{68,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4000_8_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,244},{64,10}}</string>
                <key>offset</key>
                <string>{47,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{271,212},{64,10}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4000_8_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,254},{48,12}}</string>
                <key>offset</key>
                <string>{-6,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,179},{48,12}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4000_8_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,78},{72,30}}</string>
                <key>offset</key>
                <string>{34,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,181},{72,30}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4000_8_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,266},{12,48}}</string>
                <key>offset</key>
                <string>{-21,90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,142},{12,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4000_8_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,212},{32,64}}</string>
                <key>offset</key>
                <string>{39,86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{279,138},{32,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4000_8_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,44},{76,34}}</string>
                <key>offset</key>
                <string>{38,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{256,216},{76,34}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4000_8_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,254},{18,18}}</string>
                <key>offset</key>
                <string>{-21,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,171},{18,18}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4000_8_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,272},{48,10}}</string>
                <key>offset</key>
                <string>{-1,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,198},{48,10}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4000_8_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,268},{54,40}}</string>
                <key>offset</key>
                <string>{-19,98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,138},{54,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4000_8_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,176},{30,66}}</string>
                <key>offset</key>
                <string>{53,68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{294,155},{30,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4000_8_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{10,268},{44,54}}</string>
                <key>offset</key>
                <string>{8,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,215},{44,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4000_8_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,268},{62,10}}</string>
                <key>offset</key>
                <string>{-22,86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,165},{62,10}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4000_8_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{10,322},{12,8}}</string>
                <key>offset</key>
                <string>{-35,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,190},{12,8}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4000_8_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{80,14}}</string>
                <key>offset</key>
                <string>{-8,103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,146},{80,14}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4000_8_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,0},{66,48}}</string>
                <key>offset</key>
                <string>{36,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{259,181},{66,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4000_8_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,144},{20,58}}</string>
                <key>offset</key>
                <string>{-27,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,209},{20,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4000_8_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,14},{78,30}}</string>
                <key>offset</key>
                <string>{-11,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,149},{78,30}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4000_8_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,164},{58,12}}</string>
                <key>offset</key>
                <string>{-48,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,172},{58,12}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4000_8_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,250},{62,18}}</string>
                <key>offset</key>
                <string>{9,103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,144},{62,18}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4000_8_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,154},{68,22}}</string>
                <key>offset</key>
                <string>{-1,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,201},{68,22}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4000_8_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,206},{64,44}}</string>
                <key>offset</key>
                <string>{-45,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,201},{64,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4000_8_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,66},{48,50}}</string>
                <key>offset</key>
                <string>{7,92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,139},{48,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4000_8_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,114},{60,30}}</string>
                <key>offset</key>
                <string>{-38,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,145},{60,30}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4000_8.png</string>
            <key>size</key>
            <string>{128,330}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eb053871d8246e4d034a9497a2d2d432:1/1$</string>
            <key>textureFileName</key>
            <string>4000_8.png</string>
        </dict>
    </dict>
</plist>
