<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4001_2_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,0},{44,80}}</string>
                <key>offset</key>
                <string>{6,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,200},{44,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4001_2_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,100},{2,2}}</string>
                <key>offset</key>
                <string>{-20,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,175},{2,2}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4001_2_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,100},{2,2}}</string>
                <key>offset</key>
                <string>{-18,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,176},{2,2}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4001_2_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,0},{22,94}}</string>
                <key>offset</key>
                <string>{17,119}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,90},{22,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4001_2_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,86},{18,70}}</string>
                <key>offset</key>
                <string>{12,121}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{259,100},{18,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4001_2_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,0},{84,58}}</string>
                <key>offset</key>
                <string>{-50,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,202},{84,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4001_2_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,50},{46,22}}</string>
                <key>offset</key>
                <string>{43,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{276,204},{46,22}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4001_2_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,0},{50,22}}</string>
                <key>offset</key>
                <string>{44,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{275,195},{50,22}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4001_2_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{12,0},{16,98}}</string>
                <key>offset</key>
                <string>{26,111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{274,96},{16,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4001_2_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,0},{30,84}}</string>
                <key>offset</key>
                <string>{7,115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,99},{30,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4001_2_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,78},{76,26}}</string>
                <key>offset</key>
                <string>{-77,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,193},{76,26}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4001_2_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,0},{88,30}}</string>
                <key>offset</key>
                <string>{68,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{280,220},{88,30}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4001_2_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,0},{88,38}}</string>
                <key>offset</key>
                <string>{59,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{271,209},{88,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4001_2_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,0},{26,94}}</string>
                <key>offset</key>
                <string>{18,102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{261,107},{26,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4001_2_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,0},{28,94}}</string>
                <key>offset</key>
                <string>{-2,114}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,95},{28,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4001_2_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,74},{24,20}}</string>
                <key>offset</key>
                <string>{-58,78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,168},{24,20}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4001_2_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,0},{46,78}}</string>
                <key>offset</key>
                <string>{47,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{280,233},{46,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4001_2_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,0},{74,68}}</string>
                <key>offset</key>
                <string>{40,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{259,214},{74,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4001_2_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,0},{28,86}}</string>
                <key>offset</key>
                <string>{3,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,115},{28,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4001_2_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{12,100}}</string>
                <key>offset</key>
                <string>{-11,118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,88},{12,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4001_2_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{12,98},{6,24}}</string>
                <key>offset</key>
                <string>{-19,92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,152},{6,24}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4001_2_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,0},{22,78}}</string>
                <key>offset</key>
                <string>{10,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,234},{22,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4001_2_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,88},{16,84}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{247,214},{16,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4001_2_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,84},{20,78}}</string>
                <key>offset</key>
                <string>{-16,101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,116},{20,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4001_2_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,0},{20,96}}</string>
                <key>offset</key>
                <string>{-12,123}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,85},{20,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4001_2.png</string>
            <key>size</key>
            <string>{511,104}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4006aaa4c07f372d39bf584187c6a43c:1/1$</string>
            <key>textureFileName</key>
            <string>4001_2.png</string>
        </dict>
    </dict>
</plist>
