<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4001_8_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,0},{74,44}}</string>
                <key>offset</key>
                <string>{-3,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,154},{74,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4001_8_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{84,56}}</string>
                <key>offset</key>
                <string>{-4,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,130},{84,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4001_8_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,136},{82,14}}</string>
                <key>offset</key>
                <string>{53,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{268,210},{82,14}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4001_8_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,116},{54,16}}</string>
                <key>offset</key>
                <string>{-2,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,177},{54,16}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4001_8_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,224},{90,32}}</string>
                <key>offset</key>
                <string>{42,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,178},{90,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4001_8_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,94},{22,60}}</string>
                <key>offset</key>
                <string>{-20,85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,141},{22,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4001_8_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,188},{36,78}}</string>
                <key>offset</key>
                <string>{37,92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{275,125},{36,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4001_8_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,0},{94,42}}</string>
                <key>offset</key>
                <string>{45,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,216},{94,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4001_8_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,206},{20,24}}</string>
                <key>offset</key>
                <string>{-22,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,168},{20,24}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4001_8_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,244},{56,12}}</string>
                <key>offset</key>
                <string>{3,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,197},{56,12}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4001_8_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,152},{70,48}}</string>
                <key>offset</key>
                <string>{-26,94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,138},{70,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4001_8_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,150},{38,78}}</string>
                <key>offset</key>
                <string>{56,74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{293,143},{38,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4001_8_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,44},{50,68}}</string>
                <key>offset</key>
                <string>{11,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,214},{50,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4001_8_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,150},{80,22}}</string>
                <key>offset</key>
                <string>{-29,85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,160},{80,22}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4001_8_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,248},{24,8}}</string>
                <key>offset</key>
                <string>{-34,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,191},{24,8}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4001_8_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,42},{102,20}}</string>
                <key>offset</key>
                <string>{-16,104}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,142},{102,20}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4001_8_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,56},{86,54}}</string>
                <key>offset</key>
                <string>{43,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{256,175},{86,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4001_8_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,132},{28,74}}</string>
                <key>offset</key>
                <string>{-27,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,207},{28,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4001_8_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,56},{96,38}}</string>
                <key>offset</key>
                <string>{-19,95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,142},{96,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4001_8_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,230},{74,14}}</string>
                <key>offset</key>
                <string>{-54,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,171},{74,14}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4001_8_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,132},{74,22}}</string>
                <key>offset</key>
                <string>{3,104}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,141},{74,22}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4001_8_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,224},{84,24}}</string>
                <key>offset</key>
                <string>{5,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,199},{84,24}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4001_8_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,142},{82,54}}</string>
                <key>offset</key>
                <string>{-52,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,201},{82,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4001_8_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,42},{54,66}}</string>
                <key>offset</key>
                <string>{4,98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,125},{54,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4001_8_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,96},{80,40}}</string>
                <key>offset</key>
                <string>{-45,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,137},{80,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4001_8.png</string>
            <key>size</key>
            <string>{253,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9df1685d948638b320694efda3e5f420:1/1$</string>
            <key>textureFileName</key>
            <string>4001_8.png</string>
        </dict>
    </dict>
</plist>
