<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4002_0_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,30},{6,48}}</string>
                <key>offset</key>
                <string>{27,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{280,167},{6,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4002_0_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,24},{6,68}}</string>
                <key>offset</key>
                <string>{24,74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{277,148},{6,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4002_0_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,58},{6,80}}</string>
                <key>offset</key>
                <string>{23,80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{276,136},{6,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4002_0_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,54},{6,72}}</string>
                <key>offset</key>
                <string>{26,77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{279,143},{6,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4002_0_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,36},{6,54}}</string>
                <key>offset</key>
                <string>{26,69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{279,160},{6,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4002_0_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,0},{78,34}}</string>
                <key>offset</key>
                <string>{42,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,188},{78,34}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4002_0_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,0},{76,54}}</string>
                <key>offset</key>
                <string>{47,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{265,169},{76,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4002_0_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{74,64}}</string>
                <key>offset</key>
                <string>{48,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{267,158},{74,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4002_0_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,0},{76,58}}</string>
                <key>offset</key>
                <string>{45,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,163},{76,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4002_0_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,24},{78,40}}</string>
                <key>offset</key>
                <string>{42,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,180},{78,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4002_0_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,46},{108,16}}</string>
                <key>offset</key>
                <string>{34,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,215},{108,16}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4002_0_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,44},{106,20}}</string>
                <key>offset</key>
                <string>{43,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,204},{106,20}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4002_0_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,0},{102,32}}</string>
                <key>offset</key>
                <string>{46,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,191},{102,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4002_0_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,0},{106,24}}</string>
                <key>offset</key>
                <string>{37,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,197},{106,24}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4002_0_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,32},{108,12}}</string>
                <key>offset</key>
                <string>{34,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,212},{108,12}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4002_0_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,0},{76,46}}</string>
                <key>offset</key>
                <string>{7,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,205},{76,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4002_0_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,34},{74,28}}</string>
                <key>offset</key>
                <string>{14,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,212},{74,28}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4002_0_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,42},{72,16}}</string>
                <key>offset</key>
                <string>{16,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,215},{72,16}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4002_0_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,0},{74,24}}</string>
                <key>offset</key>
                <string>{8,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,208},{74,24}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4002_0_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,0},{76,40}}</string>
                <key>offset</key>
                <string>{7,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,203},{76,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4002_0_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,30},{6,58}}</string>
                <key>offset</key>
                <string>{-24,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,195},{6,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4002_0_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,24},{6,40}}</string>
                <key>offset</key>
                <string>{-22,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,204},{6,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4002_0_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,58},{6,24}}</string>
                <key>offset</key>
                <string>{-21,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,211},{6,24}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4002_0_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,58},{6,34}}</string>
                <key>offset</key>
                <string>{-25,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,199},{6,34}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4002_0_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,36},{6,54}}</string>
                <key>offset</key>
                <string>{-24,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,192},{6,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4002_0.png</string>
            <key>size</key>
            <string>{750,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d050a0c690fcc833e5d86d49b57a85f8:1/1$</string>
            <key>textureFileName</key>
            <string>4002_0.png</string>
        </dict>
    </dict>
</plist>
