<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4002_0_0_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,304},{6,48}}</string>
                <key>offset</key>
                <string>{20,70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{273,162},{6,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4002_0_0_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,380},{8,68}}</string>
                <key>offset</key>
                <string>{21,74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{273,148},{8,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4002_0_0_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,276},{6,80}}</string>
                <key>offset</key>
                <string>{23,84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{276,132},{6,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4002_0_0_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,78},{6,72}}</string>
                <key>offset</key>
                <string>{24,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{277,140},{6,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4002_0_0_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,328},{6,56}}</string>
                <key>offset</key>
                <string>{22,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{275,154},{6,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4002_0_0_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,228},{76,34}}</string>
                <key>offset</key>
                <string>{38,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{256,181},{76,34}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4002_0_0_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,78},{76,54}}</string>
                <key>offset</key>
                <string>{40,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{258,167},{76,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4002_0_0_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{72,66}}</string>
                <key>offset</key>
                <string>{47,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{267,153},{72,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4002_0_0_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,154},{74,58}}</string>
                <key>offset</key>
                <string>{48,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{267,161},{74,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4002_0_0_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,252},{76,42}}</string>
                <key>offset</key>
                <string>{41,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{259,173},{76,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4002_0_0_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,66},{108,16}}</string>
                <key>offset</key>
                <string>{34,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,206},{108,16}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4002_0_0_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,276},{106,22}}</string>
                <key>offset</key>
                <string>{38,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,200},{106,22}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4002_0_0_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,66},{104,30}}</string>
                <key>offset</key>
                <string>{45,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{249,190},{104,30}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4002_0_0_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,170},{106,24}}</string>
                <key>offset</key>
                <string>{46,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{249,197},{106,24}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4002_0_0_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,66},{108,16}}</string>
                <key>offset</key>
                <string>{39,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,203},{108,16}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4002_0_0_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,0},{78,46}}</string>
                <key>offset</key>
                <string>{11,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,198},{78,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4002_0_0_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,328},{76,28}}</string>
                <key>offset</key>
                <string>{12,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,206},{76,28}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4002_0_0_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,228},{74,16}}</string>
                <key>offset</key>
                <string>{15,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,211},{74,16}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4002_0_0_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,356},{76,24}}</string>
                <key>offset</key>
                <string>{14,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,209},{76,24}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4002_0_0_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,174},{78,40}}</string>
                <key>offset</key>
                <string>{13,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,200},{78,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4002_0_0_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,316},{6,58}}</string>
                <key>offset</key>
                <string>{-19,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,190},{6,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4002_0_0_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,316},{6,40}}</string>
                <key>offset</key>
                <string>{-20,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,197},{6,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4002_0_0_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,356},{6,28}}</string>
                <key>offset</key>
                <string>{-22,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,202},{6,28}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4002_0_0_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,322},{6,36}}</string>
                <key>offset</key>
                <string>{-23,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,201},{6,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4002_0_0_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,310},{6,52}}</string>
                <key>offset</key>
                <string>{-20,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,192},{6,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4002_0_0.png</string>
            <key>size</key>
            <string>{123,389}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:356ada005e3436b0a30a57a0e981bea7:1/1$</string>
            <key>textureFileName</key>
            <string>4002_0_0.png</string>
        </dict>
    </dict>
</plist>
