<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4002_0_8_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,356},{82,48}}</string>
                <key>offset</key>
                <string>{4,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,159},{82,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4002_0_8_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,182},{96,52}}</string>
                <key>offset</key>
                <string>{-9,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,136},{96,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4002_0_8_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,404},{82,12}}</string>
                <key>offset</key>
                <string>{52,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{267,214},{82,12}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4002_0_8_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,32},{64,22}}</string>
                <key>offset</key>
                <string>{5,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,184},{64,22}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4002_0_8_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,142},{98,40}}</string>
                <key>offset</key>
                <string>{44,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,171},{98,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4002_0_8_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,436},{16,66}}</string>
                <key>offset</key>
                <string>{-19,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,147},{16,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4002_0_8_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,416},{48,80}}</string>
                <key>offset</key>
                <string>{31,90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{263,126},{48,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4002_0_8_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,56},{98,44}}</string>
                <key>offset</key>
                <string>{48,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,215},{98,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4002_0_8_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,0},{20,32}}</string>
                <key>offset</key>
                <string>{-19,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,176},{20,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4002_0_8_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,438},{68,12}}</string>
                <key>offset</key>
                <string>{12,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,197},{68,12}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4002_0_8_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,508},{70,54}}</string>
                <key>offset</key>
                <string>{-27,85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,144},{70,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4002_0_8_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,272},{36,82}}</string>
                <key>offset</key>
                <string>{54,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{292,141},{36,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4002_0_8_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,464},{60,72}}</string>
                <key>offset</key>
                <string>{15,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,214},{60,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4002_0_8_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,354},{84,18}}</string>
                <key>offset</key>
                <string>{-30,76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,171},{84,18}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4002_0_8_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,234},{16,10}}</string>
                <key>offset</key>
                <string>{-31,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,194},{16,10}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4002_0_8_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{106,22}}</string>
                <key>offset</key>
                <string>{-22,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,150},{106,22}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4002_0_8_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,234},{88,60}}</string>
                <key>offset</key>
                <string>{44,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{256,171},{88,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4002_0_8_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,96},{28,80}}</string>
                <key>offset</key>
                <string>{-28,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,208},{28,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4002_0_8_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,22},{104,34}}</string>
                <key>offset</key>
                <string>{-25,86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,153},{104,34}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4002_0_8_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,436},{72,12}}</string>
                <key>offset</key>
                <string>{-50,73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,177},{72,12}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4002_0_8_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,354},{82,24}}</string>
                <key>offset</key>
                <string>{-3,100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,144},{82,24}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4002_0_8_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,176},{96,26}}</string>
                <key>offset</key>
                <string>{10,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,199},{96,26}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4002_0_8_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,294},{84,62}}</string>
                <key>offset</key>
                <string>{-51,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,201},{84,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4002_0_8_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,524},{64,62}}</string>
                <key>offset</key>
                <string>{-4,90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,135},{64,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4002_0_8_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,100},{98,42}}</string>
                <key>offset</key>
                <string>{-44,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,144},{98,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4002_0_8.png</string>
            <key>size</key>
            <string>{126,592}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:72e87158b48e541f49fcdb9dbba97ead:1/1$</string>
            <key>textureFileName</key>
            <string>4002_0_8.png</string>
        </dict>
    </dict>
</plist>
