<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4003_7_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,68},{28,122}}</string>
                <key>offset</key>
                <string>{32,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{274,130},{28,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4003_7_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,48},{48,98}}</string>
                <key>offset</key>
                <string>{6,128}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,79},{48,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4003_7_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,0},{62,96}}</string>
                <key>offset</key>
                <string>{-7,131}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,77},{62,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4003_7_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,68},{28,120}}</string>
                <key>offset</key>
                <string>{27,106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{269,90},{28,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4003_7_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,0},{110,50}}</string>
                <key>offset</key>
                <string>{38,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,177},{110,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4003_7_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,0},{54,110}}</string>
                <key>offset</key>
                <string>{18,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{247,145},{54,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4003_7_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,42},{36,114}}</string>
                <key>offset</key>
                <string>{-6,128}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,71},{36,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4003_7_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,0},{42,114}}</string>
                <key>offset</key>
                <string>{-14,135}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,64},{42,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4003_7_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,70},{24,116}}</string>
                <key>offset</key>
                <string>{13,98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{257,100},{24,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4003_7_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,0},{112,30}}</string>
                <key>offset</key>
                <string>{16,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,200},{112,30}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4003_7_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,0},{64,86}}</string>
                <key>offset</key>
                <string>{-4,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,160},{64,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4003_7_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,86},{10,120}}</string>
                <key>offset</key>
                <string>{-16,132}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,64},{10,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4003_7_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,60},{8,122}}</string>
                <key>offset</key>
                <string>{-15,141}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,54},{8,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4003_7_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,0},{36,106}}</string>
                <key>offset</key>
                <string>{-11,98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,105},{36,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4003_7_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,0},{48,42}}</string>
                <key>offset</key>
                <string>{-14,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,195},{48,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4003_7_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,0},{44,68}}</string>
                <key>offset</key>
                <string>{-22,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,163},{44,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4003_7_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,36},{34,116}}</string>
                <key>offset</key>
                <string>{-14,139}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,59},{34,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4003_7_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,48},{44,114}}</string>
                <key>offset</key>
                <string>{-4,144}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,55},{44,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4003_7_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,0},{38,94}}</string>
                <key>offset</key>
                <string>{-25,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,103},{38,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4003_7_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,50},{46,40}}</string>
                <key>offset</key>
                <string>{-36,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,185},{46,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4003_7_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,0},{28,60}}</string>
                <key>offset</key>
                <string>{-31,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,157},{28,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4003_7_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,0},{48,104}}</string>
                <key>offset</key>
                <string>{-5,144}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,60},{48,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4003_7_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{62,96}}</string>
                <key>offset</key>
                <string>{8,144}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,64},{62,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4003_7_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,0},{28,86}}</string>
                <key>offset</key>
                <string>{-26,117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,96},{28,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4003_7_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,54},{110,14}}</string>
                <key>offset</key>
                <string>{-36,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,184},{110,14}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4003_7.png</string>
            <key>size</key>
            <string>{1024,97}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d83ff7192b2e48d4fa1150ce20367c34:1/1$</string>
            <key>textureFileName</key>
            <string>4003_7.png</string>
        </dict>
    </dict>
</plist>
