<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4003_0_1_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,464},{86,48}}</string>
                <key>offset</key>
                <string>{36,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{249,198},{86,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4003_0_1_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,882},{86,46}}</string>
                <key>offset</key>
                <string>{36,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,199},{86,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4003_0_1_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,378},{86,48}}</string>
                <key>offset</key>
                <string>{35,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{248,198},{86,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4003_0_1_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,834},{88,48}}</string>
                <key>offset</key>
                <string>{35,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,199},{88,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4003_0_1_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,462},{96,76}}</string>
                <key>offset</key>
                <string>{27,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,195},{96,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4003_0_1_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,364},{98,74}}</string>
                <key>offset</key>
                <string>{27,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,195},{98,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4003_0_1_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,268},{96,76}}</string>
                <key>offset</key>
                <string>{27,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,194},{96,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4003_0_1_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,172},{96,76}}</string>
                <key>offset</key>
                <string>{26,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,195},{96,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4003_0_1_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,274},{50,104}}</string>
                <key>offset</key>
                <string>{2,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,186},{50,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4003_0_1_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,172},{52,102}}</string>
                <key>offset</key>
                <string>{3,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,187},{52,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4003_0_1_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,730},{50,104}}</string>
                <key>offset</key>
                <string>{3,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,186},{50,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4003_0_1_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,730},{48,104}}</string>
                <key>offset</key>
                <string>{2,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,187},{48,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4003_0_1_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,764},{28,106}}</string>
                <key>offset</key>
                <string>{-24,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,182},{28,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4003_0_1_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,658},{26,106}}</string>
                <key>offset</key>
                <string>{-23,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,181},{26,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4003_0_1_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,550},{26,108}}</string>
                <key>offset</key>
                <string>{-22,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,180},{26,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4003_0_1_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,0},{28,106}}</string>
                <key>offset</key>
                <string>{-24,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,182},{28,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4003_0_1_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,86},{88,86}}</string>
                <key>offset</key>
                <string>{-35,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,180},{88,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4003_0_1_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,644},{86,86}}</string>
                <key>offset</key>
                <string>{-34,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,179},{86,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4003_0_1_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,558},{86,86}}</string>
                <key>offset</key>
                <string>{-34,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,180},{86,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4003_0_1_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{88,86}}</string>
                <key>offset</key>
                <string>{-35,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,179},{88,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4003_0_1.png</string>
            <key>size</key>
            <string>{128,928}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:359adcab509d5d96948b7f8622f8cd10:1/1$</string>
            <key>textureFileName</key>
            <string>4003_0_1.png</string>
        </dict>
    </dict>
</plist>
