<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4003_0_6_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,26},{106,64}}</string>
                <key>offset</key>
                <string>{26,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,199},{106,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4003_0_6_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,90},{100,72}}</string>
                <key>offset</key>
                <string>{20,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,196},{100,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4003_0_6_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,222},{98,74}}</string>
                <key>offset</key>
                <string>{20,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,195},{98,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4003_0_6_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,394},{66,34}}</string>
                <key>offset</key>
                <string>{34,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{257,201},{66,34}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4003_0_6_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,460},{68,26}}</string>
                <key>offset</key>
                <string>{36,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{258,196},{68,26}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4003_0_6_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,194},{52,90}}</string>
                <key>offset</key>
                <string>{-2,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,190},{52,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4003_0_6_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,390},{40,96}}</string>
                <key>offset</key>
                <string>{-7,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,187},{40,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4003_0_6_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,94},{46,100}}</string>
                <key>offset</key>
                <string>{-7,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,185},{46,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4003_0_6_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,162},{100,60}}</string>
                <key>offset</key>
                <string>{27,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,199},{100,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4003_0_6_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{110,46}}</string>
                <key>offset</key>
                <string>{33,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,201},{110,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4003_0_6_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,0},{34,94}}</string>
                <key>offset</key>
                <string>{-28,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,182},{34,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4003_0_6_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,284},{46,88}}</string>
                <key>offset</key>
                <string>{-31,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,187},{46,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4003_0_6_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,212},{42,100}}</string>
                <key>offset</key>
                <string>{-30,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,177},{42,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4003_0_6_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,430},{76,94}}</string>
                <key>offset</key>
                <string>{5,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,188},{76,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4003_0_6_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,430},{90,76}}</string>
                <key>offset</key>
                <string>{11,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,193},{90,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4003_0_6_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,144},{100,68}}</string>
                <key>offset</key>
                <string>{-37,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,182},{100,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4003_0_6_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,78},{102,66}}</string>
                <key>offset</key>
                <string>{-35,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,181},{102,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4003_0_6_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,254},{98,72}}</string>
                <key>offset</key>
                <string>{-34,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,179},{98,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4003_0_6_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,0},{26,108}}</string>
                <key>offset</key>
                <string>{-18,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,178},{26,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4003_0_6_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,364},{26,98}}</string>
                <key>offset</key>
                <string>{-15,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,180},{26,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4003_0_6_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,46},{106,32}}</string>
                <key>offset</key>
                <string>{-25,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,189},{106,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4003_0_6_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,362},{98,32}}</string>
                <key>offset</key>
                <string>{-19,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,188},{98,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4003_0_6_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,326},{98,38}}</string>
                <key>offset</key>
                <string>{-18,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,185},{98,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4003_0_6_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,296},{66,98}}</string>
                <key>offset</key>
                <string>{-33,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,172},{66,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4003_0_6_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,394},{66,86}}</string>
                <key>offset</key>
                <string>{-35,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,177},{66,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4003_0_6.png</string>
            <key>size</key>
            <string>{252,524}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b61f58de27dfe6b37a454c7550e2cfb6:1/1$</string>
            <key>textureFileName</key>
            <string>4003_0_6.png</string>
        </dict>
    </dict>
</plist>
