<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4003_0_3_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,104},{12,30}}</string>
                <key>offset</key>
                <string>{25,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{275,190},{12,30}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4003_0_3_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,60},{82,34}}</string>
                <key>offset</key>
                <string>{31,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{246,201},{82,34}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4003_0_3_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{106,60}}</string>
                <key>offset</key>
                <string>{20,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,196},{106,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4003_0_3_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,60},{70,92}}</string>
                <key>offset</key>
                <string>{-2,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,182},{70,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4003_0_3_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,0},{12,104}}</string>
                <key>offset</key>
                <string>{-24,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,171},{12,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4003_0_3.png</string>
            <key>size</key>
            <string>{118,152}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7411b23e94a1185da7ad302ecbf9dd1b:1/1$</string>
            <key>textureFileName</key>
            <string>4003_0_3.png</string>
        </dict>
    </dict>
</plist>
