<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4004_7_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,80},{30,78}}</string>
                <key>offset</key>
                <string>{23,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{264,160},{30,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_7_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,58},{48,58}}</string>
                <key>offset</key>
                <string>{0,120}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,107},{48,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_7_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,0},{56,54}}</string>
                <key>offset</key>
                <string>{-12,122}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,107},{56,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_7_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{18,0},{34,76}}</string>
                <key>offset</key>
                <string>{22,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{261,120},{34,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_7_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,0},{64,50}}</string>
                <key>offset</key>
                <string>{28,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{252,171},{64,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_7_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,0},{28,76}}</string>
                <key>offset</key>
                <string>{11,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,166},{28,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_7_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,0},{34,72}}</string>
                <key>offset</key>
                <string>{-9,121}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,99},{34,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_7_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,72},{38,70}}</string>
                <key>offset</key>
                <string>{-17,127}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,94},{38,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_7_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{12,80}}</string>
                <key>offset</key>
                <string>{9,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,123},{12,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_7_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,76},{72,34}}</string>
                <key>offset</key>
                <string>{9,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,191},{72,34}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_7_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,0},{42,66}}</string>
                <key>offset</key>
                <string>{-7,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,170},{42,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_7_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{12,0},{6,78}}</string>
                <key>offset</key>
                <string>{-14,126}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,91},{6,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_7_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,0},{8,76}}</string>
                <key>offset</key>
                <string>{-13,132}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,86},{8,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_7_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,0},{30,74}}</string>
                <key>offset</key>
                <string>{-9,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,125},{30,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_7_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,56},{42,18}}</string>
                <key>offset</key>
                <string>{-12,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,201},{42,18}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_7_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,64},{44,48}}</string>
                <key>offset</key>
                <string>{-17,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,175},{44,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_7_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,0},{38,72}}</string>
                <key>offset</key>
                <string>{-9,130}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,90},{38,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_7_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,0},{42,70}}</string>
                <key>offset</key>
                <string>{1,135}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,86},{42,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_7_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,66},{44,60}}</string>
                <key>offset</key>
                <string>{-20,100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,126},{44,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_7_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,74},{24,18}}</string>
                <key>offset</key>
                <string>{-31,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,191},{24,18}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_7_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,70},{32,38}}</string>
                <key>offset</key>
                <string>{-22,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,173},{32,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_7_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,0},{48,60}}</string>
                <key>offset</key>
                <string>{1,134}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,92},{48,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_7_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,0},{58,54}}</string>
                <key>offset</key>
                <string>{13,135}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,94},{58,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_7_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,60},{36,50}}</string>
                <key>offset</key>
                <string>{-21,109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,122},{36,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_7_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,0},{64,16}}</string>
                <key>offset</key>
                <string>{-26,69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,179},{64,16}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4004_7.png</string>
            <key>size</key>
            <string>{496,110}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e3b8b7d2648ea9c4575533e3051ff516:1/1$</string>
            <key>textureFileName</key>
            <string>4004_7.png</string>
        </dict>
    </dict>
</plist>
