<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4004_1_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,38},{64,20}}</string>
                <key>offset</key>
                <string>{42,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{266,201},{64,20}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_1_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,40},{64,20}}</string>
                <key>offset</key>
                <string>{41,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{265,200},{64,20}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_1_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,40},{64,20}}</string>
                <key>offset</key>
                <string>{41,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{265,201},{64,20}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_1_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,40},{66,20}}</string>
                <key>offset</key>
                <string>{42,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{265,201},{66,20}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_1_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,0},{74,40}}</string>
                <key>offset</key>
                <string>{37,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{256,203},{74,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_1_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,0},{74,38}}</string>
                <key>offset</key>
                <string>{37,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{256,204},{74,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_1_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,0},{74,40}}</string>
                <key>offset</key>
                <string>{37,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{256,203},{74,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_1_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,0},{74,40}}</string>
                <key>offset</key>
                <string>{37,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{256,204},{74,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_1_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,0},{40,58}}</string>
                <key>offset</key>
                <string>{11,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,201},{40,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_1_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,20},{42,58}}</string>
                <key>offset</key>
                <string>{11,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{246,201},{42,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_1_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,20},{42,58}}</string>
                <key>offset</key>
                <string>{11,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{246,201},{42,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_1_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,0},{40,58}}</string>
                <key>offset</key>
                <string>{10,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,202},{40,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_1_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,0},{20,58}}</string>
                <key>offset</key>
                <string>{-22,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,199},{20,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_1_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,46},{18,58}}</string>
                <key>offset</key>
                <string>{-21,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,200},{18,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_1_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,46},{18,58}}</string>
                <key>offset</key>
                <string>{-21,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,200},{18,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_1_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,0},{20,58}}</string>
                <key>offset</key>
                <string>{-22,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,200},{20,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_1_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,0},{64,46}}</string>
                <key>offset</key>
                <string>{-41,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,192},{64,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_1_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,0},{62,46}}</string>
                <key>offset</key>
                <string>{-40,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,193},{62,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_1_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,0},{64,46}}</string>
                <key>offset</key>
                <string>{-40,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,193},{64,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_1_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{66,46}}</string>
                <key>offset</key>
                <string>{-41,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,193},{66,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4004_1.png</string>
            <key>size</key>
            <string>{708,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7ade435def00e94099a42921896f81cb:1/1$</string>
            <key>textureFileName</key>
            <string>4004_1.png</string>
        </dict>
    </dict>
</plist>
