<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4004_0_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,240},{6,48}}</string>
                <key>offset</key>
                <string>{25,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{278,166},{6,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_0_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,178},{6,62}}</string>
                <key>offset</key>
                <string>{23,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{276,153},{6,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_0_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,172},{6,68}}</string>
                <key>offset</key>
                <string>{22,75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{275,147},{6,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_0_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,178},{6,62}}</string>
                <key>offset</key>
                <string>{26,74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{279,151},{6,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_0_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,184},{6,52}}</string>
                <key>offset</key>
                <string>{25,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{278,161},{6,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_0_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,242},{54,44}}</string>
                <key>offset</key>
                <string>{32,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{261,179},{54,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_0_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,116},{52,54}}</string>
                <key>offset</key>
                <string>{36,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{266,167},{52,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_0_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,0},{50,60}}</string>
                <key>offset</key>
                <string>{38,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{269,161},{50,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_0_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,60},{52,56}}</string>
                <key>offset</key>
                <string>{34,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{264,164},{52,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_0_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,184},{54,46}}</string>
                <key>offset</key>
                <string>{33,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{262,174},{54,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_0_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,30},{78,26}}</string>
                <key>offset</key>
                <string>{23,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,203},{78,26}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_0_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,56},{76,36}}</string>
                <key>offset</key>
                <string>{29,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,191},{76,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_0_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,130},{72,42}}</string>
                <key>offset</key>
                <string>{32,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,182},{72,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_0_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,92},{74,38}}</string>
                <key>offset</key>
                <string>{23,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,186},{74,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_0_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{78,30}}</string>
                <key>offset</key>
                <string>{21,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,196},{78,30}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_0_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,192},{58,28}}</string>
                <key>offset</key>
                <string>{0,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,208},{58,28}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_0_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,220},{54,20}}</string>
                <key>offset</key>
                <string>{6,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,211},{54,20}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_0_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,240},{50,28}}</string>
                <key>offset</key>
                <string>{8,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,202},{50,28}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_0_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,238},{52,22}}</string>
                <key>offset</key>
                <string>{0,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,203},{52,22}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_0_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,168},{56,24}}</string>
                <key>offset</key>
                <string>{-2,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,206},{56,24}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_0_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,184},{6,30}}</string>
                <key>offset</key>
                <string>{-23,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,205},{6,30}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_0_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,262},{6,22}}</string>
                <key>offset</key>
                <string>{-22,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,208},{6,22}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_0_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,240},{6,22}}</string>
                <key>offset</key>
                <string>{-21,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,205},{6,22}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_0_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,220},{6,22}}</string>
                <key>offset</key>
                <string>{-25,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,199},{6,22}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_0_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,214},{6,28}}</string>
                <key>offset</key>
                <string>{-24,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,201},{6,28}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4004_0.png</string>
            <key>size</key>
            <string>{128,290}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ecd199b1017079a94ae309aeeff57463:1/1$</string>
            <key>textureFileName</key>
            <string>4004_0.png</string>
        </dict>
    </dict>
</plist>
