<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4004_0_7_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{30,78}}</string>
                <key>offset</key>
                <string>{22,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,160},{30,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_0_7_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,68},{46,60}}</string>
                <key>offset</key>
                <string>{-2,115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,111},{46,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_0_7_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,72},{56,56}}</string>
                <key>offset</key>
                <string>{-13,117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,111},{56,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_0_7_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,0},{34,76}}</string>
                <key>offset</key>
                <string>{20,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,119},{34,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_0_7_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,78},{64,50}}</string>
                <key>offset</key>
                <string>{27,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,171},{64,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_0_7_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,0},{30,76}}</string>
                <key>offset</key>
                <string>{11,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,166},{30,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_0_7_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,0},{30,74}}</string>
                <key>offset</key>
                <string>{-9,117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,102},{30,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_0_7_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,0},{36,72}}</string>
                <key>offset</key>
                <string>{-16,122}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,98},{36,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_0_7_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,0},{14,78}}</string>
                <key>offset</key>
                <string>{9,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{258,123},{14,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_0_7_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,0},{72,34}}</string>
                <key>offset</key>
                <string>{9,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,190},{72,34}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_0_7_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,0},{44,64}}</string>
                <key>offset</key>
                <string>{-6,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,172},{44,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_0_7_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,0},{12,78}}</string>
                <key>offset</key>
                <string>{-12,121}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,96},{12,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_0_7_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,0},{10,78}}</string>
                <key>offset</key>
                <string>{-10,127}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,90},{10,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_0_7_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,0},{34,72}}</string>
                <key>offset</key>
                <string>{-8,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,125},{34,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_0_7_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,108},{42,18}}</string>
                <key>offset</key>
                <string>{-12,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,201},{42,18}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_0_7_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,78},{44,48}}</string>
                <key>offset</key>
                <string>{-16,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,175},{44,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_0_7_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,0},{42,72}}</string>
                <key>offset</key>
                <string>{-6,124}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,96},{42,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_0_7_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,0},{44,68}}</string>
                <key>offset</key>
                <string>{4,128}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,94},{44,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_0_7_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,64},{44,58}}</string>
                <key>offset</key>
                <string>{-17,100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,127},{44,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_0_7_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,30},{24,18}}</string>
                <key>offset</key>
                <string>{-30,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,191},{24,18}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_0_7_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,0},{30,36}}</string>
                <key>offset</key>
                <string>{-21,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,174},{30,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_0_7_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,72},{46,60}}</string>
                <key>offset</key>
                <string>{4,127}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,99},{46,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_0_7_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,74},{56,54}}</string>
                <key>offset</key>
                <string>{15,127}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,102},{56,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_0_7_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,76},{34,48}}</string>
                <key>offset</key>
                <string>{-19,108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,124},{34,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_0_7_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,64},{64,16}}</string>
                <key>offset</key>
                <string>{-25,69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,179},{64,16}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4004_0_7.png</string>
            <key>size</key>
            <string>{434,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:30045b070aceedeb8d6b74ebfdf724f4:1/1$</string>
            <key>textureFileName</key>
            <string>4004_0_7.png</string>
        </dict>
    </dict>
</plist>
