<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4004_0_0_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,234},{10,48}}</string>
                <key>offset</key>
                <string>{18,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{269,160},{10,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_0_0_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,238},{8,60}}</string>
                <key>offset</key>
                <string>{20,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{272,153},{8,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_0_0_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,178},{6,66}}</string>
                <key>offset</key>
                <string>{23,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{276,143},{6,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_0_0_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,178},{8,60}}</string>
                <key>offset</key>
                <string>{23,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{275,149},{8,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_0_0_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,234},{8,52}}</string>
                <key>offset</key>
                <string>{20,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{272,155},{8,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_0_0_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,178},{52,44}}</string>
                <key>offset</key>
                <string>{29,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{259,172},{52,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_0_0_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,56},{50,54}}</string>
                <key>offset</key>
                <string>{31,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,165},{50,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_0_0_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{6,178},{48,60}}</string>
                <key>offset</key>
                <string>{38,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{270,156},{48,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_0_0_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,0},{50,56}}</string>
                <key>offset</key>
                <string>{38,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{269,161},{50,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_0_0_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,110},{52,46}}</string>
                <key>offset</key>
                <string>{33,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,168},{52,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_0_0_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,34},{78,28}}</string>
                <key>offset</key>
                <string>{23,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,194},{78,28}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_0_0_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,100},{76,36}}</string>
                <key>offset</key>
                <string>{25,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,189},{76,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_0_0_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,136},{72,42}}</string>
                <key>offset</key>
                <string>{33,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,180},{72,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_0_0_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,62},{76,38}}</string>
                <key>offset</key>
                <string>{33,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,186},{76,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_0_0_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{78,34}}</string>
                <key>offset</key>
                <string>{26,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,188},{78,34}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_0_0_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,238},{60,30}}</string>
                <key>offset</key>
                <string>{4,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,200},{60,30}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_0_0_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,178},{56,20}}</string>
                <key>offset</key>
                <string>{4,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,205},{56,20}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_0_0_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,238},{52,28}}</string>
                <key>offset</key>
                <string>{7,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,198},{52,28}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_0_0_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,156},{56,22}}</string>
                <key>offset</key>
                <string>{6,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,205},{56,22}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_0_0_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,244},{58,26}}</string>
                <key>offset</key>
                <string>{5,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,202},{58,26}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_0_0_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,230},{8,40}}</string>
                <key>offset</key>
                <string>{-17,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,191},{8,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_0_0_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,294},{8,26}}</string>
                <key>offset</key>
                <string>{-19,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,199},{8,26}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_0_0_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{6,238},{6,20}}</string>
                <key>offset</key>
                <string>{-21,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,201},{6,20}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_0_0_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,294},{8,22}}</string>
                <key>offset</key>
                <string>{-22,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,203},{8,22}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_0_0_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,286},{8,36}}</string>
                <key>offset</key>
                <string>{-20,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,193},{8,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4004_0_0.png</string>
            <key>size</key>
            <string>{128,302}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:19cbba41fdea2688f821af527879c491:1/1$</string>
            <key>textureFileName</key>
            <string>4004_0_0.png</string>
        </dict>
    </dict>
</plist>
