<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4004_2_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,418},{38,70}}</string>
                <key>offset</key>
                <string>{9,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,201},{38,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_2_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,36},{2,2}}</string>
                <key>offset</key>
                <string>{9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{264,254},{2,2}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_2_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,36},{2,2}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,252},{2,2}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_2_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,596},{16,68}}</string>
                <key>offset</key>
                <string>{19,108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{267,114},{16,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_2_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,488},{18,38}}</string>
                <key>offset</key>
                <string>{12,112}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{259,125},{18,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_2_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{58,54}}</string>
                <key>offset</key>
                <string>{-38,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,203},{58,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_2_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,384},{40,34}}</string>
                <key>offset</key>
                <string>{40,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{276,191},{40,34}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_2_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,354},{44,30}}</string>
                <key>offset</key>
                <string>{42,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{276,185},{44,30}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_2_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,506},{24,72}}</string>
                <key>offset</key>
                <string>{23,100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{267,120},{24,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_2_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,54},{42,58}}</string>
                <key>offset</key>
                <string>{0,103}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,124},{42,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_2_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,162},{50,36}}</string>
                <key>offset</key>
                <string>{-65,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,193},{50,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_2_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,578},{76,18}}</string>
                <key>offset</key>
                <string>{63,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{281,222},{76,18}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_2_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,578},{76,22}}</string>
                <key>offset</key>
                <string>{57,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{275,211},{76,22}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_2_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,448},{26,76}}</string>
                <key>offset</key>
                <string>{14,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{257,124},{26,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_2_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,218},{44,70}}</string>
                <key>offset</key>
                <string>{-12,104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,117},{44,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_2_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,162},{14,32}}</string>
                <key>offset</key>
                <string>{-53,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,171},{14,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_2_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,96},{50,56}}</string>
                <key>offset</key>
                <string>{49,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{280,233},{50,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_2_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,288},{66,44}}</string>
                <key>offset</key>
                <string>{38,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{261,215},{66,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_2_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,372},{18,76}}</string>
                <key>offset</key>
                <string>{-2,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,124},{18,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_2_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,218},{20,78}}</string>
                <key>offset</key>
                <string>{-16,109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,108},{20,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_2_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,0},{6,36}}</string>
                <key>offset</key>
                <string>{-19,83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,155},{6,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_2_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,198},{20,50}}</string>
                <key>offset</key>
                <string>{9,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{255,237},{20,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_2_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,146},{16,54}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{247,218},{16,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_2_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,524},{16,72}}</string>
                <key>offset</key>
                <string>{-19,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,121},{16,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_2_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,296},{20,76}}</string>
                <key>offset</key>
                <string>{-12,115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,103},{20,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4004_2.png</string>
            <key>size</key>
            <string>{64,664}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:22cc79803ac8e238d34afaa9e49242d8:1/1$</string>
            <key>textureFileName</key>
            <string>4004_2.png</string>
        </dict>
    </dict>
</plist>
