<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4004_3_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,28},{6,32}}</string>
                <key>offset</key>
                <string>{24,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{277,190},{6,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_3_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,28},{56,28}}</string>
                <key>offset</key>
                <string>{18,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,200},{56,28}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_3_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{78,28}}</string>
                <key>offset</key>
                <string>{2,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,205},{78,28}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_3_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,0},{54,50}}</string>
                <key>offset</key>
                <string>{-14,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,188},{54,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4004_3_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,54},{6,52}}</string>
                <key>offset</key>
                <string>{-22,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,182},{6,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4004_3.png</string>
            <key>size</key>
            <string>{128,60}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:27366a0b4114ee22da62b469df171ccf:1/1$</string>
            <key>textureFileName</key>
            <string>4004_3.png</string>
        </dict>
    </dict>
</plist>
