<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4005_2_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,0},{50,96}}</string>
                <key>offset</key>
                <string>{3,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,197},{50,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4005_2_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,70},{2,2}}</string>
                <key>offset</key>
                <string>{-17,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,175},{2,2}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4005_2_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,70},{2,2}}</string>
                <key>offset</key>
                <string>{-12,107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,148},{2,2}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4005_2_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,52},{20,88}}</string>
                <key>offset</key>
                <string>{15,132}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{261,80},{20,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4005_2_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,52},{20,76}}</string>
                <key>offset</key>
                <string>{11,126}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{257,92},{20,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4005_2_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{88,70}}</string>
                <key>offset</key>
                <string>{-54,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,200},{88,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4005_2_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,52},{56,20}}</string>
                <key>offset</key>
                <string>{46,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{274,207},{56,20}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4005_2_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,46},{60,26}}</string>
                <key>offset</key>
                <string>{48,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{274,199},{60,26}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4005_2_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,40},{12,108}}</string>
                <key>offset</key>
                <string>{27,116}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{277,86},{12,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4005_2_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,24},{42,90}}</string>
                <key>offset</key>
                <string>{3,119}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,92},{42,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4005_2_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,34},{80,38}}</string>
                <key>offset</key>
                <string>{-81,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,190},{80,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4005_2_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,0},{104,36}}</string>
                <key>offset</key>
                <string>{73,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{277,223},{104,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4005_2_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,0},{102,46}}</string>
                <key>offset</key>
                <string>{65,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{270,210},{102,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4005_2_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,0},{34,106}}</string>
                <key>offset</key>
                <string>{25,108}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{264,95},{34,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4005_2_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,0},{40,102}}</string>
                <key>offset</key>
                <string>{-6,119}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,86},{40,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4005_2_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,24},{28,26}}</string>
                <key>offset</key>
                <string>{-60,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,165},{28,26}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4005_2_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,16},{56,80}}</string>
                <key>offset</key>
                <string>{53,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{281,239},{56,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4005_2_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,0},{84,72}}</string>
                <key>offset</key>
                <string>{45,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,216},{84,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4005_2_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,34},{38,102}}</string>
                <key>offset</key>
                <string>{8,104}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{245,101},{38,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4005_2_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,0},{16,112}}</string>
                <key>offset</key>
                <string>{-10,124}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,76},{16,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4005_2_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,66},{6,26}}</string>
                <key>offset</key>
                <string>{-19,92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,151},{6,26}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4005_2_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,0},{24,82}}</string>
                <key>offset</key>
                <string>{11,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{255,236},{24,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4005_2_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,36},{16,88}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{248,216},{16,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4005_2_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,50},{22,94}}</string>
                <key>offset</key>
                <string>{-14,106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,103},{22,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4005_2_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,0},{24,110}}</string>
                <key>offset</key>
                <string>{-11,128}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,73},{24,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4005_2.png</string>
            <key>size</key>
            <string>{986,72}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3ef458a50bfbb93999cc32fe57623909:1/1$</string>
            <key>textureFileName</key>
            <string>4005_2.png</string>
        </dict>
    </dict>
</plist>
