<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4006_0_7_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{28,138}}</string>
                <key>offset</key>
                <string>{24,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{266,138},{28,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4006_0_7_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,128},{68,108}}</string>
                <key>offset</key>
                <string>{0,109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,93},{68,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4006_0_7_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,0},{84,104}}</string>
                <key>offset</key>
                <string>{-10,111}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,93},{84,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4006_0_7_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,0},{34,136}}</string>
                <key>offset</key>
                <string>{19,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{258,97},{34,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4006_0_7_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,132},{120,70}}</string>
                <key>offset</key>
                <string>{20,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,164},{120,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4006_0_7_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,0},{56,130}}</string>
                <key>offset</key>
                <string>{10,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,146},{56,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4006_0_7_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,0},{50,130}}</string>
                <key>offset</key>
                <string>{-7,110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,81},{50,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4006_0_7_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,0},{56,128}}</string>
                <key>offset</key>
                <string>{-13,114}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,78},{56,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4006_0_7_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,0},{26,138}}</string>
                <key>offset</key>
                <string>{10,87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,100},{26,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4006_0_7_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,0},{128,32}}</string>
                <key>offset</key>
                <string>{1,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,191},{128,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4006_0_7_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,138},{74,108}}</string>
                <key>offset</key>
                <string>{-11,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,156},{74,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4006_0_7_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,0},{14,138}}</string>
                <key>offset</key>
                <string>{-14,113}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,74},{14,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4006_0_7_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,0},{6,138}}</string>
                <key>offset</key>
                <string>{-10,119}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,68},{6,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4006_0_7_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,130},{50,124}}</string>
                <key>offset</key>
                <string>{-10,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,106},{50,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4006_0_7_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,206},{64,38}}</string>
                <key>offset</key>
                <string>{-15,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,192},{64,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4006_0_7_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,138},{62,82}}</string>
                <key>offset</key>
                <string>{-19,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,162},{62,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4006_0_7_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,0},{48,132}}</string>
                <key>offset</key>
                <string>{-7,117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,73},{48,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4006_0_7_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,128},{62,126}}</string>
                <key>offset</key>
                <string>{1,121}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,72},{62,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4006_0_7_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,84},{54,104}}</string>
                <key>offset</key>
                <string>{-19,94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,110},{54,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4006_0_7_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,206},{48,38}}</string>
                <key>offset</key>
                <string>{-28,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,181},{48,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4006_0_7_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,138},{30,68}}</string>
                <key>offset</key>
                <string>{-23,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,162},{30,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4006_0_7_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,138},{68,114}}</string>
                <key>offset</key>
                <string>{1,121}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,78},{68,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4006_0_7_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,0},{84,104}}</string>
                <key>offset</key>
                <string>{11,122}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,82},{84,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4006_0_7_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,138},{34,92}}</string>
                <key>offset</key>
                <string>{-18,103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,107},{34,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4006_0_7_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,128},{120,16}}</string>
                <key>offset</key>
                <string>{-19,68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,180},{120,16}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4006_0_7.png</string>
            <key>size</key>
            <string>{554,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:756d34b536ce12aed48fca96f2731748:1/1$</string>
            <key>textureFileName</key>
            <string>4006_0_7.png</string>
        </dict>
    </dict>
</plist>
