<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4006_0_6_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{130,66}}</string>
                <key>offset</key>
                <string>{16,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,189},{130,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4006_0_6_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,218},{124,76}}</string>
                <key>offset</key>
                <string>{12,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,184},{124,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4006_0_6_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,140},{124,78}}</string>
                <key>offset</key>
                <string>{12,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,183},{124,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4006_0_6_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,0},{70,32}}</string>
                <key>offset</key>
                <string>{24,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{245,198},{70,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4006_0_6_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,718},{72,28}}</string>
                <key>offset</key>
                <string>{26,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{246,189},{72,28}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4006_0_6_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,926},{70,98}}</string>
                <key>offset</key>
                <string>{-3,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,172},{70,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4006_0_6_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,790},{54,104}}</string>
                <key>offset</key>
                <string>{-6,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,168},{54,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4006_0_6_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,764},{62,106}}</string>
                <key>offset</key>
                <string>{-6,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,167},{62,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4006_0_6_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,550},{116,64}}</string>
                <key>offset</key>
                <string>{15,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,188},{116,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4006_0_6_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,66},{128,44}}</string>
                <key>offset</key>
                <string>{20,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,196},{128,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4006_0_6_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,522},{38,100}}</string>
                <key>offset</key>
                <string>{-22,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,165},{38,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4006_0_6_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,622},{48,96}}</string>
                <key>offset</key>
                <string>{-25,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,168},{48,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4006_0_6_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,418},{42,104}}</string>
                <key>offset</key>
                <string>{-24,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,163},{42,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4006_0_6_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,826},{102,100}}</string>
                <key>offset</key>
                <string>{3,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,171},{102,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4006_0_6_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,396},{116,82}}</string>
                <key>offset</key>
                <string>{6,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,178},{116,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4006_0_6_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,478},{116,72}}</string>
                <key>offset</key>
                <string>{-25,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,170},{116,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4006_0_6_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,294},{122,72}}</string>
                <key>offset</key>
                <string>{-24,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,168},{122,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4006_0_6_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,614},{114,78}}</string>
                <key>offset</key>
                <string>{-23,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,165},{114,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4006_0_6_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,70},{34,120}}</string>
                <key>offset</key>
                <string>{-12,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,156},{34,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4006_0_6_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,314},{38,104}}</string>
                <key>offset</key>
                <string>{-11,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,163},{38,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4006_0_6_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,110},{128,30}}</string>
                <key>offset</key>
                <string>{-15,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,186},{128,30}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4006_0_6_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,366},{122,30}}</string>
                <key>offset</key>
                <string>{-11,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,186},{122,30}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4006_0_6_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,190},{124,38}}</string>
                <key>offset</key>
                <string>{-11,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,181},{124,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4006_0_6_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,692},{72,112}}</string>
                <key>offset</key>
                <string>{-23,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,153},{72,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4006_0_6_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,926},{72,96}}</string>
                <key>offset</key>
                <string>{-25,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,158},{72,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4006_0_6.png</string>
            <key>size</key>
            <string>{162,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0c740d5826245b2632a9293d41c81b9b:1/1$</string>
            <key>textureFileName</key>
            <string>4006_0_6.png</string>
        </dict>
    </dict>
</plist>
