<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4006_0_0_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,218},{8,68}}</string>
                <key>offset</key>
                <string>{19,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{271,153},{8,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4006_0_0_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,230},{8,92}}</string>
                <key>offset</key>
                <string>{20,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{272,142},{8,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4006_0_0_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,254},{6,106}}</string>
                <key>offset</key>
                <string>{23,74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{276,129},{6,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4006_0_0_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,218},{6,98}}</string>
                <key>offset</key>
                <string>{24,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{277,134},{6,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4006_0_0_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,230},{8,78}}</string>
                <key>offset</key>
                <string>{21,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{273,145},{8,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4006_0_0_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,226},{96,52}}</string>
                <key>offset</key>
                <string>{23,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,169},{96,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4006_0_0_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,260},{94,76}}</string>
                <key>offset</key>
                <string>{25,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,158},{94,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4006_0_0_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{90,90}}</string>
                <key>offset</key>
                <string>{33,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,146},{90,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4006_0_0_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,0},{94,82}}</string>
                <key>offset</key>
                <string>{32,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,152},{94,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4006_0_0_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,194},{96,60}}</string>
                <key>offset</key>
                <string>{27,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,163},{96,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4006_0_0_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,90},{140,28}}</string>
                <key>offset</key>
                <string>{15,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,197},{140,28}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4006_0_0_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,82},{136,34}}</string>
                <key>offset</key>
                <string>{18,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,189},{136,34}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4006_0_0_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,90},{132,48}}</string>
                <key>offset</key>
                <string>{25,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,177},{132,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4006_0_0_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,90},{136,36}}</string>
                <key>offset</key>
                <string>{26,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,186},{136,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4006_0_0_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,322},{138,32}}</string>
                <key>offset</key>
                <string>{19,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,189},{138,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4006_0_0_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,0},{102,62}}</string>
                <key>offset</key>
                <string>{-1,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,183},{102,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4006_0_0_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,156},{100,38}}</string>
                <key>offset</key>
                <string>{-2,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,198},{100,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4006_0_0_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,260},{94,28}}</string>
                <key>offset</key>
                <string>{2,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,201},{94,28}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4006_0_0_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,222},{96,32}}</string>
                <key>offset</key>
                <string>{1,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,203},{96,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4006_0_0_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,102},{100,54}}</string>
                <key>offset</key>
                <string>{-1,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,187},{100,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4006_0_0_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,230},{8,80}}</string>
                <key>offset</key>
                <string>{-18,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,168},{8,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4006_0_0_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,218},{8,54}}</string>
                <key>offset</key>
                <string>{-19,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,185},{8,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4006_0_0_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,82},{6,38}}</string>
                <key>offset</key>
                <string>{-22,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,194},{6,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4006_0_0_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,272},{6,50}}</string>
                <key>offset</key>
                <string>{-22,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,189},{6,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4006_0_0_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,230},{8,72}}</string>
                <key>offset</key>
                <string>{-20,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,173},{8,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4006_0_0.png</string>
            <key>size</key>
            <string>{246,354}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:80325afe060e6f882c68ebcd888aa89c:1/1$</string>
            <key>textureFileName</key>
            <string>4006_0_0.png</string>
        </dict>
    </dict>
</plist>
