<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4006_0_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,382},{6,70}}</string>
                <key>offset</key>
                <string>{26,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{279,156},{6,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4006_0_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,290},{6,94}}</string>
                <key>offset</key>
                <string>{24,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{277,141},{6,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4006_0_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,0},{10,110}}</string>
                <key>offset</key>
                <string>{23,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{274,130},{10,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4006_0_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,394},{8,98}}</string>
                <key>offset</key>
                <string>{26,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{278,136},{8,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4006_0_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,110},{6,78}}</string>
                <key>offset</key>
                <string>{26,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{279,150},{6,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4006_0_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,462},{100,50}}</string>
                <key>offset</key>
                <string>{29,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,177},{100,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4006_0_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,98},{98,76}}</string>
                <key>offset</key>
                <string>{33,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,160},{98,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4006_0_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{96,90}}</string>
                <key>offset</key>
                <string>{34,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,151},{96,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4006_0_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,90},{98,80}}</string>
                <key>offset</key>
                <string>{30,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,156},{98,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4006_0_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,196},{100,58}}</string>
                <key>offset</key>
                <string>{29,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,171},{100,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4006_0_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,324},{138,24}}</string>
                <key>offset</key>
                <string>{16,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,208},{138,24}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4006_0_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,188},{136,32}}</string>
                <key>offset</key>
                <string>{23,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,193},{136,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4006_0_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,188},{130,46}}</string>
                <key>offset</key>
                <string>{26,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,182},{130,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4006_0_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,318},{134,36}}</string>
                <key>offset</key>
                <string>{17,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,188},{134,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4006_0_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,324},{138,24}}</string>
                <key>offset</key>
                <string>{15,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,201},{138,24}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4006_0_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,0},{98,62}}</string>
                <key>offset</key>
                <string>{-7,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,189},{98,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4006_0_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,394},{96,36}}</string>
                <key>offset</key>
                <string>{0,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,205},{96,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4006_0_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,290},{92,24}}</string>
                <key>offset</key>
                <string>{3,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,208},{92,24}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4006_0_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,196},{94,32}}</string>
                <key>offset</key>
                <string>{-6,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,201},{94,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4006_0_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,296},{98,54}}</string>
                <key>offset</key>
                <string>{-8,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,190},{98,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4006_0_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,110},{6,78}}</string>
                <key>offset</key>
                <string>{-24,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,175},{6,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4006_0_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,394},{6,54}}</string>
                <key>offset</key>
                <string>{-22,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,191},{6,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4006_0_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,452},{8,36}}</string>
                <key>offset</key>
                <string>{-22,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,201},{8,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4006_0_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,394},{8,48}}</string>
                <key>offset</key>
                <string>{-25,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,186},{8,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4006_0_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,382},{8,72}}</string>
                <key>offset</key>
                <string>{-25,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,174},{8,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4006_0.png</string>
            <key>size</key>
            <string>{168,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:af4b4a49bca1ab2162b3cefb6e46639b:1/1$</string>
            <key>textureFileName</key>
            <string>4006_0.png</string>
        </dict>
    </dict>
</plist>
