<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4007_0_1_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{18,806},{62,26}}</string>
                <key>offset</key>
                <string>{34,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{259,205},{62,26}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4007_0_1_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,534},{62,24}}</string>
                <key>offset</key>
                <string>{34,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{259,206},{62,24}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4007_0_1_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,732},{62,26}}</string>
                <key>offset</key>
                <string>{33,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{258,205},{62,26}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4007_0_1_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,670},{62,26}}</string>
                <key>offset</key>
                <string>{34,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{259,206},{62,26}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4007_0_1_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{72,48}}</string>
                <key>offset</key>
                <string>{25,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{245,204},{72,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4007_0_1_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,72},{72,46}}</string>
                <key>offset</key>
                <string>{25,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{245,205},{72,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4007_0_1_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,214},{70,48}}</string>
                <key>offset</key>
                <string>{25,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{246,204},{70,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4007_0_1_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,144},{70,48}}</string>
                <key>offset</key>
                <string>{25,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{246,205},{70,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4007_0_1_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,670},{38,68}}</string>
                <key>offset</key>
                <string>{2,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,199},{38,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4007_0_1_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,602},{40,68}}</string>
                <key>offset</key>
                <string>{2,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,199},{40,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4007_0_1_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,534},{40,68}}</string>
                <key>offset</key>
                <string>{2,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,199},{40,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4007_0_1_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,738},{36,68}}</string>
                <key>offset</key>
                <string>{2,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,200},{36,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4007_0_1_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,794},{20,68}}</string>
                <key>offset</key>
                <string>{-22,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,197},{20,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4007_0_1_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,806},{18,66}}</string>
                <key>offset</key>
                <string>{-22,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,198},{18,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4007_0_1_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,72},{18,68}}</string>
                <key>offset</key>
                <string>{-21,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,197},{18,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4007_0_1_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,596},{20,68}}</string>
                <key>offset</key>
                <string>{-22,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,196},{20,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4007_0_1_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,472},{62,56}}</string>
                <key>offset</key>
                <string>{-32,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,191},{62,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4007_0_1_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,410},{62,56}}</string>
                <key>offset</key>
                <string>{-33,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,190},{62,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4007_0_1_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,348},{62,56}}</string>
                <key>offset</key>
                <string>{-32,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,191},{62,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4007_0_1_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,284},{64,56}}</string>
                <key>offset</key>
                <string>{-33,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,190},{64,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4007_0_1.png</string>
            <key>size</key>
            <string>{64,872}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4a7a84f9ab80cd9daef668b0935ba04e:1/1$</string>
            <key>textureFileName</key>
            <string>4007_0_1.png</string>
        </dict>
    </dict>
</plist>
