<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4007_0_6_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,134},{76,38}}</string>
                <key>offset</key>
                <string>{24,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,207},{76,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4007_0_6_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,0},{72,44}}</string>
                <key>offset</key>
                <string>{19,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,206},{72,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4007_0_6_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,62},{72,46}}</string>
                <key>offset</key>
                <string>{17,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,205},{72,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4007_0_6_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,92},{42,18}}</string>
                <key>offset</key>
                <string>{30,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{265,206},{42,18}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4007_0_6_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,100},{42,16}}</string>
                <key>offset</key>
                <string>{33,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{268,201},{42,16}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4007_0_6_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,42},{40,58}}</string>
                <key>offset</key>
                <string>{-2,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,201},{40,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4007_0_6_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,134},{32,62}}</string>
                <key>offset</key>
                <string>{-7,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,199},{32,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4007_0_6_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,100},{34,66}}</string>
                <key>offset</key>
                <string>{-7,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,197},{34,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4007_0_6_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,62},{70,38}}</string>
                <key>offset</key>
                <string>{24,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,206},{70,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4007_0_6_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,50},{78,24}}</string>
                <key>offset</key>
                <string>{30,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,208},{78,24}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4007_0_6_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,160},{22,60}}</string>
                <key>offset</key>
                <string>{-25,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,195},{22,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4007_0_6_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,160},{30,60}}</string>
                <key>offset</key>
                <string>{-27,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,193},{30,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4007_0_6_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,134},{24,64}}</string>
                <key>offset</key>
                <string>{-27,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,192},{24,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4007_0_6_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{58,62}}</string>
                <key>offset</key>
                <string>{5,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,199},{58,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4007_0_6_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,0},{66,50}}</string>
                <key>offset</key>
                <string>{10,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,201},{66,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4007_0_6_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,134},{62,40}}</string>
                <key>offset</key>
                <string>{-37,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,194},{62,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4007_0_6_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,100},{60,36}}</string>
                <key>offset</key>
                <string>{-38,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,196},{60,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4007_0_6_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,92},{60,42}}</string>
                <key>offset</key>
                <string>{-35,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,194},{60,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4007_0_6_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,198},{22,74}}</string>
                <key>offset</key>
                <string>{-22,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,190},{22,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4007_0_6_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,134},{24,64}}</string>
                <key>offset</key>
                <string>{-18,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,193},{24,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4007_0_6_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,74},{76,18}}</string>
                <key>offset</key>
                <string>{-22,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,193},{76,18}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4007_0_6_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,44},{72,18}}</string>
                <key>offset</key>
                <string>{-17,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,192},{72,18}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4007_0_6_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,198},{72,22}}</string>
                <key>offset</key>
                <string>{-17,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,191},{72,22}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4007_0_6_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,134},{40,64}}</string>
                <key>offset</key>
                <string>{-29,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,188},{40,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4007_0_6_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,0},{42,56}}</string>
                <key>offset</key>
                <string>{-32,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,189},{42,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4007_0_6.png</string>
            <key>size</key>
            <string>{253,220}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0e2e6c0c5ba0172476c50b03a9b105ff:1/1$</string>
            <key>textureFileName</key>
            <string>4007_0_6.png</string>
        </dict>
    </dict>
</plist>
