<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4007_7_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,28},{18,84}}</string>
                <key>offset</key>
                <string>{29,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{276,152},{18,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4007_7_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,46},{38,68}}</string>
                <key>offset</key>
                <string>{7,125}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{244,97},{38,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4007_7_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,80},{46,64}}</string>
                <key>offset</key>
                <string>{-7,128}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,96},{46,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4007_7_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,40},{20,82}}</string>
                <key>offset</key>
                <string>{30,103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{276,112},{20,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4007_7_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{74,40}}</string>
                <key>offset</key>
                <string>{34,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,183},{74,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4007_7_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,40},{34,78}}</string>
                <key>offset</key>
                <string>{14,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,163},{34,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4007_7_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,0},{26,78}}</string>
                <key>offset</key>
                <string>{-6,125}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,92},{26,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4007_7_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,0},{34,78}}</string>
                <key>offset</key>
                <string>{-15,132}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,85},{34,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4007_7_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,112},{14,82}}</string>
                <key>offset</key>
                <string>{11,96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{260,119},{14,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4007_7_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,26},{76,20}}</string>
                <key>offset</key>
                <string>{14,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,205},{76,20}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4007_7_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,34},{46,64}}</string>
                <key>offset</key>
                <string>{-6,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,171},{46,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4007_7_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,104},{6,84}}</string>
                <key>offset</key>
                <string>{-14,130}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,84},{6,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4007_7_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,110},{6,82}}</string>
                <key>offset</key>
                <string>{-14,137}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,78},{6,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4007_7_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,84},{28,76}}</string>
                <key>offset</key>
                <string>{-11,97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,121},{28,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4007_7_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,82},{38,22}}</string>
                <key>offset</key>
                <string>{-14,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,202},{38,22}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4007_7_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,46},{36,48}}</string>
                <key>offset</key>
                <string>{-23,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,174},{36,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4007_7_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,0},{28,82}}</string>
                <key>offset</key>
                <string>{-16,136}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,79},{28,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4007_7_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,40},{34,78}}</string>
                <key>offset</key>
                <string>{-4,141}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,76},{34,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4007_7_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,38},{32,66}}</string>
                <key>offset</key>
                <string>{-27,104}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,119},{32,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4007_7_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,90},{28,22}}</string>
                <key>offset</key>
                <string>{-34,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,191},{28,22}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4007_7_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,108},{18,42}}</string>
                <key>offset</key>
                <string>{-28,67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,168},{18,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4007_7_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,0},{38,70}}</string>
                <key>offset</key>
                <string>{-6,140}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,81},{38,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4007_7_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,46},{46,62}}</string>
                <key>offset</key>
                <string>{8,140}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,85},{46,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4007_7_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,70},{20,58}}</string>
                <key>offset</key>
                <string>{-28,114}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,113},{20,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4007_7_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,116},{74,10}}</string>
                <key>offset</key>
                <string>{-33,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,185},{74,10}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4007_7.png</string>
            <key>size</key>
            <string>{382,127}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d662695685e203666d94161264a17761:1/1$</string>
            <key>textureFileName</key>
            <string>4007_7.png</string>
        </dict>
    </dict>
</plist>
