<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4008_0_1_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,56},{96,54}}</string>
                <key>offset</key>
                <string>{28,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,196},{96,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4008_0_1_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,86},{96,54}}</string>
                <key>offset</key>
                <string>{28,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,195},{96,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4008_0_1_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,56},{94,54}}</string>
                <key>offset</key>
                <string>{27,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,196},{94,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4008_0_1_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,0},{96,56}}</string>
                <key>offset</key>
                <string>{28,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,195},{96,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4008_0_1_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,0},{106,86}}</string>
                <key>offset</key>
                <string>{18,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,185},{106,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4008_0_1_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,0},{108,84}}</string>
                <key>offset</key>
                <string>{18,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,186},{108,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4008_0_1_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{106,86}}</string>
                <key>offset</key>
                <string>{18,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,185},{106,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4008_0_1_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,0},{104,86}}</string>
                <key>offset</key>
                <string>{18,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,186},{104,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4008_0_1_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,86},{54,112}}</string>
                <key>offset</key>
                <string>{-2,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,173},{54,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4008_0_1_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,0},{56,112}}</string>
                <key>offset</key>
                <string>{-1,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,173},{56,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4008_0_1_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,84},{56,112}}</string>
                <key>offset</key>
                <string>{-1,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,173},{56,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4008_0_1_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,86},{54,114}}</string>
                <key>offset</key>
                <string>{-2,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,172},{54,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4008_0_1_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,92},{32,114}}</string>
                <key>offset</key>
                <string>{-20,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,167},{32,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4008_0_1_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,110},{30,114}}</string>
                <key>offset</key>
                <string>{-20,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,167},{30,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4008_0_1_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,110},{30,116}}</string>
                <key>offset</key>
                <string>{-19,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,166},{30,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4008_0_1_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,92},{34,114}}</string>
                <key>offset</key>
                <string>{-20,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,167},{34,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4008_0_1_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,0},{96,92}}</string>
                <key>offset</key>
                <string>{-26,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,169},{96,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4008_0_1_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,0},{96,92}}</string>
                <key>offset</key>
                <string>{-27,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,169},{96,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4008_0_1_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,0},{94,94}}</string>
                <key>offset</key>
                <string>{-26,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,169},{94,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4008_0_1_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,0},{96,92}}</string>
                <key>offset</key>
                <string>{-26,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,169},{96,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4008_0_1.png</string>
            <key>size</key>
            <string>{1014,140}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2d8f29f32b4323ca08718be5ed2a6a42:1/1$</string>
            <key>textureFileName</key>
            <string>4008_0_1.png</string>
        </dict>
    </dict>
</plist>
