<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4008_1_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,296},{96,54}}</string>
                <key>offset</key>
                <string>{35,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,190},{96,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4008_1_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,338},{94,54}}</string>
                <key>offset</key>
                <string>{35,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,190},{94,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4008_1_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,306},{94,54}}</string>
                <key>offset</key>
                <string>{35,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,190},{94,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4008_1_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,282},{96,56}}</string>
                <key>offset</key>
                <string>{35,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,189},{96,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4008_1_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,194},{106,84}}</string>
                <key>offset</key>
                <string>{29,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,184},{106,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4008_1_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,110},{108,84}}</string>
                <key>offset</key>
                <string>{28,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,184},{108,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4008_1_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,200},{106,82}}</string>
                <key>offset</key>
                <string>{29,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,186},{106,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4008_1_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,114},{106,86}}</string>
                <key>offset</key>
                <string>{29,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,184},{106,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4008_1_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,58},{56,110}}</string>
                <key>offset</key>
                <string>{5,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,176},{56,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4008_1_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,54},{56,110}}</string>
                <key>offset</key>
                <string>{6,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,176},{56,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4008_1_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,0},{58,110}}</string>
                <key>offset</key>
                <string>{6,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,176},{58,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4008_1_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{54,112}}</string>
                <key>offset</key>
                <string>{6,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,175},{54,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4008_1_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,278},{28,100}}</string>
                <key>offset</key>
                <string>{-21,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,184},{28,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4008_1_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,0},{28,100}}</string>
                <key>offset</key>
                <string>{-21,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,184},{28,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4008_1_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,200},{26,96}}</string>
                <key>offset</key>
                <string>{-22,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,188},{26,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4008_1_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,100},{30,100}}</string>
                <key>offset</key>
                <string>{-22,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,184},{30,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4008_1_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,434},{74,74}}</string>
                <key>offset</key>
                <string>{-45,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,189},{74,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4008_1_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,434},{74,74}}</string>
                <key>offset</key>
                <string>{-44,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,189},{74,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4008_1_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,360},{74,78}}</string>
                <key>offset</key>
                <string>{-44,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,186},{74,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4008_1_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,392},{76,76}}</string>
                <key>offset</key>
                <string>{-45,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,187},{76,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4008_1.png</string>
            <key>size</key>
            <string>{250,508}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cc451682f792f2ef5b2fd64634c98cc9:1/1$</string>
            <key>textureFileName</key>
            <string>4008_1.png</string>
        </dict>
    </dict>
</plist>
