<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4008_2_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,104},{56,106}}</string>
                <key>offset</key>
                <string>{12,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,176},{56,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4008_2_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,92},{2,2}}</string>
                <key>offset</key>
                <string>{-18,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,174},{2,2}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4008_2_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,92},{2,2}}</string>
                <key>offset</key>
                <string>{-19,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,175},{2,2}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4008_2_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,182},{28,122}}</string>
                <key>offset</key>
                <string>{19,106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{261,89},{28,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4008_2_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,42},{28,100}}</string>
                <key>offset</key>
                <string>{14,110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{256,96},{28,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4008_2_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,0},{108,76}}</string>
                <key>offset</key>
                <string>{-39,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,186},{108,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4008_2_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,0},{60,42}}</string>
                <key>offset</key>
                <string>{36,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,193},{60,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4008_2_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,168},{64,42}}</string>
                <key>offset</key>
                <string>{37,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{261,189},{64,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4008_2_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,58},{30,124}}</string>
                <key>offset</key>
                <string>{25,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{266,97},{30,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4008_2_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,58},{50,110}}</string>
                <key>offset</key>
                <string>{5,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,96},{50,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4008_2_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,104},{100,42}}</string>
                <key>offset</key>
                <string>{-68,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,184},{100,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4008_2_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,92},{114,48}}</string>
                <key>offset</key>
                <string>{57,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{256,213},{114,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4008_2_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,0},{112,58}}</string>
                <key>offset</key>
                <string>{49,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,199},{112,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4008_2_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,70},{44,120}}</string>
                <key>offset</key>
                <string>{24,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{258,107},{44,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4008_2_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,92},{46,118}}</string>
                <key>offset</key>
                <string>{-7,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,96},{46,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4008_2_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,154},{36,36}}</string>
                <key>offset</key>
                <string>{-57,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,162},{36,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4008_2_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,0},{70,110}}</string>
                <key>offset</key>
                <string>{40,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{261,201},{70,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4008_2_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{96,92}}</string>
                <key>offset</key>
                <string>{32,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,194},{96,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4008_2_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,70},{46,112}}</string>
                <key>offset</key>
                <string>{4,87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,113},{46,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4008_2_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,58},{22,124}}</string>
                <key>offset</key>
                <string>{-12,103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,91},{22,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4008_2_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,0},{10,42}}</string>
                <key>offset</key>
                <string>{-20,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,146},{10,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4008_2_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,104},{34,106}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,210},{34,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4008_2_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,42},{24,112}}</string>
                <key>offset</key>
                <string>{-5,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,188},{24,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4008_2_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,58},{26,102}}</string>
                <key>offset</key>
                <string>{-19,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,112},{26,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4008_2_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,76},{28,122}}</string>
                <key>offset</key>
                <string>{-15,109}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,86},{28,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4008_2.png</string>
            <key>size</key>
            <string>{496,210}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:01884ce4a95d5881025b446c7aa53a20:1/1$</string>
            <key>textureFileName</key>
            <string>4008_2.png</string>
        </dict>
    </dict>
</plist>
