<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4009_0_0_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,304},{10,62}}</string>
                <key>offset</key>
                <string>{18,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{269,163},{10,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4009_0_0_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,284},{10,86}}</string>
                <key>offset</key>
                <string>{19,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{270,156},{10,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4009_0_0_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,220},{10,100}}</string>
                <key>offset</key>
                <string>{22,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{273,144},{10,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4009_0_0_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,220},{10,90}}</string>
                <key>offset</key>
                <string>{23,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{274,150},{10,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4009_0_0_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,314},{10,70}}</string>
                <key>offset</key>
                <string>{20,63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{271,158},{10,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4009_0_0_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,210},{94,44}}</string>
                <key>offset</key>
                <string>{13,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,178},{94,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4009_0_0_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,0},{94,70}}</string>
                <key>offset</key>
                <string>{16,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,169},{94,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4009_0_0_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{92,84}}</string>
                <key>offset</key>
                <string>{23,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,160},{92,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4009_0_0_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,0},{94,74}}</string>
                <key>offset</key>
                <string>{23,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,166},{94,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4009_0_0_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,220},{96,54}}</string>
                <key>offset</key>
                <string>{16,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,173},{96,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4009_0_0_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,74},{136,28}}</string>
                <key>offset</key>
                <string>{-2,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,197},{136,28}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4009_0_0_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,84},{136,30}}</string>
                <key>offset</key>
                <string>{2,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,193},{136,30}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4009_0_0_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,84},{132,42}}</string>
                <key>offset</key>
                <string>{10,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,184},{132,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4009_0_0_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,74},{134,30}}</string>
                <key>offset</key>
                <string>{11,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,192},{134,30}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4009_0_0_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,84},{136,28}}</string>
                <key>offset</key>
                <string>{3,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,193},{136,28}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4009_0_0_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,154},{96,66}}</string>
                <key>offset</key>
                <string>{-13,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,176},{96,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4009_0_0_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,216},{96,42}}</string>
                <key>offset</key>
                <string>{-13,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,194},{96,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4009_0_0_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,256},{94,28}}</string>
                <key>offset</key>
                <string>{-9,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,201},{94,28}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4009_0_0_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,220},{96,36}}</string>
                <key>offset</key>
                <string>{-10,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,199},{96,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4009_0_0_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,94},{98,60}}</string>
                <key>offset</key>
                <string>{-13,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,180},{98,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4009_0_0_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,294},{10,84}}</string>
                <key>offset</key>
                <string>{-17,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,159},{10,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4009_0_0_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,314},{10,60}}</string>
                <key>offset</key>
                <string>{-19,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,177},{10,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4009_0_0_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,312},{10,42}}</string>
                <key>offset</key>
                <string>{-21,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,189},{10,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4009_0_0_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,316},{10,54}}</string>
                <key>offset</key>
                <string>{-22,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,183},{10,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4009_0_0_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,304},{10,76}}</string>
                <key>offset</key>
                <string>{-19,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,165},{10,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4009_0_0.png</string>
            <key>size</key>
            <string>{256,327}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:869ec0ee68c26ce0a5f50d9ea2927fdf:1/1$</string>
            <key>textureFileName</key>
            <string>4009_0_0.png</string>
        </dict>
    </dict>
</plist>
