<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4009_7_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,122},{28,134}}</string>
                <key>offset</key>
                <string>{27,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{269,156},{28,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4009_7_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,52},{60,108}}</string>
                <key>offset</key>
                <string>{11,102}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,100},{60,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4009_7_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,104},{74,104}}</string>
                <key>offset</key>
                <string>{3,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,99},{74,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4009_7_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,124},{30,132}}</string>
                <key>offset</key>
                <string>{24,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{265,116},{30,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4009_7_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,0},{122,62}}</string>
                <key>offset</key>
                <string>{8,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,177},{122,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4009_7_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{64,124}}</string>
                <key>offset</key>
                <string>{6,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,166},{64,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4009_7_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,56},{48,126}}</string>
                <key>offset</key>
                <string>{-3,99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,94},{48,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4009_7_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,0},{56,126}}</string>
                <key>offset</key>
                <string>{-9,105}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,88},{56,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4009_7_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,112},{30,130}}</string>
                <key>offset</key>
                <string>{9,68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{250,123},{30,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4009_7_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,228},{124,28}}</string>
                <key>offset</key>
                <string>{-13,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,196},{124,28}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4009_7_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,52},{72,102}}</string>
                <key>offset</key>
                <string>{-21,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,171},{72,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4009_7_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,214},{12,134}}</string>
                <key>offset</key>
                <string>{-16,100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,89},{12,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4009_7_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,204},{10,136}}</string>
                <key>offset</key>
                <string>{-15,108}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,80},{10,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4009_7_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,142},{40,120}}</string>
                <key>offset</key>
                <string>{-19,71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,125},{40,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4009_7_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,204},{54,44}}</string>
                <key>offset</key>
                <string>{-26,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,187},{54,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4009_7_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,154},{50,80}}</string>
                <key>offset</key>
                <string>{-29,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,172},{50,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4009_7_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,124},{38,130}}</string>
                <key>offset</key>
                <string>{-18,108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,83},{38,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4009_7_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,0},{52,128}}</string>
                <key>offset</key>
                <string>{-12,114}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,78},{52,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4009_7_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,122},{44,106}}</string>
                <key>offset</key>
                <string>{-30,82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,121},{44,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4009_7_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,0},{50,44}}</string>
                <key>offset</key>
                <string>{-24,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,177},{50,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4009_7_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,208},{28,70}}</string>
                <key>offset</key>
                <string>{-26,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,167},{28,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4009_7_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,62},{60,114}}</string>
                <key>offset</key>
                <string>{-10,115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,84},{60,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4009_7_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,122},{76,106}}</string>
                <key>offset</key>
                <string>{-2,119}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,84},{76,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4009_7_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,226},{30,96}}</string>
                <key>offset</key>
                <string>{-23,94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,114},{30,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4009_7_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,182},{122,22}}</string>
                <key>offset</key>
                <string>{-7,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,176},{122,22}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4009_7.png</string>
            <key>size</key>
            <string>{492,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:03dac0329731579181f3eace47a831bd:1/1$</string>
            <key>textureFileName</key>
            <string>4009_7.png</string>
        </dict>
    </dict>
</plist>
