<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4009_6_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,382},{118,70}}</string>
                <key>offset</key>
                <string>{-2,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,182},{118,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4009_6_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,84},{112,82}}</string>
                <key>offset</key>
                <string>{-5,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,175},{112,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4009_6_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{114,84}}</string>
                <key>offset</key>
                <string>{-5,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,174},{114,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4009_6_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,448},{76,28}}</string>
                <key>offset</key>
                <string>{19,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,189},{76,28}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4009_6_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,524},{74,28}}</string>
                <key>offset</key>
                <string>{18,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,192},{74,28}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4009_6_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,80},{58,102}}</string>
                <key>offset</key>
                <string>{-14,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,160},{58,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4009_6_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,500},{44,110}}</string>
                <key>offset</key>
                <string>{-16,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,154},{44,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4009_6_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,500},{50,110}}</string>
                <key>offset</key>
                <string>{-16,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,155},{50,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4009_6_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,256},{126,42}}</string>
                <key>offset</key>
                <string>{9,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,196},{126,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4009_6_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,256},{122,50}}</string>
                <key>offset</key>
                <string>{5,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,191},{122,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4009_6_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,84},{30,74}}</string>
                <key>offset</key>
                <string>{-23,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,183},{30,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4009_6_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,374},{36,74}}</string>
                <key>offset</key>
                <string>{-25,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,182},{36,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4009_6_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,166},{34,76}}</string>
                <key>offset</key>
                <string>{-26,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,181},{34,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4009_6_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,366},{108,82}}</string>
                <key>offset</key>
                <string>{-6,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,174},{108,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4009_6_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,166},{104,90}}</string>
                <key>offset</key>
                <string>{-9,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,167},{104,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4009_6_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,474},{112,78}}</string>
                <key>offset</key>
                <string>{-10,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,160},{112,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4009_6_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,0},{114,80}}</string>
                <key>offset</key>
                <string>{-7,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,158},{114,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4009_6_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,256},{110,82}}</string>
                <key>offset</key>
                <string>{-9,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,156},{110,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4009_6_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,138},{28,102}}</string>
                <key>offset</key>
                <string>{-14,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,157},{28,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4009_6_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,374},{28,108}}</string>
                <key>offset</key>
                <string>{-17,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,150},{28,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4009_6_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,378},{120,36}}</string>
                <key>offset</key>
                <string>{3,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,182},{120,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4009_6_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,166},{112,38}}</string>
                <key>offset</key>
                <string>{6,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,181},{112,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4009_6_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,498},{112,44}}</string>
                <key>offset</key>
                <string>{6,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,176},{112,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4009_6_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,166},{78,90}}</string>
                <key>offset</key>
                <string>{-18,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,155},{78,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4009_6_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,278},{74,96}}</string>
                <key>offset</key>
                <string>{-17,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,149},{74,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4009_6.png</string>
            <key>size</key>
            <string>{254,610}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:562396158a64e3017d354299930887f0:1/1$</string>
            <key>textureFileName</key>
            <string>4009_6.png</string>
        </dict>
    </dict>
</plist>
