<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4010_2_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,220},{40,74}}</string>
                <key>offset</key>
                <string>{7,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,202},{40,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4010_2_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,68},{2,2}}</string>
                <key>offset</key>
                <string>{0,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,157},{2,2}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4010_2_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,68},{2,2}}</string>
                <key>offset</key>
                <string>{0,84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,171},{2,2}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4010_2_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,566},{18,74}}</string>
                <key>offset</key>
                <string>{16,125}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,94},{18,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4010_2_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{20,648},{16,66}}</string>
                <key>offset</key>
                <string>{13,119}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{261,104},{16,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4010_2_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,68},{76,54}}</string>
                <key>offset</key>
                <string>{-48,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,204},{76,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4010_2_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,668},{42,16}}</string>
                <key>offset</key>
                <string>{42,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{277,206},{42,16}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4010_2_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,716},{46,20}}</string>
                <key>offset</key>
                <string>{43,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{276,195},{46,20}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4010_2_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,144},{12,90}}</string>
                <key>offset</key>
                <string>{26,110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{276,101},{12,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4010_2_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,374},{30,78}}</string>
                <key>offset</key>
                <string>{7,114}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,103},{30,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4010_2_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,530},{68,26}}</string>
                <key>offset</key>
                <string>{-75,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,193},{68,26}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4010_2_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,394},{82,28}}</string>
                <key>offset</key>
                <string>{67,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{282,220},{82,28}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4010_2_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,294},{80,36}}</string>
                <key>offset</key>
                <string>{58,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{274,208},{80,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4010_2_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,476},{24,86}}</string>
                <key>offset</key>
                <string>{19,100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,113},{24,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4010_2_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,306},{26,88}}</string>
                <key>offset</key>
                <string>{-3,114}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,98},{26,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4010_2_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,716},{24,14}}</string>
                <key>offset</key>
                <string>{-57,76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,173},{24,14}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4010_2_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,144},{48,76}}</string>
                <key>offset</key>
                <string>{44,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{276,230},{48,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4010_2_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{68,62}}</string>
                <key>offset</key>
                <string>{39,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{261,215},{68,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4010_2_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,452},{28,78}}</string>
                <key>offset</key>
                <string>{2,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,121},{28,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4010_2_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,476},{10,90}}</string>
                <key>offset</key>
                <string>{-12,116}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,95},{10,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4010_2_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,68},{4,18}}</string>
                <key>offset</key>
                <string>{-20,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,156},{4,18}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4010_2_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,234},{22,72}}</string>
                <key>offset</key>
                <string>{9,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,235},{22,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4010_2_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,640},{16,76}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,215},{16,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4010_2_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,598},{20,70}}</string>
                <key>offset</key>
                <string>{-16,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,123},{20,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4010_2_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,562},{18,86}}</string>
                <key>offset</key>
                <string>{-12,121}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,92},{18,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4010_2.png</string>
            <key>size</key>
            <string>{62,740}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:076a55ab34c4b9d97db758a9f40d9a7c:1/1$</string>
            <key>textureFileName</key>
            <string>4010_2.png</string>
        </dict>
    </dict>
</plist>
