<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4010_7_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,172},{18,92}}</string>
                <key>offset</key>
                <string>{29,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{276,146},{18,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4010_7_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,744},{34,76}}</string>
                <key>offset</key>
                <string>{10,128}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,90},{34,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4010_7_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,170},{46,72}}</string>
                <key>offset</key>
                <string>{-4,131}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,89},{46,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4010_7_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,82},{16,90}}</string>
                <key>offset</key>
                <string>{30,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{278,106},{16,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4010_7_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,372},{84,36}}</string>
                <key>offset</key>
                <string>{37,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{251,189},{84,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4010_7_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,262},{40,82}}</string>
                <key>offset</key>
                <string>{18,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,161},{40,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4010_7_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,352},{26,86}}</string>
                <key>offset</key>
                <string>{-4,127}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,86},{26,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4010_7_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,572},{34,86}}</string>
                <key>offset</key>
                <string>{-13,134}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,79},{34,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4010_7_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,590},{18,88}}</string>
                <key>offset</key>
                <string>{12,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,116},{18,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4010_7_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,736},{84,18}}</string>
                <key>offset</key>
                <string>{16,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,205},{84,18}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4010_7_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,32},{48,66}}</string>
                <key>offset</key>
                <string>{-4,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,171},{48,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4010_7_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,590},{8,90}}</string>
                <key>offset</key>
                <string>{-15,131}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,80},{8,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4010_7_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{18,736},{6,82}}</string>
                <key>offset</key>
                <string>{-13,135}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,80},{6,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4010_7_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,438},{28,80}}</string>
                <key>offset</key>
                <string>{-12,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,119},{28,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4010_7_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,344},{38,28}}</string>
                <key>offset</key>
                <string>{-15,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,201},{38,28}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4010_7_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{32,52}}</string>
                <key>offset</key>
                <string>{-25,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,172},{32,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4010_7_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,264},{24,88}}</string>
                <key>offset</key>
                <string>{-18,138}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,74},{24,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4010_7_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,484},{34,88}}</string>
                <key>offset</key>
                <string>{-7,144}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,68},{34,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4010_7_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,518},{28,72}}</string>
                <key>offset</key>
                <string>{-30,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,115},{28,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4010_7_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,456},{36,28}}</string>
                <key>offset</key>
                <string>{-36,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,191},{36,28}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4010_7_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,242},{20,46}}</string>
                <key>offset</key>
                <string>{-28,68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,165},{20,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4010_7_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,658},{34,78}}</string>
                <key>offset</key>
                <string>{-9,143}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,74},{34,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4010_7_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,98},{46,72}}</string>
                <key>offset</key>
                <string>{5,144}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,76},{46,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4010_7_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,678},{16,66}}</string>
                <key>offset</key>
                <string>{-29,116}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,107},{16,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4010_7_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,0},{82,10}}</string>
                <key>offset</key>
                <string>{-36,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,185},{82,10}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4010_7.png</string>
            <key>size</key>
            <string>{64,820}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a0daa56304e09f83e3f1df97d22f5eb1:1/1$</string>
            <key>textureFileName</key>
            <string>4010_7.png</string>
        </dict>
    </dict>
</plist>
