<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4010_6_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,58},{82,48}}</string>
                <key>offset</key>
                <string>{23,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,206},{82,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4010_6_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,184},{76,56}}</string>
                <key>offset</key>
                <string>{18,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,205},{76,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4010_6_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,128},{76,56}}</string>
                <key>offset</key>
                <string>{18,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,206},{76,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4010_6_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,256},{52,14}}</string>
                <key>offset</key>
                <string>{38,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{268,202},{52,14}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4010_6_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,270},{50,14}}</string>
                <key>offset</key>
                <string>{36,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{267,203},{50,14}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4010_6_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,442},{40,70}}</string>
                <key>offset</key>
                <string>{-3,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,200},{40,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4010_6_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,358},{30,74}}</string>
                <key>offset</key>
                <string>{-8,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,198},{30,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4010_6_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,240},{34,76}}</string>
                <key>offset</key>
                <string>{-9,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,198},{34,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4010_6_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{86,26}}</string>
                <key>offset</key>
                <string>{37,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,209},{86,26}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4010_6_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,26},{84,32}}</string>
                <key>offset</key>
                <string>{32,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,207},{84,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4010_6_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,482},{28,70}}</string>
                <key>offset</key>
                <string>{-27,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,194},{28,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4010_6_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,406},{36,72}}</string>
                <key>offset</key>
                <string>{-29,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,192},{36,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4010_6_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,326},{32,74}}</string>
                <key>offset</key>
                <string>{-30,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,192},{32,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4010_6_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,186},{70,56}}</string>
                <key>offset</key>
                <string>{14,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,204},{70,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4010_6_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,344},{68,58}}</string>
                <key>offset</key>
                <string>{10,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,203},{68,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4010_6_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,0},{62,46}}</string>
                <key>offset</key>
                <string>{-41,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,196},{62,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4010_6_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,442},{62,44}}</string>
                <key>offset</key>
                <string>{-41,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,198},{62,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4010_6_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,284},{60,46}}</string>
                <key>offset</key>
                <string>{-40,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,198},{60,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4010_6_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,412},{18,70}}</string>
                <key>offset</key>
                <string>{-18,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,197},{18,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4010_6_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,388},{18,74}}</string>
                <key>offset</key>
                <string>{-19,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,193},{18,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4010_6_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,106},{80,22}}</string>
                <key>offset</key>
                <string>{-22,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,193},{80,22}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4010_6_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,302},{76,24}}</string>
                <key>offset</key>
                <string>{-17,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,193},{76,24}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4010_6_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,274},{76,28}}</string>
                <key>offset</key>
                <string>{-17,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,191},{76,28}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4010_6_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,124},{52,62}}</string>
                <key>offset</key>
                <string>{-36,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,190},{52,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4010_6_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,62},{50,62}}</string>
                <key>offset</key>
                <string>{-35,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,190},{50,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4010_6.png</string>
            <key>size</key>
            <string>{132,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:14ae2abb8d5087b18a6a4c90320c7fd9:1/1$</string>
            <key>textureFileName</key>
            <string>4010_6.png</string>
        </dict>
    </dict>
</plist>
