<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4011_8_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,410},{98,52}}</string>
                <key>offset</key>
                <string>{4,79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,151},{98,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4011_8_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,76},{104,62}}</string>
                <key>offset</key>
                <string>{-9,98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,127},{104,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4011_8_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,270},{92,26}}</string>
                <key>offset</key>
                <string>{53,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{263,205},{92,26}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4011_8_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,486},{78,24}}</string>
                <key>offset</key>
                <string>{3,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,177},{78,24}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4011_8_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,0},{106,52}}</string>
                <key>offset</key>
                <string>{44,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,163},{106,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4011_8_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,396},{34,70}}</string>
                <key>offset</key>
                <string>{-20,82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,139},{34,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4011_8_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,270},{58,92}}</string>
                <key>offset</key>
                <string>{31,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{258,115},{58,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4011_8_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,180},{114,48}}</string>
                <key>offset</key>
                <string>{51,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{250,215},{114,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4011_8_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,468},{30,36}}</string>
                <key>offset</key>
                <string>{-23,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,168},{30,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4011_8_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,396},{78,24}}</string>
                <key>offset</key>
                <string>{9,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,191},{78,24}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4011_8_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,208},{78,62}}</string>
                <key>offset</key>
                <string>{-26,90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,135},{78,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4011_8_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,272},{44,98}}</string>
                <key>offset</key>
                <string>{58,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{292,129},{44,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4011_8_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,52},{76,78}}</string>
                <key>offset</key>
                <string>{17,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,210},{76,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4011_8_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,396},{90,28}}</string>
                <key>offset</key>
                <string>{-30,85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,157},{90,28}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4011_8_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,466},{30,14}}</string>
                <key>offset</key>
                <string>{-35,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,189},{30,14}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4011_8_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,294},{116,28}}</string>
                <key>offset</key>
                <string>{-18,99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,143},{116,28}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4011_8_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{96,76}}</string>
                <key>offset</key>
                <string>{44,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,158},{96,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4011_8_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,362},{34,84}}</string>
                <key>offset</key>
                <string>{-29,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,204},{34,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4011_8_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,294},{116,44}}</string>
                <key>offset</key>
                <string>{-23,96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,138},{116,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4011_8_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,52},{84,16}}</string>
                <key>offset</key>
                <string>{-56,78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,170},{84,16}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4011_8_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,370},{98,26}}</string>
                <key>offset</key>
                <string>{-2,105}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,138},{98,26}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4011_8_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,410},{102,38}}</string>
                <key>offset</key>
                <string>{10,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,188},{102,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4011_8_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,182},{90,64}}</string>
                <key>offset</key>
                <string>{-52,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,199},{90,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4011_8_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,130},{78,74}}</string>
                <key>offset</key>
                <string>{-2,99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,120},{78,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4011_8_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,76},{106,50}}</string>
                <key>offset</key>
                <string>{-44,98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,133},{106,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4011_8.png</string>
            <key>size</key>
            <string>{205,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:16ac5de1823d0e7e63ce8472d49a54da:1/1$</string>
            <key>textureFileName</key>
            <string>4011_8.png</string>
        </dict>
    </dict>
</plist>
