<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4011_0_0_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,264},{12,56}}</string>
                <key>offset</key>
                <string>{20,71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{270,157},{12,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4011_0_0_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,186},{12,80}}</string>
                <key>offset</key>
                <string>{21,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{271,140},{12,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4011_0_0_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,86},{12,92}}</string>
                <key>offset</key>
                <string>{23,87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{273,123},{12,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4011_0_0_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,274},{12,82}}</string>
                <key>offset</key>
                <string>{24,82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{274,133},{12,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4011_0_0_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,252},{12,64}}</string>
                <key>offset</key>
                <string>{22,75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{272,149},{12,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4011_0_0_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,192},{82,44}}</string>
                <key>offset</key>
                <string>{41,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{256,177},{82,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4011_0_0_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,170},{82,64}}</string>
                <key>offset</key>
                <string>{43,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{258,160},{82,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4011_0_0_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{80,76}}</string>
                <key>offset</key>
                <string>{49,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{265,146},{80,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4011_0_0_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,102},{82,68}}</string>
                <key>offset</key>
                <string>{50,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{265,154},{82,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4011_0_0_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,102},{84,48}}</string>
                <key>offset</key>
                <string>{44,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{258,170},{84,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4011_0_0_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,68},{118,34}}</string>
                <key>offset</key>
                <string>{39,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,197},{118,34}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4011_0_0_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,34},{118,34}}</string>
                <key>offset</key>
                <string>{42,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,198},{118,34}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4011_0_0_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,76},{114,42}}</string>
                <key>offset</key>
                <string>{49,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{248,186},{114,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4011_0_0_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,76},{116,36}}</string>
                <key>offset</key>
                <string>{50,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{248,195},{116,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4011_0_0_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,0},{118,34}}</string>
                <key>offset</key>
                <string>{43,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,195},{118,34}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4011_0_0_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,0},{86,58}}</string>
                <key>offset</key>
                <string>{15,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,197},{86,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4011_0_0_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,190},{84,38}}</string>
                <key>offset</key>
                <string>{15,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,205},{84,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4011_0_0_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,168},{80,32}}</string>
                <key>offset</key>
                <string>{18,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,202},{80,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4011_0_0_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,86},{82,36}}</string>
                <key>offset</key>
                <string>{18,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,205},{82,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4011_0_0_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,186},{86,52}}</string>
                <key>offset</key>
                <string>{15,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,199},{86,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4011_0_0_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,178},{14,74}}</string>
                <key>offset</key>
                <string>{-19,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,187},{14,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4011_0_0_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,272},{14,52}}</string>
                <key>offset</key>
                <string>{-20,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,197},{14,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4011_0_0_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,248},{14,38}}</string>
                <key>offset</key>
                <string>{-22,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,200},{14,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4011_0_0_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,248},{14,48}}</string>
                <key>offset</key>
                <string>{-23,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,199},{14,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4011_0_0_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,276},{12,66}}</string>
                <key>offset</key>
                <string>{-20,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,190},{12,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4011_0_0.png</string>
            <key>size</key>
            <string>{256,296}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:74f6f40b8ef3e49a512e93fb90bf3a39:1/1$</string>
            <key>textureFileName</key>
            <string>4011_0_0.png</string>
        </dict>
    </dict>
</plist>
