<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4011_0_3_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,98},{12,32}}</string>
                <key>offset</key>
                <string>{25,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{275,190},{12,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4011_0_3_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,60},{82,32}}</string>
                <key>offset</key>
                <string>{38,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{253,200},{82,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4011_0_3_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{110,60}}</string>
                <key>offset</key>
                <string>{29,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,199},{110,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4011_0_3_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,60},{74,88}}</string>
                <key>offset</key>
                <string>{4,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,189},{74,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4011_0_3_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,0},{14,98}}</string>
                <key>offset</key>
                <string>{-24,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,178},{14,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4011_0_3.png</string>
            <key>size</key>
            <string>{124,148}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:451aa722c24023ca59baa28d5e98e21e:1/1$</string>
            <key>textureFileName</key>
            <string>4011_0_3.png</string>
        </dict>
    </dict>
</plist>
