<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4011_2_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,0},{52,104}}</string>
                <key>offset</key>
                <string>{4,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,194},{52,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4011_2_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,132},{2,2}}</string>
                <key>offset</key>
                <string>{-19,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,174},{2,2}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4011_2_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,132},{2,2}}</string>
                <key>offset</key>
                <string>{-18,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,175},{2,2}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4011_2_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,52},{24,108}}</string>
                <key>offset</key>
                <string>{16,121}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{260,81},{24,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4011_2_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,76},{24,86}}</string>
                <key>offset</key>
                <string>{13,120}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{257,93},{24,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4011_2_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{94,78}}</string>
                <key>offset</key>
                <string>{-50,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,198},{94,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4011_2_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,140},{62,28}}</string>
                <key>offset</key>
                <string>{46,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{271,200},{62,28}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4011_2_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,120},{66,30}}</string>
                <key>offset</key>
                <string>{48,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{271,191},{66,30}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4011_2_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,122},{18,112}}</string>
                <key>offset</key>
                <string>{26,113}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{273,87},{18,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4011_2_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,0},{48,96}}</string>
                <key>offset</key>
                <string>{1,116}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,92},{48,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4011_2_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,48},{84,46}}</string>
                <key>offset</key>
                <string>{-76,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,189},{84,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4011_2_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,134},{112,32}}</string>
                <key>offset</key>
                <string>{74,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{274,220},{112,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4011_2_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,90},{110,44}}</string>
                <key>offset</key>
                <string>{66,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{267,206},{110,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4011_2_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,100},{32,112}}</string>
                <key>offset</key>
                <string>{19,106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{259,94},{32,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4011_2_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,0},{48,108}}</string>
                <key>offset</key>
                <string>{-10,117}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,85},{48,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4011_2_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,140},{26,36}}</string>
                <key>offset</key>
                <string>{-57,74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,164},{26,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4011_2_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,0},{70,98}}</string>
                <key>offset</key>
                <string>{49,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{270,221},{70,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4011_2_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,78},{92,76}}</string>
                <key>offset</key>
                <string>{45,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,209},{92,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4011_2_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,132},{36,108}}</string>
                <key>offset</key>
                <string>{4,103}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,99},{36,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4011_2_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,48},{26,118}}</string>
                <key>offset</key>
                <string>{-13,123}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,74},{26,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4011_2_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,154},{12,36}}</string>
                <key>offset</key>
                <string>{-19,88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,150},{12,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4011_2_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,94},{26,80}}</string>
                <key>offset</key>
                <string>{11,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{254,236},{26,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4011_2_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,70},{20,88}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{245,214},{20,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4011_2_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,98},{24,102}}</string>
                <key>offset</key>
                <string>{-16,107}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,98},{24,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4011_2_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,74},{24,116}}</string>
                <key>offset</key>
                <string>{-13,129}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,69},{24,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4011_2.png</string>
            <key>size</key>
            <string>{505,168}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2f3b7515ed7d9aa1bed9fd8771017778:1/1$</string>
            <key>textureFileName</key>
            <string>4011_2.png</string>
        </dict>
    </dict>
</plist>
