<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4012_0_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,640},{20,54}}</string>
                <key>offset</key>
                <string>{25,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{271,171},{20,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4012_0_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,330},{20,78}}</string>
                <key>offset</key>
                <string>{22,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{268,157},{20,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4012_0_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,78},{20,90}}</string>
                <key>offset</key>
                <string>{22,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{268,151},{20,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4012_0_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,168},{20,82}}</string>
                <key>offset</key>
                <string>{25,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{271,153},{20,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4012_0_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,698},{20,62}}</string>
                <key>offset</key>
                <string>{24,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{270,165},{20,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4012_0_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,482},{94,40}}</string>
                <key>offset</key>
                <string>{21,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,188},{94,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4012_0_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,266},{92,62}}</string>
                <key>offset</key>
                <string>{26,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,173},{92,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4012_0_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{92,78}}</string>
                <key>offset</key>
                <string>{27,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,163},{92,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4012_0_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,78},{94,68}}</string>
                <key>offset</key>
                <string>{23,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,168},{94,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4012_0_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,452},{94,48}}</string>
                <key>offset</key>
                <string>{21,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,180},{94,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4012_0_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,242},{122,32}}</string>
                <key>offset</key>
                <string>{2,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,205},{122,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4012_0_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,0},{122,32}}</string>
                <key>offset</key>
                <string>{10,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,197},{122,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4012_0_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,364},{118,42}}</string>
                <key>offset</key>
                <string>{13,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,187},{118,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4012_0_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,122},{120,34}}</string>
                <key>offset</key>
                <string>{4,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,190},{120,34}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4012_0_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,480},{124,30}}</string>
                <key>offset</key>
                <string>{1,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,201},{124,30}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4012_0_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,172},{94,64}}</string>
                <key>offset</key>
                <string>{-12,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,184},{94,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4012_0_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,546},{94,42}}</string>
                <key>offset</key>
                <string>{-6,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,200},{94,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4012_0_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,596},{92,32}}</string>
                <key>offset</key>
                <string>{-3,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,205},{92,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4012_0_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,604},{94,40}}</string>
                <key>offset</key>
                <string>{-12,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,195},{94,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4012_0_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,358},{94,58}}</string>
                <key>offset</key>
                <string>{-13,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,184},{94,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4012_0_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,250},{20,80}}</string>
                <key>offset</key>
                <string>{-22,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,167},{20,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4012_0_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,698},{20,58}}</string>
                <key>offset</key>
                <string>{-21,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,185},{20,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4012_0_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,576},{20,42}}</string>
                <key>offset</key>
                <string>{-21,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,195},{20,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4012_0_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{20,640},{20,52}}</string>
                <key>offset</key>
                <string>{-24,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,181},{20,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4012_0_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,408},{20,72}}</string>
                <key>offset</key>
                <string>{-23,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,169},{20,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4012_0.png</string>
            <key>size</key>
            <string>{124,718}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9b886f96cfda6cc64ec1d2d358348329:1/1$</string>
            <key>textureFileName</key>
            <string>4012_0.png</string>
        </dict>
    </dict>
</plist>
