<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4012_1_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,538},{100,62}}</string>
                <key>offset</key>
                <string>{28,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,184},{100,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4012_1_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,764},{98,62}}</string>
                <key>offset</key>
                <string>{28,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,184},{98,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4012_1_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,440},{98,64}}</string>
                <key>offset</key>
                <string>{28,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,184},{98,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4012_1_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,342},{98,64}}</string>
                <key>offset</key>
                <string>{29,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,183},{98,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4012_1_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,86},{106,86}}</string>
                <key>offset</key>
                <string>{20,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,173},{106,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4012_1_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{106,86}}</string>
                <key>offset</key>
                <string>{19,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,173},{106,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4012_1_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,172},{106,84}}</string>
                <key>offset</key>
                <string>{20,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,176},{106,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4012_1_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,256},{104,86}}</string>
                <key>offset</key>
                <string>{21,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,174},{104,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4012_1_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,448},{62,106}}</string>
                <key>offset</key>
                <string>{5,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,162},{62,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4012_1_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,342},{64,106}}</string>
                <key>offset</key>
                <string>{5,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,162},{64,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4012_1_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,554},{62,104}}</string>
                <key>offset</key>
                <string>{5,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,164},{62,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4012_1_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,658},{60,106}}</string>
                <key>offset</key>
                <string>{5,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,163},{60,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4012_1_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,920},{34,82}}</string>
                <key>offset</key>
                <string>{-24,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,184},{34,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4012_1_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,716},{34,80}}</string>
                <key>offset</key>
                <string>{-25,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,186},{34,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4012_1_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,716},{32,76}}</string>
                <key>offset</key>
                <string>{-26,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,190},{32,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4012_1_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,920},{34,82}}</string>
                <key>offset</key>
                <string>{-24,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,184},{34,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4012_1_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,862},{68,58}}</string>
                <key>offset</key>
                <string>{-42,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,190},{68,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4012_1_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,658},{68,58}}</string>
                <key>offset</key>
                <string>{-42,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,190},{68,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4012_1_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,932},{70,60}}</string>
                <key>offset</key>
                <string>{-42,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,189},{70,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4012_1_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,862},{70,60}}</string>
                <key>offset</key>
                <string>{-42,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,188},{70,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4012_1.png</string>
            <key>size</key>
            <string>{128,1013}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ee7d21779414056dd7d5d85e14e2d773:1/1$</string>
            <key>textureFileName</key>
            <string>4012_1.png</string>
        </dict>
    </dict>
</plist>
