<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4012_0_7_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,146},{28,124}}</string>
                <key>offset</key>
                <string>{27,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{269,161},{28,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4012_0_7_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,154},{56,102}}</string>
                <key>offset</key>
                <string>{6,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,107},{56,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4012_0_7_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,0},{70,98}}</string>
                <key>offset</key>
                <string>{-2,100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,107},{70,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4012_0_7_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,56},{42,122}}</string>
                <key>offset</key>
                <string>{17,76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{252,119},{42,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4012_0_7_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,0},{112,56}}</string>
                <key>offset</key>
                <string>{6,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,179},{112,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4012_0_7_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{58,118}}</string>
                <key>offset</key>
                <string>{3,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,166},{58,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4012_0_7_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,0},{50,116}}</string>
                <key>offset</key>
                <string>{-6,96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,102},{50,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4012_0_7_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,118},{54,118}}</string>
                <key>offset</key>
                <string>{-11,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,96},{54,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4012_0_7_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,176},{38,120}}</string>
                <key>offset</key>
                <string>{3,71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,125},{38,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4012_0_7_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,100},{116,46}}</string>
                <key>offset</key>
                <string>{-12,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,180},{116,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4012_0_7_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,0},{72,98}}</string>
                <key>offset</key>
                <string>{-16,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,170},{72,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4012_0_7_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,214},{26,124}}</string>
                <key>offset</key>
                <string>{-12,97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,97},{26,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4012_0_7_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,236},{20,124}}</string>
                <key>offset</key>
                <string>{-10,103}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,91},{20,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4012_0_7_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,50},{50,114}}</string>
                <key>offset</key>
                <string>{-12,76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,123},{50,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4012_0_7_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,122},{60,54}}</string>
                <key>offset</key>
                <string>{-20,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,173},{60,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4012_0_7_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,42},{52,80}}</string>
                <key>offset</key>
                <string>{-23,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,168},{52,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4012_0_7_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,174},{40,120}}</string>
                <key>offset</key>
                <string>{-10,103}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,93},{40,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4012_0_7_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,118},{54,118}}</string>
                <key>offset</key>
                <string>{-3,108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,89},{54,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4012_0_7_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,154},{46,100}}</string>
                <key>offset</key>
                <string>{-24,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,121},{46,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4012_0_7_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,196},{52,52}}</string>
                <key>offset</key>
                <string>{-24,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,163},{52,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4012_0_7_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,94},{28,72}}</string>
                <key>offset</key>
                <string>{-26,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,163},{28,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4012_0_7_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,98},{56,108}}</string>
                <key>offset</key>
                <string>{-4,108}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,94},{56,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4012_0_7_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,98},{68,98}}</string>
                <key>offset</key>
                <string>{3,110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,97},{68,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4012_0_7_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,0},{42,90}}</string>
                <key>offset</key>
                <string>{-15,94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,117},{42,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4012_0_7_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,214},{112,42}}</string>
                <key>offset</key>
                <string>{-5,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,156},{112,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4012_0_7.png</string>
            <key>size</key>
            <string>{519,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:63c8a6bb18cafe297a3f47079bab76af:1/1$</string>
            <key>textureFileName</key>
            <string>4012_0_7.png</string>
        </dict>
    </dict>
</plist>
