<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4012_7_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,42},{38,124}}</string>
                <key>offset</key>
                <string>{25,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{262,158},{38,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4012_7_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,114},{54,104}}</string>
                <key>offset</key>
                <string>{8,106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,98},{54,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4012_7_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,142},{68,100}}</string>
                <key>offset</key>
                <string>{-1,109}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,97},{68,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4012_7_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,80},{34,124}}</string>
                <key>offset</key>
                <string>{23,79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{262,115},{34,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4012_7_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,118},{112,66}}</string>
                <key>offset</key>
                <string>{11,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,167},{112,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4012_7_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,0},{58,116}}</string>
                <key>offset</key>
                <string>{6,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,164},{58,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4012_7_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,54},{46,118}}</string>
                <key>offset</key>
                <string>{-6,104}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,93},{46,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4012_7_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{66,118}}</string>
                <key>offset</key>
                <string>{-18,110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,87},{66,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4012_7_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,114},{28,120}}</string>
                <key>offset</key>
                <string>{9,73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{251,123},{28,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4012_7_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,100},{118,40}}</string>
                <key>offset</key>
                <string>{-7,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,188},{118,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4012_7_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,140},{72,96}}</string>
                <key>offset</key>
                <string>{-14,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,169},{72,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4012_7_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,230},{22,122}}</string>
                <key>offset</key>
                <string>{-13,105}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,90},{22,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4012_7_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,0},{42,124}}</string>
                <key>offset</key>
                <string>{-23,112}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,82},{42,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4012_7_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,0},{46,112}}</string>
                <key>offset</key>
                <string>{-12,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,123},{46,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4012_7_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,142},{62,44}}</string>
                <key>offset</key>
                <string>{-18,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,186},{62,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4012_7_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,192},{54,78}}</string>
                <key>offset</key>
                <string>{-23,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,167},{54,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4012_7_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,210},{42,120}}</string>
                <key>offset</key>
                <string>{-13,112}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,84},{42,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4012_7_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,0},{54,118}}</string>
                <key>offset</key>
                <string>{-5,118}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,79},{54,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4012_7_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,68},{46,100}}</string>
                <key>offset</key>
                <string>{-25,87}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,119},{46,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4012_7_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,112},{50,42}}</string>
                <key>offset</key>
                <string>{-26,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,176},{50,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4012_7_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,192},{38,70}}</string>
                <key>offset</key>
                <string>{-24,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,162},{38,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4012_7_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,116},{54,106}}</string>
                <key>offset</key>
                <string>{-7,118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,85},{54,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4012_7_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,0},{68,100}}</string>
                <key>offset</key>
                <string>{2,121}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,85},{68,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4012_7_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,212},{34,92}}</string>
                <key>offset</key>
                <string>{-21,97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,113},{34,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4012_7_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,168},{112,24}}</string>
                <key>offset</key>
                <string>{-10,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,176},{112,24}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4012_7.png</string>
            <key>size</key>
            <string>{512,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:689f2ce70bcf48e25cfa1e71a7e5218b:1/1$</string>
            <key>textureFileName</key>
            <string>4012_7.png</string>
        </dict>
    </dict>
</plist>
