<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4013_0_0_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,228},{10,50}}</string>
                <key>offset</key>
                <string>{20,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{271,175},{10,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4013_0_0_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{10,258},{10,76}}</string>
                <key>offset</key>
                <string>{21,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{272,164},{10,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4013_0_0_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,180},{10,92}}</string>
                <key>offset</key>
                <string>{23,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{274,149},{10,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4013_0_0_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{10,238},{10,82}}</string>
                <key>offset</key>
                <string>{24,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{275,156},{10,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4013_0_0_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,160},{12,60}}</string>
                <key>offset</key>
                <string>{21,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{271,168},{12,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4013_0_0_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,180},{96,32}}</string>
                <key>offset</key>
                <string>{16,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,191},{96,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4013_0_0_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,100},{96,60}}</string>
                <key>offset</key>
                <string>{19,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,179},{96,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4013_0_0_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,180},{94,76}}</string>
                <key>offset</key>
                <string>{27,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,167},{94,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4013_0_0_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,164},{96,64}}</string>
                <key>offset</key>
                <string>{26,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,175},{96,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4013_0_0_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,174},{96,42}}</string>
                <key>offset</key>
                <string>{20,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,185},{96,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4013_0_0_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{138,22}}</string>
                <key>offset</key>
                <string>{4,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,200},{138,22}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4013_0_0_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,34},{138,12}}</string>
                <key>offset</key>
                <string>{8,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,208},{138,12}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4013_0_0_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,46},{136,28}}</string>
                <key>offset</key>
                <string>{16,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,199},{136,28}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4013_0_0_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,0},{138,16}}</string>
                <key>offset</key>
                <string>{16,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,206},{138,16}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4013_0_0_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,22},{138,12}}</string>
                <key>offset</key>
                <string>{8,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,205},{138,12}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4013_0_0_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,74},{100,68}}</string>
                <key>offset</key>
                <string>{-11,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,175},{100,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4013_0_0_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,58},{102,42}}</string>
                <key>offset</key>
                <string>{-10,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,192},{102,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4013_0_0_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,142},{98,22}}</string>
                <key>offset</key>
                <string>{-5,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,204},{98,22}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4013_0_0_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,74},{100,36}}</string>
                <key>offset</key>
                <string>{-6,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,197},{100,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4013_0_0_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,0},{102,58}}</string>
                <key>offset</key>
                <string>{-10,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,182},{102,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4013_0_0_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{10,228},{10,86}}</string>
                <key>offset</key>
                <string>{-19,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,160},{10,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4013_0_0_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,160},{10,60}}</string>
                <key>offset</key>
                <string>{-20,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,178},{10,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4013_0_0_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{10,268},{10,42}}</string>
                <key>offset</key>
                <string>{-22,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,188},{10,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4013_0_0_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,170},{10,54}}</string>
                <key>offset</key>
                <string>{-23,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,183},{10,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4013_0_0_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{10,248},{10,78}}</string>
                <key>offset</key>
                <string>{-20,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,165},{10,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4013_0_0.png</string>
            <key>size</key>
            <string>{256,279}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3623c3629fc0dbb67d1842143356d12a:1/1$</string>
            <key>textureFileName</key>
            <string>4013_0_0.png</string>
        </dict>
    </dict>
</plist>
