<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4013_0_7_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,58},{20,138}}</string>
                <key>offset</key>
                <string>{26,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{272,148},{20,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4013_0_7_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,76},{50,110}}</string>
                <key>offset</key>
                <string>{13,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,100},{50,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4013_0_7_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,102},{66,110}}</string>
                <key>offset</key>
                <string>{4,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,96},{66,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4013_0_7_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,58},{10,136}}</string>
                <key>offset</key>
                <string>{28,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{279,107},{10,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4013_0_7_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,50},{126,52}}</string>
                <key>offset</key>
                <string>{12,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,187},{126,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4013_0_7_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{64,122}}</string>
                <key>offset</key>
                <string>{6,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,163},{64,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4013_0_7_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,212},{44,126}}</string>
                <key>offset</key>
                <string>{0,98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,95},{44,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4013_0_7_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,0},{48,130}}</string>
                <key>offset</key>
                <string>{-5,105}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,86},{48,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4013_0_7_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,122},{34,130}}</string>
                <key>offset</key>
                <string>{7,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,117},{34,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4013_0_7_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,48},{126,10}}</string>
                <key>offset</key>
                <string>{-8,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,208},{126,10}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4013_0_7_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,0},{76,98}}</string>
                <key>offset</key>
                <string>{-18,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,172},{76,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4013_0_7_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,196},{16,136}}</string>
                <key>offset</key>
                <string>{-13,101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,87},{16,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4013_0_7_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,0},{8,138}}</string>
                <key>offset</key>
                <string>{-11,108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,79},{8,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4013_0_7_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,96},{48,118}}</string>
                <key>offset</key>
                <string>{-17,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,121},{48,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4013_0_7_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,214},{58,42}}</string>
                <key>offset</key>
                <string>{-24,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,186},{58,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4013_0_7_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,76},{48,76}}</string>
                <key>offset</key>
                <string>{-31,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,174},{48,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4013_0_7_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,122},{30,134}}</string>
                <key>offset</key>
                <string>{-18,108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,81},{30,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4013_0_7_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,0},{50,130}}</string>
                <key>offset</key>
                <string>{-11,113}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,78},{50,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4013_0_7_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,58},{38,104}}</string>
                <key>offset</key>
                <string>{-31,86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,118},{38,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4013_0_7_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,152},{54,44}}</string>
                <key>offset</key>
                <string>{-25,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,175},{54,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4013_0_7_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,232},{18,72}}</string>
                <key>offset</key>
                <string>{-25,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,164},{18,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4013_0_7_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,96},{50,120}}</string>
                <key>offset</key>
                <string>{-12,114}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,82},{50,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4013_0_7_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,102},{66,110}}</string>
                <key>offset</key>
                <string>{-4,116}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,85},{66,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4013_0_7_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,222},{10,96}}</string>
                <key>offset</key>
                <string>{-26,97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,111},{10,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4013_0_7_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,212},{124,10}}</string>
                <key>offset</key>
                <string>{-11,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,185},{124,10}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4013_0_7.png</string>
            <key>size</key>
            <string>{430,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:85fa1cc5bc012eda557a3b0749446e5d:1/1$</string>
            <key>textureFileName</key>
            <string>4013_0_7.png</string>
        </dict>
    </dict>
</plist>
