<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4013_0_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,414},{8,52}}</string>
                <key>offset</key>
                <string>{26,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{278,180},{8,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4013_0_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,414},{8,80}}</string>
                <key>offset</key>
                <string>{23,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{275,163},{8,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4013_0_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,218},{8,94}}</string>
                <key>offset</key>
                <string>{22,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{274,154},{8,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4013_0_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,396},{8,84}}</string>
                <key>offset</key>
                <string>{25,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{277,159},{8,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4013_0_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,502},{8,62}}</string>
                <key>offset</key>
                <string>{25,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{277,173},{8,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4013_0_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,316},{98,34}}</string>
                <key>offset</key>
                <string>{20,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,198},{98,34}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4013_0_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,302},{98,60}}</string>
                <key>offset</key>
                <string>{25,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,182},{98,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4013_0_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,414},{96,76}}</string>
                <key>offset</key>
                <string>{27,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,171},{96,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4013_0_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,236},{98,66}}</string>
                <key>offset</key>
                <string>{23,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,177},{98,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4013_0_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,362},{98,44}}</string>
                <key>offset</key>
                <string>{20,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,190},{98,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4013_0_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,32},{136,24}}</string>
                <key>offset</key>
                <string>{4,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,207},{136,24}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4013_0_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{138,18}}</string>
                <key>offset</key>
                <string>{13,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,209},{138,18}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4013_0_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,78},{134,34}}</string>
                <key>offset</key>
                <string>{17,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,199},{134,34}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4013_0_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,56},{136,22}}</string>
                <key>offset</key>
                <string>{8,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,205},{136,22}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4013_0_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,18},{138,14}}</string>
                <key>offset</key>
                <string>{4,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,210},{138,14}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4013_0_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,170},{98,66}}</string>
                <key>offset</key>
                <string>{-14,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,184},{98,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4013_0_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,112},{98,40}}</string>
                <key>offset</key>
                <string>{-6,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,201},{98,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4013_0_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,406},{96,22}}</string>
                <key>offset</key>
                <string>{-2,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,209},{96,22}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4013_0_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,218},{98,34}}</string>
                <key>offset</key>
                <string>{-12,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,198},{98,34}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4013_0_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,112},{100,58}}</string>
                <key>offset</key>
                <string>{-15,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,185},{100,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4013_0_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,312},{8,84}}</string>
                <key>offset</key>
                <string>{-23,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,168},{8,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4013_0_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,414},{8,58}}</string>
                <key>offset</key>
                <string>{-21,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,186},{8,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4013_0_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,210},{8,40}}</string>
                <key>offset</key>
                <string>{-20,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,196},{8,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4013_0_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,414},{8,54}}</string>
                <key>offset</key>
                <string>{-24,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,180},{8,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4013_0_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,406},{8,76}}</string>
                <key>offset</key>
                <string>{-23,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,169},{8,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4013_0.png</string>
            <key>size</key>
            <string>{141,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:df6f225f76d32e5354ddb42f88e408e2:1/1$</string>
            <key>textureFileName</key>
            <string>4013_0.png</string>
        </dict>
    </dict>
</plist>
