<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4014_0_8_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,126},{82,64}}</string>
                <key>offset</key>
                <string>{5,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,158},{82,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4014_0_8_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,164},{104,62}}</string>
                <key>offset</key>
                <string>{-13,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,126},{104,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4014_0_8_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,462},{94,28}}</string>
                <key>offset</key>
                <string>{59,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{268,211},{94,28}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4014_0_8_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,434},{64,32}}</string>
                <key>offset</key>
                <string>{5,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,180},{64,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4014_0_8_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,124},{110,40}}</string>
                <key>offset</key>
                <string>{50,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,173},{110,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4014_0_8_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,490},{16,76}}</string>
                <key>offset</key>
                <string>{-23,70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,148},{16,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4014_0_8_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,248},{48,88}}</string>
                <key>offset</key>
                <string>{33,95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{265,117},{48,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4014_0_8_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,226},{104,58}}</string>
                <key>offset</key>
                <string>{51,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,217},{104,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4014_0_8_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,434},{36,34}}</string>
                <key>offset</key>
                <string>{-25,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,174},{36,34}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4014_0_8_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,434},{70,20}}</string>
                <key>offset</key>
                <string>{13,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,197},{70,20}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4014_0_8_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,64},{84,62}}</string>
                <key>offset</key>
                <string>{-36,82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,143},{84,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4014_0_8_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,296},{46,88}}</string>
                <key>offset</key>
                <string>{60,77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{293,135},{46,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4014_0_8_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,190},{58,88}}</string>
                <key>offset</key>
                <string>{14,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,214},{58,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4014_0_8_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,374},{98,16}}</string>
                <key>offset</key>
                <string>{-38,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,170},{98,16}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4014_0_8_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,468},{22,28}}</string>
                <key>offset</key>
                <string>{-34,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,190},{22,28}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4014_0_8_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{116,26}}</string>
                <key>offset</key>
                <string>{-27,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,149},{116,26}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4014_0_8_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,284},{102,62}}</string>
                <key>offset</key>
                <string>{51,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{256,169},{102,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4014_0_8_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,400},{34,94}}</string>
                <key>offset</key>
                <string>{-31,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,207},{34,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4014_0_8_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,80},{110,44}}</string>
                <key>offset</key>
                <string>{-28,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,143},{110,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4014_0_8_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,342},{88,24}}</string>
                <key>offset</key>
                <string>{-59,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,169},{88,24}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4014_0_8_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,366},{82,34}}</string>
                <key>offset</key>
                <string>{-3,104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,135},{82,34}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4014_0_8_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,346},{102,28}}</string>
                <key>offset</key>
                <string>{14,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,199},{102,28}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4014_0_8_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,390},{94,72}}</string>
                <key>offset</key>
                <string>{-57,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,202},{94,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4014_0_8_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,0},{64,76}}</string>
                <key>offset</key>
                <string>{-4,98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,120},{64,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4014_0_8_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,26},{110,54}}</string>
                <key>offset</key>
                <string>{-50,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,133},{110,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4014_0_8.png</string>
            <key>size</key>
            <string>{194,506}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3e2d484f6bd7aa4e583413e6028e3199:1/1$</string>
            <key>textureFileName</key>
            <string>4014_0_8.png</string>
        </dict>
    </dict>
</plist>
