<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4014_0_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,478},{18,46}}</string>
                <key>offset</key>
                <string>{24,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{271,171},{18,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4014_0_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,0},{20,68}}</string>
                <key>offset</key>
                <string>{21,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{267,150},{20,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4014_0_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,420},{20,80}}</string>
                <key>offset</key>
                <string>{20,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{266,138},{20,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4014_0_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,458},{20,72}}</string>
                <key>offset</key>
                <string>{24,76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{270,144},{20,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4014_0_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,68},{20,54}}</string>
                <key>offset</key>
                <string>{23,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{269,162},{20,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4014_0_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,274},{86,30}}</string>
                <key>offset</key>
                <string>{44,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{257,191},{86,30}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4014_0_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,68},{86,54}}</string>
                <key>offset</key>
                <string>{49,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{262,169},{86,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4014_0_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{82,68}}</string>
                <key>offset</key>
                <string>{51,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{266,155},{82,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4014_0_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,362},{84,58}}</string>
                <key>offset</key>
                <string>{47,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{261,163},{84,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4014_0_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,420},{84,38}}</string>
                <key>offset</key>
                <string>{45,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,182},{84,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4014_0_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,180},{116,22}}</string>
                <key>offset</key>
                <string>{36,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,212},{116,22}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4014_0_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,180},{116,18}}</string>
                <key>offset</key>
                <string>{45,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,205},{116,18}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4014_0_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,68},{112,32}}</string>
                <key>offset</key>
                <string>{49,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{249,191},{112,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4014_0_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,296},{114,24}}</string>
                <key>offset</key>
                <string>{40,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,197},{114,24}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4014_0_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,296},{116,16}}</string>
                <key>offset</key>
                <string>{36,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,210},{116,16}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4014_0_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,304},{84,58}}</string>
                <key>offset</key>
                <string>{10,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,203},{84,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4014_0_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,206},{86,36}}</string>
                <key>offset</key>
                <string>{18,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,210},{86,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4014_0_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,410},{84,22}}</string>
                <key>offset</key>
                <string>{21,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,212},{84,22}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4014_0_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,242},{86,32}}</string>
                <key>offset</key>
                <string>{12,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,204},{86,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4014_0_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,154},{86,52}}</string>
                <key>offset</key>
                <string>{10,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,200},{86,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4014_0_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,500},{18,72}}</string>
                <key>offset</key>
                <string>{-23,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,193},{18,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4014_0_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,500},{18,50}}</string>
                <key>offset</key>
                <string>{-21,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,202},{18,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4014_0_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,112},{20,36}}</string>
                <key>offset</key>
                <string>{-21,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,205},{20,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4014_0_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,66},{20,46}}</string>
                <key>offset</key>
                <string>{-24,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,195},{20,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4014_0_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,0},{20,66}}</string>
                <key>offset</key>
                <string>{-23,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,190},{20,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4014_0.png</string>
            <key>size</key>
            <string>{126,518}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4aca5d36606713bdf8015271f4f0640b:1/1$</string>
            <key>textureFileName</key>
            <string>4014_0.png</string>
        </dict>
    </dict>
</plist>
