<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4014_0_1_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,72},{84,42}}</string>
                <key>offset</key>
                <string>{43,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{257,204},{84,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4014_0_1_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,72},{84,40}}</string>
                <key>offset</key>
                <string>{43,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{257,204},{84,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4014_0_1_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,72},{82,42}}</string>
                <key>offset</key>
                <string>{42,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{257,204},{82,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4014_0_1_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,74},{86,42}}</string>
                <key>offset</key>
                <string>{42,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,205},{86,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4014_0_1_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,0},{94,72}}</string>
                <key>offset</key>
                <string>{34,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,204},{94,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4014_0_1_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,0},{96,72}}</string>
                <key>offset</key>
                <string>{34,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,203},{96,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4014_0_1_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,0},{94,72}}</string>
                <key>offset</key>
                <string>{34,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,204},{94,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4014_0_1_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,0},{94,74}}</string>
                <key>offset</key>
                <string>{34,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,203},{94,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4014_0_1_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,0},{58,100}}</string>
                <key>offset</key>
                <string>{9,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,197},{58,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4014_0_1_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,60},{60,98}}</string>
                <key>offset</key>
                <string>{9,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,198},{60,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4014_0_1_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,0},{60,98}}</string>
                <key>offset</key>
                <string>{9,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,198},{60,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4014_0_1_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,58},{56,100}}</string>
                <key>offset</key>
                <string>{8,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,197},{56,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4014_0_1_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,84},{36,102}}</string>
                <key>offset</key>
                <string>{-26,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,193},{36,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4014_0_1_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,84},{36,102}}</string>
                <key>offset</key>
                <string>{-26,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,193},{36,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4014_0_1_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,86},{36,102}}</string>
                <key>offset</key>
                <string>{-26,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,194},{36,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4014_0_1_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,84},{38,102}}</string>
                <key>offset</key>
                <string>{-26,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,193},{38,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4014_0_1_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,0},{84,84}}</string>
                <key>offset</key>
                <string>{-41,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,189},{84,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4014_0_1_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,0},{84,84}}</string>
                <key>offset</key>
                <string>{-41,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,189},{84,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4014_0_1_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{84,86}}</string>
                <key>offset</key>
                <string>{-41,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,188},{84,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4014_0_1_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,0},{84,84}}</string>
                <key>offset</key>
                <string>{-41,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,189},{84,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4014_0_1.png</string>
            <key>size</key>
            <string>{942,122}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:36e8f003913e7791ccd3395fc538c5f5:1/1$</string>
            <key>textureFileName</key>
            <string>4014_0_1.png</string>
        </dict>
    </dict>
</plist>
