<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4015_0_0_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,328},{10,46}}</string>
                <key>offset</key>
                <string>{20,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{271,165},{10,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4015_0_0_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,496},{10,66}}</string>
                <key>offset</key>
                <string>{21,72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{272,151},{10,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4015_0_0_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,0},{10,78}}</string>
                <key>offset</key>
                <string>{23,82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{274,135},{10,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4015_0_0_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,78},{10,72}}</string>
                <key>offset</key>
                <string>{24,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{275,141},{10,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4015_0_0_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,496},{10,52}}</string>
                <key>offset</key>
                <string>{21,72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{272,158},{10,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4015_0_0_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,412},{82,36}}</string>
                <key>offset</key>
                <string>{40,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{255,183},{82,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4015_0_0_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,392},{82,52}}</string>
                <key>offset</key>
                <string>{43,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{258,170},{82,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4015_0_0_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,162},{80,64}}</string>
                <key>offset</key>
                <string>{50,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{266,155},{80,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4015_0_0_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,310},{82,56}}</string>
                <key>offset</key>
                <string>{50,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{265,164},{82,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4015_0_0_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,246},{82,40}}</string>
                <key>offset</key>
                <string>{44,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{259,176},{82,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4015_0_0_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,96},{118,32}}</string>
                <key>offset</key>
                <string>{37,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,197},{118,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4015_0_0_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,64},{118,32}}</string>
                <key>offset</key>
                <string>{41,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,198},{118,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4015_0_0_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,128},{114,34}}</string>
                <key>offset</key>
                <string>{49,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,192},{114,34}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4015_0_0_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,32},{118,32}}</string>
                <key>offset</key>
                <string>{49,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,197},{118,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4015_0_0_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{118,32}}</string>
                <key>offset</key>
                <string>{41,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,196},{118,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4015_0_0_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,226},{84,56}}</string>
                <key>offset</key>
                <string>{13,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,198},{84,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4015_0_0_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,328},{84,38}}</string>
                <key>offset</key>
                <string>{14,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,204},{84,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4015_0_0_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,246},{82,30}}</string>
                <key>offset</key>
                <string>{18,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,202},{82,30}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4015_0_0_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,412},{84,36}}</string>
                <key>offset</key>
                <string>{17,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,204},{84,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4015_0_0_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,162},{84,48}}</string>
                <key>offset</key>
                <string>{15,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,201},{84,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4015_0_0_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,328},{10,70}}</string>
                <key>offset</key>
                <string>{-18,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,189},{10,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4015_0_0_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,474},{10,50}}</string>
                <key>offset</key>
                <string>{-20,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,197},{10,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4015_0_0_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,374},{10,38}}</string>
                <key>offset</key>
                <string>{-21,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,200},{10,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4015_0_0_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,484},{10,44}}</string>
                <key>offset</key>
                <string>{-22,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,201},{10,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4015_0_0_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,328},{10,64}}</string>
                <key>offset</key>
                <string>{-20,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,191},{10,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4015_0_0.png</string>
            <key>size</key>
            <string>{128,506}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6f9fedbd1f2d995428044df88f466d9b:1/1$</string>
            <key>textureFileName</key>
            <string>4015_0_0.png</string>
        </dict>
    </dict>
</plist>
