<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4015_0_6_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,40},{102,60}}</string>
                <key>offset</key>
                <string>{32,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,204},{102,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4015_0_6_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,190},{96,68}}</string>
                <key>offset</key>
                <string>{26,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,202},{96,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4015_0_6_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,156},{96,70}}</string>
                <key>offset</key>
                <string>{25,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,202},{96,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4015_0_6_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,340},{64,28}}</string>
                <key>offset</key>
                <string>{38,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{262,205},{64,28}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4015_0_6_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,340},{66,28}}</string>
                <key>offset</key>
                <string>{40,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{263,195},{66,28}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4015_0_6_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,426},{50,86}}</string>
                <key>offset</key>
                <string>{1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,197},{50,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4015_0_6_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,154},{38,92}}</string>
                <key>offset</key>
                <string>{-5,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,195},{38,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4015_0_6_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,246},{42,94}}</string>
                <key>offset</key>
                <string>{-5,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,194},{42,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4015_0_6_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,100},{98,56}}</string>
                <key>offset</key>
                <string>{33,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,205},{98,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4015_0_6_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{106,40}}</string>
                <key>offset</key>
                <string>{40,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,205},{106,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4015_0_6_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,424},{38,86}}</string>
                <key>offset</key>
                <string>{-30,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,193},{38,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4015_0_6_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,376},{48,88}}</string>
                <key>offset</key>
                <string>{-33,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,189},{48,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4015_0_6_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,258},{42,92}}</string>
                <key>offset</key>
                <string>{-32,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,189},{42,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4015_0_6_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,300},{76,88}}</string>
                <key>offset</key>
                <string>{9,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,197},{76,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4015_0_6_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,352},{88,74}}</string>
                <key>offset</key>
                <string>{16,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,198},{88,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4015_0_6_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,426},{86,58}}</string>
                <key>offset</key>
                <string>{-49,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,193},{86,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4015_0_6_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,58},{100,62}}</string>
                <key>offset</key>
                <string>{-41,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,187},{100,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4015_0_6_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,120},{96,70}}</string>
                <key>offset</key>
                <string>{-40,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,183},{96,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4015_0_6_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,0},{30,104}}</string>
                <key>offset</key>
                <string>{-21,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,186},{30,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4015_0_6_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,260},{28,92}}</string>
                <key>offset</key>
                <string>{-18,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,189},{28,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4015_0_6_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,30},{104,28}}</string>
                <key>offset</key>
                <string>{-31,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,191},{104,28}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4015_0_6_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,58},{96,28}}</string>
                <key>offset</key>
                <string>{-25,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,191},{96,28}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4015_0_6_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,226},{96,34}}</string>
                <key>offset</key>
                <string>{-24,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,189},{96,34}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4015_0_6_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,288},{64,90}}</string>
                <key>offset</key>
                <string>{-37,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,183},{64,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4015_0_6_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,424},{64,80}}</string>
                <key>offset</key>
                <string>{-39,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,185},{64,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4015_0_6.png</string>
            <key>size</key>
            <string>{234,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bb2ddeb02c5eef3d06491cbfbd436b6c:1/1$</string>
            <key>textureFileName</key>
            <string>4015_0_6.png</string>
        </dict>
    </dict>
</plist>
