<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4015_2_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,0},{52,96}}</string>
                <key>offset</key>
                <string>{3,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,196},{52,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4015_2_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,124},{2,2}}</string>
                <key>offset</key>
                <string>{-19,84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,171},{2,2}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4015_2_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,124},{2,2}}</string>
                <key>offset</key>
                <string>{-12,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,174},{2,2}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4015_2_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,0},{24,110}}</string>
                <key>offset</key>
                <string>{16,125}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{260,76},{24,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4015_2_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,0},{24,86}}</string>
                <key>offset</key>
                <string>{13,125}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{257,88},{24,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4015_2_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,0},{98,66}}</string>
                <key>offset</key>
                <string>{-54,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,201},{98,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4015_2_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,98},{54,28}}</string>
                <key>offset</key>
                <string>{45,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{274,201},{54,28}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4015_2_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,100},{60,28}}</string>
                <key>offset</key>
                <string>{47,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{273,193},{60,28}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4015_2_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,0},{16,114}}</string>
                <key>offset</key>
                <string>{27,117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{275,82},{16,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4015_2_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,0},{36,98}}</string>
                <key>offset</key>
                <string>{4,120}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,87},{36,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4015_2_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,90},{88,36}}</string>
                <key>offset</key>
                <string>{-79,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,190},{88,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4015_2_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,0},{102,34}}</string>
                <key>offset</key>
                <string>{73,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{278,221},{102,34}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4015_2_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,0},{102,44}}</string>
                <key>offset</key>
                <string>{64,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{269,208},{102,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4015_2_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,0},{34,112}}</string>
                <key>offset</key>
                <string>{23,108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,92},{34,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4015_2_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,0},{38,110}}</string>
                <key>offset</key>
                <string>{-5,121}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,80},{38,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4015_2_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,98},{28,30}}</string>
                <key>offset</key>
                <string>{-56,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,165},{28,30}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4015_2_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,0},{52,90}}</string>
                <key>offset</key>
                <string>{51,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{281,233},{52,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4015_2_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,0},{84,78}}</string>
                <key>offset</key>
                <string>{44,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{258,212},{84,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4015_2_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,0},{38,100}}</string>
                <key>offset</key>
                <string>{7,102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,104},{38,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4015_2_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{24,114}}</string>
                <key>offset</key>
                <string>{-11,124}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,75},{24,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4015_2_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,114},{10,32}}</string>
                <key>offset</key>
                <string>{-18,90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,150},{10,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4015_2_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,96},{26,88}}</string>
                <key>offset</key>
                <string>{12,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{255,234},{26,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4015_2_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,0},{20,92}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,215},{20,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4015_2_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,102},{26,90}}</string>
                <key>offset</key>
                <string>{-15,104}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,107},{26,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4015_2_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,0},{24,112}}</string>
                <key>offset</key>
                <string>{-12,129}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,71},{24,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4015_2.png</string>
            <key>size</key>
            <string>{604,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d9e96a58e3030fdcce958d53db0bf20c:1/1$</string>
            <key>textureFileName</key>
            <string>4015_2.png</string>
        </dict>
    </dict>
</plist>
