<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4015_1_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,72},{86,40}}</string>
                <key>offset</key>
                <string>{49,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,198},{86,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4015_1_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,72},{86,40}}</string>
                <key>offset</key>
                <string>{48,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{261,198},{86,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4015_1_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,74},{84,38}}</string>
                <key>offset</key>
                <string>{48,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,200},{84,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4015_1_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,70},{86,42}}</string>
                <key>offset</key>
                <string>{48,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{261,198},{86,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4015_1_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,0},{94,72}}</string>
                <key>offset</key>
                <string>{43,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,199},{94,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4015_1_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{94,72}}</string>
                <key>offset</key>
                <string>{43,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,199},{94,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4015_1_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,0},{94,70}}</string>
                <key>offset</key>
                <string>{43,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,201},{94,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4015_1_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,0},{92,74}}</string>
                <key>offset</key>
                <string>{43,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,199},{92,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4015_1_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,50},{48,98}}</string>
                <key>offset</key>
                <string>{12,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{244,197},{48,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4015_1_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,0},{50,98}}</string>
                <key>offset</key>
                <string>{12,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,197},{50,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4015_1_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,0},{50,98}}</string>
                <key>offset</key>
                <string>{13,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{244,197},{50,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4015_1_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,50},{48,100}}</string>
                <key>offset</key>
                <string>{12,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{244,197},{48,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4015_1_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,82},{30,102}}</string>
                <key>offset</key>
                <string>{-24,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,192},{30,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4015_1_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,0},{28,102}}</string>
                <key>offset</key>
                <string>{-24,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,193},{28,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4015_1_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,82},{28,102}}</string>
                <key>offset</key>
                <string>{-24,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,194},{28,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4015_1_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,82},{30,104}}</string>
                <key>offset</key>
                <string>{-25,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,192},{30,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4015_1_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,0},{84,80}}</string>
                <key>offset</key>
                <string>{-49,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,189},{84,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4015_1_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,0},{82,80}}</string>
                <key>offset</key>
                <string>{-48,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,190},{82,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4015_1_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,0},{82,82}}</string>
                <key>offset</key>
                <string>{-48,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,189},{82,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4015_1_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,0},{82,80}}</string>
                <key>offset</key>
                <string>{-49,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,190},{82,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4015_1.png</string>
            <key>size</key>
            <string>{931,112}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:24cdefe4ccdf234282820d12c1a7c333:1/1$</string>
            <key>textureFileName</key>
            <string>4015_1.png</string>
        </dict>
    </dict>
</plist>
