<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4016_0_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,174},{6,52}}</string>
                <key>offset</key>
                <string>{26,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{279,165},{6,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4016_0_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,174},{6,64}}</string>
                <key>offset</key>
                <string>{23,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{276,153},{6,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4016_0_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,68},{4,72}}</string>
                <key>offset</key>
                <string>{23,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{277,145},{4,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4016_0_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,152},{6,68}}</string>
                <key>offset</key>
                <string>{26,74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{279,148},{6,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4016_0_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,108},{4,56}}</string>
                <key>offset</key>
                <string>{26,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{280,159},{4,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4016_0_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,448},{56,46}}</string>
                <key>offset</key>
                <string>{33,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{261,180},{56,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4016_0_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,318},{54,56}}</string>
                <key>offset</key>
                <string>{36,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{265,167},{54,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4016_0_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,158},{50,64}}</string>
                <key>offset</key>
                <string>{38,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{269,159},{50,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4016_0_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,264},{54,58}}</string>
                <key>offset</key>
                <string>{34,63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{263,164},{54,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4016_0_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,372},{56,48}}</string>
                <key>offset</key>
                <string>{33,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{261,174},{56,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4016_0_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,420},{82,28}}</string>
                <key>offset</key>
                <string>{23,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,203},{82,28}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4016_0_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,30},{78,38}}</string>
                <key>offset</key>
                <string>{29,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,192},{78,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4016_0_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,108},{72,44}}</string>
                <key>offset</key>
                <string>{31,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,182},{72,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4016_0_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,68},{76,40}}</string>
                <key>offset</key>
                <string>{23,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,186},{76,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4016_0_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{80,30}}</string>
                <key>offset</key>
                <string>{22,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,198},{80,30}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4016_0_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,208},{60,30}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,206},{60,30}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4016_0_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,264},{56,22}}</string>
                <key>offset</key>
                <string>{6,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,210},{56,22}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4016_0_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,420},{52,28}}</string>
                <key>offset</key>
                <string>{7,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,204},{52,28}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4016_0_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,326},{54,22}}</string>
                <key>offset</key>
                <string>{0,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,204},{54,22}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4016_0_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,238},{60,26}}</string>
                <key>offset</key>
                <string>{-2,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,205},{60,26}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4016_0_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,226},{6,38}}</string>
                <key>offset</key>
                <string>{-23,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,196},{6,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4016_0_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,238},{6,26}}</string>
                <key>offset</key>
                <string>{-22,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,205},{6,26}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4016_0_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,152},{4,22}}</string>
                <key>offset</key>
                <string>{-21,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,206},{4,22}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4016_0_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,320},{6,24}}</string>
                <key>offset</key>
                <string>{-25,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,198},{6,24}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4016_0_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,140},{4,34}}</string>
                <key>offset</key>
                <string>{-24,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,194},{4,34}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4016_0.png</string>
            <key>size</key>
            <string>{80,504}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:16796890e92f46b5d16cea7e9d8321c4:1/1$</string>
            <key>textureFileName</key>
            <string>4016_0.png</string>
        </dict>
    </dict>
</plist>
