<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4017_2_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,0},{56,126}}</string>
                <key>offset</key>
                <string>{5,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,182},{56,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4017_2_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,134},{2,2}}</string>
                <key>offset</key>
                <string>{-21,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,174},{2,2}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4017_2_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,134},{2,2}}</string>
                <key>offset</key>
                <string>{-19,82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,173},{2,2}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4017_2_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,116},{28,120}}</string>
                <key>offset</key>
                <string>{16,122}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{258,74},{28,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4017_2_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,0},{24,98}}</string>
                <key>offset</key>
                <string>{14,122}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{258,85},{24,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4017_2_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,132},{106,96}}</string>
                <key>offset</key>
                <string>{-53,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,188},{106,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4017_2_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,70},{78,46}}</string>
                <key>offset</key>
                <string>{46,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,190},{78,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4017_2_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,24},{82,46}}</string>
                <key>offset</key>
                <string>{48,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,181},{82,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4017_2_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,116},{24,124}}</string>
                <key>offset</key>
                <string>{26,114}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{270,80},{24,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4017_2_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,136},{60,108}}</string>
                <key>offset</key>
                <string>{5,118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,84},{60,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4017_2_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,30},{96,64}}</string>
                <key>offset</key>
                <string>{-80,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,177},{96,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4017_2_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,0},{132,46}}</string>
                <key>offset</key>
                <string>{73,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{263,215},{132,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4017_2_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,0},{132,54}}</string>
                <key>offset</key>
                <string>{65,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{255,204},{132,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4017_2_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,0},{52,126}}</string>
                <key>offset</key>
                <string>{19,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,87},{52,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4017_2_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,126},{66,118}}</string>
                <key>offset</key>
                <string>{-5,116}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,81},{66,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4017_2_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,0},{30,52}}</string>
                <key>offset</key>
                <string>{-59,75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,155},{30,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4017_2_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,134},{82,110}}</string>
                <key>offset</key>
                <string>{47,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,218},{82,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4017_2_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,126},{104,88}}</string>
                <key>offset</key>
                <string>{44,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{248,207},{104,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4017_2_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,0},{54,126}}</string>
                <key>offset</key>
                <string>{3,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,92},{54,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4017_2_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,0},{42,134}}</string>
                <key>offset</key>
                <string>{-13,122}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,67},{42,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4017_2_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,230},{14,52}}</string>
                <key>offset</key>
                <string>{-21,89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,141},{14,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4017_2_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,24},{32,102}}</string>
                <key>offset</key>
                <string>{9,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,224},{32,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4017_2_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,132},{22,108}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,204},{22,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4017_2_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,116},{28,122}}</string>
                <key>offset</key>
                <string>{-15,103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,92},{28,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4017_2_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{26,136}}</string>
                <key>offset</key>
                <string>{-13,127}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,61},{26,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4017_2.png</string>
            <key>size</key>
            <string>{512,244}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ea91b098a09d7120d4989234b6e0f734:1/1$</string>
            <key>textureFileName</key>
            <string>4017_2.png</string>
        </dict>
    </dict>
</plist>
