<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4017_1_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,390},{116,54}}</string>
                <key>offset</key>
                <string>{52,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{250,192},{116,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4017_1_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,448},{114,54}}</string>
                <key>offset</key>
                <string>{51,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{250,192},{114,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4017_1_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,276},{114,52}}</string>
                <key>offset</key>
                <string>{51,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{250,194},{114,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4017_1_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,160},{116,52}}</string>
                <key>offset</key>
                <string>{52,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{250,195},{116,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4017_1_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,80},{122,80}}</string>
                <key>offset</key>
                <string>{46,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,198},{122,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4017_1_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{124,80}}</string>
                <key>offset</key>
                <string>{46,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,198},{124,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4017_1_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,82},{124,78}}</string>
                <key>offset</key>
                <string>{46,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,200},{124,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4017_1_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,0},{120,82}}</string>
                <key>offset</key>
                <string>{46,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,198},{120,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4017_1_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,562},{56,108}}</string>
                <key>offset</key>
                <string>{14,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,195},{56,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4017_1_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,342},{60,108}}</string>
                <key>offset</key>
                <string>{14,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,195},{60,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4017_1_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,340},{60,108}}</string>
                <key>offset</key>
                <string>{14,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,195},{60,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4017_1_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,450},{56,110}}</string>
                <key>offset</key>
                <string>{13,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,195},{56,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4017_1_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,342},{38,112}}</string>
                <key>offset</key>
                <string>{-28,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,191},{38,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4017_1_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,506},{36,112}}</string>
                <key>offset</key>
                <string>{-27,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,191},{36,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4017_1_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,454},{36,112}}</string>
                <key>offset</key>
                <string>{-27,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,192},{36,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4017_1_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,340},{40,114}}</string>
                <key>offset</key>
                <string>{-29,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,190},{40,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4017_1_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,250},{102,90}}</string>
                <key>offset</key>
                <string>{-58,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,188},{102,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4017_1_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,252},{100,90}}</string>
                <key>offset</key>
                <string>{-57,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,189},{100,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4017_1_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,160},{100,92}}</string>
                <key>offset</key>
                <string>{-57,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,187},{100,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4017_1_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,160},{102,90}}</string>
                <key>offset</key>
                <string>{-58,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,189},{102,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4017_1.png</string>
            <key>size</key>
            <string>{254,625}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7f1a813ffc0cb45585a5b546bc869df7:1/1$</string>
            <key>textureFileName</key>
            <string>4017_1.png</string>
        </dict>
    </dict>
</plist>
