<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4017_0_0_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,440},{14,78}}</string>
                <key>offset</key>
                <string>{19,68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{268,149},{14,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4017_0_0_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,350},{12,102}}</string>
                <key>offset</key>
                <string>{21,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{271,132},{12,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4017_0_0_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,232},{14,114}}</string>
                <key>offset</key>
                <string>{22,84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{271,115},{14,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4017_0_0_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,0},{14,106}}</string>
                <key>offset</key>
                <string>{23,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{272,124},{14,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4017_0_0_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,412},{14,88}}</string>
                <key>offset</key>
                <string>{21,73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{270,139},{14,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4017_0_0_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,106},{94,64}}</string>
                <key>offset</key>
                <string>{40,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{249,168},{94,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4017_0_0_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,322},{90,86}}</string>
                <key>offset</key>
                <string>{42,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,152},{90,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4017_0_0_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{88,98}}</string>
                <key>offset</key>
                <string>{49,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{261,137},{88,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4017_0_0_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,232},{90,90}}</string>
                <key>offset</key>
                <string>{50,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{261,145},{90,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4017_0_0_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,200},{94,70}}</string>
                <key>offset</key>
                <string>{44,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{253,161},{94,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4017_0_0_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,98},{136,50}}</string>
                <key>offset</key>
                <string>{38,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,185},{136,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4017_0_0_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,52},{130,54}}</string>
                <key>offset</key>
                <string>{42,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,185},{130,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4017_0_0_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,106},{124,60}}</string>
                <key>offset</key>
                <string>{48,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,178},{124,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4017_0_0_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,234},{130,54}}</string>
                <key>offset</key>
                <string>{49,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,185},{130,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4017_0_0_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,0},{134,52}}</string>
                <key>offset</key>
                <string>{42,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,183},{134,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4017_0_0_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,166},{100,66}}</string>
                <key>offset</key>
                <string>{13,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,194},{100,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4017_0_0_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,294},{94,56}}</string>
                <key>offset</key>
                <string>{14,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,192},{94,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4017_0_0_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,408},{88,48}}</string>
                <key>offset</key>
                <string>{18,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,191},{88,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4017_0_0_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,364},{92,54}}</string>
                <key>offset</key>
                <string>{17,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,193},{92,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4017_0_0_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,350},{98,62}}</string>
                <key>offset</key>
                <string>{15,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,194},{98,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4017_0_0_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,426},{14,80}}</string>
                <key>offset</key>
                <string>{-18,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,185},{14,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4017_0_0_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,0},{14,64}}</string>
                <key>offset</key>
                <string>{-19,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,190},{14,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4017_0_0_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,126},{14,56}}</string>
                <key>offset</key>
                <string>{-22,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,188},{14,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4017_0_0_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,64},{14,62}}</string>
                <key>offset</key>
                <string>{-22,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,190},{14,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4017_0_0_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,200},{14,74}}</string>
                <key>offset</key>
                <string>{-20,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,187},{14,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4017_0_0.png</string>
            <key>size</key>
            <string>{254,456}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c59cf197252192c446be461aeea5369d:1/1$</string>
            <key>textureFileName</key>
            <string>4017_0_0.png</string>
        </dict>
    </dict>
</plist>
