<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4017_0_8_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,0},{116,56}}</string>
                <key>offset</key>
                <string>{5,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,157},{116,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4017_0_8_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,148},{126,68}}</string>
                <key>offset</key>
                <string>{-11,97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,125},{126,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4017_0_8_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,494},{104,32}}</string>
                <key>offset</key>
                <string>{56,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{260,203},{104,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4017_0_8_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,402},{92,40}}</string>
                <key>offset</key>
                <string>{5,63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,173},{92,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4017_0_8_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,404},{122,64}}</string>
                <key>offset</key>
                <string>{48,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,160},{122,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4017_0_8_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,526},{52,84}}</string>
                <key>offset</key>
                <string>{-19,74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,140},{52,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4017_0_8_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,322},{80,96}}</string>
                <key>offset</key>
                <string>{32,92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{248,116},{80,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4017_0_8_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,274},{130,60}}</string>
                <key>offset</key>
                <string>{50,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,212},{130,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4017_0_8_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,526},{36,58}}</string>
                <key>offset</key>
                <string>{-21,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,161},{36,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4017_0_8_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,494},{100,26}}</string>
                <key>offset</key>
                <string>{12,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,191},{100,26}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4017_0_8_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,244},{94,78}}</string>
                <key>offset</key>
                <string>{-34,84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,133},{94,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4017_0_8_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,526},{62,108}}</string>
                <key>offset</key>
                <string>{57,76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{282,126},{62,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4017_0_8_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,402},{92,92}}</string>
                <key>offset</key>
                <string>{15,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,207},{92,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4017_0_8_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,178},{102,52}}</string>
                <key>offset</key>
                <string>{-33,75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,155},{102,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4017_0_8_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,380},{50,14}}</string>
                <key>offset</key>
                <string>{-27,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,192},{50,14}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4017_0_8_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,148},{130,42}}</string>
                <key>offset</key>
                <string>{-25,97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,138},{130,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4017_0_8_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,62},{110,86}}</string>
                <key>offset</key>
                <string>{48,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,158},{110,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4017_0_8_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,280},{56,100}}</string>
                <key>offset</key>
                <string>{-27,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,200},{56,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4017_0_8_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{136,62}}</string>
                <key>offset</key>
                <string>{-27,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,136},{136,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4017_0_8_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,56},{94,16}}</string>
                <key>offset</key>
                <string>{-56,73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,175},{94,16}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4017_0_8_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,62},{116,40}}</string>
                <key>offset</key>
                <string>{-3,102}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,134},{116,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4017_0_8_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,278},{126,44}}</string>
                <key>offset</key>
                <string>{12,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,190},{126,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4017_0_8_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,56},{104,82}}</string>
                <key>offset</key>
                <string>{-54,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,193},{104,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4017_0_8_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,160},{94,84}}</string>
                <key>offset</key>
                <string>{-4,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,118},{94,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4017_0_8_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,404},{122,54}}</string>
                <key>offset</key>
                <string>{-47,93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,136},{122,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4017_0_8.png</string>
            <key>size</key>
            <string>{256,595}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:34722def15a2726c13701457c5dda5fe:1/1$</string>
            <key>textureFileName</key>
            <string>4017_0_8.png</string>
        </dict>
    </dict>
</plist>
