<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4017_8_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,230},{120,58}}</string>
                <key>offset</key>
                <string>{5,74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,153},{120,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4017_8_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,90},{116,70}}</string>
                <key>offset</key>
                <string>{-13,102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,119},{116,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4017_8_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,490},{104,40}}</string>
                <key>offset</key>
                <string>{60,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{264,197},{104,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4017_8_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,530},{98,26}}</string>
                <key>offset</key>
                <string>{3,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,175},{98,26}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4017_8_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,468},{116,70}}</string>
                <key>offset</key>
                <string>{51,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{249,156},{116,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4017_8_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,324},{52,76}}</string>
                <key>offset</key>
                <string>{-19,79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,139},{52,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4017_8_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,218},{74,106}}</string>
                <key>offset</key>
                <string>{33,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,104},{74,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4017_8_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,96},{134,60}}</string>
                <key>offset</key>
                <string>{54,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,214},{134,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4017_8_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,542},{46,46}}</string>
                <key>offset</key>
                <string>{-24,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,160},{46,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4017_8_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,556},{92,40}}</string>
                <key>offset</key>
                <string>{9,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,183},{92,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4017_8_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,376},{90,70}}</string>
                <key>offset</key>
                <string>{-33,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,132},{90,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4017_8_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,350},{62,118}}</string>
                <key>offset</key>
                <string>{61,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{286,116},{62,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4017_8_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,218},{94,88}}</string>
                <key>offset</key>
                <string>{17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,212},{94,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4017_8_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,446},{102,44}}</string>
                <key>offset</key>
                <string>{-37,83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,151},{102,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4017_8_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,556},{46,24}}</string>
                <key>offset</key>
                <string>{-35,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,184},{46,24}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4017_8_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,58},{130,32}}</string>
                <key>offset</key>
                <string>{-26,100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,140},{130,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4017_8_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{110,96}}</string>
                <key>offset</key>
                <string>{52,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,148},{110,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4017_8_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,306},{50,92}}</string>
                <key>offset</key>
                <string>{-30,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,206},{50,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4017_8_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,0},{136,58}}</string>
                <key>offset</key>
                <string>{-28,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,128},{136,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4017_8_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,90},{96,22}}</string>
                <key>offset</key>
                <string>{-63,79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,166},{96,22}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4017_8_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,230},{120,30}}</string>
                <key>offset</key>
                <string>{-4,107}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,134},{120,30}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4017_8_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,96},{118,56}}</string>
                <key>offset</key>
                <string>{14,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,181},{118,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4017_8_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,440},{102,68}}</string>
                <key>offset</key>
                <string>{-59,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,200},{102,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4017_8_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,356},{98,84}}</string>
                <key>offset</key>
                <string>{-1,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,109},{98,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4017_8_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,160},{116,58}}</string>
                <key>offset</key>
                <string>{-50,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,126},{116,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4017_8.png</string>
            <key>size</key>
            <string>{256,599}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b7b524c9742fd6340763504e126decca:1/1$</string>
            <key>textureFileName</key>
            <string>4017_8.png</string>
        </dict>
    </dict>
</plist>
