<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4018_0_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,394},{20,62}}</string>
                <key>offset</key>
                <string>{24,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{270,169},{20,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4018_0_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,354},{20,86}}</string>
                <key>offset</key>
                <string>{22,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{268,153},{20,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4018_0_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,372},{20,100}}</string>
                <key>offset</key>
                <string>{21,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{267,144},{20,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4018_0_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,334},{20,90}}</string>
                <key>offset</key>
                <string>{24,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{270,149},{20,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4018_0_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,216},{20,70}}</string>
                <key>offset</key>
                <string>{23,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{269,163},{20,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4018_0_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,386},{100,44}}</string>
                <key>offset</key>
                <string>{28,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,188},{100,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4018_0_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,266},{100,68}}</string>
                <key>offset</key>
                <string>{33,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,173},{100,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4018_0_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,184},{100,82}}</string>
                <key>offset</key>
                <string>{35,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,163},{100,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4018_0_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,0},{100,72}}</string>
                <key>offset</key>
                <string>{31,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,169},{100,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4018_0_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,334},{100,52}}</string>
                <key>offset</key>
                <string>{28,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,181},{100,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4018_0_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,102},{136,38}}</string>
                <key>offset</key>
                <string>{12,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,204},{136,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4018_0_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,70},{138,32}}</string>
                <key>offset</key>
                <string>{21,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,196},{138,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4018_0_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,140},{134,44}}</string>
                <key>offset</key>
                <string>{26,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,189},{134,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4018_0_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{138,36}}</string>
                <key>offset</key>
                <string>{16,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,191},{138,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4018_0_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,36},{138,34}}</string>
                <key>offset</key>
                <string>{12,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,200},{138,34}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4018_0_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,120},{96,76}}</string>
                <key>offset</key>
                <string>{-9,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,186},{96,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4018_0_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,430},{98,54}}</string>
                <key>offset</key>
                <string>{-1,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,198},{98,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4018_0_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,184},{96,36}}</string>
                <key>offset</key>
                <string>{3,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,206},{96,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4018_0_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,394},{96,48}}</string>
                <key>offset</key>
                <string>{-6,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,195},{96,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4018_0_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,236},{98,68}}</string>
                <key>offset</key>
                <string>{-9,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,186},{98,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4018_0_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,280},{22,92}}</string>
                <key>offset</key>
                <string>{-22,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,171},{22,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4018_0_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,100},{20,70}}</string>
                <key>offset</key>
                <string>{-20,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,186},{20,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4018_0_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,394},{20,54}}</string>
                <key>offset</key>
                <string>{-19,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,193},{20,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4018_0_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,472},{20,64}}</string>
                <key>offset</key>
                <string>{-23,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,181},{20,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4018_0_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,374},{20,84}}</string>
                <key>offset</key>
                <string>{-22,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,172},{20,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4018_0.png</string>
            <key>size</key>
            <string>{212,501}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:26b51804e1093f6ec5b1d0d7e7fe0a70:1/1$</string>
            <key>textureFileName</key>
            <string>4018_0.png</string>
        </dict>
    </dict>
</plist>
