<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4018_0_2_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,346},{22,126}}</string>
                <key>offset</key>
                <string>{10,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,141},{22,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4018_0_2_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,104},{2,2}}</string>
                <key>offset</key>
                <string>{-19,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,176},{2,2}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4018_0_2_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,104},{2,2}}</string>
                <key>offset</key>
                <string>{-20,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,176},{2,2}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4018_0_2_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,76},{30,130}}</string>
                <key>offset</key>
                <string>{15,97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{256,94},{30,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4018_0_2_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,174},{40,108}}</string>
                <key>offset</key>
                <string>{11,102}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{247,100},{40,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4018_0_2_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,104},{88,110}}</string>
                <key>offset</key>
                <string>{-29,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,147},{88,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4018_0_2_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,338},{72,34}}</string>
                <key>offset</key>
                <string>{31,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{251,194},{72,34}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4018_0_2_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,458},{68,42}}</string>
                <key>offset</key>
                <string>{34,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{256,187},{68,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4018_0_2_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,0},{28,134}}</string>
                <key>offset</key>
                <string>{27,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{269,101},{28,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4018_0_2_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,134},{52,120}}</string>
                <key>offset</key>
                <string>{14,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,100},{52,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4018_0_2_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,214},{118,76}}</string>
                <key>offset</key>
                <string>{-54,69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,149},{118,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4018_0_2_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,332},{122,62}}</string>
                <key>offset</key>
                <string>{44,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,194},{122,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4018_0_2_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,106},{116,68}}</string>
                <key>offset</key>
                <string>{43,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,188},{116,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4018_0_2_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,214},{40,130}}</string>
                <key>offset</key>
                <string>{26,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,114},{40,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4018_0_2_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,214},{44,132}}</string>
                <key>offset</key>
                <string>{5,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,99},{44,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4018_0_2_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,254},{84,44}}</string>
                <key>offset</key>
                <string>{-49,88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,146},{84,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4018_0_2_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,0},{76,120}}</string>
                <key>offset</key>
                <string>{29,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{247,179},{76,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4018_0_2_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{98,104}}</string>
                <key>offset</key>
                <string>{29,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,182},{98,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4018_0_2_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,346},{42,122}}</string>
                <key>offset</key>
                <string>{7,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,123},{42,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4018_0_2_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,344},{26,136}}</string>
                <key>offset</key>
                <string>{-2,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,99},{26,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4018_0_2_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,410},{20,32}}</string>
                <key>offset</key>
                <string>{-9,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,143},{20,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4018_0_2_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,346},{34,120}}</string>
                <key>offset</key>
                <string>{7,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,185},{34,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4018_0_2_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,468},{34,124}}</string>
                <key>offset</key>
                <string>{2,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,177},{34,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4018_0_2_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,344},{32,114}}</string>
                <key>offset</key>
                <string>{-14,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,124},{32,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4018_0_2_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,214},{40,132}}</string>
                <key>offset</key>
                <string>{-10,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,97},{40,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4018_0_2.png</string>
            <key>size</key>
            <string>{256,502}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:92d2086ff940b1afef6286c456fd60f3:1/1$</string>
            <key>textureFileName</key>
            <string>4018_0_2.png</string>
        </dict>
    </dict>
</plist>
