<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4019_7_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,0},{46,60}}</string>
                <key>offset</key>
                <string>{26,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{259,175},{46,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4019_7_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,110},{44,56}}</string>
                <key>offset</key>
                <string>{8,120}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,108},{44,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4019_7_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,100},{66,48}}</string>
                <key>offset</key>
                <string>{-7,123}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,109},{66,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4019_7_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,0},{86,60}}</string>
                <key>offset</key>
                <string>{25,95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,131},{86,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4019_7_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,0},{58,90}}</string>
                <key>offset</key>
                <string>{26,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,156},{58,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4019_7_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,80},{30,60}}</string>
                <key>offset</key>
                <string>{13,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{254,181},{30,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4019_7_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,92},{30,62}}</string>
                <key>offset</key>
                <string>{-3,119}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,106},{30,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4019_7_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,58},{32,58}}</string>
                <key>offset</key>
                <string>{-11,125}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,102},{32,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4019_7_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,90},{34,64}}</string>
                <key>offset</key>
                <string>{12,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,136},{34,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4019_7_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{58,100}}</string>
                <key>offset</key>
                <string>{7,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,161},{58,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4019_7_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,0},{36,58}}</string>
                <key>offset</key>
                <string>{-10,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,181},{36,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4019_7_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,86},{26,64}}</string>
                <key>offset</key>
                <string>{-12,120}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,104},{26,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4019_7_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,86},{22,62}}</string>
                <key>offset</key>
                <string>{-12,128}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,97},{22,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4019_7_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,46},{34,60}}</string>
                <key>offset</key>
                <string>{-10,88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,138},{34,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4019_7_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,0},{44,92}}</string>
                <key>offset</key>
                <string>{-13,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,162},{44,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4019_7_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,82},{60,80}}</string>
                <key>offset</key>
                <string>{-24,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,163},{60,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4019_7_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,0},{74,60}}</string>
                <key>offset</key>
                <string>{-13,126}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,100},{74,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4019_7_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,0},{82,60}}</string>
                <key>offset</key>
                <string>{0,132}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,94},{82,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4019_7_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,82},{36,72}}</string>
                <key>offset</key>
                <string>{-30,100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,120},{36,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4019_7_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,0},{90,30}}</string>
                <key>offset</key>
                <string>{-34,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,188},{90,30}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4019_7_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,0},{46,80}}</string>
                <key>offset</key>
                <string>{-27,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,150},{46,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4019_7_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,92},{30,62}}</string>
                <key>offset</key>
                <string>{-10,137}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,88},{30,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4019_7_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,90},{36,64}}</string>
                <key>offset</key>
                <string>{2,140}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,84},{36,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4019_7_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,74},{34,74}}</string>
                <key>offset</key>
                <string>{-27,113}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,106},{34,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4019_7_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,86},{22,64}}</string>
                <key>offset</key>
                <string>{-15,83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,141},{22,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4019_7.png</string>
            <key>size</key>
            <string>{512,154}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d2630e2b077e6d09ad481b0f8fe2f457:1/1$</string>
            <key>textureFileName</key>
            <string>4019_7.png</string>
        </dict>
    </dict>
</plist>
