<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4019_0_1_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,686},{56,26}}</string>
                <key>offset</key>
                <string>{29,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{257,205},{56,26}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4019_0_1_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,712},{56,24}}</string>
                <key>offset</key>
                <string>{29,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{257,206},{56,24}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4019_0_1_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,660},{56,26}}</string>
                <key>offset</key>
                <string>{28,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{256,205},{56,26}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4019_0_1_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,634},{56,26}}</string>
                <key>offset</key>
                <string>{29,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{257,205},{56,26}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4019_0_1_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,238},{60,44}}</string>
                <key>offset</key>
                <string>{22,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,207},{60,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4019_0_1_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,194},{60,44}}</string>
                <key>offset</key>
                <string>{22,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,206},{60,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4019_0_1_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,150},{60,44}}</string>
                <key>offset</key>
                <string>{22,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,207},{60,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4019_0_1_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,106},{60,44}}</string>
                <key>offset</key>
                <string>{21,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,207},{60,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4019_0_1_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,396},{38,60}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,202},{38,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4019_0_1_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,358},{38,60}}</string>
                <key>offset</key>
                <string>{0,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,201},{38,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4019_0_1_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,320},{38,60}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,202},{38,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4019_0_1_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,282},{38,60}}</string>
                <key>offset</key>
                <string>{-1,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,202},{38,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4019_0_1_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,80},{26,62}}</string>
                <key>offset</key>
                <string>{-21,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,195},{26,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4019_0_1_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,54},{26,62}}</string>
                <key>offset</key>
                <string>{-21,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,195},{26,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4019_0_1_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,28},{26,62}}</string>
                <key>offset</key>
                <string>{-20,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,195},{26,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4019_0_1_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{28,62}}</string>
                <key>offset</key>
                <string>{-21,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,195},{28,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4019_0_1_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,584},{56,50}}</string>
                <key>offset</key>
                <string>{-28,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,190},{56,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4019_0_1_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,534},{56,50}}</string>
                <key>offset</key>
                <string>{-28,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,189},{56,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4019_0_1_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,484},{56,50}}</string>
                <key>offset</key>
                <string>{-28,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,190},{56,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4019_0_1_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,434},{58,50}}</string>
                <key>offset</key>
                <string>{-28,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,189},{58,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4019_0_1.png</string>
            <key>size</key>
            <string>{62,736}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:23efbdeccf4d31746ad296292041a918:1/1$</string>
            <key>textureFileName</key>
            <string>4019_0_1.png</string>
        </dict>
    </dict>
</plist>
