<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4019_6_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,92},{66,90}}</string>
                <key>offset</key>
                <string>{15,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,183},{66,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4019_6_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,0},{64,86}}</string>
                <key>offset</key>
                <string>{11,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,186},{64,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4019_6_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,90},{66,86}}</string>
                <key>offset</key>
                <string>{11,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,188},{66,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4019_6_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,80},{58,80}}</string>
                <key>offset</key>
                <string>{34,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{261,167},{58,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4019_6_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,86},{48,86}}</string>
                <key>offset</key>
                <string>{33,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{265,166},{48,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4019_6_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,182},{52,74}}</string>
                <key>offset</key>
                <string>{-3,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,194},{52,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4019_6_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,148},{52,66}}</string>
                <key>offset</key>
                <string>{-8,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,198},{52,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4019_6_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,64},{62,66}}</string>
                <key>offset</key>
                <string>{-8,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,198},{62,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4019_6_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,0},{58,90}}</string>
                <key>offset</key>
                <string>{27,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,175},{58,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4019_6_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{58,92}}</string>
                <key>offset</key>
                <string>{23,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,175},{58,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4019_6_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,0},{32,60}}</string>
                <key>offset</key>
                <string>{-25,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,195},{32,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4019_6_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,60},{28,56}}</string>
                <key>offset</key>
                <string>{-25,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,194},{28,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4019_6_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,126},{36,54}}</string>
                <key>offset</key>
                <string>{-27,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,194},{36,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4019_6_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,0},{68,80}}</string>
                <key>offset</key>
                <string>{9,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,189},{68,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4019_6_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,182},{68,80}}</string>
                <key>offset</key>
                <string>{6,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,188},{68,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4019_6_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,126},{46,54}}</string>
                <key>offset</key>
                <string>{-31,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,187},{46,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4019_6_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,162},{42,52}}</string>
                <key>offset</key>
                <string>{-31,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,187},{42,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4019_6_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,204},{44,44}}</string>
                <key>offset</key>
                <string>{-29,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,190},{44,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4019_6_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,172},{82,54}}</string>
                <key>offset</key>
                <string>{-14,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,200},{82,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4019_6_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,160},{76,58}}</string>
                <key>offset</key>
                <string>{-16,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,195},{76,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4019_6_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,0},{66,64}}</string>
                <key>offset</key>
                <string>{-14,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,171},{66,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4019_6_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,0},{66,64}}</string>
                <key>offset</key>
                <string>{-10,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,172},{66,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4019_6_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,80},{68,54}}</string>
                <key>offset</key>
                <string>{-10,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,177},{68,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4019_6_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,214},{58,42}}</string>
                <key>offset</key>
                <string>{-34,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,193},{58,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4019_6_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,204},{48,44}}</string>
                <key>offset</key>
                <string>{-31,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,191},{48,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4019_6.png</string>
            <key>size</key>
            <string>{410,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d387425bbce5321a1da243455d1f050b:1/1$</string>
            <key>textureFileName</key>
            <string>4019_6.png</string>
        </dict>
    </dict>
</plist>
