<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4019_1_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,204},{52,30}}</string>
                <key>offset</key>
                <string>{34,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{264,202},{52,30}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4019_1_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,174},{52,30}}</string>
                <key>offset</key>
                <string>{34,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{264,202},{52,30}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4019_1_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,204},{50,30}}</string>
                <key>offset</key>
                <string>{34,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{265,202},{50,30}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4019_1_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,222},{52,32}}</string>
                <key>offset</key>
                <string>{34,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{264,202},{52,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4019_1_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,100},{56,50}}</string>
                <key>offset</key>
                <string>{30,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{258,204},{56,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4019_1_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,50},{58,50}}</string>
                <key>offset</key>
                <string>{29,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{256,204},{58,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4019_1_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{58,50}}</string>
                <key>offset</key>
                <string>{29,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{256,204},{58,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4019_1_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,0},{56,50}}</string>
                <key>offset</key>
                <string>{29,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{257,205},{56,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4019_1_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,52},{36,62}}</string>
                <key>offset</key>
                <string>{5,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,205},{36,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4019_1_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,138},{34,62}}</string>
                <key>offset</key>
                <string>{6,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{245,205},{34,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4019_1_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,102},{36,62}}</string>
                <key>offset</key>
                <string>{6,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{244,205},{36,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4019_1_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,88},{34,64}}</string>
                <key>offset</key>
                <string>{6,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{245,204},{34,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4019_1_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,148},{26,64}}</string>
                <key>offset</key>
                <string>{-20,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,199},{26,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4019_1_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,122},{26,64}}</string>
                <key>offset</key>
                <string>{-20,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,199},{26,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4019_1_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,198},{24,66}}</string>
                <key>offset</key>
                <string>{-20,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,198},{24,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4019_1_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,172},{26,66}}</string>
                <key>offset</key>
                <string>{-20,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,198},{26,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4019_1_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,0},{52,54}}</string>
                <key>offset</key>
                <string>{-32,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,192},{52,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4019_1_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,50},{52,54}}</string>
                <key>offset</key>
                <string>{-32,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,192},{52,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4019_1_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,204},{52,54}}</string>
                <key>offset</key>
                <string>{-33,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,192},{52,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4019_1_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,150},{52,54}}</string>
                <key>offset</key>
                <string>{-33,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,192},{52,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4019_1.png</string>
            <key>size</key>
            <string>{182,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8320fbfa3e4c4b5b81b91005eaf760b6:1/1$</string>
            <key>textureFileName</key>
            <string>4019_1.png</string>
        </dict>
    </dict>
</plist>
