<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4019_0_6_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,216},{68,82}}</string>
                <key>offset</key>
                <string>{16,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,189},{68,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4019_0_6_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,338},{68,78}}</string>
                <key>offset</key>
                <string>{13,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,192},{68,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4019_0_6_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,406},{70,76}}</string>
                <key>offset</key>
                <string>{13,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,194},{70,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4019_0_6_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,374},{50,62}}</string>
                <key>offset</key>
                <string>{33,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{264,188},{50,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4019_0_6_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,116},{44,86}}</string>
                <key>offset</key>
                <string>{33,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{267,167},{44,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4019_0_6_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,626},{58,64}}</string>
                <key>offset</key>
                <string>{-5,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,199},{58,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4019_0_6_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,690},{56,62}}</string>
                <key>offset</key>
                <string>{-10,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,198},{56,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4019_0_6_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,546},{70,60}}</string>
                <key>offset</key>
                <string>{-11,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,198},{70,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4019_0_6_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,488},{54,70}}</string>
                <key>offset</key>
                <string>{18,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,193},{54,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4019_0_6_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,56},{60,88}}</string>
                <key>offset</key>
                <string>{22,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{248,178},{60,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4019_0_6_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,54},{28,54}}</string>
                <key>offset</key>
                <string>{-27,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,195},{28,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4019_0_6_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,108},{26,52}}</string>
                <key>offset</key>
                <string>{-26,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,193},{26,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4019_0_6_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,0},{32,54}}</string>
                <key>offset</key>
                <string>{-29,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,192},{32,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4019_0_6_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,160},{84,56}}</string>
                <key>offset</key>
                <string>{1,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,201},{84,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4019_0_6_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,476},{74,70}}</string>
                <key>offset</key>
                <string>{7,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,194},{74,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4019_0_6_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,690},{50,48}}</string>
                <key>offset</key>
                <string>{-30,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,188},{50,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4019_0_6_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,254},{48,46}}</string>
                <key>offset</key>
                <string>{-29,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,188},{48,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4019_0_6_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,206},{48,42}}</string>
                <key>offset</key>
                <string>{-28,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,187},{48,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4019_0_6_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{94,56}}</string>
                <key>offset</key>
                <string>{-22,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,194},{94,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4019_0_6_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,284},{80,54}}</string>
                <key>offset</key>
                <string>{-19,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,195},{80,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4019_0_6_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,558},{68,58}}</string>
                <key>offset</key>
                <string>{-15,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,174},{68,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4019_0_6_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,606},{68,60}}</string>
                <key>offset</key>
                <string>{-11,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,173},{68,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4019_0_6_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,302},{72,48}}</string>
                <key>offset</key>
                <string>{-12,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,179},{72,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4019_0_6_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,436},{52,52}}</string>
                <key>offset</key>
                <string>{-32,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,185},{52,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4019_0_6_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,160},{44,46}}</string>
                <key>offset</key>
                <string>{-32,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,188},{44,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4019_0_6.png</string>
            <key>size</key>
            <string>{128,746}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:69c6a50c4636b2457ec3ad8320d90745:1/1$</string>
            <key>textureFileName</key>
            <string>4019_0_6.png</string>
        </dict>
    </dict>
</plist>
