<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4020_2_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,138},{62,118}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,197},{62,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4020_2_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,136},{2,2}}</string>
                <key>offset</key>
                <string>{-20,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,175},{2,2}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4020_2_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,136},{2,2}}</string>
                <key>offset</key>
                <string>{-19,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,174},{2,2}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4020_2_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,0},{30,132}}</string>
                <key>offset</key>
                <string>{13,137}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,53},{30,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4020_2_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,44},{24,100}}</string>
                <key>offset</key>
                <string>{9,134}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,72},{24,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4020_2_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,132},{116,86}}</string>
                <key>offset</key>
                <string>{-65,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,199},{116,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4020_2_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,144},{70,36}}</string>
                <key>offset</key>
                <string>{51,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{272,194},{70,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4020_2_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,214},{76,38}}</string>
                <key>offset</key>
                <string>{53,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{271,190},{76,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4020_2_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,0},{18,136}}</string>
                <key>offset</key>
                <string>{24,130}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{271,58},{18,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4020_2_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,0},{50,116}}</string>
                <key>offset</key>
                <string>{0,130}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,68},{50,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4020_2_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,60},{104,58}}</string>
                <key>offset</key>
                <string>{-90,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,185},{104,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4020_2_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,0},{126,40}}</string>
                <key>offset</key>
                <string>{86,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{279,220},{126,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4020_2_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,132},{124,52}}</string>
                <key>offset</key>
                <string>{77,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{271,208},{124,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4020_2_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,0},{42,132}}</string>
                <key>offset</key>
                <string>{24,122}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,68},{42,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4020_2_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,0},{58,132}}</string>
                <key>offset</key>
                <string>{-13,133}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,57},{58,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4020_2_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,214},{32,46}}</string>
                <key>offset</key>
                <string>{-61,71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,162},{32,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4020_2_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,126},{74,116}}</string>
                <key>offset</key>
                <string>{55,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{274,229},{74,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4020_2_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,118},{102,94}}</string>
                <key>offset</key>
                <string>{55,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{260,212},{102,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4020_2_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,134},{46,120}}</string>
                <key>offset</key>
                <string>{10,116}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,80},{46,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4020_2_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{38,138}}</string>
                <key>offset</key>
                <string>{-15,138}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,49},{38,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4020_2_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,0},{18,44}}</string>
                <key>offset</key>
                <string>{-21,86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,148},{18,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4020_2_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,28},{32,108}}</string>
                <key>offset</key>
                <string>{14,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{254,233},{32,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4020_2_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,0},{20,116}}</string>
                <key>offset</key>
                <string>{2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,213},{20,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4020_2_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,0},{28,112}}</string>
                <key>offset</key>
                <string>{-12,116}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,84},{28,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4020_2_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,0},{28,134}}</string>
                <key>offset</key>
                <string>{-9,143}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,46},{28,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4020_2.png</string>
            <key>size</key>
            <string>{459,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9002553e5db6f91d03c503b1849da879:1/1$</string>
            <key>textureFileName</key>
            <string>4020_2.png</string>
        </dict>
    </dict>
</plist>
