<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4020_0_3_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,150},{16,44}}</string>
                <key>offset</key>
                <string>{26,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{274,180},{16,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4020_0_3_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{16,150},{96,44}}</string>
                <key>offset</key>
                <string>{48,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{256,197},{96,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4020_0_3_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{126,66}}</string>
                <key>offset</key>
                <string>{42,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,202},{126,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4020_0_3_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{16,66},{84,104}}</string>
                <key>offset</key>
                <string>{11,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,192},{84,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4020_0_3_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,66},{16,118}}</string>
                <key>offset</key>
                <string>{-25,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,182},{16,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4020_0_3.png</string>
            <key>size</key>
            <string>{128,194}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6fc0eab0354756c67d544dd19aac3fcd:1/1$</string>
            <key>textureFileName</key>
            <string>4020_0_3.png</string>
        </dict>
    </dict>
</plist>
