<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4020_0_2_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,0},{12,128}}</string>
                <key>offset</key>
                <string>{11,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{261,176},{12,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4020_0_2_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,136},{2,2}}</string>
                <key>offset</key>
                <string>{-20,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,177},{2,2}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4020_0_2_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,136},{2,2}}</string>
                <key>offset</key>
                <string>{-18,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,174},{2,2}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4020_0_2_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,0},{26,130}}</string>
                <key>offset</key>
                <string>{13,131}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{256,60},{26,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4020_0_2_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,86},{34,104}}</string>
                <key>offset</key>
                <string>{6,127}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{245,77},{34,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4020_0_2_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,0},{86,110}}</string>
                <key>offset</key>
                <string>{-50,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,177},{86,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4020_0_2_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,114},{68,42}}</string>
                <key>offset</key>
                <string>{48,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{270,189},{68,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4020_0_2_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,174},{66,44}}</string>
                <key>offset</key>
                <string>{49,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{272,187},{66,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4020_0_2_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,0},{34,136}}</string>
                <key>offset</key>
                <string>{26,124}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{265,64},{34,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4020_0_2_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,0},{58,118}}</string>
                <key>offset</key>
                <string>{2,125}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,72},{58,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4020_0_2_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,140},{116,76}}</string>
                <key>offset</key>
                <string>{-82,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,166},{116,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4020_0_2_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,132},{122,54}}</string>
                <key>offset</key>
                <string>{78,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{273,207},{122,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4020_0_2_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,132},{118,60}}</string>
                <key>offset</key>
                <string>{75,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{272,202},{118,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4020_0_2_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,0},{42,132}}</string>
                <key>offset</key>
                <string>{29,115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{264,75},{42,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4020_0_2_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,0},{58,132}}</string>
                <key>offset</key>
                <string>{-6,126}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,64},{58,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4020_0_2_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,120},{78,54}}</string>
                <key>offset</key>
                <string>{-66,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,152},{78,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4020_0_2_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,0},{80,114}}</string>
                <key>offset</key>
                <string>{47,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,215},{80,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4020_0_2_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,156},{102,96}}</string>
                <key>offset</key>
                <string>{58,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,211},{102,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4020_0_2_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,132},{36,124}}</string>
                <key>offset</key>
                <string>{11,107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,87},{36,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4020_0_2_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{32,140}}</string>
                <key>offset</key>
                <string>{-5,129}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,57},{32,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4020_0_2_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,118},{12,48}}</string>
                <key>offset</key>
                <string>{-10,92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,140},{12,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4020_0_2_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,130},{28,118}}</string>
                <key>offset</key>
                <string>{10,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,215},{28,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4020_0_2_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,132},{28,124}}</string>
                <key>offset</key>
                <string>{7,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,208},{28,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4020_0_2_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,130},{24,118}}</string>
                <key>offset</key>
                <string>{-12,107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,90},{24,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4020_0_2_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,0},{36,132}}</string>
                <key>offset</key>
                <string>{-5,131}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,59},{36,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4020_0_2.png</string>
            <key>size</key>
            <string>{488,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7135aa7acf872fff50fd816571533af0:1/1$</string>
            <key>textureFileName</key>
            <string>4020_0_2.png</string>
        </dict>
    </dict>
</plist>
