<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4020_0_8_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,0},{106,64}}</string>
                <key>offset</key>
                <string>{15,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,160},{106,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4020_0_8_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,128},{122,72}}</string>
                <key>offset</key>
                <string>{-26,105}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,115},{122,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4020_0_8_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,0},{114,28}}</string>
                <key>offset</key>
                <string>{69,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{268,207},{114,28}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4020_0_8_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,226},{82,36}}</string>
                <key>offset</key>
                <string>{13,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,181},{82,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4020_0_8_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,0},{128,56}}</string>
                <key>offset</key>
                <string>{63,70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{255,158},{128,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4020_0_8_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,144},{44,82}}</string>
                <key>offset</key>
                <string>{-18,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,151},{44,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4020_0_8_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,0},{70,104}}</string>
                <key>offset</key>
                <string>{25,105}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{246,99},{70,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4020_0_8_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,0},{128,62}}</string>
                <key>offset</key>
                <string>{66,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{258,216},{128,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4020_0_8_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,250},{32,52}}</string>
                <key>offset</key>
                <string>{-24,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,171},{32,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4020_0_8_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,256},{86,24}}</string>
                <key>offset</key>
                <string>{20,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,189},{86,24}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4020_0_8_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,130},{98,68}}</string>
                <key>offset</key>
                <string>{-42,78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,144},{98,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4020_0_8_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,228},{54,106}}</string>
                <key>offset</key>
                <string>{63,89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{292,114},{54,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4020_0_8_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,64},{80,100}}</string>
                <key>offset</key>
                <string>{23,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,214},{80,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4020_0_8_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,114},{114,44}}</string>
                <key>offset</key>
                <string>{-47,74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,160},{114,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4020_0_8_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,226},{42,14}}</string>
                <key>offset</key>
                <string>{-33,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,193},{42,14}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4020_0_8_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{140,36}}</string>
                <key>offset</key>
                <string>{-42,91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,147},{140,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4020_0_8_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,122},{120,78}}</string>
                <key>offset</key>
                <string>{61,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{257,153},{120,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4020_0_8_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,70},{44,106}}</string>
                <key>offset</key>
                <string>{-35,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,209},{44,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4020_0_8_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,140},{134,54}}</string>
                <key>offset</key>
                <string>{-44,95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,134},{134,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4020_0_8_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,114},{100,16}}</string>
                <key>offset</key>
                <string>{-65,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,173},{100,16}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4020_0_8_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,242},{104,36}}</string>
                <key>offset</key>
                <string>{-14,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,132},{104,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4020_0_8_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,0},{122,38}}</string>
                <key>offset</key>
                <string>{27,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,189},{122,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4020_0_8_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,0},{114,78}}</string>
                <key>offset</key>
                <string>{-68,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,204},{114,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4020_0_8_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,144},{82,88}}</string>
                <key>offset</key>
                <string>{-12,103}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,109},{82,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4020_0_8_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,128},{128,56}}</string>
                <key>offset</key>
                <string>{-63,101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,127},{128,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4020_0_8.png</string>
            <key>size</key>
            <string>{508,282}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:23676f1454dcef0b69d30b72bf4249ff:1/1$</string>
            <key>textureFileName</key>
            <string>4020_0_8.png</string>
        </dict>
    </dict>
</plist>
