<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4020_0_0_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,108},{12,70}}</string>
                <key>offset</key>
                <string>{18,76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{268,145},{12,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4020_0_0_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,10},{10,88}}</string>
                <key>offset</key>
                <string>{20,82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{271,130},{10,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4020_0_0_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,48},{10,102}}</string>
                <key>offset</key>
                <string>{23,94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{274,111},{10,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4020_0_0_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,0},{10,92}}</string>
                <key>offset</key>
                <string>{23,88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{274,122},{10,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4020_0_0_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,98},{10,78}}</string>
                <key>offset</key>
                <string>{21,81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{272,136},{10,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4020_0_0_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,58},{98,56}}</string>
                <key>offset</key>
                <string>{53,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{260,164},{98,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4020_0_0_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,44},{98,76}}</string>
                <key>offset</key>
                <string>{55,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,149},{98,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4020_0_0_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,0},{96,86}}</string>
                <key>offset</key>
                <string>{62,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{270,135},{96,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4020_0_0_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,0},{100,78}}</string>
                <key>offset</key>
                <string>{62,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{268,144},{100,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4020_0_0_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,0},{98,62}}</string>
                <key>offset</key>
                <string>{56,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,158},{98,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4020_0_0_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,46},{140,42}}</string>
                <key>offset</key>
                <string>{55,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,196},{140,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4020_0_0_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,0},{140,46}}</string>
                <key>offset</key>
                <string>{59,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,185},{140,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4020_0_0_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{138,54}}</string>
                <key>offset</key>
                <string>{65,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,172},{138,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4020_0_0_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,0},{140,48}}</string>
                <key>offset</key>
                <string>{67,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,181},{140,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4020_0_0_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,0},{140,44}}</string>
                <key>offset</key>
                <string>{59,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,187},{140,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4020_0_0_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,54},{100,66}}</string>
                <key>offset</key>
                <string>{26,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,198},{100,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4020_0_0_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,20},{100,46}}</string>
                <key>offset</key>
                <string>{26,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,205},{100,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4020_0_0_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,78},{98,42}}</string>
                <key>offset</key>
                <string>{29,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,199},{98,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4020_0_0_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,20},{98,44}}</string>
                <key>offset</key>
                <string>{29,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,205},{98,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4020_0_0_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,62},{100,58}}</string>
                <key>offset</key>
                <string>{27,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,201},{100,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4020_0_0_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,86},{12,84}}</string>
                <key>offset</key>
                <string>{-17,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,189},{12,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4020_0_0_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,58},{12,60}}</string>
                <key>offset</key>
                <string>{-19,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,197},{12,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4020_0_0_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,58},{10,46}}</string>
                <key>offset</key>
                <string>{-21,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,201},{10,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4020_0_0_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,58},{10,56}}</string>
                <key>offset</key>
                <string>{-22,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,199},{10,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4020_0_0_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,88},{10,76}}</string>
                <key>offset</key>
                <string>{-19,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,191},{10,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4020_0_0.png</string>
            <key>size</key>
            <string>{944,120}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:69fb3053465130fd466536c0c2377795:1/1$</string>
            <key>textureFileName</key>
            <string>4020_0_0.png</string>
        </dict>
    </dict>
</plist>
