<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4021_1_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,78},{98,38}}</string>
                <key>offset</key>
                <string>{51,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{258,199},{98,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4021_1_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,70},{98,38}}</string>
                <key>offset</key>
                <string>{50,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{257,199},{98,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4021_1_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,50},{98,38}}</string>
                <key>offset</key>
                <string>{50,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{257,199},{98,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4021_1_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,0},{98,40}}</string>
                <key>offset</key>
                <string>{51,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{258,198},{98,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4021_1_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,0},{106,68}}</string>
                <key>offset</key>
                <string>{44,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,199},{106,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4021_1_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,0},{106,68}}</string>
                <key>offset</key>
                <string>{44,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,199},{106,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4021_1_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{106,68}}</string>
                <key>offset</key>
                <string>{44,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,199},{106,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4021_1_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,0},{104,70}}</string>
                <key>offset</key>
                <string>{44,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,199},{104,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4021_1_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,68},{52,98}}</string>
                <key>offset</key>
                <string>{12,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,194},{52,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4021_1_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,68},{54,96}}</string>
                <key>offset</key>
                <string>{12,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,195},{54,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4021_1_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,68},{54,98}}</string>
                <key>offset</key>
                <string>{12,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,194},{54,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4021_1_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,0},{50,98}}</string>
                <key>offset</key>
                <string>{11,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,195},{50,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4021_1_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,76},{36,100}}</string>
                <key>offset</key>
                <string>{-27,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,190},{36,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4021_1_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,88},{32,98}}</string>
                <key>offset</key>
                <string>{-26,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,192},{32,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4021_1_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,78},{32,98}}</string>
                <key>offset</key>
                <string>{-26,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,193},{32,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4021_1_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,74},{36,100}}</string>
                <key>offset</key>
                <string>{-27,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,191},{36,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4021_1_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,0},{92,74}}</string>
                <key>offset</key>
                <string>{-54,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,190},{92,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4021_1_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,0},{90,74}}</string>
                <key>offset</key>
                <string>{-53,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,191},{90,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4021_1_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,0},{90,78}}</string>
                <key>offset</key>
                <string>{-52,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,188},{90,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4021_1_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,0},{92,76}}</string>
                <key>offset</key>
                <string>{-53,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,189},{92,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4021_1.png</string>
            <key>size</key>
            <string>{926,122}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:36e26a214e4642bf07f2bd10c54056e5:1/1$</string>
            <key>textureFileName</key>
            <string>4021_1.png</string>
        </dict>
    </dict>
</plist>
