<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4021_0_7_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,0},{26,122}}</string>
                <key>offset</key>
                <string>{31,70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{274,125},{26,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4021_0_7_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,0},{60,96}}</string>
                <key>offset</key>
                <string>{0,125}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,83},{60,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4021_0_7_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,0},{74,92}}</string>
                <key>offset</key>
                <string>{-14,128}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,82},{74,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4021_0_7_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,26},{30,120}}</string>
                <key>offset</key>
                <string>{25,112}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{266,84},{30,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4021_0_7_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,0},{106,62}}</string>
                <key>offset</key>
                <string>{39,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,168},{106,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4021_0_7_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,62},{50,116}}</string>
                <key>offset</key>
                <string>{18,63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{249,135},{50,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4021_0_7_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,0},{44,114}}</string>
                <key>offset</key>
                <string>{-11,128}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,71},{44,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4021_0_7_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{50,114}}</string>
                <key>offset</key>
                <string>{-17,134}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,65},{50,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4021_0_7_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,90},{24,120}}</string>
                <key>offset</key>
                <string>{13,106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{257,90},{24,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4021_0_7_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,0},{112,28}}</string>
                <key>offset</key>
                <string>{21,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,199},{112,28}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4021_0_7_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,0},{66,96}}</string>
                <key>offset</key>
                <string>{0,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,148},{66,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4021_0_7_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,100},{12,124}}</string>
                <key>offset</key>
                <string>{-16,134}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,60},{12,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4021_0_7_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,106},{8,122}}</string>
                <key>offset</key>
                <string>{-11,140}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,55},{8,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4021_0_7_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,0},{44,110}}</string>
                <key>offset</key>
                <string>{-6,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,95},{44,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4021_0_7_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,26},{58,36}}</string>
                <key>offset</key>
                <string>{-10,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,198},{58,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4021_0_7_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,0},{56,72}}</string>
                <key>offset</key>
                <string>{-18,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,157},{56,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4021_0_7_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,72},{42,118}}</string>
                <key>offset</key>
                <string>{-9,138}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,59},{42,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4021_0_7_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,0},{56,112}}</string>
                <key>offset</key>
                <string>{2,141}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,59},{56,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4021_0_7_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,0},{50,94}}</string>
                <key>offset</key>
                <string>{-21,110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,99},{50,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4021_0_7_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,26},{42,34}}</string>
                <key>offset</key>
                <string>{-36,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,189},{42,34}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4021_0_7_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,0},{26,60}}</string>
                <key>offset</key>
                <string>{-30,71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,155},{26,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4021_0_7_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,0},{60,100}}</string>
                <key>offset</key>
                <string>{2,139}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,67},{60,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4021_0_7_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,0},{74,90}}</string>
                <key>offset</key>
                <string>{15,138}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,73},{74,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4021_0_7_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,0},{30,82}}</string>
                <key>offset</key>
                <string>{-24,118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,97},{30,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4021_0_7_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,0},{106,14}}</string>
                <key>offset</key>
                <string>{-38,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,184},{106,14}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4021_0_7.png</string>
            <key>size</key>
            <string>{980,114}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:06e3efdd6434cb6a57a7b5ecdf4408b2:1/1$</string>
            <key>textureFileName</key>
            <string>4021_0_7.png</string>
        </dict>
    </dict>
</plist>
