<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4021_7_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,62},{24,124}}</string>
                <key>offset</key>
                <string>{32,71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{276,123},{24,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4021_7_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,0},{60,96}}</string>
                <key>offset</key>
                <string>{3,131}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,77},{60,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4021_7_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,0},{74,90}}</string>
                <key>offset</key>
                <string>{-12,132}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,79},{74,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4021_7_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,0},{32,120}}</string>
                <key>offset</key>
                <string>{27,111}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{267,85},{32,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4021_7_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,0},{108,62}}</string>
                <key>offset</key>
                <string>{41,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,168},{108,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4021_7_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,0},{50,116}}</string>
                <key>offset</key>
                <string>{19,63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{250,135},{50,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4021_7_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,80},{48,114}}</string>
                <key>offset</key>
                <string>{-10,133}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,66},{48,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4021_7_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,0},{56,112}}</string>
                <key>offset</key>
                <string>{-19,139}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,61},{56,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4021_7_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,56},{24,122}}</string>
                <key>offset</key>
                <string>{14,105}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{258,90},{24,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4021_7_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,50},{112,26}}</string>
                <key>offset</key>
                <string>{21,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,202},{112,26}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4021_7_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,32},{64,96}}</string>
                <key>offset</key>
                <string>{-3,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,148},{64,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4021_7_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,32},{10,122}}</string>
                <key>offset</key>
                <string>{-17,138}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,57},{10,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4021_7_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,42},{8,122}}</string>
                <key>offset</key>
                <string>{-15,146}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,49},{8,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4021_7_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,92},{36,112}}</string>
                <key>offset</key>
                <string>{-10,105}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,95},{36,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4021_7_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,90},{52,36}}</string>
                <key>offset</key>
                <string>{-11,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,200},{52,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4021_7_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,70},{50,76}}</string>
                <key>offset</key>
                <string>{-19,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,154},{50,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4021_7_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,86},{38,118}}</string>
                <key>offset</key>
                <string>{-13,144}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,53},{38,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4021_7_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,0},{50,114}}</string>
                <key>offset</key>
                <string>{-1,149}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,50},{50,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4021_7_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,76},{46,98}}</string>
                <key>offset</key>
                <string>{-24,112}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,95},{46,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4021_7_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,90},{42,36}}</string>
                <key>offset</key>
                <string>{-37,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,189},{42,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4021_7_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,96},{26,66}}</string>
                <key>offset</key>
                <string>{-31,74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,149},{26,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4021_7_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,50},{60,102}}</string>
                <key>offset</key>
                <string>{-1,147}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,58},{60,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4021_7_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{74,92}}</string>
                <key>offset</key>
                <string>{13,147}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,63},{74,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4021_7_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,0},{32,86}}</string>
                <key>offset</key>
                <string>{-25,121}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,92},{32,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4021_7_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,50},{106,20}}</string>
                <key>offset</key>
                <string>{-40,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,180},{106,20}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4021_7.png</string>
            <key>size</key>
            <string>{870,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:12c586b71804f6d870a8e8838426f53d:1/1$</string>
            <key>textureFileName</key>
            <string>4021_7.png</string>
        </dict>
    </dict>
</plist>
