<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4022_0_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,308},{8,54}}</string>
                <key>offset</key>
                <string>{26,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{278,161},{8,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4022_0_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,368},{8,84}}</string>
                <key>offset</key>
                <string>{23,82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{275,132},{8,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4022_0_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,378},{8,102}}</string>
                <key>offset</key>
                <string>{22,90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{274,115},{8,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4022_0_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,360},{8,90}}</string>
                <key>offset</key>
                <string>{26,86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{278,125},{8,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4022_0_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,308},{8,66}}</string>
                <key>offset</key>
                <string>{25,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{277,149},{8,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4022_0_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,252},{106,44}}</string>
                <key>offset</key>
                <string>{57,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{260,184},{106,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4022_0_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,140},{106,64}}</string>
                <key>offset</key>
                <string>{62,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{265,158},{106,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4022_0_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,296},{104,82}}</string>
                <key>offset</key>
                <string>{63,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{267,140},{104,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4022_0_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,70},{106,70}}</string>
                <key>offset</key>
                <string>{60,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,151},{106,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4022_0_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,204},{106,48}}</string>
                <key>offset</key>
                <string>{57,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{260,173},{106,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4022_0_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,120},{150,40}}</string>
                <key>offset</key>
                <string>{55,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,204},{150,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4022_0_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,80},{150,40}}</string>
                <key>offset</key>
                <string>{65,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,195},{150,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4022_0_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,160},{146,42}}</string>
                <key>offset</key>
                <string>{68,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,185},{146,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4022_0_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,40},{150,40}}</string>
                <key>offset</key>
                <string>{59,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,190},{150,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4022_0_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{150,40}}</string>
                <key>offset</key>
                <string>{56,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,198},{150,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4022_0_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,0},{106,70}}</string>
                <key>offset</key>
                <string>{22,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,206},{106,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4022_0_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,264},{108,46}}</string>
                <key>offset</key>
                <string>{30,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,209},{108,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4022_0_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,310},{104,42}}</string>
                <key>offset</key>
                <string>{33,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,203},{104,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4022_0_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,202},{106,42}}</string>
                <key>offset</key>
                <string>{24,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,202},{106,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4022_0_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,202},{108,62}}</string>
                <key>offset</key>
                <string>{22,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,203},{108,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4022_0_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,352},{8,90}}</string>
                <key>offset</key>
                <string>{-24,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,195},{8,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4022_0_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,308},{8,62}}</string>
                <key>offset</key>
                <string>{-22,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,204},{8,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4022_0_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,376},{8,46}}</string>
                <key>offset</key>
                <string>{-21,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,204},{8,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4022_0_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,308},{8,54}}</string>
                <key>offset</key>
                <string>{-25,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,199},{8,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4022_0_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,308},{8,80}}</string>
                <key>offset</key>
                <string>{-24,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,194},{8,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4022_0.png</string>
            <key>size</key>
            <string>{256,388}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eff735b6c441c1b36e2dde44e45eb7b4:1/1$</string>
            <key>textureFileName</key>
            <string>4022_0.png</string>
        </dict>
    </dict>
</plist>
