<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4022_0_7_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,0},{42,150}}</string>
                <key>offset</key>
                <string>{31,90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{266,91},{42,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4022_0_7_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,182},{52,120}}</string>
                <key>offset</key>
                <string>{-3,142}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,54},{52,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4022_0_7_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,134},{70,120}}</string>
                <key>offset</key>
                <string>{-18,146}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,50},{70,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4022_0_7_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,0},{40,148}}</string>
                <key>offset</key>
                <string>{27,132}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{263,50},{40,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4022_0_7_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,134},{136,54}}</string>
                <key>offset</key>
                <string>{60,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,169},{136,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4022_0_7_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{68,134}}</string>
                <key>offset</key>
                <string>{29,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,111},{68,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4022_0_7_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,0},{46,138}}</string>
                <key>offset</key>
                <string>{-15,146}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,41},{46,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4022_0_7_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,188},{48,142}}</string>
                <key>offset</key>
                <string>{-21,154}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,31},{48,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4022_0_7_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,40},{32,144}}</string>
                <key>offset</key>
                <string>{17,124}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{257,60},{32,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4022_0_7_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,46},{138,42}}</string>
                <key>offset</key>
                <string>{39,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,194},{138,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4022_0_7_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,46},{80,106}}</string>
                <key>offset</key>
                <string>{9,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,132},{80,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4022_0_7_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,236},{20,148}}</string>
                <key>offset</key>
                <string>{-17,152}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,30},{20,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4022_0_7_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,72},{10,152}}</string>
                <key>offset</key>
                <string>{-11,161}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,19},{10,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4022_0_7_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,134},{48,128}}</string>
                <key>offset</key>
                <string>{-2,121}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,71},{48,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4022_0_7_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,152},{60,46}}</string>
                <key>offset</key>
                <string>{-5,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,199},{60,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4022_0_7_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,202},{50,80}}</string>
                <key>offset</key>
                <string>{-15,72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,144},{50,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4022_0_7_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,92},{42,146}}</string>
                <key>offset</key>
                <string>{-12,158}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,25},{42,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4022_0_7_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,42},{50,142}}</string>
                <key>offset</key>
                <string>{6,162}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,23},{50,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4022_0_7_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,158},{44,112}}</string>
                <key>offset</key>
                <string>{-21,125}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,75},{44,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4022_0_7_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,158},{56,44}}</string>
                <key>offset</key>
                <string>{-45,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,190},{56,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4022_0_7_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,0},{44,76}}</string>
                <key>offset</key>
                <string>{-30,82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,136},{44,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4022_0_7_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,82},{52,130}}</string>
                <key>offset</key>
                <string>{5,159}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,32},{52,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4022_0_7_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,88},{70,118}}</string>
                <key>offset</key>
                <string>{19,157}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,40},{70,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4022_0_7_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,202},{40,106}}</string>
                <key>offset</key>
                <string>{-26,134}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,69},{40,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4022_0_7_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,234},{136,22}}</string>
                <key>offset</key>
                <string>{-59,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,180},{136,22}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4022_0_7.png</string>
            <key>size</key>
            <string>{580,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f8176b42eed49ad6007acdb161064fc6:1/1$</string>
            <key>textureFileName</key>
            <string>4022_0_7.png</string>
        </dict>
    </dict>
</plist>
