<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4022_6_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,94},{132,74}}</string>
                <key>offset</key>
                <string>{47,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,207},{132,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4022_6_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,282},{122,88}}</string>
                <key>offset</key>
                <string>{40,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,205},{122,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4022_6_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,256},{122,90}}</string>
                <key>offset</key>
                <string>{40,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,204},{122,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4022_6_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,660},{86,34}}</string>
                <key>offset</key>
                <string>{53,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{266,190},{86,34}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4022_6_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,694},{82,38}}</string>
                <key>offset</key>
                <string>{51,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{266,191},{82,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4022_6_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,498},{62,112}}</string>
                <key>offset</key>
                <string>{9,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,199},{62,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4022_6_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,370},{48,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,195},{48,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4022_6_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,204},{52,124}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,195},{52,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4022_6_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{140,44}}</string>
                <key>offset</key>
                <string>{62,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,206},{140,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4022_6_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,44},{136,50}}</string>
                <key>offset</key>
                <string>{57,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,206},{136,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4022_6_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,452},{46,114}}</string>
                <key>offset</key>
                <string>{-35,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,193},{46,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4022_6_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,440},{58,118}}</string>
                <key>offset</key>
                <string>{-39,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,189},{58,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4022_6_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,346},{50,122}}</string>
                <key>offset</key>
                <string>{-38,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,189},{50,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4022_6_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,156},{112,88}}</string>
                <key>offset</key>
                <string>{35,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,203},{112,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4022_6_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,536},{110,96}}</string>
                <key>offset</key>
                <string>{31,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,200},{110,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4022_6_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,632},{110,76}}</string>
                <key>offset</key>
                <string>{-65,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,197},{110,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4022_6_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,82},{108,74}}</string>
                <key>offset</key>
                <string>{-64,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,198},{108,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4022_6_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,632},{106,80}}</string>
                <key>offset</key>
                <string>{-63,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,196},{106,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4022_6_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,498},{38,114}}</string>
                <key>offset</key>
                <string>{-14,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,195},{38,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4022_6_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,418},{34,120}}</string>
                <key>offset</key>
                <string>{-15,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,192},{34,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4022_6_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,168},{132,36}}</string>
                <key>offset</key>
                <string>{-47,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,192},{132,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4022_6_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,244},{120,38}}</string>
                <key>offset</key>
                <string>{-39,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,192},{120,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4022_6_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,396},{122,44}}</string>
                <key>offset</key>
                <string>{-39,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,190},{122,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4022_6_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,560},{86,100}}</string>
                <key>offset</key>
                <string>{-52,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,189},{86,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4022_6_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,0},{82,104}}</string>
                <key>offset</key>
                <string>{-50,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,189},{82,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4022_6.png</string>
            <key>size</key>
            <string>{244,754}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c10fef2c9ee27b969e4db1831eff563a:1/1$</string>
            <key>textureFileName</key>
            <string>4022_6.png</string>
        </dict>
    </dict>
</plist>
