<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4023_0_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,130},{12,72}}</string>
                <key>offset</key>
                <string>{25,63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{275,157},{12,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4023_0_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,166},{12,96}}</string>
                <key>offset</key>
                <string>{23,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{273,141},{12,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4023_0_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,262},{14,108}}</string>
                <key>offset</key>
                <string>{20,69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{269,133},{14,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4023_0_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,0},{12,100}}</string>
                <key>offset</key>
                <string>{25,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{275,137},{12,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4023_0_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,262},{14,80}}</string>
                <key>offset</key>
                <string>{23,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{272,150},{14,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4023_0_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,166},{106,60}}</string>
                <key>offset</key>
                <string>{30,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,177},{106,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4023_0_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,0},{108,76}}</string>
                <key>offset</key>
                <string>{36,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,162},{108,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4023_0_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,76},{106,90}}</string>
                <key>offset</key>
                <string>{38,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,152},{106,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4023_0_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,150},{108,80}}</string>
                <key>offset</key>
                <string>{34,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,158},{108,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4023_0_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,166},{106,62}}</string>
                <key>offset</key>
                <string>{30,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,169},{106,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4023_0_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,0},{150,56}}</string>
                <key>offset</key>
                <string>{19,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,203},{150,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4023_0_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{152,56}}</string>
                <key>offset</key>
                <string>{29,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,190},{152,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4023_0_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,0},{152,52}}</string>
                <key>offset</key>
                <string>{33,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,181},{152,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4023_0_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,0},{152,54}}</string>
                <key>offset</key>
                <string>{24,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,185},{152,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4023_0_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,0},{152,54}}</string>
                <key>offset</key>
                <string>{19,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,196},{152,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4023_0_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,0},{106,90}}</string>
                <key>offset</key>
                <string>{-3,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,189},{106,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4023_0_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,152},{110,68}}</string>
                <key>offset</key>
                <string>{5,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,202},{110,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4023_0_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,152},{110,58}}</string>
                <key>offset</key>
                <string>{10,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,202},{110,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4023_0_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,152},{110,62}}</string>
                <key>offset</key>
                <string>{0,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,199},{110,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4023_0_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,152},{110,82}}</string>
                <key>offset</key>
                <string>{-3,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,189},{110,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4023_0_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,262},{12,110}}</string>
                <key>offset</key>
                <string>{-23,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,172},{12,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4023_0_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,106},{12,86}}</string>
                <key>offset</key>
                <string>{-21,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,189},{12,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4023_0_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,262},{14,66}}</string>
                <key>offset</key>
                <string>{-20,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,201},{14,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4023_0_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,118},{12,80}}</string>
                <key>offset</key>
                <string>{-23,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,185},{12,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4023_0_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,0},{12,102}}</string>
                <key>offset</key>
                <string>{-22,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,173},{12,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4023_0.png</string>
            <key>size</key>
            <string>{512,278}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:76da5d5f60cbc7cf1dc4c56a9bc7e7ca:1/1$</string>
            <key>textureFileName</key>
            <string>4023_0.png</string>
        </dict>
    </dict>
</plist>
