<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4023_0_8_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,422},{110,68}}</string>
                <key>offset</key>
                <string>{1,73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,149},{110,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4023_0_8_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,246},{128,86}}</string>
                <key>offset</key>
                <string>{-4,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,115},{128,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4023_0_8_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,602},{132,38}}</string>
                <key>offset</key>
                <string>{55,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{245,209},{132,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4023_0_8_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,422},{86,40}}</string>
                <key>offset</key>
                <string>{4,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,175},{86,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4023_0_8_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,332},{138,56}}</string>
                <key>offset</key>
                <string>{42,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,162},{138,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4023_0_8_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,586},{64,86}}</string>
                <key>offset</key>
                <string>{-27,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,134},{64,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4023_0_8_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,0},{70,116}}</string>
                <key>offset</key>
                <string>{29,89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{250,109},{70,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4023_0_8_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,164},{134,82}}</string>
                <key>offset</key>
                <string>{43,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,204},{134,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4023_0_8_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,672},{48,56}}</string>
                <key>offset</key>
                <string>{-28,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,164},{48,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4023_0_8_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,310},{92,32}}</string>
                <key>offset</key>
                <string>{11,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,190},{92,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4023_0_8_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,470},{124,72}}</string>
                <key>offset</key>
                <string>{-36,86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,134},{124,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4023_0_8_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,310},{82,112}}</string>
                <key>offset</key>
                <string>{68,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{283,130},{82,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4023_0_8_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,156},{82,114}}</string>
                <key>offset</key>
                <string>{17,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,195},{82,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4023_0_8_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,594},{124,64}}</string>
                <key>offset</key>
                <string>{-30,83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,141},{124,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4023_0_8_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,720},{66,20}}</string>
                <key>offset</key>
                <string>{-43,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,190},{66,20}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4023_0_8_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,602},{152,46}}</string>
                <key>offset</key>
                <string>{-19,97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,136},{152,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4023_0_8_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,82},{136,82}}</string>
                <key>offset</key>
                <string>{47,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,162},{136,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4023_0_8_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,238},{72,114}}</string>
                <key>offset</key>
                <string>{-42,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,189},{72,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4023_0_8_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{140,82}}</string>
                <key>offset</key>
                <string>{-19,100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,115},{140,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4023_0_8_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,734},{124,22}}</string>
                <key>offset</key>
                <string>{-58,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,170},{124,22}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4023_0_8_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,532},{110,54}}</string>
                <key>offset</key>
                <string>{0,109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,120},{110,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4023_0_8_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,586},{128,38}}</string>
                <key>offset</key>
                <string>{5,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,191},{128,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4023_0_8_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,332},{132,82}}</string>
                <key>offset</key>
                <string>{-54,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,188},{132,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4023_0_8_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,70},{86,114}}</string>
                <key>offset</key>
                <string>{-2,100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,99},{86,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4023_0_8_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,464},{138,70}}</string>
                <key>offset</key>
                <string>{-41,95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,126},{138,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4023_0_8.png</string>
            <key>size</key>
            <string>{256,756}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6fd60cd80b6e4c62ab82451d4845c21a:1/1$</string>
            <key>textureFileName</key>
            <string>4023_0_8.png</string>
        </dict>
    </dict>
</plist>
