<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4024_7_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,162},{54,160}}</string>
                <key>offset</key>
                <string>{27,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{256,123},{54,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4024_7_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,314},{68,132}}</string>
                <key>offset</key>
                <string>{10,119}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,71},{68,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4024_7_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,0},{84,128}}</string>
                <key>offset</key>
                <string>{-2,123}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,69},{84,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4024_7_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,160},{44,158}}</string>
                <key>offset</key>
                <string>{27,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{261,83},{44,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4024_7_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,0},{148,74}}</string>
                <key>offset</key>
                <string>{28,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,167},{148,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4024_7_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,148},{78,146}}</string>
                <key>offset</key>
                <string>{14,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,137},{78,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4024_7_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,152},{56,150}}</string>
                <key>offset</key>
                <string>{-4,117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,64},{56,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4024_7_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,322},{72,152}}</string>
                <key>offset</key>
                <string>{-16,124}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,56},{72,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4024_7_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,0},{42,156}}</string>
                <key>offset</key>
                <string>{12,87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,91},{42,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4024_7_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,148},{148,48}}</string>
                <key>offset</key>
                <string>{6,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,189},{148,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4024_7_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,138},{86,118}}</string>
                <key>offset</key>
                <string>{-10,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,150},{86,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4024_7_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,0},{22,160}}</string>
                <key>offset</key>
                <string>{-13,121}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,55},{22,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4024_7_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{38,162}}</string>
                <key>offset</key>
                <string>{-28,129}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,46},{38,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4024_7_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,0},{48,142}}</string>
                <key>offset</key>
                <string>{-15,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,96},{48,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4024_7_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,224},{64,60}}</string>
                <key>offset</key>
                <string>{-18,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,184},{64,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4024_7_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,302},{60,92}}</string>
                <key>offset</key>
                <string>{-25,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,156},{60,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4024_7_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,156},{42,154}}</string>
                <key>offset</key>
                <string>{-17,127}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,52},{42,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4024_7_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,0},{58,152}}</string>
                <key>offset</key>
                <string>{-8,134}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,46},{58,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4024_7_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,84},{54,126}}</string>
                <key>offset</key>
                <string>{-28,98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,95},{54,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4024_7_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,140},{62,58}}</string>
                <key>offset</key>
                <string>{-33,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,174},{62,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4024_7_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,224},{54,82}}</string>
                <key>offset</key>
                <string>{-26,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,151},{54,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4024_7_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,0},{68,140}}</string>
                <key>offset</key>
                <string>{-9,134}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,52},{68,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4024_7_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,296},{86,128}}</string>
                <key>offset</key>
                <string>{3,136}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,56},{86,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4024_7_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,198},{44,116}}</string>
                <key>offset</key>
                <string>{-26,109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,89},{44,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4024_7_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,0},{148,34}}</string>
                <key>offset</key>
                <string>{-27,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,174},{148,34}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4024_7.png</string>
            <key>size</key>
            <string>{512,394}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:38b3ed8a747dc734bb8e6dc59f427c6a:1/1$</string>
            <key>textureFileName</key>
            <string>4024_7.png</string>
        </dict>
    </dict>
</plist>
