<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4024_0_2_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,54},{22,148}}</string>
                <key>offset</key>
                <string>{16,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{261,137},{22,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4024_0_2_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,352},{2,2}}</string>
                <key>offset</key>
                <string>{-19,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,175},{2,2}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4024_0_2_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,352},{2,2}}</string>
                <key>offset</key>
                <string>{-16,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,174},{2,2}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4024_0_2_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,316},{36,152}}</string>
                <key>offset</key>
                <string>{21,103}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{259,77},{36,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4024_0_2_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,84},{62,122}}</string>
                <key>offset</key>
                <string>{2,106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,89},{62,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4024_0_2_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,116},{104,126}}</string>
                <key>offset</key>
                <string>{-32,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,145},{104,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4024_0_2_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,198},{76,44}}</string>
                <key>offset</key>
                <string>{33,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,188},{76,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4024_0_2_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,242},{72,48}}</string>
                <key>offset</key>
                <string>{35,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,183},{72,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4024_0_2_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,90},{42,156}}</string>
                <key>offset</key>
                <string>{32,93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{267,85},{42,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4024_0_2_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,146},{62,140}}</string>
                <key>offset</key>
                <string>{12,101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,85},{62,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4024_0_2_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,0},{136,84}}</string>
                <key>offset</key>
                <string>{-58,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,148},{136,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4024_0_2_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,242},{140,66}}</string>
                <key>offset</key>
                <string>{51,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,191},{140,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4024_0_2_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,242},{134,74}}</string>
                <key>offset</key>
                <string>{50,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,184},{134,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4024_0_2_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,194},{48,152}}</string>
                <key>offset</key>
                <string>{27,83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{259,97},{48,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4024_0_2_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,242},{56,154}}</string>
                <key>offset</key>
                <string>{4,96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,83},{56,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4024_0_2_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,0},{90,54}}</string>
                <key>offset</key>
                <string>{-50,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,144},{90,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4024_0_2_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,0},{90,136}}</string>
                <key>offset</key>
                <string>{34,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{245,175},{90,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4024_0_2_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{118,116}}</string>
                <key>offset</key>
                <string>{36,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,180},{118,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4024_0_2_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,308},{46,144}}</string>
                <key>offset</key>
                <string>{5,79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,105},{46,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4024_0_2_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,298},{50,160}}</string>
                <key>offset</key>
                <string>{6,96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,80},{50,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4024_0_2_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,290},{22,44}}</string>
                <key>offset</key>
                <string>{-15,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,138},{22,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4024_0_2_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,54},{40,138}}</string>
                <key>offset</key>
                <string>{5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,180},{40,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4024_0_2_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,54},{40,144}}</string>
                <key>offset</key>
                <string>{4,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,172},{40,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4024_0_2_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,208},{34,132}}</string>
                <key>offset</key>
                <string>{-19,82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,108},{34,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4024_0_2_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,132},{62,152}}</string>
                <key>offset</key>
                <string>{-2,99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,81},{62,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4024_0_2.png</string>
            <key>size</key>
            <string>{501,354}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:75e5a8eea740dfcbdc678d7a9588681f:1/1$</string>
            <key>textureFileName</key>
            <string>4024_0_2.png</string>
        </dict>
    </dict>
</plist>
