<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4024_0_6_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{146,86}}</string>
                <key>offset</key>
                <string>{16,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,182},{146,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4024_0_6_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,88},{136,96}}</string>
                <key>offset</key>
                <string>{12,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,179},{136,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4024_0_6_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,86},{136,100}}</string>
                <key>offset</key>
                <string>{12,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,177},{136,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4024_0_6_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,462},{88,50}}</string>
                <key>offset</key>
                <string>{30,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,192},{88,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4024_0_6_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,0},{90,38}}</string>
                <key>offset</key>
                <string>{31,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,189},{90,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4024_0_6_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,354},{72,122}}</string>
                <key>offset</key>
                <string>{-5,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,167},{72,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4024_0_6_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,224},{62,130}}</string>
                <key>offset</key>
                <string>{-6,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,162},{62,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4024_0_6_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,232},{64,134}}</string>
                <key>offset</key>
                <string>{-11,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,160},{64,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4024_0_6_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,200},{134,84}}</string>
                <key>offset</key>
                <string>{18,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,182},{134,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4024_0_6_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,0},{146,62}}</string>
                <key>offset</key>
                <string>{23,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,189},{146,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4024_0_6_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,372},{50,124}}</string>
                <key>offset</key>
                <string>{-25,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,160},{50,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4024_0_6_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,448},{62,126}}</string>
                <key>offset</key>
                <string>{-26,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,156},{62,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4024_0_6_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,90},{54,134}}</string>
                <key>offset</key>
                <string>{-27,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,151},{54,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4024_0_6_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,338},{110,126}}</string>
                <key>offset</key>
                <string>{0,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,164},{110,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4024_0_6_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,372},{124,104}}</string>
                <key>offset</key>
                <string>{5,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,173},{124,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4024_0_6_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,184},{134,90}}</string>
                <key>offset</key>
                <string>{-28,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,166},{134,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4024_0_6_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,62},{140,88}}</string>
                <key>offset</key>
                <string>{-26,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,165},{140,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4024_0_6_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,274},{130,98}}</string>
                <key>offset</key>
                <string>{-25,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,159},{130,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4024_0_6_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,48},{40,146}}</string>
                <key>offset</key>
                <string>{-17,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,148},{40,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4024_0_6_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,296},{42,130}}</string>
                <key>offset</key>
                <string>{-17,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,156},{42,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4024_0_6_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,0},{146,48}}</string>
                <key>offset</key>
                <string>{-16,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,180},{146,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4024_0_6_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,186},{136,46}}</string>
                <key>offset</key>
                <string>{-11,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,180},{136,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4024_0_6_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,150},{136,50}}</string>
                <key>offset</key>
                <string>{-10,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,176},{136,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4024_0_6_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,284},{88,130}}</string>
                <key>offset</key>
                <string>{-28,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,146},{88,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4024_0_6_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,372},{90,116}}</string>
                <key>offset</key>
                <string>{-30,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,153},{90,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4024_0_6.png</string>
            <key>size</key>
            <string>{476,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f246b0ea3a9e99e9588977585580d44a:1/1$</string>
            <key>textureFileName</key>
            <string>4024_0_6.png</string>
        </dict>
    </dict>
</plist>
