<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4024_0_7_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{44,162}}</string>
                <key>offset</key>
                <string>{30,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{264,122},{44,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4024_0_7_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,338},{70,128}}</string>
                <key>offset</key>
                <string>{7,112}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,80},{70,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4024_0_7_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,314},{88,128}}</string>
                <key>offset</key>
                <string>{-4,117}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,75},{88,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4024_0_7_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,0},{60,158}}</string>
                <key>offset</key>
                <string>{15,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,83},{60,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4024_0_7_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,48},{146,80}}</string>
                <key>offset</key>
                <string>{27,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,162},{146,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4024_0_7_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,150},{74,148}}</string>
                <key>offset</key>
                <string>{13,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,136},{74,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4024_0_7_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,0},{52,150}}</string>
                <key>offset</key>
                <string>{-6,112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,69},{52,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4024_0_7_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,152},{58,150}}</string>
                <key>offset</key>
                <string>{-11,118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,63},{58,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4024_0_7_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,158},{46,156}}</string>
                <key>offset</key>
                <string>{6,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,89},{46,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4024_0_7_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,0},{148,56}}</string>
                <key>offset</key>
                <string>{4,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,179},{148,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4024_0_7_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,298},{86,120}}</string>
                <key>offset</key>
                <string>{-10,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,149},{86,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4024_0_7_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{18,162},{28,160}}</string>
                <key>offset</key>
                <string>{-12,116}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,60},{28,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4024_0_7_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,162},{18,162}}</string>
                <key>offset</key>
                <string>{-11,123}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,52},{18,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4024_0_7_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,198},{54,142}}</string>
                <key>offset</key>
                <string>{-12,90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,95},{54,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4024_0_7_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,122},{68,58}}</string>
                <key>offset</key>
                <string>{-18,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,183},{68,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4024_0_7_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,324},{64,92}}</string>
                <key>offset</key>
                <string>{-25,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,156},{64,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4024_0_7_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,158},{52,156}}</string>
                <key>offset</key>
                <string>{-13,122}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,56},{52,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4024_0_7_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,0},{64,152}}</string>
                <key>offset</key>
                <string>{-5,127}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,53},{64,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4024_0_7_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,0},{62,122}}</string>
                <key>offset</key>
                <string>{-23,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,98},{62,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4024_0_7_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,190},{64,56}}</string>
                <key>offset</key>
                <string>{-32,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,172},{64,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4024_0_7_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,254},{44,80}}</string>
                <key>offset</key>
                <string>{-29,63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,153},{44,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4024_0_7_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,128},{70,142}}</string>
                <key>offset</key>
                <string>{-5,128}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,57},{70,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4024_0_7_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,252},{86,128}}</string>
                <key>offset</key>
                <string>{5,129}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,63},{86,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4024_0_7_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,302},{60,114}}</string>
                <key>offset</key>
                <string>{-14,109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,90},{60,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4024_0_7_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,0},{148,48}}</string>
                <key>offset</key>
                <string>{-26,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,154},{148,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4024_0_7.png</string>
            <key>size</key>
            <string>{488,418}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1b17ddbcbef1ef6696b8b998f320b0bc:1/1$</string>
            <key>textureFileName</key>
            <string>4024_0_7.png</string>
        </dict>
    </dict>
</plist>
