<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4025_0_3_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,102},{12,44}}</string>
                <key>offset</key>
                <string>{25,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{275,183},{12,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4025_0_3_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,102},{48,46}}</string>
                <key>offset</key>
                <string>{24,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{256,193},{48,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4025_0_3_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{64,46}}</string>
                <key>offset</key>
                <string>{10,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,200},{64,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4025_0_3_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,58},{44,56}}</string>
                <key>offset</key>
                <string>{-10,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,192},{44,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4025_0_3_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,46},{12,62}}</string>
                <key>offset</key>
                <string>{-24,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,182},{12,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4025_0_3.png</string>
            <key>size</key>
            <string>{64,148}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:09a291544a3a903d98c499f012914fd1:1/1$</string>
            <key>textureFileName</key>
            <string>4025_0_3.png</string>
        </dict>
    </dict>
</plist>
