<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4025_6_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,122},{64,46}}</string>
                <key>offset</key>
                <string>{15,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,206},{64,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4025_6_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,224},{60,48}}</string>
                <key>offset</key>
                <string>{10,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,205},{60,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4025_6_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,202},{60,50}}</string>
                <key>offset</key>
                <string>{10,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,204},{60,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4025_6_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,150},{44,38}}</string>
                <key>offset</key>
                <string>{32,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{266,188},{44,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4025_6_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,110},{42,40}}</string>
                <key>offset</key>
                <string>{30,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{265,190},{42,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4025_6_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,406},{34,56}}</string>
                <key>offset</key>
                <string>{-6,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,199},{34,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4025_6_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,284},{30,60}}</string>
                <key>offset</key>
                <string>{-10,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,197},{30,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4025_6_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,168},{34,62}}</string>
                <key>offset</key>
                <string>{-10,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,196},{34,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4025_6_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{70,44}}</string>
                <key>offset</key>
                <string>{27,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,199},{70,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4025_6_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,44},{66,46}}</string>
                <key>offset</key>
                <string>{24,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,199},{66,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4025_6_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,470},{22,54}}</string>
                <key>offset</key>
                <string>{-24,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,194},{22,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4025_6_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,440},{28,56}}</string>
                <key>offset</key>
                <string>{-25,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,189},{28,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4025_6_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,342},{26,58}}</string>
                <key>offset</key>
                <string>{-27,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,192},{26,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4025_6_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,284},{56,48}}</string>
                <key>offset</key>
                <string>{7,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,203},{56,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4025_6_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,380},{54,50}}</string>
                <key>offset</key>
                <string>{3,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,201},{54,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4025_6_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,434},{48,36}}</string>
                <key>offset</key>
                <string>{-34,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,195},{48,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4025_6_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,468},{44,36}}</string>
                <key>offset</key>
                <string>{-33,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,194},{44,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4025_6_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,188},{44,36}}</string>
                <key>offset</key>
                <string>{-32,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,195},{44,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4025_6_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,368},{38,56}}</string>
                <key>offset</key>
                <string>{-16,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,196},{38,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4025_6_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,0},{38,60}}</string>
                <key>offset</key>
                <string>{-18,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,191},{38,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4025_6_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,90},{66,32}}</string>
                <key>offset</key>
                <string>{-14,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,187},{66,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4025_6_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,252},{60,32}}</string>
                <key>offset</key>
                <string>{-9,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,188},{60,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4025_6_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,314},{60,28}}</string>
                <key>offset</key>
                <string>{-8,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,189},{60,28}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4025_6_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,60},{42,50}}</string>
                <key>offset</key>
                <string>{-31,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,189},{42,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4025_6_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,340},{40,48}}</string>
                <key>offset</key>
                <string>{-30,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,190},{40,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4025_6.png</string>
            <key>size</key>
            <string>{108,504}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:97773c9ececb3fd6e3c0f7bf2a35d329:1/1$</string>
            <key>textureFileName</key>
            <string>4025_6.png</string>
        </dict>
    </dict>
</plist>
