<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4026_2_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,0},{70,128}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,195},{70,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4026_2_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,242},{4,2}}</string>
                <key>offset</key>
                <string>{22,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{276,228},{4,2}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4026_2_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,246},{2,2}}</string>
                <key>offset</key>
                <string>{15,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{270,231},{2,2}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4026_2_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,0},{36,146}}</string>
                <key>offset</key>
                <string>{11,143}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,40},{36,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4026_2_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,134},{32,114}}</string>
                <key>offset</key>
                <string>{9,139}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,60},{32,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4026_2_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,152},{128,90}}</string>
                <key>offset</key>
                <string>{-72,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,199},{128,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4026_2_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,166},{74,40}}</string>
                <key>offset</key>
                <string>{52,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{271,196},{74,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4026_2_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,146},{80,44}}</string>
                <key>offset</key>
                <string>{55,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{271,187},{80,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4026_2_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,0},{20,152}}</string>
                <key>offset</key>
                <string>{26,136}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{272,44},{20,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4026_2_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,0},{50,130}}</string>
                <key>offset</key>
                <string>{0,137}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,54},{50,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4026_2_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,0},{116,60}}</string>
                <key>offset</key>
                <string>{-96,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,179},{116,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4026_2_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,0},{136,48}}</string>
                <key>offset</key>
                <string>{89,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{277,219},{136,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4026_2_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,0},{134,62}}</string>
                <key>offset</key>
                <string>{80,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{269,208},{134,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4026_2_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,0},{54,146}}</string>
                <key>offset</key>
                <string>{25,126}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,57},{54,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4026_2_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,0},{60,146}}</string>
                <key>offset</key>
                <string>{-5,139}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,44},{60,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4026_2_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,128},{38,50}}</string>
                <key>offset</key>
                <string>{-62,79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,152},{38,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4026_2_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,146},{76,126}}</string>
                <key>offset</key>
                <string>{58,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{276,229},{76,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4026_2_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,134},{112,104}}</string>
                <key>offset</key>
                <string>{58,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{258,213},{112,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4026_2_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,0},{62,132}}</string>
                <key>offset</key>
                <string>{10,119}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,71},{62,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4026_2_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{42,152}}</string>
                <key>offset</key>
                <string>{-9,142}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,38},{42,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4026_2_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,226},{18,48}}</string>
                <key>offset</key>
                <string>{-18,93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,139},{18,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4026_2_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,116},{38,122}}</string>
                <key>offset</key>
                <string>{17,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,232},{38,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4026_2_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,222},{26,130}}</string>
                <key>offset</key>
                <string>{4,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{247,213},{26,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4026_2_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,130},{36,118}}</string>
                <key>offset</key>
                <string>{-10,118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,79},{36,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4026_2_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,0},{32,148}}</string>
                <key>offset</key>
                <string>{-7,146}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,36},{32,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4026_2.png</string>
            <key>size</key>
            <string>{598,248}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3a8accec4052ba5d564d3e9771ee8a69:1/1$</string>
            <key>textureFileName</key>
            <string>4026_2.png</string>
        </dict>
    </dict>
</plist>
