<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4026_8_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,298},{114,72}}</string>
                <key>offset</key>
                <string>{14,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,152},{114,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4026_8_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,386},{130,86}}</string>
                <key>offset</key>
                <string>{-25,111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,102},{130,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4026_8_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,608},{126,44}}</string>
                <key>offset</key>
                <string>{73,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{266,198},{126,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4026_8_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,654},{88,22}}</string>
                <key>offset</key>
                <string>{10,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,178},{88,22}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4026_8_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,234},{140,64}}</string>
                <key>offset</key>
                <string>{65,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,157},{140,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4026_8_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,0},{50,92}}</string>
                <key>offset</key>
                <string>{-22,69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,141},{50,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4026_8_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,568},{62,122}}</string>
                <key>offset</key>
                <string>{29,111}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{254,84},{62,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4026_8_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,94},{144,72}}</string>
                <key>offset</key>
                <string>{67,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,213},{144,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4026_8_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,652},{52,40}}</string>
                <key>offset</key>
                <string>{-27,72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,164},{52,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4026_8_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,654},{86,42}}</string>
                <key>offset</key>
                <string>{17,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,183},{86,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4026_8_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,224},{108,74}}</string>
                <key>offset</key>
                <string>{-44,83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,136},{108,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4026_8_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,422},{70,120}}</string>
                <key>offset</key>
                <string>{66,92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{287,104},{70,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4026_8_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,140},{84,106}}</string>
                <key>offset</key>
                <string>{23,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,213},{84,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4026_8_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,528},{124,40}}</string>
                <key>offset</key>
                <string>{-50,86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,150},{124,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4026_8_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,652},{48,30}}</string>
                <key>offset</key>
                <string>{-39,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,182},{48,30}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4026_8_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{154,28}}</string>
                <key>offset</key>
                <string>{-41,100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,142},{154,28}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4026_8_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,298},{132,88}}</string>
                <key>offset</key>
                <string>{65,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,145},{132,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4026_8_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,370},{52,114}}</string>
                <key>offset</key>
                <string>{-34,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,206},{52,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4026_8_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,28},{146,66}}</string>
                <key>offset</key>
                <string>{-41,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,118},{146,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4026_8_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,630},{114,24}}</string>
                <key>offset</key>
                <string>{-74,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,164},{114,24}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4026_8_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,492},{114,36}}</string>
                <key>offset</key>
                <string>{-13,109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,129},{114,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4026_8_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,472},{130,54}}</string>
                <key>offset</key>
                <string>{26,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,182},{130,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4026_8_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,526},{126,82}}</string>
                <key>offset</key>
                <string>{-73,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,201},{126,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4026_8_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,50},{90,100}}</string>
                <key>offset</key>
                <string>{-9,114}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,92},{90,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4026_8_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,166},{140,68}}</string>
                <key>offset</key>
                <string>{-64,107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,115},{140,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4026_8.png</string>
            <key>size</key>
            <string>{250,706}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a2e085a05fcdced53e7938dca405b71e:1/1$</string>
            <key>textureFileName</key>
            <string>4026_8.png</string>
        </dict>
    </dict>
</plist>
