<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4027_7_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{16,0},{48,176}}</string>
                <key>offset</key>
                <string>{39,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{271,107},{48,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4027_7_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,146},{78,146}}</string>
                <key>offset</key>
                <string>{6,127}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,56},{78,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4027_7_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,0},{96,146}}</string>
                <key>offset</key>
                <string>{-5,132}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,51},{96,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4027_7_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,0},{48,174}}</string>
                <key>offset</key>
                <string>{29,103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{261,66},{48,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4027_7_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,0},{164,80}}</string>
                <key>offset</key>
                <string>{36,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,163},{164,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4027_7_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,0},{96,158}}</string>
                <key>offset</key>
                <string>{24,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,126},{96,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4027_7_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,166},{62,164}}</string>
                <key>offset</key>
                <string>{-7,125}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,49},{62,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4027_7_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,0},{72,166}}</string>
                <key>offset</key>
                <string>{-14,132}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,41},{72,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4027_7_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,0},{48,170}}</string>
                <key>offset</key>
                <string>{18,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,77},{48,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4027_7_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,0},{162,48}}</string>
                <key>offset</key>
                <string>{14,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,195},{162,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4027_7_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,0},{96,126}}</string>
                <key>offset</key>
                <string>{-6,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,145},{96,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4027_7_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,0},{16,176}}</string>
                <key>offset</key>
                <string>{-17,129}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,39},{16,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4027_7_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{16,178}}</string>
                <key>offset</key>
                <string>{-14,138}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,29},{16,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4027_7_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,0},{54,154}}</string>
                <key>offset</key>
                <string>{-12,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,85},{54,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4027_7_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,158},{72,74}}</string>
                <key>offset</key>
                <string>{-15,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,187},{72,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4027_7_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,162},{68,100}}</string>
                <key>offset</key>
                <string>{-22,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,150},{68,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4027_7_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,178},{52,170}}</string>
                <key>offset</key>
                <string>{-14,136}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,35},{52,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4027_7_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,0},{68,168}}</string>
                <key>offset</key>
                <string>{-4,142}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,30},{68,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4027_7_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,170},{60,136}}</string>
                <key>offset</key>
                <string>{-25,102}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,86},{60,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4027_7_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,154},{72,72}}</string>
                <key>offset</key>
                <string>{-38,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,176},{72,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4027_7_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,96},{48,90}}</string>
                <key>offset</key>
                <string>{-38,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,145},{48,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4027_7_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,0},{78,154}}</string>
                <key>offset</key>
                <string>{-6,142}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,37},{78,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4027_7_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,0},{96,144}}</string>
                <key>offset</key>
                <string>{7,144}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,40},{96,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4027_7_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,96},{48,128}}</string>
                <key>offset</key>
                <string>{-28,115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,77},{48,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4027_7_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,0},{162,34}}</string>
                <key>offset</key>
                <string>{-35,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,177},{162,34}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4027_7.png</string>
            <key>size</key>
            <string>{1024,230}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:af3cc0674e6cdd613e96cdb68f549f7c:1/1$</string>
            <key>textureFileName</key>
            <string>4027_7.png</string>
        </dict>
    </dict>
</plist>
