<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4027_1_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,0},{130,76}}</string>
                <key>offset</key>
                <string>{39,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,185},{130,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4027_1_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,0},{128,76}}</string>
                <key>offset</key>
                <string>{39,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,185},{128,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4027_1_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,130},{126,76}}</string>
                <key>offset</key>
                <string>{39,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,185},{126,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4027_1_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,158},{128,78}}</string>
                <key>offset</key>
                <string>{39,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,185},{128,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4027_1_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,0},{142,120}}</string>
                <key>offset</key>
                <string>{32,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,175},{142,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4027_1_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,0},{142,120}}</string>
                <key>offset</key>
                <string>{32,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,175},{142,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4027_1_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,0},{142,118}}</string>
                <key>offset</key>
                <string>{32,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,177},{142,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4027_1_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,0},{140,122}}</string>
                <key>offset</key>
                <string>{32,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,175},{140,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4027_1_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,0},{74,154}}</string>
                <key>offset</key>
                <string>{7,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,164},{74,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4027_1_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,156},{76,156}}</string>
                <key>offset</key>
                <string>{8,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,164},{76,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4027_1_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,0},{76,156}}</string>
                <key>offset</key>
                <string>{8,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,163},{76,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4027_1_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{72,158}}</string>
                <key>offset</key>
                <string>{7,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,162},{72,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4027_1_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,206},{34,108}}</string>
                <key>offset</key>
                <string>{-31,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,211},{34,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4027_1_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,0},{32,108}}</string>
                <key>offset</key>
                <string>{-30,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,211},{32,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4027_1_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,130},{30,110}}</string>
                <key>offset</key>
                <string>{-30,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,210},{30,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4027_1_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,130},{34,110}}</string>
                <key>offset</key>
                <string>{-32,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,210},{34,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4027_1_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,140},{94,104}}</string>
                <key>offset</key>
                <string>{-55,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,191},{94,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4027_1_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,142},{94,104}}</string>
                <key>offset</key>
                <string>{-55,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,191},{94,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4027_1_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,142},{94,106}}</string>
                <key>offset</key>
                <string>{-54,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,190},{94,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4027_1_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,142},{94,106}}</string>
                <key>offset</key>
                <string>{-55,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,190},{94,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4027_1.png</string>
            <key>size</key>
            <string>{894,240}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d04f6294f1caf61846034c3513f64cf0:1/1$</string>
            <key>textureFileName</key>
            <string>4027_1.png</string>
        </dict>
    </dict>
</plist>
