<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4027_3_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,212},{22,48}}</string>
                <key>offset</key>
                <string>{27,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{272,192},{22,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4027_3_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{120,54}}</string>
                <key>offset</key>
                <string>{16,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,202},{120,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4027_3_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,196},{154,98}}</string>
                <key>offset</key>
                <string>{0,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,182},{154,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4027_3_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,54},{102,142}}</string>
                <key>offset</key>
                <string>{-17,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,155},{102,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4027_3_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,54},{22,158}}</string>
                <key>offset</key>
                <string>{-26,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,138},{22,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4027_3.png</string>
            <key>size</key>
            <string>{124,350}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ff2a3306fa87eeb8c405506c3c0ae41:1/1$</string>
            <key>textureFileName</key>
            <string>4027_3.png</string>
        </dict>
    </dict>
</plist>
