<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4027_0_7_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{14,190},{40,188}}</string>
                <key>offset</key>
                <string>{26,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,89},{40,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4027_0_7_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,346},{84,152}}</string>
                <key>offset</key>
                <string>{1,144}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,36},{84,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4027_0_7_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,0},{106,142}}</string>
                <key>offset</key>
                <string>{-14,146}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,39},{106,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4027_0_7_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,186},{38,186}}</string>
                <key>offset</key>
                <string>{21,119}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{258,44},{38,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4027_0_7_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,0},{166,88}}</string>
                <key>offset</key>
                <string>{24,68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,144},{166,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4027_0_7_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,0},{80,176}}</string>
                <key>offset</key>
                <string>{11,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,100},{80,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4027_0_7_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,180},{62,178}}</string>
                <key>offset</key>
                <string>{-7,147}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,20},{62,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4027_0_7_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,0},{74,176}}</string>
                <key>offset</key>
                <string>{-16,153}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,15},{74,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4027_0_7_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{20,0},{40,186}}</string>
                <key>offset</key>
                <string>{12,114}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,49},{40,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4027_0_7_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,176},{174,38}}</string>
                <key>offset</key>
                <string>{11,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,179},{174,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4027_0_7_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,106},{102,142}}</string>
                <key>offset</key>
                <string>{-5,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,124},{102,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4027_0_7_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{20,190}}</string>
                <key>offset</key>
                <string>{-17,144}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,17},{20,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4027_0_7_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,190},{14,190}}</string>
                <key>offset</key>
                <string>{-15,152}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,9},{14,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4027_0_7_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,176},{60,170}}</string>
                <key>offset</key>
                <string>{-10,109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,62},{60,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4027_0_7_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,370},{84,64}}</string>
                <key>offset</key>
                <string>{-14,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,170},{84,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4027_0_7_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,380},{78,108}}</string>
                <key>offset</key>
                <string>{-19,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,142},{78,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4027_0_7_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,0},{58,180}}</string>
                <key>offset</key>
                <string>{-10,142}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,24},{58,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4027_0_7_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,176},{78,176}}</string>
                <key>offset</key>
                <string>{1,148}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,20},{78,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4027_0_7_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,352},{66,146}}</string>
                <key>offset</key>
                <string>{-23,108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,75},{66,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4027_0_7_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,370},{70,60}}</string>
                <key>offset</key>
                <string>{-28,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,169},{70,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4027_0_7_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,330},{40,94}}</string>
                <key>offset</key>
                <string>{-27,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,149},{40,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4027_0_7_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,208},{84,156}}</string>
                <key>offset</key>
                <string>{-1,137}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,41},{84,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4027_0_7_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,372},{106,142}}</string>
                <key>offset</key>
                <string>{14,138}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,47},{106,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4027_0_7_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,292},{38,130}}</string>
                <key>offset</key>
                <string>{-21,110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,81},{38,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4027_0_7_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,166},{166,24}}</string>
                <key>offset</key>
                <string>{-25,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,186},{166,24}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4027_0_7.png</string>
            <key>size</key>
            <string>{510,498}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bc2e5af97f95815dae45f73f4bc0bce5:1/1$</string>
            <key>textureFileName</key>
            <string>4027_0_7.png</string>
        </dict>
    </dict>
</plist>
