<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4027_6_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,124},{154,108}}</string>
                <key>offset</key>
                <string>{21,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,183},{154,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4027_6_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,426},{142,120}}</string>
                <key>offset</key>
                <string>{15,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,179},{142,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4027_6_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{144,124}}</string>
                <key>offset</key>
                <string>{14,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,178},{144,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4027_6_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,860},{108,44}}</string>
                <key>offset</key>
                <string>{39,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,186},{108,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4027_6_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,814},{100,46}}</string>
                <key>offset</key>
                <string>{36,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,192},{100,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4027_6_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,110},{78,144}}</string>
                <key>offset</key>
                <string>{-3,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,167},{78,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4027_6_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,832},{60,152}}</string>
                <key>offset</key>
                <string>{-7,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,162},{60,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4027_6_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,338},{68,154}}</string>
                <key>offset</key>
                <string>{-8,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,161},{68,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4027_6_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,268},{164,70}}</string>
                <key>offset</key>
                <string>{34,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,196},{164,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4027_6_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,188},{160,80}}</string>
                <key>offset</key>
                <string>{29,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,192},{160,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4027_6_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,710},{46,122}}</string>
                <key>offset</key>
                <string>{-31,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,183},{46,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4027_6_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,860},{54,122}}</string>
                <key>offset</key>
                <string>{-34,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,182},{54,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4027_6_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,972},{50,124}}</string>
                <key>offset</key>
                <string>{-34,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,181},{50,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4027_6_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,710},{132,122}}</string>
                <key>offset</key>
                <string>{11,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,177},{132,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4027_6_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,842},{130,128}}</string>
                <key>offset</key>
                <string>{7,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,174},{130,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4027_6_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,0},{144,110}}</string>
                <key>offset</key>
                <string>{-32,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,166},{144,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4027_6_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,278},{148,110}}</string>
                <key>offset</key>
                <string>{-29,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,165},{148,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4027_6_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,568},{142,116}}</string>
                <key>offset</key>
                <string>{-30,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,160},{142,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4027_6_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,568},{40,142}}</string>
                <key>offset</key>
                <string>{-12,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,164},{40,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4027_6_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,984},{40,150}}</string>
                <key>offset</key>
                <string>{-14,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,157},{40,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4027_6_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,538},{154,60}}</string>
                <key>offset</key>
                <string>{-19,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,182},{154,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4027_6_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,550},{142,62}}</string>
                <key>offset</key>
                <string>{-13,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,182},{142,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4027_6_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,406},{144,68}}</string>
                <key>offset</key>
                <string>{-13,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,178},{144,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4027_6_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,692},{108,122}}</string>
                <key>offset</key>
                <string>{-38,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,161},{108,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4027_6_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,406},{100,132}}</string>
                <key>offset</key>
                <string>{-34,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,155},{100,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4027_6.png</string>
            <key>size</key>
            <string>{288,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7324791c5653e9195f6d731c11f701cc:1/1$</string>
            <key>textureFileName</key>
            <string>4027_6.png</string>
        </dict>
    </dict>
</plist>
