<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4028_0_2_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,0},{10,68}}</string>
                <key>offset</key>
                <string>{31,112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{282,110},{10,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4028_0_2_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,0},{8,60}}</string>
                <key>offset</key>
                <string>{15,90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{267,136},{8,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4028_0_2_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,32},{28,52}}</string>
                <key>offset</key>
                <string>{-3,68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,162},{28,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4028_0_2_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,90},{22,50}}</string>
                <key>offset</key>
                <string>{4,74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{249,157},{22,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4028_0_2_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,0},{22,74}}</string>
                <key>offset</key>
                <string>{19,131}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{264,88},{22,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4028_0_2_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,0},{36,72}}</string>
                <key>offset</key>
                <string>{32,102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{270,118},{36,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4028_0_2_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,74},{60,52}}</string>
                <key>offset</key>
                <string>{-6,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,142},{60,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4028_0_2_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,60},{30,50}}</string>
                <key>offset</key>
                <string>{59,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{300,174},{30,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4028_0_2_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,0},{32,52}}</string>
                <key>offset</key>
                <string>{61,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{301,168},{32,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4028_0_2_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{36,82}}</string>
                <key>offset</key>
                <string>{47,120}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{285,95},{36,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4028_0_2_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,0},{52,74}}</string>
                <key>offset</key>
                <string>{12,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,125},{52,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4028_0_2_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,0},{78,46}}</string>
                <key>offset</key>
                <string>{-24,93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,140},{78,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4028_0_2_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,0},{66,46}}</string>
                <key>offset</key>
                <string>{86,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{309,206},{66,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4028_0_2_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,78},{66,48}}</string>
                <key>offset</key>
                <string>{81,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{304,199},{66,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4028_0_2_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,0},{52,78}}</string>
                <key>offset</key>
                <string>{49,102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{279,115},{52,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4028_0_2_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,0},{36,74}}</string>
                <key>offset</key>
                <string>{-13,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,125},{36,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4028_0_2_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,72},{52,48}}</string>
                <key>offset</key>
                <string>{-28,106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,126},{52,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4028_0_2_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,74},{66,52}}</string>
                <key>offset</key>
                <string>{62,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{285,231},{66,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4028_0_2_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,68},{60,58}}</string>
                <key>offset</key>
                <string>{54,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{280,218},{60,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4028_0_2_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,82},{40,70}}</string>
                <key>offset</key>
                <string>{22,89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{258,132},{40,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4028_0_2_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,0},{10,70}}</string>
                <key>offset</key>
                <string>{-23,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,122},{10,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4028_0_2_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,112},{8,40}}</string>
                <key>offset</key>
                <string>{-6,117}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{246,119},{8,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4028_0_2_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,0},{22,64}}</string>
                <key>offset</key>
                <string>{14,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,241},{22,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4028_0_2_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,0},{18,68}}</string>
                <key>offset</key>
                <string>{6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,227},{18,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4028_0_2_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,64},{24,60}}</string>
                <key>offset</key>
                <string>{-10,86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,140},{24,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4028_0_2.png</string>
            <key>size</key>
            <string>{450,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4845f63662b87c211c8deaf71886405b:1/1$</string>
            <key>textureFileName</key>
            <string>4028_0_2.png</string>
        </dict>
    </dict>
</plist>
