<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4028_2_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,156},{68,124}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,197},{68,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4028_2_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,254},{2,2}}</string>
                <key>offset</key>
                <string>{1,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{256,221},{2,2}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4028_2_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,254},{2,2}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,231},{2,2}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4028_2_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,194},{30,144}}</string>
                <key>offset</key>
                <string>{13,142}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{254,42},{30,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4028_2_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,224},{30,110}}</string>
                <key>offset</key>
                <string>{8,139}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{249,62},{30,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4028_2_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,104},{126,88}}</string>
                <key>offset</key>
                <string>{-70,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,199},{126,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4028_2_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,200},{70,54}}</string>
                <key>offset</key>
                <string>{53,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{274,188},{70,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4028_2_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,200},{78,56}}</string>
                <key>offset</key>
                <string>{55,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{272,179},{78,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4028_2_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,56},{40,150}}</string>
                <key>offset</key>
                <string>{25,135}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{261,46},{40,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4028_2_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,110},{56,128}}</string>
                <key>offset</key>
                <string>{5,135}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,57},{56,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4028_2_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,56},{114,46}}</string>
                <key>offset</key>
                <string>{-93,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,186},{114,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4028_2_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,56},{134,54}}</string>
                <key>offset</key>
                <string>{89,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{278,210},{134,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4028_2_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,130},{132,64}}</string>
                <key>offset</key>
                <string>{80,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{270,201},{132,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4028_2_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,0},{56,144}}</string>
                <key>offset</key>
                <string>{18,125}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{246,59},{56,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4028_2_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,0},{56,144}}</string>
                <key>offset</key>
                <string>{-2,138}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,46},{56,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4028_2_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,0},{40,48}}</string>
                <key>offset</key>
                <string>{-59,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,154},{40,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4028_2_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,0},{80,130}}</string>
                <key>offset</key>
                <string>{55,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{271,223},{80,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4028_2_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{112,104}}</string>
                <key>offset</key>
                <string>{57,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{257,211},{112,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4028_2_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,80},{50,130}}</string>
                <key>offset</key>
                <string>{6,118}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,73},{50,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4028_2_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,96},{30,150}}</string>
                <key>offset</key>
                <string>{-11,142}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,39},{30,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4028_2_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,130},{10,56}}</string>
                <key>offset</key>
                <string>{-19,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,136},{10,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4028_2_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,166},{34,118}}</string>
                <key>offset</key>
                <string>{16,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{255,233},{34,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4028_2_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,230},{26,128}}</string>
                <key>offset</key>
                <string>{2,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{245,211},{26,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4028_2_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,224},{30,118}}</string>
                <key>offset</key>
                <string>{-11,118}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,79},{30,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4028_2_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,126},{30,146}}</string>
                <key>offset</key>
                <string>{-8,145}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,38},{30,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4028_2.png</string>
            <key>size</key>
            <string>{572,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a8826f4b294920b431b5f654aa543c98:1/1$</string>
            <key>textureFileName</key>
            <string>4028_2.png</string>
        </dict>
    </dict>
</plist>
