<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4029_1_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,140},{140,62}}</string>
                <key>offset</key>
                <string>{70,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{256,190},{140,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4029_1_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,0},{140,62}}</string>
                <key>offset</key>
                <string>{69,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{255,191},{140,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4029_1_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,280},{138,60}}</string>
                <key>offset</key>
                <string>{69,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{256,192},{138,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4029_1_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,144},{140,64}}</string>
                <key>offset</key>
                <string>{70,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{256,190},{140,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4029_1_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,148},{146,92}}</string>
                <key>offset</key>
                <string>{64,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{247,196},{146,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4029_1_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{148,92}}</string>
                <key>offset</key>
                <string>{64,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{246,196},{148,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4029_1_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,148},{148,90}}</string>
                <key>offset</key>
                <string>{64,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{246,198},{148,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4029_1_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,0},{144,94}}</string>
                <key>offset</key>
                <string>{63,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{247,197},{144,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4029_1_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,128},{68,128}}</string>
                <key>offset</key>
                <string>{20,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,194},{68,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4029_1_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,288},{72,126}}</string>
                <key>offset</key>
                <string>{21,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,195},{72,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4029_1_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,0},{72,128}}</string>
                <key>offset</key>
                <string>{21,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,194},{72,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4029_1_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,284},{66,130}}</string>
                <key>offset</key>
                <string>{19,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,194},{66,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4029_1_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,296},{50,118}}</string>
                <key>offset</key>
                <string>{-36,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,203},{50,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4029_1_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,242},{46,116}}</string>
                <key>offset</key>
                <string>{-35,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,205},{46,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4029_1_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,196},{46,118}}</string>
                <key>offset</key>
                <string>{-34,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,204},{46,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4029_1_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,296},{50,118}}</string>
                <key>offset</key>
                <string>{-36,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,204},{50,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4029_1_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,288},{126,98}}</string>
                <key>offset</key>
                <string>{-77,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,190},{126,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4029_1_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,98},{124,98}}</string>
                <key>offset</key>
                <string>{-76,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,191},{124,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4029_1_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,294},{124,100}}</string>
                <key>offset</key>
                <string>{-76,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,190},{124,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4029_1_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,0},{124,98}}</string>
                <key>offset</key>
                <string>{-76,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,191},{124,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4029_1.png</string>
            <key>size</key>
            <string>{500,418}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e9514bf002a3d4f561ac04e10079881a:1/1$</string>
            <key>textureFileName</key>
            <string>4029_1.png</string>
        </dict>
    </dict>
</plist>
