<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4029_0_1_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,394},{104,74}}</string>
                <key>offset</key>
                <string>{37,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,182},{104,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4029_0_1_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,320},{104,74}}</string>
                <key>offset</key>
                <string>{37,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,183},{104,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4029_0_1_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,394},{102,74}}</string>
                <key>offset</key>
                <string>{37,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,183},{102,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4029_0_1_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,0},{104,78}}</string>
                <key>offset</key>
                <string>{37,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,180},{104,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4029_0_1_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,194},{114,104}}</string>
                <key>offset</key>
                <string>{29,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,175},{114,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4029_0_1_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,192},{114,104}}</string>
                <key>offset</key>
                <string>{29,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,176},{114,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4029_0_1_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,104},{114,104}}</string>
                <key>offset</key>
                <string>{29,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,175},{114,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4029_0_1_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,296},{112,106}}</string>
                <key>offset</key>
                <string>{29,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,175},{112,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4029_0_1_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,38},{60,134}}</string>
                <key>offset</key>
                <string>{6,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,164},{60,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4029_0_1_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,134},{60,132}}</string>
                <key>offset</key>
                <string>{7,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,166},{60,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4029_0_1_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,130},{62,132}}</string>
                <key>offset</key>
                <string>{6,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,166},{62,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4029_0_1_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,72},{58,134}}</string>
                <key>offset</key>
                <string>{6,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,164},{58,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4029_0_1_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,0},{38,136}}</string>
                <key>offset</key>
                <string>{-22,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,160},{38,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4029_0_1_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,98},{36,134}}</string>
                <key>offset</key>
                <string>{-21,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,161},{36,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4029_0_1_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,38},{34,136}}</string>
                <key>offset</key>
                <string>{-21,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,160},{34,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4029_0_1_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{38,136}}</string>
                <key>offset</key>
                <string>{-22,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,160},{38,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4029_0_1_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,402},{104,110}}</string>
                <key>offset</key>
                <string>{-36,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,162},{104,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4029_0_1_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,298},{104,110}}</string>
                <key>offset</key>
                <string>{-36,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,162},{104,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4029_0_1_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,218},{102,112}}</string>
                <key>offset</key>
                <string>{-36,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,161},{102,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4029_0_1_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,402},{104,112}}</string>
                <key>offset</key>
                <string>{-36,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,161},{104,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4029_0_1.png</string>
            <key>size</key>
            <string>{372,506}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:09a5dc175f9c7c14607dac704ef873f3:1/1$</string>
            <key>textureFileName</key>
            <string>4029_0_1.png</string>
        </dict>
    </dict>
</plist>
