<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4029_0_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,244},{18,90}}</string>
                <key>offset</key>
                <string>{26,78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{273,133},{18,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4029_0_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,110},{18,118}}</string>
                <key>offset</key>
                <string>{24,90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{271,107},{18,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4029_0_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,228},{22,132}}</string>
                <key>offset</key>
                <string>{23,98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{268,92},{22,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4029_0_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,250},{20,124}}</string>
                <key>offset</key>
                <string>{27,95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{273,99},{20,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4029_0_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,224},{20,100}}</string>
                <key>offset</key>
                <string>{26,83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{272,123},{20,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4029_0_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,228},{126,66}}</string>
                <key>offset</key>
                <string>{61,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,164},{126,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4029_0_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,0},{122,92}}</string>
                <key>offset</key>
                <string>{64,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,137},{122,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4029_0_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{118,110}}</string>
                <key>offset</key>
                <string>{65,82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,119},{118,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4029_0_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,110},{122,98}}</string>
                <key>offset</key>
                <string>{62,78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{257,129},{122,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4029_0_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,0},{126,72}}</string>
                <key>offset</key>
                <string>{61,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{254,154},{126,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4029_0_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,0},{168,44}}</string>
                <key>offset</key>
                <string>{58,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,202},{168,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4029_0_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,44},{164,44}}</string>
                <key>offset</key>
                <string>{64,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,189},{164,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4029_0_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,172},{156,56}}</string>
                <key>offset</key>
                <string>{65,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,171},{156,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4029_0_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,124},{160,48}}</string>
                <key>offset</key>
                <string>{58,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,181},{160,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4029_0_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,88},{168,36}}</string>
                <key>offset</key>
                <string>{57,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,199},{168,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4029_0_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,92},{114,74}}</string>
                <key>offset</key>
                <string>{21,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,201},{114,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4029_0_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,166},{110,58}}</string>
                <key>offset</key>
                <string>{26,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,202},{110,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4029_0_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,126},{104,46}}</string>
                <key>offset</key>
                <string>{28,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,201},{104,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4029_0_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,172},{108,54}}</string>
                <key>offset</key>
                <string>{20,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,196},{108,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4029_0_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,232},{112,68}}</string>
                <key>offset</key>
                <string>{20,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,197},{112,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4029_0_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,0},{16,94}}</string>
                <key>offset</key>
                <string>{-24,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,188},{16,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4029_0_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,282},{18,76}}</string>
                <key>offset</key>
                <string>{-22,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,194},{18,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4029_0_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,270},{22,64}}</string>
                <key>offset</key>
                <string>{-22,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,194},{22,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4029_0_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,270},{20,74}}</string>
                <key>offset</key>
                <string>{-25,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,185},{20,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4029_0_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,262},{20,86}}</string>
                <key>offset</key>
                <string>{-24,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,187},{20,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4029_0.png</string>
            <key>size</key>
            <string>{496,300}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:93c9d34e967f970591688a7b5e12383c:1/1$</string>
            <key>textureFileName</key>
            <string>4029_0.png</string>
        </dict>
    </dict>
</plist>
