<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4030_7_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{56,194}}</string>
                <key>offset</key>
                <string>{37,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{265,97},{56,194}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4030_7_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,0},{78,154}}</string>
                <key>offset</key>
                <string>{7,125}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,54},{78,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4030_7_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,0},{96,148}}</string>
                <key>offset</key>
                <string>{-3,128}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,54},{96,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4030_7_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,0},{52,188}}</string>
                <key>offset</key>
                <string>{29,103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,59},{52,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4030_7_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,178},{176,80}}</string>
                <key>offset</key>
                <string>{35,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,164},{176,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4030_7_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,0},{98,174}}</string>
                <key>offset</key>
                <string>{24,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,117},{98,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4030_7_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,0},{60,178}}</string>
                <key>offset</key>
                <string>{-5,125}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,42},{60,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4030_7_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,0},{72,178}}</string>
                <key>offset</key>
                <string>{-13,131}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,36},{72,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4030_7_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,0},{50,186}}</string>
                <key>offset</key>
                <string>{19,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,68},{50,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4030_7_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,0},{176,54}}</string>
                <key>offset</key>
                <string>{13,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,191},{176,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4030_7_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,154},{100,140}}</string>
                <key>offset</key>
                <string>{-7,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,136},{100,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4030_7_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,0},{28,190}}</string>
                <key>offset</key>
                <string>{-16,129}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,32},{28,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4030_7_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,0},{26,192}}</string>
                <key>offset</key>
                <string>{-13,137}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,23},{26,192}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4030_7_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,0},{56,170}}</string>
                <key>offset</key>
                <string>{-13,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,76},{56,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4030_7_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,186},{76,78}}</string>
                <key>offset</key>
                <string>{-17,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,185},{76,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4030_7_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,96},{68,110}}</string>
                <key>offset</key>
                <string>{-24,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,144},{68,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4030_7_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,0},{52,186}}</string>
                <key>offset</key>
                <string>{-14,136}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,27},{52,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4030_7_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,194},{68,182}}</string>
                <key>offset</key>
                <string>{-7,142}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,23},{68,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4030_7_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,96},{60,152}}</string>
                <key>offset</key>
                <string>{-25,104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,76},{60,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4030_7_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,186},{78,76}}</string>
                <key>offset</key>
                <string>{-36,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,175},{78,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4030_7_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,154},{56,102}}</string>
                <key>offset</key>
                <string>{-36,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,137},{56,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4030_7_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,174},{78,166}}</string>
                <key>offset</key>
                <string>{-6,141}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,32},{78,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4030_7_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,0},{96,154}}</string>
                <key>offset</key>
                <string>{4,142}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,37},{96,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4030_7_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,0},{52,140}}</string>
                <key>offset</key>
                <string>{-27,115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,71},{52,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4030_7_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,0},{174,40}}</string>
                <key>offset</key>
                <string>{-34,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,175},{174,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4030_7.png</string>
            <key>size</key>
            <string>{1024,262}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:12f2ed8961ed25cf84d18e3c76c8e955:1/1$</string>
            <key>textureFileName</key>
            <string>4030_7.png</string>
        </dict>
    </dict>
</plist>
