<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4031_0_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,296},{12,64}}</string>
                <key>offset</key>
                <string>{26,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{276,160},{12,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4031_0_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,240},{12,88}}</string>
                <key>offset</key>
                <string>{24,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{274,132},{12,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4031_0_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,0},{12,106}}</string>
                <key>offset</key>
                <string>{22,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{272,115},{12,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4031_0_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,202},{12,94}}</string>
                <key>offset</key>
                <string>{26,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{276,124},{12,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4031_0_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,316},{12,72}}</string>
                <key>offset</key>
                <string>{25,71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{275,149},{12,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4031_0_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,360},{108,52}}</string>
                <key>offset</key>
                <string>{55,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{257,183},{108,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4031_0_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,206},{110,72}}</string>
                <key>offset</key>
                <string>{60,63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{261,157},{110,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4031_0_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,0},{108,86}}</string>
                <key>offset</key>
                <string>{62,74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{264,139},{108,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4031_0_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,108},{110,76}}</string>
                <key>offset</key>
                <string>{58,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,150},{110,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4031_0_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,360},{108,58}}</string>
                <key>offset</key>
                <string>{55,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{257,172},{108,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4031_0_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,204},{154,46}}</string>
                <key>offset</key>
                <string>{53,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,198},{154,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4031_0_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,50},{154,46}}</string>
                <key>offset</key>
                <string>{63,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,194},{154,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4031_0_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{152,50}}</string>
                <key>offset</key>
                <string>{65,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,184},{152,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4031_0_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,50},{154,44}}</string>
                <key>offset</key>
                <string>{57,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,192},{154,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4031_0_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,50},{156,44}}</string>
                <key>offset</key>
                <string>{53,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,195},{156,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4031_0_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,358},{110,76}}</string>
                <key>offset</key>
                <string>{20,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,200},{110,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4031_0_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,184},{110,56}}</string>
                <key>offset</key>
                <string>{29,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,201},{110,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4031_0_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,360},{108,46}}</string>
                <key>offset</key>
                <string>{31,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,199},{108,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4031_0_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,308},{110,52}}</string>
                <key>offset</key>
                <string>{23,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,194},{110,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4031_0_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,240},{110,68}}</string>
                <key>offset</key>
                <string>{21,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,197},{110,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4031_0_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,106},{12,96}}</string>
                <key>offset</key>
                <string>{-23,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,190},{12,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4031_0_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,328},{12,70}}</string>
                <key>offset</key>
                <string>{-22,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,196},{12,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4031_0_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,50},{12,58}}</string>
                <key>offset</key>
                <string>{-21,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,194},{12,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4031_0_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,340},{12,66}}</string>
                <key>offset</key>
                <string>{-24,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,188},{12,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4031_0_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,328},{12,86}}</string>
                <key>offset</key>
                <string>{-24,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,189},{12,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4031_0.png</string>
            <key>size</key>
            <string>{256,468}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:544beb20d751d784f27e9f72437ecebc:1/1$</string>
            <key>textureFileName</key>
            <string>4031_0.png</string>
        </dict>
    </dict>
</plist>
