<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4031_3_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,76},{14,48}}</string>
                <key>offset</key>
                <string>{27,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{276,188},{14,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4031_3_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,76},{104,48}}</string>
                <key>offset</key>
                <string>{37,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,195},{104,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4031_3_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{138,76}}</string>
                <key>offset</key>
                <string>{25,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,197},{138,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4031_3_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,0},{90,116}}</string>
                <key>offset</key>
                <string>{-1,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,183},{90,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4031_3_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,90},{14,130}}</string>
                <key>offset</key>
                <string>{-25,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,170},{14,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4031_3.png</string>
            <key>size</key>
            <string>{254,124}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5a6d1dfc4c45657095d12d885bf95299:1/1$</string>
            <key>textureFileName</key>
            <string>4031_3.png</string>
        </dict>
    </dict>
</plist>
