<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4031_1_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,588},{114,60}}</string>
                <key>offset</key>
                <string>{61,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{260,190},{114,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4031_1_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,588},{114,60}}</string>
                <key>offset</key>
                <string>{60,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{259,190},{114,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4031_1_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,262},{112,60}}</string>
                <key>offset</key>
                <string>{60,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{260,190},{112,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4031_1_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,200},{112,62}}</string>
                <key>offset</key>
                <string>{61,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{261,190},{112,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4031_1_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,96},{126,96}}</string>
                <key>offset</key>
                <string>{56,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,197},{126,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4031_1_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{126,96}}</string>
                <key>offset</key>
                <string>{56,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,197},{126,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4031_1_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,192},{126,94}}</string>
                <key>offset</key>
                <string>{56,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,199},{126,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4031_1_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,0},{124,98}}</string>
                <key>offset</key>
                <string>{55,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,198},{124,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4031_1_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,322},{64,132}}</string>
                <key>offset</key>
                <string>{19,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,194},{64,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4031_1_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,386},{66,132}}</string>
                <key>offset</key>
                <string>{19,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,194},{66,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4031_1_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,386},{68,132}}</string>
                <key>offset</key>
                <string>{19,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,194},{68,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4031_1_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,518},{62,132}}</string>
                <key>offset</key>
                <string>{18,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,195},{62,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4031_1_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,580},{34,124}}</string>
                <key>offset</key>
                <string>{-30,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,202},{34,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4031_1_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,580},{34,124}}</string>
                <key>offset</key>
                <string>{-30,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,202},{34,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4031_1_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,580},{32,124}}</string>
                <key>offset</key>
                <string>{-30,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,202},{32,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4031_1_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,580},{36,124}}</string>
                <key>offset</key>
                <string>{-31,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,204},{36,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4031_1_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,286},{104,100}}</string>
                <key>offset</key>
                <string>{-64,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,194},{104,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4031_1_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,488},{102,100}}</string>
                <key>offset</key>
                <string>{-64,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,195},{102,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4031_1_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,386},{102,102}}</string>
                <key>offset</key>
                <string>{-64,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,193},{102,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4031_1_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,98},{104,102}}</string>
                <key>offset</key>
                <string>{-65,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,193},{104,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4031_1.png</string>
            <key>size</key>
            <string>{256,704}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ddf74e69133e903ce580c1fdfa726dc1:1/1$</string>
            <key>textureFileName</key>
            <string>4031_1.png</string>
        </dict>
    </dict>
</plist>
