<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4031_2_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,104},{68,126}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,196},{68,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4031_2_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,168},{10,10}}</string>
                <key>offset</key>
                <string>{1,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,218},{10,10}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4031_2_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,104},{12,10}}</string>
                <key>offset</key>
                <string>{0,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,221},{12,10}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4031_2_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,52},{30,146}}</string>
                <key>offset</key>
                <string>{13,140}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{254,43},{30,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4031_2_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,204},{30,110}}</string>
                <key>offset</key>
                <string>{9,139}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{250,62},{30,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4031_2_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{130,88}}</string>
                <key>offset</key>
                <string>{-69,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,200},{130,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4031_2_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,192},{70,48}}</string>
                <key>offset</key>
                <string>{53,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{274,190},{70,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4031_2_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,152},{78,48}}</string>
                <key>offset</key>
                <string>{55,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{272,183},{78,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4031_2_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,0},{36,152}}</string>
                <key>offset</key>
                <string>{25,134}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,46},{36,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4031_2_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,194},{54,130}}</string>
                <key>offset</key>
                <string>{3,134}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,57},{54,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4031_2_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,172},{116,46}}</string>
                <key>offset</key>
                <string>{-93,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,187},{116,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4031_2_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,114},{136,54}}</string>
                <key>offset</key>
                <string>{88,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{276,212},{136,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4031_2_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,0},{134,64}}</string>
                <key>offset</key>
                <string>{79,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{268,202},{134,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4031_2_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,0},{52,146}}</string>
                <key>offset</key>
                <string>{19,124}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{249,59},{52,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4031_2_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,82},{54,144}}</string>
                <key>offset</key>
                <string>{-4,136}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,48},{54,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4031_2_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,192},{40,42}}</string>
                <key>offset</key>
                <string>{-60,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,157},{40,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4031_2_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,0},{78,128}}</string>
                <key>offset</key>
                <string>{57,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{274,226},{78,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4031_2_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,88},{112,106}}</string>
                <key>offset</key>
                <string>{57,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{257,210},{112,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4031_2_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,64},{50,134}}</string>
                <key>offset</key>
                <string>{7,118}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,71},{50,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4031_2_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,136},{26,152}}</string>
                <key>offset</key>
                <string>{-10,140}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,40},{26,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4031_2_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,234},{12,50}}</string>
                <key>offset</key>
                <string>{-19,92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,139},{12,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4031_2_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,168},{36,118}}</string>
                <key>offset</key>
                <string>{16,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{254,233},{36,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4031_2_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,78},{26,128}}</string>
                <key>offset</key>
                <string>{2,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{245,212},{26,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4031_2_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,218},{30,120}}</string>
                <key>offset</key>
                <string>{-11,118}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,78},{30,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4031_2_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,162},{30,148}}</string>
                <key>offset</key>
                <string>{-8,144}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,38},{30,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4031_2.png</string>
            <key>size</key>
            <string>{574,251}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8cfab2993c9752537c6672fcea9366db:1/1$</string>
            <key>textureFileName</key>
            <string>4031_2.png</string>
        </dict>
    </dict>
</plist>
