<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4031_0_7_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{50,82}}</string>
                <key>offset</key>
                <string>{26,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{257,147},{50,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4031_0_7_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,0},{52,68}}</string>
                <key>offset</key>
                <string>{4,141}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,81},{52,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4031_0_7_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,76},{52,64}}</string>
                <key>offset</key>
                <string>{-12,144}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,80},{52,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4031_0_7_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,0},{48,80}}</string>
                <key>offset</key>
                <string>{25,114}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{257,102},{48,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4031_0_7_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,80},{74,52}}</string>
                <key>offset</key>
                <string>{24,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,166},{74,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4031_0_7_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,0},{40,74}}</string>
                <key>offset</key>
                <string>{16,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,157},{40,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4031_0_7_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,0},{30,76}}</string>
                <key>offset</key>
                <string>{-6,141}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,77},{30,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4031_0_7_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,0},{34,76}}</string>
                <key>offset</key>
                <string>{-14,149}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,69},{34,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4031_0_7_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,0},{26,80}}</string>
                <key>offset</key>
                <string>{12,108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,108},{26,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4031_0_7_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,80},{76,52}}</string>
                <key>offset</key>
                <string>{6,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,173},{76,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4031_0_7_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,82},{44,58}}</string>
                <key>offset</key>
                <string>{-9,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,173},{44,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4031_0_7_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,0},{12,82}}</string>
                <key>offset</key>
                <string>{-15,139}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,76},{12,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4031_0_7_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,0},{10,82}}</string>
                <key>offset</key>
                <string>{-13,148}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,67},{10,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4031_0_7_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,70},{26,70}}</string>
                <key>offset</key>
                <string>{-13,102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,119},{26,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4031_0_7_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,88},{36,48}}</string>
                <key>offset</key>
                <string>{-18,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,181},{36,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4031_0_7_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,68},{44,46}}</string>
                <key>offset</key>
                <string>{-21,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,178},{44,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4031_0_7_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,0},{44,80}}</string>
                <key>offset</key>
                <string>{-13,139}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,77},{44,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4031_0_7_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,0},{42,78}}</string>
                <key>offset</key>
                <string>{-1,146}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,71},{42,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4031_0_7_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,76},{50,64}}</string>
                <key>offset</key>
                <string>{-26,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,119},{50,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4031_0_7_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,52},{36,38}}</string>
                <key>offset</key>
                <string>{-32,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,182},{36,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4031_0_7_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,0},{52,42}}</string>
                <key>offset</key>
                <string>{-26,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,176},{52,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4031_0_7_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,0},{52,70}}</string>
                <key>offset</key>
                <string>{-4,137}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,84},{52,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4031_0_7_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,74},{50,66}}</string>
                <key>offset</key>
                <string>{11,139}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,84},{50,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4031_0_7_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,82},{48,58}}</string>
                <key>offset</key>
                <string>{-25,109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,118},{48,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4031_0_7_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,0},{74,26}}</string>
                <key>offset</key>
                <string>{-24,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,182},{74,26}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4031_0_7.png</string>
            <key>size</key>
            <string>{508,140}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:41f860c9f875d7e33704f99706b64f8f:1/1$</string>
            <key>textureFileName</key>
            <string>4031_0_7.png</string>
        </dict>
    </dict>
</plist>
