<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4032_8_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,714},{122,74}}</string>
                <key>offset</key>
                <string>{20,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,151},{122,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_8_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,426},{134,92}}</string>
                <key>offset</key>
                <string>{-28,113}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,97},{134,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_8_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,518},{132,30}}</string>
                <key>offset</key>
                <string>{76,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{266,208},{132,30}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_8_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,780},{94,40}}</string>
                <key>offset</key>
                <string>{15,63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,173},{94,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_8_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,270},{142,64}}</string>
                <key>offset</key>
                <string>{67,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,150},{142,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_8_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,560},{48,96}}</string>
                <key>offset</key>
                <string>{-18,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,140},{48,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_8_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,658},{78,122}}</string>
                <key>offset</key>
                <string>{21,112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,83},{78,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_8_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,126},{146,74}}</string>
                <key>offset</key>
                <string>{71,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,215},{146,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_8_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,134},{44,56}}</string>
                <key>offset</key>
                <string>{-32,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,163},{44,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_8_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,560},{98,24}}</string>
                <key>offset</key>
                <string>{24,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,190},{98,24}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_8_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,814},{118,82}}</string>
                <key>offset</key>
                <string>{-48,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,137},{118,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_8_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,634},{80,124}}</string>
                <key>offset</key>
                <string>{72,95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{288,99},{80,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_8_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,896},{94,110}}</string>
                <key>offset</key>
                <string>{31,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,213},{94,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_8_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,196},{126,48}}</string>
                <key>offset</key>
                <string>{-52,86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,146},{126,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_8_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,178},{56,18}}</string>
                <key>offset</key>
                <string>{-43,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,188},{56,18}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_8_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{156,46}}</string>
                <key>offset</key>
                <string>{-43,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,138},{156,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_8_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,334},{136,92}}</string>
                <key>offset</key>
                <string>{68,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{256,140},{136,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_8_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,444},{66,116}}</string>
                <key>offset</key>
                <string>{-40,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,207},{66,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_8_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,46},{150,80}}</string>
                <key>offset</key>
                <string>{-45,111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,105},{150,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_8_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,788},{122,26}}</string>
                <key>offset</key>
                <string>{-78,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,163},{122,26}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_8_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,322},{122,48}}</string>
                <key>offset</key>
                <string>{-19,113}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,119},{122,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_8_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,0},{134,46}}</string>
                <key>offset</key>
                <string>{30,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,180},{134,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_8_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,548},{130,86}}</string>
                <key>offset</key>
                <string>{-75,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,201},{130,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_8_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,896},{96,112}}</string>
                <key>offset</key>
                <string>{-14,120}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,80},{96,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_8_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,200},{142,70}}</string>
                <key>offset</key>
                <string>{-65,110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,111},{142,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4032_8.png</string>
            <key>size</key>
            <string>{202,1008}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:42ed6e202e9de91f06825acad1dd4b66:1/1$</string>
            <key>textureFileName</key>
            <string>4032_8.png</string>
        </dict>
    </dict>
</plist>
