<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4032_2_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,188},{72,130}}</string>
                <key>offset</key>
                <string>{-6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,198},{72,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_2_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,298},{6,6}}</string>
                <key>offset</key>
                <string>{7,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{260,222},{6,6}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_2_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,304},{4,4}}</string>
                <key>offset</key>
                <string>{-5,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,214},{4,4}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_2_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,0},{36,150}}</string>
                <key>offset</key>
                <string>{11,146}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,35},{36,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_2_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,0},{36,124}}</string>
                <key>offset</key>
                <string>{7,143}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{245,51},{36,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_2_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,136},{134,94}}</string>
                <key>offset</key>
                <string>{-75,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,200},{134,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_2_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,288},{76,48}}</string>
                <key>offset</key>
                <string>{53,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{271,190},{76,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_2_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,0},{82,54}}</string>
                <key>offset</key>
                <string>{56,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{271,187},{82,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_2_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{34,154}}</string>
                <key>offset</key>
                <string>{25,138}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{264,41},{34,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_2_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,0},{66,136}}</string>
                <key>offset</key>
                <string>{-7,140}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,48},{66,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_2_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,274},{124,56}}</string>
                <key>offset</key>
                <string>{-99,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,188},{124,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_2_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,0},{140,66}}</string>
                <key>offset</key>
                <string>{93,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{279,214},{140,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_2_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,148},{140,76}}</string>
                <key>offset</key>
                <string>{84,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{270,206},{140,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_2_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,0},{64,148}}</string>
                <key>offset</key>
                <string>{30,129}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,53},{64,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_2_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,150},{66,148}}</string>
                <key>offset</key>
                <string>{-14,141}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,41},{66,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_2_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,82},{48,44}}</string>
                <key>offset</key>
                <string>{-66,72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,162},{48,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_2_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,138},{86,136}}</string>
                <key>offset</key>
                <string>{66,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{279,223},{86,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_2_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,72},{118,116}}</string>
                <key>offset</key>
                <string>{62,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,211},{118,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_2_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,0},{60,138}}</string>
                <key>offset</key>
                <string>{16,123}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,64},{60,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_2_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,154},{26,154}}</string>
                <key>offset</key>
                <string>{-12,145}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,34},{26,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_2_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,288},{16,50}}</string>
                <key>offset</key>
                <string>{-18,87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,144},{16,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_2_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,188},{38,130}}</string>
                <key>offset</key>
                <string>{18,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,231},{38,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_2_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,308},{30,138}}</string>
                <key>offset</key>
                <string>{4,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{245,211},{30,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_2_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,36},{36,128}}</string>
                <key>offset</key>
                <string>{-10,125}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,67},{36,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_2_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,154},{36,150}}</string>
                <key>offset</key>
                <string>{-6,148}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,33},{36,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4032_2.png</string>
            <key>size</key>
            <string>{508,338}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cfa6ac50b7a26f80b218e3c8d1402a0c:1/1$</string>
            <key>textureFileName</key>
            <string>4032_2.png</string>
        </dict>
    </dict>
</plist>
