<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4032_0_0_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,434},{12,74}}</string>
                <key>offset</key>
                <string>{27,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{277,154},{12,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_0_0_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,116},{12,94}}</string>
                <key>offset</key>
                <string>{24,70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{274,139},{12,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_0_0_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,282},{12,106}}</string>
                <key>offset</key>
                <string>{23,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{273,131},{12,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_0_0_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,104},{12,98}}</string>
                <key>offset</key>
                <string>{27,71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{277,136},{12,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_0_0_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,374},{12,82}}</string>
                <key>offset</key>
                <string>{26,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{276,147},{12,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_0_0_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,374},{104,60}}</string>
                <key>offset</key>
                <string>{16,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,181},{104,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_0_0_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,440},{106,72}}</string>
                <key>offset</key>
                <string>{22,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,167},{106,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_0_0_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,140},{104,84}}</string>
                <key>offset</key>
                <string>{25,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,157},{104,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_0_0_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,364},{106,76}}</string>
                <key>offset</key>
                <string>{20,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,162},{106,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_0_0_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,456},{104,58}}</string>
                <key>offset</key>
                <string>{16,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,175},{104,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_0_0_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,168},{146,58}}</string>
                <key>offset</key>
                <string>{-1,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,197},{146,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_0_0_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,112},{148,56}}</string>
                <key>offset</key>
                <string>{11,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,186},{148,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_0_0_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,226},{146,56}}</string>
                <key>offset</key>
                <string>{16,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,176},{146,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_0_0_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,56},{148,56}}</string>
                <key>offset</key>
                <string>{5,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,179},{148,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_0_0_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{148,56}}</string>
                <key>offset</key>
                <string>{-1,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,191},{148,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_0_0_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,0},{102,92}}</string>
                <key>offset</key>
                <string>{-16,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,176},{102,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_0_0_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,244},{104,70}}</string>
                <key>offset</key>
                <string>{-6,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,189},{104,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_0_0_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,314},{104,60}}</string>
                <key>offset</key>
                <string>{-2,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,190},{104,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_0_0_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,440},{104,66}}</string>
                <key>offset</key>
                <string>{-12,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,184},{104,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_0_0_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,282},{106,82}}</string>
                <key>offset</key>
                <string>{-16,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,177},{106,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_0_0_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,128},{12,106}}</string>
                <key>offset</key>
                <string>{-21,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,159},{12,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_0_0_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,128},{12,86}}</string>
                <key>offset</key>
                <string>{-19,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,173},{12,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_0_0_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,374},{12,66}}</string>
                <key>offset</key>
                <string>{-17,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,186},{12,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_0_0_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,282},{12,80}}</string>
                <key>offset</key>
                <string>{-21,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,168},{12,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_0_0_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,92},{12,100}}</string>
                <key>offset</key>
                <string>{-20,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,158},{12,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4032_0_0.png</string>
            <key>size</key>
            <string>{250,548}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:84219154a1a4b39d5d95f9a28ca8a63a:1/1$</string>
            <key>textureFileName</key>
            <string>4032_0_0.png</string>
        </dict>
    </dict>
</plist>
