<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4032_0_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,370},{16,78}}</string>
                <key>offset</key>
                <string>{25,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{273,142},{16,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_0_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,470},{16,102}}</string>
                <key>offset</key>
                <string>{23,89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{271,116},{16,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_0_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,470},{16,116}}</string>
                <key>offset</key>
                <string>{21,96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{269,102},{16,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_0_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,486},{16,106}}</string>
                <key>offset</key>
                <string>{25,92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{273,111},{16,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_0_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,284},{16,86}}</string>
                <key>offset</key>
                <string>{24,82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{272,131},{16,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_0_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,376},{112,66}}</string>
                <key>offset</key>
                <string>{57,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{257,165},{112,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_0_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,172},{112,84}}</string>
                <key>offset</key>
                <string>{62,73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{262,141},{112,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_0_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,62},{110,98}}</string>
                <key>offset</key>
                <string>{64,82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{265,125},{110,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_0_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,270},{112,88}}</string>
                <key>offset</key>
                <string>{60,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{260,134},{112,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_0_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,358},{112,70}}</string>
                <key>offset</key>
                <string>{57,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{257,156},{112,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_0_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,62},{156,54}}</string>
                <key>offset</key>
                <string>{58,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,202},{156,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_0_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,218},{158,50}}</string>
                <key>offset</key>
                <string>{67,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{244,185},{158,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_0_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{154,62}}</string>
                <key>offset</key>
                <string>{70,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,168},{154,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_0_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,218},{156,52}}</string>
                <key>offset</key>
                <string>{62,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,179},{156,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_0_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,172},{158,46}}</string>
                <key>offset</key>
                <string>{58,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,198},{158,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_0_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,82},{112,90}}</string>
                <key>offset</key>
                <string>{24,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,202},{112,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_0_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,358},{112,68}}</string>
                <key>offset</key>
                <string>{32,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,205},{112,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_0_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,348},{110,54}}</string>
                <key>offset</key>
                <string>{35,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,203},{110,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_0_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,284},{112,64}}</string>
                <key>offset</key>
                <string>{26,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,198},{112,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_0_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,0},{114,82}}</string>
                <key>offset</key>
                <string>{24,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,200},{114,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_0_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,486},{16,108}}</string>
                <key>offset</key>
                <string>{-23,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,192},{16,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_0_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,0},{16,84}}</string>
                <key>offset</key>
                <string>{-21,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,200},{16,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_0_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,84},{16,70}}</string>
                <key>offset</key>
                <string>{-20,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,199},{16,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_0_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,84},{16,80}}</string>
                <key>offset</key>
                <string>{-23,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,192},{16,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_0_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,348},{16,100}}</string>
                <key>offset</key>
                <string>{-23,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,190},{16,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4032_0.png</string>
            <key>size</key>
            <string>{296,502}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3e157d87fa470b5cbc9c4a8aaf9236ba:1/1$</string>
            <key>textureFileName</key>
            <string>4032_0.png</string>
        </dict>
    </dict>
</plist>
