<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4032_1_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,132},{118,74}}</string>
                <key>offset</key>
                <string>{65,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{262,193},{118,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_1_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,132},{118,74}}</string>
                <key>offset</key>
                <string>{64,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{261,192},{118,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_1_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,0},{116,72}}</string>
                <key>offset</key>
                <string>{64,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{262,194},{116,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_1_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,132},{118,76}}</string>
                <key>offset</key>
                <string>{65,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{262,193},{118,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_1_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,0},{132,106}}</string>
                <key>offset</key>
                <string>{62,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{252,200},{132,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_1_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,0},{132,106}}</string>
                <key>offset</key>
                <string>{63,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{253,199},{132,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_1_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,0},{132,106}}</string>
                <key>offset</key>
                <string>{62,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{252,199},{132,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_1_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,142},{130,108}}</string>
                <key>offset</key>
                <string>{62,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,200},{130,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_1_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,0},{70,136}}</string>
                <key>offset</key>
                <string>{23,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,198},{70,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_1_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,0},{72,136}}</string>
                <key>offset</key>
                <string>{24,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,198},{72,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_1_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,0},{74,136}}</string>
                <key>offset</key>
                <string>{23,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,198},{74,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_1_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,0},{70,138}}</string>
                <key>offset</key>
                <string>{22,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,198},{70,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_1_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,0},{42,140}}</string>
                <key>offset</key>
                <string>{-28,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,194},{42,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_1_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,0},{40,140}}</string>
                <key>offset</key>
                <string>{-28,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,194},{40,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_1_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,0},{38,142}}</string>
                <key>offset</key>
                <string>{-27,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,193},{38,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_1_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{44,142}}</string>
                <key>offset</key>
                <string>{-29,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,193},{44,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_1_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,140},{120,114}}</string>
                <key>offset</key>
                <string>{-64,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,189},{120,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_1_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,136},{118,114}}</string>
                <key>offset</key>
                <string>{-63,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,189},{118,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_1_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,132},{116,116}}</string>
                <key>offset</key>
                <string>{-63,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,189},{116,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_1_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,136},{118,116}}</string>
                <key>offset</key>
                <string>{-64,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,188},{118,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4032_1.png</string>
            <key>size</key>
            <string>{840,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f33e66c441ce54c47b38fa0853d7a833:1/1$</string>
            <key>textureFileName</key>
            <string>4032_1.png</string>
        </dict>
    </dict>
</plist>
