<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4032_0_8_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,0},{104,68}}</string>
                <key>offset</key>
                <string>{-22,107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,115},{104,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_0_8_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,282},{120,88}}</string>
                <key>offset</key>
                <string>{-1,119}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,93},{120,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_0_8_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,478},{128,36}}</string>
                <key>offset</key>
                <string>{45,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,188},{128,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_0_8_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,514},{80,38}}</string>
                <key>offset</key>
                <string>{-18,92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,145},{80,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_0_8_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,270},{132,54}}</string>
                <key>offset</key>
                <string>{29,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,149},{132,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_0_8_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,514},{60,86}}</string>
                <key>offset</key>
                <string>{-9,112}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,101},{60,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_0_8_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,136},{64,116}}</string>
                <key>offset</key>
                <string>{61,104}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{285,94},{64,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_0_8_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,126},{134,74}}</string>
                <key>offset</key>
                <string>{57,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,190},{134,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_0_8_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,654},{46,52}}</string>
                <key>offset</key>
                <string>{-12,95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,135},{46,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_0_8_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,624},{84,30}}</string>
                <key>offset</key>
                <string>{17,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,174},{84,30}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_0_8_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,68},{116,68}}</string>
                <key>offset</key>
                <string>{7,114}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,108},{116,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_0_8_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,200},{82,112}}</string>
                <key>offset</key>
                <string>{106,76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{321,124},{82,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_0_8_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,594},{82,106}}</string>
                <key>offset</key>
                <string>{43,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{258,185},{82,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_0_8_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,408},{120,60}}</string>
                <key>offset</key>
                <string>{10,107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,119},{120,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_0_8_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,682},{62,16}}</string>
                <key>offset</key>
                <string>{-16,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,178},{62,16}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_0_8_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{148,44}}</string>
                <key>offset</key>
                <string>{19,104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,130},{148,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_0_8_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,324},{130,78}}</string>
                <key>offset</key>
                <string>{68,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,175},{130,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_0_8_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,574},{66,108}}</string>
                <key>offset</key>
                <string>{-17,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,191},{66,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_0_8_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,44},{136,82}}</string>
                <key>offset</key>
                <string>{18,103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,112},{136,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_0_8_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,468},{120,26}}</string>
                <key>offset</key>
                <string>{-34,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,167},{120,26}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_0_8_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,574},{104,50}}</string>
                <key>offset</key>
                <string>{37,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,143},{104,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_0_8_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,370},{122,38}}</string>
                <key>offset</key>
                <string>{17,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,222},{122,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_0_8_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,402},{128,76}}</string>
                <key>offset</key>
                <string>{-30,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,213},{128,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_0_8_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,494},{80,110}}</string>
                <key>offset</key>
                <string>{34,76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{250,125},{80,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4032_0_8_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,200},{134,70}}</string>
                <key>offset</key>
                <string>{-13,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,149},{134,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4032_0_8.png</string>
            <key>size</key>
            <string>{252,700}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3a96388cf748a3084f74a7b8a095d87b:1/1$</string>
            <key>textureFileName</key>
            <string>4032_0_8.png</string>
        </dict>
    </dict>
</plist>
