<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4033_0_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,312},{30,92}}</string>
                <key>offset</key>
                <string>{29,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{270,146},{30,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4033_0_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,190},{30,122}}</string>
                <key>offset</key>
                <string>{31,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{272,130},{30,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4033_0_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,288},{24,138}}</string>
                <key>offset</key>
                <string>{27,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{271,121},{24,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4033_0_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,602},{20,128}}</string>
                <key>offset</key>
                <string>{27,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{273,125},{20,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4033_0_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,580},{22,102}}</string>
                <key>offset</key>
                <string>{28,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{273,140},{22,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4033_0_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,738},{134,72}}</string>
                <key>offset</key>
                <string>{26,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,164},{134,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4033_0_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,524},{136,102}}</string>
                <key>offset</key>
                <string>{31,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,148},{136,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4033_0_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,448},{132,116}}</string>
                <key>offset</key>
                <string>{34,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,140},{132,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4033_0_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,418},{136,106}}</string>
                <key>offset</key>
                <string>{29,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,144},{136,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4033_0_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,290},{134,82}}</string>
                <key>offset</key>
                <string>{26,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,157},{134,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4033_0_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,144},{190,66}}</string>
                <key>offset</key>
                <string>{13,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,195},{190,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4033_0_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,72},{190,72}}</string>
                <key>offset</key>
                <string>{22,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,180},{190,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4033_0_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,210},{186,78}}</string>
                <key>offset</key>
                <string>{26,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,168},{186,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4033_0_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{190,72}}</string>
                <key>offset</key>
                <string>{16,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,175},{190,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4033_0_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,0},{190,66}}</string>
                <key>offset</key>
                <string>{13,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,187},{190,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4033_0_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,312},{136,106}}</string>
                <key>offset</key>
                <string>{-8,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,176},{136,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4033_0_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,626},{136,78}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,194},{136,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4033_0_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,776},{134,70}}</string>
                <key>offset</key>
                <string>{3,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,195},{134,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4033_0_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,704},{134,72}}</string>
                <key>offset</key>
                <string>{-6,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,192},{134,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4033_0_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,602},{136,98}}</string>
                <key>offset</key>
                <string>{-8,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,177},{136,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4033_0_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,846},{28,128}}</string>
                <key>offset</key>
                <string>{-27,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,156},{28,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4033_0_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,190},{32,100}}</string>
                <key>offset</key>
                <string>{-30,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,177},{32,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4033_0_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,738},{26,78}}</string>
                <key>offset</key>
                <string>{-26,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,190},{26,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4033_0_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,730},{20,94}}</string>
                <key>offset</key>
                <string>{-27,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,173},{20,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4033_0_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,424},{24,118}}</string>
                <key>offset</key>
                <string>{-27,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,159},{24,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4033_0.png</string>
            <key>size</key>
            <string>{256,874}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ed8b45763a72537d05597e2cbad2b213:1/1$</string>
            <key>textureFileName</key>
            <string>4033_0.png</string>
        </dict>
    </dict>
</plist>
