<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4033_6_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,0},{168,112}}</string>
                <key>offset</key>
                <string>{11,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,175},{168,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4033_6_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,126},{156,126}}</string>
                <key>offset</key>
                <string>{6,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,166},{156,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4033_6_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{158,126}}</string>
                <key>offset</key>
                <string>{6,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,167},{158,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4033_6_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,260},{114,58}}</string>
                <key>offset</key>
                <string>{29,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,176},{114,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4033_6_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,470},{106,62}}</string>
                <key>offset</key>
                <string>{27,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,180},{106,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4033_6_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,852},{90,146}}</string>
                <key>offset</key>
                <string>{-6,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,152},{90,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4033_6_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,532},{72,156}}</string>
                <key>offset</key>
                <string>{-8,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,145},{72,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4033_6_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,260},{82,158}}</string>
                <key>offset</key>
                <string>{-8,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,144},{82,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4033_6_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,536},{178,76}}</string>
                <key>offset</key>
                <string>{22,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,190},{178,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4033_6_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,112},{174,86}}</string>
                <key>offset</key>
                <string>{18,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,185},{174,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4033_6_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,846},{60,148}}</string>
                <key>offset</key>
                <string>{-22,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,143},{60,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4033_6_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,374},{76,152}}</string>
                <key>offset</key>
                <string>{-22,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,139},{76,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4033_6_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,532},{68,158}}</string>
                <key>offset</key>
                <string>{-24,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,136},{68,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4033_6_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,852},{146,122}}</string>
                <key>offset</key>
                <string>{5,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,166},{146,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4033_6_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,252},{144,130}}</string>
                <key>offset</key>
                <string>{1,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,161},{144,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4033_6_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,696},{156,108}}</string>
                <key>offset</key>
                <string>{-22,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,154},{156,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4033_6_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,536},{160,108}}</string>
                <key>offset</key>
                <string>{-20,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,153},{160,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4033_6_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,382},{154,116}}</string>
                <key>offset</key>
                <string>{-20,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,148},{154,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4033_6_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,852},{68,146}}</string>
                <key>offset</key>
                <string>{-13,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,147},{68,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4033_6_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,382},{56,154}}</string>
                <key>offset</key>
                <string>{-10,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,141},{56,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4033_6_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,198},{168,62}}</string>
                <key>offset</key>
                <string>{-9,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,176},{168,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4033_6_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,690},{156,64}}</string>
                <key>offset</key>
                <string>{-5,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,175},{156,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4033_6_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,690},{156,66}}</string>
                <key>offset</key>
                <string>{-5,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,172},{156,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4033_6_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,342},{112,128}}</string>
                <key>offset</key>
                <string>{-28,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,146},{112,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4033_6_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,714},{106,138}}</string>
                <key>offset</key>
                <string>{-26,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,139},{106,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4033_6.png</string>
            <key>size</key>
            <string>{360,998}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c93e14d6e4c39a8de68723baa86b1bab:1/1$</string>
            <key>textureFileName</key>
            <string>4033_6.png</string>
        </dict>
    </dict>
</plist>
