<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4033_0_0_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,524},{14,100}}</string>
                <key>offset</key>
                <string>{29,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{278,139},{14,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4033_0_0_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,14},{14,134}}</string>
                <key>offset</key>
                <string>{26,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{275,113},{14,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4033_0_0_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{14,152}}</string>
                <key>offset</key>
                <string>{24,81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{273,99},{14,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4033_0_0_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,0},{14,140}}</string>
                <key>offset</key>
                <string>{28,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{277,107},{14,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4033_0_0_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,524},{14,112}}</string>
                <key>offset</key>
                <string>{27,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{276,129},{14,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4033_0_0_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,182},{134,64}}</string>
                <key>offset</key>
                <string>{18,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,176},{134,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4033_0_0_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,308},{132,98}}</string>
                <key>offset</key>
                <string>{23,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,151},{132,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4033_0_0_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,642},{128,118}}</string>
                <key>offset</key>
                <string>{25,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,135},{128,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4033_0_0_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,538},{130,104}}</string>
                <key>offset</key>
                <string>{21,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,145},{130,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4033_0_0_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,406},{132,76}}</string>
                <key>offset</key>
                <string>{19,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,165},{132,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4033_0_0_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,764},{190,46}}</string>
                <key>offset</key>
                <string>{3,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,193},{190,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4033_0_0_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,338},{186,42}}</string>
                <key>offset</key>
                <string>{11,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,186},{186,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4033_0_0_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,792},{180,62}}</string>
                <key>offset</key>
                <string>{15,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,172},{180,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4033_0_0_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,764},{186,48}}</string>
                <key>offset</key>
                <string>{5,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,178},{186,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4033_0_0_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,148},{190,36}}</string>
                <key>offset</key>
                <string>{3,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,195},{190,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4033_0_0_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,14},{136,88}}</string>
                <key>offset</key>
                <string>{-13,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,163},{136,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4033_0_0_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,246},{134,62}}</string>
                <key>offset</key>
                <string>{-6,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,180},{134,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4033_0_0_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,636},{128,44}}</string>
                <key>offset</key>
                <string>{-3,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,189},{128,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4033_0_0_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,482},{132,56}}</string>
                <key>offset</key>
                <string>{-13,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,177},{132,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4033_0_0_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,102},{136,80}}</string>
                <key>offset</key>
                <string>{-13,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,164},{136,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4033_0_0_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,524},{14,106}}</string>
                <key>offset</key>
                <string>{-24,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,143},{14,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4033_0_0_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,764},{14,80}}</string>
                <key>offset</key>
                <string>{-21,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,161},{14,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4033_0_0_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,792},{14,60}}</string>
                <key>offset</key>
                <string>{-19,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,172},{14,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4033_0_0_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,778},{14,74}}</string>
                <key>offset</key>
                <string>{-24,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,155},{14,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4033_0_0_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,954},{14,96}}</string>
                <key>offset</key>
                <string>{-22,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,144},{14,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4033_0_0.png</string>
            <key>size</key>
            <string>{174,972}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ef9a262919868e5a82b0f622469cbf00:1/1$</string>
            <key>textureFileName</key>
            <string>4033_0_0.png</string>
        </dict>
    </dict>
</plist>
