<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4033_0_1_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,378},{144,68}}</string>
                <key>offset</key>
                <string>{45,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,171},{144,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4033_0_1_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,228},{142,68}}</string>
                <key>offset</key>
                <string>{44,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,171},{142,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4033_0_1_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,230},{142,68}}</string>
                <key>offset</key>
                <string>{44,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,171},{142,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4033_0_1_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,378},{144,70}}</string>
                <key>offset</key>
                <string>{44,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,170},{144,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4033_0_1_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,0},{160,106}}</string>
                <key>offset</key>
                <string>{37,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,161},{160,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4033_0_1_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,284},{160,104}}</string>
                <key>offset</key>
                <string>{37,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,162},{160,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4033_0_1_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,124},{160,106}}</string>
                <key>offset</key>
                <string>{37,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,161},{160,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4033_0_1_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,0},{158,108}}</string>
                <key>offset</key>
                <string>{38,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,162},{158,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4033_0_1_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,372},{84,152}}</string>
                <key>offset</key>
                <string>{10,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,149},{84,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4033_0_1_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,228},{86,150}}</string>
                <key>offset</key>
                <string>{11,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,150},{86,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4033_0_1_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,444},{88,150}}</string>
                <key>offset</key>
                <string>{10,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,151},{88,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4033_0_1_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,372},{82,152}}</string>
                <key>offset</key>
                <string>{10,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,150},{82,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4033_0_1_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,370},{46,158}}</string>
                <key>offset</key>
                <string>{-23,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,144},{46,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4033_0_1_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,0},{44,160}}</string>
                <key>offset</key>
                <string>{-23,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,143},{44,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4033_0_1_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,124},{42,160}}</string>
                <key>offset</key>
                <string>{-24,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,143},{42,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4033_0_1_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,284},{46,160}}</string>
                <key>offset</key>
                <string>{-24,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,144},{46,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4033_0_1_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,108},{144,120}}</string>
                <key>offset</key>
                <string>{-43,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,149},{144,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4033_0_1_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,230},{142,124}}</string>
                <key>offset</key>
                <string>{-43,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,147},{142,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4033_0_1_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,106},{142,124}}</string>
                <key>offset</key>
                <string>{-43,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,148},{142,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4033_0_1_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{144,124}}</string>
                <key>offset</key>
                <string>{-44,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,147},{144,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4033_0_1.png</string>
            <key>size</key>
            <string>{506,548}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9271e8039b240067f26a3a10ad26f3ef:1/1$</string>
            <key>textureFileName</key>
            <string>4033_0_1.png</string>
        </dict>
    </dict>
</plist>
