<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4033_1_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,124},{142,84}}</string>
                <key>offset</key>
                <string>{31,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,179},{142,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4033_1_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,208},{140,84}}</string>
                <key>offset</key>
                <string>{31,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,180},{140,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4033_1_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,380},{138,84}}</string>
                <key>offset</key>
                <string>{32,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,179},{138,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4033_1_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,292},{140,88}}</string>
                <key>offset</key>
                <string>{32,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,177},{140,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4033_1_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,126},{154,126}}</string>
                <key>offset</key>
                <string>{25,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,163},{154,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4033_1_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{156,126}}</string>
                <key>offset</key>
                <string>{24,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,163},{156,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4033_1_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,0},{156,124}}</string>
                <key>offset</key>
                <string>{24,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,164},{156,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4033_1_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,252},{152,128}}</string>
                <key>offset</key>
                <string>{25,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,161},{152,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4033_1_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,86},{82,162}}</string>
                <key>offset</key>
                <string>{4,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,146},{82,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4033_1_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,380},{86,162}}</string>
                <key>offset</key>
                <string>{4,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,146},{86,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4033_1_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,0},{86,162}}</string>
                <key>offset</key>
                <string>{3,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,146},{86,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4033_1_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,168},{80,164}}</string>
                <key>offset</key>
                <string>{4,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,145},{80,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4033_1_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,466},{36,124}}</string>
                <key>offset</key>
                <string>{-25,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,183},{36,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4033_1_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,248},{34,124}}</string>
                <key>offset</key>
                <string>{-24,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,183},{34,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4033_1_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,168},{32,120}}</string>
                <key>offset</key>
                <string>{-25,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,188},{32,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4033_1_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,466},{36,124}}</string>
                <key>offset</key>
                <string>{-25,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,184},{36,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4033_1_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,282},{94,90}}</string>
                <key>offset</key>
                <string>{-55,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,190},{94,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4033_1_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,372},{92,90}}</string>
                <key>offset</key>
                <string>{-54,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,190},{92,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4033_1_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,380},{92,92}}</string>
                <key>offset</key>
                <string>{-53,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,189},{92,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4033_1_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,288},{94,92}}</string>
                <key>offset</key>
                <string>{-54,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,189},{94,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4033_1.png</string>
            <key>size</key>
            <string>{494,502}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:97f375e2ff34984349af9efa882068af:1/1$</string>
            <key>textureFileName</key>
            <string>4033_1.png</string>
        </dict>
    </dict>
</plist>
