<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4034_7_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{54,154}}</string>
                <key>offset</key>
                <string>{30,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,88},{54,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4034_7_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,62},{62,126}}</string>
                <key>offset</key>
                <string>{2,150}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,43},{62,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4034_7_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,54},{74,120}}</string>
                <key>offset</key>
                <string>{-17,151}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,45},{74,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4034_7_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,0},{50,152}}</string>
                <key>offset</key>
                <string>{29,132}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{260,48},{50,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4034_7_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,0},{140,64}}</string>
                <key>offset</key>
                <string>{62,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,166},{140,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4034_7_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,0},{68,138}}</string>
                <key>offset</key>
                <string>{29,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,108},{68,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4034_7_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,130},{44,144}}</string>
                <key>offset</key>
                <string>{-11,153}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,31},{44,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4034_7_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,0},{54,146}}</string>
                <key>offset</key>
                <string>{-22,160}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,23},{54,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4034_7_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,50},{30,148}}</string>
                <key>offset</key>
                <string>{16,123}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{257,59},{30,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4034_7_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,0},{142,54}}</string>
                <key>offset</key>
                <string>{41,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,188},{142,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4034_7_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,64},{82,110}}</string>
                <key>offset</key>
                <string>{10,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,130},{82,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4034_7_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,82},{14,154}}</string>
                <key>offset</key>
                <string>{-15,159}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,20},{14,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4034_7_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,96},{10,154}}</string>
                <key>offset</key>
                <string>{-13,167}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,12},{10,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4034_7_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,128},{46,134}}</string>
                <key>offset</key>
                <string>{-4,120}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,69},{46,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4034_7_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,106},{62,56}}</string>
                <key>offset</key>
                <string>{-4,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,191},{62,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4034_7_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,106},{56,86}}</string>
                <key>offset</key>
                <string>{-17,73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,140},{56,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4034_7_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,80},{48,148}}</string>
                <key>offset</key>
                <string>{-14,164}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,18},{48,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4034_7_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,0},{56,146}}</string>
                <key>offset</key>
                <string>{2,169}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,14},{56,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4034_7_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,54},{54,118}}</string>
                <key>offset</key>
                <string>{-25,126}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,71},{54,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4034_7_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,124},{58,48}}</string>
                <key>offset</key>
                <string>{-44,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,187},{58,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4034_7_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,124},{48,78}}</string>
                <key>offset</key>
                <string>{-32,82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,135},{48,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4034_7_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,0},{62,132}}</string>
                <key>offset</key>
                <string>{-1,166}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,24},{62,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4034_7_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,56},{74,122}}</string>
                <key>offset</key>
                <string>{19,165}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,30},{74,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4034_7_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,64},{52,110}}</string>
                <key>offset</key>
                <string>{-28,135}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,66},{52,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4034_7_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,54},{142,28}}</string>
                <key>offset</key>
                <string>{-61,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,177},{142,28}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4034_7.png</string>
            <key>size</key>
            <string>{983,174}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:81a6ea17ebde76c32c80fcd7eafff746:1/1$</string>
            <key>textureFileName</key>
            <string>4034_7.png</string>
        </dict>
    </dict>
</plist>
