<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4035_2_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,0},{72,112}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,194},{72,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4035_2_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,90},{2,2}}</string>
                <key>offset</key>
                <string>{-20,82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,173},{2,2}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4035_2_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,90},{2,2}}</string>
                <key>offset</key>
                <string>{-15,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,167},{2,2}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4035_2_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,0},{52,130}}</string>
                <key>offset</key>
                <string>{11,129}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,62},{52,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4035_2_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,196},{48,104}}</string>
                <key>offset</key>
                <string>{8,124}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,80},{48,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4035_2_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{114,90}}</string>
                <key>offset</key>
                <string>{-59,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,192},{114,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4035_2_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,208},{74,40}}</string>
                <key>offset</key>
                <string>{47,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{266,196},{74,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4035_2_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,206},{80,46}}</string>
                <key>offset</key>
                <string>{47,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,187},{80,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4035_2_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,52},{38,130}}</string>
                <key>offset</key>
                <string>{23,118}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{260,73},{38,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4035_2_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,92},{62,116}}</string>
                <key>offset</key>
                <string>{2,122}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,76},{62,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4035_2_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,138},{106,58}}</string>
                <key>offset</key>
                <string>{-85,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,184},{106,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4035_2_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,154},{120,54}}</string>
                <key>offset</key>
                <string>{75,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{271,212},{120,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4035_2_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,126},{114,62}}</string>
                <key>offset</key>
                <string>{67,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{266,202},{114,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4035_2_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,48},{48,126}}</string>
                <key>offset</key>
                <string>{21,110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{253,83},{48,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4035_2_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,90},{52,124}}</string>
                <key>offset</key>
                <string>{-9,122}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,72},{52,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4035_2_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,196},{52,44}}</string>
                <key>offset</key>
                <string>{-60,72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,162},{52,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4035_2_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,90},{84,116}}</string>
                <key>offset</key>
                <string>{51,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{265,217},{84,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4035_2_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,0},{100,92}}</string>
                <key>offset</key>
                <string>{48,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,209},{100,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4035_2_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,142},{56,116}}</string>
                <key>offset</key>
                <string>{6,106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,92},{56,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4035_2_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,96},{42,134}}</string>
                <key>offset</key>
                <string>{-13,128}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,61},{42,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4035_2_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,208},{42,46}}</string>
                <key>offset</key>
                <string>{-19,87}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,146},{42,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4035_2_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,72},{54,110}}</string>
                <key>offset</key>
                <string>{12,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,223},{54,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4035_2_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,188},{46,114}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,207},{46,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4035_2_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,198},{50,106}}</string>
                <key>offset</key>
                <string>{-13,107}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,96},{50,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4035_2_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,0},{48,126}}</string>
                <key>offset</key>
                <string>{-9,130}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,63},{48,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4035_2.png</string>
            <key>size</key>
            <string>{582,255}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:885a004d39dbdef55faa3963215a028c:1/1$</string>
            <key>textureFileName</key>
            <string>4035_2.png</string>
        </dict>
    </dict>
</plist>
