<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4035_8_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,736},{104,80}}</string>
                <key>offset</key>
                <string>{4,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,139},{104,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4035_8_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,396},{114,82}}</string>
                <key>offset</key>
                <string>{-12,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,114},{114,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4035_8_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,614},{108,44}}</string>
                <key>offset</key>
                <string>{61,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,196},{108,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4035_8_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,240},{82,48}}</string>
                <key>offset</key>
                <string>{3,68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,164},{82,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4035_8_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,174},{124,64}}</string>
                <key>offset</key>
                <string>{50,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,156},{124,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4035_8_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,792},{44,90}}</string>
                <key>offset</key>
                <string>{-17,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,134},{44,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4035_8_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,546},{68,108}}</string>
                <key>offset</key>
                <string>{32,98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{254,104},{68,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4035_8_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,46},{126,66}}</string>
                <key>offset</key>
                <string>{53,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,211},{126,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4035_8_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,640},{52,54}}</string>
                <key>offset</key>
                <string>{-23,70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,159},{52,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4035_8_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,156},{84,42}}</string>
                <key>offset</key>
                <string>{10,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,178},{84,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4035_8_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,816},{100,74}}</string>
                <key>offset</key>
                <string>{-33,87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,132},{100,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4035_8_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,478},{68,108}}</string>
                <key>offset</key>
                <string>{61,80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{283,122},{68,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4035_8_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,926},{76,96}}</string>
                <key>offset</key>
                <string>{19,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,209},{76,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4035_8_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,46},{110,42}}</string>
                <key>offset</key>
                <string>{-37,83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,152},{110,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4035_8_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,882},{44,44}}</string>
                <key>offset</key>
                <string>{-34,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,175},{44,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4035_8_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{130,46}}</string>
                <key>offset</key>
                <string>{-25,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,135},{130,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4035_8_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,310},{116,86}}</string>
                <key>offset</key>
                <string>{50,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,153},{116,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4035_8_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,436},{54,102}}</string>
                <key>offset</key>
                <string>{-33,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,204},{54,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4035_8_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,112},{126,62}}</string>
                <key>offset</key>
                <string>{-27,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,128},{126,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4035_8_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,692},{100,44}}</string>
                <key>offset</key>
                <string>{-61,79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,155},{100,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4035_8_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,538},{102,54}}</string>
                <key>offset</key>
                <string>{-4,106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,123},{102,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4035_8_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,322},{114,52}}</string>
                <key>offset</key>
                <string>{13,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,182},{114,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4035_8_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,658},{106,78}}</string>
                <key>offset</key>
                <string>{-59,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,199},{106,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4035_8_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,926},{86,94}}</string>
                <key>offset</key>
                <string>{-4,102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,107},{86,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4035_8_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,238},{118,72}}</string>
                <key>offset</key>
                <string>{-49,102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,118},{118,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4035_8.png</string>
            <key>size</key>
            <string>{168,1022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e589c34bbb6f09d0ed4f89ece70f54f2:1/1$</string>
            <key>textureFileName</key>
            <string>4035_8.png</string>
        </dict>
    </dict>
</plist>
