<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4035_0_0_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,222},{42,62}}</string>
                <key>offset</key>
                <string>{17,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,156},{42,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4035_0_0_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,624},{44,80}}</string>
                <key>offset</key>
                <string>{18,78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{252,138},{44,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4035_0_0_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,194},{44,92}}</string>
                <key>offset</key>
                <string>{19,90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,120},{44,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4035_0_0_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,68},{42,86}}</string>
                <key>offset</key>
                <string>{20,86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,127},{42,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4035_0_0_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,364},{44,68}}</string>
                <key>offset</key>
                <string>{17,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,145},{44,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4035_0_0_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,836},{88,44}}</string>
                <key>offset</key>
                <string>{43,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{255,177},{88,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4035_0_0_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,752},{84,58}}</string>
                <key>offset</key>
                <string>{46,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{260,165},{84,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4035_0_0_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,860},{86,72}}</string>
                <key>offset</key>
                <string>{54,71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{267,149},{86,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4035_0_0_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,668},{84,62}}</string>
                <key>offset</key>
                <string>{53,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{267,159},{84,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4035_0_0_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,536},{88,50}}</string>
                <key>offset</key>
                <string>{48,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{260,169},{88,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4035_0_0_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,68},{122,40}}</string>
                <key>offset</key>
                <string>{42,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,198},{122,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4035_0_0_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,448},{124,36}}</string>
                <key>offset</key>
                <string>{47,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,193},{124,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4035_0_0_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,68},{126,44}}</string>
                <key>offset</key>
                <string>{56,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{249,182},{126,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4035_0_0_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,194},{126,40}}</string>
                <key>offset</key>
                <string>{56,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{249,188},{126,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4035_0_0_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,320},{128,38}}</string>
                <key>offset</key>
                <string>{49,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,193},{128,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4035_0_0_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{106,68}}</string>
                <key>offset</key>
                <string>{19,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,191},{106,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4035_0_0_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,572},{96,46}}</string>
                <key>offset</key>
                <string>{21,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,200},{96,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4035_0_0_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,320},{92,44}}</string>
                <key>offset</key>
                <string>{23,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,196},{92,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4035_0_0_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,668},{96,52}}</string>
                <key>offset</key>
                <string>{20,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,195},{96,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4035_0_0_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,764},{96,60}}</string>
                <key>offset</key>
                <string>{18,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,192},{96,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4035_0_0_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,448},{44,88}}</string>
                <key>offset</key>
                <string>{-18,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,184},{44,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4035_0_0_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,154},{42,68}}</string>
                <key>offset</key>
                <string>{-17,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,189},{42,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4035_0_0_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,924},{46,54}}</string>
                <key>offset</key>
                <string>{-19,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,190},{46,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4035_0_0_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,432},{44,62}}</string>
                <key>offset</key>
                <string>{-19,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,190},{44,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4035_0_0_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,286},{44,78}}</string>
                <key>offset</key>
                <string>{-17,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,184},{44,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4035_0_0.png</string>
            <key>size</key>
            <string>{127,975}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4a222a2194cef5d392b490a23f19d771:1/1$</string>
            <key>textureFileName</key>
            <string>4035_0_0.png</string>
        </dict>
    </dict>
</plist>
