<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4035_1_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,790},{106,58}}</string>
                <key>offset</key>
                <string>{50,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{253,191},{106,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4035_1_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,870},{102,62}}</string>
                <key>offset</key>
                <string>{50,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,189},{102,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4035_1_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,808},{102,62}}</string>
                <key>offset</key>
                <string>{50,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,188},{102,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4035_1_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,896},{106,62}}</string>
                <key>offset</key>
                <string>{50,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{253,189},{106,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4035_1_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,230},{110,92}}</string>
                <key>offset</key>
                <string>{45,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{246,193},{110,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4035_1_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,324},{110,90}}</string>
                <key>offset</key>
                <string>{45,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{246,192},{110,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4035_1_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,212},{112,92}}</string>
                <key>offset</key>
                <string>{45,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{245,191},{112,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4035_1_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,102},{110,96}}</string>
                <key>offset</key>
                <string>{44,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{245,191},{110,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4035_1_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,434},{68,114}}</string>
                <key>offset</key>
                <string>{15,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,192},{68,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4035_1_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,116},{72,114}}</string>
                <key>offset</key>
                <string>{15,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,191},{72,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4035_1_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,0},{72,116}}</string>
                <key>offset</key>
                <string>{14,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,191},{72,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4035_1_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,340},{68,114}}</string>
                <key>offset</key>
                <string>{14,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,192},{68,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4035_1_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,672},{60,118}}</string>
                <key>offset</key>
                <string>{-28,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,189},{60,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4035_1_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,932},{52,118}}</string>
                <key>offset</key>
                <string>{-29,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,187},{52,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4035_1_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,752},{56,124}}</string>
                <key>offset</key>
                <string>{-28,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,186},{56,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4035_1_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,548},{60,124}}</string>
                <key>offset</key>
                <string>{-29,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,187},{60,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4035_1_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,556},{104,98}}</string>
                <key>offset</key>
                <string>{-52,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,183},{104,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4035_1_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,454},{102,102}}</string>
                <key>offset</key>
                <string>{-50,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,182},{102,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4035_1_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{102,104}}</string>
                <key>offset</key>
                <string>{-50,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,181},{102,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4035_1_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,654},{102,98}}</string>
                <key>offset</key>
                <string>{-50,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,183},{102,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4035_1.png</string>
            <key>size</key>
            <string>{184,1002}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:211f137f68a58291154e9d28392366e9:1/1$</string>
            <key>textureFileName</key>
            <string>4035_1.png</string>
        </dict>
    </dict>
</plist>
