<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4036_0_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,934},{54,86}}</string>
                <key>offset</key>
                <string>{19,74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{248,139},{54,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4036_0_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,964},{50,86}}</string>
                <key>offset</key>
                <string>{22,78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{253,135},{50,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4036_0_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,290},{62,98}}</string>
                <key>offset</key>
                <string>{19,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,127},{62,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4036_0_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,602},{60,88}}</string>
                <key>offset</key>
                <string>{18,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,133},{60,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4036_0_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,856},{54,94}}</string>
                <key>offset</key>
                <string>{21,78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{250,131},{54,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4036_0_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,0},{108,58}}</string>
                <key>offset</key>
                <string>{44,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{246,169},{108,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4036_0_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,680},{104,88}}</string>
                <key>offset</key>
                <string>{49,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,140},{104,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4036_0_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,592},{106,88}}</string>
                <key>offset</key>
                <string>{48,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,139},{106,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4036_0_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,432},{108,92}}</string>
                <key>offset</key>
                <string>{48,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,134},{108,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4036_0_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,330},{114,102}}</string>
                <key>offset</key>
                <string>{45,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,127},{114,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4036_0_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,138},{130,50}}</string>
                <key>offset</key>
                <string>{39,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,195},{130,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4036_0_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,70},{130,68}}</string>
                <key>offset</key>
                <string>{49,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,168},{130,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4036_0_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,258},{124,72}}</string>
                <key>offset</key>
                <string>{50,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,158},{124,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4036_0_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{130,70}}</string>
                <key>offset</key>
                <string>{42,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,160},{130,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4036_0_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,188},{128,70}}</string>
                <key>offset</key>
                <string>{37,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,164},{128,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4036_0_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,832},{102,86}}</string>
                <key>offset</key>
                <string>{14,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,188},{102,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4036_0_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,388},{106,74}}</string>
                <key>offset</key>
                <string>{19,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,185},{106,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4036_0_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,524},{108,68}}</string>
                <key>offset</key>
                <string>{22,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,179},{108,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4036_0_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,494},{108,72}}</string>
                <key>offset</key>
                <string>{17,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,178},{108,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4036_0_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,768},{102,88}}</string>
                <key>offset</key>
                <string>{12,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,174},{102,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4036_0_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,910},{54,90}}</string>
                <key>offset</key>
                <string>{-18,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,189},{54,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4036_0_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,690},{46,84}}</string>
                <key>offset</key>
                <string>{-21,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,198},{46,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4036_0_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,200},{60,90}}</string>
                <key>offset</key>
                <string>{-18,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,197},{60,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4036_0_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,108},{58,92}}</string>
                <key>offset</key>
                <string>{-16,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,187},{58,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4036_0_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,736},{54,96}}</string>
                <key>offset</key>
                <string>{-19,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,187},{54,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4036_0.png</string>
            <key>size</key>
            <string>{188,1014}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f2a1395d4f8e02a1d574a50932fa82c0:1/1$</string>
            <key>textureFileName</key>
            <string>4036_0.png</string>
        </dict>
    </dict>
</plist>
