<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4036_0_0_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,438},{52,80}}</string>
                <key>offset</key>
                <string>{17,78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{247,138},{52,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4036_0_0_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,424},{50,86}}</string>
                <key>offset</key>
                <string>{21,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,134},{50,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4036_0_0_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,330},{62,94}}</string>
                <key>offset</key>
                <string>{18,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,120},{62,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4036_0_0_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,376},{60,92}}</string>
                <key>offset</key>
                <string>{17,82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,128},{60,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4036_0_0_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,424},{54,88}}</string>
                <key>offset</key>
                <string>{20,82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,130},{54,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4036_0_0_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,92},{108,78}}</string>
                <key>offset</key>
                <string>{43,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,148},{108,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4036_0_0_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,352},{104,86}}</string>
                <key>offset</key>
                <string>{48,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,140},{104,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4036_0_0_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,232},{106,84}}</string>
                <key>offset</key>
                <string>{47,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,138},{106,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4036_0_0_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,214},{106,90}}</string>
                <key>offset</key>
                <string>{47,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,134},{106,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4036_0_0_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,0},{114,92}}</string>
                <key>offset</key>
                <string>{44,83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,127},{114,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4036_0_0_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,134},{124,64}}</string>
                <key>offset</key>
                <string>{42,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,174},{124,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4036_0_0_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,70},{126,64}}</string>
                <key>offset</key>
                <string>{46,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,166},{126,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4036_0_0_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,68},{128,68}}</string>
                <key>offset</key>
                <string>{55,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,158},{128,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4036_0_0_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,0},{128,68}}</string>
                <key>offset</key>
                <string>{55,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,160},{128,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4036_0_0_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{130,70}}</string>
                <key>offset</key>
                <string>{48,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,162},{130,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4036_0_0_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,136},{118,78}}</string>
                <key>offset</key>
                <string>{20,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,188},{118,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4036_0_0_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,304},{106,68}}</string>
                <key>offset</key>
                <string>{18,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,183},{106,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4036_0_0_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,170},{108,62}}</string>
                <key>offset</key>
                <string>{21,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,178},{108,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4036_0_0_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,198},{108,70}}</string>
                <key>offset</key>
                <string>{16,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,178},{108,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4036_0_0_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,268},{106,84}}</string>
                <key>offset</key>
                <string>{14,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,172},{106,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4036_0_0_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,372},{52,94}}</string>
                <key>offset</key>
                <string>{-18,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,184},{52,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4036_0_0_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,436},{50,92}}</string>
                <key>offset</key>
                <string>{-21,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,189},{50,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4036_0_0_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,316},{60,96}}</string>
                <key>offset</key>
                <string>{-19,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,190},{60,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4036_0_0_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,424},{58,88}}</string>
                <key>offset</key>
                <string>{-17,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,190},{58,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4036_0_0_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,232},{54,98}}</string>
                <key>offset</key>
                <string>{-20,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,184},{54,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4036_0_0.png</string>
            <key>size</key>
            <string>{374,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fe9f3f818431a401c481ba60cd807cb1:1/1$</string>
            <key>textureFileName</key>
            <string>4036_0_0.png</string>
        </dict>
    </dict>
</plist>
