<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4036_0_8_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,240},{98,72}}</string>
                <key>offset</key>
                <string>{9,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,154},{98,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4036_0_8_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{116,84}}</string>
                <key>offset</key>
                <string>{-14,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,109},{116,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4036_0_8_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,332},{118,64}}</string>
                <key>offset</key>
                <string>{66,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{263,182},{118,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4036_0_8_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,388},{88,64}}</string>
                <key>offset</key>
                <string>{-1,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,159},{88,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4036_0_8_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,0},{116,78}}</string>
                <key>offset</key>
                <string>{53,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,142},{116,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4036_0_8_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,432},{56,86}}</string>
                <key>offset</key>
                <string>{-13,70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,143},{56,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4036_0_8_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,312},{64,102}}</string>
                <key>offset</key>
                <string>{31,98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{255,107},{64,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4036_0_8_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,206},{126,70}}</string>
                <key>offset</key>
                <string>{60,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{253,209},{126,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4036_0_8_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,438},{62,58}}</string>
                <key>offset</key>
                <string>{-25,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,160},{62,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4036_0_8_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,414},{84,54}}</string>
                <key>offset</key>
                <string>{16,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,172},{84,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4036_0_8_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,162},{98,78}}</string>
                <key>offset</key>
                <string>{-36,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,140},{98,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4036_0_8_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,210},{66,106}}</string>
                <key>offset</key>
                <string>{63,82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{286,121},{66,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4036_0_8_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,286},{74,102}}</string>
                <key>offset</key>
                <string>{19,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,209},{74,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4036_0_8_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,78},{116,54}}</string>
                <key>offset</key>
                <string>{-41,79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,150},{116,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4036_0_8_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,450},{54,42}}</string>
                <key>offset</key>
                <string>{-36,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,178},{54,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4036_0_8_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,84},{126,56}}</string>
                <key>offset</key>
                <string>{-27,94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,134},{126,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4036_0_8_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,74},{110,86}}</string>
                <key>offset</key>
                <string>{54,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{255,151},{110,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4036_0_8_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,332},{70,106}}</string>
                <key>offset</key>
                <string>{-31,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,203},{70,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4036_0_8_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,84},{122,76}}</string>
                <key>offset</key>
                <string>{-28,102}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,116},{122,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4036_0_8_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,308},{106,54}}</string>
                <key>offset</key>
                <string>{-65,79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,150},{106,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4036_0_8_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,376},{106,56}}</string>
                <key>offset</key>
                <string>{-10,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,122},{106,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4036_0_8_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,194},{114,54}}</string>
                <key>offset</key>
                <string>{17,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,182},{114,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4036_0_8_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,78},{110,84}}</string>
                <key>offset</key>
                <string>{-62,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,197},{110,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4036_0_8_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,184},{82,102}}</string>
                <key>offset</key>
                <string>{-6,107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,98},{82,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4036_0_8_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,0},{124,74}}</string>
                <key>offset</key>
                <string>{-53,103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,116},{124,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4036_0_8.png</string>
            <key>size</key>
            <string>{382,498}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d6e0745e6839ef997997cc8a4d53370d:1/1$</string>
            <key>textureFileName</key>
            <string>4036_0_8.png</string>
        </dict>
    </dict>
</plist>
