<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4036_0_1_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,100},{116,78}}</string>
                <key>offset</key>
                <string>{55,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{253,173},{116,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4036_0_1_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,208},{106,74}}</string>
                <key>offset</key>
                <string>{49,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{252,176},{106,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4036_0_1_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,104},{104,78}}</string>
                <key>offset</key>
                <string>{49,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{253,174},{104,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4036_0_1_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,306},{110,80}}</string>
                <key>offset</key>
                <string>{51,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{252,172},{110,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4036_0_1_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,96},{112,104}}</string>
                <key>offset</key>
                <string>{40,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,176},{112,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4036_0_1_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,200},{114,90}}</string>
                <key>offset</key>
                <string>{41,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,189},{114,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4036_0_1_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,104},{124,104}}</string>
                <key>offset</key>
                <string>{45,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,177},{124,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4036_0_1_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,314},{120,100}}</string>
                <key>offset</key>
                <string>{45,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,182},{120,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4036_0_1_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,0},{100,114}}</string>
                <key>offset</key>
                <string>{26,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,191},{100,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4036_0_1_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,216},{90,110}}</string>
                <key>offset</key>
                <string>{21,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,195},{90,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4036_0_1_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,202},{92,110}}</string>
                <key>offset</key>
                <string>{23,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,193},{92,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4036_0_1_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,100},{102,112}}</string>
                <key>offset</key>
                <string>{27,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,192},{102,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4036_0_1_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,314},{80,118}}</string>
                <key>offset</key>
                <string>{-15,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,186},{80,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4036_0_1_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,314},{78,118}}</string>
                <key>offset</key>
                <string>{-16,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,186},{78,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4036_0_1_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,312},{78,122}}</string>
                <key>offset</key>
                <string>{-14,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,187},{78,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4036_0_1_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,314},{72,120}}</string>
                <key>offset</key>
                <string>{-16,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,187},{72,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4036_0_1_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,208},{116,106}}</string>
                <key>offset</key>
                <string>{-51,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,175},{116,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4036_0_1_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,0},{118,96}}</string>
                <key>offset</key>
                <string>{-52,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,185},{118,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4036_0_1_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{128,104}}</string>
                <key>offset</key>
                <string>{-56,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,177},{128,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4036_0_1_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,0},{122,96}}</string>
                <key>offset</key>
                <string>{-56,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,181},{122,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4036_0_1.png</string>
            <key>size</key>
            <string>{505,434}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:36d044f40a58952daca11938970e2711:1/1$</string>
            <key>textureFileName</key>
            <string>4036_0_1.png</string>
        </dict>
    </dict>
</plist>
