<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4036_3_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,118},{42,38}}</string>
                <key>offset</key>
                <string>{25,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{260,194},{42,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4036_3_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,234},{96,56}}</string>
                <key>offset</key>
                <string>{29,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,192},{96,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4036_3_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{128,74}}</string>
                <key>offset</key>
                <string>{21,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,196},{128,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4036_3_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,128},{88,106}}</string>
                <key>offset</key>
                <string>{-5,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,180},{88,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4036_3_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,0},{54,118}}</string>
                <key>offset</key>
                <string>{-24,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,169},{54,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4036_3.png</string>
            <key>size</key>
            <string>{128,290}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:62f322ee5c83bb721c84b18a80bb6449:1/1$</string>
            <key>textureFileName</key>
            <string>4036_3.png</string>
        </dict>
    </dict>
</plist>
