<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4037_0_6_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,300},{110,74}}</string>
                <key>offset</key>
                <string>{35,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,202},{110,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4037_0_6_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,516},{106,76}}</string>
                <key>offset</key>
                <string>{31,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,203},{106,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4037_0_6_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,146},{114,94}}</string>
                <key>offset</key>
                <string>{31,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,194},{114,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4037_0_6_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,874},{70,50}}</string>
                <key>offset</key>
                <string>{41,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,191},{70,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4037_0_6_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,0},{70,52}}</string>
                <key>offset</key>
                <string>{43,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{264,182},{70,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4037_0_6_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,898},{68,94}}</string>
                <key>offset</key>
                <string>{4,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,196},{68,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4037_0_6_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,746},{58,96}}</string>
                <key>offset</key>
                <string>{-4,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,194},{58,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4037_0_6_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,444},{72,108}}</string>
                <key>offset</key>
                <string>{-3,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,191},{72,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4037_0_6_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,484},{100,64}}</string>
                <key>offset</key>
                <string>{35,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,202},{100,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4037_0_6_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,240},{114,60}}</string>
                <key>offset</key>
                <string>{42,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,198},{114,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4037_0_6_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,924},{58,90}}</string>
                <key>offset</key>
                <string>{-32,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,191},{58,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4037_0_6_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,966},{58,94}}</string>
                <key>offset</key>
                <string>{-35,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,186},{58,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4037_0_6_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,382},{62,102}}</string>
                <key>offset</key>
                <string>{-29,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,182},{62,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4037_0_6_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,804},{94,94}}</string>
                <key>offset</key>
                <string>{19,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,196},{94,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4037_0_6_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,666},{96,80}}</string>
                <key>offset</key>
                <string>{20,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,199},{96,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4037_0_6_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,592},{104,74}}</string>
                <key>offset</key>
                <string>{-47,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,190},{104,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4037_0_6_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,374},{110,70}}</string>
                <key>offset</key>
                <string>{-42,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,187},{110,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4037_0_6_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{116,86}}</string>
                <key>offset</key>
                <string>{-38,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,178},{116,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4037_0_6_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,166},{58,108}}</string>
                <key>offset</key>
                <string>{-20,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,186},{58,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4037_0_6_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,70},{50,96}}</string>
                <key>offset</key>
                <string>{-15,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,189},{50,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4037_0_6_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,274},{108,58}}</string>
                <key>offset</key>
                <string>{-33,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,180},{108,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4037_0_6_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,584},{104,58}}</string>
                <key>offset</key>
                <string>{-25,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,182},{104,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4037_0_6_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,86},{116,60}}</string>
                <key>offset</key>
                <string>{-24,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,180},{116,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4037_0_6_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,688},{76,94}}</string>
                <key>offset</key>
                <string>{-42,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,183},{76,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4037_0_6_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,782},{76,92}}</string>
                <key>offset</key>
                <string>{-42,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,181},{76,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4037_0_6.png</string>
            <key>size</key>
            <string>{172,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f1cb0b8191789b2ce7c77e91574c8bb1:1/1$</string>
            <key>textureFileName</key>
            <string>4037_0_6.png</string>
        </dict>
    </dict>
</plist>
