<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4037_2_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,94},{64,96}}</string>
                <key>offset</key>
                <string>{4,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,197},{64,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4037_2_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,50},{2,2}}</string>
                <key>offset</key>
                <string>{-21,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,174},{2,2}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4037_2_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,50},{2,2}}</string>
                <key>offset</key>
                <string>{-15,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,166},{2,2}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4037_2_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,158},{48,98}}</string>
                <key>offset</key>
                <string>{16,133}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{248,74},{48,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4037_2_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,126},{36,94}}</string>
                <key>offset</key>
                <string>{11,129}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,80},{36,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4037_2_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,106},{102,68}}</string>
                <key>offset</key>
                <string>{-56,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,201},{102,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4037_2_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,186},{64,50}}</string>
                <key>offset</key>
                <string>{46,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{270,187},{64,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4037_2_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,174},{80,58}}</string>
                <key>offset</key>
                <string>{51,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{267,176},{80,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4037_2_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,60},{46,118}}</string>
                <key>offset</key>
                <string>{26,118}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{259,79},{46,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4037_2_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,90},{56,104}}</string>
                <key>offset</key>
                <string>{3,122}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,82},{56,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4037_2_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,186},{92,64}}</string>
                <key>offset</key>
                <string>{-81,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,175},{92,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4037_2_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,60},{106,66}}</string>
                <key>offset</key>
                <string>{75,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{278,203},{106,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4037_2_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,96},{116,72}}</string>
                <key>offset</key>
                <string>{71,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{269,197},{116,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4037_2_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,0},{60,116}}</string>
                <key>offset</key>
                <string>{19,110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{245,88},{60,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4037_2_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,0},{60,114}}</string>
                <key>offset</key>
                <string>{-3,122}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,77},{60,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4037_2_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,212},{50,42}}</string>
                <key>offset</key>
                <string>{-58,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,155},{50,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4037_2_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,0},{66,94}}</string>
                <key>offset</key>
                <string>{51,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{274,231},{66,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4037_2_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{98,96}}</string>
                <key>offset</key>
                <string>{51,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{258,208},{98,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4037_2_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,126},{60,104}}</string>
                <key>offset</key>
                <string>{4,104}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,100},{60,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4037_2_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,0},{50,120}}</string>
                <key>offset</key>
                <string>{-11,126}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,70},{50,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4037_2_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,206},{32,46}}</string>
                <key>offset</key>
                <string>{-14,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,136},{32,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4037_2_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,206},{46,88}}</string>
                <key>offset</key>
                <string>{12,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{245,234},{46,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4037_2_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,146},{52,100}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,211},{52,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4037_2_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,198},{48,94}}</string>
                <key>offset</key>
                <string>{-12,106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,103},{48,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4037_2_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,50},{40,118}}</string>
                <key>offset</key>
                <string>{-8,130}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,67},{40,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4037_2.png</string>
            <key>size</key>
            <string>{535,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:52d99b1fb142382a7b45610ea82483fe:1/1$</string>
            <key>textureFileName</key>
            <string>4037_2.png</string>
        </dict>
    </dict>
</plist>
