<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4037_1_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,150},{90,70}}</string>
                <key>offset</key>
                <string>{50,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{261,182},{90,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4037_1_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,78},{96,64}}</string>
                <key>offset</key>
                <string>{54,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,188},{96,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4037_1_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,86},{92,64}}</string>
                <key>offset</key>
                <string>{51,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{261,185},{92,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4037_1_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,142},{92,58}}</string>
                <key>offset</key>
                <string>{51,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{261,192},{92,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4037_1_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,174},{100,80}}</string>
                <key>offset</key>
                <string>{45,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,199},{100,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4037_1_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,94},{106,80}}</string>
                <key>offset</key>
                <string>{49,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,199},{106,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4037_1_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,0},{100,82}}</string>
                <key>offset</key>
                <string>{46,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,195},{100,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4037_1_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,0},{100,78}}</string>
                <key>offset</key>
                <string>{47,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,199},{100,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4037_1_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,82},{58,102}}</string>
                <key>offset</key>
                <string>{17,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{244,196},{58,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4037_1_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,88},{62,100}}</string>
                <key>offset</key>
                <string>{16,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,197},{62,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4037_1_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,150},{64,100}}</string>
                <key>offset</key>
                <string>{14,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,198},{64,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4037_1_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,200},{54,104}}</string>
                <key>offset</key>
                <string>{15,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{244,196},{54,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4037_1_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,192},{58,104}}</string>
                <key>offset</key>
                <string>{-29,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,193},{58,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4037_1_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,140},{52,106}}</string>
                <key>offset</key>
                <string>{-31,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,192},{52,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4037_1_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,150},{56,104}}</string>
                <key>offset</key>
                <string>{-25,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,194},{56,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4037_1_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,88},{42,106}}</string>
                <key>offset</key>
                <string>{-29,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,192},{42,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4037_1_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,0},{88,86}}</string>
                <key>offset</key>
                <string>{-48,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,189},{88,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4037_1_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{110,94}}</string>
                <key>offset</key>
                <string>{-49,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,184},{110,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4037_1_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,0},{88,90}}</string>
                <key>offset</key>
                <string>{-47,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,185},{88,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4037_1_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,0},{92,86}}</string>
                <key>offset</key>
                <string>{-49,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,188},{92,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4037_1.png</string>
            <key>size</key>
            <string>{578,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:86d910ec18dbe2df4a396ec2ebfb7e72:1/1$</string>
            <key>textureFileName</key>
            <string>4037_1.png</string>
        </dict>
    </dict>
</plist>
