<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4038_6_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,0},{108,92}}</string>
                <key>offset</key>
                <string>{34,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,184},{108,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4038_6_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,0},{106,76}}</string>
                <key>offset</key>
                <string>{29,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,201},{106,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4038_6_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,118},{110,94}}</string>
                <key>offset</key>
                <string>{32,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,194},{110,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4038_6_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,186},{76,68}}</string>
                <key>offset</key>
                <string>{42,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{260,173},{76,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4038_6_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,310},{74,56}}</string>
                <key>offset</key>
                <string>{40,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,180},{74,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4038_6_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,0},{74,102}}</string>
                <key>offset</key>
                <string>{1,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,185},{74,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4038_6_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,210},{62,98}}</string>
                <key>offset</key>
                <string>{-6,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,192},{62,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4038_6_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,216},{74,106}}</string>
                <key>offset</key>
                <string>{-6,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,192},{74,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4038_6_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,236},{114,66}}</string>
                <key>offset</key>
                <string>{47,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{246,188},{114,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4038_6_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,236},{112,68}}</string>
                <key>offset</key>
                <string>{43,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,191},{112,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4038_6_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,322},{70,102}}</string>
                <key>offset</key>
                <string>{-26,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,178},{70,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4038_6_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,0},{64,96}}</string>
                <key>offset</key>
                <string>{-32,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,186},{64,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4038_6_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,144},{66,98}}</string>
                <key>offset</key>
                <string>{-26,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,186},{66,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4038_6_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,312},{94,82}}</string>
                <key>offset</key>
                <string>{24,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,197},{94,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4038_6_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,0},{96,80}}</string>
                <key>offset</key>
                <string>{21,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,199},{96,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4038_6_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,106},{104,90}}</string>
                <key>offset</key>
                <string>{-46,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,174},{104,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4038_6_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,108},{108,74}}</string>
                <key>offset</key>
                <string>{-42,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,186},{108,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4038_6_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{118,90}}</string>
                <key>offset</key>
                <string>{-41,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,178},{118,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4038_6_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,254},{56,92}}</string>
                <key>offset</key>
                <string>{-16,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,194},{56,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4038_6_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,336},{56,98}}</string>
                <key>offset</key>
                <string>{-18,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,188},{56,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4038_6_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,228},{108,76}}</string>
                <key>offset</key>
                <string>{-33,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,165},{108,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4038_6_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,210},{102,62}}</string>
                <key>offset</key>
                <string>{-25,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,178},{102,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4038_6_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,118},{118,70}}</string>
                <key>offset</key>
                <string>{-25,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,172},{118,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4038_6_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,64},{80,82}}</string>
                <key>offset</key>
                <string>{-39,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,184},{80,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4038_6_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,96},{76,90}}</string>
                <key>offset</key>
                <string>{-42,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,183},{76,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4038_6.png</string>
            <key>size</key>
            <string>{508,394}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:10ff13c34900264b025e6194de7618e6:1/1$</string>
            <key>textureFileName</key>
            <string>4038_6.png</string>
        </dict>
    </dict>
</plist>
