<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4038_0_7_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,0},{62,118}}</string>
                <key>offset</key>
                <string>{29,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,125},{62,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4038_0_7_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,112},{70,106}}</string>
                <key>offset</key>
                <string>{3,131}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,72},{70,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4038_0_7_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,0},{86,108}}</string>
                <key>offset</key>
                <string>{-12,133}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,69},{86,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4038_0_7_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,0},{60,116}}</string>
                <key>offset</key>
                <string>{31,114}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{257,84},{60,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4038_0_7_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,116},{112,66}}</string>
                <key>offset</key>
                <string>{46,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,170},{112,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4038_0_7_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,0},{70,126}}</string>
                <key>offset</key>
                <string>{17,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,125},{70,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4038_0_7_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,0},{60,112}}</string>
                <key>offset</key>
                <string>{-6,128}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,72},{60,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4038_0_7_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,0},{70,126}}</string>
                <key>offset</key>
                <string>{-14,135}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,58},{70,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4038_0_7_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,124},{58,122}}</string>
                <key>offset</key>
                <string>{14,111}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,84},{58,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4038_0_7_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{130,74}}</string>
                <key>offset</key>
                <string>{33,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,172},{130,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4038_0_7_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,0},{80,102}}</string>
                <key>offset</key>
                <string>{1,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,153},{80,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4038_0_7_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,130},{52,126}}</string>
                <key>offset</key>
                <string>{-16,135}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,58},{52,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4038_0_7_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,0},{60,124}}</string>
                <key>offset</key>
                <string>{-15,141}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,53},{60,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4038_0_7_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,108},{66,108}}</string>
                <key>offset</key>
                <string>{-10,104}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,98},{66,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4038_0_7_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,60},{66,58}}</string>
                <key>offset</key>
                <string>{-11,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,190},{66,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4038_0_7_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,112},{70,90}}</string>
                <key>offset</key>
                <string>{-21,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,153},{70,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4038_0_7_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,0},{62,122}}</string>
                <key>offset</key>
                <string>{-13,140}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,55},{62,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4038_0_7_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,0},{76,126}}</string>
                <key>offset</key>
                <string>{0,148}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,45},{76,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4038_0_7_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,118},{64,96}}</string>
                <key>offset</key>
                <string>{-28,110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,98},{64,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4038_0_7_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,126},{58,56}}</string>
                <key>offset</key>
                <string>{-34,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,179},{58,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4038_0_7_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,118},{50,64}}</string>
                <key>offset</key>
                <string>{-26,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,150},{50,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4038_0_7_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,0},{68,112}}</string>
                <key>offset</key>
                <string>{0,145}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,55},{68,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4038_0_7_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,0},{88,114}}</string>
                <key>offset</key>
                <string>{15,144}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,55},{88,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4038_0_7_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,0},{60,96}}</string>
                <key>offset</key>
                <string>{-27,118}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,90},{60,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4038_0_7_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,126},{110,54}}</string>
                <key>offset</key>
                <string>{-40,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,164},{110,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4038_0_7.png</string>
            <key>size</key>
            <string>{1015,182}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6b5f2864e7202f28179b423ee601255d:1/1$</string>
            <key>textureFileName</key>
            <string>4038_0_7.png</string>
        </dict>
    </dict>
</plist>
