<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4038_0_0_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,454},{38,58}}</string>
                <key>offset</key>
                <string>{22,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{259,163},{38,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4038_0_0_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,0},{34,78}}</string>
                <key>offset</key>
                <string>{24,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,142},{34,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4038_0_0_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,414},{40,88}}</string>
                <key>offset</key>
                <string>{25,83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{261,129},{40,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4038_0_0_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,414},{40,74}}</string>
                <key>offset</key>
                <string>{26,78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{262,141},{40,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4038_0_0_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,346},{34,66}}</string>
                <key>offset</key>
                <string>{25,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{264,148},{34,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4038_0_0_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,230},{90,78}}</string>
                <key>offset</key>
                <string>{44,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{255,169},{90,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4038_0_0_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,414},{94,70}}</string>
                <key>offset</key>
                <string>{48,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{257,162},{94,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4038_0_0_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,128},{108,90}}</string>
                <key>offset</key>
                <string>{50,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,143},{108,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4038_0_0_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,320},{94,82}}</string>
                <key>offset</key>
                <string>{47,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{256,158},{94,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4038_0_0_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,412},{96,70}}</string>
                <key>offset</key>
                <string>{43,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{251,164},{96,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4038_0_0_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,118},{118,78}}</string>
                <key>offset</key>
                <string>{37,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,181},{118,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4038_0_0_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,66},{122,52}}</string>
                <key>offset</key>
                <string>{43,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,187},{122,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4038_0_0_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{136,66}}</string>
                <key>offset</key>
                <string>{51,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,177},{136,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4038_0_0_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,0},{122,66}}</string>
                <key>offset</key>
                <string>{51,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,181},{122,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4038_0_0_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,66},{122,62}}</string>
                <key>offset</key>
                <string>{43,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,181},{122,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4038_0_0_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,262},{100,84}}</string>
                <key>offset</key>
                <string>{7,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,184},{100,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4038_0_0_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,346},{88,68}}</string>
                <key>offset</key>
                <string>{16,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,195},{88,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4038_0_0_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,218},{108,62}}</string>
                <key>offset</key>
                <string>{17,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,188},{108,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4038_0_0_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,280},{100,66}}</string>
                <key>offset</key>
                <string>{12,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,189},{100,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4038_0_0_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,196},{108,66}}</string>
                <key>offset</key>
                <string>{10,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,192},{108,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4038_0_0_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,78},{48,80}}</string>
                <key>offset</key>
                <string>{-20,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,188},{48,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4038_0_0_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,158},{44,72}}</string>
                <key>offset</key>
                <string>{-21,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,197},{44,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4038_0_0_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,414},{40,78}}</string>
                <key>offset</key>
                <string>{-20,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,190},{40,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4038_0_0_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,346},{40,66}}</string>
                <key>offset</key>
                <string>{-20,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,191},{40,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4038_0_0_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,346},{30,66}}</string>
                <key>offset</key>
                <string>{-22,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,192},{30,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4038_0_0.png</string>
            <key>size</key>
            <string>{294,508}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab25163df742f9879e7035d3bdfacb1e:1/1$</string>
            <key>textureFileName</key>
            <string>4038_0_0.png</string>
        </dict>
    </dict>
</plist>
