<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4038_0_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,378},{36,58}}</string>
                <key>offset</key>
                <string>{27,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{265,163},{36,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4038_0_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,342},{36,72}}</string>
                <key>offset</key>
                <string>{27,73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{265,147},{36,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4038_0_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,78},{32,86}}</string>
                <key>offset</key>
                <string>{25,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{265,133},{32,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4038_0_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,0},{38,72}}</string>
                <key>offset</key>
                <string>{28,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{265,144},{38,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4038_0_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,146},{26,68}}</string>
                <key>offset</key>
                <string>{27,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{270,148},{26,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4038_0_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,146},{90,76}}</string>
                <key>offset</key>
                <string>{44,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{255,170},{90,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4038_0_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,406},{88,70}}</string>
                <key>offset</key>
                <string>{51,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{263,162},{88,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4038_0_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,78},{104,86}}</string>
                <key>offset</key>
                <string>{49,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,146},{104,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4038_0_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,258},{92,78}}</string>
                <key>offset</key>
                <string>{46,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{256,162},{92,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4038_0_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,394},{92,70}}</string>
                <key>offset</key>
                <string>{42,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{252,164},{92,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4038_0_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{120,78}}</string>
                <key>offset</key>
                <string>{39,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,181},{120,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4038_0_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,164},{122,50}}</string>
                <key>offset</key>
                <string>{47,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,188},{122,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4038_0_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,0},{126,62}}</string>
                <key>offset</key>
                <string>{54,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,178},{126,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4038_0_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,164},{120,66}}</string>
                <key>offset</key>
                <string>{42,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,181},{120,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4038_0_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,284},{122,56}}</string>
                <key>offset</key>
                <string>{39,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,186},{122,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4038_0_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,62},{96,84}}</string>
                <key>offset</key>
                <string>{5,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,184},{96,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4038_0_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,236},{88,66}}</string>
                <key>offset</key>
                <string>{19,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,197},{88,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4038_0_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,286},{108,62}}</string>
                <key>offset</key>
                <string>{18,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,188},{108,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4038_0_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,164},{94,66}}</string>
                <key>offset</key>
                <string>{8,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,189},{94,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4038_0_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,394},{98,66}}</string>
                <key>offset</key>
                <string>{5,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,192},{98,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4038_0_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,72},{48,74}}</string>
                <key>offset</key>
                <string>{-20,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,194},{48,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4038_0_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,350},{44,66}}</string>
                <key>offset</key>
                <string>{-21,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,203},{44,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4038_0_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,302},{40,72}}</string>
                <key>offset</key>
                <string>{-18,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,196},{40,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4038_0_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,378},{42,70}}</string>
                <key>offset</key>
                <string>{-23,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,187},{42,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4038_0_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,448},{30,66}}</string>
                <key>offset</key>
                <string>{-22,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,192},{30,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4038_0.png</string>
            <key>size</key>
            <string>{284,494}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ca37ba23a65e4f586486bf9272aceca6:1/1$</string>
            <key>textureFileName</key>
            <string>4038_0.png</string>
        </dict>
    </dict>
</plist>
