<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4038_0_3_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,186},{38,42}}</string>
                <key>offset</key>
                <string>{26,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,182},{38,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4038_0_3_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,186},{88,60}}</string>
                <key>offset</key>
                <string>{40,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,191},{88,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4038_0_3_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{120,82}}</string>
                <key>offset</key>
                <string>{32,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,192},{120,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4038_0_3_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,82},{74,92}}</string>
                <key>offset</key>
                <string>{1,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,190},{74,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4038_0_3_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,82},{54,104}}</string>
                <key>offset</key>
                <string>{-25,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,177},{54,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4038_0_3.png</string>
            <key>size</key>
            <string>{128,246}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0ab122ef0c56f32fa09fe62836d51c09:1/1$</string>
            <key>textureFileName</key>
            <string>4038_0_3.png</string>
        </dict>
    </dict>
</plist>
