<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4039_6_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,288},{96,48}}</string>
                <key>offset</key>
                <string>{26,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,201},{96,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_6_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{102,60}}</string>
                <key>offset</key>
                <string>{25,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,200},{102,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_6_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,384},{94,50}}</string>
                <key>offset</key>
                <string>{22,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,200},{94,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_6_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,410},{60,42}}</string>
                <key>offset</key>
                <string>{36,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,181},{60,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_6_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,368},{60,42}}</string>
                <key>offset</key>
                <string>{34,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{260,183},{60,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_6_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,290},{68,78}}</string>
                <key>offset</key>
                <string>{4,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,194},{68,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_6_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,202},{60,86}}</string>
                <key>offset</key>
                <string>{1,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,192},{60,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_6_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,60},{58,84}}</string>
                <key>offset</key>
                <string>{-2,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,192},{58,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_6_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,0},{114,32}}</string>
                <key>offset</key>
                <string>{46,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,201},{114,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_6_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,60},{96,34}}</string>
                <key>offset</key>
                <string>{33,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,202},{96,34}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_6_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,288},{34,74}}</string>
                <key>offset</key>
                <string>{-20,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,189},{34,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_6_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,452},{40,66}}</string>
                <key>offset</key>
                <string>{-23,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,186},{40,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_6_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,120},{34,82}}</string>
                <key>offset</key>
                <string>{-26,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,186},{34,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_6_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,60},{98,60}}</string>
                <key>offset</key>
                <string>{23,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,198},{98,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_6_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,368},{88,54}}</string>
                <key>offset</key>
                <string>{15,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,196},{88,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_6_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,368},{78,52}}</string>
                <key>offset</key>
                <string>{-36,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,191},{78,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_6_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,202},{88,54}}</string>
                <key>offset</key>
                <string>{-38,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,188},{88,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_6_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,230},{80,58}}</string>
                <key>offset</key>
                <string>{-35,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,187},{80,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_6_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,118},{54,82}}</string>
                <key>offset</key>
                <string>{-7,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,190},{54,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_6_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,456},{44,88}}</string>
                <key>offset</key>
                <string>{-12,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,188},{44,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_6_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,32},{112,28}}</string>
                <key>offset</key>
                <string>{-32,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,187},{112,28}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_6_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,202},{102,28}}</string>
                <key>offset</key>
                <string>{-25,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,187},{102,28}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_6_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,172},{98,30}}</string>
                <key>offset</key>
                <string>{-23,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,186},{98,30}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_6_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,120},{66,82}}</string>
                <key>offset</key>
                <string>{-38,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,185},{66,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_6_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,288},{56,80}}</string>
                <key>offset</key>
                <string>{-35,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,186},{56,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4039_6.png</string>
            <key>size</key>
            <string>{216,500}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8f870cc9fc4814561f5368b77e4caf7e:1/1$</string>
            <key>textureFileName</key>
            <string>4039_6.png</string>
        </dict>
    </dict>
</plist>
