<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4039_7_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,0},{42,106}}</string>
                <key>offset</key>
                <string>{24,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{259,138},{42,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_7_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,178},{62,86}}</string>
                <key>offset</key>
                <string>{1,128}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,85},{62,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_7_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,0},{72,80}}</string>
                <key>offset</key>
                <string>{-13,128}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,88},{72,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_7_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,64},{46,114}}</string>
                <key>offset</key>
                <string>{23,111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{256,88},{46,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_7_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{100,64}}</string>
                <key>offset</key>
                <string>{39,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,165},{100,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_7_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,134},{38,96}}</string>
                <key>offset</key>
                <string>{11,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{248,152},{38,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_7_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,74},{50,94}}</string>
                <key>offset</key>
                <string>{-8,126}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,83},{50,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_7_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,120},{50,90}}</string>
                <key>offset</key>
                <string>{-17,131}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,80},{50,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_7_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,42},{30,106}}</string>
                <key>offset</key>
                <string>{9,100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{250,103},{30,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_7_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,0},{112,46}}</string>
                <key>offset</key>
                <string>{25,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,185},{112,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_7_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,172},{60,82}}</string>
                <key>offset</key>
                <string>{-4,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,160},{60,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_7_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,46},{28,100}}</string>
                <key>offset</key>
                <string>{-13,130}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,76},{28,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_7_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,212},{28,98}}</string>
                <key>offset</key>
                <string>{-15,137}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,70},{28,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_7_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,72},{48,100}}</string>
                <key>offset</key>
                <string>{-8,101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,105},{48,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_7_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,170},{76,36}}</string>
                <key>offset</key>
                <string>{0,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,190},{76,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_7_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,170},{70,78}}</string>
                <key>offset</key>
                <string>{-12,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,152},{70,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_7_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,64},{50,102}}</string>
                <key>offset</key>
                <string>{-10,139}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,66},{50,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_7_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,74},{54,94}}</string>
                <key>offset</key>
                <string>{0,142}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,67},{54,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_7_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,74},{60,96}}</string>
                <key>offset</key>
                <string>{-18,112}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,96},{60,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_7_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,72},{44,40}}</string>
                <key>offset</key>
                <string>{-35,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,185},{44,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_7_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,170},{42,94}}</string>
                <key>offset</key>
                <string>{-23,86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,123},{42,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_7_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,74},{64,90}}</string>
                <key>offset</key>
                <string>{0,143}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,68},{64,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_7_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,172},{68,78}}</string>
                <key>offset</key>
                <string>{13,141}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,76},{68,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_7_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,0},{46,106}}</string>
                <key>offset</key>
                <string>{-22,131}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,72},{46,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_7_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,46},{112,28}}</string>
                <key>offset</key>
                <string>{-45,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,174},{112,28}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4039_7.png</string>
            <key>size</key>
            <string>{504,240}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5b66a8d2de8cbea1abbba5b03cd80166:1/1$</string>
            <key>textureFileName</key>
            <string>4039_7.png</string>
        </dict>
    </dict>
</plist>
