<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4039_0_2_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,68},{26,98}}</string>
                <key>offset</key>
                <string>{12,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{255,166},{26,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_0_2_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,96},{2,2}}</string>
                <key>offset</key>
                <string>{-18,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,174},{2,2}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_0_2_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,96},{2,2}}</string>
                <key>offset</key>
                <string>{-13,87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,168},{2,2}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_0_2_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,0},{34,98}}</string>
                <key>offset</key>
                <string>{17,117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{256,90},{34,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_0_2_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,0},{38,86}}</string>
                <key>offset</key>
                <string>{4,120}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,93},{38,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_0_2_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,38},{58,90}}</string>
                <key>offset</key>
                <string>{-35,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,170},{58,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_0_2_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,30},{84,54}}</string>
                <key>offset</key>
                <string>{43,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{257,173},{84,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_0_2_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,0},{88,32}}</string>
                <key>offset</key>
                <string>{45,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{257,186},{88,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_0_2_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,0},{34,100}}</string>
                <key>offset</key>
                <string>{28,107}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{267,99},{34,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_0_2_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{66,106}}</string>
                <key>offset</key>
                <string>{3,122}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,81},{66,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_0_2_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,0},{82,74}}</string>
                <key>offset</key>
                <string>{-68,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,168},{82,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_0_2_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,0},{98,38}}</string>
                <key>offset</key>
                <string>{59,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{266,204},{98,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_0_2_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,30},{88,38}}</string>
                <key>offset</key>
                <string>{58,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{270,203},{88,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_0_2_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,0},{30,112}}</string>
                <key>offset</key>
                <string>{23,102}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{264,98},{30,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_0_2_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,0},{54,104}}</string>
                <key>offset</key>
                <string>{0,110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,94},{54,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_0_2_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,0},{36,48}}</string>
                <key>offset</key>
                <string>{-47,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,147},{36,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_0_2_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,0},{66,86}}</string>
                <key>offset</key>
                <string>{42,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{265,212},{66,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_0_2_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,34},{80,60}}</string>
                <key>offset</key>
                <string>{46,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,211},{80,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_0_2_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,66},{30,116}}</string>
                <key>offset</key>
                <string>{7,101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{248,97},{30,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_0_2_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,54},{36,126}}</string>
                <key>offset</key>
                <string>{-8,121}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,72},{36,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_0_2_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,48},{18,46}}</string>
                <key>offset</key>
                <string>{-12,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,135},{18,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_0_2_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,50},{48,90}}</string>
                <key>offset</key>
                <string>{7,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,218},{48,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_0_2_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,0},{50,92}}</string>
                <key>offset</key>
                <string>{6,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,204},{50,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_0_2_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,0},{30,108}}</string>
                <key>offset</key>
                <string>{-12,102}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,100},{30,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_0_2_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,66},{32,116}}</string>
                <key>offset</key>
                <string>{-9,118}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,80},{32,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4039_0_2.png</string>
            <key>size</key>
            <string>{1020,98}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:91fafcc787a40a92ff24632c3e11cdc3:1/1$</string>
            <key>textureFileName</key>
            <string>4039_0_2.png</string>
        </dict>
    </dict>
</plist>
