<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4039_2_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,98},{48,88}}</string>
                <key>offset</key>
                <string>{9,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,196},{48,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_2_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,182},{2,2}}</string>
                <key>offset</key>
                <string>{-19,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,175},{2,2}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_2_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,182},{2,2}}</string>
                <key>offset</key>
                <string>{-14,87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,168},{2,2}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_2_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,0},{34,98}}</string>
                <key>offset</key>
                <string>{18,123}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{257,84},{34,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_2_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,56},{30,60}}</string>
                <key>offset</key>
                <string>{14,109}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{255,117},{30,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_2_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,110},{80,76}}</string>
                <key>offset</key>
                <string>{-45,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,196},{80,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_2_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,100},{78,60}}</string>
                <key>offset</key>
                <string>{50,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{267,173},{78,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_2_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,0},{76,56}}</string>
                <key>offset</key>
                <string>{53,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{271,168},{76,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_2_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,0},{38,100}}</string>
                <key>offset</key>
                <string>{23,108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{260,98},{38,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_2_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,96},{56,84}}</string>
                <key>offset</key>
                <string>{2,112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,102},{56,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_2_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,100},{84,62}}</string>
                <key>offset</key>
                <string>{-77,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,182},{84,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_2_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,0},{100,32}}</string>
                <key>offset</key>
                <string>{70,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{276,216},{100,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_2_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,0},{94,36}}</string>
                <key>offset</key>
                <string>{59,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{268,203},{94,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_2_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{34,116}}</string>
                <key>offset</key>
                <string>{16,109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,89},{34,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_2_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,0},{62,98}}</string>
                <key>offset</key>
                <string>{-13,113}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,94},{62,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_2_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,56},{28,44}}</string>
                <key>offset</key>
                <string>{-54,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,163},{28,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_2_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,116},{66,82}}</string>
                <key>offset</key>
                <string>{51,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{274,228},{66,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_2_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,94},{84,56}}</string>
                <key>offset</key>
                <string>{42,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{256,210},{84,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_2_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,0},{32,110}}</string>
                <key>offset</key>
                <string>{0,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,96},{32,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_2_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,0},{30,94}}</string>
                <key>offset</key>
                <string>{-15,113}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,96},{30,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_2_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,0},{18,46}}</string>
                <key>offset</key>
                <string>{-19,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,148},{18,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_2_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,98},{48,88}}</string>
                <key>offset</key>
                <string>{9,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,232},{48,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_2_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,0},{50,96}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,210},{50,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_2_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,0},{32,102}}</string>
                <key>offset</key>
                <string>{-16,108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,97},{32,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_2_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,0},{32,116}}</string>
                <key>offset</key>
                <string>{-13,130}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,68},{32,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4039_2.png</string>
            <key>size</key>
            <string>{508,186}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:272f4d93823cb8bf881c8872553d98db:1/1$</string>
            <key>textureFileName</key>
            <string>4039_2.png</string>
        </dict>
    </dict>
</plist>
