<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4039_1_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,58},{100,34}}</string>
                <key>offset</key>
                <string>{52,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{258,194},{100,34}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_1_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,510},{96,34}}</string>
                <key>offset</key>
                <string>{52,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{260,194},{96,34}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_1_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,510},{96,34}}</string>
                <key>offset</key>
                <string>{51,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{259,194},{96,34}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_1_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,714},{90,38}}</string>
                <key>offset</key>
                <string>{49,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{260,193},{90,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_1_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,354},{98,54}}</string>
                <key>offset</key>
                <string>{41,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{248,197},{98,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_1_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,256},{98,54}}</string>
                <key>offset</key>
                <string>{41,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{248,197},{98,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_1_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,452},{96,54}}</string>
                <key>offset</key>
                <string>{41,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{249,197},{96,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_1_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{104,58}}</string>
                <key>offset</key>
                <string>{46,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,197},{104,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_1_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,548},{56,84}}</string>
                <key>offset</key>
                <string>{13,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,195},{56,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_1_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,426},{60,84}}</string>
                <key>offset</key>
                <string>{14,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,196},{60,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_1_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,632},{58,82}}</string>
                <key>offset</key>
                <string>{12,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,196},{58,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_1_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,126},{62,94}}</string>
                <key>offset</key>
                <string>{15,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,195},{62,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_1_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,606},{32,88}}</string>
                <key>offset</key>
                <string>{-23,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,199},{32,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_1_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,606},{32,88}}</string>
                <key>offset</key>
                <string>{-23,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,198},{32,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_1_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,694},{32,86}}</string>
                <key>offset</key>
                <string>{-23,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,200},{32,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_1_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,158},{34,98}}</string>
                <key>offset</key>
                <string>{-25,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,198},{34,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_1_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,256},{86,66}}</string>
                <key>offset</key>
                <string>{-45,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,186},{86,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_1_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,188},{86,68}}</string>
                <key>offset</key>
                <string>{-45,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,186},{86,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_1_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,342},{84,64}}</string>
                <key>offset</key>
                <string>{-45,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,187},{84,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_1_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,58},{94,68}}</string>
                <key>offset</key>
                <string>{-50,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,187},{94,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4039_1.png</string>
            <key>size</key>
            <string>{128,780}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7f04500bd1098fa84f2115c157fae967:1/1$</string>
            <key>textureFileName</key>
            <string>4039_1.png</string>
        </dict>
    </dict>
</plist>
