<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4039_0_0_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,336},{28,90}}</string>
                <key>offset</key>
                <string>{24,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{266,135},{28,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_0_0_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,76},{30,90}}</string>
                <key>offset</key>
                <string>{25,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{266,135},{30,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_0_0_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,426},{28,88}}</string>
                <key>offset</key>
                <string>{24,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{266,136},{28,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_0_0_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,426},{26,100}}</string>
                <key>offset</key>
                <string>{24,84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{267,122},{26,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_0_0_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,318},{24,108}}</string>
                <key>offset</key>
                <string>{22,86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{266,116},{24,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_0_0_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,336},{76,74}}</string>
                <key>offset</key>
                <string>{39,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{257,160},{76,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_0_0_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,264},{72,80}}</string>
                <key>offset</key>
                <string>{41,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{261,150},{72,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_0_0_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,410},{60,74}}</string>
                <key>offset</key>
                <string>{40,71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{266,148},{60,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_0_0_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,190},{74,80}}</string>
                <key>offset</key>
                <string>{46,73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{265,143},{74,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_0_0_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{82,86}}</string>
                <key>offset</key>
                <string>{47,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,135},{82,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_0_0_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,526},{98,34}}</string>
                <key>offset</key>
                <string>{32,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,194},{98,34}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_0_0_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,86},{104,42}}</string>
                <key>offset</key>
                <string>{39,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,185},{104,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_0_0_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,624},{96,48}}</string>
                <key>offset</key>
                <string>{42,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{250,178},{96,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_0_0_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,86},{112,44}}</string>
                <key>offset</key>
                <string>{50,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{250,185},{112,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_0_0_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,198},{120,36}}</string>
                <key>offset</key>
                <string>{46,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,188},{120,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_0_0_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,470},{66,34}}</string>
                <key>offset</key>
                <string>{6,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,199},{66,34}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_0_0_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,504},{70,28}}</string>
                <key>offset</key>
                <string>{9,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,205},{70,28}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_0_0_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,628},{64,34}}</string>
                <key>offset</key>
                <string>{12,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,199},{64,34}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_0_0_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,0},{76,30}}</string>
                <key>offset</key>
                <string>{17,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,204},{76,30}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_0_0_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,504},{88,34}}</string>
                <key>offset</key>
                <string>{18,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,201},{88,34}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_0_0_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,514},{32,58}}</string>
                <key>offset</key>
                <string>{-17,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,191},{32,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_0_0_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,572},{32,56}}</string>
                <key>offset</key>
                <string>{-14,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,193},{32,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_0_0_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,592},{30,56}}</string>
                <key>offset</key>
                <string>{-19,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,197},{30,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_0_0_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,696},{30,60}}</string>
                <key>offset</key>
                <string>{-21,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,193},{30,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4039_0_0_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,628},{30,68}}</string>
                <key>offset</key>
                <string>{-17,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,193},{30,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4039_0_0.png</string>
            <key>size</key>
            <string>{128,726}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b4f7fad6ba470f5195abe83ab4eea418:1/1$</string>
            <key>textureFileName</key>
            <string>4039_0_0.png</string>
        </dict>
    </dict>
</plist>
