<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4040_0_7_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,0},{44,106}}</string>
                <key>offset</key>
                <string>{28,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,133},{44,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4040_0_7_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,204},{68,84}}</string>
                <key>offset</key>
                <string>{-6,126}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,88},{68,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4040_0_7_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,194},{72,78}}</string>
                <key>offset</key>
                <string>{-19,127}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,90},{72,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4040_0_7_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{42,116}}</string>
                <key>offset</key>
                <string>{20,118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,80},{42,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4040_0_7_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,0},{98,64}}</string>
                <key>offset</key>
                <string>{42,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{249,159},{98,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4040_0_7_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,98},{44,98}}</string>
                <key>offset</key>
                <string>{11,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,146},{44,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4040_0_7_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,0},{56,100}}</string>
                <key>offset</key>
                <string>{-11,121}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,85},{56,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4040_0_7_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,96},{56,96}}</string>
                <key>offset</key>
                <string>{-15,127}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,81},{56,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4040_0_7_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,112},{36,108}}</string>
                <key>offset</key>
                <string>{6,107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,95},{36,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4040_0_7_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,116},{114,42}}</string>
                <key>offset</key>
                <string>{28,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,186},{114,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4040_0_7_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,0},{64,86}}</string>
                <key>offset</key>
                <string>{-3,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,154},{64,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4040_0_7_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,106},{44,104}}</string>
                <key>offset</key>
                <string>{-14,133}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,71},{44,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4040_0_7_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,102},{38,102}}</string>
                <key>offset</key>
                <string>{-12,138}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,67},{38,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4040_0_7_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,0},{52,102}}</string>
                <key>offset</key>
                <string>{-6,109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,96},{52,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4040_0_7_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,230},{80,42}}</string>
                <key>offset</key>
                <string>{1,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,186},{80,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4040_0_7_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,196},{76,82}}</string>
                <key>offset</key>
                <string>{-12,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,150},{76,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4040_0_7_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,222},{50,104}}</string>
                <key>offset</key>
                <string>{-8,140}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,64},{50,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4040_0_7_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,0},{54,96}}</string>
                <key>offset</key>
                <string>{0,141}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,67},{54,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4040_0_7_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,0},{66,96}}</string>
                <key>offset</key>
                <string>{-14,117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,91},{66,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4040_0_7_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,86},{52,54}}</string>
                <key>offset</key>
                <string>{-31,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,174},{52,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4040_0_7_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,100},{54,100}}</string>
                <key>offset</key>
                <string>{-17,86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,120},{54,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4040_0_7_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,98},{74,96}}</string>
                <key>offset</key>
                <string>{11,144}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,64},{74,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4040_0_7_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,192},{82,80}}</string>
                <key>offset</key>
                <string>{22,140}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,76},{82,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4040_0_7_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,0},{62,112}}</string>
                <key>offset</key>
                <string>{-13,134}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,66},{62,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4040_0_7_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,112},{110,46}}</string>
                <key>offset</key>
                <string>{-48,71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,162},{110,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4040_0_7.png</string>
            <key>size</key>
            <string>{506,272}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5593cf134868eedad50bf022389b8fcb:1/1$</string>
            <key>textureFileName</key>
            <string>4040_0_7.png</string>
        </dict>
    </dict>
</plist>
