<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4040_3_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,96},{40,50}}</string>
                <key>offset</key>
                <string>{27,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,178},{40,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4040_3_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,44},{100,52}}</string>
                <key>offset</key>
                <string>{34,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,186},{100,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4040_3_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{106,44}}</string>
                <key>offset</key>
                <string>{10,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,198},{106,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4040_3_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,96},{86,90}}</string>
                <key>offset</key>
                <string>{-4,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,183},{86,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4040_3_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,186},{36,88}}</string>
                <key>offset</key>
                <string>{-23,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,179},{36,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4040_3.png</string>
            <key>size</key>
            <string>{126,222}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8c4dcba5f973f0500c7efe61757fa6c3:1/1$</string>
            <key>textureFileName</key>
            <string>4040_3.png</string>
        </dict>
    </dict>
</plist>
