<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4040_2_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,184},{52,94}}</string>
                <key>offset</key>
                <string>{8,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,195},{52,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4040_2_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,182},{2,2}}</string>
                <key>offset</key>
                <string>{-19,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,174},{2,2}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4040_2_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,182},{2,4}}</string>
                <key>offset</key>
                <string>{-14,89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,165},{2,4}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4040_2_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,78},{40,102}}</string>
                <key>offset</key>
                <string>{15,125}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{251,80},{40,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4040_2_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,196},{40,84}}</string>
                <key>offset</key>
                <string>{14,120}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{250,94},{40,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4040_2_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,102},{84,82}}</string>
                <key>offset</key>
                <string>{-47,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,196},{84,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4040_2_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,0},{86,64}}</string>
                <key>offset</key>
                <string>{54,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{267,169},{86,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4040_2_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,118},{80,60}}</string>
                <key>offset</key>
                <string>{54,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{270,164},{80,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4040_2_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,36},{40,102}}</string>
                <key>offset</key>
                <string>{23,109}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{259,96},{40,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4040_2_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,116},{68,80}}</string>
                <key>offset</key>
                <string>{5,110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,106},{68,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4040_2_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,172},{88,68}}</string>
                <key>offset</key>
                <string>{-79,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,181},{88,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4040_2_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,36},{106,42}}</string>
                <key>offset</key>
                <string>{73,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{276,214},{106,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4040_2_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,76},{98,40}}</string>
                <key>offset</key>
                <string>{61,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{268,203},{98,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4040_2_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,120},{38,120}}</string>
                <key>offset</key>
                <string>{14,111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,85},{38,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4040_2_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{70,120}}</string>
                <key>offset</key>
                <string>{-17,124}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,72},{70,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4040_2_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,36},{32,46}}</string>
                <key>offset</key>
                <string>{-56,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,161},{32,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4040_2_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,86},{72,86}}</string>
                <key>offset</key>
                <string>{55,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{275,228},{72,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4040_2_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,118},{88,64}}</string>
                <key>offset</key>
                <string>{44,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{256,209},{88,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4040_2_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,0},{36,116}}</string>
                <key>offset</key>
                <string>{0,108}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,90},{36,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4040_2_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,0},{36,128}}</string>
                <key>offset</key>
                <string>{-15,130}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,62},{36,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4040_2_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,178},{28,54}}</string>
                <key>offset</key>
                <string>{-21,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,140},{28,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4040_2_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,182},{54,92}}</string>
                <key>offset</key>
                <string>{12,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,233},{54,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4040_2_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,48},{54,106}}</string>
                <key>offset</key>
                <string>{7,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,211},{54,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4040_2_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,120},{50,108}}</string>
                <key>offset</key>
                <string>{-12,111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,91},{50,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4040_2_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,0},{48,122}}</string>
                <key>offset</key>
                <string>{-10,133}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,62},{48,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4040_2.png</string>
            <key>size</key>
            <string>{501,240}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:00d895a12c0a8084e75cf4ecb76f4e45:1/1$</string>
            <key>textureFileName</key>
            <string>4040_2.png</string>
        </dict>
    </dict>
</plist>
