<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4041_0_1_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,858},{134,90}}</string>
                <key>offset</key>
                <string>{51,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,187},{134,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4041_0_1_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,660},{138,88}}</string>
                <key>offset</key>
                <string>{53,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,187},{138,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4041_0_1_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,498},{146,100}}</string>
                <key>offset</key>
                <string>{56,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,187},{146,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4041_0_1_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,52},{150,110}}</string>
                <key>offset</key>
                <string>{58,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,188},{150,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4041_0_1_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,262},{134,104}}</string>
                <key>offset</key>
                <string>{36,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,192},{134,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4041_0_1_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,832},{136,102}}</string>
                <key>offset</key>
                <string>{36,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,192},{136,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4041_0_1_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,0},{142,114}}</string>
                <key>offset</key>
                <string>{39,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,192},{142,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4041_0_1_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,374},{146,124}}</string>
                <key>offset</key>
                <string>{40,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,193},{146,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4041_0_1_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,656},{76,128}}</string>
                <key>offset</key>
                <string>{8,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,186},{76,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4041_0_1_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,934},{78,134}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,185},{78,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4041_0_1_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,748},{84,138}}</string>
                <key>offset</key>
                <string>{11,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,186},{84,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4041_0_1_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,162},{82,150}}</string>
                <key>offset</key>
                <string>{10,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,185},{82,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4041_0_1_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{52,154}}</string>
                <key>offset</key>
                <string>{-28,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,180},{52,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4041_0_1_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,598},{62,142}}</string>
                <key>offset</key>
                <string>{-24,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,180},{62,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4041_0_1_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,308},{66,148}}</string>
                <key>offset</key>
                <string>{-25,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,180},{66,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4041_0_1_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,244},{64,150}}</string>
                <key>offset</key>
                <string>{-27,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,179},{64,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4041_0_1_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,142},{120,120}}</string>
                <key>offset</key>
                <string>{-43,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,178},{120,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4041_0_1_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,732},{126,126}}</string>
                <key>offset</key>
                <string>{-46,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,178},{126,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4041_0_1_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,528},{128,122}}</string>
                <key>offset</key>
                <string>{-47,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,178},{128,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4041_0_1_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,396},{132,122}}</string>
                <key>offset</key>
                <string>{-48,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,178},{132,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4041_0_1.png</string>
            <key>size</key>
            <string>{270,1012}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:72def9a054ba66abd4576f81f6bf5a45:1/1$</string>
            <key>textureFileName</key>
            <string>4041_0_1.png</string>
        </dict>
    </dict>
</plist>
