<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4041_8_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,264},{132,74}}</string>
                <key>offset</key>
                <string>{5,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,147},{132,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4041_8_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,554},{128,82}}</string>
                <key>offset</key>
                <string>{-12,103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,112},{128,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4041_8_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,714},{128,58}}</string>
                <key>offset</key>
                <string>{67,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,191},{128,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4041_8_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,554},{118,38}}</string>
                <key>offset</key>
                <string>{8,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,168},{118,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4041_8_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,0},{140,84}}</string>
                <key>offset</key>
                <string>{56,63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,151},{140,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4041_8_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,772},{68,98}}</string>
                <key>offset</key>
                <string>{-22,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,132},{68,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4041_8_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,140},{84,128}}</string>
                <key>offset</key>
                <string>{35,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,86},{84,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4041_8_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{164,76}}</string>
                <key>offset</key>
                <string>{63,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,208},{164,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4041_8_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,780},{56,66}}</string>
                <key>offset</key>
                <string>{-25,71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,152},{56,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4041_8_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,780},{104,52}}</string>
                <key>offset</key>
                <string>{12,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,179},{104,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4041_8_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,698},{106,82}}</string>
                <key>offset</key>
                <string>{-35,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,126},{106,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4041_8_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,636},{78,128}}</string>
                <key>offset</key>
                <string>{65,82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{282,110},{78,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4041_8_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,592},{106,106}}</string>
                <key>offset</key>
                <string>{16,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,205},{106,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4041_8_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,772},{126,60}}</string>
                <key>offset</key>
                <string>{-42,89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,137},{126,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4041_8_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,836},{54,38}}</string>
                <key>offset</key>
                <string>{-34,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,179},{54,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4041_8_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,150},{144,46}}</string>
                <key>offset</key>
                <string>{-25,102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,131},{144,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4041_8_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,338},{130,106}}</string>
                <key>offset</key>
                <string>{58,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,143},{130,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4041_8_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,490},{64,118}}</string>
                <key>offset</key>
                <string>{-32,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,199},{64,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4041_8_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,76},{160,74}}</string>
                <key>offset</key>
                <string>{-33,102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,117},{160,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4041_8_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,268},{114,36}}</string>
                <key>offset</key>
                <string>{-66,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,160},{114,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4041_8_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,512},{130,42}}</string>
                <key>offset</key>
                <string>{-2,109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,126},{130,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4041_8_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,444},{130,68}}</string>
                <key>offset</key>
                <string>{16,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,177},{130,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4041_8_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,410},{118,80}}</string>
                <key>offset</key>
                <string>{-59,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,193},{118,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4041_8_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,304},{112,106}}</string>
                <key>offset</key>
                <string>{-2,111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,92},{112,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4041_8_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,196},{142,68}}</string>
                <key>offset</key>
                <string>{-54,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,121},{142,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4041_8.png</string>
            <key>size</key>
            <string>{248,898}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4d08e3850a101a527b6ca12e9db23115:1/1$</string>
            <key>textureFileName</key>
            <string>4041_8.png</string>
        </dict>
    </dict>
</plist>
