<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4041_0_0_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,440},{42,96}}</string>
                <key>offset</key>
                <string>{27,73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{262,135},{42,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4041_0_0_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,94},{48,112}}</string>
                <key>offset</key>
                <string>{33,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{265,124},{48,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4041_0_0_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,208},{50,128}}</string>
                <key>offset</key>
                <string>{32,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,111},{50,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4041_0_0_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,0},{46,120}}</string>
                <key>offset</key>
                <string>{32,84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{265,112},{46,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4041_0_0_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,288},{46,116}}</string>
                <key>offset</key>
                <string>{32,84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{265,114},{46,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4041_0_0_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,120},{116,76}}</string>
                <key>offset</key>
                <string>{49,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{247,163},{116,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4041_0_0_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,198},{122,94}}</string>
                <key>offset</key>
                <string>{53,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{248,147},{122,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4041_0_0_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,88},{118,110}}</string>
                <key>offset</key>
                <string>{60,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{257,130},{118,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4041_0_0_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,206},{124,102}}</string>
                <key>offset</key>
                <string>{63,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{257,139},{124,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4041_0_0_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,320},{120,96}}</string>
                <key>offset</key>
                <string>{54,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{250,152},{120,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4041_0_0_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,0},{148,84}}</string>
                <key>offset</key>
                <string>{42,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,179},{148,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4041_0_0_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,336},{150,70}}</string>
                <key>offset</key>
                <string>{47,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,180},{150,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4041_0_0_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,208},{148,84}}</string>
                <key>offset</key>
                <string>{56,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,173},{148,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4041_0_0_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,0},{146,88}}</string>
                <key>offset</key>
                <string>{55,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,180},{146,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4041_0_0_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{154,94}}</string>
                <key>offset</key>
                <string>{50,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,179},{154,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4041_0_0_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,176},{112,90}}</string>
                <key>offset</key>
                <string>{18,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,190},{112,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4041_0_0_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,84},{120,92}}</string>
                <key>offset</key>
                <string>{24,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,187},{120,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4041_0_0_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,330},{124,104}}</string>
                <key>offset</key>
                <string>{32,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,187},{124,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4041_0_0_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,94},{132,114}}</string>
                <key>offset</key>
                <string>{33,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,188},{132,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4041_0_0_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,356},{128,98}}</string>
                <key>offset</key>
                <string>{27,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,188},{128,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4041_0_0_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,332},{44,94}}</string>
                <key>offset</key>
                <string>{-24,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,181},{44,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4041_0_0_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,236},{46,96}}</string>
                <key>offset</key>
                <string>{-23,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,186},{46,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4041_0_0_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,288},{46,108}}</string>
                <key>offset</key>
                <string>{-23,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,185},{46,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4041_0_0_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,404},{42,90}}</string>
                <key>offset</key>
                <string>{-23,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,186},{42,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4041_0_0_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,446},{38,100}}</string>
                <key>offset</key>
                <string>{-21,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,183},{38,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4041_0_0.png</string>
            <key>size</key>
            <string>{506,487}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:48394a1a4571414f435b5b3e9917528d:1/1$</string>
            <key>textureFileName</key>
            <string>4041_0_0.png</string>
        </dict>
    </dict>
</plist>
