<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4041_0_8_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,634},{124,70}}</string>
                <key>offset</key>
                <string>{6,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,152},{124,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4041_0_8_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,318},{134,82}}</string>
                <key>offset</key>
                <string>{-13,101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,114},{134,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4041_0_8_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,430},{132,46}}</string>
                <key>offset</key>
                <string>{65,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,198},{132,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4041_0_8_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,66},{110,50}}</string>
                <key>offset</key>
                <string>{12,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,167},{110,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4041_0_8_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,176},{142,72}}</string>
                <key>offset</key>
                <string>{55,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,155},{142,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4041_0_8_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,802},{64,96}}</string>
                <key>offset</key>
                <string>{-22,74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,134},{64,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4041_0_8_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,476},{92,130}}</string>
                <key>offset</key>
                <string>{33,106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,85},{92,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4041_0_8_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{164,74}}</string>
                <key>offset</key>
                <string>{63,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,209},{164,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4041_0_8_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,0},{52,66}}</string>
                <key>offset</key>
                <string>{-25,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,156},{52,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4041_0_8_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,968},{106,40}}</string>
                <key>offset</key>
                <string>{13,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,183},{106,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4041_0_8_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,574},{108,86}}</string>
                <key>offset</key>
                <string>{-37,84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,129},{108,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4041_0_8_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,452},{76,122}}</string>
                <key>offset</key>
                <string>{60,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{278,115},{76,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4041_0_8_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,866},{102,108}}</string>
                <key>offset</key>
                <string>{15,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,203},{102,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4041_0_8_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,568},{128,66}}</string>
                <key>offset</key>
                <string>{-42,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,144},{128,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4041_0_8_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,980},{56,36}}</string>
                <key>offset</key>
                <string>{-28,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,181},{56,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4041_0_8_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,152},{144,54}}</string>
                <key>offset</key>
                <string>{-29,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,130},{144,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4041_0_8_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,276},{134,100}}</string>
                <key>offset</key>
                <string>{56,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,146},{134,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4041_0_8_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,758},{70,120}}</string>
                <key>offset</key>
                <string>{-30,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,197},{70,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4041_0_8_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,74},{158,78}}</string>
                <key>offset</key>
                <string>{-35,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,124},{158,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4041_0_8_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,828},{118,38}}</string>
                <key>offset</key>
                <string>{-64,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,160},{118,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4041_0_8_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,704},{124,54}}</string>
                <key>offset</key>
                <string>{-5,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,124},{124,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4041_0_8_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,376},{134,54}}</string>
                <key>offset</key>
                <string>{14,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,184},{134,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4041_0_8_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,682},{120,90}}</string>
                <key>offset</key>
                <string>{-59,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,190},{120,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4041_0_8_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,866},{104,114}}</string>
                <key>offset</key>
                <string>{-6,108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,91},{104,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4041_0_8_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,206},{142,70}}</string>
                <key>offset</key>
                <string>{-54,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,122},{142,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4041_0_8.png</string>
            <key>size</key>
            <string>{217,1016}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3739858a7b80b91c61c21eae64b9a4eb:1/1$</string>
            <key>textureFileName</key>
            <string>4041_0_8.png</string>
        </dict>
    </dict>
</plist>
