<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4041_0_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,362},{38,96}}</string>
                <key>offset</key>
                <string>{29,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{266,142},{38,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4041_0_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,194},{48,114}}</string>
                <key>offset</key>
                <string>{33,75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{265,124},{48,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4041_0_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,276},{50,126}}</string>
                <key>offset</key>
                <string>{32,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,113},{50,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4041_0_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,0},{44,122}}</string>
                <key>offset</key>
                <string>{33,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{267,114},{44,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4041_0_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,120},{46,120}}</string>
                <key>offset</key>
                <string>{32,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{265,116},{46,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4041_0_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,0},{116,72}}</string>
                <key>offset</key>
                <string>{49,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{247,171},{116,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4041_0_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,298},{116,90}}</string>
                <key>offset</key>
                <string>{56,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{254,150},{116,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4041_0_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,308},{118,104}}</string>
                <key>offset</key>
                <string>{60,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{257,136},{118,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4041_0_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,0},{120,102}}</string>
                <key>offset</key>
                <string>{56,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{252,139},{120,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4041_0_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,276},{124,86}}</string>
                <key>offset</key>
                <string>{52,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{246,153},{124,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4041_0_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,0},{150,58}}</string>
                <key>offset</key>
                <string>{43,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,194},{150,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4041_0_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,150},{148,60}}</string>
                <key>offset</key>
                <string>{53,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,190},{148,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4041_0_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,0},{146,82}}</string>
                <key>offset</key>
                <string>{57,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,175},{146,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4041_0_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,158},{150,62}}</string>
                <key>offset</key>
                <string>{48,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,183},{150,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4041_0_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{158,54}}</string>
                <key>offset</key>
                <string>{48,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,192},{158,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4041_0_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,242},{112,82}}</string>
                <key>offset</key>
                <string>{18,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,198},{112,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4041_0_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,130},{114,64}}</string>
                <key>offset</key>
                <string>{27,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,198},{114,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4041_0_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,120},{120,72}}</string>
                <key>offset</key>
                <string>{34,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,195},{120,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4041_0_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,146},{136,64}}</string>
                <key>offset</key>
                <string>{31,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,191},{136,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4041_0_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,146},{130,76}}</string>
                <key>offset</key>
                <string>{26,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,196},{130,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4041_0_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,42},{42,90}}</string>
                <key>offset</key>
                <string>{-25,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,186},{42,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4041_0_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,84},{46,88}}</string>
                <key>offset</key>
                <string>{-23,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,194},{46,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4041_0_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,242},{46,82}}</string>
                <key>offset</key>
                <string>{-23,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,190},{46,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4041_0_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,0},{42,90}}</string>
                <key>offset</key>
                <string>{-23,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,186},{42,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4041_0_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,324},{38,98}}</string>
                <key>offset</key>
                <string>{-21,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,185},{38,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4041_0.png</string>
            <key>size</key>
            <string>{502,414}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:83c1d541e78511f2e4d52518fe17a7b2:1/1$</string>
            <key>textureFileName</key>
            <string>4041_0.png</string>
        </dict>
    </dict>
</plist>
