<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4042_0_8_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,608},{128,94}}</string>
                <key>offset</key>
                <string>{6,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,141},{128,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_0_8_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,456},{136,110}}</string>
                <key>offset</key>
                <string>{-15,113}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,88},{136,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_0_8_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,772},{126,68}}</string>
                <key>offset</key>
                <string>{62,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,178},{126,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_0_8_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,908},{102,58}}</string>
                <key>offset</key>
                <string>{5,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,165},{102,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_0_8_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,338},{142,84}}</string>
                <key>offset</key>
                <string>{54,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,147},{142,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_0_8_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,872},{68,104}}</string>
                <key>offset</key>
                <string>{-23,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,135},{68,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_0_8_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,592},{98,132}}</string>
                <key>offset</key>
                <string>{32,104}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,86},{98,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_0_8_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,104},{146,80}}</string>
                <key>offset</key>
                <string>{54,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,206},{146,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_0_8_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,908},{60,76}}</string>
                <key>offset</key>
                <string>{-21,67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,151},{60,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_0_8_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,872},{108,58}}</string>
                <key>offset</key>
                <string>{12,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,175},{108,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_0_8_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,778},{110,94}}</string>
                <key>offset</key>
                <string>{-37,82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,127},{110,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_0_8_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,690},{82,126}}</string>
                <key>offset</key>
                <string>{60,83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{275,110},{82,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_0_8_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,178},{108,112}}</string>
                <key>offset</key>
                <string>{14,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,202},{108,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_0_8_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,378},{120,78}}</string>
                <key>offset</key>
                <string>{-38,82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,135},{120,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_0_8_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,968},{62,48}}</string>
                <key>offset</key>
                <string>{-31,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,172},{62,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_0_8_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,184},{146,70}}</string>
                <key>offset</key>
                <string>{-30,103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,118},{146,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_0_8_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,500},{132,108}}</string>
                <key>offset</key>
                <string>{54,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,139},{132,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_0_8_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,106},{72,114}}</string>
                <key>offset</key>
                <string>{-30,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,197},{72,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_0_8_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{150,104}}</string>
                <key>offset</key>
                <string>{-32,103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,101},{150,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_0_8_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,840},{104,68}}</string>
                <key>offset</key>
                <string>{-59,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,137},{104,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_0_8_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,702},{126,76}}</string>
                <key>offset</key>
                <string>{-7,112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,106},{126,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_0_8_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,422},{140,78}}</string>
                <key>offset</key>
                <string>{17,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,165},{140,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_0_8_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,286},{120,92}}</string>
                <key>offset</key>
                <string>{-59,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,192},{120,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_0_8_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,0},{106,114}}</string>
                <key>offset</key>
                <string>{-7,105}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,94},{106,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_0_8_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,254},{144,84}}</string>
                <key>offset</key>
                <string>{-56,103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,111},{144,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4042_0_8.png</string>
            <key>size</key>
            <string>{264,1016}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d1d861d164875849fcd4e95def8126ac:1/1$</string>
            <key>textureFileName</key>
            <string>4042_0_8.png</string>
        </dict>
    </dict>
</plist>
