<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4042_1_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,140},{128,82}}</string>
                <key>offset</key>
                <string>{53,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,186},{128,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_1_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,222},{128,84}}</string>
                <key>offset</key>
                <string>{52,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,184},{128,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_1_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,128},{128,78}}</string>
                <key>offset</key>
                <string>{52,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,186},{128,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_1_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,66},{128,74}}</string>
                <key>offset</key>
                <string>{53,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,186},{128,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_1_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,856},{136,102}}</string>
                <key>offset</key>
                <string>{48,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,192},{136,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_1_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,878},{136,104}}</string>
                <key>offset</key>
                <string>{48,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,191},{136,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_1_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,754},{136,102}}</string>
                <key>offset</key>
                <string>{48,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,191},{136,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_1_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,744},{134,106}}</string>
                <key>offset</key>
                <string>{48,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,191},{134,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_1_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,288},{86,128}}</string>
                <key>offset</key>
                <string>{26,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,190},{86,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_1_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,206},{82,128}}</string>
                <key>offset</key>
                <string>{22,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,190},{82,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_1_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,0},{82,128}}</string>
                <key>offset</key>
                <string>{23,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,190},{82,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_1_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,484},{80,130}}</string>
                <key>offset</key>
                <string>{22,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,190},{80,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_1_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,600},{76,134}}</string>
                <key>offset</key>
                <string>{-26,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,184},{76,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_1_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,676},{78,134}}</string>
                <key>offset</key>
                <string>{-26,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,185},{78,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_1_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,526},{74,134}}</string>
                <key>offset</key>
                <string>{-24,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,185},{74,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_1_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{66,136}}</string>
                <key>offset</key>
                <string>{-21,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,184},{66,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_1_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,614},{130,110}}</string>
                <key>offset</key>
                <string>{-50,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,180},{130,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_1_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,416},{128,110}}</string>
                <key>offset</key>
                <string>{-50,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,181},{128,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_1_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,374},{128,110}}</string>
                <key>offset</key>
                <string>{-50,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,181},{128,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_1_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,306},{128,110}}</string>
                <key>offset</key>
                <string>{-50,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,181},{128,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4042_1.png</string>
            <key>size</key>
            <string>{256,1014}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c1ca99fc6d561c5ec2406d44385c2c12:1/1$</string>
            <key>textureFileName</key>
            <string>4042_1.png</string>
        </dict>
    </dict>
</plist>
