<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4042_0_1_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,128},{126,82}}</string>
                <key>offset</key>
                <string>{46,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,179},{126,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_0_1_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,0},{126,80}}</string>
                <key>offset</key>
                <string>{47,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,180},{126,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_0_1_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,0},{128,78}}</string>
                <key>offset</key>
                <string>{47,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,187},{128,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_0_1_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,0},{128,80}}</string>
                <key>offset</key>
                <string>{45,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,187},{128,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_0_1_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,0},{144,108}}</string>
                <key>offset</key>
                <string>{39,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,190},{144,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_0_1_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,144},{144,106}}</string>
                <key>offset</key>
                <string>{39,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,192},{144,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_0_1_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{146,108}}</string>
                <key>offset</key>
                <string>{39,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,190},{146,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_0_1_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,0},{144,112}}</string>
                <key>offset</key>
                <string>{39,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,191},{144,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_0_1_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,146},{98,132}}</string>
                <key>offset</key>
                <string>{15,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,186},{98,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_0_1_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,144},{96,132}}</string>
                <key>offset</key>
                <string>{16,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,186},{96,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_0_1_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,0},{86,132}}</string>
                <key>offset</key>
                <string>{9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,186},{86,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_0_1_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,0},{84,134}}</string>
                <key>offset</key>
                <string>{9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,185},{84,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_0_1_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,0},{76,136}}</string>
                <key>offset</key>
                <string>{-25,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,181},{76,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_0_1_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,0},{70,138}}</string>
                <key>offset</key>
                <string>{-29,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,180},{70,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_0_1_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,0},{62,138}}</string>
                <key>offset</key>
                <string>{-28,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,180},{62,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_0_1_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,0},{58,138}}</string>
                <key>offset</key>
                <string>{-26,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,181},{58,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_0_1_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,134},{122,112}}</string>
                <key>offset</key>
                <string>{-45,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,177},{122,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_0_1_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,136},{122,112}}</string>
                <key>offset</key>
                <string>{-45,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,178},{122,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_0_1_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,128},{120,112}}</string>
                <key>offset</key>
                <string>{-44,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,178},{120,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_0_1_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,138},{124,112}}</string>
                <key>offset</key>
                <string>{-45,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,178},{124,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4042_0_1.png</string>
            <key>size</key>
            <string>{1014,250}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f580d525b1325cc2b4d7106d0cf26e60:1/1$</string>
            <key>textureFileName</key>
            <string>4042_0_1.png</string>
        </dict>
    </dict>
</plist>
