<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4042_0_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,388},{50,88}}</string>
                <key>offset</key>
                <string>{27,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{258,151},{50,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_0_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,122},{50,116}}</string>
                <key>offset</key>
                <string>{26,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{257,129},{50,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_0_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,68},{54,122}}</string>
                <key>offset</key>
                <string>{27,80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{256,115},{54,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_0_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,344},{52,112}}</string>
                <key>offset</key>
                <string>{28,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{258,123},{52,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_0_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,456},{48,94}}</string>
                <key>offset</key>
                <string>{26,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{258,143},{48,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_0_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,380},{116,76}}</string>
                <key>offset</key>
                <string>{48,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{246,172},{116,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_0_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,86},{114,104}}</string>
                <key>offset</key>
                <string>{55,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,138},{114,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_0_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,122},{110,114}}</string>
                <key>offset</key>
                <string>{57,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{258,135},{110,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_0_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,232},{112,98}}</string>
                <key>offset</key>
                <string>{53,63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{253,144},{112,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_0_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,0},{116,86}}</string>
                <key>offset</key>
                <string>{48,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,156},{116,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_0_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,0},{154,68}}</string>
                <key>offset</key>
                <string>{44,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,193},{154,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_0_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,80},{150,62}}</string>
                <key>offset</key>
                <string>{55,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,188},{150,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_0_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,234},{146,70}}</string>
                <key>offset</key>
                <string>{58,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,173},{146,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_0_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{150,80}}</string>
                <key>offset</key>
                <string>{50,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,181},{150,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_0_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,80},{154,76}}</string>
                <key>offset</key>
                <string>{45,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,189},{154,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_0_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,190},{114,80}}</string>
                <key>offset</key>
                <string>{19,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,198},{114,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_0_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,350},{116,74}}</string>
                <key>offset</key>
                <string>{27,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,197},{116,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_0_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,344},{112,64}}</string>
                <key>offset</key>
                <string>{31,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,194},{112,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_0_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,270},{114,66}}</string>
                <key>offset</key>
                <string>{22,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,190},{114,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_0_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,234},{116,74}}</string>
                <key>offset</key>
                <string>{19,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,195},{116,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_0_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,238},{60,98}}</string>
                <key>offset</key>
                <string>{-18,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,188},{60,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_0_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,336},{64,82}}</string>
                <key>offset</key>
                <string>{-16,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,193},{64,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_0_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,418},{58,84}}</string>
                <key>offset</key>
                <string>{-15,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,191},{58,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_0_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,438},{52,78}}</string>
                <key>offset</key>
                <string>{-15,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,186},{52,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_0_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,336},{52,90}}</string>
                <key>offset</key>
                <string>{-15,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,186},{52,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4042_0.png</string>
            <key>size</key>
            <string>{420,504}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e3831c567db8795bb61c7106c94cc7eb:1/1$</string>
            <key>textureFileName</key>
            <string>4042_0.png</string>
        </dict>
    </dict>
</plist>
