<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4042_0_0_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,268},{52,94}}</string>
                <key>offset</key>
                <string>{18,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,140},{52,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_0_0_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,136},{56,120}}</string>
                <key>offset</key>
                <string>{20,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,117},{56,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_0_0_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,80},{56,126}}</string>
                <key>offset</key>
                <string>{22,87}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{250,106},{56,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_0_0_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,336},{52,114}}</string>
                <key>offset</key>
                <string>{24,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,118},{52,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_0_0_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,220},{48,100}}</string>
                <key>offset</key>
                <string>{22,74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{254,132},{48,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_0_0_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,370},{120,80}}</string>
                <key>offset</key>
                <string>{48,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,162},{120,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_0_0_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,0},{122,108}}</string>
                <key>offset</key>
                <string>{51,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,137},{122,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_0_0_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,136},{112,110}}</string>
                <key>offset</key>
                <string>{55,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,129},{112,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_0_0_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,108},{112,102}}</string>
                <key>offset</key>
                <string>{53,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{253,139},{112,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_0_0_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,246},{116,90}}</string>
                <key>offset</key>
                <string>{49,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,151},{116,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_0_0_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,248},{158,70}}</string>
                <key>offset</key>
                <string>{45,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,179},{158,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_0_0_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,86},{162,72}}</string>
                <key>offset</key>
                <string>{52,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,178},{162,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_0_0_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{154,86}}</string>
                <key>offset</key>
                <string>{57,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,163},{154,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_0_0_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,86},{148,80}}</string>
                <key>offset</key>
                <string>{53,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,173},{148,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_0_0_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,0},{154,80}}</string>
                <key>offset</key>
                <string>{47,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,177},{154,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_0_0_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,124},{118,84}}</string>
                <key>offset</key>
                <string>{20,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,187},{118,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_0_0_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,0},{124,72}}</string>
                <key>offset</key>
                <string>{25,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,187},{124,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_0_0_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,248},{122,66}}</string>
                <key>offset</key>
                <string>{28,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,185},{122,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_0_0_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,256},{116,68}}</string>
                <key>offset</key>
                <string>{23,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,188},{116,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_0_0_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,372},{116,78}}</string>
                <key>offset</key>
                <string>{21,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,187},{116,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_0_0_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,268},{56,94}}</string>
                <key>offset</key>
                <string>{-19,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,180},{56,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_0_0_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,242},{54,78}}</string>
                <key>offset</key>
                <string>{-19,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,185},{54,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_0_0_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,362},{48,80}}</string>
                <key>offset</key>
                <string>{-18,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,183},{48,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_0_0_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,296},{50,70}}</string>
                <key>offset</key>
                <string>{-21,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,186},{50,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_0_0_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,362},{48,84}}</string>
                <key>offset</key>
                <string>{-20,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,183},{48,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4042_0_0.png</string>
            <key>size</key>
            <string>{506,450}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8c2e898e96d794d88d9356be00f39ef8:1/1$</string>
            <key>textureFileName</key>
            <string>4042_0_0.png</string>
        </dict>
    </dict>
</plist>
