<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4042_8_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,702},{56,126}}</string>
                <key>offset</key>
                <string>{-19,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,165},{56,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_8_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,384},{132,90}}</string>
                <key>offset</key>
                <string>{6,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,145},{132,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_8_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,0},{132,96}}</string>
                <key>offset</key>
                <string>{-14,108}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,100},{132,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_8_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,806},{122,60}}</string>
                <key>offset</key>
                <string>{64,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,189},{122,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_8_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,908},{108,58}}</string>
                <key>offset</key>
                <string>{2,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,165},{108,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_8_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,220},{140,90}}</string>
                <key>offset</key>
                <string>{55,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,147},{140,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_8_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,908},{70,108}}</string>
                <key>offset</key>
                <string>{-22,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,131},{70,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_8_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,714},{92,120}}</string>
                <key>offset</key>
                <string>{35,102}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{245,94},{92,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_8_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,82},{150,80}}</string>
                <key>offset</key>
                <string>{56,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,206},{150,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_8_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,922},{64,78}}</string>
                <key>offset</key>
                <string>{-23,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,149},{64,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_8_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,866},{104,56}}</string>
                <key>offset</key>
                <string>{12,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,177},{104,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_8_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,132},{108,94}}</string>
                <key>offset</key>
                <string>{-35,82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,127},{108,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_8_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,474},{80,132}}</string>
                <key>offset</key>
                <string>{64,84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{280,106},{80,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_8_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,604},{110,110}}</string>
                <key>offset</key>
                <string>{17,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,204},{110,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_8_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,758},{122,64}}</string>
                <key>offset</key>
                <string>{-39,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,136},{122,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_8_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,922},{60,48}}</string>
                <key>offset</key>
                <string>{-33,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,172},{60,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_8_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,162},{146,58}}</string>
                <key>offset</key>
                <string>{-26,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,128},{146,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_8_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,476},{128,110}}</string>
                <key>offset</key>
                <string>{56,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{248,140},{128,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_8_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,408},{68,112}}</string>
                <key>offset</key>
                <string>{-29,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,197},{68,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_8_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{150,82}}</string>
                <key>offset</key>
                <string>{-28,103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,112},{150,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_8_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,240},{106,56}}</string>
                <key>offset</key>
                <string>{-63,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,150},{106,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_8_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,554},{132,64}}</string>
                <key>offset</key>
                <string>{-3,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,118},{132,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_8_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,310},{136,74}}</string>
                <key>offset</key>
                <string>{19,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,174},{136,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_8_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,822},{118,86}}</string>
                <key>offset</key>
                <string>{-59,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,192},{118,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_8_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,296},{112,104}}</string>
                <key>offset</key>
                <string>{0,108}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,96},{112,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_8_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,618},{130,84}}</string>
                <key>offset</key>
                <string>{-48,107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,107},{130,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4042_8.png</string>
            <key>size</key>
            <string>{246,1016}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d20d439ac7b712cca62d5df2f2f9b6ad:1/1$</string>
            <key>textureFileName</key>
            <string>4042_8.png</string>
        </dict>
    </dict>
</plist>
