<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4042_0_2_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,364},{70,144}}</string>
                <key>offset</key>
                <string>{12,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,157},{70,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_0_2_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,260},{2,2}}</string>
                <key>offset</key>
                <string>{-18,82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,173},{2,2}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_0_2_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,260},{2,2}}</string>
                <key>offset</key>
                <string>{-19,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,167},{2,2}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_0_2_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,0},{60,130}}</string>
                <key>offset</key>
                <string>{13,122}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,69},{60,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_0_2_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,262},{68,116}}</string>
                <key>offset</key>
                <string>{9,126}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,72},{68,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_0_2_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{120,130}}</string>
                <key>offset</key>
                <string>{-59,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,159},{120,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_0_2_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,194},{90,68}}</string>
                <key>offset</key>
                <string>{46,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{257,176},{90,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_0_2_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,262},{94,68}}</string>
                <key>offset</key>
                <string>{50,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{259,173},{94,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_0_2_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,262},{64,148}}</string>
                <key>offset</key>
                <string>{26,119}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,63},{64,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_0_2_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,412},{82,132}}</string>
                <key>offset</key>
                <string>{5,122}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,68},{82,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_0_2_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,262},{124,102}}</string>
                <key>offset</key>
                <string>{-77,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,149},{124,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_0_2_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,0},{142,92}}</string>
                <key>offset</key>
                <string>{68,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,194},{142,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_0_2_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,260},{138,78}}</string>
                <key>offset</key>
                <string>{67,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{254,192},{138,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_0_2_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,194},{68,156}}</string>
                <key>offset</key>
                <string>{23,112}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{245,66},{68,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_0_2_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,262},{84,150}}</string>
                <key>offset</key>
                <string>{2,122}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,59},{84,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_0_2_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,410},{90,78}}</string>
                <key>offset</key>
                <string>{-63,86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,131},{90,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_0_2_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,130},{104,132}}</string>
                <key>offset</key>
                <string>{43,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,199},{104,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_0_2_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,150},{122,110}}</string>
                <key>offset</key>
                <string>{51,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,197},{122,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_0_2_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,126},{68,156}}</string>
                <key>offset</key>
                <string>{13,105}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,73},{68,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_0_2_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,0},{66,162}}</string>
                <key>offset</key>
                <string>{-7,125}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,50},{66,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_0_2_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,378},{50,76}}</string>
                <key>offset</key>
                <string>{-18,97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,121},{50,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_0_2_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,434},{66,132}}</string>
                <key>offset</key>
                <string>{17,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,207},{66,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_0_2_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,434},{56,128}}</string>
                <key>offset</key>
                <string>{7,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,199},{56,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_0_2_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,92},{58,142}}</string>
                <key>offset</key>
                <string>{-8,102}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,83},{58,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4042_0_2_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,66},{60,160}}</string>
                <key>offset</key>
                <string>{0,127}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,49},{60,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4042_0_2.png</string>
            <key>size</key>
            <string>{487,500}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b2c7a93f423f360ac1f1d5a0ed5c86f9:1/1$</string>
            <key>textureFileName</key>
            <string>4042_0_2.png</string>
        </dict>
    </dict>
</plist>
