<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4043_1_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,304},{150,86}}</string>
                <key>offset</key>
                <string>{50,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,174},{150,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4043_1_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,270},{152,84}}</string>
                <key>offset</key>
                <string>{51,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,176},{152,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4043_1_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,116},{154,84}}</string>
                <key>offset</key>
                <string>{55,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,177},{154,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4043_1_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,118},{162,88}}</string>
                <key>offset</key>
                <string>{57,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,174},{162,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4043_1_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,0},{146,126}}</string>
                <key>offset</key>
                <string>{39,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,169},{146,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4043_1_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,262},{148,124}}</string>
                <key>offset</key>
                <string>{39,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,171},{148,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4043_1_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,134},{148,128}}</string>
                <key>offset</key>
                <string>{40,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,171},{148,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4043_1_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{152,134}}</string>
                <key>offset</key>
                <string>{42,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,169},{152,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4043_1_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,278},{90,156}}</string>
                <key>offset</key>
                <string>{14,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,165},{90,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4043_1_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,280},{90,154}}</string>
                <key>offset</key>
                <string>{13,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,166},{90,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4043_1_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,118},{94,160}}</string>
                <key>offset</key>
                <string>{16,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,167},{94,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4043_1_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,126},{86,168}}</string>
                <key>offset</key>
                <string>{13,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,166},{86,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4043_1_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,0},{76,156}}</string>
                <key>offset</key>
                <string>{-29,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,160},{76,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4043_1_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,156},{82,156}}</string>
                <key>offset</key>
                <string>{-33,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,161},{82,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4043_1_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,312},{72,162}}</string>
                <key>offset</key>
                <string>{-28,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,161},{72,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4043_1_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,134},{72,170}}</string>
                <key>offset</key>
                <string>{-28,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,161},{72,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4043_1_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,390},{112,138}}</string>
                <key>offset</key>
                <string>{-50,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,155},{112,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4043_1_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,0},{118,138}}</string>
                <key>offset</key>
                <string>{-53,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,156},{118,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4043_1_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,0},{116,140}}</string>
                <key>offset</key>
                <string>{-53,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,156},{116,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4043_1_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,386},{120,144}}</string>
                <key>offset</key>
                <string>{-54,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,156},{120,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4043_1.png</string>
            <key>size</key>
            <string>{654,506}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7468b867482b172c242c8aa1286ce7e5:1/1$</string>
            <key>textureFileName</key>
            <string>4043_1.png</string>
        </dict>
    </dict>
</plist>
