<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4043_0_2_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,208},{70,164}}</string>
                <key>offset</key>
                <string>{11,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,141},{70,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4043_0_2_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,418},{2,2}}</string>
                <key>offset</key>
                <string>{-20,83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,172},{2,2}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4043_0_2_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,418},{2,2}}</string>
                <key>offset</key>
                <string>{-19,83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,172},{2,2}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4043_0_2_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,188},{70,188}}</string>
                <key>offset</key>
                <string>{9,126}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,36},{70,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4043_0_2_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,174},{76,172}}</string>
                <key>offset</key>
                <string>{2,132}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,38},{76,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4043_0_2_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,0},{138,146}}</string>
                <key>offset</key>
                <string>{-46,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,146},{138,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4043_0_2_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,208},{128,70}}</string>
                <key>offset</key>
                <string>{53,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{245,175},{128,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4043_0_2_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,138},{140,70}}</string>
                <key>offset</key>
                <string>{60,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,175},{140,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4043_0_2_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,214},{70,204}}</string>
                <key>offset</key>
                <string>{26,123}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,31},{70,204}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4043_0_2_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,198},{82,194}}</string>
                <key>offset</key>
                <string>{0,130}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,29},{82,194}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4043_0_2_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,0},{178,100}}</string>
                <key>offset</key>
                <string>{-79,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,146},{178,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4043_0_2_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,176},{176,94}}</string>
                <key>offset</key>
                <string>{72,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,185},{176,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4043_0_2_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,0},{176,100}}</string>
                <key>offset</key>
                <string>{73,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,178},{176,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4043_0_2_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{80,214}}</string>
                <key>offset</key>
                <string>{30,119}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,30},{80,214}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4043_0_2_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,420},{82,194}}</string>
                <key>offset</key>
                <string>{-7,119}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,40},{82,194}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4043_0_2_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,372},{106,76}}</string>
                <key>offset</key>
                <string>{-51,90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,128},{106,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4043_0_2_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,392},{108,162}}</string>
                <key>offset</key>
                <string>{45,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{247,178},{108,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4043_0_2_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,356},{134,148}}</string>
                <key>offset</key>
                <string>{47,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,178},{134,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4043_0_2_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,0},{98,188}}</string>
                <key>offset</key>
                <string>{20,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,57},{98,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4043_0_2_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,214},{68,206}}</string>
                <key>offset</key>
                <string>{-3,124}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,29},{68,206}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4043_0_2_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,336},{44,50}}</string>
                <key>offset</key>
                <string>{-9,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,132},{44,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4043_0_2_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,346},{72,160}}</string>
                <key>offset</key>
                <string>{14,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,185},{72,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4043_0_2_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,0},{80,174}}</string>
                <key>offset</key>
                <string>{7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,176},{80,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4043_0_2_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,178},{78,178}}</string>
                <key>offset</key>
                <string>{-5,107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,60},{78,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4043_0_2_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,0},{74,198}}</string>
                <key>offset</key>
                <string>{-3,126}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,31},{74,198}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4043_0_2.png</string>
            <key>size</key>
            <string>{682,506}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c0a8424d4616dbf0f6b738de6cb05d4b:1/1$</string>
            <key>textureFileName</key>
            <string>4043_0_2.png</string>
        </dict>
    </dict>
</plist>
