<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4043_0_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,946},{48,110}}</string>
                <key>offset</key>
                <string>{25,79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{257,122},{48,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4043_0_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,824},{58,124}}</string>
                <key>offset</key>
                <string>{19,79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{246,115},{58,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4043_0_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,760},{64,146}}</string>
                <key>offset</key>
                <string>{17,85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,98},{64,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4043_0_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,736},{56,148}}</string>
                <key>offset</key>
                <string>{27,91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{255,91},{56,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4043_0_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,882},{50,118}}</string>
                <key>offset</key>
                <string>{24,82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,115},{50,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4043_0_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,660},{152,76}}</string>
                <key>offset</key>
                <string>{47,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,162},{152,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4043_0_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,558},{154,102}}</string>
                <key>offset</key>
                <string>{54,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,140},{154,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4043_0_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,156},{150,122}}</string>
                <key>offset</key>
                <string>{55,72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,123},{150,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4043_0_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,440},{164,118}}</string>
                <key>offset</key>
                <string>{56,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,124},{164,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4043_0_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,352},{170,88}}</string>
                <key>offset</key>
                <string>{56,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,149},{170,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4043_0_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,280},{182,72}}</string>
                <key>offset</key>
                <string>{34,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,189},{182,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4043_0_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,210},{186,70}}</string>
                <key>offset</key>
                <string>{43,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,177},{186,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4043_0_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,138},{188,72}}</string>
                <key>offset</key>
                <string>{49,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,165},{188,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4043_0_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,70},{206,68}}</string>
                <key>offset</key>
                <string>{49,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,173},{206,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4043_0_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{210,70}}</string>
                <key>offset</key>
                <string>{48,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,186},{210,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4043_0_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,368},{136,118}}</string>
                <key>offset</key>
                <string>{6,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,178},{136,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4043_0_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,854},{144,88}}</string>
                <key>offset</key>
                <string>{15,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,189},{144,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4043_0_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,608},{152,82}}</string>
                <key>offset</key>
                <string>{24,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,189},{152,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4043_0_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,0},{156,98}}</string>
                <key>offset</key>
                <string>{18,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,184},{156,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4043_0_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,486},{146,122}}</string>
                <key>offset</key>
                <string>{9,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,178},{146,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4043_0_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,690},{70,148}}</string>
                <key>offset</key>
                <string>{-25,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,164},{70,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4043_0_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,854},{60,124}}</string>
                <key>offset</key>
                <string>{-20,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,178},{60,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4043_0_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,882},{64,110}}</string>
                <key>offset</key>
                <string>{-19,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,186},{64,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4043_0_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,306},{62,128}}</string>
                <key>offset</key>
                <string>{-20,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,172},{62,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4043_0_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,792},{62,146}}</string>
                <key>offset</key>
                <string>{-19,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,164},{62,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4043_0.png</string>
            <key>size</key>
            <string>{310,1000}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6dd5afc513af36a2592eabb13a4ce7d0:1/1$</string>
            <key>textureFileName</key>
            <string>4043_0.png</string>
        </dict>
    </dict>
</plist>
