<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4043_6_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,240},{164,118}}</string>
                <key>offset</key>
                <string>{28,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,175},{164,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4043_6_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,746},{154,126}}</string>
                <key>offset</key>
                <string>{25,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,171},{154,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4043_6_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,470},{158,132}}</string>
                <key>offset</key>
                <string>{26,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,172},{158,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4043_6_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,438},{160,70}}</string>
                <key>offset</key>
                <string>{59,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,166},{160,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4043_6_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,594},{156,68}}</string>
                <key>offset</key>
                <string>{58,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,176},{156,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4043_6_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,634},{94,152}}</string>
                <key>offset</key>
                <string>{3,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,164},{94,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4043_6_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,358},{80,160}}</string>
                <key>offset</key>
                <string>{-1,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,162},{80,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4043_6_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,156},{84,168}}</string>
                <key>offset</key>
                <string>{-2,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,160},{84,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4043_6_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,0},{192,84}}</string>
                <key>offset</key>
                <string>{49,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,181},{192,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4043_6_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{194,94}}</string>
                <key>offset</key>
                <string>{50,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,179},{194,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4043_6_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,662},{76,150}}</string>
                <key>offset</key>
                <string>{-34,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,164},{76,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4043_6_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,746},{92,152}}</string>
                <key>offset</key>
                <string>{-36,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,162},{92,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4043_6_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,294},{96,166}}</string>
                <key>offset</key>
                <string>{-42,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,156},{96,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4043_6_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,334},{162,136}}</string>
                <key>offset</key>
                <string>{28,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,169},{162,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4043_6_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,602},{154,144}}</string>
                <key>offset</key>
                <string>{22,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,167},{154,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4043_6_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,0},{156,126}}</string>
                <key>offset</key>
                <string>{-40,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,158},{156,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4043_6_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,390},{162,132}}</string>
                <key>offset</key>
                <string>{-39,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,154},{162,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4043_6_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,162},{166,132}}</string>
                <key>offset</key>
                <string>{-45,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,154},{166,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4043_6_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,94},{68,176}}</string>
                <key>offset</key>
                <string>{-12,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,160},{68,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4043_6_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,84},{68,186}}</string>
                <key>offset</key>
                <string>{-13,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,155},{68,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4043_6_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,152},{168,84}}</string>
                <key>offset</key>
                <string>{-31,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,165},{168,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4043_6_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,508},{156,86}}</string>
                <key>offset</key>
                <string>{-24,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,166},{156,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4043_6_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,236},{166,98}}</string>
                <key>offset</key>
                <string>{-28,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,165},{166,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4043_6_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,738},{130,146}}</string>
                <key>offset</key>
                <string>{-47,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,161},{130,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4043_6_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,522},{112,158}}</string>
                <key>offset</key>
                <string>{-38,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,155},{112,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4043_6.png</string>
            <key>size</key>
            <string>{512,873}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:de9febf2648b6012a3f52dd84a043634:1/1$</string>
            <key>textureFileName</key>
            <string>4043_6.png</string>
        </dict>
    </dict>
</plist>
