<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4044_0_1_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,316},{150,88}}</string>
                <key>offset</key>
                <string>{44,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,178},{150,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4044_0_1_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,132},{154,88}}</string>
                <key>offset</key>
                <string>{48,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,180},{154,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4044_0_1_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,0},{160,90}}</string>
                <key>offset</key>
                <string>{50,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,180},{160,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4044_0_1_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,0},{168,94}}</string>
                <key>offset</key>
                <string>{52,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,178},{168,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4044_0_1_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,0},{154,132}}</string>
                <key>offset</key>
                <string>{33,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,171},{154,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4044_0_1_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,160},{156,130}}</string>
                <key>offset</key>
                <string>{33,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,173},{156,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4044_0_1_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,326},{156,136}}</string>
                <key>offset</key>
                <string>{34,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,171},{156,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4044_0_1_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,166},{160,142}}</string>
                <key>offset</key>
                <string>{36,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,169},{160,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4044_0_1_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,334},{92,164}}</string>
                <key>offset</key>
                <string>{11,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,165},{92,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4044_0_1_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,346},{92,162}}</string>
                <key>offset</key>
                <string>{10,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,166},{92,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4044_0_1_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,174},{98,172}}</string>
                <key>offset</key>
                <string>{12,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,163},{98,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4044_0_1_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,182},{90,180}}</string>
                <key>offset</key>
                <string>{9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,162},{90,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4044_0_1_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,0},{78,166}}</string>
                <key>offset</key>
                <string>{-30,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,158},{78,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4044_0_1_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,168},{84,166}}</string>
                <key>offset</key>
                <string>{-34,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,159},{84,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4044_0_1_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,0},{74,174}}</string>
                <key>offset</key>
                <string>{-29,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,157},{74,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4044_0_1_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{80,182}}</string>
                <key>offset</key>
                <string>{-30,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,155},{80,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4044_0_1_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,364},{140,148}}</string>
                <key>offset</key>
                <string>{-39,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,153},{140,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4044_0_1_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,220},{144,148}}</string>
                <key>offset</key>
                <string>{-43,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,154},{144,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4044_0_1_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,362},{144,148}}</string>
                <key>offset</key>
                <string>{-41,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,154},{144,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4044_0_1_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,0},{150,154}}</string>
                <key>offset</key>
                <string>{-42,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,152},{150,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4044_0_1.png</string>
            <key>size</key>
            <string>{754,508}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0cba9649f1252669c0702984f75580b7:1/1$</string>
            <key>textureFileName</key>
            <string>4044_0_1.png</string>
        </dict>
    </dict>
</plist>
