<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4044_6_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,176},{164,118}}</string>
                <key>offset</key>
                <string>{28,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,175},{164,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4044_6_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,800},{154,126}}</string>
                <key>offset</key>
                <string>{25,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,171},{154,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4044_6_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,614},{158,132}}</string>
                <key>offset</key>
                <string>{26,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,172},{158,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4044_6_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,502},{160,112}}</string>
                <key>offset</key>
                <string>{59,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,166},{160,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4044_6_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,716},{156,74}}</string>
                <key>offset</key>
                <string>{58,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,176},{156,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4044_6_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,790},{96,152}}</string>
                <key>offset</key>
                <string>{3,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,164},{96,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4044_6_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,550},{80,160}}</string>
                <key>offset</key>
                <string>{-1,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,162},{80,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4044_6_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,172},{84,168}}</string>
                <key>offset</key>
                <string>{-2,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,160},{84,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4044_6_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,0},{192,98}}</string>
                <key>offset</key>
                <string>{49,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,180},{192,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4044_6_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{194,106}}</string>
                <key>offset</key>
                <string>{50,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,179},{194,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4044_6_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,890},{76,150}}</string>
                <key>offset</key>
                <string>{-34,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,164},{76,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4044_6_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,890},{92,152}}</string>
                <key>offset</key>
                <string>{-36,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,162},{92,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4044_6_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,322},{96,166}}</string>
                <key>offset</key>
                <string>{-42,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,156},{96,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4044_6_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,354},{162,148}}</string>
                <key>offset</key>
                <string>{28,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,169},{162,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4044_6_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,746},{154,144}}</string>
                <key>offset</key>
                <string>{22,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,167},{154,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4044_6_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,498},{156,126}}</string>
                <key>offset</key>
                <string>{-40,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,158},{156,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4044_6_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,418},{162,132}}</string>
                <key>offset</key>
                <string>{-39,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,154},{162,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4044_6_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,190},{166,132}}</string>
                <key>offset</key>
                <string>{-45,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,154},{166,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4044_6_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,0},{68,176}}</string>
                <key>offset</key>
                <string>{-12,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,160},{68,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4044_6_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,98},{74,186}}</string>
                <key>offset</key>
                <string>{-10,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,155},{74,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4044_6_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,106},{168,84}}</string>
                <key>offset</key>
                <string>{-31,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,165},{168,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4044_6_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,630},{156,86}}</string>
                <key>offset</key>
                <string>{-24,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,166},{156,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4044_6_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,256},{166,98}}</string>
                <key>offset</key>
                <string>{-28,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,165},{166,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4044_6_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,654},{130,146}}</string>
                <key>offset</key>
                <string>{-47,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,161},{130,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4044_6_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,340},{122,158}}</string>
                <key>offset</key>
                <string>{-43,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,155},{122,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4044_6.png</string>
            <key>size</key>
            <string>{454,982}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bda80520a801ff3aefdda61885c307ba:1/1$</string>
            <key>textureFileName</key>
            <string>4044_6.png</string>
        </dict>
    </dict>
</plist>
