<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4044_7_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,0},{70,194}}</string>
                <key>offset</key>
                <string>{33,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,87},{70,194}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4044_7_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,310},{90,158}}</string>
                <key>offset</key>
                <string>{0,131}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,46},{90,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4044_7_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,362},{112,164}}</string>
                <key>offset</key>
                <string>{-17,139}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,35},{112,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4044_7_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{70,200}}</string>
                <key>offset</key>
                <string>{25,119}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,37},{70,200}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4044_7_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,194},{192,94}}</string>
                <key>offset</key>
                <string>{49,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,150},{192,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4044_7_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,182},{108,180}}</string>
                <key>offset</key>
                <string>{20,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,99},{108,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4044_7_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,0},{84,176}}</string>
                <key>offset</key>
                <string>{-14,136}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,32},{84,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4044_7_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,190},{98,182}}</string>
                <key>offset</key>
                <string>{-25,143}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,22},{98,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4044_7_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,0},{82,198}}</string>
                <key>offset</key>
                <string>{19,114}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,43},{82,198}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4044_7_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,200},{198,94}}</string>
                <key>offset</key>
                <string>{34,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,152},{198,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4044_7_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,392},{110,156}}</string>
                <key>offset</key>
                <string>{-1,68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,110},{110,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4044_7_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,0},{70,180}}</string>
                <key>offset</key>
                <string>{-18,137}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,29},{70,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4044_7_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,182},{80,182}}</string>
                <key>offset</key>
                <string>{-21,146}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,19},{80,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4044_7_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,0},{84,190}}</string>
                <key>offset</key>
                <string>{-2,116}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,45},{84,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4044_7_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,372},{116,106}}</string>
                <key>offset</key>
                <string>{4,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,175},{116,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4044_7_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,364},{84,134}}</string>
                <key>offset</key>
                <string>{-13,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,116},{84,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4044_7_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,0},{72,182}}</string>
                <key>offset</key>
                <string>{-9,145}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,20},{72,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4044_7_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,0},{80,182}}</string>
                <key>offset</key>
                <string>{2,153}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,12},{80,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4044_7_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,0},{88,178}}</string>
                <key>offset</key>
                <string>{-14,125}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,42},{88,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4044_7_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,240},{108,110}}</string>
                <key>offset</key>
                <string>{-48,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,166},{108,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4044_7_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,240},{70,142}}</string>
                <key>offset</key>
                <string>{-33,87}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,98},{70,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4044_7_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,154},{86,172}}</string>
                <key>offset</key>
                <string>{-2,150}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,20},{86,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4044_7_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,398},{100,168}}</string>
                <key>offset</key>
                <string>{10,154}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,18},{100,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4044_7_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,84},{70,174}}</string>
                <key>offset</key>
                <string>{-26,135}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,34},{70,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4044_7_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,198},{194,76}}</string>
                <key>offset</key>
                <string>{-53,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,158},{194,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4044_7.png</string>
            <key>size</key>
            <string>{802,502}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:26682e2592192e14e94e97f0f5701b91:1/1$</string>
            <key>textureFileName</key>
            <string>4044_7.png</string>
        </dict>
    </dict>
</plist>
