<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4045_1_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,68},{68,80}}</string>
                <key>offset</key>
                <string>{41,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,174},{68,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4045_1_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,0},{68,82}}</string>
                <key>offset</key>
                <string>{42,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{264,175},{68,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4045_1_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,184},{68,88}}</string>
                <key>offset</key>
                <string>{42,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{264,170},{68,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4045_1_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,0},{70,98}}</string>
                <key>offset</key>
                <string>{43,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{264,163},{70,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4045_1_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,0},{74,92}}</string>
                <key>offset</key>
                <string>{38,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{257,181},{74,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4045_1_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,196},{76,94}}</string>
                <key>offset</key>
                <string>{38,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{256,182},{76,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4045_1_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,0},{78,98}}</string>
                <key>offset</key>
                <string>{39,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{256,179},{78,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4045_1_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,112},{74,106}}</string>
                <key>offset</key>
                <string>{39,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{258,174},{74,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4045_1_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,0},{56,92}}</string>
                <key>offset</key>
                <string>{13,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,197},{56,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4045_1_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,98},{56,96}}</string>
                <key>offset</key>
                <string>{13,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,196},{56,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4045_1_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,218},{54,100}}</string>
                <key>offset</key>
                <string>{13,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,193},{54,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4045_1_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,112},{56,110}}</string>
                <key>offset</key>
                <string>{12,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,186},{56,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4045_1_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,182},{58,86}}</string>
                <key>offset</key>
                <string>{-26,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,195},{58,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4045_1_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,92},{58,90}}</string>
                <key>offset</key>
                <string>{-26,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,194},{58,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4045_1_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,92},{58,92}}</string>
                <key>offset</key>
                <string>{-25,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,193},{58,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4045_1_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,102},{58,102}}</string>
                <key>offset</key>
                <string>{-26,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,186},{58,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4045_1_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,204},{68,94}}</string>
                <key>offset</key>
                <string>{-40,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,174},{68,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4045_1_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,98},{70,98}}</string>
                <key>offset</key>
                <string>{-41,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,173},{70,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4045_1_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,0},{68,102}}</string>
                <key>offset</key>
                <string>{-41,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,170},{68,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4045_1_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{70,112}}</string>
                <key>offset</key>
                <string>{-42,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,163},{70,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4045_1.png</string>
            <key>size</key>
            <string>{500,272}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f46149bb571a223c863595d0fd8a46ee:1/1$</string>
            <key>textureFileName</key>
            <string>4045_1.png</string>
        </dict>
    </dict>
</plist>
