<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4045_0_6_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,0},{86,174}}</string>
                <key>offset</key>
                <string>{19,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,104},{86,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4045_0_6_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,0},{92,106}}</string>
                <key>offset</key>
                <string>{17,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,170},{92,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4045_0_6_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,158},{86,110}}</string>
                <key>offset</key>
                <string>{20,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,167},{86,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4045_0_6_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,0},{92,158}}</string>
                <key>offset</key>
                <string>{37,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,115},{92,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4045_0_6_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,0},{86,156}}</string>
                <key>offset</key>
                <string>{51,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{264,107},{86,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4045_0_6_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,156},{80,110}}</string>
                <key>offset</key>
                <string>{2,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,170},{80,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4045_0_6_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,0},{84,138}}</string>
                <key>offset</key>
                <string>{0,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,135},{84,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4045_0_6_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,0},{106,92}}</string>
                <key>offset</key>
                <string>{-16,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,178},{106,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4045_0_6_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,142},{102,140}}</string>
                <key>offset</key>
                <string>{20,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,136},{102,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4045_0_6_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,0},{108,142}}</string>
                <key>offset</key>
                <string>{40,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,132},{108,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4045_0_6_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,180},{52,102}}</string>
                <key>offset</key>
                <string>{-33,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,163},{52,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4045_0_6_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,100},{52,72}}</string>
                <key>offset</key>
                <string>{-28,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,188},{52,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4045_0_6_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,158},{56,116}}</string>
                <key>offset</key>
                <string>{-31,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,144},{56,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4045_0_6_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,176},{110,148}}</string>
                <key>offset</key>
                <string>{6,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,123},{110,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4045_0_6_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,0},{90,168}}</string>
                <key>offset</key>
                <string>{6,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,120},{90,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4045_0_6_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,92},{88,106}}</string>
                <key>offset</key>
                <string>{-42,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,149},{88,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4045_0_6_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,166},{82,124}}</string>
                <key>offset</key>
                <string>{-39,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,127},{82,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4045_0_6_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,176},{68,114}}</string>
                <key>offset</key>
                <string>{-38,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,143},{68,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4045_0_6_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,0},{98,166}}</string>
                <key>offset</key>
                <string>{-19,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,112},{98,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4045_0_6_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{86,176}}</string>
                <key>offset</key>
                <string>{-20,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,109},{86,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4045_0_6_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,168},{90,118}}</string>
                <key>offset</key>
                <string>{-23,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,125},{90,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4045_0_6_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,180},{82,96}}</string>
                <key>offset</key>
                <string>{-16,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,151},{82,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4045_0_6_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,180},{82,106}}</string>
                <key>offset</key>
                <string>{-13,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,140},{82,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4045_0_6_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,138},{70,138}}</string>
                <key>offset</key>
                <string>{-31,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,124},{70,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4045_0_6_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,0},{70,100}}</string>
                <key>offset</key>
                <string>{-37,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,160},{70,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4045_0_6.png</string>
            <key>size</key>
            <string>{998,291}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:72209a8ff897b8dbd770199843440d15:1/1$</string>
            <key>textureFileName</key>
            <string>4045_0_6.png</string>
        </dict>
    </dict>
</plist>
