<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4045_7_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,126},{70,116}}</string>
                <key>offset</key>
                <string>{33,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,120},{70,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4045_7_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,0},{68,144}}</string>
                <key>offset</key>
                <string>{9,164}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,20},{68,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4045_7_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,0},{90,138}}</string>
                <key>offset</key>
                <string>{-10,168}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,19},{90,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4045_7_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,0},{100,122}}</string>
                <key>offset</key>
                <string>{27,126}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,69},{100,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4045_7_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{112,170}}</string>
                <key>offset</key>
                <string>{49,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,78},{112,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4045_7_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,0},{72,94}}</string>
                <key>offset</key>
                <string>{18,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,147},{72,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4045_7_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,124},{64,96}}</string>
                <key>offset</key>
                <string>{-4,136}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,72},{64,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4045_7_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,128},{60,118}}</string>
                <key>offset</key>
                <string>{-11,155}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,42},{60,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4045_7_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,0},{60,128}}</string>
                <key>offset</key>
                <string>{17,120}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,72},{60,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4045_7_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,144},{120,102}}</string>
                <key>offset</key>
                <string>{24,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,160},{120,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4045_7_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,124},{62,80}}</string>
                <key>offset</key>
                <string>{-11,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,159},{62,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4045_7_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,0},{56,134}}</string>
                <key>offset</key>
                <string>{-11,155}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,34},{56,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4045_7_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,72},{52,92}}</string>
                <key>offset</key>
                <string>{-7,143}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,67},{52,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4045_7_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,0},{58,104}}</string>
                <key>offset</key>
                <string>{-10,110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,94},{58,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4045_7_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,0},{92,158}}</string>
                <key>offset</key>
                <string>{-4,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,96},{92,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4045_7_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,0},{90,126}}</string>
                <key>offset</key>
                <string>{-18,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,117},{90,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4045_7_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,138},{104,110}}</string>
                <key>offset</key>
                <string>{-8,149}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,52},{104,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4045_7_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,122},{114,110}}</string>
                <key>offset</key>
                <string>{6,157}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,44},{114,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4045_7_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,0},{62,130}}</string>
                <key>offset</key>
                <string>{-36,127}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,64},{62,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4045_7_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,130},{98,116}}</string>
                <key>offset</key>
                <string>{-36,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,129},{98,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4045_7_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,126},{56,116}}</string>
                <key>offset</key>
                <string>{-27,83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,115},{56,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4045_7_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,170},{74,122}}</string>
                <key>offset</key>
                <string>{-2,154}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,41},{74,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4045_7_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,158},{88,142}}</string>
                <key>offset</key>
                <string>{4,179}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,6},{88,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4045_7_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,0},{78,126}}</string>
                <key>offset</key>
                <string>{-23,138}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,55},{78,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4045_7_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,0},{62,138}}</string>
                <key>offset</key>
                <string>{-26,117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,70},{62,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4045_7.png</string>
            <key>size</key>
            <string>{1022,246}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:da1e44118938ea51043aebcdd4f6e11b:1/1$</string>
            <key>textureFileName</key>
            <string>4045_7.png</string>
        </dict>
    </dict>
</plist>
