<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4046_2_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,284},{52,90}}</string>
                <key>offset</key>
                <string>{10,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,184},{52,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4046_2_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,94},{2,2}}</string>
                <key>offset</key>
                <string>{-18,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,175},{2,2}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4046_2_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,94},{2,2}}</string>
                <key>offset</key>
                <string>{-18,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,175},{2,2}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4046_2_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,102},{56,108}}</string>
                <key>offset</key>
                <string>{24,126}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,76},{56,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4046_2_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,184},{56,96}}</string>
                <key>offset</key>
                <string>{13,125}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,83},{56,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4046_2_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,0},{94,106}}</string>
                <key>offset</key>
                <string>{-47,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,167},{94,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4046_2_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,210},{68,118}}</string>
                <key>offset</key>
                <string>{38,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{260,147},{68,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4046_2_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,92},{66,120}}</string>
                <key>offset</key>
                <string>{41,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{264,136},{66,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4046_2_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,0},{84,102}}</string>
                <key>offset</key>
                <string>{22,112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,93},{84,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4046_2_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,192},{92,90}}</string>
                <key>offset</key>
                <string>{8,116}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,95},{92,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4046_2_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,192},{82,84}}</string>
                <key>offset</key>
                <string>{-72,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,155},{82,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4046_2_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,0},{92,108}}</string>
                <key>offset</key>
                <string>{69,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{279,177},{92,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4046_2_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,210},{92,108}}</string>
                <key>offset</key>
                <string>{56,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{266,161},{92,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4046_2_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,102},{108,96}}</string>
                <key>offset</key>
                <string>{21,109}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,99},{108,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4046_2_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,0},{106,92}}</string>
                <key>offset</key>
                <string>{-10,121}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,89},{106,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4046_2_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,92},{66,94}}</string>
                <key>offset</key>
                <string>{-50,81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,128},{66,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4046_2_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{104,102}}</string>
                <key>offset</key>
                <string>{41,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,204},{104,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4046_2_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,196},{94,100}}</string>
                <key>offset</key>
                <string>{48,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{257,183},{94,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4046_2_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,102},{82,84}}</string>
                <key>offset</key>
                <string>{3,98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,116},{82,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4046_2_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,280},{64,84}}</string>
                <key>offset</key>
                <string>{-10,116}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,98},{64,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4046_2_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,158},{34,116}}</string>
                <key>offset</key>
                <string>{-16,96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,102},{34,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4046_2_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,94},{58,102}}</string>
                <key>offset</key>
                <string>{7,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,214},{58,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4046_2_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,296},{42,90}}</string>
                <key>offset</key>
                <string>{4,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,194},{42,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4046_2_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,158},{34,94}}</string>
                <key>offset</key>
                <string>{-17,101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,108},{34,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4046_2_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,280},{42,84}}</string>
                <key>offset</key>
                <string>{-15,121}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,93},{42,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4046_2.png</string>
            <key>size</key>
            <string>{512,344}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:262a0ad132a6d350e1ad9d09541fb363:1/1$</string>
            <key>textureFileName</key>
            <string>4046_2.png</string>
        </dict>
    </dict>
</plist>
