<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4046_7_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,0},{62,94}}</string>
                <key>offset</key>
                <string>{30,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,142},{62,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4046_7_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,86},{62,80}}</string>
                <key>offset</key>
                <string>{11,132}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,84},{62,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4046_7_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,0},{78,86}}</string>
                <key>offset</key>
                <string>{-4,142}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,71},{78,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4046_7_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,0},{86,94}}</string>
                <key>offset</key>
                <string>{26,112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,97},{86,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4046_7_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,0},{90,100}}</string>
                <key>offset</key>
                <string>{38,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,148},{90,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4046_7_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,90},{64,82}}</string>
                <key>offset</key>
                <string>{17,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,159},{64,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4046_7_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,94},{60,84}}</string>
                <key>offset</key>
                <string>{-2,130}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,84},{60,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4046_7_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,78},{50,76}}</string>
                <key>offset</key>
                <string>{-10,134}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,84},{50,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4046_7_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,0},{52,78}}</string>
                <key>offset</key>
                <string>{13,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,122},{52,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4046_7_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,0},{96,102}}</string>
                <key>offset</key>
                <string>{17,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,160},{96,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4046_7_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,94},{56,76}}</string>
                <key>offset</key>
                <string>{-12,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,163},{56,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4046_7_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,102},{52,90}}</string>
                <key>offset</key>
                <string>{-11,133}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,78},{52,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4046_7_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,106},{48,82}}</string>
                <key>offset</key>
                <string>{-9,138}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,77},{48,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4046_7_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,100},{54,88}}</string>
                <key>offset</key>
                <string>{-9,102}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,110},{54,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4046_7_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,0},{72,94}}</string>
                <key>offset</key>
                <string>{-8,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,160},{72,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4046_7_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,0},{78,98}}</string>
                <key>offset</key>
                <string>{-24,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,145},{78,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4046_7_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,0},{100,84}}</string>
                <key>offset</key>
                <string>{-9,138}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,76},{100,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4046_7_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{106,84}}</string>
                <key>offset</key>
                <string>{4,144}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,70},{106,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4046_7_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,100},{54,86}}</string>
                <key>offset</key>
                <string>{-32,106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,107},{54,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4046_7_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,0},{92,50}}</string>
                <key>offset</key>
                <string>{-34,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,175},{92,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4046_7_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,98},{56,96}}</string>
                <key>offset</key>
                <string>{-27,73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,135},{56,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4046_7_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,0},{70,90}}</string>
                <key>offset</key>
                <string>{0,140}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,71},{70,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4046_7_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,0},{66,90}}</string>
                <key>offset</key>
                <string>{10,153}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,58},{66,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4046_7_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,92},{62,84}}</string>
                <key>offset</key>
                <string>{-20,117}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,97},{62,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4046_7_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,102},{52,78}}</string>
                <key>offset</key>
                <string>{-21,87}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,130},{52,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4046_7.png</string>
            <key>size</key>
            <string>{984,154}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3f45e9d6aa7348a660413096cfe655d0:1/1$</string>
            <key>textureFileName</key>
            <string>4046_7.png</string>
        </dict>
    </dict>
</plist>
