<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4046_0_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,0},{52,72}}</string>
                <key>offset</key>
                <string>{27,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{257,159},{52,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4046_0_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,76},{52,76}}</string>
                <key>offset</key>
                <string>{26,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{256,152},{52,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4046_0_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,152},{52,76}}</string>
                <key>offset</key>
                <string>{26,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{256,152},{52,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4046_0_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,88},{56,88}}</string>
                <key>offset</key>
                <string>{26,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,144},{56,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4046_0_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,94},{58,92}}</string>
                <key>offset</key>
                <string>{25,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,143},{58,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4046_0_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,128},{72,66}}</string>
                <key>offset</key>
                <string>{39,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{259,169},{72,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4046_0_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,80},{68,78}}</string>
                <key>offset</key>
                <string>{42,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{264,160},{68,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4046_0_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,0},{68,74}}</string>
                <key>offset</key>
                <string>{42,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{264,151},{68,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4046_0_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,186},{70,88}}</string>
                <key>offset</key>
                <string>{43,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{264,148},{70,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4046_0_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,166},{74,78}}</string>
                <key>offset</key>
                <string>{41,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{260,147},{74,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4046_0_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,0},{88,72}}</string>
                <key>offset</key>
                <string>{29,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,177},{88,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4046_0_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,0},{80,76}}</string>
                <key>offset</key>
                <string>{34,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{250,176},{80,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4046_0_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,158},{76,70}}</string>
                <key>offset</key>
                <string>{37,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{255,167},{76,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4046_0_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,182},{86,74}}</string>
                <key>offset</key>
                <string>{33,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,163},{86,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4046_0_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{84,94}}</string>
                <key>offset</key>
                <string>{28,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,165},{84,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4046_0_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,0},{76,74}}</string>
                <key>offset</key>
                <string>{-2,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,192},{76,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4046_0_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,84},{82,72}}</string>
                <key>offset</key>
                <string>{3,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,197},{82,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4046_0_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,188},{78,68}}</string>
                <key>offset</key>
                <string>{8,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,202},{78,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4046_0_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,0},{84,78}}</string>
                <key>offset</key>
                <string>{-1,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,195},{84,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4046_0_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,92},{90,66}}</string>
                <key>offset</key>
                <string>{-6,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,190},{90,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4046_0_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,74},{54,68}}</string>
                <key>offset</key>
                <string>{-25,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,193},{54,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4046_0_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,76},{58,76}}</string>
                <key>offset</key>
                <string>{-25,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,187},{58,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4046_0_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,200},{54,66}}</string>
                <key>offset</key>
                <string>{-23,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,185},{54,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4046_0_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,0},{56,92}}</string>
                <key>offset</key>
                <string>{-28,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,175},{56,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4046_0_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,94},{60,94}}</string>
                <key>offset</key>
                <string>{-29,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,176},{60,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4046_0.png</string>
            <key>size</key>
            <string>{560,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:68fe31a07ba5901f320e7f289f194354:1/1$</string>
            <key>textureFileName</key>
            <string>4046_0.png</string>
        </dict>
    </dict>
</plist>
