<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4047_0_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,448},{46,56}}</string>
                <key>offset</key>
                <string>{23,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{256,175},{46,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_0_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,400},{48,62}}</string>
                <key>offset</key>
                <string>{23,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{255,167},{48,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_0_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,448},{50,60}}</string>
                <key>offset</key>
                <string>{22,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,162},{50,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_0_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,236},{50,60}}</string>
                <key>offset</key>
                <string>{23,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{254,166},{50,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_0_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,448},{56,58}}</string>
                <key>offset</key>
                <string>{24,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,172},{56,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_0_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,168},{68,54}}</string>
                <key>offset</key>
                <string>{32,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{254,182},{68,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_0_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,286},{64,62}}</string>
                <key>offset</key>
                <string>{36,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{260,176},{64,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_0_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,384},{66,54}}</string>
                <key>offset</key>
                <string>{37,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{260,176},{66,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_0_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,264},{70,50}}</string>
                <key>offset</key>
                <string>{34,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,180},{70,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_0_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,168},{72,46}}</string>
                <key>offset</key>
                <string>{33,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,183},{72,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_0_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,0},{84,54}}</string>
                <key>offset</key>
                <string>{22,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,200},{84,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_0_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,54},{82,54}}</string>
                <key>offset</key>
                <string>{27,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,193},{82,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_0_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,100},{82,50}}</string>
                <key>offset</key>
                <string>{32,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,198},{82,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_0_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,52},{84,48}}</string>
                <key>offset</key>
                <string>{25,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,198},{84,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_0_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{88,52}}</string>
                <key>offset</key>
                <string>{23,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,196},{88,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_0_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,198},{70,66}}</string>
                <key>offset</key>
                <string>{-1,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,198},{70,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_0_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,314},{68,56}}</string>
                <key>offset</key>
                <string>{5,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,201},{68,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_0_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,272},{68,56}}</string>
                <key>offset</key>
                <string>{9,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,205},{68,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_0_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,214},{70,58}}</string>
                <key>offset</key>
                <string>{2,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,199},{70,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_0_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,108},{74,60}}</string>
                <key>offset</key>
                <string>{0,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,196},{74,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_0_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,150},{48,74}}</string>
                <key>offset</key>
                <string>{-24,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,187},{48,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_0_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,350},{50,64}}</string>
                <key>offset</key>
                <string>{-24,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,195},{50,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_0_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,448},{48,56}}</string>
                <key>offset</key>
                <string>{-23,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,196},{48,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_0_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,370},{52,68}}</string>
                <key>offset</key>
                <string>{-23,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,188},{52,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_0_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,328},{56,68}}</string>
                <key>offset</key>
                <string>{-25,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,182},{56,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4047_0.png</string>
            <key>size</key>
            <string>{200,508}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8cad0472650e9b99f1702384e41fffc2:1/1$</string>
            <key>textureFileName</key>
            <string>4047_0.png</string>
        </dict>
    </dict>
</plist>
