<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4047_0_6_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,298},{80,90}}</string>
                <key>offset</key>
                <string>{21,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,184},{80,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_0_6_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,80},{78,88}}</string>
                <key>offset</key>
                <string>{16,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,188},{78,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_0_6_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,0},{80,94}}</string>
                <key>offset</key>
                <string>{17,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,188},{80,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_0_6_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,164},{70,82}}</string>
                <key>offset</key>
                <string>{38,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{259,168},{70,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_0_6_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,80},{60,88}}</string>
                <key>offset</key>
                <string>{33,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,165},{60,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_0_6_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,310},{68,78}}</string>
                <key>offset</key>
                <string>{-4,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,198},{68,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_0_6_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,372},{76,70}}</string>
                <key>offset</key>
                <string>{-5,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,196},{76,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_0_6_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,292},{76,80}}</string>
                <key>offset</key>
                <string>{-11,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,197},{76,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_0_6_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,388},{86,88}}</string>
                <key>offset</key>
                <string>{31,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,183},{86,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_0_6_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,98},{78,100}}</string>
                <key>offset</key>
                <string>{32,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,166},{78,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_0_6_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,448},{50,70}}</string>
                <key>offset</key>
                <string>{-30,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,188},{50,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_0_6_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,376},{52,72}}</string>
                <key>offset</key>
                <string>{-31,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,182},{52,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_0_6_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,428},{56,70}}</string>
                <key>offset</key>
                <string>{-35,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,187},{56,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_0_6_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,198},{100,76}}</string>
                <key>offset</key>
                <string>{6,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,199},{100,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_0_6_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{90,98}}</string>
                <key>offset</key>
                <string>{15,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,172},{90,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_0_6_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,232},{60,80}}</string>
                <key>offset</key>
                <string>{-35,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,162},{60,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_0_6_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,442},{54,76}}</string>
                <key>offset</key>
                <string>{-31,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,186},{54,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_0_6_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,246},{58,78}}</string>
                <key>offset</key>
                <string>{-33,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,187},{58,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_0_6_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,0},{98,80}}</string>
                <key>offset</key>
                <string>{-24,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,193},{98,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_0_6_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,80},{84,86}}</string>
                <key>offset</key>
                <string>{-20,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,191},{84,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_0_6_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,158},{86,74}}</string>
                <key>offset</key>
                <string>{-22,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,158},{86,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_0_6_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,234},{76,76}}</string>
                <key>offset</key>
                <string>{-13,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,168},{76,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_0_6_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,168},{78,78}}</string>
                <key>offset</key>
                <string>{-13,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,173},{78,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_0_6_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,304},{62,72}}</string>
                <key>offset</key>
                <string>{-34,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,186},{62,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_0_6_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,378},{64,74}}</string>
                <key>offset</key>
                <string>{-37,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,183},{64,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4047_0_6.png</string>
            <key>size</key>
            <string>{324,499}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4a3acff37067ccc3e4e6a46be2c6b936:1/1$</string>
            <key>textureFileName</key>
            <string>4047_0_6.png</string>
        </dict>
    </dict>
</plist>
