<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4047_0_1_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,0},{66,68}}</string>
                <key>offset</key>
                <string>{33,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{256,181},{66,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_0_1_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,188},{68,72}}</string>
                <key>offset</key>
                <string>{33,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{255,180},{68,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_0_1_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,190},{70,66}}</string>
                <key>offset</key>
                <string>{25,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,186},{70,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_0_1_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,150},{72,70}}</string>
                <key>offset</key>
                <string>{26,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,184},{72,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_0_1_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,76},{74,72}}</string>
                <key>offset</key>
                <string>{23,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,195},{74,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_0_1_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,158},{74,74}}</string>
                <key>offset</key>
                <string>{24,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,196},{74,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_0_1_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,80},{76,78}}</string>
                <key>offset</key>
                <string>{23,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,195},{76,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_0_1_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,0},{78,80}}</string>
                <key>offset</key>
                <string>{24,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,195},{78,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_0_1_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,88},{54,88}}</string>
                <key>offset</key>
                <string>{6,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,191},{54,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_0_1_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,0},{54,90}}</string>
                <key>offset</key>
                <string>{7,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,192},{54,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_0_1_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,96},{56,94}}</string>
                <key>offset</key>
                <string>{6,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,191},{56,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_0_1_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{58,96}}</string>
                <key>offset</key>
                <string>{7,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,191},{58,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_0_1_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,86},{50,82}}</string>
                <key>offset</key>
                <string>{-28,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,186},{50,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_0_1_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,86},{52,84}}</string>
                <key>offset</key>
                <string>{-28,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,187},{52,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_0_1_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,0},{54,88}}</string>
                <key>offset</key>
                <string>{-29,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,186},{54,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_0_1_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,96},{58,92}}</string>
                <key>offset</key>
                <string>{-30,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,184},{58,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_0_1_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,0},{76,76}}</string>
                <key>offset</key>
                <string>{-34,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,179},{76,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_0_1_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,168},{76,78}}</string>
                <key>offset</key>
                <string>{-35,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,180},{76,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_0_1_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,176},{80,84}}</string>
                <key>offset</key>
                <string>{-35,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,177},{80,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_0_1_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,0},{82,86}}</string>
                <key>offset</key>
                <string>{-36,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,177},{82,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4047_0_1.png</string>
            <key>size</key>
            <string>{468,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dc5b5e8f98643250333567003a5a5c01:1/1$</string>
            <key>textureFileName</key>
            <string>4047_0_1.png</string>
        </dict>
    </dict>
</plist>
