<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4047_1_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,0},{66,68}}</string>
                <key>offset</key>
                <string>{35,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{258,179},{66,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_1_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,188},{68,72}}</string>
                <key>offset</key>
                <string>{35,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{257,178},{68,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_1_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,190},{70,66}}</string>
                <key>offset</key>
                <string>{34,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,187},{70,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_1_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,150},{72,70}}</string>
                <key>offset</key>
                <string>{35,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,185},{72,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_1_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,76},{74,72}}</string>
                <key>offset</key>
                <string>{32,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{251,196},{74,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_1_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,158},{74,74}}</string>
                <key>offset</key>
                <string>{33,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,197},{74,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_1_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,80},{76,78}}</string>
                <key>offset</key>
                <string>{32,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,196},{76,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_1_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,0},{78,80}}</string>
                <key>offset</key>
                <string>{33,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,196},{78,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_1_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,88},{54,88}}</string>
                <key>offset</key>
                <string>{12,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,196},{54,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_1_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,0},{54,90}}</string>
                <key>offset</key>
                <string>{13,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,197},{54,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_1_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,96},{56,94}}</string>
                <key>offset</key>
                <string>{12,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,196},{56,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_1_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{58,96}}</string>
                <key>offset</key>
                <string>{13,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,196},{58,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_1_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,86},{50,82}}</string>
                <key>offset</key>
                <string>{-26,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,191},{50,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_1_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,86},{52,84}}</string>
                <key>offset</key>
                <string>{-26,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,192},{52,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_1_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,0},{54,88}}</string>
                <key>offset</key>
                <string>{-27,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,191},{54,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_1_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,96},{58,92}}</string>
                <key>offset</key>
                <string>{-27,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,189},{58,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_1_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,0},{76,76}}</string>
                <key>offset</key>
                <string>{-38,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,185},{76,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_1_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,168},{76,78}}</string>
                <key>offset</key>
                <string>{-39,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,186},{76,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_1_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,176},{80,84}}</string>
                <key>offset</key>
                <string>{-39,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,183},{80,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_1_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,0},{82,86}}</string>
                <key>offset</key>
                <string>{-40,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,183},{82,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4047_1.png</string>
            <key>size</key>
            <string>{468,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:54286b76f77fe4e06b69b4b186f83dfc:1/1$</string>
            <key>textureFileName</key>
            <string>4047_1.png</string>
        </dict>
    </dict>
</plist>
