<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4047_0_2_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,92},{50,88}}</string>
                <key>offset</key>
                <string>{7,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,176},{50,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_0_2_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,102},{16,2}}</string>
                <key>offset</key>
                <string>{-25,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,175},{16,2}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_0_2_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,104},{2,2}}</string>
                <key>offset</key>
                <string>{-18,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,175},{2,2}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_0_2_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,204},{58,70}}</string>
                <key>offset</key>
                <string>{12,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,115},{58,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_0_2_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,202},{60,84}}</string>
                <key>offset</key>
                <string>{11,113}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,101},{60,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_0_2_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,204},{64,68}}</string>
                <key>offset</key>
                <string>{-41,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,172},{64,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_0_2_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,0},{56,102}}</string>
                <key>offset</key>
                <string>{43,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{271,159},{56,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_0_2_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,0},{62,100}}</string>
                <key>offset</key>
                <string>{43,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{268,156},{62,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_0_2_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,208},{78,82}}</string>
                <key>offset</key>
                <string>{31,105}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{248,110},{78,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_0_2_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,0},{82,82}}</string>
                <key>offset</key>
                <string>{12,114}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,101},{82,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_0_2_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,0},{74,74}}</string>
                <key>offset</key>
                <string>{-68,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,153},{74,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_0_2_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,186},{82,90}}</string>
                <key>offset</key>
                <string>{58,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{273,180},{82,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_0_2_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,0},{68,94}}</string>
                <key>offset</key>
                <string>{50,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{272,173},{68,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_0_2_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,106},{102,90}}</string>
                <key>offset</key>
                <string>{26,96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,115},{102,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_0_2_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,102},{100,84}}</string>
                <key>offset</key>
                <string>{9,109}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,105},{100,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_0_2_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,0},{56,92}}</string>
                <key>offset</key>
                <string>{-55,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,121},{56,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_0_2_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,74},{74,72}}</string>
                <key>offset</key>
                <string>{32,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,217},{74,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_0_2_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,162},{66,78}}</string>
                <key>offset</key>
                <string>{38,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{261,210},{66,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_0_2_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,208},{78,84}}</string>
                <key>offset</key>
                <string>{15,86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,128},{78,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_0_2_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,94},{80,92}}</string>
                <key>offset</key>
                <string>{4,108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,102},{80,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_0_2_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{50,106}}</string>
                <key>offset</key>
                <string>{-13,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,102},{50,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_0_2_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,82},{52,76}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,216},{52,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_0_2_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,0},{54,74}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,213},{54,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_0_2_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,146},{58,74}}</string>
                <key>offset</key>
                <string>{-19,84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,135},{58,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_0_2_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,82},{60,80}}</string>
                <key>offset</key>
                <string>{-3,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,110},{60,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4047_0_2.png</string>
            <key>size</key>
            <string>{502,286}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:889fb451deaae409a7dc8ebec763fe4f:1/1$</string>
            <key>textureFileName</key>
            <string>4047_0_2.png</string>
        </dict>
    </dict>
</plist>
