<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4047_0_7_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,0},{54,92}}</string>
                <key>offset</key>
                <string>{22,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,143},{54,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_0_7_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,92},{52,92}}</string>
                <key>offset</key>
                <string>{1,131}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,79},{52,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_0_7_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,78},{66,68}}</string>
                <key>offset</key>
                <string>{-3,122}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,100},{66,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_0_7_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,0},{86,80}}</string>
                <key>offset</key>
                <string>{25,101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,115},{86,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_0_7_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,0},{74,94}}</string>
                <key>offset</key>
                <string>{34,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,156},{74,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_0_7_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,0},{58,92}}</string>
                <key>offset</key>
                <string>{24,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,151},{58,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_0_7_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,86},{58,84}}</string>
                <key>offset</key>
                <string>{5,130}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,84},{58,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_0_7_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,74},{54,70}}</string>
                <key>offset</key>
                <string>{-7,131}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,90},{54,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_0_7_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,82},{58,82}}</string>
                <key>offset</key>
                <string>{12,97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,118},{58,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_0_7_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,0},{80,100}}</string>
                <key>offset</key>
                <string>{18,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,161},{80,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_0_7_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,94},{50,78}}</string>
                <key>offset</key>
                <string>{-4,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,161},{50,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_0_7_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,0},{52,94}}</string>
                <key>offset</key>
                <string>{-20,129}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,80},{52,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_0_7_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,0},{54,74}}</string>
                <key>offset</key>
                <string>{-7,129}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,90},{54,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_0_7_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,86},{58,84}}</string>
                <key>offset</key>
                <string>{-8,99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,115},{58,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_0_7_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,0},{94,94}}</string>
                <key>offset</key>
                <string>{11,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,163},{94,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_0_7_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,0},{60,88}}</string>
                <key>offset</key>
                <string>{-24,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,155},{60,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_0_7_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,0},{76,92}}</string>
                <key>offset</key>
                <string>{-8,135}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,75},{76,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_0_7_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,0},{84,86}}</string>
                <key>offset</key>
                <string>{3,138}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,75},{84,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_0_7_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,0},{58,78}}</string>
                <key>offset</key>
                <string>{-25,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,118},{58,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_0_7_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{104,72}}</string>
                <key>offset</key>
                <string>{-36,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,175},{104,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_0_7_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,94},{50,84}}</string>
                <key>offset</key>
                <string>{-23,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,152},{50,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_0_7_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,92},{52,84}}</string>
                <key>offset</key>
                <string>{-6,136}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,78},{52,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_0_7_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,88},{54,82}}</string>
                <key>offset</key>
                <string>{6,135}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,80},{54,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_0_7_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,0},{58,78}}</string>
                <key>offset</key>
                <string>{-28,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,111},{58,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_0_7_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,0},{60,82}}</string>
                <key>offset</key>
                <string>{-18,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,124},{60,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4047_0_7.png</string>
            <key>size</key>
            <string>{1014,144}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fb272384023ac52fa0c80abb2d32c2ce:1/1$</string>
            <key>textureFileName</key>
            <string>4047_0_7.png</string>
        </dict>
    </dict>
</plist>
