<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4047_0_3_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,158},{50,68}}</string>
                <key>offset</key>
                <string>{27,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{258,172},{50,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_0_3_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,86},{76,72}}</string>
                <key>offset</key>
                <string>{29,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,176},{76,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_0_3_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{86,80}}</string>
                <key>offset</key>
                <string>{15,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,192},{86,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_0_3_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,208},{64,102}}</string>
                <key>offset</key>
                <string>{-2,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,185},{64,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_0_3_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,310},{60,110}}</string>
                <key>offset</key>
                <string>{-33,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,174},{60,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4047_0_3.png</string>
            <key>size</key>
            <string>{80,420}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:31e7a288cebb9c259691da462ff4bbbf:1/1$</string>
            <key>textureFileName</key>
            <string>4047_0_3.png</string>
        </dict>
    </dict>
</plist>
