<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4047_7_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,88},{54,86}}</string>
                <key>offset</key>
                <string>{30,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,149},{54,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_7_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,80},{52,80}}</string>
                <key>offset</key>
                <string>{9,132}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,84},{52,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_7_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,0},{66,68}}</string>
                <key>offset</key>
                <string>{-7,133}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,89},{66,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_7_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,184},{86,80}}</string>
                <key>offset</key>
                <string>{25,105}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,111},{86,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_7_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,92},{74,92}}</string>
                <key>offset</key>
                <string>{34,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,154},{74,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_7_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,164},{54,80}}</string>
                <key>offset</key>
                <string>{25,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,161},{54,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_7_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,0},{58,84}}</string>
                <key>offset</key>
                <string>{6,130}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,84},{58,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_7_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,134},{54,70}}</string>
                <key>offset</key>
                <string>{-6,131}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,90},{54,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_7_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,166},{58,82}}</string>
                <key>offset</key>
                <string>{13,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,118},{58,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_7_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{80,100}}</string>
                <key>offset</key>
                <string>{19,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,161},{80,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_7_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,188},{50,78}}</string>
                <key>offset</key>
                <string>{-3,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,161},{50,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_7_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,184},{52,88}}</string>
                <key>offset</key>
                <string>{-19,132}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,80},{52,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_7_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,80},{54,70}}</string>
                <key>offset</key>
                <string>{-6,132}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,89},{54,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_7_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,0},{58,82}}</string>
                <key>offset</key>
                <string>{-7,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,116},{58,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_7_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,100},{94,92}}</string>
                <key>offset</key>
                <string>{12,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,162},{94,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_7_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,0},{60,88}}</string>
                <key>offset</key>
                <string>{-24,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,155},{60,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_7_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,0},{74,92}}</string>
                <key>offset</key>
                <string>{-13,142}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,68},{74,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_7_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,194},{82,86}}</string>
                <key>offset</key>
                <string>{0,145}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,68},{82,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_7_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,188},{58,78}}</string>
                <key>offset</key>
                <string>{-32,103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,114},{58,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_7_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,100},{98,40}}</string>
                <key>offset</key>
                <string>{-38,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,186},{98,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_7_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,0},{50,80}}</string>
                <key>offset</key>
                <string>{-25,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,150},{50,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_7_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,82},{52,82}}</string>
                <key>offset</key>
                <string>{-11,147}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,68},{52,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_7_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,0},{54,80}}</string>
                <key>offset</key>
                <string>{4,148}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,68},{54,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_7_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,198},{58,78}}</string>
                <key>offset</key>
                <string>{-32,112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,105},{58,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_7_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,84},{60,82}}</string>
                <key>offset</key>
                <string>{-19,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,123},{60,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4047_7.png</string>
            <key>size</key>
            <string>{500,276}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1144d3ce79b8b90f7b7f2725e69e1a81:1/1$</string>
            <key>textureFileName</key>
            <string>4047_7.png</string>
        </dict>
    </dict>
</plist>
