<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4047_2_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,68},{50,70}}</string>
                <key>offset</key>
                <string>{5,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,200},{50,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_2_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,62},{2,2}}</string>
                <key>offset</key>
                <string>{-18,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,175},{2,2}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_2_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,80},{2,2}}</string>
                <key>offset</key>
                <string>{-18,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,175},{2,2}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_2_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,68},{58,70}}</string>
                <key>offset</key>
                <string>{14,103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,118},{58,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_2_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,78},{60,84}}</string>
                <key>offset</key>
                <string>{13,109}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,105},{60,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_2_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,0},{64,68}}</string>
                <key>offset</key>
                <string>{-47,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,196},{64,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_2_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,82},{56,98}}</string>
                <key>offset</key>
                <string>{47,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{275,164},{56,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_2_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,0},{62,100}}</string>
                <key>offset</key>
                <string>{48,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{273,156},{62,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_2_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,0},{72,78}}</string>
                <key>offset</key>
                <string>{23,109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,108},{72,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_2_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,0},{82,78}}</string>
                <key>offset</key>
                <string>{6,118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,99},{82,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_2_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,0},{72,68}}</string>
                <key>offset</key>
                <string>{-73,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,174},{72,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_2_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,0},{80,88}}</string>
                <key>offset</key>
                <string>{65,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{281,189},{80,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_2_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,0},{64,94}}</string>
                <key>offset</key>
                <string>{48,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{272,175},{64,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_2_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{100,88}}</string>
                <key>offset</key>
                <string>{17,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,107},{100,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_2_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,0},{92,82}}</string>
                <key>offset</key>
                <string>{-3,116}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,99},{92,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_2_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,80},{58,84}}</string>
                <key>offset</key>
                <string>{-55,77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,137},{58,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_2_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,68},{66,72}}</string>
                <key>offset</key>
                <string>{44,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{267,230},{66,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_2_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,0},{68,82}}</string>
                <key>offset</key>
                <string>{39,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{261,207},{68,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_2_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,62},{76,80}}</string>
                <key>offset</key>
                <string>{2,96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,120},{76,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_2_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,0},{62,84}}</string>
                <key>offset</key>
                <string>{-5,116}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,98},{62,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_2_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,88},{50,100}}</string>
                <key>offset</key>
                <string>{-19,90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,116},{50,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_2_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,62},{52,76}}</string>
                <key>offset</key>
                <string>{9,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,232},{52,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_2_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,64},{54,74}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,217},{54,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_2_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,64},{58,74}}</string>
                <key>offset</key>
                <string>{-18,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,123},{58,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4047_2_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,78},{60,78}}</string>
                <key>offset</key>
                <string>{-4,118}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,99},{60,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4047_2.png</string>
            <key>size</key>
            <string>{932,138}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:98edc26cb0ce27acad5d2013afa6f449:1/1$</string>
            <key>textureFileName</key>
            <string>4047_2.png</string>
        </dict>
    </dict>
</plist>
