<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4048_2_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,158},{94,142}}</string>
                <key>offset</key>
                <string>{-10,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,194},{94,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4048_2_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,260},{2,2}}</string>
                <key>offset</key>
                <string>{-19,83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,172},{2,2}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4048_2_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,260},{2,2}}</string>
                <key>offset</key>
                <string>{-14,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,166},{2,2}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4048_2_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,0},{72,152}}</string>
                <key>offset</key>
                <string>{5,145}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,35},{72,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4048_2_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,158},{70,106}}</string>
                <key>offset</key>
                <string>{4,136}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,67},{70,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4048_2_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,150},{142,114}}</string>
                <key>offset</key>
                <string>{-76,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,194},{142,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4048_2_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,152},{90,70}}</string>
                <key>offset</key>
                <string>{58,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{269,179},{90,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4048_2_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,164},{100,72}}</string>
                <key>offset</key>
                <string>{61,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{267,179},{100,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4048_2_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,0},{64,156}}</string>
                <key>offset</key>
                <string>{21,136}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,42},{64,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4048_2_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,0},{80,142}}</string>
                <key>offset</key>
                <string>{-3,140}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,45},{80,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4048_2_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,0},{130,86}}</string>
                <key>offset</key>
                <string>{-100,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,171},{130,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4048_2_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,0},{150,72}}</string>
                <key>offset</key>
                <string>{94,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{275,213},{150,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4048_2_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,0},{150,82}}</string>
                <key>offset</key>
                <string>{85,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{266,204},{150,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4048_2_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,0},{80,158}}</string>
                <key>offset</key>
                <string>{30,129}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,48},{80,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4048_2_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,0},{84,158}}</string>
                <key>offset</key>
                <string>{-8,142}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,35},{84,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4048_2_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,80},{72,76}}</string>
                <key>offset</key>
                <string>{-68,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,145},{72,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4048_2_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,164},{96,134}}</string>
                <key>offset</key>
                <string>{62,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{270,228},{96,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4048_2_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,146},{128,118}}</string>
                <key>offset</key>
                <string>{63,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,212},{128,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4048_2_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,0},{86,146}}</string>
                <key>offset</key>
                <string>{15,123}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,60},{86,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4048_2_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{82,164}}</string>
                <key>offset</key>
                <string>{-13,146}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,28},{82,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4048_2_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,0},{80,72}}</string>
                <key>offset</key>
                <string>{-26,88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,132},{80,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4048_2_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,142},{78,120}}</string>
                <key>offset</key>
                <string>{15,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,233},{78,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4048_2_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,136},{80,126}}</string>
                <key>offset</key>
                <string>{-5,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,213},{80,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4048_2_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,0},{74,136}}</string>
                <key>offset</key>
                <string>{-10,123}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,65},{74,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4048_2_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,0},{74,158}}</string>
                <key>offset</key>
                <string>{-8,149}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,28},{74,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4048_2.png</string>
            <key>size</key>
            <string>{1008,264}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5ebb65ef36ccce112e5e574966ff709f:1/1$</string>
            <key>textureFileName</key>
            <string>4048_2.png</string>
        </dict>
    </dict>
</plist>
