<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4048_1_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,132},{132,78}}</string>
                <key>offset</key>
                <string>{67,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{257,192},{132,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4048_1_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,132},{132,80}}</string>
                <key>offset</key>
                <string>{67,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{257,190},{132,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4048_1_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,0},{132,78}}</string>
                <key>offset</key>
                <string>{66,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{256,192},{132,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4048_1_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,0},{132,80}}</string>
                <key>offset</key>
                <string>{67,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{257,192},{132,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4048_1_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,140},{140,110}}</string>
                <key>offset</key>
                <string>{63,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,200},{140,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4048_1_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,0},{142,110}}</string>
                <key>offset</key>
                <string>{62,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{247,199},{142,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4048_1_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,0},{142,110}}</string>
                <key>offset</key>
                <string>{62,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{247,199},{142,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4048_1_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,0},{140,112}}</string>
                <key>offset</key>
                <string>{62,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{248,200},{140,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4048_1_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,134},{84,132}}</string>
                <key>offset</key>
                <string>{20,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,197},{84,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4048_1_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,0},{88,136}}</string>
                <key>offset</key>
                <string>{22,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,197},{88,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4048_1_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,136},{90,132}}</string>
                <key>offset</key>
                <string>{20,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,198},{90,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4048_1_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,0},{76,134}}</string>
                <key>offset</key>
                <string>{22,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,196},{76,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4048_1_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,0},{86,144}}</string>
                <key>offset</key>
                <string>{-35,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,194},{86,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4048_1_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,0},{72,144}}</string>
                <key>offset</key>
                <string>{-32,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,194},{72,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4048_1_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,0},{74,144}}</string>
                <key>offset</key>
                <string>{-30,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,194},{74,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4048_1_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{74,146}}</string>
                <key>offset</key>
                <string>{-33,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,193},{74,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4048_1_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,142},{134,122}}</string>
                <key>offset</key>
                <string>{-66,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,188},{134,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4048_1_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,146},{134,122}}</string>
                <key>offset</key>
                <string>{-66,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,188},{134,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4048_1_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,144},{132,124}}</string>
                <key>offset</key>
                <string>{-65,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,187},{132,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4048_1_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,144},{134,124}}</string>
                <key>offset</key>
                <string>{-66,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,187},{134,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4048_1.png</string>
            <key>size</key>
            <string>{1006,268}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:949aab75a8060cd71ae5b359ea3ddb47:1/1$</string>
            <key>textureFileName</key>
            <string>4048_1.png</string>
        </dict>
    </dict>
</plist>
