<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4049_0_8_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,504},{134,100}}</string>
                <key>offset</key>
                <string>{24,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,146},{134,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_0_8_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,362},{142,96}}</string>
                <key>offset</key>
                <string>{-31,112}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,96},{142,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_0_8_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,486},{138,84}}</string>
                <key>offset</key>
                <string>{78,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{265,176},{138,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_0_8_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,86},{114,78}}</string>
                <key>offset</key>
                <string>{15,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,152},{114,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_0_8_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{152,106}}</string>
                <key>offset</key>
                <string>{72,84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,119},{152,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_0_8_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,318},{94,116}}</string>
                <key>offset</key>
                <string>{-16,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,138},{94,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_0_8_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,188},{106,130}}</string>
                <key>offset</key>
                <string>{17,112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,79},{106,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_0_8_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,106},{152,98}}</string>
                <key>offset</key>
                <string>{74,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,206},{152,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_0_8_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,542},{92,98}}</string>
                <key>offset</key>
                <string>{-35,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,163},{92,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_0_8_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,312},{114,92}}</string>
                <key>offset</key>
                <string>{25,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,144},{114,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_0_8_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,200},{124,102}}</string>
                <key>offset</key>
                <string>{-52,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,140},{124,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_0_8_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,412},{102,130}}</string>
                <key>offset</key>
                <string>{64,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{269,97},{102,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_0_8_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,188},{110,124}}</string>
                <key>offset</key>
                <string>{32,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,213},{110,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_0_8_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,346},{140,86}}</string>
                <key>offset</key>
                <string>{-56,74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,139},{140,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_0_8_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,0},{66,46}}</string>
                <key>offset</key>
                <string>{-38,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,183},{66,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_0_8_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,0},{164,86}}</string>
                <key>offset</key>
                <string>{-50,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,128},{164,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_0_8_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,86},{144,102}}</string>
                <key>offset</key>
                <string>{71,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,135},{144,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_0_8_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,426},{92,130}}</string>
                <key>offset</key>
                <string>{-37,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,207},{92,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_0_8_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,204},{158,92}}</string>
                <key>offset</key>
                <string>{-51,99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,111},{158,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_0_8_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,556},{124,80}}</string>
                <key>offset</key>
                <string>{-74,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,139},{124,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_0_8_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,440},{128,84}}</string>
                <key>offset</key>
                <string>{-21,104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,110},{128,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_0_8_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,0},{146,86}}</string>
                <key>offset</key>
                <string>{34,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,157},{146,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_0_8_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,86},{138,102}}</string>
                <key>offset</key>
                <string>{-77,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,200},{138,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_0_8_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,324},{112,116}}</string>
                <key>offset</key>
                <string>{-23,113}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,85},{112,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_0_8_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,204},{142,94}}</string>
                <key>offset</key>
                <string>{-65,96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,113},{142,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4049_0_8.png</string>
            <key>size</key>
            <string>{512,638}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a67fba0076f24788eb1ae70502c20eed:1/1$</string>
            <key>textureFileName</key>
            <string>4049_0_8.png</string>
        </dict>
    </dict>
</plist>
