<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4049_0_2_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,158},{64,150}}</string>
                <key>offset</key>
                <string>{12,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,172},{64,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_0_2_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,320},{2,2}}</string>
                <key>offset</key>
                <string>{-20,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,174},{2,2}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_0_2_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,320},{2,2}}</string>
                <key>offset</key>
                <string>{-13,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,166},{2,2}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_0_2_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,0},{66,140}}</string>
                <key>offset</key>
                <string>{8,131}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,55},{66,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_0_2_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,148},{80,146}}</string>
                <key>offset</key>
                <string>{7,143}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,40},{80,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_0_2_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,0},{118,136}}</string>
                <key>offset</key>
                <string>{-56,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,172},{118,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_0_2_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,238},{92,84}}</string>
                <key>offset</key>
                <string>{57,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{267,171},{92,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_0_2_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,74},{98,74}}</string>
                <key>offset</key>
                <string>{60,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{267,182},{98,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_0_2_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,0},{86,158}}</string>
                <key>offset</key>
                <string>{28,130}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,47},{86,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_0_2_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,0},{92,144}}</string>
                <key>offset</key>
                <string>{-3,133}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,51},{92,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_0_2_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,142},{142,100}}</string>
                <key>offset</key>
                <string>{-92,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,162},{142,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_0_2_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,148},{148,98}}</string>
                <key>offset</key>
                <string>{85,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{267,189},{148,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_0_2_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,144},{142,104}}</string>
                <key>offset</key>
                <string>{83,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{268,184},{142,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_0_2_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,166},{104,156}}</string>
                <key>offset</key>
                <string>{25,120}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,58},{104,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_0_2_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,162},{104,158}}</string>
                <key>offset</key>
                <string>{-11,133}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,44},{104,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_0_2_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,136},{136,88}}</string>
                <key>offset</key>
                <string>{-60,75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,137},{136,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_0_2_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,0},{102,142}}</string>
                <key>offset</key>
                <string>{56,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{261,209},{102,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_0_2_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,140},{128,138}}</string>
                <key>offset</key>
                <string>{65,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{257,193},{128,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_0_2_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,0},{98,148}}</string>
                <key>offset</key>
                <string>{5,112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,70},{98,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_0_2_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,0},{90,162}}</string>
                <key>offset</key>
                <string>{-11,134}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,41},{90,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_0_2_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,0},{104,74}}</string>
                <key>offset</key>
                <string>{9,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,138},{104,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_0_2_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,148},{90,130}}</string>
                <key>offset</key>
                <string>{17,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,216},{90,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_0_2_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,0},{88,134}}</string>
                <key>offset</key>
                <string>{5,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,208},{88,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_0_2_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,0},{92,148}}</string>
                <key>offset</key>
                <string>{-15,116}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,66},{92,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_0_2_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{76,166}}</string>
                <key>offset</key>
                <string>{-1,141}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,32},{76,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4049_0_2.png</string>
            <key>size</key>
            <string>{1012,322}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:882bf280bcb64b60991acaadd3b73f55:1/1$</string>
            <key>textureFileName</key>
            <string>4049_0_2.png</string>
        </dict>
    </dict>
</plist>
