<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4049_2_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,150},{88,142}}</string>
                <key>offset</key>
                <string>{-12,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,194},{88,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_2_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,290},{2,2}}</string>
                <key>offset</key>
                <string>{-19,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,174},{2,2}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_2_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,290},{2,2}}</string>
                <key>offset</key>
                <string>{-13,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,167},{2,2}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_2_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,0},{70,154}}</string>
                <key>offset</key>
                <string>{9,144}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,35},{70,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_2_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,154},{64,124}}</string>
                <key>offset</key>
                <string>{11,144}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,50},{64,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_2_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,146},{144,114}}</string>
                <key>offset</key>
                <string>{-75,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,196},{144,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_2_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,0},{92,80}}</string>
                <key>offset</key>
                <string>{58,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{268,175},{92,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_2_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,184},{100,72}}</string>
                <key>offset</key>
                <string>{61,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{267,179},{100,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_2_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,0},{74,156}}</string>
                <key>offset</key>
                <string>{28,136}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,42},{74,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_2_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,150},{88,142}}</string>
                <key>offset</key>
                <string>{-5,139}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,46},{88,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_2_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,162},{130,90}}</string>
                <key>offset</key>
                <string>{-100,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,171},{130,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_2_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,0},{150,92}}</string>
                <key>offset</key>
                <string>{94,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{275,199},{150,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_2_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,0},{150,98}}</string>
                <key>offset</key>
                <string>{85,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{266,188},{150,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_2_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,0},{106,158}}</string>
                <key>offset</key>
                <string>{24,130}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,47},{106,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_2_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,0},{96,156}}</string>
                <key>offset</key>
                <string>{-13,142}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,36},{96,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_2_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,80},{104,86}}</string>
                <key>offset</key>
                <string>{-47,68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,145},{104,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_2_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,156},{96,136}}</string>
                <key>offset</key>
                <string>{64,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{272,226},{96,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_2_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,158},{126,122}}</string>
                <key>offset</key>
                <string>{64,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{257,208},{126,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_2_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,0},{110,146}}</string>
                <key>offset</key>
                <string>{8,124}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,59},{110,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_2_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{94,162}}</string>
                <key>offset</key>
                <string>{-19,146}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,29},{94,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_2_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,184},{104,66}}</string>
                <key>offset</key>
                <string>{-2,80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,143},{104,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_2_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,0},{90,122}}</string>
                <key>offset</key>
                <string>{13,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,232},{90,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_2_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,162},{88,128}}</string>
                <key>offset</key>
                <string>{-2,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,211},{88,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_2_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,156},{96,136}}</string>
                <key>offset</key>
                <string>{-19,123}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,65},{96,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_2_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,0},{78,156}}</string>
                <key>offset</key>
                <string>{-8,149}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,29},{78,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4049_2.png</string>
            <key>size</key>
            <string>{1000,292}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7a5ae2b4b41bc286dbe766be17c6681b:1/1$</string>
            <key>textureFileName</key>
            <string>4049_2.png</string>
        </dict>
    </dict>
</plist>
