<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4049_3_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,406},{74,68}}</string>
                <key>offset</key>
                <string>{25,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,178},{74,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_3_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,278},{128,88}}</string>
                <key>offset</key>
                <string>{45,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,183},{128,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_3_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,128},{150,102}}</string>
                <key>offset</key>
                <string>{32,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,189},{150,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_3_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{106,128}}</string>
                <key>offset</key>
                <string>{7,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,184},{106,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_3_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,474},{68,142}}</string>
                <key>offset</key>
                <string>{-28,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,170},{68,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4049_3.png</string>
            <key>size</key>
            <string>{106,616}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5e2332d39d739628c8d2398728b658da:1/1$</string>
            <key>textureFileName</key>
            <string>4049_3.png</string>
        </dict>
    </dict>
</plist>
