<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4049_0_0_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,478},{56,80}}</string>
                <key>offset</key>
                <string>{22,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,140},{56,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_0_0_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,506},{70,112}}</string>
                <key>offset</key>
                <string>{21,88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,112},{70,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_0_0_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,362},{64,116}}</string>
                <key>offset</key>
                <string>{19,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,103},{64,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_0_0_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,300},{62,110}}</string>
                <key>offset</key>
                <string>{25,91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{250,110},{62,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_0_0_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,206},{58,92}}</string>
                <key>offset</key>
                <string>{20,83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,127},{58,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_0_0_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,94},{124,112}}</string>
                <key>offset</key>
                <string>{61,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,126},{124,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_0_0_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,102},{124,108}}</string>
                <key>offset</key>
                <string>{64,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{258,124},{124,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_0_0_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,466},{122,114}}</string>
                <key>offset</key>
                <string>{70,86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{265,113},{122,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_0_0_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,376},{130,114}}</string>
                <key>offset</key>
                <string>{68,85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{259,114},{130,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_0_0_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,210},{126,116}}</string>
                <key>offset</key>
                <string>{63,80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{256,118},{126,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_0_0_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,0},{164,94}}</string>
                <key>offset</key>
                <string>{64,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,169},{164,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_0_0_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,210},{166,96}}</string>
                <key>offset</key>
                <string>{67,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,159},{166,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_0_0_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,106},{164,104}}</string>
                <key>offset</key>
                <string>{74,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,142},{164,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_0_0_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{166,106}}</string>
                <key>offset</key>
                <string>{75,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,147},{166,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_0_0_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,0},{166,102}}</string>
                <key>offset</key>
                <string>{68,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,154},{166,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_0_0_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,210},{128,106}}</string>
                <key>offset</key>
                <string>{35,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,185},{128,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_0_0_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,462},{126,98}}</string>
                <key>offset</key>
                <string>{34,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,178},{126,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_0_0_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,206},{124,94}}</string>
                <key>offset</key>
                <string>{38,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,172},{124,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_0_0_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,338},{128,104}}</string>
                <key>offset</key>
                <string>{36,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,170},{128,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_0_0_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,336},{126,114}}</string>
                <key>offset</key>
                <string>{35,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,171},{126,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_0_0_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,102},{66,96}}</string>
                <key>offset</key>
                <string>{-15,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,188},{66,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_0_0_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,298},{58,88}}</string>
                <key>offset</key>
                <string>{-22,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,184},{58,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_0_0_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,466},{50,72}}</string>
                <key>offset</key>
                <string>{-25,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,191},{50,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_0_0_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,386},{56,80}}</string>
                <key>offset</key>
                <string>{-20,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,186},{56,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_0_0_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,478},{62,92}}</string>
                <key>offset</key>
                <string>{-17,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,187},{62,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4049_0_0.png</string>
            <key>size</key>
            <string>{500,588}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c40b1c012919eea0b934ca274c88c7f0:1/1$</string>
            <key>textureFileName</key>
            <string>4049_0_0.png</string>
        </dict>
    </dict>
</plist>
