<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4049_0_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,846},{48,78}}</string>
                <key>offset</key>
                <string>{29,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{261,147},{48,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_0_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,240},{68,110}}</string>
                <key>offset</key>
                <string>{24,85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{246,116},{68,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_0_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,292},{70,116}}</string>
                <key>offset</key>
                <string>{21,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,109},{70,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_0_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,526},{60,110}}</string>
                <key>offset</key>
                <string>{29,87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,114},{60,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_0_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,428},{54,94}}</string>
                <key>offset</key>
                <string>{29,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{258,131},{54,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_0_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,876},{124,112}}</string>
                <key>offset</key>
                <string>{61,68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{255,132},{124,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_0_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,614},{122,100}}</string>
                <key>offset</key>
                <string>{66,75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{261,131},{122,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_0_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,122},{118,110}}</string>
                <key>offset</key>
                <string>{66,81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{263,120},{118,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_0_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,308},{120,108}}</string>
                <key>offset</key>
                <string>{64,81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{260,121},{120,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_0_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,0},{122,110}}</string>
                <key>offset</key>
                <string>{60,75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{255,126},{122,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_0_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,200},{164,92}}</string>
                <key>offset</key>
                <string>{60,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,175},{164,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_0_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,292},{166,88}}</string>
                <key>offset</key>
                <string>{69,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,166},{166,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_0_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,458},{162,92}}</string>
                <key>offset</key>
                <string>{71,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{246,150},{162,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_0_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,102},{164,98}}</string>
                <key>offset</key>
                <string>{63,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,148},{164,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_0_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{164,102}}</string>
                <key>offset</key>
                <string>{60,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,157},{164,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_0_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,620},{130,104}}</string>
                <key>offset</key>
                <string>{30,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,191},{130,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_0_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,428},{126,98}}</string>
                <key>offset</key>
                <string>{35,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,184},{126,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_0_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,526},{122,88}}</string>
                <key>offset</key>
                <string>{38,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,178},{122,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_0_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,736},{124,98}}</string>
                <key>offset</key>
                <string>{29,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,175},{124,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_0_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,750},{126,106}}</string>
                <key>offset</key>
                <string>{27,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,178},{126,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_0_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,636},{58,110}}</string>
                <key>offset</key>
                <string>{-21,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,190},{58,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_0_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,860},{60,94}}</string>
                <key>offset</key>
                <string>{-23,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,190},{60,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_0_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,944},{62,78}}</string>
                <key>offset</key>
                <string>{-22,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,194},{62,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_0_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,860},{54,84}}</string>
                <key>offset</key>
                <string>{-22,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,188},{54,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4049_0_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,746},{60,100}}</string>
                <key>offset</key>
                <string>{-21,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,190},{60,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4049_0.png</string>
            <key>size</key>
            <string>{274,1006}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9697056da0f603a7e2f7322d5abb2de4:1/1$</string>
            <key>textureFileName</key>
            <string>4049_0.png</string>
        </dict>
    </dict>
</plist>
