<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4050_6_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,148},{126,80}}</string>
                <key>offset</key>
                <string>{34,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,199},{126,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4050_6_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{126,94}}</string>
                <key>offset</key>
                <string>{24,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,196},{126,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4050_6_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,0},{120,96}}</string>
                <key>offset</key>
                <string>{28,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,196},{120,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4050_6_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,274},{84,52}}</string>
                <key>offset</key>
                <string>{44,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{258,183},{84,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4050_6_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,214},{82,60}}</string>
                <key>offset</key>
                <string>{42,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{257,181},{82,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4050_6_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,372},{74,110}}</string>
                <key>offset</key>
                <string>{5,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,190},{74,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4050_6_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,178},{58,120}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,185},{58,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4050_6_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,96},{82,120}}</string>
                <key>offset</key>
                <string>{-12,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,185},{82,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4050_6_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,236},{132,74}}</string>
                <key>offset</key>
                <string>{47,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,193},{132,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4050_6_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,362},{130,60}}</string>
                <key>offset</key>
                <string>{42,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,202},{130,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4050_6_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,372},{62,110}}</string>
                <key>offset</key>
                <string>{-33,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,187},{62,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4050_6_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,296},{66,120}}</string>
                <key>offset</key>
                <string>{-37,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,178},{66,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4050_6_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,378},{58,118}}</string>
                <key>offset</key>
                <string>{-34,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,183},{58,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4050_6_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,94},{126,92}}</string>
                <key>offset</key>
                <string>{18,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,195},{126,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4050_6_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,280},{112,98}}</string>
                <key>offset</key>
                <string>{20,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,192},{112,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4050_6_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,378},{118,88}}</string>
                <key>offset</key>
                <string>{-46,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,180},{118,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4050_6_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,0},{122,88}}</string>
                <key>offset</key>
                <string>{-44,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,179},{122,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4050_6_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,186},{118,94}}</string>
                <key>offset</key>
                <string>{-44,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,177},{118,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4050_6_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,326},{52,114}}</string>
                <key>offset</key>
                <string>{-16,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,186},{52,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4050_6_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,228},{68,120}}</string>
                <key>offset</key>
                <string>{-26,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,181},{68,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4050_6_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,310},{130,62}}</string>
                <key>offset</key>
                <string>{-35,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,180},{130,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4050_6_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,362},{126,56}}</string>
                <key>offset</key>
                <string>{-31,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,187},{126,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4050_6_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,88},{122,60}}</string>
                <key>offset</key>
                <string>{-29,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,185},{122,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4050_6_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,0},{86,104}}</string>
                <key>offset</key>
                <string>{-47,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,179},{86,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4050_6_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,104},{82,110}}</string>
                <key>offset</key>
                <string>{-44,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,175},{82,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4050_6.png</string>
            <key>size</key>
            <string>{454,501}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:19db8d0b092614b66f76a4e86e58a467:1/1$</string>
            <key>textureFileName</key>
            <string>4050_6.png</string>
        </dict>
    </dict>
</plist>
