<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4050_0_0_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,932},{56,72}}</string>
                <key>offset</key>
                <string>{21,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,152},{56,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4050_0_0_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,628},{54,106}}</string>
                <key>offset</key>
                <string>{23,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,134},{54,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4050_0_0_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,666},{54,102}}</string>
                <key>offset</key>
                <string>{25,87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,118},{54,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4050_0_0_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,734},{54,94}}</string>
                <key>offset</key>
                <string>{26,83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,126},{54,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4050_0_0_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,768},{54,84}}</string>
                <key>offset</key>
                <string>{23,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,133},{54,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4050_0_0_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,528},{102,68}}</string>
                <key>offset</key>
                <string>{43,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{248,168},{102,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4050_0_0_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,252},{104,90}}</string>
                <key>offset</key>
                <string>{46,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,139},{104,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4050_0_0_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{106,112}}</string>
                <key>offset</key>
                <string>{56,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{259,138},{106,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4050_0_0_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,140},{112,96}}</string>
                <key>offset</key>
                <string>{58,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{258,147},{112,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4050_0_0_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,738},{102,70}}</string>
                <key>offset</key>
                <string>{46,67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{251,154},{102,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4050_0_0_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,244},{138,66}}</string>
                <key>offset</key>
                <string>{38,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,188},{138,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4050_0_0_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,382},{138,60}}</string>
                <key>offset</key>
                <string>{42,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,189},{138,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4050_0_0_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,420},{138,56}}</string>
                <key>offset</key>
                <string>{50,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,178},{138,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4050_0_0_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,106},{138,80}}</string>
                <key>offset</key>
                <string>{51,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,187},{138,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4050_0_0_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,0},{140,72}}</string>
                <key>offset</key>
                <string>{42,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,183},{140,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4050_0_0_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,342},{112,78}}</string>
                <key>offset</key>
                <string>{18,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,193},{112,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4050_0_0_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,420},{108,66}}</string>
                <key>offset</key>
                <string>{18,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,200},{108,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4050_0_0_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,558},{108,54}}</string>
                <key>offset</key>
                <string>{23,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,199},{108,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4050_0_0_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,520},{108,58}}</string>
                <key>offset</key>
                <string>{22,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,200},{108,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4050_0_0_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,630},{108,70}}</string>
                <key>offset</key>
                <string>{18,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,197},{108,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4050_0_0_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,840},{62,92}}</string>
                <key>offset</key>
                <string>{-15,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,184},{62,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4050_0_0_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,918},{64,80}}</string>
                <key>offset</key>
                <string>{-14,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,191},{64,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4050_0_0_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,828},{54,76}}</string>
                <key>offset</key>
                <string>{-14,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,193},{54,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4050_0_0_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,852},{54,66}}</string>
                <key>offset</key>
                <string>{-14,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,196},{54,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4050_0_0_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,932},{56,86}}</string>
                <key>offset</key>
                <string>{-13,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,186},{56,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4050_0_0.png</string>
            <key>size</key>
            <string>{184,1018}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d461bc7b6216540e0b6404eef3471bb8:1/1$</string>
            <key>textureFileName</key>
            <string>4050_0_0.png</string>
        </dict>
    </dict>
</plist>
