<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4050_0_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,586},{46,70}}</string>
                <key>offset</key>
                <string>{25,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{258,154},{46,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4050_0_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,146},{50,114}}</string>
                <key>offset</key>
                <string>{25,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{256,134},{50,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4050_0_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,96},{50,104}}</string>
                <key>offset</key>
                <string>{25,82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{256,122},{50,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4050_0_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,334},{48,96}}</string>
                <key>offset</key>
                <string>{27,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,129},{48,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4050_0_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,430},{48,84}}</string>
                <key>offset</key>
                <string>{25,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{257,144},{48,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4050_0_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,326},{102,68}}</string>
                <key>offset</key>
                <string>{45,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,175},{102,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4050_0_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,394},{100,90}}</string>
                <key>offset</key>
                <string>{50,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{256,141},{100,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4050_0_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,0},{96,112}}</string>
                <key>offset</key>
                <string>{52,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{260,141},{96,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4050_0_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,334},{100,96}}</string>
                <key>offset</key>
                <string>{48,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,149},{100,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4050_0_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,196},{102,70}}</string>
                <key>offset</key>
                <string>{45,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,158},{102,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4050_0_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,72},{138,56}}</string>
                <key>offset</key>
                <string>{37,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,199},{138,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4050_0_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,206},{136,62}}</string>
                <key>offset</key>
                <string>{46,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,189},{136,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4050_0_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,268},{132,58}}</string>
                <key>offset</key>
                <string>{50,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,177},{132,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4050_0_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,128},{136,78}}</string>
                <key>offset</key>
                <string>{40,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,185},{136,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4050_0_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{138,72}}</string>
                <key>offset</key>
                <string>{37,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,193},{138,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4050_0_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,430},{100,74}}</string>
                <key>offset</key>
                <string>{10,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,199},{100,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4050_0_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,484},{100,62}}</string>
                <key>offset</key>
                <string>{18,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,204},{100,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4050_0_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,546},{98,56}}</string>
                <key>offset</key>
                <string>{21,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,199},{98,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4050_0_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,504},{100,56}}</string>
                <key>offset</key>
                <string>{12,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,195},{100,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4050_0_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,266},{102,68}}</string>
                <key>offset</key>
                <string>{10,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,197},{102,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4050_0_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,586},{56,90}}</string>
                <key>offset</key>
                <string>{-24,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,187},{56,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4050_0_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,602},{52,78}}</string>
                <key>offset</key>
                <string>{-20,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,193},{52,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4050_0_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,560},{46,74}}</string>
                <key>offset</key>
                <string>{-21,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,195},{46,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4050_0_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,514},{48,72}}</string>
                <key>offset</key>
                <string>{-25,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,188},{48,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4050_0_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,602},{46,84}}</string>
                <key>offset</key>
                <string>{-24,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,185},{46,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4050_0.png</string>
            <key>size</key>
            <string>{250,686}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d18c0c2476bca0e7bec492d7e39bd4db:1/1$</string>
            <key>textureFileName</key>
            <string>4050_0.png</string>
        </dict>
    </dict>
</plist>
