<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4050_0_1_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,204},{108,74}}</string>
                <key>offset</key>
                <string>{44,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,192},{108,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4050_0_1_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,354},{110,82}}</string>
                <key>offset</key>
                <string>{44,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,190},{110,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4050_0_1_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,64},{108,66}}</string>
                <key>offset</key>
                <string>{44,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,195},{108,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4050_0_1_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{108,64}}</string>
                <key>offset</key>
                <string>{44,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,197},{108,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4050_0_1_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,440},{116,88}}</string>
                <key>offset</key>
                <string>{34,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,197},{116,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4050_0_1_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,440},{118,88}}</string>
                <key>offset</key>
                <string>{34,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,196},{118,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4050_0_1_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,528},{116,96}}</string>
                <key>offset</key>
                <string>{34,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,196},{116,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4050_0_1_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,626},{116,100}}</string>
                <key>offset</key>
                <string>{34,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,196},{116,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4050_0_1_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,354},{86,116}}</string>
                <key>offset</key>
                <string>{15,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,189},{86,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4050_0_1_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,278},{76,114}}</string>
                <key>offset</key>
                <string>{11,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,190},{76,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4050_0_1_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,278},{76,116}}</string>
                <key>offset</key>
                <string>{10,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,189},{76,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4050_0_1_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,132},{70,118}}</string>
                <key>offset</key>
                <string>{7,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,188},{70,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4050_0_1_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,132},{72,108}}</string>
                <key>offset</key>
                <string>{-24,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,195},{72,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4050_0_1_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,202},{72,106}}</string>
                <key>offset</key>
                <string>{-23,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,197},{72,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4050_0_1_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,64},{68,108}}</string>
                <key>offset</key>
                <string>{-21,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,196},{68,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4050_0_1_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,0},{64,110}}</string>
                <key>offset</key>
                <string>{-20,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,193},{64,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4050_0_1_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,528},{106,98}}</string>
                <key>offset</key>
                <string>{-44,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,182},{106,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4050_0_1_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,722},{106,100}}</string>
                <key>offset</key>
                <string>{-44,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,181},{106,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4050_0_1_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,726},{118,100}}</string>
                <key>offset</key>
                <string>{-38,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,182},{118,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4050_0_1_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,624},{108,98}}</string>
                <key>offset</key>
                <string>{-45,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,182},{108,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4050_0_1.png</string>
            <key>size</key>
            <string>{234,826}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f1aa4d83400dffc6c1578c89fb82d283:1/1$</string>
            <key>textureFileName</key>
            <string>4050_0_1.png</string>
        </dict>
    </dict>
</plist>
