<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4050_3_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,58},{48,64}}</string>
                <key>offset</key>
                <string>{16,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,180},{48,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4050_3_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,0},{102,58}}</string>
                <key>offset</key>
                <string>{28,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,198},{102,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4050_3_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{128,74}}</string>
                <key>offset</key>
                <string>{13,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,196},{128,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4050_3_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,0},{96,112}}</string>
                <key>offset</key>
                <string>{-14,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,177},{96,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4050_3_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,0},{56,124}}</string>
                <key>offset</key>
                <string>{-31,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,164},{56,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4050_3.png</string>
            <key>size</key>
            <string>{328,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:21671b4df644eb1b972f74497342e228:1/1$</string>
            <key>textureFileName</key>
            <string>4050_3.png</string>
        </dict>
    </dict>
</plist>
