<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4051_0_7_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,0},{86,134}}</string>
                <key>offset</key>
                <string>{39,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,116},{86,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4051_0_7_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,134},{90,110}}</string>
                <key>offset</key>
                <string>{6,131}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,70},{90,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4051_0_7_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,132},{90,106}}</string>
                <key>offset</key>
                <string>{-14,132}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,71},{90,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4051_0_7_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,0},{62,132}}</string>
                <key>offset</key>
                <string>{32,115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{257,75},{62,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4051_0_7_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,0},{126,76}}</string>
                <key>offset</key>
                <string>{44,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,162},{126,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4051_0_7_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,0},{86,132}}</string>
                <key>offset</key>
                <string>{22,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,122},{86,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4051_0_7_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,0},{78,124}}</string>
                <key>offset</key>
                <string>{-4,131}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,63},{78,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4051_0_7_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,0},{74,126}}</string>
                <key>offset</key>
                <string>{-14,138}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,55},{74,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4051_0_7_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,0},{64,134}}</string>
                <key>offset</key>
                <string>{15,110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,79},{64,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4051_0_7_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{142,74}}</string>
                <key>offset</key>
                <string>{30,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,169},{142,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4051_0_7_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,142},{88,114}}</string>
                <key>offset</key>
                <string>{3,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,142},{88,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4051_0_7_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,0},{66,134}}</string>
                <key>offset</key>
                <string>{-12,137}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,52},{66,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4051_0_7_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,0},{70,132}}</string>
                <key>offset</key>
                <string>{-12,142}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,48},{70,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4051_0_7_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,66},{74,118}}</string>
                <key>offset</key>
                <string>{-8,107}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,90},{74,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4051_0_7_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,132},{88,64}}</string>
                <key>offset</key>
                <string>{-1,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,187},{88,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4051_0_7_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,134},{84,94}}</string>
                <key>offset</key>
                <string>{-16,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,150},{84,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4051_0_7_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,0},{72,128}}</string>
                <key>offset</key>
                <string>{-9,141}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,51},{72,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4051_0_7_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,0},{76,132}}</string>
                <key>offset</key>
                <string>{-2,149}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,41},{76,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4051_0_7_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,126},{76,104}}</string>
                <key>offset</key>
                <string>{-30,113}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,91},{76,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4051_0_7_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,140},{82,66}}</string>
                <key>offset</key>
                <string>{-36,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,177},{82,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4051_0_7_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,140},{70,80}}</string>
                <key>offset</key>
                <string>{-21,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,145},{70,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4051_0_7_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,128},{86,118}}</string>
                <key>offset</key>
                <string>{7,146}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,51},{86,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4051_0_7_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,132},{88,112}}</string>
                <key>offset</key>
                <string>{14,147}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,53},{88,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4051_0_7_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,128},{62,100}}</string>
                <key>offset</key>
                <string>{-28,119}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,87},{62,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4051_0_7_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,0},{120,66}}</string>
                <key>offset</key>
                <string>{-44,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,162},{120,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4051_0_7.png</string>
            <key>size</key>
            <string>{1004,230}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:115493f8a3bbb17adbb5f3e0b531aa07:1/1$</string>
            <key>textureFileName</key>
            <string>4051_0_7.png</string>
        </dict>
    </dict>
</plist>
