<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4051_0_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,332},{46,70}}</string>
                <key>offset</key>
                <string>{25,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{258,154},{46,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4051_0_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,198},{50,114}}</string>
                <key>offset</key>
                <string>{25,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{256,134},{50,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4051_0_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,336},{50,104}}</string>
                <key>offset</key>
                <string>{25,82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{256,122},{50,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4051_0_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,100},{48,96}}</string>
                <key>offset</key>
                <string>{27,79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{259,129},{48,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4051_0_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,252},{48,84}}</string>
                <key>offset</key>
                <string>{25,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{257,144},{48,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4051_0_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,342},{102,80}}</string>
                <key>offset</key>
                <string>{45,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{250,168},{102,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4051_0_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,248},{100,94}}</string>
                <key>offset</key>
                <string>{50,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{256,141},{100,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4051_0_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,86},{104,112}}</string>
                <key>offset</key>
                <string>{48,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,141},{104,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4051_0_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,0},{100,96}}</string>
                <key>offset</key>
                <string>{48,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{254,149},{100,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4051_0_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,342},{102,78}}</string>
                <key>offset</key>
                <string>{45,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{250,158},{102,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4051_0_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,86},{138,80}}</string>
                <key>offset</key>
                <string>{37,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,180},{138,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4051_0_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,224},{136,66}}</string>
                <key>offset</key>
                <string>{46,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,185},{136,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4051_0_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,360},{132,66}}</string>
                <key>offset</key>
                <string>{50,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,177},{132,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4051_0_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{136,86}}</string>
                <key>offset</key>
                <string>{40,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,177},{136,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4051_0_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,0},{138,78}}</string>
                <key>offset</key>
                <string>{37,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,187},{138,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4051_0_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,78},{104,90}}</string>
                <key>offset</key>
                <string>{8,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,183},{104,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4051_0_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,444},{100,68}}</string>
                <key>offset</key>
                <string>{18,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,198},{100,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4051_0_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,444},{108,68}}</string>
                <key>offset</key>
                <string>{16,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,187},{108,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4051_0_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,182},{102,70}}</string>
                <key>offset</key>
                <string>{11,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,186},{102,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4051_0_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,148},{106,74}}</string>
                <key>offset</key>
                <string>{8,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,191},{106,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4051_0_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,252},{56,90}}</string>
                <key>offset</key>
                <string>{-24,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,187},{56,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4051_0_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,254},{52,78}}</string>
                <key>offset</key>
                <string>{-20,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,193},{52,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4051_0_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,416},{46,74}}</string>
                <key>offset</key>
                <string>{-21,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,195},{46,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4051_0_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,254},{48,72}}</string>
                <key>offset</key>
                <string>{-25,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,188},{48,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4051_0_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,332},{46,84}}</string>
                <key>offset</key>
                <string>{-24,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,185},{46,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4051_0.png</string>
            <key>size</key>
            <string>{370,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:07504e5465f848a470fa89f442af5248:1/1$</string>
            <key>textureFileName</key>
            <string>4051_0.png</string>
        </dict>
    </dict>
</plist>
