<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4051_2_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,0},{94,124}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,185},{94,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4051_2_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,192},{16,2}}</string>
                <key>offset</key>
                <string>{-25,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,175},{16,2}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4051_2_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{16,192},{2,2}}</string>
                <key>offset</key>
                <string>{-18,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,175},{2,2}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4051_2_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,130},{64,130}}</string>
                <key>offset</key>
                <string>{20,132}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{244,59},{64,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4051_2_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,122},{66,104}}</string>
                <key>offset</key>
                <string>{9,129}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,75},{66,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4051_2_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,0},{122,104}}</string>
                <key>offset</key>
                <string>{-61,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,181},{122,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4051_2_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,116},{76,64}}</string>
                <key>offset</key>
                <string>{48,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{266,179},{76,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4051_2_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,130},{84,64}}</string>
                <key>offset</key>
                <string>{49,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,175},{84,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4051_2_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,0},{62,134}}</string>
                <key>offset</key>
                <string>{27,122}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,67},{62,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4051_2_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,126},{68,114}}</string>
                <key>offset</key>
                <string>{2,125}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,74},{68,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4051_2_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,0},{110,82}}</string>
                <key>offset</key>
                <string>{-87,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,161},{110,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4051_2_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,0},{126,78}}</string>
                <key>offset</key>
                <string>{78,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{271,207},{126,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4051_2_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,0},{126,74}}</string>
                <key>offset</key>
                <string>{69,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{262,191},{126,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4051_2_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,0},{66,130}}</string>
                <key>offset</key>
                <string>{22,113}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,78},{66,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4051_2_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,0},{66,130}}</string>
                <key>offset</key>
                <string>{-10,126}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,65},{66,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4051_2_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,110},{66,80}}</string>
                <key>offset</key>
                <string>{-55,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,139},{66,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4051_2_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,0},{98,124}}</string>
                <key>offset</key>
                <string>{42,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,217},{98,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4051_2_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,0},{104,106}}</string>
                <key>offset</key>
                <string>{48,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,204},{104,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4051_2_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,124},{66,124}}</string>
                <key>offset</key>
                <string>{6,108}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,86},{66,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4051_2_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{64,136}}</string>
                <key>offset</key>
                <string>{-14,130}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,58},{64,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4051_2_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,134},{48,56}}</string>
                <key>offset</key>
                <string>{-23,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,143},{48,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4051_2_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,136},{56,116}}</string>
                <key>offset</key>
                <string>{10,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,224},{56,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4051_2_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,124},{66,112}}</string>
                <key>offset</key>
                <string>{-3,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,214},{66,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4051_2_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,0},{62,116}}</string>
                <key>offset</key>
                <string>{-15,111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,87},{62,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4051_2_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,0},{68,130}}</string>
                <key>offset</key>
                <string>{-14,134}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,57},{68,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4051_2.png</string>
            <key>size</key>
            <string>{1022,194}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9b0bcae48ebf5d628381d8b8417c5585:1/1$</string>
            <key>textureFileName</key>
            <string>4051_2.png</string>
        </dict>
    </dict>
</plist>
