<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4052_2_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,54},{78,140}}</string>
                <key>offset</key>
                <string>{-5,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,194},{78,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4052_2_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,64},{2,2}}</string>
                <key>offset</key>
                <string>{-18,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,175},{2,2}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4052_2_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,64},{2,2}}</string>
                <key>offset</key>
                <string>{-18,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,175},{2,2}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4052_2_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,194},{42,170}}</string>
                <key>offset</key>
                <string>{12,151}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{247,20},{42,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4052_2_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,180},{50,172}}</string>
                <key>offset</key>
                <string>{4,162}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,8},{50,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4052_2_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{154,112}}</string>
                <key>offset</key>
                <string>{-80,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,197},{154,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4052_2_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,120},{100,54}}</string>
                <key>offset</key>
                <string>{59,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{265,188},{100,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4052_2_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,0},{104,54}}</string>
                <key>offset</key>
                <string>{66,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{270,181},{104,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4052_2_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,66},{46,180}}</string>
                <key>offset</key>
                <string>{25,146}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{258,20},{46,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4052_2_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,108},{72,170}}</string>
                <key>offset</key>
                <string>{-5,152}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,19},{72,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4052_2_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,100},{158,64}}</string>
                <key>offset</key>
                <string>{-113,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,187},{158,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4052_2_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,0},{172,76}}</string>
                <key>offset</key>
                <string>{104,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{274,212},{172,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4052_2_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,112},{164,82}}</string>
                <key>offset</key>
                <string>{92,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{266,202},{164,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4052_2_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,0},{66,180}}</string>
                <key>offset</key>
                <string>{27,138}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{250,28},{66,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4052_2_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,0},{64,188}}</string>
                <key>offset</key>
                <string>{-12,155}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,7},{64,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4052_2_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,194},{52,48}}</string>
                <key>offset</key>
                <string>{-66,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,157},{52,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4052_2_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,0},{100,162}}</string>
                <key>offset</key>
                <string>{64,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{270,220},{100,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4052_2_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,112},{136,130}}</string>
                <key>offset</key>
                <string>{67,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,207},{136,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4052_2_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,164},{74,170}}</string>
                <key>offset</key>
                <string>{16,134}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,37},{74,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4052_2_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,76},{44,190}}</string>
                <key>offset</key>
                <string>{-12,158}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,3},{44,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4052_2_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,218},{20,56}}</string>
                <key>offset</key>
                <string>{-20,93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,135},{20,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4052_2_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,120},{56,158}}</string>
                <key>offset</key>
                <string>{18,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{246,228},{56,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4052_2_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,54},{38,164}}</string>
                <key>offset</key>
                <string>{5,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,209},{38,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4052_2_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,176},{48,156}}</string>
                <key>offset</key>
                <string>{-9,134}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,44},{48,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4052_2_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,64},{44,184}}</string>
                <key>offset</key>
                <string>{-6,161}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,3},{44,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4052_2.png</string>
            <key>size</key>
            <string>{986,243}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:76f4e9bcd1cfd74275ecb97df2050fa6:1/1$</string>
            <key>textureFileName</key>
            <string>4052_2.png</string>
        </dict>
    </dict>
</plist>
