<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4052_0_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,842},{22,98}}</string>
                <key>offset</key>
                <string>{26,71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{271,136},{22,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4052_0_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,820},{22,100}}</string>
                <key>offset</key>
                <string>{23,85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{268,121},{22,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4052_0_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,754},{22,122}}</string>
                <key>offset</key>
                <string>{23,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{268,99},{22,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4052_0_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,0},{24,114}}</string>
                <key>offset</key>
                <string>{24,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{268,106},{24,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4052_0_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,582},{22,104}}</string>
                <key>offset</key>
                <string>{25,88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{270,116},{22,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4052_0_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,514},{152,70}}</string>
                <key>offset</key>
                <string>{75,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,168},{152,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4052_0_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,440},{142,92}}</string>
                <key>offset</key>
                <string>{76,74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{261,136},{142,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4052_0_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,744},{138,112}}</string>
                <key>offset</key>
                <string>{75,85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{262,115},{138,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4052_0_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,648},{144,106}}</string>
                <key>offset</key>
                <string>{74,83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{258,120},{144,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4052_0_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,268},{166,82}}</string>
                <key>offset</key>
                <string>{82,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,148},{166,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4052_0_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,134},{180,68}}</string>
                <key>offset</key>
                <string>{66,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,193},{180,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4052_0_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,202},{174,66}}</string>
                <key>offset</key>
                <string>{73,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,181},{174,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4052_0_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,114},{178,72}}</string>
                <key>offset</key>
                <string>{79,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{246,166},{178,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4052_0_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,66},{184,68}}</string>
                <key>offset</key>
                <string>{72,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,175},{184,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4052_0_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{196,66}}</string>
                <key>offset</key>
                <string>{73,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,186},{196,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4052_0_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,604},{140,100}}</string>
                <key>offset</key>
                <string>{34,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,200},{140,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4052_0_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,292},{148,80}}</string>
                <key>offset</key>
                <string>{45,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,199},{148,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4052_0_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,584},{152,64}}</string>
                <key>offset</key>
                <string>{51,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,196},{152,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4052_0_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,446},{164,68}}</string>
                <key>offset</key>
                <string>{48,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,197},{164,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4052_0_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,350},{164,96}}</string>
                <key>offset</key>
                <string>{47,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,199},{164,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4052_0_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,798},{22,116}}</string>
                <key>offset</key>
                <string>{-25,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,189},{22,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4052_0_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,776},{22,118}}</string>
                <key>offset</key>
                <string>{-22,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,187},{22,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4052_0_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,876},{22,116}}</string>
                <key>offset</key>
                <string>{-21,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,189},{22,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4052_0_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,0},{22,114}}</string>
                <key>offset</key>
                <string>{-24,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,190},{22,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4052_0_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,754},{22,122}}</string>
                <key>offset</key>
                <string>{-23,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,189},{22,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4052_0.png</string>
            <key>size</key>
            <string>{256,903}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:264866292a1f11dd1d2c6a2a5a9f2c32:1/1$</string>
            <key>textureFileName</key>
            <string>4052_0.png</string>
        </dict>
    </dict>
</plist>
