<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4052_0_0_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,468},{22,98}}</string>
                <key>offset</key>
                <string>{19,71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{264,136},{22,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4052_0_0_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,472},{24,98}}</string>
                <key>offset</key>
                <string>{19,85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{263,122},{24,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4052_0_0_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,380},{22,112}}</string>
                <key>offset</key>
                <string>{22,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{267,99},{22,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4052_0_0_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,444},{24,104}}</string>
                <key>offset</key>
                <string>{23,97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{267,107},{24,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4052_0_0_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,380},{22,100}}</string>
                <key>offset</key>
                <string>{20,90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{265,116},{22,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4052_0_0_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,138},{152,70}}</string>
                <key>offset</key>
                <string>{70,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,161},{152,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4052_0_0_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,328},{144,92}}</string>
                <key>offset</key>
                <string>{70,77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{254,133},{144,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4052_0_0_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,208},{128,106}}</string>
                <key>offset</key>
                <string>{75,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{267,112},{128,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4052_0_0_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,314},{130,104}}</string>
                <key>offset</key>
                <string>{76,80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{267,124},{130,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4052_0_0_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,162},{160,82}}</string>
                <key>offset</key>
                <string>{80,71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{256,144},{160,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4052_0_0_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,322},{174,68}}</string>
                <key>offset</key>
                <string>{64,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,185},{174,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4052_0_0_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,0},{174,66}}</string>
                <key>offset</key>
                <string>{68,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,181},{174,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4052_0_0_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,66},{170,72}}</string>
                <key>offset</key>
                <string>{78,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,168},{170,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4052_0_0_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,162},{166,68}}</string>
                <key>offset</key>
                <string>{76,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{249,177},{166,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4052_0_0_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{184,66}}</string>
                <key>offset</key>
                <string>{74,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,181},{184,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4052_0_0_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,148},{132,100}}</string>
                <key>offset</key>
                <string>{33,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,190},{132,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4052_0_0_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,0},{148,80}}</string>
                <key>offset</key>
                <string>{40,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,191},{148,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4052_0_0_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,248},{152,64}}</string>
                <key>offset</key>
                <string>{46,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,188},{152,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4052_0_0_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,312},{148,68}}</string>
                <key>offset</key>
                <string>{51,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,196},{148,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4052_0_0_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,66},{154,96}}</string>
                <key>offset</key>
                <string>{47,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,195},{154,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4052_0_0_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,448},{22,116}}</string>
                <key>offset</key>
                <string>{-19,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,185},{22,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4052_0_0_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,402},{22,118}}</string>
                <key>offset</key>
                <string>{-19,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,183},{22,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4052_0_0_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,424},{24,116}}</string>
                <key>offset</key>
                <string>{-19,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,185},{24,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4052_0_0_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,470},{22,114}}</string>
                <key>offset</key>
                <string>{-21,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,186},{22,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4052_0_0_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,380},{22,120}}</string>
                <key>offset</key>
                <string>{-20,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,187},{22,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4052_0_0.png</string>
            <key>size</key>
            <string>{438,497}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dc3b3ff8519a2203b0777c215689ffcb:1/1$</string>
            <key>textureFileName</key>
            <string>4052_0_0.png</string>
        </dict>
    </dict>
</plist>
