<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4053_0_6_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,318},{156,102}}</string>
                <key>offset</key>
                <string>{57,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,201},{156,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4053_0_6_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,146},{144,116}}</string>
                <key>offset</key>
                <string>{46,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,198},{144,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4053_0_6_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,0},{140,116}}</string>
                <key>offset</key>
                <string>{49,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,203},{140,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4053_0_6_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,290},{108,78}}</string>
                <key>offset</key>
                <string>{59,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{261,197},{108,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4053_0_6_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,140},{116,72}}</string>
                <key>offset</key>
                <string>{64,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,176},{116,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4053_0_6_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,326},{94,158}}</string>
                <key>offset</key>
                <string>{19,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,195},{94,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4053_0_6_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,172},{80,166}}</string>
                <key>offset</key>
                <string>{11,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,191},{80,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4053_0_6_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,164},{82,162}}</string>
                <key>offset</key>
                <string>{10,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,195},{82,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4053_0_6_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,0},{150,108}}</string>
                <key>offset</key>
                <string>{61,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,203},{150,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4053_0_6_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,178},{176,96}}</string>
                <key>offset</key>
                <string>{74,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,199},{176,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4053_0_6_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,0},{68,146}}</string>
                <key>offset</key>
                <string>{-43,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,189},{68,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4053_0_6_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,0},{78,144}}</string>
                <key>offset</key>
                <string>{-46,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,188},{78,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4053_0_6_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,150},{74,148}}</string>
                <key>offset</key>
                <string>{-46,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,191},{74,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4053_0_6_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,212},{114,142}}</string>
                <key>offset</key>
                <string>{30,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,196},{114,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4053_0_6_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,314},{148,126}}</string>
                <key>offset</key>
                <string>{44,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,196},{148,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4053_0_6_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,160},{154,106}}</string>
                <key>offset</key>
                <string>{-71,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,184},{154,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4053_0_6_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,0},{160,110}}</string>
                <key>offset</key>
                <string>{-69,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,182},{160,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4053_0_6_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,354},{150,116}}</string>
                <key>offset</key>
                <string>{-69,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,184},{150,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4053_0_6_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,160},{62,158}}</string>
                <key>offset</key>
                <string>{-18,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,188},{62,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4053_0_6_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,338},{64,166}}</string>
                <key>offset</key>
                <string>{-17,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,187},{64,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4053_0_6_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{178,68}}</string>
                <key>offset</key>
                <string>{-67,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,183},{178,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4053_0_6_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,0},{172,74}}</string>
                <key>offset</key>
                <string>{-60,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,185},{172,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4053_0_6_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,0},{164,76}}</string>
                <key>offset</key>
                <string>{-60,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,188},{164,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4053_0_6_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,368},{100,134}}</string>
                <key>offset</key>
                <string>{-56,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,184},{100,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4053_0_6_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,368},{104,130}}</string>
                <key>offset</key>
                <string>{-59,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,185},{104,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4053_0_6.png</string>
            <key>size</key>
            <string>{732,504}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3fb2d1807b5b0f19de0ad578cbe3dcc3:1/1$</string>
            <key>textureFileName</key>
            <string>4053_0_6.png</string>
        </dict>
    </dict>
</plist>
