<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4053_6_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,322},{156,102}}</string>
                <key>offset</key>
                <string>{56,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,200},{156,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4053_6_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,516},{142,114}}</string>
                <key>offset</key>
                <string>{46,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,199},{142,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4053_6_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,398},{144,118}}</string>
                <key>offset</key>
                <string>{46,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,200},{144,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4053_6_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,618},{120,70}}</string>
                <key>offset</key>
                <string>{64,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{260,171},{120,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4053_6_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,546},{118,72}}</string>
                <key>offset</key>
                <string>{63,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{260,176},{118,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4053_6_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,234},{94,160}}</string>
                <key>offset</key>
                <string>{19,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,193},{94,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4053_6_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,178},{80,166}}</string>
                <key>offset</key>
                <string>{11,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,191},{80,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4053_6_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,156},{82,166}}</string>
                <key>offset</key>
                <string>{10,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,191},{82,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4053_6_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,68},{172,84}}</string>
                <key>offset</key>
                <string>{74,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,194},{172,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4053_6_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{178,98}}</string>
                <key>offset</key>
                <string>{73,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,197},{178,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4053_6_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,328},{70,146}}</string>
                <key>offset</key>
                <string>{-42,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,187},{70,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4053_6_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,0},{80,146}}</string>
                <key>offset</key>
                <string>{-45,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,184},{80,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4053_6_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,80},{76,152}}</string>
                <key>offset</key>
                <string>{-45,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,185},{76,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4053_6_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,430},{142,116}}</string>
                <key>offset</key>
                <string>{46,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,198},{142,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4053_6_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,238},{150,128}}</string>
                <key>offset</key>
                <string>{45,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,195},{150,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4053_6_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,528},{140,98}}</string>
                <key>offset</key>
                <string>{-75,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,192},{140,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4053_6_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,424},{144,104}}</string>
                <key>offset</key>
                <string>{-76,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,188},{144,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4053_6_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,630},{138,110}}</string>
                <key>offset</key>
                <string>{-74,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,190},{138,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4053_6_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,366},{64,146}}</string>
                <key>offset</key>
                <string>{-13,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,191},{64,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4053_6_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,258},{64,160}}</string>
                <key>offset</key>
                <string>{-16,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,186},{64,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4053_6_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,0},{178,68}}</string>
                <key>offset</key>
                <string>{-65,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,183},{178,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4053_6_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,98},{170,80}}</string>
                <key>offset</key>
                <string>{-59,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,179},{170,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4053_6_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,152},{166,82}}</string>
                <key>offset</key>
                <string>{-57,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,182},{166,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4053_6_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,630},{106,124}}</string>
                <key>offset</key>
                <string>{-57,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,184},{106,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4053_6_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,630},{108,132}}</string>
                <key>offset</key>
                <string>{-58,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,182},{108,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4053_6.png</string>
            <key>size</key>
            <string>{502,742}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3d9aecd6e1ebcad52fefeee8d79a992d:1/1$</string>
            <key>textureFileName</key>
            <string>4053_6.png</string>
        </dict>
    </dict>
</plist>
