<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4053_7_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{62,192}}</string>
                <key>offset</key>
                <string>{35,107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{260,53},{62,192}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4053_7_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,176},{86,172}}</string>
                <key>offset</key>
                <string>{-13,170}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,0},{86,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4053_7_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,226},{96,150}}</string>
                <key>offset</key>
                <string>{-25,163}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,18},{96,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4053_7_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,0},{60,186}}</string>
                <key>offset</key>
                <string>{26,146}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,17},{60,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4053_7_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,0},{170,90}}</string>
                <key>offset</key>
                <string>{74,73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{245,138},{170,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4053_7_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,170},{92,168}}</string>
                <key>offset</key>
                <string>{36,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,81},{92,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4053_7_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,180},{70,178}}</string>
                <key>offset</key>
                <string>{-21,167}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,0},{70,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4053_7_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,0},{80,166}}</string>
                <key>offset</key>
                <string>{-32,168}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,5},{80,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4053_7_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,0},{62,180}}</string>
                <key>offset</key>
                <string>{23,137}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,29},{62,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4053_7_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,192},{186,72}}</string>
                <key>offset</key>
                <string>{60,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,183},{186,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4053_7_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,366},{104,136}}</string>
                <key>offset</key>
                <string>{17,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,107},{104,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4053_7_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,0},{56,176}}</string>
                <key>offset</key>
                <string>{-28,168}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,0},{56,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4053_7_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,0},{54,168}}</string>
                <key>offset</key>
                <string>{-10,172}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,0},{54,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4053_7_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,338},{74,164}}</string>
                <key>offset</key>
                <string>{6,133}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,41},{74,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4053_7_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,322},{102,92}}</string>
                <key>offset</key>
                <string>{12,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,189},{102,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4053_7_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,378},{76,124}}</string>
                <key>offset</key>
                <string>{-6,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,105},{76,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4053_7_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,0},{74,166}}</string>
                <key>offset</key>
                <string>{-6,170}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,3},{74,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4053_7_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,74},{82,160}}</string>
                <key>offset</key>
                <string>{14,175}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,1},{82,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4053_7_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,156},{70,158}}</string>
                <key>offset</key>
                <string>{-16,143}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,34},{70,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4053_7_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,414},{94,86}}</string>
                <key>offset</key>
                <string>{-59,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,181},{94,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4053_7_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,166},{70,128}}</string>
                <key>offset</key>
                <string>{-38,103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,89},{70,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4053_7_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,348},{76,154}}</string>
                <key>offset</key>
                <string>{7,174}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,5},{76,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4053_7_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,358},{108,142}}</string>
                <key>offset</key>
                <string>{33,172}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,13},{108,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4053_7_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,322},{58,150}}</string>
                <key>offset</key>
                <string>{-23,152}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,29},{58,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4053_7_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,186},{180,72}}</string>
                <key>offset</key>
                <string>{-78,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,161},{180,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4053_7.png</string>
            <key>size</key>
            <string>{630,502}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:346400b5165ee9e93cb779459d7ee65a:1/1$</string>
            <key>textureFileName</key>
            <string>4053_7.png</string>
        </dict>
    </dict>
</plist>
