<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4053_0_0_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,910},{50,102}}</string>
                <key>offset</key>
                <string>{24,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,132},{50,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4053_0_0_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,910},{52,98}}</string>
                <key>offset</key>
                <string>{24,85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{254,122},{52,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4053_0_0_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,796},{54,112}}</string>
                <key>offset</key>
                <string>{23,101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{252,99},{54,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4053_0_0_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,448},{58,104}}</string>
                <key>offset</key>
                <string>{23,97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{250,107},{58,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4053_0_0_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,910},{60,100}}</string>
                <key>offset</key>
                <string>{22,90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,116},{60,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4053_0_0_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,552},{152,80}}</string>
                <key>offset</key>
                <string>{70,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,151},{152,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4053_0_0_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,174},{144,94}}</string>
                <key>offset</key>
                <string>{70,77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{254,132},{144,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4053_0_0_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,506},{128,112}}</string>
                <key>offset</key>
                <string>{75,88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{267,112},{128,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4053_0_0_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,318},{130,104}}</string>
                <key>offset</key>
                <string>{76,80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{267,124},{130,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4053_0_0_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,290},{160,82}}</string>
                <key>offset</key>
                <string>{80,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{256,144},{160,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4053_0_0_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,76},{174,70}}</string>
                <key>offset</key>
                <string>{64,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,183},{174,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4053_0_0_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,0},{174,80}}</string>
                <key>offset</key>
                <string>{68,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,167},{174,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4053_0_0_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,146},{170,72}}</string>
                <key>offset</key>
                <string>{78,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,169},{170,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4053_0_0_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,218},{166,72}}</string>
                <key>offset</key>
                <string>{76,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,173},{166,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4053_0_0_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{184,76}}</string>
                <key>offset</key>
                <string>{74,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,171},{184,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4053_0_0_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,802},{132,100}}</string>
                <key>offset</key>
                <string>{33,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,190},{132,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4053_0_0_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,632},{148,88}}</string>
                <key>offset</key>
                <string>{40,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,191},{148,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4053_0_0_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,472},{152,80}}</string>
                <key>offset</key>
                <string>{46,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,189},{152,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4053_0_0_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,720},{148,82}}</string>
                <key>offset</key>
                <string>{51,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,195},{148,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4053_0_0_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,372},{154,100}}</string>
                <key>offset</key>
                <string>{47,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,193},{154,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4053_0_0_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,688},{50,116}}</string>
                <key>offset</key>
                <string>{-26,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,185},{50,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4053_0_0_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,902},{52,118}}</string>
                <key>offset</key>
                <string>{-26,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,183},{52,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4053_0_0_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,634},{54,116}}</string>
                <key>offset</key>
                <string>{-27,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,185},{54,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4053_0_0_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,738},{58,114}}</string>
                <key>offset</key>
                <string>{-27,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,186},{58,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4053_0_0_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,850},{60,120}}</string>
                <key>offset</key>
                <string>{-28,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,187},{60,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4053_0_0.png</string>
            <key>size</key>
            <string>{264,1020}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0a114e76899b4b15fec8a7862104602d:1/1$</string>
            <key>textureFileName</key>
            <string>4053_0_0.png</string>
        </dict>
    </dict>
</plist>
