<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4054_8_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,320},{128,102}}</string>
                <key>offset</key>
                <string>{-8,88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,117},{128,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4054_8_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,288},{138,142}}</string>
                <key>offset</key>
                <string>{2,116}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,69},{138,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4054_8_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,440},{148,120}}</string>
                <key>offset</key>
                <string>{52,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,136},{148,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4054_8_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,578},{100,92}}</string>
                <key>offset</key>
                <string>{-4,90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,120},{100,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4054_8_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,196},{150,124}}</string>
                <key>offset</key>
                <string>{34,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,106},{150,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4054_8_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,684},{84,104}}</string>
                <key>offset</key>
                <string>{-25,90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,114},{84,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4054_8_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,0},{90,172}}</string>
                <key>offset</key>
                <string>{30,106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,64},{90,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4054_8_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,320},{150,120}}</string>
                <key>offset</key>
                <string>{35,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,173},{150,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4054_8_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,212},{68,112}}</string>
                <key>offset</key>
                <string>{-32,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,105},{68,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4054_8_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,678},{104,88}}</string>
                <key>offset</key>
                <string>{3,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,147},{104,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4054_8_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,212},{134,104}}</string>
                <key>offset</key>
                <string>{-28,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,99},{134,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4054_8_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,578},{98,178}}</string>
                <key>offset</key>
                <string>{65,90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{272,77},{98,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4054_8_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,560},{110,124}}</string>
                <key>offset</key>
                <string>{14,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,185},{110,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4054_8_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,90},{136,122}}</string>
                <key>offset</key>
                <string>{-26,113}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,82},{136,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4054_8_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,698},{72,74}}</string>
                <key>offset</key>
                <string>{-44,76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,143},{72,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4054_8_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,106},{164,90}}</string>
                <key>offset</key>
                <string>{-8,118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,93},{164,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4054_8_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,144},{152,144}}</string>
                <key>offset</key>
                <string>{42,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,112},{152,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4054_8_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,324},{82,124}}</string>
                <key>offset</key>
                <string>{-43,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,178},{82,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4054_8_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{154,144}}</string>
                <key>offset</key>
                <string>{-10,128}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,56},{154,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4054_8_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,448},{130,78}}</string>
                <key>offset</key>
                <string>{-56,99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,118},{130,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4054_8_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,448},{128,112}}</string>
                <key>offset</key>
                <string>{7,134}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,66},{128,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4054_8_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,560},{138,90}}</string>
                <key>offset</key>
                <string>{-1,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,149},{138,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4054_8_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,578},{140,92}}</string>
                <key>offset</key>
                <string>{-49,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,178},{140,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4054_8_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,0},{106,182}}</string>
                <key>offset</key>
                <string>{5,129}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,36},{106,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4054_8_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,430},{148,130}}</string>
                <key>offset</key>
                <string>{-34,118}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,73},{148,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4054_8.png</string>
            <key>size</key>
            <string>{508,770}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d0a67e0e897aaecc264c71608f88ef31:1/1$</string>
            <key>textureFileName</key>
            <string>4054_8.png</string>
        </dict>
    </dict>
</plist>
