<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4055_0_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,868},{38,94}}</string>
                <key>offset</key>
                <string>{22,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{259,143},{38,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4055_0_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,978},{36,118}}</string>
                <key>offset</key>
                <string>{22,69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{260,128},{36,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4055_0_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,266},{38,136}}</string>
                <key>offset</key>
                <string>{20,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{257,111},{38,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4055_0_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,266},{36,142}}</string>
                <key>offset</key>
                <string>{24,77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{262,108},{36,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4055_0_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,906},{32,92}}</string>
                <key>offset</key>
                <string>{22,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{262,146},{32,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4055_0_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,424},{138,96}}</string>
                <key>offset</key>
                <string>{27,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,148},{138,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4055_0_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,302},{138,122}}</string>
                <key>offset</key>
                <string>{32,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,128},{138,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4055_0_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,606},{132,122}}</string>
                <key>offset</key>
                <string>{33,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,132},{132,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4055_0_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,638},{134,124}}</string>
                <key>offset</key>
                <string>{31,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,128},{134,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4055_0_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,520},{136,118}}</string>
                <key>offset</key>
                <string>{24,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,131},{136,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4055_0_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,172},{180,94}}</string>
                <key>offset</key>
                <string>{18,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,171},{180,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4055_0_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,0},{184,84}}</string>
                <key>offset</key>
                <string>{25,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,167},{184,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4055_0_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,184},{180,88}}</string>
                <key>offset</key>
                <string>{28,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,160},{180,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4055_0_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,88},{182,84}}</string>
                <key>offset</key>
                <string>{21,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,161},{182,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4055_0_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{184,88}}</string>
                <key>offset</key>
                <string>{17,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,165},{184,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4055_0_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,826},{126,106}}</string>
                <key>offset</key>
                <string>{-5,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,181},{126,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4055_0_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,762},{126,106}}</string>
                <key>offset</key>
                <string>{4,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,167},{126,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4055_0_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,728},{132,98}}</string>
                <key>offset</key>
                <string>{9,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,168},{132,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4055_0_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,512},{130,94}}</string>
                <key>offset</key>
                <string>{1,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,174},{130,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4055_0_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,404},{130,108}}</string>
                <key>offset</key>
                <string>{-7,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,170},{130,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4055_0_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,932},{34,124}}</string>
                <key>offset</key>
                <string>{-25,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,164},{34,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4055_0_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,938},{40,90}}</string>
                <key>offset</key>
                <string>{-25,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,185},{40,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4055_0_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,932},{32,82}}</string>
                <key>offset</key>
                <string>{-19,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,185},{32,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4055_0_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,364},{40,86}}</string>
                <key>offset</key>
                <string>{-27,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,179},{40,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4055_0_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,966},{42,104}}</string>
                <key>offset</key>
                <string>{-26,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,170},{42,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4055_0.png</string>
            <key>size</key>
            <string>{268,1014}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a7b07b3e99db0642221cb08b9f5d26ae:1/1$</string>
            <key>textureFileName</key>
            <string>4055_0.png</string>
        </dict>
    </dict>
</plist>
