<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4055_8_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,446},{138,78}}</string>
                <key>offset</key>
                <string>{-7,78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,139},{138,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4055_8_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,146},{158,142}}</string>
                <key>offset</key>
                <string>{1,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,86},{158,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4055_8_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,202},{158,88}}</string>
                <key>offset</key>
                <string>{47,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,159},{158,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4055_8_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,290},{108,70}}</string>
                <key>offset</key>
                <string>{-6,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,143},{108,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4055_8_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,0},{160,104}}</string>
                <key>offset</key>
                <string>{35,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,129},{160,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4055_8_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,618},{84,104}}</string>
                <key>offset</key>
                <string>{-24,83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,121},{84,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4055_8_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,462},{94,156}}</string>
                <key>offset</key>
                <string>{29,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,87},{94,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4055_8_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,104},{162,98}}</string>
                <key>offset</key>
                <string>{36,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,195},{162,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4055_8_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,566},{70,84}}</string>
                <key>offset</key>
                <string>{-28,88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,126},{70,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4055_8_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,498},{110,68}}</string>
                <key>offset</key>
                <string>{-2,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,167},{110,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4055_8_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,146},{142,88}}</string>
                <key>offset</key>
                <string>{-26,93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,119},{142,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4055_8_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,294},{100,152}}</string>
                <key>offset</key>
                <string>{63,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{269,111},{100,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4055_8_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,618},{112,118}}</string>
                <key>offset</key>
                <string>{14,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,188},{112,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4055_8_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,360},{138,100}}</string>
                <key>offset</key>
                <string>{-26,106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,100},{138,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4055_8_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,636},{76,64}}</string>
                <key>offset</key>
                <string>{-38,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,151},{76,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4055_8_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,288},{174,74}}</string>
                <key>offset</key>
                <string>{-9,112}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,107},{174,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4055_8_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,288},{160,124}}</string>
                <key>offset</key>
                <string>{35,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,135},{160,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4055_8_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,594},{88,126}}</string>
                <key>offset</key>
                <string>{-39,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,179},{88,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4055_8_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{172,146}}</string>
                <key>offset</key>
                <string>{-15,117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,66},{172,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4055_8_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,594},{132,64}}</string>
                <key>offset</key>
                <string>{-53,83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,141},{132,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4055_8_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,294},{142,90}}</string>
                <key>offset</key>
                <string>{2,116}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,95},{142,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4055_8_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,140},{154,74}}</string>
                <key>offset</key>
                <string>{1,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,166},{154,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4055_8_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,446},{148,92}}</string>
                <key>offset</key>
                <string>{-49,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,182},{148,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4055_8_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,448},{108,170}}</string>
                <key>offset</key>
                <string>{5,107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,64},{108,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4055_8_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,0},{160,140}}</string>
                <key>offset</key>
                <string>{-38,108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,78},{160,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4055_8.png</string>
            <key>size</key>
            <string>{496,731}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:72555889b5eea746e862f4498d917451:1/1$</string>
            <key>textureFileName</key>
            <string>4055_8.png</string>
        </dict>
    </dict>
</plist>
