<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4056_7_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,162},{70,190}}</string>
                <key>offset</key>
                <string>{33,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,93},{70,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4056_7_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,356},{90,156}}</string>
                <key>offset</key>
                <string>{0,130}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,48},{90,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4056_7_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,0},{112,162}}</string>
                <key>offset</key>
                <string>{-16,138}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,37},{112,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4056_7_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,298},{68,184}}</string>
                <key>offset</key>
                <string>{25,107}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{247,57},{68,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4056_7_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,160},{174,92}}</string>
                <key>offset</key>
                <string>{40,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,152},{174,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4056_7_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{108,170}}</string>
                <key>offset</key>
                <string>{19,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,113},{108,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4056_7_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,80},{80,182}}</string>
                <key>offset</key>
                <string>{-12,133}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,32},{80,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4056_7_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,170},{86,186}}</string>
                <key>offset</key>
                <string>{-19,141}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,22},{86,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4056_7_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,0},{80,192}}</string>
                <key>offset</key>
                <string>{18,105}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,55},{80,192}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4056_7_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,170},{186,68}}</string>
                <key>offset</key>
                <string>{25,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,177},{186,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4056_7_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,356},{110,156}}</string>
                <key>offset</key>
                <string>{-1,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,112},{110,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4056_7_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,228},{70,186}}</string>
                <key>offset</key>
                <string>{-18,134}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,29},{70,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4056_7_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,80},{80,188}}</string>
                <key>offset</key>
                <string>{-21,142}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,20},{80,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4056_7_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,422},{82,174}}</string>
                <key>offset</key>
                <string>{-2,105}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,64},{82,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4056_7_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,0},{106,94}}</string>
                <key>offset</key>
                <string>{-2,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,174},{106,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4056_7_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,258},{84,134}}</string>
                <key>offset</key>
                <string>{-14,73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,116},{84,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4056_7_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,352},{70,186}}</string>
                <key>offset</key>
                <string>{-9,143}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,20},{70,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4056_7_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,0},{80,186}}</string>
                <key>offset</key>
                <string>{2,151}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,12},{80,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4056_7_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,342},{76,166}}</string>
                <key>offset</key>
                <string>{-20,118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,55},{76,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4056_7_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,160},{100,98}}</string>
                <key>offset</key>
                <string>{-44,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,166},{100,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4056_7_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,94},{66,130}}</string>
                <key>offset</key>
                <string>{-32,81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,110},{66,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4056_7_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,366},{86,170}}</string>
                <key>offset</key>
                <string>{-3,149}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,22},{86,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4056_7_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,252},{100,166}}</string>
                <key>offset</key>
                <string>{10,153}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,20},{100,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4056_7_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,342},{70,158}}</string>
                <key>offset</key>
                <string>{-26,127}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,50},{70,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4056_7_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,160},{190,68}}</string>
                <key>offset</key>
                <string>{-48,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,157},{190,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4056_7.png</string>
            <key>size</key>
            <string>{720,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d0893c9aae5fc2a9c06241980c07726e:1/1$</string>
            <key>textureFileName</key>
            <string>4056_7.png</string>
        </dict>
    </dict>
</plist>
