<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4056_1_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,0},{150,82}}</string>
                <key>offset</key>
                <string>{50,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,175},{150,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4056_1_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,0},{152,82}}</string>
                <key>offset</key>
                <string>{51,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,176},{152,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4056_1_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,0},{154,82}}</string>
                <key>offset</key>
                <string>{54,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,177},{154,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4056_1_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,148},{148,86}}</string>
                <key>offset</key>
                <string>{50,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,175},{148,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4056_1_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,152},{148,124}}</string>
                <key>offset</key>
                <string>{38,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,169},{148,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4056_1_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,0},{148,122}}</string>
                <key>offset</key>
                <string>{37,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,171},{148,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4056_1_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,156},{148,124}}</string>
                <key>offset</key>
                <string>{37,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,172},{148,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4056_1_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,154},{142,122}}</string>
                <key>offset</key>
                <string>{36,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,170},{142,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4056_1_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,0},{90,156}}</string>
                <key>offset</key>
                <string>{14,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,163},{90,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4056_1_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,0},{90,156}}</string>
                <key>offset</key>
                <string>{13,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,163},{90,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4056_1_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,0},{94,158}}</string>
                <key>offset</key>
                <string>{16,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,164},{94,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4056_1_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,0},{86,156}}</string>
                <key>offset</key>
                <string>{13,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,161},{86,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4056_1_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,0},{72,154}}</string>
                <key>offset</key>
                <string>{-28,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,158},{72,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4056_1_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,0},{78,154}}</string>
                <key>offset</key>
                <string>{-31,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,158},{78,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4056_1_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{70,164}}</string>
                <key>offset</key>
                <string>{-28,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,157},{70,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4056_1_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,0},{70,156}}</string>
                <key>offset</key>
                <string>{-28,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,158},{70,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4056_1_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,158},{118,132}}</string>
                <key>offset</key>
                <string>{-47,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,157},{118,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4056_1_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,156},{124,130}}</string>
                <key>offset</key>
                <string>{-50,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,158},{124,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4056_1_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,164},{118,132}}</string>
                <key>offset</key>
                <string>{-47,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,158},{118,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4056_1_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,156},{116,128}}</string>
                <key>offset</key>
                <string>{-46,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,158},{116,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4056_1.png</string>
            <key>size</key>
            <string>{1018,296}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:49e05de9d329c500122601f7a71a0528:1/1$</string>
            <key>textureFileName</key>
            <string>4056_1.png</string>
        </dict>
    </dict>
</plist>
