<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4058_2_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,116},{54,76}}</string>
                <key>offset</key>
                <string>{12,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,186},{54,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4058_2_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,178},{2,2}}</string>
                <key>offset</key>
                <string>{-7,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,208},{2,2}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4058_2_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,176},{2,2}}</string>
                <key>offset</key>
                <string>{4,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,201},{2,2}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4058_2_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,170},{30,76}}</string>
                <key>offset</key>
                <string>{23,110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{264,108},{30,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4058_2_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,82},{34,64}}</string>
                <key>offset</key>
                <string>{20,115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{259,109},{34,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4058_2_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{74,88}}</string>
                <key>offset</key>
                <string>{-46,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,164},{74,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4058_2_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,180},{46,74}}</string>
                <key>offset</key>
                <string>{42,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{275,170},{46,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4058_2_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,180},{54,74}}</string>
                <key>offset</key>
                <string>{46,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{275,157},{54,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4058_2_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,88},{52,92}}</string>
                <key>offset</key>
                <string>{36,108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{266,102},{52,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4058_2_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,58},{52,94}}</string>
                <key>offset</key>
                <string>{14,118}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{244,91},{52,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4058_2_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,0},{82,64}}</string>
                <key>offset</key>
                <string>{-68,63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,161},{82,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4058_2_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,0},{78,80}}</string>
                <key>offset</key>
                <string>{62,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{279,184},{78,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4058_2_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,0},{76,84}}</string>
                <key>offset</key>
                <string>{55,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{273,169},{76,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4058_2_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,88},{66,88}}</string>
                <key>offset</key>
                <string>{28,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,113},{66,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4058_2_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,0},{58,94}}</string>
                <key>offset</key>
                <string>{3,114}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,95},{58,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4058_2_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,200},{54,66}}</string>
                <key>offset</key>
                <string>{-52,88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,135},{54,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4058_2_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,80},{56,88}}</string>
                <key>offset</key>
                <string>{41,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{269,209},{56,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4058_2_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,176},{64,78}}</string>
                <key>offset</key>
                <string>{35,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,193},{64,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4058_2_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,110},{52,88}}</string>
                <key>offset</key>
                <string>{9,99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,113},{52,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4058_2_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,84},{38,96}}</string>
                <key>offset</key>
                <string>{-5,117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,91},{38,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4058_2_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,202},{28,66}}</string>
                <key>offset</key>
                <string>{-18,101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,122},{28,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4058_2_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,162},{40,74}}</string>
                <key>offset</key>
                <string>{14,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{250,223},{40,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4058_2_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,170},{30,84}}</string>
                <key>offset</key>
                <string>{2,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,194},{30,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4058_2_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,230},{24,62}}</string>
                <key>offset</key>
                <string>{-14,93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,132},{24,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4058_2_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,168},{32,86}}</string>
                <key>offset</key>
                <string>{-5,116}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,97},{32,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4058_2.png</string>
            <key>size</key>
            <string>{386,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4df035695598933301734589d32935bf:1/1$</string>
            <key>textureFileName</key>
            <string>4058_2.png</string>
        </dict>
    </dict>
</plist>
