<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4058_6_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{98,140}}</string>
                <key>offset</key>
                <string>{12,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,112},{98,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4058_6_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,342},{78,82}}</string>
                <key>offset</key>
                <string>{18,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,181},{78,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4058_6_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,0},{78,86}}</string>
                <key>offset</key>
                <string>{19,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,182},{78,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4058_6_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,112},{62,64}}</string>
                <key>offset</key>
                <string>{42,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{267,165},{62,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4058_6_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,350},{60,68}}</string>
                <key>offset</key>
                <string>{39,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{265,162},{60,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4058_6_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,140},{100,80}}</string>
                <key>offset</key>
                <string>{24,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,175},{100,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4058_6_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,216},{48,76}}</string>
                <key>offset</key>
                <string>{-7,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,190},{48,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4058_6_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,86},{50,78}}</string>
                <key>offset</key>
                <string>{-7,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,188},{50,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4058_6_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,136},{80,76}}</string>
                <key>offset</key>
                <string>{32,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{248,167},{80,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4058_6_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,174},{82,80}}</string>
                <key>offset</key>
                <string>{32,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,165},{82,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4058_6_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,398},{78,54}}</string>
                <key>offset</key>
                <string>{3,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,194},{78,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4058_6_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,136},{48,78}}</string>
                <key>offset</key>
                <string>{-22,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,174},{48,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4058_6_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,78},{40,58}}</string>
                <key>offset</key>
                <string>{-28,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,192},{40,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4058_6_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,264},{68,78}}</string>
                <key>offset</key>
                <string>{13,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,175},{68,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4058_6_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,282},{68,70}}</string>
                <key>offset</key>
                <string>{9,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,182},{68,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4058_6_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,254},{70,82}}</string>
                <key>offset</key>
                <string>{-23,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,161},{70,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4058_6_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,336},{62,84}}</string>
                <key>offset</key>
                <string>{-35,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,156},{62,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4058_6_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,332},{74,66}}</string>
                <key>offset</key>
                <string>{-26,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,173},{74,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4058_6_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,418},{62,66}}</string>
                <key>offset</key>
                <string>{-8,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,186},{62,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4058_6_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,0},{64,112}}</string>
                <key>offset</key>
                <string>{-8,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,153},{64,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4058_6_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,240},{68,102}}</string>
                <key>offset</key>
                <string>{-13,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,162},{68,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4058_6_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,420},{82,68}}</string>
                <key>offset</key>
                <string>{-6,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,158},{82,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4058_6_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,424},{84,64}}</string>
                <key>offset</key>
                <string>{-5,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,165},{84,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4058_6_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,214},{48,68}}</string>
                <key>offset</key>
                <string>{-28,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,171},{48,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4058_6_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,0},{46,78}}</string>
                <key>offset</key>
                <string>{-28,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,162},{46,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4058_6.png</string>
            <key>size</key>
            <string>{287,488}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:23ecf4d36f88d614859cd01918101a68:1/1$</string>
            <key>textureFileName</key>
            <string>4058_6.png</string>
        </dict>
    </dict>
</plist>
