<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4059_6_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{96,152}}</string>
                <key>offset</key>
                <string>{11,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,113},{96,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4059_6_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,322},{78,80}}</string>
                <key>offset</key>
                <string>{18,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,184},{78,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4059_6_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,0},{78,84}}</string>
                <key>offset</key>
                <string>{18,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,182},{78,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4059_6_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,116},{70,120}}</string>
                <key>offset</key>
                <string>{39,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{260,129},{70,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4059_6_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,236},{68,118}}</string>
                <key>offset</key>
                <string>{44,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{266,134},{68,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4059_6_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,264},{102,92}}</string>
                <key>offset</key>
                <string>{23,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,175},{102,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4059_6_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,172},{64,104}}</string>
                <key>offset</key>
                <string>{-2,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,161},{64,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4059_6_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,236},{76,86}}</string>
                <key>offset</key>
                <string>{-13,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,180},{76,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4059_6_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,250},{82,104}}</string>
                <key>offset</key>
                <string>{33,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,157},{82,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4059_6_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,286},{88,108}}</string>
                <key>offset</key>
                <string>{35,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,155},{88,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4059_6_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,84},{88,76}}</string>
                <key>offset</key>
                <string>{-2,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,175},{88,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4059_6_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,354},{48,78}}</string>
                <key>offset</key>
                <string>{-23,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,177},{48,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4059_6_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,354},{42,88}}</string>
                <key>offset</key>
                <string>{-28,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,163},{42,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4059_6_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,152},{84,112}}</string>
                <key>offset</key>
                <string>{13,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,153},{84,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4059_6_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,126},{72,124}}</string>
                <key>offset</key>
                <string>{12,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,153},{72,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4059_6_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,82},{78,84}}</string>
                <key>offset</key>
                <string>{-27,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,163},{78,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4059_6_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,182},{66,94}}</string>
                <key>offset</key>
                <string>{-34,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,150},{66,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4059_6_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,248},{72,80}}</string>
                <key>offset</key>
                <string>{-28,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,164},{72,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4059_6_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,0},{72,126}}</string>
                <key>offset</key>
                <string>{-13,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,138},{72,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4059_6_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,152},{76,134}}</string>
                <key>offset</key>
                <string>{-12,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,137},{76,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4059_6_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,0},{74,116}}</string>
                <key>offset</key>
                <string>{-18,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,148},{74,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4059_6_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,0},{82,80}}</string>
                <key>offset</key>
                <string>{-8,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,158},{82,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4059_6_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,0},{84,80}}</string>
                <key>offset</key>
                <string>{-5,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,158},{84,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4059_6_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,78},{54,104}}</string>
                <key>offset</key>
                <string>{-33,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,149},{54,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4059_6_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,320},{52,88}}</string>
                <key>offset</key>
                <string>{-33,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,165},{52,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4059_6.png</string>
            <key>size</key>
            <string>{512,402}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7bcc0c7f82b774ef8c36739ee063d773:1/1$</string>
            <key>textureFileName</key>
            <string>4059_6.png</string>
        </dict>
    </dict>
</plist>
