<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4060_7_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,0},{112,98}}</string>
                <key>offset</key>
                <string>{7,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,143},{112,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4060_7_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,180},{74,86}}</string>
                <key>offset</key>
                <string>{13,132}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,81},{74,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4060_7_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,132},{70,80}}</string>
                <key>offset</key>
                <string>{-1,133}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,83},{70,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4060_7_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,0},{58,88}}</string>
                <key>offset</key>
                <string>{27,102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,110},{58,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4060_7_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,86},{82,76}}</string>
                <key>offset</key>
                <string>{36,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{251,153},{82,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4060_7_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,112},{110,96}}</string>
                <key>offset</key>
                <string>{50,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{251,148},{110,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4060_7_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,0},{62,90}}</string>
                <key>offset</key>
                <string>{3,128}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,83},{62,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4060_7_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,0},{54,82}}</string>
                <key>offset</key>
                <string>{-6,131}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,84},{54,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4060_7_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,0},{56,88}}</string>
                <key>offset</key>
                <string>{11,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,116},{56,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4060_7_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,88},{86,72}}</string>
                <key>offset</key>
                <string>{16,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,166},{86,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4060_7_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,124},{60,118}}</string>
                <key>offset</key>
                <string>{-1,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,161},{60,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4060_7_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,196},{58,96}}</string>
                <key>offset</key>
                <string>{-16,133}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,75},{58,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4060_7_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,90},{52,90}}</string>
                <key>offset</key>
                <string>{-7,137}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,74},{52,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4060_7_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,0},{56,86}}</string>
                <key>offset</key>
                <string>{-9,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,114},{56,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4060_7_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,0},{94,72}}</string>
                <key>offset</key>
                <string>{12,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,165},{94,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4060_7_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{52,124}}</string>
                <key>offset</key>
                <string>{-21,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,155},{52,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4060_7_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,98},{60,98}}</string>
                <key>offset</key>
                <string>{-16,142}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,65},{60,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4060_7_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,0},{62,98}}</string>
                <key>offset</key>
                <string>{-2,148}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,59},{62,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4060_7_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,0},{78,80}}</string>
                <key>offset</key>
                <string>{-22,109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,107},{78,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4060_7_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,174},{82,80}}</string>
                <key>offset</key>
                <string>{-52,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,169},{82,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4060_7_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,80},{52,78}}</string>
                <key>offset</key>
                <string>{-26,74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,143},{52,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4060_7_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,90},{66,88}}</string>
                <key>offset</key>
                <string>{-4,147}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,65},{66,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4060_7_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,94},{70,92}}</string>
                <key>offset</key>
                <string>{8,153}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,57},{70,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4060_7_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,186},{68,76}}</string>
                <key>offset</key>
                <string>{-28,113}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,105},{68,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4060_7_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,168},{74,80}}</string>
                <key>offset</key>
                <string>{-24,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,123},{74,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4060_7.png</string>
            <key>size</key>
            <string>{648,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d557664f5bd5c3fd8d01a52efa5e0fc0:1/1$</string>
            <key>textureFileName</key>
            <string>4060_7.png</string>
        </dict>
    </dict>
</plist>
