<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4091_1_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,522},{160,74}}</string>
                <key>offset</key>
                <string>{73,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,187},{160,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4091_1_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,670},{158,74}}</string>
                <key>offset</key>
                <string>{72,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,187},{158,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4091_1_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,596},{158,74}}</string>
                <key>offset</key>
                <string>{72,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,187},{158,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4091_1_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,446},{160,76}}</string>
                <key>offset</key>
                <string>{73,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,187},{160,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4091_1_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{176,112}}</string>
                <key>offset</key>
                <string>{69,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,191},{176,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4091_1_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,222},{176,110}}</string>
                <key>offset</key>
                <string>{70,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,192},{176,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4091_1_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,112},{176,110}}</string>
                <key>offset</key>
                <string>{70,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,192},{176,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4091_1_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,332},{174,114}}</string>
                <key>offset</key>
                <string>{69,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,191},{174,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4091_1_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,304},{90,152}}</string>
                <key>offset</key>
                <string>{26,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,185},{90,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4091_1_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,152},{92,152}}</string>
                <key>offset</key>
                <string>{28,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,185},{92,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4091_1_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,0},{94,152}}</string>
                <key>offset</key>
                <string>{27,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,185},{94,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4091_1_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,744},{86,154}}</string>
                <key>offset</key>
                <string>{26,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,185},{86,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4091_1_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,972},{48,132}}</string>
                <key>offset</key>
                <string>{-35,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,206},{48,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4091_1_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,886},{42,132}}</string>
                <key>offset</key>
                <string>{-33,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,207},{42,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4091_1_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,886},{42,132}}</string>
                <key>offset</key>
                <string>{-33,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,207},{42,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4091_1_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,886},{48,134}}</string>
                <key>offset</key>
                <string>{-35,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,206},{48,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4091_1_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,600},{144,106}}</string>
                <key>offset</key>
                <string>{-79,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,199},{144,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4091_1_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,830},{142,106}}</string>
                <key>offset</key>
                <string>{-79,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,199},{142,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4091_1_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,744},{142,106}}</string>
                <key>offset</key>
                <string>{-79,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,200},{142,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4091_1_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,456},{144,106}}</string>
                <key>offset</key>
                <string>{-80,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,200},{144,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4091_1.png</string>
            <key>size</key>
            <string>{270,1020}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eb9aae9806fb89723ea6ba12d08c433b:1/1$</string>
            <key>textureFileName</key>
            <string>4091_1.png</string>
        </dict>
    </dict>
</plist>
