<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4091_2_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,128},{86,174}}</string>
                <key>offset</key>
                <string>{-8,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,183},{86,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4091_2_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,214},{12,10}}</string>
                <key>offset</key>
                <string>{-15,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,206},{12,10}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4091_2_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,76},{10,12}}</string>
                <key>offset</key>
                <string>{-4,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,196},{10,12}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4091_2_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,196},{36,174}}</string>
                <key>offset</key>
                <string>{11,142}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{249,27},{36,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4091_2_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,200},{40,136}}</string>
                <key>offset</key>
                <string>{6,137}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,51},{40,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4091_2_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{152,128}}</string>
                <key>offset</key>
                <string>{-70,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,191},{152,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4091_2_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,188},{102,52}}</string>
                <key>offset</key>
                <string>{60,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{265,182},{102,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4091_2_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,146},{108,58}}</string>
                <key>offset</key>
                <string>{63,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{265,178},{108,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4091_2_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,168},{32,184}}</string>
                <key>offset</key>
                <string>{21,137}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{261,27},{32,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4091_2_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,70},{84,152}}</string>
                <key>offset</key>
                <string>{-13,135}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,45},{84,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4091_2_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,120},{134,80}}</string>
                <key>offset</key>
                <string>{-94,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,182},{134,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4091_2_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,88},{186,66}}</string>
                <key>offset</key>
                <string>{100,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,209},{186,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4091_2_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,0},{186,76}}</string>
                <key>offset</key>
                <string>{92,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,200},{186,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4091_2_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,0},{70,188}}</string>
                <key>offset</key>
                <string>{22,132}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,30},{70,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4091_2_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,0},{88,176}}</string>
                <key>offset</key>
                <string>{-21,139}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,29},{88,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4091_2_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,154},{42,60}}</string>
                <key>offset</key>
                <string>{-63,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,159},{42,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4091_2_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,0},{120,160}}</string>
                <key>offset</key>
                <string>{69,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{265,209},{120,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4091_2_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,0},{154,122}}</string>
                <key>offset</key>
                <string>{68,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,203},{154,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4091_2_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,76},{70,182}}</string>
                <key>offset</key>
                <string>{10,130}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,35},{70,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4091_2_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,200},{40,196}}</string>
                <key>offset</key>
                <string>{-16,148}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,10},{40,196}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4091_2_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,70},{12,62}}</string>
                <key>offset</key>
                <string>{-19,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,144},{12,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4091_2_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,122},{46,144}}</string>
                <key>offset</key>
                <string>{16,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{249,218},{46,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4091_2_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,154},{34,154}}</string>
                <key>offset</key>
                <string>{4,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,197},{34,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4091_2_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,204},{36,172}}</string>
                <key>offset</key>
                <string>{-10,133}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,37},{36,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4091_2_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,154},{42,194}}</string>
                <key>offset</key>
                <string>{-5,154}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,5},{42,194}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4091_2.png</string>
            <key>size</key>
            <string>{1016,240}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:19d5635602ff5e46fe6554fabfd51ee9:1/1$</string>
            <key>textureFileName</key>
            <string>4091_2.png</string>
        </dict>
    </dict>
</plist>
