<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>5000_5_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,578},{44,178}}</string>
                <key>offset</key>
                <string>{1,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,87},{44,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5000_5_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,248},{46,174}}</string>
                <key>offset</key>
                <string>{1,82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,87},{46,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5000_5_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,708},{50,170}}</string>
                <key>offset</key>
                <string>{2,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,90},{50,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5000_5_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,128},{52,188}}</string>
                <key>offset</key>
                <string>{3,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,92},{52,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5000_5_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,770},{46,178}}</string>
                <key>offset</key>
                <string>{2,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,93},{46,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5000_5_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,278},{138,152}}</string>
                <key>offset</key>
                <string>{2,80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,100},{138,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5000_5_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,422},{132,152}}</string>
                <key>offset</key>
                <string>{3,82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,98},{132,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5000_5_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,414},{150,164}}</string>
                <key>offset</key>
                <string>{-5,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,101},{150,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5000_5_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,248},{160,166}}</string>
                <key>offset</key>
                <string>{-7,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,103},{160,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5000_5_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,128},{154,150}}</string>
                <key>offset</key>
                <string>{-4,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,105},{154,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5000_5_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,578},{192,118}}</string>
                <key>offset</key>
                <string>{1,71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,126},{192,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5000_5_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,770},{186,116}}</string>
                <key>offset</key>
                <string>{1,75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,123},{186,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5000_5_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,0},{202,128}}</string>
                <key>offset</key>
                <string>{-6,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,127},{202,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5000_5_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{210,124}}</string>
                <key>offset</key>
                <string>{-6,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,130},{210,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5000_5_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,124},{206,124}}</string>
                <key>offset</key>
                <string>{-3,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,130},{206,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5000_5_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,724},{144,106}}</string>
                <key>offset</key>
                <string>{0,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,143},{144,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5000_5_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,868},{138,102}}</string>
                <key>offset</key>
                <string>{1,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,142},{138,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5000_5_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,416},{144,130}}</string>
                <key>offset</key>
                <string>{-1,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,143},{144,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5000_5_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,574},{150,122}}</string>
                <key>offset</key>
                <string>{-1,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,145},{150,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5000_5_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,560},{148,118}}</string>
                <key>offset</key>
                <string>{0,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,143},{148,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5000_5_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,878},{42,106}}</string>
                <key>offset</key>
                <string>{0,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,148},{42,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5000_5_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,316},{42,98}}</string>
                <key>offset</key>
                <string>{1,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,148},{42,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5000_5_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,724},{42,138}}</string>
                <key>offset</key>
                <string>{1,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,143},{42,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5000_5_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,708},{42,136}}</string>
                <key>offset</key>
                <string>{1,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,144},{42,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5000_5_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,844},{42,122}}</string>
                <key>offset</key>
                <string>{1,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,148},{42,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>5000_5.png</string>
            <key>size</key>
            <string>{412,984}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e54060b7aae151a8e1a64d8e604b514f:1/1$</string>
            <key>textureFileName</key>
            <string>5000_5.png</string>
        </dict>
    </dict>
</plist>
