<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>5001_4_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,0},{48,180}}</string>
                <key>offset</key>
                <string>{0,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,96},{48,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5001_4_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,0},{48,180}}</string>
                <key>offset</key>
                <string>{0,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,96},{48,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5001_4_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,180},{48,180}}</string>
                <key>offset</key>
                <string>{0,70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,96},{48,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5001_4_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{50,180}}</string>
                <key>offset</key>
                <string>{1,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,96},{50,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5001_4_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,0},{114,168}}</string>
                <key>offset</key>
                <string>{2,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,104},{114,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5001_4_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,168},{118,168}}</string>
                <key>offset</key>
                <string>{0,68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,104},{118,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5001_4_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,0},{118,168}}</string>
                <key>offset</key>
                <string>{0,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,104},{118,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5001_4_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,0},{116,168}}</string>
                <key>offset</key>
                <string>{1,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,104},{116,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5001_4_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,162},{160,128}}</string>
                <key>offset</key>
                <string>{2,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,128},{160,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5001_4_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,0},{162,130}}</string>
                <key>offset</key>
                <string>{0,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,126},{162,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5001_4_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,0},{162,130}}</string>
                <key>offset</key>
                <string>{0,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,126},{162,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5001_4_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,0},{160,130}}</string>
                <key>offset</key>
                <string>{1,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,126},{160,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5001_4_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,0},{114,128}}</string>
                <key>offset</key>
                <string>{2,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,143},{114,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5001_4_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,168},{116,126}}</string>
                <key>offset</key>
                <string>{1,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,145},{116,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5001_4_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,160},{114,130}}</string>
                <key>offset</key>
                <string>{2,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,141},{114,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5001_4_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,168},{114,132}}</string>
                <key>offset</key>
                <string>{2,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,140},{114,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5001_4_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,128},{42,130}}</string>
                <key>offset</key>
                <string>{0,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,147},{42,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5001_4_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,128},{42,128}}</string>
                <key>offset</key>
                <string>{0,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,149},{42,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5001_4_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,160},{42,130}}</string>
                <key>offset</key>
                <string>{0,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,147},{42,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5001_4_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,228},{42,132}}</string>
                <key>offset</key>
                <string>{0,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,145},{42,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>5001_4.png</string>
            <key>size</key>
            <string>{1006,290}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4f89f188e0a127421fee65b04f2f3787:1/1$</string>
            <key>textureFileName</key>
            <string>5001_4.png</string>
        </dict>
    </dict>
</plist>
