<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>5002_5_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,482},{86,180}}</string>
                <key>offset</key>
                <string>{-1,71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,95},{86,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5002_5_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,680},{108,160}}</string>
                <key>offset</key>
                <string>{-12,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,112},{108,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5002_5_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,680},{80,160}}</string>
                <key>offset</key>
                <string>{1,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,112},{80,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5002_5_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,840},{84,160}}</string>
                <key>offset</key>
                <string>{-1,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,112},{84,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5002_5_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,712},{84,166}}</string>
                <key>offset</key>
                <string>{-6,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,107},{84,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5002_5_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,878},{164,138}}</string>
                <key>offset</key>
                <string>{-14,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,119},{164,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5002_5_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,408},{190,134}}</string>
                <key>offset</key>
                <string>{-24,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,117},{190,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5002_5_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,680},{158,138}}</string>
                <key>offset</key>
                <string>{-7,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,117},{158,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5002_5_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,878},{166,144}}</string>
                <key>offset</key>
                <string>{-10,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,115},{166,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5002_5_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,388},{184,154}}</string>
                <key>offset</key>
                <string>{-8,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,114},{184,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5002_5_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,136},{226,158}}</string>
                <key>offset</key>
                <string>{-12,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,100},{226,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5002_5_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,0},{232,134}}</string>
                <key>offset</key>
                <string>{-18,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,121},{232,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5002_5_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,96},{216,118}}</string>
                <key>offset</key>
                <string>{-8,70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,127},{216,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5002_5_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{232,136}}</string>
                <key>offset</key>
                <string>{-14,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,124},{232,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5002_5_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,134},{226,184}}</string>
                <key>offset</key>
                <string>{-14,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,72},{226,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5002_5_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,294},{188,206}}</string>
                <key>offset</key>
                <string>{-6,87}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,66},{188,206}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5002_5_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,568},{172,144}}</string>
                <key>offset</key>
                <string>{-16,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,110},{172,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5002_5_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,712},{166,144}}</string>
                <key>offset</key>
                <string>{-11,78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,106},{166,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5002_5_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,542},{176,138}}</string>
                <key>offset</key>
                <string>{-15,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,120},{176,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5002_5_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,542},{170,138}}</string>
                <key>offset</key>
                <string>{-14,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,125},{170,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5002_5_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,318},{90,196}}</string>
                <key>offset</key>
                <string>{-3,81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,77},{90,196}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5002_5_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,0},{96,122}}</string>
                <key>offset</key>
                <string>{-6,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,140},{96,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5002_5_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,818},{88,102}}</string>
                <key>offset</key>
                <string>{-3,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,151},{88,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5002_5_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,906},{88,98}}</string>
                <key>offset</key>
                <string>{-3,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,154},{88,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5002_5_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,312},{76,112}}</string>
                <key>offset</key>
                <string>{2,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,154},{76,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>5002_5.png</string>
            <key>size</key>
            <string>{586,1022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cc25c5424492d592072e255e8289c3a3:1/1$</string>
            <key>textureFileName</key>
            <string>5002_5.png</string>
        </dict>
    </dict>
</plist>
