<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>5006_4_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{104,180}}</string>
                <key>offset</key>
                <string>{1,74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,92},{104,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5006_4_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,106},{112,178}}</string>
                <key>offset</key>
                <string>{4,73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,94},{112,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5006_4_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,104},{110,182}}</string>
                <key>offset</key>
                <string>{4,75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,90},{110,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5006_4_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,106},{112,188}}</string>
                <key>offset</key>
                <string>{4,78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,84},{112,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5006_4_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,218},{218,194}}</string>
                <key>offset</key>
                <string>{-13,90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,69},{218,194}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5006_4_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,174},{224,192}}</string>
                <key>offset</key>
                <string>{-16,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,75},{224,192}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5006_4_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,412},{222,204}}</string>
                <key>offset</key>
                <string>{-16,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,69},{222,204}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5006_4_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,366},{218,202}}</string>
                <key>offset</key>
                <string>{-13,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,62},{218,202}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5006_4_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,378},{304,166}}</string>
                <key>offset</key>
                <string>{-17,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,100},{304,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5006_4_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,218},{314,160}}</string>
                <key>offset</key>
                <string>{-22,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,108},{314,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5006_4_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,832},{310,174}}</string>
                <key>offset</key>
                <string>{-21,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,100},{310,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5006_4_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,544},{304,190}}</string>
                <key>offset</key>
                <string>{-17,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,76},{304,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5006_4_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,568},{218,212}}</string>
                <key>offset</key>
                <string>{-13,82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,68},{218,212}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5006_4_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,780},{226,230}}</string>
                <key>offset</key>
                <string>{-17,88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,53},{226,230}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5006_4_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,734},{222,238}}</string>
                <key>offset</key>
                <string>{-15,86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,51},{222,238}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5006_4_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,616},{220,216}}</string>
                <key>offset</key>
                <string>{-13,84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,64},{220,216}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5006_4_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,0},{104,162}}</string>
                <key>offset</key>
                <string>{1,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,127},{104,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5006_4_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,0},{106,162}}</string>
                <key>offset</key>
                <string>{1,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,134},{106,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5006_4_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,0},{108,174}}</string>
                <key>offset</key>
                <string>{3,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,128},{108,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5006_4_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,0},{106,172}}</string>
                <key>offset</key>
                <string>{1,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,121},{106,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>5006_4.png</string>
            <key>size</key>
            <string>{784,1006}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d94eb855cd728cc14e1c4533f9577dfc:1/1$</string>
            <key>textureFileName</key>
            <string>5006_4.png</string>
        </dict>
    </dict>
</plist>
