<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>5008_4_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,0},{152,274}}</string>
                <key>offset</key>
                <string>{8,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,23},{152,274}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5008_4_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,292},{152,282}}</string>
                <key>offset</key>
                <string>{8,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,10},{152,282}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5008_4_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,606},{146,284}}</string>
                <key>offset</key>
                <string>{11,104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,10},{146,284}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5008_4_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,0},{148,282}}</string>
                <key>offset</key>
                <string>{9,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,21},{148,282}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5008_4_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,606},{236,282}}</string>
                <key>offset</key>
                <string>{-13,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,19},{236,282}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5008_4_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,282},{244,274}}</string>
                <key>offset</key>
                <string>{-10,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,25},{244,274}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5008_4_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,0},{234,292}}</string>
                <key>offset</key>
                <string>{-11,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,11},{234,292}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5008_4_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,0},{234,250}}</string>
                <key>offset</key>
                <string>{-14,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,34},{234,250}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5008_4_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,308},{302,240}}</string>
                <key>offset</key>
                <string>{-18,106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,30},{302,240}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5008_4_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,308},{298,236}}</string>
                <key>offset</key>
                <string>{-16,104}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,34},{298,236}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5008_4_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,610},{300,248}}</string>
                <key>offset</key>
                <string>{-17,110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,22},{300,248}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5008_4_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{308,250}}</string>
                <key>offset</key>
                <string>{-22,111}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,20},{308,250}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5008_4_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,706},{226,250}}</string>
                <key>offset</key>
                <string>{6,102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,29},{226,250}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5008_4_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,706},{132,226}}</string>
                <key>offset</key>
                <string>{-1,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,83},{132,226}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5008_4_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,250},{136,228}}</string>
                <key>offset</key>
                <string>{-3,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,81},{136,228}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5008_4_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,556},{134,228}}</string>
                <key>offset</key>
                <string>{-2,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,82},{134,228}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5008_4_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,478},{134,228}}</string>
                <key>offset</key>
                <string>{-2,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,82},{134,228}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>5008_4.png</string>
            <key>size</key>
            <string>{1018,956}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:91982997ad9a25bb33fc9a1de16701d7:1/1$</string>
            <key>textureFileName</key>
            <string>5008_4.png</string>
        </dict>
    </dict>
</plist>
