<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>5008_5_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,256},{140,250}}</string>
                <key>offset</key>
                <string>{4,96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,35},{140,250}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5008_5_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,128},{138,258}}</string>
                <key>offset</key>
                <string>{5,91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,36},{138,258}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5008_5_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,258},{144,272}}</string>
                <key>offset</key>
                <string>{9,93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,27},{144,272}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5008_5_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,0},{128,258}}</string>
                <key>offset</key>
                <string>{3,91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,36},{128,258}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5008_5_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,126},{130,266}}</string>
                <key>offset</key>
                <string>{6,90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,33},{130,266}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5008_5_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,266},{216,238}}</string>
                <key>offset</key>
                <string>{-8,102}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,35},{216,238}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5008_5_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,266},{216,252}}</string>
                <key>offset</key>
                <string>{-8,106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,24},{216,252}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5008_5_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,402},{234,258}}</string>
                <key>offset</key>
                <string>{8,101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,26},{234,258}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5008_5_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,482},{272,236}}</string>
                <key>offset</key>
                <string>{-14,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,37},{272,236}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5008_5_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,718},{282,244}}</string>
                <key>offset</key>
                <string>{-14,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,36},{282,244}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5008_5_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,636},{236,258}}</string>
                <key>offset</key>
                <string>{6,95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,32},{236,258}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5008_5_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,716},{240,244}}</string>
                <key>offset</key>
                <string>{3,96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,38},{240,244}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5008_5_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,482},{244,234}}</string>
                <key>offset</key>
                <string>{4,102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,37},{244,234}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5008_5_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,396},{232,248}}</string>
                <key>offset</key>
                <string>{2,85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,47},{232,248}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5008_5_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,628},{240,236}}</string>
                <key>offset</key>
                <string>{7,103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,35},{240,236}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5008_5_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,126},{130,234}}</string>
                <key>offset</key>
                <string>{-1,68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,71},{130,234}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5008_5_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,0},{126,224}}</string>
                <key>offset</key>
                <string>{-1,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,88},{126,224}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5008_5_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,0},{126,208}}</string>
                <key>offset</key>
                <string>{-1,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,87},{126,208}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5008_5_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{124,216}}</string>
                <key>offset</key>
                <string>{1,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,106},{124,216}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5008_5_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,128},{130,222}}</string>
                <key>offset</key>
                <string>{1,63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,82},{130,222}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>5008_5.png</string>
            <key>size</key>
            <string>{1024,962}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0165a4924043f523808f3b6696b87ce4:1/1$</string>
            <key>textureFileName</key>
            <string>5008_5.png</string>
        </dict>
    </dict>
</plist>
