<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>5009_5_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,356},{90,254}}</string>
                <key>offset</key>
                <string>{1,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,72},{90,254}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5009_5_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,568},{102,250}}</string>
                <key>offset</key>
                <string>{2,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,79},{102,250}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5009_5_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,0},{108,238}}</string>
                <key>offset</key>
                <string>{2,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,80},{108,238}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5009_5_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,780},{98,238}}</string>
                <key>offset</key>
                <string>{-1,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,81},{98,238}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5009_5_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,446},{94,252}}</string>
                <key>offset</key>
                <string>{0,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,73},{94,252}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5009_5_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,780},{242,216}}</string>
                <key>offset</key>
                <string>{-46,70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,78},{242,216}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5009_5_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,362},{254,212}}</string>
                <key>offset</key>
                <string>{-53,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,85},{254,212}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5009_5_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,540},{250,204}}</string>
                <key>offset</key>
                <string>{-49,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,93},{250,204}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5009_5_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,574},{248,206}}</string>
                <key>offset</key>
                <string>{-45,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,87},{248,206}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5009_5_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,346},{254,222}}</string>
                <key>offset</key>
                <string>{-37,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,81},{254,222}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5009_5_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,0},{294,180}}</string>
                <key>offset</key>
                <string>{-41,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,90},{294,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5009_5_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,0},{294,180}}</string>
                <key>offset</key>
                <string>{-45,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,99},{294,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5009_5_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,180},{294,166}}</string>
                <key>offset</key>
                <string>{-41,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,112},{294,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5009_5_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,180},{292,176}}</string>
                <key>offset</key>
                <string>{-42,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,107},{292,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5009_5_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{306,190}}</string>
                <key>offset</key>
                <string>{-34,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,91},{306,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5009_5_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,670},{248,192}}</string>
                <key>offset</key>
                <string>{-32,63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,97},{248,192}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5009_5_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,754},{234,190}}</string>
                <key>offset</key>
                <string>{-40,68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,93},{234,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5009_5_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,744},{236,184}}</string>
                <key>offset</key>
                <string>{-40,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,87},{236,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5009_5_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,544},{246,210}}</string>
                <key>offset</key>
                <string>{-42,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,88},{246,210}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5009_5_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,190},{260,172}}</string>
                <key>offset</key>
                <string>{-26,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,93},{260,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5009_5_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,372},{84,170}}</string>
                <key>offset</key>
                <string>{-1,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,117},{84,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5009_5_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,456},{88,164}}</string>
                <key>offset</key>
                <string>{2,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,130},{88,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5009_5_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,238},{108,134}}</string>
                <key>offset</key>
                <string>{0,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,139},{108,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5009_5_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,918},{94,162}}</string>
                <key>offset</key>
                <string>{3,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,141},{94,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5009_5_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,346},{86,158}}</string>
                <key>offset</key>
                <string>{-1,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,121},{86,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>5009_5.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:df278ab5cb394cd4084d7e85b661b5c7:1/1$</string>
            <key>textureFileName</key>
            <string>5009_5.png</string>
        </dict>
    </dict>
</plist>
