<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>5009_4_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,486},{104,282}}</string>
                <key>offset</key>
                <string>{1,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,70},{104,282}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5009_4_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,486},{102,280}}</string>
                <key>offset</key>
                <string>{1,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,72},{102,280}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5009_4_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,486},{102,280}}</string>
                <key>offset</key>
                <string>{1,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,71},{102,280}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5009_4_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,486},{102,282}}</string>
                <key>offset</key>
                <string>{2,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,70},{102,282}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5009_4_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,766},{228,242}}</string>
                <key>offset</key>
                <string>{-37,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,81},{228,242}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5009_4_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,768},{228,242}}</string>
                <key>offset</key>
                <string>{-37,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,81},{228,242}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5009_4_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,244},{228,242}}</string>
                <key>offset</key>
                <string>{-37,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,81},{228,242}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5009_4_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,0},{226,244}}</string>
                <key>offset</key>
                <string>{-36,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,79},{226,244}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5009_4_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,182},{308,182}}</string>
                <key>offset</key>
                <string>{-47,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,100},{308,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5009_4_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{310,182}}</string>
                <key>offset</key>
                <string>{-47,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,100},{310,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5009_4_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,182},{308,182}}</string>
                <key>offset</key>
                <string>{-46,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,100},{308,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5009_4_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,0},{308,182}}</string>
                <key>offset</key>
                <string>{-47,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,100},{308,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5009_4_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,838},{224,176}}</string>
                <key>offset</key>
                <string>{-33,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,116},{224,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5009_4_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,662},{226,176}}</string>
                <key>offset</key>
                <string>{-34,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,116},{226,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5009_4_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,486},{226,176}}</string>
                <key>offset</key>
                <string>{-34,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,116},{226,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5009_4_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,474},{226,176}}</string>
                <key>offset</key>
                <string>{-34,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,116},{226,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5009_4_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,838},{110,172}}</string>
                <key>offset</key>
                <string>{-3,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,130},{110,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5009_4_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,364},{110,172}}</string>
                <key>offset</key>
                <string>{-3,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,130},{110,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5009_4_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,364},{110,172}}</string>
                <key>offset</key>
                <string>{-3,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,131},{110,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5009_4_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,364},{110,172}}</string>
                <key>offset</key>
                <string>{-2,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,131},{110,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>5009_4.png</string>
            <key>size</key>
            <string>{844,1014}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d7aafb34c450885ffffe37ea2a093c58:1/1$</string>
            <key>textureFileName</key>
            <string>5009_4.png</string>
        </dict>
    </dict>
</plist>
