<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>5010_5_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,394},{230,152}}</string>
                <key>offset</key>
                <string>{0,91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,89},{230,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5010_5_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,0},{214,142}}</string>
                <key>offset</key>
                <string>{1,93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,92},{214,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5010_5_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,804},{204,142}}</string>
                <key>offset</key>
                <string>{-3,86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,99},{204,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5010_5_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,464},{230,138}}</string>
                <key>offset</key>
                <string>{-4,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,102},{230,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5010_5_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,0},{236,144}}</string>
                <key>offset</key>
                <string>{-3,87}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,97},{236,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5010_5_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,0},{238,190}}</string>
                <key>offset</key>
                <string>{-82,83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,78},{238,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5010_5_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,476},{232,172}}</string>
                <key>offset</key>
                <string>{-77,86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,84},{232,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5010_5_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,0},{230,168}}</string>
                <key>offset</key>
                <string>{-75,80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,92},{230,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5010_5_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,0},{234,174}}</string>
                <key>offset</key>
                <string>{-80,82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,87},{234,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5010_5_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,238},{238,186}}</string>
                <key>offset</key>
                <string>{-81,81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,82},{238,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5010_5_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,804},{204,198}}</string>
                <key>offset</key>
                <string>{-75,94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,63},{204,198}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5010_5_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,794},{214,184}}</string>
                <key>offset</key>
                <string>{-78,99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,65},{214,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5010_5_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,234},{230,170}}</string>
                <key>offset</key>
                <string>{-89,102}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,69},{230,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5010_5_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,602},{228,176}}</string>
                <key>offset</key>
                <string>{-88,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,70},{228,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5010_5_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,624},{210,200}}</string>
                <key>offset</key>
                <string>{-79,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,57},{210,200}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5010_5_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,274},{260,202}}</string>
                <key>offset</key>
                <string>{-78,140}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,15},{260,202}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5010_5_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,534},{260,186}}</string>
                <key>offset</key>
                <string>{-72,138}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,25},{260,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5010_5_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,274},{266,170}}</string>
                <key>offset</key>
                <string>{-72,136}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,35},{266,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5010_5_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{274,188}}</string>
                <key>offset</key>
                <string>{-77,136}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,26},{274,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5010_5_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,540},{264,204}}</string>
                <key>offset</key>
                <string>{-79,141}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,13},{264,204}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5010_5_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,230},{180,132}}</string>
                <key>offset</key>
                <string>{-3,146}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,44},{180,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5010_5_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,824},{168,138}}</string>
                <key>offset</key>
                <string>{5,151}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,36},{168,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5010_5_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,824},{156,140}}</string>
                <key>offset</key>
                <string>{6,146}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,40},{156,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5010_5_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,214},{180,142}}</string>
                <key>offset</key>
                <string>{6,142}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,43},{180,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5010_5_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,824},{182,140}}</string>
                <key>offset</key>
                <string>{-1,147}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,39},{182,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>5010_5.png</string>
            <key>size</key>
            <string>{1014,1008}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:722b2a626406adf34cf56ef0c08bf196:1/1$</string>
            <key>textureFileName</key>
            <string>5010_5.png</string>
        </dict>
    </dict>
</plist>
