<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>6000_5_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{170,56}}</string>
                <key>offset</key>
                <string>{1,137}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,91},{170,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6000_5_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,220},{166,62}}</string>
                <key>offset</key>
                <string>{1,138}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,87},{166,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6000_5_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,458},{158,62}}</string>
                <key>offset</key>
                <string>{2,134}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,91},{158,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6000_5_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,520},{156,60}}</string>
                <key>offset</key>
                <string>{3,132}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,94},{156,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6000_5_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,166},{168,54}}</string>
                <key>offset</key>
                <string>{2,132}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,97},{168,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6000_5_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,580},{124,92}}</string>
                <key>offset</key>
                <string>{-9,144}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,66},{124,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6000_5_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,672},{116,94}}</string>
                <key>offset</key>
                <string>{-4,146}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,63},{116,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6000_5_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,578},{106,96}}</string>
                <key>offset</key>
                <string>{-13,142}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,66},{106,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6000_5_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,472},{106,96}}</string>
                <key>offset</key>
                <string>{-15,140}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,68},{106,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6000_5_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,356},{116,94}}</string>
                <key>offset</key>
                <string>{-13,139}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,70},{116,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6000_5_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,798},{18,112}}</string>
                <key>offset</key>
                <string>{-13,150}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,50},{18,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6000_5_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,816},{20,108}}</string>
                <key>offset</key>
                <string>{-14,150}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,52},{20,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6000_5_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,692},{24,108}}</string>
                <key>offset</key>
                <string>{-20,148}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,54},{24,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6000_5_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,580},{24,112}}</string>
                <key>offset</key>
                <string>{-21,147}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,53},{24,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6000_5_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,776},{22,112}}</string>
                <key>offset</key>
                <string>{-18,146}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,54},{22,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6000_5_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,240},{116,88}}</string>
                <key>offset</key>
                <string>{-10,148}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,64},{116,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6000_5_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,0},{120,80}}</string>
                <key>offset</key>
                <string>{-5,147}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,69},{120,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6000_5_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,120},{120,86}}</string>
                <key>offset</key>
                <string>{-15,149}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,64},{120,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6000_5_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,684},{106,92}}</string>
                <key>offset</key>
                <string>{-23,151}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,59},{106,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6000_5_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,766},{116,92}}</string>
                <key>offset</key>
                <string>{-18,148}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,62},{116,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6000_5_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,112},{168,54}}</string>
                <key>offset</key>
                <string>{0,146}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,83},{168,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6000_5_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,282},{166,52}}</string>
                <key>offset</key>
                <string>{0,144}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,86},{166,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6000_5_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,334},{160,62}}</string>
                <key>offset</key>
                <string>{-1,144}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,81},{160,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6000_5_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,396},{158,62}}</string>
                <key>offset</key>
                <string>{-2,143}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,82},{158,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6000_5_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,56},{168,56}}</string>
                <key>offset</key>
                <string>{-1,143}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,85},{168,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>6000_5.png</string>
            <key>size</key>
            <string>{254,858}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:022119d9723fa1d25a84e6a0c8d43ec8:1/1$</string>
            <key>textureFileName</key>
            <string>6000_5.png</string>
        </dict>
    </dict>
</plist>
