<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>6000_7_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,236},{62,88}}</string>
                <key>offset</key>
                <string>{4,81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,131},{62,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6000_7_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,324},{82,90}}</string>
                <key>offset</key>
                <string>{-13,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,115},{82,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6000_7_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,280},{72,78}}</string>
                <key>offset</key>
                <string>{-18,93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,124},{72,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6000_7_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,44},{66,82}}</string>
                <key>offset</key>
                <string>{-15,95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,120},{66,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6000_7_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,320},{74,88}}</string>
                <key>offset</key>
                <string>{-14,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,118},{74,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6000_7_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,122},{44,80}}</string>
                <key>offset</key>
                <string>{-31,86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,130},{44,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6000_7_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,374},{40,88}}</string>
                <key>offset</key>
                <string>{-30,95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,117},{40,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6000_7_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,110},{50,82}}</string>
                <key>offset</key>
                <string>{-37,98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,117},{50,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6000_7_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,202},{44,78}}</string>
                <key>offset</key>
                <string>{-33,100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,117},{44,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6000_7_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,0},{44,84}}</string>
                <key>offset</key>
                <string>{-34,99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,115},{44,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6000_7_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,138},{138,76}}</string>
                <key>offset</key>
                <string>{-13,88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,130},{138,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6000_7_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,142},{140,74}}</string>
                <key>offset</key>
                <string>{-13,98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,121},{140,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6000_7_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,0},{138,78}}</string>
                <key>offset</key>
                <string>{-16,102}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,115},{138,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6000_7_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,0},{142,72}}</string>
                <key>offset</key>
                <string>{-10,101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,119},{142,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6000_7_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,158},{144,76}}</string>
                <key>offset</key>
                <string>{-16,107}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,111},{144,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6000_7_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,0},{162,56}}</string>
                <key>offset</key>
                <string>{-11,79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,149},{162,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6000_7_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,162},{158,66}}</string>
                <key>offset</key>
                <string>{-5,98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,125},{158,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6000_7_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,162},{162,66}}</string>
                <key>offset</key>
                <string>{-1,96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,127},{162,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6000_7_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{162,66}}</string>
                <key>offset</key>
                <string>{-1,98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,125},{162,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6000_7_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,0},{158,64}}</string>
                <key>offset</key>
                <string>{-8,102}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,122},{158,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6000_7_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,160},{98,76}}</string>
                <key>offset</key>
                <string>{-2,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,137},{98,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6000_7_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,0},{122,78}}</string>
                <key>offset</key>
                <string>{10,95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,122},{122,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6000_7_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,282},{124,82}}</string>
                <key>offset</key>
                <string>{9,93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,122},{124,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6000_7_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,302},{110,82}}</string>
                <key>offset</key>
                <string>{9,93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,122},{110,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6000_7_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,298},{100,76}}</string>
                <key>offset</key>
                <string>{7,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,120},{100,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>6000_7.png</string>
            <key>size</key>
            <string>{500,414}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:64b64747513772c0581632be3bb2413b:1/1$</string>
            <key>textureFileName</key>
            <string>6000_7.png</string>
        </dict>
    </dict>
</plist>
