<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>6000_0_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,134},{134,70}}</string>
                <key>offset</key>
                <string>{1,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,124},{134,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6000_0_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,78},{138,68}}</string>
                <key>offset</key>
                <string>{0,99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,123},{138,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6000_0_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{140,78}}</string>
                <key>offset</key>
                <string>{4,104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,113},{140,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6000_0_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,78},{144,72}}</string>
                <key>offset</key>
                <string>{2,103}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,117},{144,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6000_0_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,152},{134,70}}</string>
                <key>offset</key>
                <string>{9,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,123},{134,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6000_0_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,204},{98,96}}</string>
                <key>offset</key>
                <string>{-12,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,103},{98,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6000_0_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,362},{90,98}}</string>
                <key>offset</key>
                <string>{-9,110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,97},{90,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6000_0_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,300},{88,98}}</string>
                <key>offset</key>
                <string>{7,110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,97},{88,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6000_0_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,222},{112,96}}</string>
                <key>offset</key>
                <string>{2,111}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,97},{112,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6000_0_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,222},{112,96}}</string>
                <key>offset</key>
                <string>{-6,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,102},{112,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6000_0_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,204},{40,104}}</string>
                <key>offset</key>
                <string>{-12,113}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,91},{40,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6000_0_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,322},{32,106}}</string>
                <key>offset</key>
                <string>{-10,117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,86},{32,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6000_0_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,334},{18,108}}</string>
                <key>offset</key>
                <string>{5,116}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,86},{18,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6000_0_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,334},{36,108}}</string>
                <key>offset</key>
                <string>{1,112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,90},{36,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6000_0_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,318},{44,112}}</string>
                <key>offset</key>
                <string>{-15,114}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,86},{44,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6000_0_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,114},{106,92}}</string>
                <key>offset</key>
                <string>{-12,114}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,96},{106,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6000_0_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,362},{110,92}}</string>
                <key>offset</key>
                <string>{-8,113}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,97},{110,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6000_0_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,0},{114,84}}</string>
                <key>offset</key>
                <string>{6,106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,108},{114,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6000_0_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,322},{100,94}}</string>
                <key>offset</key>
                <string>{-3,114}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,95},{100,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6000_0_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,220},{90,102}}</string>
                <key>offset</key>
                <string>{-18,117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,88},{90,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6000_0_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,64},{136,70}}</string>
                <key>offset</key>
                <string>{-1,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,120},{136,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6000_0_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,0},{138,72}}</string>
                <key>offset</key>
                <string>{1,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,119},{138,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6000_0_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,222},{140,68}}</string>
                <key>offset</key>
                <string>{1,97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,125},{140,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6000_0_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,0},{144,64}}</string>
                <key>offset</key>
                <string>{0,100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,124},{144,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6000_0_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,72},{132,80}}</string>
                <key>offset</key>
                <string>{-8,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,110},{132,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>6000_0.png</string>
            <key>size</key>
            <string>{506,454}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:85a7b0cf7e6ada1296f3fcae5b01cda9:1/1$</string>
            <key>textureFileName</key>
            <string>6000_0.png</string>
        </dict>
    </dict>
</plist>
