<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>6000_1_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,230},{150,58}}</string>
                <key>offset</key>
                <string>{0,89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,138},{150,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6000_1_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,230},{146,48}}</string>
                <key>offset</key>
                <string>{-2,88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,144},{146,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6000_1_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,66},{160,48}}</string>
                <key>offset</key>
                <string>{0,91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,141},{160,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6000_1_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,0},{164,56}}</string>
                <key>offset</key>
                <string>{0,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,135},{164,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6000_1_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,380},{98,94}}</string>
                <key>offset</key>
                <string>{-32,98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,111},{98,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6000_1_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,346},{98,88}}</string>
                <key>offset</key>
                <string>{-36,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,117},{98,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6000_1_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,258},{112,88}}</string>
                <key>offset</key>
                <string>{-23,98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,114},{112,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6000_1_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,216},{112,94}}</string>
                <key>offset</key>
                <string>{-18,101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,108},{112,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6000_1_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,328},{44,104}}</string>
                <key>offset</key>
                <string>{-37,107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,97},{44,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6000_1_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,434},{46,106}}</string>
                <key>offset</key>
                <string>{-38,104}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,99},{46,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6000_1_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,454},{28,108}}</string>
                <key>offset</key>
                <string>{-28,104}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,98},{28,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6000_1_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,0},{24,110}}</string>
                <key>offset</key>
                <string>{-27,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,95},{24,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6000_1_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,126},{132,78}}</string>
                <key>offset</key>
                <string>{-25,113}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,104},{132,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6000_1_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,226},{120,86}}</string>
                <key>offset</key>
                <string>{-34,114}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,99},{120,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6000_1_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,126},{122,90}}</string>
                <key>offset</key>
                <string>{-26,110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,101},{122,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6000_1_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,370},{120,84}}</string>
                <key>offset</key>
                <string>{-20,112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,102},{120,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6000_1_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,66},{150,66}}</string>
                <key>offset</key>
                <string>{0,111}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,112},{150,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6000_1_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,56},{146,70}}</string>
                <key>offset</key>
                <string>{1,111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,110},{146,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6000_1_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{160,66}}</string>
                <key>offset</key>
                <string>{0,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,117},{160,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6000_1_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,66},{164,60}}</string>
                <key>offset</key>
                <string>{-1,104}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,122},{164,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>6000_1.png</string>
            <key>size</key>
            <string>{374,491}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0d5ac5977a84561d2301acd62e90037f:1/1$</string>
            <key>textureFileName</key>
            <string>6000_1.png</string>
        </dict>
    </dict>
</plist>
