<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>6000_6_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,330},{78,86}}</string>
                <key>offset</key>
                <string>{-25,103}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,110},{78,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6000_6_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,150},{48,96}}</string>
                <key>offset</key>
                <string>{-24,110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,98},{48,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6000_6_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,484},{28,92}}</string>
                <key>offset</key>
                <string>{-24,110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,100},{28,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6000_6_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,216},{140,68}}</string>
                <key>offset</key>
                <string>{-7,94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,128},{140,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6000_6_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,0},{148,64}}</string>
                <key>offset</key>
                <string>{-10,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,133},{148,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6000_6_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,434},{58,90}}</string>
                <key>offset</key>
                <string>{-47,110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,101},{58,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6000_6_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,246},{66,90}}</string>
                <key>offset</key>
                <string>{-51,112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,99},{66,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6000_6_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,150},{76,96}}</string>
                <key>offset</key>
                <string>{-57,117}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,91},{76,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6000_6_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,420},{68,74}}</string>
                <key>offset</key>
                <string>{-38,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,128},{68,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6000_6_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,306},{58,92}}</string>
                <key>offset</key>
                <string>{-38,98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,112},{58,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6000_6_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,138},{134,78}}</string>
                <key>offset</key>
                <string>{-3,115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,102},{134,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6000_6_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,356},{128,76}}</string>
                <key>offset</key>
                <string>{7,113}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,105},{128,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6000_6_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,142},{120,72}}</string>
                <key>offset</key>
                <string>{10,110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,110},{120,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6000_6_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,408},{86,76}}</string>
                <key>offset</key>
                <string>{-12,113}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,105},{86,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6000_6_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,0},{98,68}}</string>
                <key>offset</key>
                <string>{-18,109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,113},{98,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6000_6_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,216},{134,72}}</string>
                <key>offset</key>
                <string>{13,106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,114},{134,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6000_6_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,68},{112,82}}</string>
                <key>offset</key>
                <string>{20,108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,107},{112,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6000_6_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,64},{124,78}}</string>
                <key>offset</key>
                <string>{24,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,111},{124,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6000_6_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,214},{116,86}}</string>
                <key>offset</key>
                <string>{-14,113}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,100},{116,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6000_6_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{150,72}}</string>
                <key>offset</key>
                <string>{-5,111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,109},{150,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6000_6_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,226},{92,80}}</string>
                <key>offset</key>
                <string>{26,109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,107},{92,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6000_6_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,336},{64,84}}</string>
                <key>offset</key>
                <string>{26,109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,105},{64,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6000_6_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,364},{94,70}}</string>
                <key>offset</key>
                <string>{32,104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,117},{94,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6000_6_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,72},{148,66}}</string>
                <key>offset</key>
                <string>{15,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,122},{148,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6000_6_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,356},{152,54}}</string>
                <key>offset</key>
                <string>{3,99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,130},{152,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>6000_6.png</string>
            <key>size</key>
            <string>{398,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:48ce4a5db57b13d4732b48e1353ef914:1/1$</string>
            <key>textureFileName</key>
            <string>6000_6.png</string>
        </dict>
    </dict>
</plist>
