<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>6001_0_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,358},{136,70}}</string>
                <key>offset</key>
                <string>{1,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,124},{136,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001_0_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,218},{138,68}}</string>
                <key>offset</key>
                <string>{0,99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,123},{138,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001_0_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{140,78}}</string>
                <key>offset</key>
                <string>{4,104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,113},{140,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001_0_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,78},{144,72}}</string>
                <key>offset</key>
                <string>{2,103}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,117},{144,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001_0_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,360},{134,70}}</string>
                <key>offset</key>
                <string>{10,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,123},{134,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001_0_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,64},{98,96}}</string>
                <key>offset</key>
                <string>{-12,105}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,103},{98,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001_0_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,206},{90,98}}</string>
                <key>offset</key>
                <string>{-9,110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,97},{90,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001_0_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,350},{88,98}}</string>
                <key>offset</key>
                <string>{7,110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,97},{88,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001_0_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,80},{112,98}}</string>
                <key>offset</key>
                <string>{2,112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,95},{112,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001_0_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,178},{112,96}}</string>
                <key>offset</key>
                <string>{-6,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,102},{112,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001_0_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,362},{44,106}}</string>
                <key>offset</key>
                <string>{-10,113}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,90},{44,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001_0_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,406},{36,106}}</string>
                <key>offset</key>
                <string>{-8,117}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,86},{36,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001_0_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,332},{18,108}}</string>
                <key>offset</key>
                <string>{6,116}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{253,86},{18,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001_0_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,296},{36,108}}</string>
                <key>offset</key>
                <string>{1,112}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,90},{36,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001_0_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,216},{48,112}}</string>
                <key>offset</key>
                <string>{-13,114}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,86},{48,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001_0_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,100},{106,92}}</string>
                <key>offset</key>
                <string>{-12,114}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,96},{106,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001_0_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,162},{110,92}}</string>
                <key>offset</key>
                <string>{-8,113}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,97},{110,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001_0_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,274},{114,84}}</string>
                <key>offset</key>
                <string>{6,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,108},{114,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001_0_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,0},{100,94}}</string>
                <key>offset</key>
                <string>{-3,114}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,95},{100,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001_0_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,272},{90,102}}</string>
                <key>offset</key>
                <string>{-17,117}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,88},{90,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001_0_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,80},{136,70}}</string>
                <key>offset</key>
                <string>{-1,100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,121},{136,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001_0_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,222},{138,72}}</string>
                <key>offset</key>
                <string>{1,101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,119},{138,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001_0_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,78},{140,68}}</string>
                <key>offset</key>
                <string>{1,95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,127},{140,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001_0_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,0},{144,64}}</string>
                <key>offset</key>
                <string>{0,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,125},{144,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001_0_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,0},{134,80}}</string>
                <key>offset</key>
                <string>{-8,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,111},{134,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>6001_0.png</string>
            <key>size</key>
            <string>{512,442}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:75274df1dff8e2b1ba83f304845d3c76:1/1$</string>
            <key>textureFileName</key>
            <string>6001_0.png</string>
        </dict>
    </dict>
</plist>
