<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>6001_1_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,66},{150,58}}</string>
                <key>offset</key>
                <string>{0,89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,138},{150,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001_1_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,56},{146,50}}</string>
                <key>offset</key>
                <string>{-2,89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,142},{146,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001_1_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,0},{160,48}}</string>
                <key>offset</key>
                <string>{0,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,141},{160,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001_1_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,0},{164,56}}</string>
                <key>offset</key>
                <string>{0,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,135},{164,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001_1_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,160},{98,94}}</string>
                <key>offset</key>
                <string>{-32,98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,111},{98,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001_1_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,258},{98,88}}</string>
                <key>offset</key>
                <string>{-36,95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,117},{98,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001_1_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,202},{112,88}}</string>
                <key>offset</key>
                <string>{-23,99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,113},{112,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001_1_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,48},{112,94}}</string>
                <key>offset</key>
                <string>{-18,101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,108},{112,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001_1_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,314},{46,104}}</string>
                <key>offset</key>
                <string>{-36,107}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,97},{46,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001_1_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,176},{48,106}}</string>
                <key>offset</key>
                <string>{-37,104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,99},{48,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001_1_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,156},{28,108}}</string>
                <key>offset</key>
                <string>{-27,104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,98},{28,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001_1_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,48},{28,108}}</string>
                <key>offset</key>
                <string>{-25,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,96},{28,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001_1_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,230},{132,78}}</string>
                <key>offset</key>
                <string>{-25,112}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,105},{132,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001_1_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,56},{120,86}}</string>
                <key>offset</key>
                <string>{-34,113}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,100},{120,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001_1_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,216},{122,90}}</string>
                <key>offset</key>
                <string>{-26,109}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,102},{122,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001_1_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,216},{120,84}}</string>
                <key>offset</key>
                <string>{-20,111}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,103},{120,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001_1_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,66},{150,66}}</string>
                <key>offset</key>
                <string>{0,111}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,112},{150,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001_1_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,56},{146,70}}</string>
                <key>offset</key>
                <string>{1,111}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,110},{146,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001_1_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{162,66}}</string>
                <key>offset</key>
                <string>{-1,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,117},{162,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001_1_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,66},{164,60}}</string>
                <key>offset</key>
                <string>{-1,105}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,121},{164,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>6001_1.png</string>
            <key>size</key>
            <string>{512,363}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ccf4f5b5fe4e0fa0eabe005a55491f6b:1/1$</string>
            <key>textureFileName</key>
            <string>6001_1.png</string>
        </dict>
    </dict>
</plist>
