<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>6001_6_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,262},{78,86}}</string>
                <key>offset</key>
                <string>{-24,103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,110},{78,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001_6_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,386},{48,96}}</string>
                <key>offset</key>
                <string>{-24,110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,98},{48,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001_6_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,470},{30,92}}</string>
                <key>offset</key>
                <string>{-24,110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,100},{30,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001_6_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,64},{140,68}}</string>
                <key>offset</key>
                <string>{-7,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,128},{140,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001_6_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,0},{148,64}}</string>
                <key>offset</key>
                <string>{-10,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,132},{148,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001_6_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,440},{60,90}}</string>
                <key>offset</key>
                <string>{-47,110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,101},{60,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001_6_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,434},{66,90}}</string>
                <key>offset</key>
                <string>{-50,112}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,99},{66,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001_6_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,132},{78,96}}</string>
                <key>offset</key>
                <string>{-55,117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,91},{78,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001_6_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,322},{72,74}}</string>
                <key>offset</key>
                <string>{-37,91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,128},{72,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001_6_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,434},{62,92}}</string>
                <key>offset</key>
                <string>{-37,98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,112},{62,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001_6_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,138},{134,78}}</string>
                <key>offset</key>
                <string>{-3,115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,102},{134,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001_6_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,288},{128,76}}</string>
                <key>offset</key>
                <string>{7,113}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,105},{128,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001_6_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,228},{120,72}}</string>
                <key>offset</key>
                <string>{10,110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,110},{120,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001_6_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,394},{86,76}}</string>
                <key>offset</key>
                <string>{-12,113}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,105},{86,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001_6_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,0},{98,68}}</string>
                <key>offset</key>
                <string>{-18,109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,113},{98,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001_6_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,216},{134,72}}</string>
                <key>offset</key>
                <string>{13,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,114},{134,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001_6_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,68},{112,82}}</string>
                <key>offset</key>
                <string>{20,108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,107},{112,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001_6_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,138},{124,78}}</string>
                <key>offset</key>
                <string>{24,106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,111},{124,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001_6_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,300},{116,86}}</string>
                <key>offset</key>
                <string>{-14,113}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,100},{116,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001_6_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{150,72}}</string>
                <key>offset</key>
                <string>{-4,111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,109},{150,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001_6_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,150},{92,78}}</string>
                <key>offset</key>
                <string>{26,109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,108},{92,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001_6_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,348},{64,82}}</string>
                <key>offset</key>
                <string>{26,108}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{250,107},{64,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001_6_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,228},{94,70}}</string>
                <key>offset</key>
                <string>{32,104}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,117},{94,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001_6_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,72},{150,66}}</string>
                <key>offset</key>
                <string>{14,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,122},{150,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001_6_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,288},{152,54}}</string>
                <key>offset</key>
                <string>{3,99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,130},{152,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>6001_6.png</string>
            <key>size</key>
            <string>{402,500}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:716bf20308c98c40c4ff80bad3c0d247:1/1$</string>
            <key>textureFileName</key>
            <string>6001_6.png</string>
        </dict>
    </dict>
</plist>
