<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>6001_8_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,156},{136,66}}</string>
                <key>offset</key>
                <string>{-23,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,143},{136,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001_8_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,642},{124,92}}</string>
                <key>offset</key>
                <string>{5,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,105},{124,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001_8_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,300},{132,90}}</string>
                <key>offset</key>
                <string>{4,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,113},{132,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001_8_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,390},{132,80}}</string>
                <key>offset</key>
                <string>{-3,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,111},{132,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001_8_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,470},{130,76}}</string>
                <key>offset</key>
                <string>{-14,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,119},{130,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001_8_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,828},{52,92}}</string>
                <key>offset</key>
                <string>{-50,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,115},{52,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001_8_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,916},{34,98}}</string>
                <key>offset</key>
                <string>{-5,107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,100},{34,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001_8_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,828},{82,90}}</string>
                <key>offset</key>
                <string>{3,108}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,103},{82,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001_8_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,374},{106,84}}</string>
                <key>offset</key>
                <string>{14,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,118},{106,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001_8_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,88},{138,68}}</string>
                <key>offset</key>
                <string>{5,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,124},{138,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001_8_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,654},{102,88}}</string>
                <key>offset</key>
                <string>{-26,107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,105},{102,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001_8_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,916},{96,88}}</string>
                <key>offset</key>
                <string>{20,109}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,103},{96,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001_8_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,742},{102,86}}</string>
                <key>offset</key>
                <string>{56,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{261,119},{102,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001_8_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,920},{90,92}}</string>
                <key>offset</key>
                <string>{59,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{270,113},{90,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001_8_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,284},{112,90}}</string>
                <key>offset</key>
                <string>{21,116}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,95},{112,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001_8_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,222},{134,78}}</string>
                <key>offset</key>
                <string>{15,110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,107},{134,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001_8_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,734},{124,90}}</string>
                <key>offset</key>
                <string>{46,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,116},{124,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001_8_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,546},{124,96}}</string>
                <key>offset</key>
                <string>{40,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,119},{124,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001_8_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,0},{102,104}}</string>
                <key>offset</key>
                <string>{35,81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,123},{102,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001_8_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,824},{100,92}}</string>
                <key>offset</key>
                <string>{33,109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,101},{100,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001_8_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{142,88}}</string>
                <key>offset</key>
                <string>{33,102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,110},{142,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001_8_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,556},{122,98}}</string>
                <key>offset</key>
                <string>{39,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,106},{122,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001_8_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,102},{108,92}}</string>
                <key>offset</key>
                <string>{7,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,114},{108,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001_8_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,194},{90,106}}</string>
                <key>offset</key>
                <string>{24,105}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,98},{90,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001_8_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,458},{102,98}}</string>
                <key>offset</key>
                <string>{25,107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,100},{102,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>6001_8.png</string>
            <key>size</key>
            <string>{246,1014}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:455d513bc3f4bc47a73011b4b1e958f4:1/1$</string>
            <key>textureFileName</key>
            <string>6001_8.png</string>
        </dict>
    </dict>
</plist>
