<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>6002_4_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,0},{156,62}}</string>
                <key>offset</key>
                <string>{-2,137}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,88},{156,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002_4_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,272},{150,64}}</string>
                <key>offset</key>
                <string>{-1,135}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,89},{150,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002_4_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,70},{166,68}}</string>
                <key>offset</key>
                <string>{-1,138}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,84},{166,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002_4_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{170,70}}</string>
                <key>offset</key>
                <string>{-3,140}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,81},{170,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002_4_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,256},{112,88}}</string>
                <key>offset</key>
                <string>{-19,149}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,63},{112,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002_4_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,186},{106,84}}</string>
                <key>offset</key>
                <string>{-26,144}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,70},{106,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002_4_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,62},{124,86}}</string>
                <key>offset</key>
                <string>{-14,147}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,66},{124,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002_4_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,58},{128,86}}</string>
                <key>offset</key>
                <string>{-5,149}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,64},{128,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002_4_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,312},{48,104}}</string>
                <key>offset</key>
                <string>{-28,152}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,52},{48,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002_4_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,292},{48,100}}</string>
                <key>offset</key>
                <string>{-32,145}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,61},{48,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002_4_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,336},{34,104}}</string>
                <key>offset</key>
                <string>{-21,146}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,58},{34,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002_4_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,340},{30,106}}</string>
                <key>offset</key>
                <string>{-18,150}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,53},{30,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002_4_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,148},{118,76}}</string>
                <key>offset</key>
                <string>{-15,156}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,62},{118,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002_4_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,224},{106,88}}</string>
                <key>offset</key>
                <string>{-21,158}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,54},{106,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002_4_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,144},{112,88}}</string>
                <key>offset</key>
                <string>{-6,153}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,59},{112,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002_4_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,62},{124,76}}</string>
                <key>offset</key>
                <string>{-1,155}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,63},{124,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002_4_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,138},{158,64}}</string>
                <key>offset</key>
                <string>{1,153}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,71},{158,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002_4_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,202},{150,70}}</string>
                <key>offset</key>
                <string>{2,153}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,68},{150,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002_4_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,0},{166,58}}</string>
                <key>offset</key>
                <string>{1,145}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,82},{166,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002_4_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,202},{170,46}}</string>
                <key>offset</key>
                <string>{1,143}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,90},{170,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>6002_4.png</string>
            <key>size</key>
            <string>{498,376}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4f870a2c7ab9b82724d90b010be9bdee:1/1$</string>
            <key>textureFileName</key>
            <string>6002_4.png</string>
        </dict>
    </dict>
</plist>
