<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>6002_7_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,208},{66,90}}</string>
                <key>offset</key>
                <string>{2,81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,130},{66,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002_7_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,356},{84,92}}</string>
                <key>offset</key>
                <string>{-14,97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,113},{84,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002_7_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,364},{74,78}}</string>
                <key>offset</key>
                <string>{-20,92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,125},{74,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002_7_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,132},{66,82}}</string>
                <key>offset</key>
                <string>{-16,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,120},{66,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002_7_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,274},{76,90}}</string>
                <key>offset</key>
                <string>{-16,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,117},{76,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002_7_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,146},{54,82}}</string>
                <key>offset</key>
                <string>{-27,85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,130},{54,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002_7_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,380},{42,88}}</string>
                <key>offset</key>
                <string>{-31,95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,117},{42,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002_7_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,274},{52,82}}</string>
                <key>offset</key>
                <string>{-38,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,118},{52,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002_7_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,214},{46,80}}</string>
                <key>offset</key>
                <string>{-33,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,117},{46,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002_7_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,294},{46,86}}</string>
                <key>offset</key>
                <string>{-35,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,114},{46,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002_7_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,280},{142,76}}</string>
                <key>offset</key>
                <string>{-13,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,129},{142,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002_7_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,280},{146,76}}</string>
                <key>offset</key>
                <string>{-14,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,121},{146,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002_7_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,66},{142,80}}</string>
                <key>offset</key>
                <string>{-15,102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,114},{142,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002_7_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,0},{146,74}}</string>
                <key>offset</key>
                <string>{-10,102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,117},{146,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002_7_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,202},{148,78}}</string>
                <key>offset</key>
                <string>{-15,107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,110},{148,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002_7_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,74},{168,58}}</string>
                <key>offset</key>
                <string>{-12,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,148},{168,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002_7_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,68},{164,68}}</string>
                <key>offset</key>
                <string>{-5,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,124},{164,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002_7_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{168,68}}</string>
                <key>offset</key>
                <string>{-1,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,126},{168,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002_7_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,0},{166,66}}</string>
                <key>offset</key>
                <string>{0,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,126},{166,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002_7_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,136},{164,66}}</string>
                <key>offset</key>
                <string>{-8,102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,121},{164,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002_7_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,132},{100,76}}</string>
                <key>offset</key>
                <string>{-2,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,137},{100,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002_7_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,146},{126,80}}</string>
                <key>offset</key>
                <string>{9,95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,121},{126,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002_7_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,356},{128,84}}</string>
                <key>offset</key>
                <string>{9,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,120},{128,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002_7_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,356},{112,84}}</string>
                <key>offset</key>
                <string>{9,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,120},{112,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002_7_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,202},{104,78}}</string>
                <key>offset</key>
                <string>{7,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,118},{104,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>6002_7.png</string>
            <key>size</key>
            <string>{501,440}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c18071996357bb761315d19c20a2a24d:1/1$</string>
            <key>textureFileName</key>
            <string>6002_7.png</string>
        </dict>
    </dict>
</plist>
