<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>6002_3_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,74},{134,88}}</string>
                <key>offset</key>
                <string>{2,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,115},{134,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002_3_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,134},{70,102}}</string>
                <key>offset</key>
                <string>{-16,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,100},{70,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002_3_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,162},{80,92}}</string>
                <key>offset</key>
                <string>{-16,103}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,107},{80,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002_3_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,0},{134,68}}</string>
                <key>offset</key>
                <string>{-16,104}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,118},{134,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002_3_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{136,74}}</string>
                <key>offset</key>
                <string>{-1,104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,115},{136,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>6002_3.png</string>
            <key>size</key>
            <string>{204,242}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a0fe516f06aceca78111b093c6adfa19:1/1$</string>
            <key>textureFileName</key>
            <string>6002_3.png</string>
        </dict>
    </dict>
</plist>
