<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>6002_6_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,254},{80,90}}</string>
                <key>offset</key>
                <string>{-24,103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,108},{80,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002_6_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,390},{50,100}}</string>
                <key>offset</key>
                <string>{-24,112}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,94},{50,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002_6_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,156},{32,98}}</string>
                <key>offset</key>
                <string>{-24,112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,95},{32,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002_6_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,128},{146,72}}</string>
                <key>offset</key>
                <string>{-8,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,124},{146,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002_6_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,74},{152,68}}</string>
                <key>offset</key>
                <string>{-10,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,128},{152,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002_6_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,404},{64,94}}</string>
                <key>offset</key>
                <string>{-48,112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,97},{64,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002_6_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,438},{70,94}}</string>
                <key>offset</key>
                <string>{-51,113}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,96},{70,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002_6_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,304},{86,100}}</string>
                <key>offset</key>
                <string>{-54,119}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,87},{86,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002_6_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,358},{78,78}}</string>
                <key>offset</key>
                <string>{-36,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,126},{78,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002_6_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,310},{66,94}}</string>
                <key>offset</key>
                <string>{-36,100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,109},{66,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002_6_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,142},{138,80}}</string>
                <key>offset</key>
                <string>{-3,117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,99},{138,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002_6_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,0},{132,76}}</string>
                <key>offset</key>
                <string>{7,115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,103},{132,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002_6_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,156},{124,74}}</string>
                <key>offset</key>
                <string>{11,111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,108},{124,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002_6_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,358},{88,78}}</string>
                <key>offset</key>
                <string>{-11,114}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,103},{88,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002_6_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,230},{102,74}}</string>
                <key>offset</key>
                <string>{-18,112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,107},{102,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002_6_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,200},{138,74}}</string>
                <key>offset</key>
                <string>{14,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,113},{138,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002_6_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,274},{114,84}}</string>
                <key>offset</key>
                <string>{21,109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,105},{114,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002_6_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,76},{128,80}}</string>
                <key>offset</key>
                <string>{24,107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,109},{128,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002_6_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,222},{120,88}}</string>
                <key>offset</key>
                <string>{-14,115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,97},{120,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002_6_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,0},{154,74}}</string>
                <key>offset</key>
                <string>{-4,112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,107},{154,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002_6_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,344},{94,84}}</string>
                <key>offset</key>
                <string>{26,110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,104},{94,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002_6_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,440},{64,88}}</string>
                <key>offset</key>
                <string>{26,110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{250,102},{64,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002_6_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,436},{96,72}}</string>
                <key>offset</key>
                <string>{32,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,115},{96,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002_6_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,60},{154,68}}</string>
                <key>offset</key>
                <string>{15,102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,120},{154,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002_6_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{156,60}}</string>
                <key>offset</key>
                <string>{3,102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,124},{156,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>6002_6.png</string>
            <key>size</key>
            <string>{442,508}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:524de529305f6c63d232baee50dd7d3d:1/1$</string>
            <key>textureFileName</key>
            <string>6002_6.png</string>
        </dict>
    </dict>
</plist>
