<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>6003_3_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,0},{157,99}}</string>
                <key>offset</key>
                <string>{2,95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,86},{157,99}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>6003_3_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,157},{113,115}}</string>
                <key>offset</key>
                <string>{-17,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,74},{113,115}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>6003_3_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,272},{115,113}}</string>
                <key>offset</key>
                <string>{-24,99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,75},{115,113}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>6003_3_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,163},{161,103}}</string>
                <key>offset</key>
                <string>{-21,91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,88},{161,103}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>6003_3_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{163,103}}</string>
                <key>offset</key>
                <string>{1,105}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,74},{163,103}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>6003_3.png</string>
            <key>size</key>
            <string>{216,391}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:49d81b3a94081ff1cb56c2c6dbbe5592:1/1$</string>
            <key>textureFileName</key>
            <string>6003_3.png</string>
        </dict>
    </dict>
</plist>
