<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>6003_4_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,101},{197,93}}</string>
                <key>offset</key>
                <string>{3,137}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,47},{197,93}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>6003_4_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,273},{195,91}}</string>
                <key>offset</key>
                <string>{2,135}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,50},{195,91}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>6003_4_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,364},{191,95}}</string>
                <key>offset</key>
                <string>{-3,134}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,49},{191,95}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>6003_4_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{201,101}}</string>
                <key>offset</key>
                <string>{0,137}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,43},{201,101}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>6003_4_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,861},{141,111}}</string>
                <key>offset</key>
                <string>{-18,141}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,34},{141,111}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>6003_4_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,851},{145,113}}</string>
                <key>offset</key>
                <string>{-23,138}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,36},{145,113}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>6003_4_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,585},{141,121}}</string>
                <key>offset</key>
                <string>{-23,143}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,27},{141,121}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>6003_4_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,0},{159,123}}</string>
                <key>offset</key>
                <string>{-18,147}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,22},{159,123}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>6003_4_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,706},{73,133}}</string>
                <key>offset</key>
                <string>{-36,137}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,27},{73,133}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>6003_4_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,508},{77,133}}</string>
                <key>offset</key>
                <string>{-36,134}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,30},{77,133}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>6003_4_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,851},{63,137}}</string>
                <key>offset</key>
                <string>{-25,130}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,32},{63,137}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>6003_4_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,159},{59,125}}</string>
                <key>offset</key>
                <string>{-23,138}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,30},{59,125}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>6003_4_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,706},{145,117}}</string>
                <key>offset</key>
                <string>{-15,157}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,15},{145,117}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>6003_4_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,218},{141,123}}</string>
                <key>offset</key>
                <string>{-24,158}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,11},{141,123}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>6003_4_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,359},{149,121}}</string>
                <key>offset</key>
                <string>{-9,154}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,16},{149,121}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>6003_4_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,706},{155,109}}</string>
                <key>offset</key>
                <string>{-6,149}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,27},{155,109}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>6003_4_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,633},{183,73}}</string>
                <key>offset</key>
                <string>{0,158}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,36},{183,73}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>6003_4_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,548},{183,85}}</string>
                <key>offset</key>
                <string>{-5,158}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,30},{183,85}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>6003_4_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,459},{189,89}}</string>
                <key>offset</key>
                <string>{-1,155}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,31},{189,89}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>6003_4_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,194},{197,79}}</string>
                <key>offset</key>
                <string>{3,147}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,44},{197,79}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>6003_4.png</string>
            <key>size</key>
            <string>{324,1002}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c39a5851e79d5ce45ca26d1050ef1362:1/1$</string>
            <key>textureFileName</key>
            <string>6003_4.png</string>
        </dict>
    </dict>
</plist>
