<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>6003_0_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,568},{169,105}}</string>
                <key>offset</key>
                <string>{0,102}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,76},{169,105}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>6003_0_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,391},{177,97}}</string>
                <key>offset</key>
                <string>{3,103}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,79},{177,97}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>6003_0_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,737},{173,93}}</string>
                <key>offset</key>
                <string>{5,102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,82},{173,93}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>6003_0_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,383},{175,91}}</string>
                <key>offset</key>
                <string>{-2,102}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,83},{175,91}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>6003_0_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,99},{177,103}}</string>
                <key>offset</key>
                <string>{1,102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,77},{177,103}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>6003_0_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,476},{117,137}}</string>
                <key>offset</key>
                <string>{-17,104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,58},{117,137}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>6003_0_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,613},{131,119}}</string>
                <key>offset</key>
                <string>{-14,102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,69},{131,119}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>6003_0_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,611},{131,113}}</string>
                <key>offset</key>
                <string>{-2,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,69},{131,113}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>6003_0_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,327},{149,119}}</string>
                <key>offset</key>
                <string>{-9,106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,65},{149,119}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>6003_0_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,0},{141,133}}</string>
                <key>offset</key>
                <string>{-16,104}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,60},{141,133}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>6003_0_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,327},{73,135}}</string>
                <key>offset</key>
                <string>{-10,111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,52},{73,135}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>6003_0_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,724},{63,129}}</string>
                <key>offset</key>
                <string>{-10,113}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,53},{63,129}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>6003_0_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,460},{69,131}}</string>
                <key>offset</key>
                <string>{-2,110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,55},{69,131}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>6003_0_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,260},{65,141}}</string>
                <key>offset</key>
                <string>{0,107}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,53},{65,141}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>6003_0_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,732},{83,151}}</string>
                <key>offset</key>
                <string>{-16,113}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,42},{83,151}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>6003_0_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,325},{135,121}}</string>
                <key>offset</key>
                <string>{-17,111}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,59},{135,121}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>6003_0_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,141},{147,119}}</string>
                <key>offset</key>
                <string>{-7,109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,62},{147,119}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>6003_0_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,97},{167,107}}</string>
                <key>offset</key>
                <string>{0,100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,77},{167,107}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>6003_0_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,204},{151,123}}</string>
                <key>offset</key>
                <string>{-11,108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,61},{151,123}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>6003_0_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,476},{135,131}}</string>
                <key>offset</key>
                <string>{-17,111}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,54},{135,131}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>6003_0_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,558},{173,83}}</string>
                <key>offset</key>
                <string>{-3,104}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,85},{173,83}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>6003_0_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,202},{181,93}}</string>
                <key>offset</key>
                <string>{0,105}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,79},{181,93}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>6003_0_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{191,99}}</string>
                <key>offset</key>
                <string>{-5,102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,79},{191,99}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>6003_0_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,202},{189,87}}</string>
                <key>offset</key>
                <string>{-9,103}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,84},{189,87}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>6003_0_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,0},{181,97}}</string>
                <key>offset</key>
                <string>{-11,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,76},{181,97}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>6003_0.png</string>
            <key>size</key>
            <string>{505,830}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:582dc79ea6a5db909993f60d6671e2c0:1/1$</string>
            <key>textureFileName</key>
            <string>6003_0.png</string>
        </dict>
    </dict>
</plist>
