<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>6003_1_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,271},{185,91}}</string>
                <key>offset</key>
                <string>{0,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,100},{185,91}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>6003_1_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,362},{181,89}}</string>
                <key>offset</key>
                <string>{2,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,98},{181,89}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>6003_1_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,87},{185,93}}</string>
                <key>offset</key>
                <string>{-2,87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,97},{185,93}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>6003_1_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{193,87}}</string>
                <key>offset</key>
                <string>{-1,84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,103},{193,87}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>6003_1_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,226},{123,123}}</string>
                <key>offset</key>
                <string>{-31,90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,79},{123,123}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>6003_1_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,135},{129,133}}</string>
                <key>offset</key>
                <string>{-35,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,67},{129,133}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>6003_1_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,0},{135,125}}</string>
                <key>offset</key>
                <string>{-30,94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,74},{135,125}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>6003_1_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,83},{143,123}}</string>
                <key>offset</key>
                <string>{-29,93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,76},{143,123}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>6003_1_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,531},{81,133}}</string>
                <key>offset</key>
                <string>{-43,101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,63},{81,133}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>6003_1_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,268},{75,123}}</string>
                <key>offset</key>
                <string>{-42,96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,73},{75,123}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>6003_1_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,554},{61,135}}</string>
                <key>offset</key>
                <string>{-27,101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,62},{61,135}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>6003_1_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,270},{59,129}}</string>
                <key>offset</key>
                <string>{-34,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,68},{59,129}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>6003_1_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,349},{161,97}}</string>
                <key>offset</key>
                <string>{-28,104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,78},{161,97}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>6003_1_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,451},{167,103}}</string>
                <key>offset</key>
                <string>{-26,107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,72},{167,103}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>6003_1_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,343},{153,107}}</string>
                <key>offset</key>
                <string>{-26,106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,71},{153,107}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>6003_1_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,496},{145,103}}</string>
                <key>offset</key>
                <string>{-23,104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,75},{145,103}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>6003_1_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,87},{183,73}}</string>
                <key>offset</key>
                <string>{-1,111}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,83},{183,73}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>6003_1_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,446},{181,85}}</string>
                <key>offset</key>
                <string>{2,111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,77},{181,85}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>6003_1_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,180},{185,91}}</string>
                <key>offset</key>
                <string>{1,110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,75},{185,91}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>6003_1_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,0},{193,83}}</string>
                <key>offset</key>
                <string>{0,110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,79},{193,83}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>6003_1.png</string>
            <key>size</key>
            <string>{512,615}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7ebb1b07a366e1a91a0dd32c5af591ab:1/1$</string>
            <key>textureFileName</key>
            <string>6003_1.png</string>
        </dict>
    </dict>
</plist>
