<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>6004_4_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,96},{212,132}}</string>
                <key>offset</key>
                <string>{0,130}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,60},{212,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6004_4_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,374},{216,136}}</string>
                <key>offset</key>
                <string>{1,131}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,57},{216,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6004_4_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,832},{220,140}}</string>
                <key>offset</key>
                <string>{-1,132}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,54},{220,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6004_4_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,510},{214,136}}</string>
                <key>offset</key>
                <string>{-1,132}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,56},{214,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6004_4_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,194},{176,156}}</string>
                <key>offset</key>
                <string>{-34,147}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,31},{176,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6004_4_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,510},{168,160}}</string>
                <key>offset</key>
                <string>{-30,148}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,28},{168,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6004_4_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,670},{168,162}}</string>
                <key>offset</key>
                <string>{-31,148}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,27},{168,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6004_4_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,350},{166,158}}</string>
                <key>offset</key>
                <string>{-33,149}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,28},{166,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6004_4_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,96},{98,176}}</string>
                <key>offset</key>
                <string>{-39,148}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,20},{98,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6004_4_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{96,176}}</string>
                <key>offset</key>
                <string>{-39,146}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,22},{96,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6004_4_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,0},{96,182}}</string>
                <key>offset</key>
                <string>{-39,148}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,17},{96,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6004_4_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,0},{96,174}}</string>
                <key>offset</key>
                <string>{-39,151}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,18},{96,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6004_4_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,792},{162,168}}</string>
                <key>offset</key>
                <string>{-46,155}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,17},{162,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6004_4_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,466},{160,164}}</string>
                <key>offset</key>
                <string>{-38,151}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,23},{160,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6004_4_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,630},{160,172}}</string>
                <key>offset</key>
                <string>{-39,154}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,16},{160,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6004_4_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,304},{156,162}}</string>
                <key>offset</key>
                <string>{-44,156}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,19},{156,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6004_4_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,96},{208,142}}</string>
                <key>offset</key>
                <string>{3,147}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,38},{208,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6004_4_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,646},{214,146}}</string>
                <key>offset</key>
                <string>{0,148}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,35},{214,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6004_4_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,802},{218,148}}</string>
                <key>offset</key>
                <string>{2,150}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,32},{218,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6004_4_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,228},{210,146}}</string>
                <key>offset</key>
                <string>{3,149}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,34},{210,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>6004_4.png</string>
            <key>size</key>
            <string>{542,1020}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6897c18d1855653af04cd9fbd0b93401:1/1$</string>
            <key>textureFileName</key>
            <string>6004_4.png</string>
        </dict>
    </dict>
</plist>
