<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>6004_6_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,724},{158,164}}</string>
                <key>offset</key>
                <string>{-14,108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,66},{158,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6004_6_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,888},{130,180}}</string>
                <key>offset</key>
                <string>{-20,117}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,49},{130,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6004_6_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,0},{76,180}}</string>
                <key>offset</key>
                <string>{-10,126}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,40},{76,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6004_6_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,704},{176,146}}</string>
                <key>offset</key>
                <string>{-12,92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,91},{176,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6004_6_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,432},{206,146}}</string>
                <key>offset</key>
                <string>{-3,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,89},{206,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6004_6_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,880},{138,174}}</string>
                <key>offset</key>
                <string>{-66,103}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,66},{138,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6004_6_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,276},{138,188}}</string>
                <key>offset</key>
                <string>{-67,114}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,48},{138,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6004_6_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,144},{152,188}}</string>
                <key>offset</key>
                <string>{-73,123}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,39},{152,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6004_6_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,868},{134,142}}</string>
                <key>offset</key>
                <string>{-50,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,106},{134,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6004_6_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,180},{126,160}}</string>
                <key>offset</key>
                <string>{-52,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,77},{126,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6004_6_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,286},{206,146}}</string>
                <key>offset</key>
                <string>{-13,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,78},{206,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6004_6_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{220,140}}</string>
                <key>offset</key>
                <string>{3,100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,86},{220,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6004_6_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,578},{206,144}}</string>
                <key>offset</key>
                <string>{16,104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,80},{206,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6004_6_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,0},{194,146}}</string>
                <key>offset</key>
                <string>{-18,104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,79},{194,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6004_6_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,704},{142,164}}</string>
                <key>offset</key>
                <string>{-16,109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,65},{142,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6004_6_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,524},{200,132}}</string>
                <key>offset</key>
                <string>{-3,101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,89},{200,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6004_6_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,722},{204,144}}</string>
                <key>offset</key>
                <string>{15,104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,80},{204,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6004_6_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,556},{178,148}}</string>
                <key>offset</key>
                <string>{30,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,77},{178,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6004_6_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,332},{192,146}}</string>
                <key>offset</key>
                <string>{-6,109}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,74},{192,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6004_6_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,414},{180,142}}</string>
                <key>offset</key>
                <string>{-20,107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,78},{180,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6004_6_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,146},{198,130}}</string>
                <key>offset</key>
                <string>{17,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,94},{198,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6004_6_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,866},{194,152}}</string>
                <key>offset</key>
                <string>{32,100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,80},{194,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6004_6_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,414},{116,154}}</string>
                <key>offset</key>
                <string>{25,106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,73},{116,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6004_6_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,0},{196,144}}</string>
                <key>offset</key>
                <string>{29,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,83},{196,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6004_6_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,140},{206,146}}</string>
                <key>offset</key>
                <string>{-2,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,77},{206,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>6004_6.png</string>
            <key>size</key>
            <string>{686,1019}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:982269bbe75012dfd6f5122e2b2755bc:1/1$</string>
            <key>textureFileName</key>
            <string>6004_6.png</string>
        </dict>
    </dict>
</plist>
