<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>6005_5_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,568},{210,148}}</string>
                <key>offset</key>
                <string>{-3,133}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,49},{210,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005_5_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,0},{216,152}}</string>
                <key>offset</key>
                <string>{-3,129}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,51},{216,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005_5_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,0},{216,146}}</string>
                <key>offset</key>
                <string>{-3,133}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,50},{216,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005_5_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,568},{216,144}}</string>
                <key>offset</key>
                <string>{-4,132}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,52},{216,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005_5_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,0},{214,146}}</string>
                <key>offset</key>
                <string>{-5,135}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,48},{214,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005_5_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,152},{186,178}}</string>
                <key>offset</key>
                <string>{-12,134}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,33},{186,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005_5_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{188,190}}</string>
                <key>offset</key>
                <string>{-12,135}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,26},{188,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005_5_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,146},{174,182}}</string>
                <key>offset</key>
                <string>{-12,142}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,23},{174,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005_5_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,378},{178,190}}</string>
                <key>offset</key>
                <string>{-12,142}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,19},{178,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005_5_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,190},{188,188}}</string>
                <key>offset</key>
                <string>{-9,154}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,8},{188,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005_5_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,356},{132,174}}</string>
                <key>offset</key>
                <string>{-36,144}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,25},{132,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005_5_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,652},{130,174}}</string>
                <key>offset</key>
                <string>{-37,145}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,24},{130,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005_5_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,656},{128,182}}</string>
                <key>offset</key>
                <string>{-37,150}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,15},{128,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005_5_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,330},{126,186}}</string>
                <key>offset</key>
                <string>{-36,150}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,13},{126,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005_5_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,526},{126,198}}</string>
                <key>offset</key>
                <string>{-36,156}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,1},{126,198}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005_5_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,528},{166,162}}</string>
                <key>offset</key>
                <string>{-16,147}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,28},{166,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005_5_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,362},{164,168}}</string>
                <key>offset</key>
                <string>{-16,145}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,27},{164,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005_5_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,488},{166,168}}</string>
                <key>offset</key>
                <string>{-14,154}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,18},{166,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005_5_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,188},{164,174}}</string>
                <key>offset</key>
                <string>{-14,154}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,15},{164,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005_5_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,0},{164,188}}</string>
                <key>offset</key>
                <string>{-13,158}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,4},{164,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005_5_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,146},{188,140}}</string>
                <key>offset</key>
                <string>{2,147}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,39},{188,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005_5_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,334},{194,142}}</string>
                <key>offset</key>
                <string>{2,147}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,38},{194,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005_5_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,530},{194,140}}</string>
                <key>offset</key>
                <string>{2,147}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,39},{194,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005_5_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,328},{198,144}}</string>
                <key>offset</key>
                <string>{2,146}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,38},{198,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005_5_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,152},{204,146}}</string>
                <key>offset</key>
                <string>{1,147}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,36},{204,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>6005_5.png</string>
            <key>size</key>
            <string>{998,785}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:18e1c3ddb865035fa290b1dad3ab5ad2:1/1$</string>
            <key>textureFileName</key>
            <string>6005_5.png</string>
        </dict>
    </dict>
</plist>
