<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>6005_2_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,156},{156,174}}</string>
                <key>offset</key>
                <string>{-13,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,97},{156,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005_2_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,330},{180,144}}</string>
                <key>offset</key>
                <string>{-3,94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,90},{180,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005_2_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,510},{186,132}}</string>
                <key>offset</key>
                <string>{-2,92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,98},{186,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005_2_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,0},{172,154}}</string>
                <key>offset</key>
                <string>{-3,84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,95},{172,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005_2_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,0},{170,150}}</string>
                <key>offset</key>
                <string>{-12,84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,97},{170,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005_2_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,700},{114,170}}</string>
                <key>offset</key>
                <string>{-62,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,76},{114,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005_2_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,150},{166,146}}</string>
                <key>offset</key>
                <string>{6,93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,90},{166,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005_2_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,324},{160,146}}</string>
                <key>offset</key>
                <string>{1,102}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,81},{160,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005_2_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,662},{120,162}}</string>
                <key>offset</key>
                <string>{-13,103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,72},{120,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005_2_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,498},{116,164}}</string>
                <key>offset</key>
                <string>{-31,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,79},{116,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005_2_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,484},{116,162}}</string>
                <key>offset</key>
                <string>{-78,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,70},{116,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005_2_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,696},{126,186}}</string>
                <key>offset</key>
                <string>{-15,124}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,39},{126,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005_2_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,510},{92,190}}</string>
                <key>offset</key>
                <string>{-18,128}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,33},{92,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005_2_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,646},{108,160}}</string>
                <key>offset</key>
                <string>{-22,109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,67},{108,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005_2_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,156},{94,170}}</string>
                <key>offset</key>
                <string>{-37,114}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,57},{94,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005_2_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{178,156}}</string>
                <key>offset</key>
                <string>{-12,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,80},{178,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005_2_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,806},{144,144}}</string>
                <key>offset</key>
                <string>{3,108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,76},{144,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005_2_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,882},{128,142}}</string>
                <key>offset</key>
                <string>{-9,107}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,78},{128,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005_2_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,824},{156,132}}</string>
                <key>offset</key>
                <string>{-15,106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,84},{156,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005_2_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,870},{156,140}}</string>
                <key>offset</key>
                <string>{-19,108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,78},{156,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005_2_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,154},{170,132}}</string>
                <key>offset</key>
                <string>{23,94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,96},{170,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005_2_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,330},{168,110}}</string>
                <key>offset</key>
                <string>{8,91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,110},{168,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005_2_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,634},{152,116}}</string>
                <key>offset</key>
                <string>{1,95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,103},{152,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005_2_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,316},{160,130}}</string>
                <key>offset</key>
                <string>{9,99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,92},{160,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005_2_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,476},{158,142}}</string>
                <key>offset</key>
                <string>{11,105}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,80},{158,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>6005_2.png</string>
            <key>size</key>
            <string>{599,1010}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b4c4687b97e73be078250956398403d2:1/1$</string>
            <key>textureFileName</key>
            <string>6005_2.png</string>
        </dict>
    </dict>
</plist>
