<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>6005_4_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,310},{214,156}}</string>
                <key>offset</key>
                <string>{-2,144}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,34},{214,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005_4_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,300},{214,160}}</string>
                <key>offset</key>
                <string>{-4,146}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,30},{214,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005_4_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,0},{216,164}}</string>
                <key>offset</key>
                <string>{-6,146}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,28},{216,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005_4_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,466},{210,164}}</string>
                <key>offset</key>
                <string>{-7,148}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,26},{210,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005_4_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,754},{160,166}}</string>
                <key>offset</key>
                <string>{-19,146}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,27},{160,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005_4_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,160},{160,172}}</string>
                <key>offset</key>
                <string>{-21,149}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,21},{160,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005_4_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,480},{160,176}}</string>
                <key>offset</key>
                <string>{-22,149}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,19},{160,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005_4_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,320},{160,176}}</string>
                <key>offset</key>
                <string>{-24,151}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,17},{160,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005_4_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,754},{112,166}}</string>
                <key>offset</key>
                <string>{-34,153}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,20},{112,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005_4_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,640},{114,168}}</string>
                <key>offset</key>
                <string>{-35,153}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,19},{114,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005_4_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,776},{116,172}}</string>
                <key>offset</key>
                <string>{-36,156}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,14},{116,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005_4_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,630},{116,174}}</string>
                <key>offset</key>
                <string>{-36,157}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,12},{116,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005_4_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,866},{156,162}}</string>
                <key>offset</key>
                <string>{-22,162}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,13},{156,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005_4_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,776},{156,168}}</string>
                <key>offset</key>
                <string>{-23,164}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,8},{156,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005_4_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,0},{160,172}}</string>
                <key>offset</key>
                <string>{-24,167}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,3},{160,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005_4_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,618},{158,176}}</string>
                <key>offset</key>
                <string>{-23,168}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,0},{158,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005_4_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,164},{216,146}}</string>
                <key>offset</key>
                <string>{2,158}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,25},{216,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005_4_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,152},{216,148}}</string>
                <key>offset</key>
                <string>{0,161}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,21},{216,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005_4_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{218,152}}</string>
                <key>offset</key>
                <string>{-2,163}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,17},{218,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005_4_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,460},{212,158}}</string>
                <key>offset</key>
                <string>{-3,164}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,13},{212,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>6005_4.png</string>
            <key>size</key>
            <string>{606,1022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6a12a7c9193d24803e770a52c2b8a69d:1/1$</string>
            <key>textureFileName</key>
            <string>6005_4.png</string>
        </dict>
    </dict>
</plist>
