<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>6006_5_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,340},{264,162}}</string>
                <key>offset</key>
                <string>{-1,141}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,34},{264,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006_5_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{270,170}}</string>
                <key>offset</key>
                <string>{-1,145}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,26},{270,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006_5_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,0},{270,158}}</string>
                <key>offset</key>
                <string>{0,139}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,38},{270,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006_5_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,502},{264,160}}</string>
                <key>offset</key>
                <string>{0,139}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,37},{264,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006_5_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,170},{268,170}}</string>
                <key>offset</key>
                <string>{0,144}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,27},{268,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006_5_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,288},{196,202}}</string>
                <key>offset</key>
                <string>{-35,139}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,16},{196,202}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006_5_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,288},{202,206}}</string>
                <key>offset</key>
                <string>{-34,138}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,15},{202,206}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006_5_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,490},{198,206}}</string>
                <key>offset</key>
                <string>{-32,137}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,16},{198,206}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006_5_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,688},{200,202}}</string>
                <key>offset</key>
                <string>{-34,138}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,17},{200,202}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006_5_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,490},{198,202}}</string>
                <key>offset</key>
                <string>{-34,139}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,16},{198,202}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006_5_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,446},{130,184}}</string>
                <key>offset</key>
                <string>{-64,157}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,7},{130,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006_5_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,688},{128,182}}</string>
                <key>offset</key>
                <string>{-65,155}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,10},{128,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006_5_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,260},{130,186}}</string>
                <key>offset</key>
                <string>{-64,153}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,10},{130,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006_5_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,176},{132,180}}</string>
                <key>offset</key>
                <string>{-62,157}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,9},{132,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006_5_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,308},{128,182}}</string>
                <key>offset</key>
                <string>{-60,156}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,9},{128,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006_5_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,600},{176,158}}</string>
                <key>offset</key>
                <string>{-56,167}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,10},{176,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006_5_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,688},{176,166}}</string>
                <key>offset</key>
                <string>{-57,167}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,6},{176,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006_5_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,0},{176,160}}</string>
                <key>offset</key>
                <string>{-57,168}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,8},{176,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006_5_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,758},{174,158}}</string>
                <key>offset</key>
                <string>{-57,170}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,7},{174,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006_5_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,436},{178,164}}</string>
                <key>offset</key>
                <string>{-59,167}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,7},{178,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006_5_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,158},{260,130}}</string>
                <key>offset</key>
                <string>{0,166}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,25},{260,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006_5_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,662},{280,130}}</string>
                <key>offset</key>
                <string>{-2,165}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,26},{280,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006_5_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,0},{280,132}}</string>
                <key>offset</key>
                <string>{-1,166}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,24},{280,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006_5_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,132},{262,128}}</string>
                <key>offset</key>
                <string>{0,164}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,28},{262,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006_5_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,662},{262,130}}</string>
                <key>offset</key>
                <string>{0,163}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,28},{262,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>6006_5.png</string>
            <key>size</key>
            <string>{983,943}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:657063d8443033a506f1e9f117939931:1/1$</string>
            <key>textureFileName</key>
            <string>6006_5.png</string>
        </dict>
    </dict>
</plist>
