<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>6006_1_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,280},{270,164}}</string>
                <key>offset</key>
                <string>{1,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,78},{270,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006_1_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,280},{268,162}}</string>
                <key>offset</key>
                <string>{0,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,80},{268,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006_1_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,122},{270,158}}</string>
                <key>offset</key>
                <string>{0,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,81},{270,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006_1_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,444},{274,164}}</string>
                <key>offset</key>
                <string>{-1,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,78},{274,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006_1_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,812},{210,200}}</string>
                <key>offset</key>
                <string>{-47,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,64},{210,200}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006_1_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,792},{210,196}}</string>
                <key>offset</key>
                <string>{-47,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,69},{210,196}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006_1_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,622},{208,192}}</string>
                <key>offset</key>
                <string>{-47,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,72},{208,192}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006_1_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,814},{200,202}}</string>
                <key>offset</key>
                <string>{-47,90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,65},{200,202}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006_1_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,0},{122,194}}</string>
                <key>offset</key>
                <string>{-61,102}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,57},{122,194}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006_1_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,0},{122,196}}</string>
                <key>offset</key>
                <string>{-61,101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,57},{122,196}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006_1_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,0},{120,196}}</string>
                <key>offset</key>
                <string>{-61,101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,57},{120,196}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006_1_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{112,192}}</string>
                <key>offset</key>
                <string>{-61,102}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,58},{112,192}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006_1_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,608},{190,184}}</string>
                <key>offset</key>
                <string>{-48,117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,47},{190,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006_1_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,444},{188,178}}</string>
                <key>offset</key>
                <string>{-46,111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,56},{188,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006_1_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,622},{190,190}}</string>
                <key>offset</key>
                <string>{-43,117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,44},{190,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006_1_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,598},{194,180}}</string>
                <key>offset</key>
                <string>{-45,116}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,50},{194,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006_1_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,120},{272,154}}</string>
                <key>offset</key>
                <string>{0,133}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,46},{272,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006_1_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,122},{270,158}}</string>
                <key>offset</key>
                <string>{-1,133}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,44},{270,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006_1_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,274},{272,158}}</string>
                <key>offset</key>
                <string>{0,134}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,43},{272,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006_1_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,432},{270,166}}</string>
                <key>offset</key>
                <string>{0,140}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,33},{270,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>6006_1.png</string>
            <key>size</key>
            <string>{812,1014}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eb76c9fedf194cd443eb85a518f685f0:1/1$</string>
            <key>textureFileName</key>
            <string>6006_1.png</string>
        </dict>
    </dict>
</plist>
