<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>6006_2_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,0},{230,208}}</string>
                <key>offset</key>
                <string>{-15,82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,70},{230,208}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006_2_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,0},{242,170}}</string>
                <key>offset</key>
                <string>{-16,95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,76},{242,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006_2_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,538},{258,176}}</string>
                <key>offset</key>
                <string>{2,101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,67},{258,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006_2_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,810},{244,180}}</string>
                <key>offset</key>
                <string>{-5,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,72},{244,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006_2_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,544},{266,186}}</string>
                <key>offset</key>
                <string>{-14,78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,85},{266,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006_2_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,510},{128,220}}</string>
                <key>offset</key>
                <string>{-74,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,77},{128,220}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006_2_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,502},{234,188}}</string>
                <key>offset</key>
                <string>{-12,101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,61},{234,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006_2_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,736},{232,196}}</string>
                <key>offset</key>
                <string>{-13,103}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,55},{232,196}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006_2_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,516},{214,206}}</string>
                <key>offset</key>
                <string>{-30,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,60},{214,206}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006_2_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,730},{218,206}}</string>
                <key>offset</key>
                <string>{-29,85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,68},{218,206}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006_2_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,722},{146,200}}</string>
                <key>offset</key>
                <string>{-79,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,63},{146,200}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006_2_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,364},{146,164}}</string>
                <key>offset</key>
                <string>{-38,119}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,55},{146,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006_2_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,230},{134,184}}</string>
                <key>offset</key>
                <string>{-45,114}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,50},{134,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006_2_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,398},{118,192}}</string>
                <key>offset</key>
                <string>{-55,104}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,56},{118,192}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006_2_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,510},{114,212}}</string>
                <key>offset</key>
                <string>{-54,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,45},{114,212}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006_2_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{274,186}}</string>
                <key>offset</key>
                <string>{-14,118}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,45},{274,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006_2_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,796},{192,176}}</string>
                <key>offset</key>
                <string>{-18,124}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,44},{192,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006_2_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,214},{166,184}}</string>
                <key>offset</key>
                <string>{-41,122}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,42},{166,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006_2_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,242},{232,158}}</string>
                <key>offset</key>
                <string>{-42,118}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,59},{232,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006_2_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,0},{214,174}}</string>
                <key>offset</key>
                <string>{-37,125}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,44},{214,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006_2_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,254},{248,162}}</string>
                <key>offset</key>
                <string>{10,115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,60},{248,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006_2_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,0},{232,128}}</string>
                <key>offset</key>
                <string>{9,118}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,74},{232,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006_2_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,0},{254,142}}</string>
                <key>offset</key>
                <string>{4,123}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,62},{254,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006_2_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,274},{270,170}}</string>
                <key>offset</key>
                <string>{4,115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,56},{270,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006_2_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,274},{264,156}}</string>
                <key>offset</key>
                <string>{6,123}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,55},{264,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>6006_2.png</string>
            <key>size</key>
            <string>{1008,990}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ec1fb87329a805e607c6202f806f3e8a:1/1$</string>
            <key>textureFileName</key>
            <string>6006_2.png</string>
        </dict>
    </dict>
</plist>
