<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>6007_8_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,288},{270,162}}</string>
                <key>offset</key>
                <string>{-13,101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,74},{270,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6007_8_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,494},{244,148}}</string>
                <key>offset</key>
                <string>{-18,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,83},{244,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6007_8_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,346},{244,148}}</string>
                <key>offset</key>
                <string>{-7,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,84},{244,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6007_8_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,558},{262,168}}</string>
                <key>offset</key>
                <string>{5,102}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,70},{262,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6007_8_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,0},{258,144}}</string>
                <key>offset</key>
                <string>{-5,105}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,79},{258,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6007_8_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,346},{152,152}}</string>
                <key>offset</key>
                <string>{-92,87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,93},{152,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6007_8_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,246},{100,150}}</string>
                <key>offset</key>
                <string>{-25,103}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,78},{100,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6007_8_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,838},{150,148}}</string>
                <key>offset</key>
                <string>{-3,120}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,62},{150,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6007_8_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,820},{188,176}}</string>
                <key>offset</key>
                <string>{10,119}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,49},{188,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6007_8_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,258},{258,146}}</string>
                <key>offset</key>
                <string>{-21,106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,77},{258,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6007_8_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,268},{262,142}}</string>
                <key>offset</key>
                <string>{-40,100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,85},{262,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6007_8_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,0},{220,130}}</string>
                <key>offset</key>
                <string>{-16,107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,84},{220,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6007_8_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,0},{258,150}}</string>
                <key>offset</key>
                <string>{30,96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,85},{258,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6007_8_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,516},{254,210}}</string>
                <key>offset</key>
                <string>{49,94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,57},{254,210}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6007_8_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,558},{264,150}}</string>
                <key>offset</key>
                <string>{9,104}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,77},{264,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6007_8_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,0},{268,122}}</string>
                <key>offset</key>
                <string>{5,98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,97},{268,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6007_8_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,512},{246,126}}</string>
                <key>offset</key>
                <string>{29,101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,92},{246,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6007_8_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,0},{246,164}}</string>
                <key>offset</key>
                <string>{50,110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,64},{246,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6007_8_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,770},{220,226}}</string>
                <key>offset</key>
                <string>{37,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,51},{220,226}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6007_8_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,642},{196,202}}</string>
                <key>offset</key>
                <string>{48,131}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,24},{196,202}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6007_8_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{288,156}}</string>
                <key>offset</key>
                <string>{14,100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,78},{288,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6007_8_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,258},{254,154}}</string>
                <key>offset</key>
                <string>{27,108}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,71},{254,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6007_8_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,758},{236,164}}</string>
                <key>offset</key>
                <string>{24,108}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,66},{236,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6007_8_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,130},{216,218}}</string>
                <key>offset</key>
                <string>{38,103}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,44},{216,218}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6007_8_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,822},{212,174}}</string>
                <key>offset</key>
                <string>{23,113}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,56},{212,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>6007_8.png</string>
            <key>size</key>
            <string>{1004,996}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ba705dab3c1f65f62b0cc9502c0187d:1/1$</string>
            <key>textureFileName</key>
            <string>6007_8.png</string>
        </dict>
    </dict>
</plist>
