<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>6007_4_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,292},{288,164}}</string>
                <key>offset</key>
                <string>{0,118}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,56},{288,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6007_4_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,302},{296,152}}</string>
                <key>offset</key>
                <string>{2,129}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,51},{296,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6007_4_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{302,150}}</string>
                <key>offset</key>
                <string>{-3,131}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,50},{302,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6007_4_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,0},{292,146}}</string>
                <key>offset</key>
                <string>{1,126}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,57},{292,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6007_4_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,598},{222,202}}</string>
                <key>offset</key>
                <string>{-34,133}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,22},{222,202}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6007_4_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,584},{224,208}}</string>
                <key>offset</key>
                <string>{-34,134}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,18},{224,208}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6007_4_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,580},{220,210}}</string>
                <key>offset</key>
                <string>{-33,129}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,22},{220,210}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6007_4_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,590},{226,186}}</string>
                <key>offset</key>
                <string>{-36,139}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,24},{226,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6007_4_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,0},{120,178}}</string>
                <key>offset</key>
                <string>{-58,152}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,15},{120,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6007_4_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,316},{118,188}}</string>
                <key>offset</key>
                <string>{-59,158}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,4},{118,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6007_4_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,560},{118,180}}</string>
                <key>offset</key>
                <string>{-58,154}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,12},{118,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6007_4_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,434},{126,180}}</string>
                <key>offset</key>
                <string>{-61,152}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,14},{126,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6007_4_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,0},{198,180}}</string>
                <key>offset</key>
                <string>{-57,166}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,0},{198,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6007_4_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,120},{196,186}}</string>
                <key>offset</key>
                <string>{-60,162}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,1},{196,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6007_4_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,180},{196,180}}</string>
                <key>offset</key>
                <string>{-60,166}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,0},{196,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6007_4_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,360},{194,180}}</string>
                <key>offset</key>
                <string>{-63,166}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,0},{194,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6007_4_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,0},{288,136}}</string>
                <key>offset</key>
                <string>{1,149}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,39},{288,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6007_4_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,0},{296,142}}</string>
                <key>offset</key>
                <string>{-1,149}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,36},{296,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6007_4_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,296},{294,144}}</string>
                <key>offset</key>
                <string>{0,150}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,34},{294,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6007_4_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,292},{292,140}}</string>
                <key>offset</key>
                <string>{-1,155}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,31},{292,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>6007_4.png</string>
            <key>size</key>
            <string>{984,820}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8fafb25ba68b0287aaf0cba70d537d2f:1/1$</string>
            <key>textureFileName</key>
            <string>6007_4.png</string>
        </dict>
    </dict>
</plist>
