<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>6007_1_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,144},{294,140}}</string>
                <key>offset</key>
                <string>{-1,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,88},{294,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6007_1_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,284},{300,126}}</string>
                <key>offset</key>
                <string>{3,90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,103},{300,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6007_1_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,0},{304,128}}</string>
                <key>offset</key>
                <string>{2,90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,102},{304,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6007_1_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{306,144}}</string>
                <key>offset</key>
                <string>{-1,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,85},{306,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6007_1_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,260},{230,190}}</string>
                <key>offset</key>
                <string>{-37,109}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,52},{230,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6007_1_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,490},{230,170}}</string>
                <key>offset</key>
                <string>{-33,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,70},{230,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6007_1_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,660},{228,172}}</string>
                <key>offset</key>
                <string>{-31,103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,67},{228,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6007_1_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,584},{232,172}}</string>
                <key>offset</key>
                <string>{-38,102}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,68},{232,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6007_1_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,876},{112,188}}</string>
                <key>offset</key>
                <string>{-57,121}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,41},{112,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6007_1_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,660},{112,192}}</string>
                <key>offset</key>
                <string>{-55,123}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,37},{112,192}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6007_1_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,642},{108,196}}</string>
                <key>offset</key>
                <string>{-58,122}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,36},{108,196}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6007_1_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,450},{114,192}}</string>
                <key>offset</key>
                <string>{-57,122}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,38},{114,192}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6007_1_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,832},{222,154}}</string>
                <key>offset</key>
                <string>{-34,118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,61},{222,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6007_1_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,0},{230,150}}</string>
                <key>offset</key>
                <string>{-30,113}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,68},{230,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6007_1_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,230},{220,176}}</string>
                <key>offset</key>
                <string>{-30,117}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,51},{220,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6007_1_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,852},{218,152}}</string>
                <key>offset</key>
                <string>{-36,113}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,67},{218,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6007_1_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,284},{274,128}}</string>
                <key>offset</key>
                <string>{-5,112}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,80},{274,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6007_1_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,584},{292,124}}</string>
                <key>offset</key>
                <string>{2,108}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,86},{292,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6007_1_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,284},{278,140}}</string>
                <key>offset</key>
                <string>{1,121}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,65},{278,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6007_1_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,128},{266,132}}</string>
                <key>offset</key>
                <string>{-8,114}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,76},{266,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>6007_1.png</string>
            <key>size</key>
            <string>{760,1005}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6b0b26159ea58baa7447549f9b89a1dc:1/1$</string>
            <key>textureFileName</key>
            <string>6007_1.png</string>
        </dict>
    </dict>
</plist>
