<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>6007_7_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,280},{226,166}}</string>
                <key>offset</key>
                <string>{-5,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,76},{226,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6007_7_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,454},{218,144}}</string>
                <key>offset</key>
                <string>{-6,114}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,70},{218,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6007_7_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,168},{248,136}}</string>
                <key>offset</key>
                <string>{-15,109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,79},{248,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6007_7_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,454},{238,144}}</string>
                <key>offset</key>
                <string>{-13,114}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,70},{238,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6007_7_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,628},{216,152}}</string>
                <key>offset</key>
                <string>{-4,111}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,69},{216,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6007_7_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,598},{104,174}}</string>
                <key>offset</key>
                <string>{-46,104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,65},{104,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6007_7_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,552},{68,172}}</string>
                <key>offset</key>
                <string>{-37,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,65},{68,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6007_7_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,552},{82,180}}</string>
                <key>offset</key>
                <string>{-51,110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,56},{82,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6007_7_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,736},{84,174}}</string>
                <key>offset</key>
                <string>{-50,105}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,64},{84,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6007_7_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,634},{102,176}}</string>
                <key>offset</key>
                <string>{-55,108}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,60},{102,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6007_7_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,598},{246,130}}</string>
                <key>offset</key>
                <string>{-34,103}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,88},{246,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6007_7_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,438},{254,114}}</string>
                <key>offset</key>
                <string>{-21,103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,96},{254,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6007_7_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,166},{226,140}}</string>
                <key>offset</key>
                <string>{-25,112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,74},{226,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6007_7_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,598},{222,140}}</string>
                <key>offset</key>
                <string>{-45,114}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,72},{222,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6007_7_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,306},{244,132}}</string>
                <key>offset</key>
                <string>{-35,114}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,76},{244,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6007_7_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,176},{258,174}}</string>
                <key>offset</key>
                <string>{22,114}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,55},{258,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6007_7_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,0},{274,138}}</string>
                <key>offset</key>
                <string>{21,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,81},{274,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6007_7_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,350},{278,146}}</string>
                <key>offset</key>
                <string>{16,108}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,75},{278,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6007_7_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,0},{260,168}}</string>
                <key>offset</key>
                <string>{18,123}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,49},{260,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6007_7_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{266,176}}</string>
                <key>offset</key>
                <string>{26,123}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,45},{266,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6007_7_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,614},{228,178}}</string>
                <key>offset</key>
                <string>{38,110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,57},{228,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6007_7_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,138},{258,142}}</string>
                <key>offset</key>
                <string>{27,111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,74},{258,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6007_7_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,350},{264,132}}</string>
                <key>offset</key>
                <string>{20,109}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,81},{264,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6007_7_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,304},{248,150}}</string>
                <key>offset</key>
                <string>{20,112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,69},{248,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6007_7_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,0},{218,166}}</string>
                <key>offset</key>
                <string>{37,110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,63},{218,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>6007_7.png</string>
            <key>size</key>
            <string>{1018,844}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:25a87b96b4c4a7fc24c260ee692f1608:1/1$</string>
            <key>textureFileName</key>
            <string>6007_7.png</string>
        </dict>
    </dict>
</plist>
