<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>6007_5_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,0},{296,144}}</string>
                <key>offset</key>
                <string>{1,139}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,45},{296,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6007_5_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,304},{300,138}}</string>
                <key>offset</key>
                <string>{3,137}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,50},{300,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6007_5_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{296,152}}</string>
                <key>offset</key>
                <string>{2,142}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,38},{296,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6007_5_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,152},{292,152}}</string>
                <key>offset</key>
                <string>{2,143}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,37},{292,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6007_5_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,304},{288,146}}</string>
                <key>offset</key>
                <string>{2,137}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,46},{288,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6007_5_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,374},{220,184}}</string>
                <key>offset</key>
                <string>{-26,148}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,16},{220,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6007_5_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,428},{226,178}}</string>
                <key>offset</key>
                <string>{-29,146}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,21},{226,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6007_5_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,144},{230,184}}</string>
                <key>offset</key>
                <string>{-34,149}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,15},{230,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6007_5_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,250},{230,178}}</string>
                <key>offset</key>
                <string>{-33,146}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,21},{230,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6007_5_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,442},{220,178}}</string>
                <key>offset</key>
                <string>{-28,148}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,19},{220,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6007_5_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,792},{132,178}}</string>
                <key>offset</key>
                <string>{-61,159}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,8},{132,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6007_5_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,662},{130,190}}</string>
                <key>offset</key>
                <string>{-61,161}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,0},{130,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6007_5_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,780},{136,188}}</string>
                <key>offset</key>
                <string>{-60,160}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,2},{136,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6007_5_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,302},{140,180}}</string>
                <key>offset</key>
                <string>{-63,157}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,9},{140,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6007_5_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,792},{138,178}}</string>
                <key>offset</key>
                <string>{-60,159}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,8},{138,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6007_5_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,804},{194,170}}</string>
                <key>offset</key>
                <string>{-52,171}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,0},{194,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6007_5_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,606},{192,174}}</string>
                <key>offset</key>
                <string>{-53,169}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,0},{192,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6007_5_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,594},{194,176}}</string>
                <key>offset</key>
                <string>{-54,168}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,0},{194,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6007_5_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,770},{192,174}}</string>
                <key>offset</key>
                <string>{-53,169}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,0},{192,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6007_5_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,604},{200,174}}</string>
                <key>offset</key>
                <string>{-46,169}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,0},{200,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6007_5_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,0},{294,126}}</string>
                <key>offset</key>
                <string>{-1,149}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,44},{294,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6007_5_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,0},{302,118}}</string>
                <key>offset</key>
                <string>{-1,150}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,47},{302,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6007_5_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,126},{294,124}}</string>
                <key>offset</key>
                <string>{-2,147}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,47},{294,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6007_5_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,604},{290,130}}</string>
                <key>offset</key>
                <string>{-1,154}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,37},{290,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6007_5_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,304},{286,124}}</string>
                <key>offset</key>
                <string>{-1,153}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,41},{286,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>6007_5.png</string>
            <key>size</key>
            <string>{1004,974}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9afc3afe06a6b5874183e6e0a07938e6:1/1$</string>
            <key>textureFileName</key>
            <string>6007_5.png</string>
        </dict>
    </dict>
</plist>
