<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>6008_4_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,0},{320,184}}</string>
                <key>offset</key>
                <string>{-6,150}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,14},{320,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008_4_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{326,180}}</string>
                <key>offset</key>
                <string>{-5,149}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,17},{326,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008_4_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,184},{318,182}}</string>
                <key>offset</key>
                <string>{-4,151}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,14},{318,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008_4_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,180},{320,182}}</string>
                <key>offset</key>
                <string>{-5,152}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,13},{320,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008_4_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,202},{222,198}}</string>
                <key>offset</key>
                <string>{-24,148}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,9},{222,198}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008_4_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,536},{214,200}}</string>
                <key>offset</key>
                <string>{-21,146}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,10},{214,200}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008_4_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,400},{214,202}}</string>
                <key>offset</key>
                <string>{-22,147}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,8},{214,202}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008_4_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,0},{224,202}}</string>
                <key>offset</key>
                <string>{-25,149}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,6},{224,202}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008_4_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,696},{130,192}}</string>
                <key>offset</key>
                <string>{-63,151}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,9},{130,192}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008_4_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,888},{126,192}}</string>
                <key>offset</key>
                <string>{-62,151}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,9},{126,192}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008_4_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,862},{126,190}}</string>
                <key>offset</key>
                <string>{-63,152}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,9},{126,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008_4_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,736},{126,190}}</string>
                <key>offset</key>
                <string>{-63,155}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,6},{126,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008_4_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,800},{198,168}}</string>
                <key>offset</key>
                <string>{-52,164}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,8},{198,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008_4_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,802},{200,170}}</string>
                <key>offset</key>
                <string>{-51,162}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,9},{200,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008_4_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,602},{198,170}}</string>
                <key>offset</key>
                <string>{-50,165}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,6},{198,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008_4_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,602},{200,170}}</string>
                <key>offset</key>
                <string>{-52,165}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,6},{200,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008_4_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,696},{306,170}}</string>
                <key>offset</key>
                <string>{1,162}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,9},{306,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008_4_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,362},{314,166}}</string>
                <key>offset</key>
                <string>{1,162}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,11},{314,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008_4_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,528},{310,168}}</string>
                <key>offset</key>
                <string>{0,164}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,8},{310,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008_4_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,366},{310,170}}</string>
                <key>offset</key>
                <string>{0,164}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,7},{310,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>6008_4.png</string>
            <key>size</key>
            <string>{916,1014}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eec4b8b49dd180df7b74ffb56f8da9d8:1/1$</string>
            <key>textureFileName</key>
            <string>6008_4.png</string>
        </dict>
    </dict>
</plist>
