<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>6008_5_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,428},{282,172}}</string>
                <key>offset</key>
                <string>{-12,142}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,28},{282,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008_5_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,568},{288,174}}</string>
                <key>offset</key>
                <string>{-13,142}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,27},{288,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008_5_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,570},{292,176}}</string>
                <key>offset</key>
                <string>{-14,142}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,26},{292,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008_5_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,600},{296,178}}</string>
                <key>offset</key>
                <string>{-12,143}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,24},{296,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008_5_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,746},{296,180}}</string>
                <key>offset</key>
                <string>{-13,142}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,24},{296,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008_5_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,746},{230,198}}</string>
                <key>offset</key>
                <string>{-40,143}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,14},{230,198}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008_5_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,778},{232,202}}</string>
                <key>offset</key>
                <string>{-41,143}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,12},{232,202}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008_5_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,778},{226,200}}</string>
                <key>offset</key>
                <string>{-41,142}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,14},{226,200}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008_5_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,0},{128,186}}</string>
                <key>offset</key>
                <string>{-51,159}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,4},{128,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008_5_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,0},{128,190}}</string>
                <key>offset</key>
                <string>{-52,157}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,4},{128,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008_5_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,0},{124,188}}</string>
                <key>offset</key>
                <string>{-53,160}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,2},{124,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008_5_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,0},{124,186}}</string>
                <key>offset</key>
                <string>{-53,161}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,2},{124,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008_5_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{124,188}}</string>
                <key>offset</key>
                <string>{-53,160}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,2},{124,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008_5_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,262},{200,166}}</string>
                <key>offset</key>
                <string>{-63,162}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,11},{200,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008_5_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,400},{200,168}}</string>
                <key>offset</key>
                <string>{-62,160}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,12},{200,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008_5_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,262},{200,166}}</string>
                <key>offset</key>
                <string>{-61,159}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,14},{200,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008_5_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,394},{200,168}}</string>
                <key>offset</key>
                <string>{-60,161}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,11},{200,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008_5_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,400},{200,170}}</string>
                <key>offset</key>
                <string>{-60,160}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,11},{200,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008_5_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,128},{282,134}}</string>
                <key>offset</key>
                <string>{11,157}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,32},{282,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008_5_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,262},{302,138}}</string>
                <key>offset</key>
                <string>{7,157}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,30},{302,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008_5_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,260},{308,134}}</string>
                <key>offset</key>
                <string>{9,157}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,32},{308,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008_5_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,124},{300,132}}</string>
                <key>offset</key>
                <string>{10,159}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,31},{300,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008_5_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,128},{302,132}}</string>
                <key>offset</key>
                <string>{9,160}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,30},{302,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>6008_5.png</string>
            <key>size</key>
            <string>{1010,980}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2734739a03b311bb6101d2cd95e79b8b:1/1$</string>
            <key>textureFileName</key>
            <string>6008_5.png</string>
        </dict>
    </dict>
</plist>
