<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>6008_0_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,256},{250,166}}</string>
                <key>offset</key>
                <string>{-2,102}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,71},{250,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008_0_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{256,164}}</string>
                <key>offset</key>
                <string>{0,101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,73},{256,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008_0_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,248},{236,162}}</string>
                <key>offset</key>
                <string>{1,100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,75},{236,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008_0_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,506},{238,162}}</string>
                <key>offset</key>
                <string>{2,100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,75},{238,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008_0_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,0},{248,164}}</string>
                <key>offset</key>
                <string>{0,101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,73},{248,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008_0_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,720},{208,176}}</string>
                <key>offset</key>
                <string>{-22,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,72},{208,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008_0_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,136},{202,192}}</string>
                <key>offset</key>
                <string>{-20,102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,58},{202,192}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008_0_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,484},{204,182}}</string>
                <key>offset</key>
                <string>{-29,101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,64},{204,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008_0_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,688},{202,186}}</string>
                <key>offset</key>
                <string>{-30,103}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,60},{202,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008_0_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,132},{208,196}}</string>
                <key>offset</key>
                <string>{-31,107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,51},{208,196}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008_0_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,328},{156,174}}</string>
                <key>offset</key>
                <string>{-35,122}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,47},{156,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008_0_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,308},{162,174}}</string>
                <key>offset</key>
                <string>{-32,122}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,47},{162,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008_0_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,744},{152,174}}</string>
                <key>offset</key>
                <string>{-37,124}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,45},{152,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008_0_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,750},{146,180}}</string>
                <key>offset</key>
                <string>{-34,127}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,39},{146,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008_0_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,328},{146,178}}</string>
                <key>offset</key>
                <string>{-33,123}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,44},{146,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008_0_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,328},{158,150}}</string>
                <key>offset</key>
                <string>{-42,111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,70},{158,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008_0_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,470},{174,160}}</string>
                <key>offset</key>
                <string>{-42,114}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,62},{174,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008_0_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,478},{182,166}}</string>
                <key>offset</key>
                <string>{-37,119}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,54},{182,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008_0_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,144},{182,164}}</string>
                <key>offset</key>
                <string>{-38,121}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,53},{182,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008_0_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,660},{166,166}}</string>
                <key>offset</key>
                <string>{-42,120}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,53},{166,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008_0_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,0},{236,132}}</string>
                <key>offset</key>
                <string>{4,107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,83},{236,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008_0_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,506},{244,132}}</string>
                <key>offset</key>
                <string>{1,107}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,83},{244,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008_0_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,484},{236,138}}</string>
                <key>offset</key>
                <string>{2,110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,77},{236,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008_0_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,0},{224,136}}</string>
                <key>offset</key>
                <string>{1,111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,77},{224,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008_0_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,0},{222,144}}</string>
                <key>offset</key>
                <string>{3,115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,69},{222,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>6008_0.png</string>
            <key>size</key>
            <string>{1020,896}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:de0c803468b22cd3a15df6fabe85891d:1/1$</string>
            <key>textureFileName</key>
            <string>6008_0.png</string>
        </dict>
    </dict>
</plist>
