<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>6009_7_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,172},{164,200}}</string>
                <key>offset</key>
                <string>{-23,83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,73},{164,200}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009_7_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,732},{160,210}}</string>
                <key>offset</key>
                <string>{-20,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,59},{160,210}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009_7_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,188},{166,210}}</string>
                <key>offset</key>
                <string>{-26,90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,61},{166,210}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009_7_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,484},{130,202}}</string>
                <key>offset</key>
                <string>{-33,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,59},{130,202}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009_7_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,354},{130,206}}</string>
                <key>offset</key>
                <string>{-31,95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,58},{130,206}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009_7_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,0},{136,188}}</string>
                <key>offset</key>
                <string>{-42,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,66},{136,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009_7_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,692},{120,184}}</string>
                <key>offset</key>
                <string>{-52,113}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,51},{120,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009_7_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,900},{106,198}}</string>
                <key>offset</key>
                <string>{-50,104}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,53},{106,198}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009_7_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,484},{110,208}}</string>
                <key>offset</key>
                <string>{-50,103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,49},{110,208}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009_7_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,686},{106,214}}</string>
                <key>offset</key>
                <string>{-56,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,48},{106,214}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009_7_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,538},{270,144}}</string>
                <key>offset</key>
                <string>{-34,105}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,79},{270,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009_7_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,336},{254,162}}</string>
                <key>offset</key>
                <string>{-15,114}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,61},{254,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009_7_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,498},{252,168}}</string>
                <key>offset</key>
                <string>{-19,114}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,58},{252,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009_7_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,750},{252,166}}</string>
                <key>offset</key>
                <string>{-22,116}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,57},{252,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009_7_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,0},{256,168}}</string>
                <key>offset</key>
                <string>{-23,120}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,52},{256,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009_7_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,172},{292,164}}</string>
                <key>offset</key>
                <string>{-6,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,82},{292,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009_7_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{294,172}}</string>
                <key>offset</key>
                <string>{6,113}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,57},{294,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009_7_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,352},{274,186}}</string>
                <key>offset</key>
                <string>{6,115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,48},{274,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009_7_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,172},{282,180}}</string>
                <key>offset</key>
                <string>{3,111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,55},{282,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009_7_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,0},{286,172}}</string>
                <key>offset</key>
                <string>{-2,111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,59},{286,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009_7_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,808},{208,210}}</string>
                <key>offset</key>
                <string>{21,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,59},{208,210}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009_7_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,336},{198,216}}</string>
                <key>offset</key>
                <string>{18,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,49},{198,216}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009_7_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,750},{224,212}}</string>
                <key>offset</key>
                <string>{16,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,52},{224,212}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009_7_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,538},{224,212}}</string>
                <key>offset</key>
                <string>{13,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,51},{224,212}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009_7_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,552},{180,208}}</string>
                <key>offset</key>
                <string>{16,104}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,48},{180,208}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>6009_7.png</string>
            <key>size</key>
            <string>{990,1018}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ec725441e986f480174329700aa2628:1/1$</string>
            <key>textureFileName</key>
            <string>6009_7.png</string>
        </dict>
    </dict>
</plist>
