<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>6009_2_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,286},{244,188}}</string>
                <key>offset</key>
                <string>{-19,87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,75},{244,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009_2_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,378},{274,166}}</string>
                <key>offset</key>
                <string>{-4,93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,80},{274,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009_2_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,682},{262,166}}</string>
                <key>offset</key>
                <string>{13,95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,78},{262,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009_2_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,0},{264,168}}</string>
                <key>offset</key>
                <string>{-18,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,77},{264,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009_2_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,0},{270,172}}</string>
                <key>offset</key>
                <string>{-18,86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,84},{270,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009_2_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,530},{156,198}}</string>
                <key>offset</key>
                <string>{-86,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,76},{156,198}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009_2_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,168},{252,186}}</string>
                <key>offset</key>
                <string>{-8,104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,59},{252,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009_2_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,194},{260,184}}</string>
                <key>offset</key>
                <string>{-15,110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,54},{260,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009_2_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,474},{200,208}}</string>
                <key>offset</key>
                <string>{-43,102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,50},{200,208}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009_2_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,0},{210,210}}</string>
                <key>offset</key>
                <string>{-53,83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,68},{210,210}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009_2_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,530},{150,200}}</string>
                <key>offset</key>
                <string>{-93,109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,47},{150,200}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009_2_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,728},{140,168}}</string>
                <key>offset</key>
                <string>{-28,116}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,56},{140,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009_2_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,386},{144,216}}</string>
                <key>offset</key>
                <string>{-58,108}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,40},{144,216}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009_2_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,866},{112,210}}</string>
                <key>offset</key>
                <string>{-62,108}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,43},{112,210}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009_2_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{276,194}}</string>
                <key>offset</key>
                <string>{-14,108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,51},{276,194}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009_2_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,516},{214,164}}</string>
                <key>offset</key>
                <string>{-17,118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,56},{214,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009_2_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,730},{172,166}}</string>
                <key>offset</key>
                <string>{-56,123}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,50},{172,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009_2_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,210},{218,176}}</string>
                <key>offset</key>
                <string>{-49,112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,56},{218,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009_2_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,680},{212,186}}</string>
                <key>offset</key>
                <string>{-52,111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,52},{212,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009_2_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,682},{266,160}}</string>
                <key>offset</key>
                <string>{8,116}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,60},{266,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009_2_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,172},{272,114}}</string>
                <key>offset</key>
                <string>{12,100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,99},{272,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009_2_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,378},{304,110}}</string>
                <key>offset</key>
                <string>{4,103}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,98},{304,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009_2_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,652},{280,152}}</string>
                <key>offset</key>
                <string>{10,121}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,59},{280,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009_2_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,354},{270,162}}</string>
                <key>offset</key>
                <string>{13,119}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,56},{270,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>6009_2.png</string>
            <key>size</key>
            <string>{1020,978}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bd634e7d2245ef913c457c65944ae468:1/1$</string>
            <key>textureFileName</key>
            <string>6009_2.png</string>
        </dict>
    </dict>
</plist>
