<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>6010_0_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,0},{288,126}}</string>
                <key>offset</key>
                <string>{6,115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,78},{288,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6010_0_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{288,120}}</string>
                <key>offset</key>
                <string>{16,111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,85},{288,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6010_0_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,126},{296,126}}</string>
                <key>offset</key>
                <string>{20,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,87},{296,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6010_0_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,120},{286,126}}</string>
                <key>offset</key>
                <string>{20,108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,85},{286,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6010_0_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,380},{288,130}}</string>
                <key>offset</key>
                <string>{15,110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,81},{288,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6010_0_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,548},{238,158}}</string>
                <key>offset</key>
                <string>{-32,129}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,48},{238,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6010_0_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,674},{252,162}}</string>
                <key>offset</key>
                <string>{-25,125}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,50},{252,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6010_0_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,706},{260,168}}</string>
                <key>offset</key>
                <string>{-24,121}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,51},{260,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6010_0_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,706},{258,168}}</string>
                <key>offset</key>
                <string>{-19,123}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,49},{258,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6010_0_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,686},{254,162}}</string>
                <key>offset</key>
                <string>{-22,124}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,51},{254,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6010_0_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,0},{152,166}}</string>
                <key>offset</key>
                <string>{-45,148}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,25},{152,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6010_0_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,384},{164,174}}</string>
                <key>offset</key>
                <string>{-47,144}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,25},{164,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6010_0_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,520},{162,182}}</string>
                <key>offset</key>
                <string>{-57,139}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,26},{162,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6010_0_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,530},{156,182}}</string>
                <key>offset</key>
                <string>{-58,139}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,26},{156,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6010_0_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,346},{158,174}}</string>
                <key>offset</key>
                <string>{-55,143}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,26},{158,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6010_0_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,384},{194,146}}</string>
                <key>offset</key>
                <string>{-53,157}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,26},{194,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6010_0_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,166},{180,148}}</string>
                <key>offset</key>
                <string>{-60,156}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,26},{180,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6010_0_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,510},{186,150}}</string>
                <key>offset</key>
                <string>{-59,155}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,26},{186,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6010_0_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,524},{198,150}}</string>
                <key>offset</key>
                <string>{-57,156}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,25},{198,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6010_0_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,380},{204,144}}</string>
                <key>offset</key>
                <string>{-58,158}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,26},{204,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6010_0_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,252},{288,128}}</string>
                <key>offset</key>
                <string>{-4,157}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,35},{288,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6010_0_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,126},{288,128}}</string>
                <key>offset</key>
                <string>{-13,160}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,32},{288,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6010_0_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,0},{296,126}}</string>
                <key>offset</key>
                <string>{-16,155}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,38},{296,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6010_0_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,246},{286,132}}</string>
                <key>offset</key>
                <string>{-16,158}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,32},{286,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6010_0_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,254},{288,130}}</string>
                <key>offset</key>
                <string>{-11,160}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,31},{288,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>6010_0.png</string>
            <key>size</key>
            <string>{1024,874}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:31ed8cfb8b55a1a702de57ebb9449903:1/1$</string>
            <key>textureFileName</key>
            <string>6010_0.png</string>
        </dict>
    </dict>
</plist>
