<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>6010_9_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,0},{294,130}}</string>
                <key>offset</key>
                <string>{0,109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,82},{294,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6010_9_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,130},{296,128}}</string>
                <key>offset</key>
                <string>{0,108}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,84},{296,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6010_9_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{294,130}}</string>
                <key>offset</key>
                <string>{0,109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,82},{294,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6010_9_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,378},{214,180}}</string>
                <key>offset</key>
                <string>{-52,132}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,34},{214,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6010_9_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,130},{218,180}}</string>
                <key>offset</key>
                <string>{-54,132}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,34},{218,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6010_9_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,122},{214,180}}</string>
                <key>offset</key>
                <string>{-52,132}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,34},{214,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6010_9_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,274},{152,164}}</string>
                <key>offset</key>
                <string>{-66,149}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,25},{152,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6010_9_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,122},{152,162}}</string>
                <key>offset</key>
                <string>{-68,149}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,26},{152,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6010_9_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,426},{152,164}}</string>
                <key>offset</key>
                <string>{-66,149}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,25},{152,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6010_9_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,378},{224,138}}</string>
                <key>offset</key>
                <string>{-44,161}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,26},{224,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6010_9_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,440},{222,136}}</string>
                <key>offset</key>
                <string>{-45,162}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,26},{222,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6010_9_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,302},{224,138}}</string>
                <key>offset</key>
                <string>{-44,161}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,26},{224,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6010_9_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,254},{294,124}}</string>
                <key>offset</key>
                <string>{3,157}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,37},{294,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6010_9_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,0},{296,122}}</string>
                <key>offset</key>
                <string>{4,158}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,37},{296,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6010_9_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,130},{294,124}}</string>
                <key>offset</key>
                <string>{3,157}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,37},{294,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>6010_9.png</string>
            <key>size</key>
            <string>{978,579}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6c3ebb8f6c8f55cc74c76aab8b71b7de:1/1$</string>
            <key>textureFileName</key>
            <string>6010_9.png</string>
        </dict>
    </dict>
</plist>
