<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>7010_4_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,262},{2,2}}</string>
                <key>offset</key>
                <string>{-178,243}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,156},{2,2}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>7010_4_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{38,262}}</string>
                <key>offset</key>
                <string>{-2,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{379,219},{38,262}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>7010_4_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,262},{34,118}}</string>
                <key>offset</key>
                <string>{5,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{388,351},{34,118}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>7010_4_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,262},{1,1}}</string>
                <key>offset</key>
                <string>{-399.5,399.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>7010_40.png</string>
            <key>size</key>
            <string>{38,380}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4c4fdde1e50023b860767c71c840d879:1/1$</string>
            <key>textureFileName</key>
            <string>7010_40.png</string>
        </dict>
    </dict>
</plist>
