<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>7010_0_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,142},{2,2}}</string>
                <key>offset</key>
                <string>{-178,243}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,156},{2,2}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>7010_0_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{82,142}}</string>
                <key>offset</key>
                <string>{-1,125}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{358,204},{82,142}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>7010_0_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,142},{64,130}}</string>
                <key>offset</key>
                <string>{-7,118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{361,217},{64,130}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>7010_0_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,142},{12,54}}</string>
                <key>offset</key>
                <string>{-22,108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{372,265},{12,54}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>7010_00.png</string>
            <key>size</key>
            <string>{82,272}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:551616cc2cae645b9ab0c3f6049df271:1/1$</string>
            <key>textureFileName</key>
            <string>7010_00.png</string>
        </dict>
    </dict>
</plist>
