<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>7020_1_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,468},{2,2}}</string>
                <key>offset</key>
                <string>{-95,111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{404,388},{2,2}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>7020_1_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{228,178}}</string>
                <key>offset</key>
                <string>{-13,124}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{373,287},{228,178}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>7020_1_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,178},{170,162}}</string>
                <key>offset</key>
                <string>{38,127}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{453,292},{170,162}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>7020_1_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,340},{106,154}}</string>
                <key>offset</key>
                <string>{90,134}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{537,289},{106,154}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>7020_1_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,340},{88,128}}</string>
                <key>offset</key>
                <string>{112,156}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{568,280},{88,128}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>7020_10.png</string>
            <key>size</key>
            <string>{228,494}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:76235c8ab01a8cadc3e191b58497d513:1/1$</string>
            <key>textureFileName</key>
            <string>7020_10.png</string>
        </dict>
    </dict>
</plist>
