<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>7020_4_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,158},{2,2}}</string>
                <key>offset</key>
                <string>{-100,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{399,418},{2,2}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>7020_4_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,158},{22,280}}</string>
                <key>offset</key>
                <string>{-3,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{486,341},{22,280}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>7020_4_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,438},{22,242}}</string>
                <key>offset</key>
                <string>{1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{490,367},{22,242}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>7020_4_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,680},{22,162}}</string>
                <key>offset</key>
                <string>{3,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{492,464},{22,162}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>7020_4_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{24,158}}</string>
                <key>offset</key>
                <string>{5,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{493,487},{24,158}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>7020_40.png</string>
            <key>size</key>
            <string>{24,842}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ec199e133daa3e3d5f3943db43f0c3b9:1/1$</string>
            <key>textureFileName</key>
            <string>7020_40.png</string>
        </dict>
    </dict>
</plist>
