<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>7020_2_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,290},{2,2}}</string>
                <key>offset</key>
                <string>{-78,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{421,400},{2,2}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>7020_2_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{312,180}}</string>
                <key>offset</key>
                <string>{-10,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{334,330},{312,180}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>7020_2_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,0},{162,158}}</string>
                <key>offset</key>
                <string>{68,80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{487,341},{162,158}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>7020_2_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,162},{132,128}}</string>
                <key>offset</key>
                <string>{123,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,384},{132,128}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>7020_2_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,180},{112,122}}</string>
                <key>offset</key>
                <string>{168,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{612,387},{112,122}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>7020_20.png</string>
            <key>size</key>
            <string>{470,292}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bb57e9846e7ea7bd37f09e5062236a8d:1/1$</string>
            <key>textureFileName</key>
            <string>7020_20.png</string>
        </dict>
    </dict>
</plist>
