<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>7022_3_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,204},{2,2}}</string>
                <key>offset</key>
                <string>{-105,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{394,438},{2,2}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>7022_3_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,808},{106,94}}</string>
                <key>offset</key>
                <string>{63,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{510,498},{106,94}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>7022_3_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,204},{218,166}}</string>
                <key>offset</key>
                <string>{91,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{482,490},{218,166}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>7022_3_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,618},{190,154}}</string>
                <key>offset</key>
                <string>{92,-93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{497,516},{190,154}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>7022_3_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{204,174}}</string>
                <key>offset</key>
                <string>{92,-103}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{490,516},{204,174}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>7022_3_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,422},{196,154}}</string>
                <key>offset</key>
                <string>{88,-93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{490,516},{196,154}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>7022_30.png</string>
            <key>size</key>
            <string>{174,902}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:be57b52f433705bc874f9ecc84a2f90b:1/1$</string>
            <key>textureFileName</key>
            <string>7022_30.png</string>
        </dict>
    </dict>
</plist>
