<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>7022_4_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,180},{2,2}}</string>
                <key>offset</key>
                <string>{-100,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{399,418},{2,2}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>7022_4_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,682},{64,110}}</string>
                <key>offset</key>
                <string>{-2,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{466,502},{64,110}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>7022_4_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,518},{124,164}}</string>
                <key>offset</key>
                <string>{1,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{439,485},{124,164}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>7022_4_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,180},{152,168}}</string>
                <key>offset</key>
                <string>{0,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{424,494},{152,168}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>7022_4_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,348},{170,146}}</string>
                <key>offset</key>
                <string>{-2,-81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{413,508},{170,146}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>7022_4_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{180,156}}</string>
                <key>offset</key>
                <string>{-2,-75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{408,497},{180,156}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>7022_40.png</string>
            <key>size</key>
            <string>{156,746}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4f684afd6610b77bb9bc42267b86b4a8:1/1$</string>
            <key>textureFileName</key>
            <string>7022_40.png</string>
        </dict>
    </dict>
</plist>
