<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>7022_2_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,210},{2,2}}</string>
                <key>offset</key>
                <string>{-78,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{421,400},{2,2}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>7022_2_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,102},{136,60}}</string>
                <key>offset</key>
                <string>{112,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{544,455},{136,60}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>7022_2_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,162},{246,94}}</string>
                <key>offset</key>
                <string>{146,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{523,447},{246,94}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>7022_2_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,0},{242,102}}</string>
                <key>offset</key>
                <string>{137,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{516,436},{242,102}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>7022_2_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{264,104}}</string>
                <key>offset</key>
                <string>{139,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{507,436},{264,104}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>7022_2_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,104},{244,106}}</string>
                <key>offset</key>
                <string>{135,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{513,435},{244,106}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>7022_20.png</string>
            <key>size</key>
            <string>{506,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dd0c836b42e8447b60718d66f1ad1c39:1/1$</string>
            <key>textureFileName</key>
            <string>7022_20.png</string>
        </dict>
    </dict>
</plist>
