<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>7022_0_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,150},{2,2}}</string>
                <key>offset</key>
                <string>{-78,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{421,400},{2,2}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>7022_0_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,0},{92,106}}</string>
                <key>offset</key>
                <string>{5,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{459,341},{92,106}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>7022_0_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,0},{116,174}}</string>
                <key>offset</key>
                <string>{-6,138}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{436,275},{116,174}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>7022_0_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,0},{150,168}}</string>
                <key>offset</key>
                <string>{2,142}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{427,274},{150,168}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>7022_0_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,0},{168,158}}</string>
                <key>offset</key>
                <string>{0,136}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{416,285},{168,158}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>7022_0_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{176,158}}</string>
                <key>offset</key>
                <string>{1,137}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{413,284},{176,158}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>7022_00.png</string>
            <key>size</key>
            <string>{778,158}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:79f2f489412a8a01bc14ad31d00d9920:1/1$</string>
            <key>textureFileName</key>
            <string>7022_00.png</string>
        </dict>
    </dict>
</plist>
