<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>7023_3_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,92},{2,2}}</string>
                <key>offset</key>
                <string>{-78,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,156},{2,2}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7023_3_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,0},{92,198}}</string>
                <key>offset</key>
                <string>{88,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{298,112},{92,198}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7023_3_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{30,102}}</string>
                <key>offset</key>
                <string>{116,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{357,206},{30,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>7023_30.png</string>
            <key>size</key>
            <string>{228,102}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eb360a36c0164a984f7962a881ee1f65:1/1$</string>
            <key>textureFileName</key>
            <string>7023_30.png</string>
        </dict>
    </dict>
</plist>
