<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>7023_0_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{10,88},{2,2}}</string>
                <key>offset</key>
                <string>{-78,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,156},{2,2}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7023_0_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{28,88}}</string>
                <key>offset</key>
                <string>{-10,142}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,70},{28,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7023_0_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,88},{10,60}}</string>
                <key>offset</key>
                <string>{-17,133}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,93},{10,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>7023_00.png</string>
            <key>size</key>
            <string>{28,148}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8fbbce9dc14715a1b955346e159a8db5:1/1$</string>
            <key>textureFileName</key>
            <string>7023_00.png</string>
        </dict>
    </dict>
</plist>
