<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>7030_4_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,154},{2,2}}</string>
                <key>offset</key>
                <string>{-78,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{371,350},{2,2}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>7030_4_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,0},{232,144}}</string>
                <key>offset</key>
                <string>{43,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{377,389},{232,144}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>7030_4_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,0},{302,132}}</string>
                <key>offset</key>
                <string>{-19,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{280,401},{302,132}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>7030_4_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{298,154}}</string>
                <key>offset</key>
                <string>{-17,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{284,378},{298,154}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>7030_4_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,132},{258,60}}</string>
                <key>offset</key>
                <string>{-20,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{301,464},{258,60}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>7030_40.png</string>
            <key>size</key>
            <string>{832,192}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0d4722b466cdad9a5ba472b11364c300:1/1$</string>
            <key>textureFileName</key>
            <string>7030_40.png</string>
        </dict>
    </dict>
</plist>
