<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>7030_2_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,208},{2,2}}</string>
                <key>offset</key>
                <string>{-78,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{371,350},{2,2}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>7030_2_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,0},{242,150}}</string>
                <key>offset</key>
                <string>{74,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{403,305},{242,150}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>7030_2_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,0},{250,218}}</string>
                <key>offset</key>
                <string>{78,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{403,321},{250,218}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>7030_2_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{292,208}}</string>
                <key>offset</key>
                <string>{56,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{360,328},{292,208}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>7030_2_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,150},{96,172}}</string>
                <key>offset</key>
                <string>{134,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{536,345},{96,172}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>7030_20.png</string>
            <key>size</key>
            <string>{752,250}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:90665f159d506fc12e287f0fcb6c6626:1/1$</string>
            <key>textureFileName</key>
            <string>7030_20.png</string>
        </dict>
    </dict>
</plist>
