<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>7030_1_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,214},{2,2}}</string>
                <key>offset</key>
                <string>{-78,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{371,350},{2,2}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>7030_1_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,0},{290,104}}</string>
                <key>offset</key>
                <string>{13,113}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{318,285},{290,104}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>7030_1_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{286,224}}</string>
                <key>offset</key>
                <string>{54,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{361,302},{286,224}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>7030_1_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,0},{234,214}}</string>
                <key>offset</key>
                <string>{77,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{410,312},{234,214}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>7030_1_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,104},{106,162}}</string>
                <key>offset</key>
                <string>{129,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{526,329},{106,162}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>7030_10.png</string>
            <key>size</key>
            <string>{810,224}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:492569f0283a30677112da258630895f:1/1$</string>
            <key>textureFileName</key>
            <string>7030_10.png</string>
        </dict>
    </dict>
</plist>
