<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>7080_3_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,110},{2,2}}</string>
                <key>offset</key>
                <string>{160,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{859,518},{2,2}}</string>
                <key>sourceSize</key>
                <string>{1400,1200}</string>
            </dict>
            <key>7080_3_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,110},{2,2}}</string>
                <key>offset</key>
                <string>{160,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{859,518},{2,2}}</string>
                <key>sourceSize</key>
                <string>{1400,1200}</string>
            </dict>
            <key>7080_3_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,332},{590,112}}</string>
                <key>offset</key>
                <string>{326,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{731,511},{590,112}}</string>
                <key>sourceSize</key>
                <string>{1400,1200}</string>
            </dict>
            <key>7080_3_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,110},{600,114}}</string>
                <key>offset</key>
                <string>{331,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{731,512},{600,114}}</string>
                <key>sourceSize</key>
                <string>{1400,1200}</string>
            </dict>
            <key>7080_3_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{604,110}}</string>
                <key>offset</key>
                <string>{329,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{727,516},{604,110}}</string>
                <key>sourceSize</key>
                <string>{1400,1200}</string>
            </dict>
            <key>7080_3_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,224},{594,108}}</string>
                <key>offset</key>
                <string>{334,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{737,518},{594,108}}</string>
                <key>sourceSize</key>
                <string>{1400,1200}</string>
            </dict>
            <key>7080_3_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,444},{568,92}}</string>
                <key>offset</key>
                <string>{325,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{741,526},{568,92}}</string>
                <key>sourceSize</key>
                <string>{1400,1200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>7080_30.png</string>
            <key>size</key>
            <string>{604,536}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:49c1834e63c9c2f87e978428220a6203:1/1$</string>
            <key>textureFileName</key>
            <string>7080_30.png</string>
        </dict>
    </dict>
</plist>
