<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>7100_0_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,212},{68,24}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,237},{68,24}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7100_0_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,186},{134,96}}</string>
                <key>offset</key>
                <string>{-4,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,181},{134,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7100_0_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,0},{150,186}}</string>
                <key>offset</key>
                <string>{-7,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,96},{150,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7100_0_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,0},{164,198}}</string>
                <key>offset</key>
                <string>{-7,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,87},{164,198}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7100_0_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{178,212}}</string>
                <key>offset</key>
                <string>{-7,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,74},{178,212}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7100_0_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,198},{184,106}}</string>
                <key>offset</key>
                <string>{-8,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,186},{184,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>7100_00.png</string>
            <key>size</key>
            <string>{496,304}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c6268053f64f8cd9cb97a896a9ea22d2:1/1$</string>
            <key>textureFileName</key>
            <string>7100_00.png</string>
        </dict>
    </dict>
</plist>
