<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>7101_0_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,106},{92,58}}</string>
                <key>offset</key>
                <string>{-2,92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,135},{92,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7101_0_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,142},{102,102}}</string>
                <key>offset</key>
                <string>{-3,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,141},{102,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7101_0_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,106},{122,136}}</string>
                <key>offset</key>
                <string>{-3,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,149},{122,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7101_0_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,0},{138,142}}</string>
                <key>offset</key>
                <string>{-4,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,150},{138,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7101_0_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{150,142}}</string>
                <key>offset</key>
                <string>{-7,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,153},{150,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7101_0_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,0},{162,106}}</string>
                <key>offset</key>
                <string>{-8,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,192},{162,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7101_0_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,150},{178,96}}</string>
                <key>offset</key>
                <string>{-7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,203},{178,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>7101_00.png</string>
            <key>size</key>
            <string>{460,246}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2479719d864310b4575de0d3350dc2c6:1/1$</string>
            <key>textureFileName</key>
            <string>7101_00.png</string>
        </dict>
    </dict>
</plist>
