<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>7140_1_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,90},{2,2}}</string>
                <key>offset</key>
                <string>{-78,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{321,300},{2,2}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>7140_1_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,90},{2,2}}</string>
                <key>offset</key>
                <string>{-78,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{321,300},{2,2}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>7140_1_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,90},{2,2}}</string>
                <key>offset</key>
                <string>{-63,209}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{336,190},{2,2}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>7140_1_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,0},{82,100}}</string>
                <key>offset</key>
                <string>{23,117}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{382,233},{82,100}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>7140_1_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,0},{90,114}}</string>
                <key>offset</key>
                <string>{20,117}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{375,226},{90,114}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>7140_1_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{92,120}}</string>
                <key>offset</key>
                <string>{17,117}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{371,223},{92,120}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>7140_1_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,0},{76,102}}</string>
                <key>offset</key>
                <string>{26,109}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{388,240},{76,102}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>7140_10.png</string>
            <key>size</key>
            <string>{436,92}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:53eea1e226b0dc6b9eddd449e66f1bed:1/1$</string>
            <key>textureFileName</key>
            <string>7140_10.png</string>
        </dict>
    </dict>
</plist>
