<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>7141_0_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,92},{2,2}}</string>
                <key>offset</key>
                <string>{48,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{647,414},{2,2}}</string>
                <key>sourceSize</key>
                <string>{1200,900}</string>
            </dict>
            <key>7141_0_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,92},{2,2}}</string>
                <key>offset</key>
                <string>{48,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{647,414},{2,2}}</string>
                <key>sourceSize</key>
                <string>{1200,900}</string>
            </dict>
            <key>7141_0_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,140},{462,84}}</string>
                <key>offset</key>
                <string>{219,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{588,406},{462,84}}</string>
                <key>sourceSize</key>
                <string>{1200,900}</string>
            </dict>
            <key>7141_0_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,0},{458,86}}</string>
                <key>offset</key>
                <string>{228,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{599,402},{458,86}}</string>
                <key>sourceSize</key>
                <string>{1200,900}</string>
            </dict>
            <key>7141_0_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{490,92}}</string>
                <key>offset</key>
                <string>{227,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,401},{490,92}}</string>
                <key>sourceSize</key>
                <string>{1200,900}</string>
            </dict>
            <key>7141_0_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,92},{476,84}}</string>
                <key>offset</key>
                <string>{235,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{597,405},{476,84}}</string>
                <key>sourceSize</key>
                <string>{1200,900}</string>
            </dict>
            <key>7141_0_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,86},{330,54}}</string>
                <key>offset</key>
                <string>{195,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{630,423},{330,54}}</string>
                <key>sourceSize</key>
                <string>{1200,900}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>7141_00.png</string>
            <key>size</key>
            <string>{948,224}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a4efe47f8aedb055a1b0ed3d4070fd25:1/1$</string>
            <key>textureFileName</key>
            <string>7141_00.png</string>
        </dict>
    </dict>
</plist>
