<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>7150_0_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,254},{2,2}}</string>
                <key>offset</key>
                <string>{-78,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{321,300},{2,2}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>7150_0_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,716},{206,182}}</string>
                <key>offset</key>
                <string>{-1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{296,294},{206,182}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>7150_0_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,254},{362,226}}</string>
                <key>offset</key>
                <string>{-8,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,268},{362,226}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>7150_0_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{386,254}}</string>
                <key>offset</key>
                <string>{-11,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,261},{386,254}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>7150_0_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,480},{338,236}}</string>
                <key>offset</key>
                <string>{7,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,255},{338,236}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>7150_0_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,716},{268,146}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{268,320},{268,146}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>7150_00.png</string>
            <key>size</key>
            <string>{386,984}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:741a359a2351219832b8ab05b44d8213:1/1$</string>
            <key>textureFileName</key>
            <string>7150_00.png</string>
        </dict>
    </dict>
</plist>
