<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>7290_2_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,36},{2,68}}</string>
                <key>offset</key>
                <string>{-83,140}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,82},{2,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7290_2_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,36},{2,68}}</string>
                <key>offset</key>
                <string>{-83,140}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,82},{2,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7290_2_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,0},{52,26}}</string>
                <key>offset</key>
                <string>{53,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{283,211},{52,26}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7290_2_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,0},{72,36}}</string>
                <key>offset</key>
                <string>{73,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{293,200},{72,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7290_2_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{92,46}}</string>
                <key>offset</key>
                <string>{94,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{304,189},{92,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>7290_20.png</string>
            <key>size</key>
            <string>{216,46}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:19e68eaf9a6f530794b5ad0db92960eb:1/1$</string>
            <key>textureFileName</key>
            <string>7290_20.png</string>
        </dict>
    </dict>
</plist>
