<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>7290_0_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,36},{6,66}}</string>
                <key>offset</key>
                <string>{-77,142}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,81},{6,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7290_0_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,36},{6,66}}</string>
                <key>offset</key>
                <string>{-77,142}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,81},{6,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7290_0_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,28},{20,46}}</string>
                <key>offset</key>
                <string>{4,63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{250,170},{20,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7290_0_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,0},{28,54}}</string>
                <key>offset</key>
                <string>{3,74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{245,155},{28,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7290_0_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{36,66}}</string>
                <key>offset</key>
                <string>{2,87}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,136},{36,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>7290_00.png</string>
            <key>size</key>
            <string>{120,48}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e01b8fbe5196535a930e6e12209448a0:1/1$</string>
            <key>textureFileName</key>
            <string>7290_00.png</string>
        </dict>
    </dict>
</plist>
