<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>7310_2_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,244},{2,2}}</string>
                <key>offset</key>
                <string>{-55,82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,173},{2,2}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7310_2_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,244},{2,2}}</string>
                <key>offset</key>
                <string>{-55,82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,173},{2,2}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7310_2_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,62},{74,40}}</string>
                <key>offset</key>
                <string>{60,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{279,179},{74,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7310_2_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,62},{102,56}}</string>
                <key>offset</key>
                <string>{78,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{283,173},{102,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7310_2_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{110,62}}</string>
                <key>offset</key>
                <string>{85,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{286,169},{110,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7310_2_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,118},{92,66}}</string>
                <key>offset</key>
                <string>{94,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{304,162},{92,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7310_2_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,184},{90,66}}</string>
                <key>offset</key>
                <string>{120,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{331,158},{90,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7310_2_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,184},{58,60}}</string>
                <key>offset</key>
                <string>{110,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{337,155},{58,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7310_2_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,136},{42,40}}</string>
                <key>offset</key>
                <string>{109,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{344,163},{42,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7310_2_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,0},{20,22}}</string>
                <key>offset</key>
                <string>{110,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{356,176},{20,22}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>7310_20.png</string>
            <key>size</key>
            <string>{148,250}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7955f90844062d76e54c999578205d27:1/1$</string>
            <key>textureFileName</key>
            <string>7310_20.png</string>
        </dict>
    </dict>
</plist>
