<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>7330_4_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,672},{2,2}}</string>
                <key>offset</key>
                <string>{-78,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,200},{2,2}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>7330_4_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,672},{2,2}}</string>
                <key>offset</key>
                <string>{-78,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,200},{2,2}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>7330_4_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,344},{74,328}}</string>
                <key>offset</key>
                <string>{-25,82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,54},{74,328}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>7330_4_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{74,344}}</string>
                <key>offset</key>
                <string>{-23,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,54},{74,344}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>7330_4_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,672},{44,328}}</string>
                <key>offset</key>
                <string>{-26,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,56},{44,328}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>7330_40.png</string>
            <key>size</key>
            <string>{74,1000}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f0cf4810438a343c28b7c41faf19886d:1/1$</string>
            <key>textureFileName</key>
            <string>7330_40.png</string>
        </dict>
    </dict>
</plist>
