<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>7330_1_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,170},{2,2}}</string>
                <key>offset</key>
                <string>{-78,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,200},{2,2}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>7330_1_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,170},{2,2}}</string>
                <key>offset</key>
                <string>{-78,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,200},{2,2}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>7330_1_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,0},{90,164}}</string>
                <key>offset</key>
                <string>{55,147}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{310,71},{90,164}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>7330_1_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{76,212}}</string>
                <key>offset</key>
                <string>{75,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{337,123},{76,212}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>7330_1_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,0},{66,170}}</string>
                <key>offset</key>
                <string>{71,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{338,120},{66,170}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>7330_10.png</string>
            <key>size</key>
            <string>{232,212}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:046cdebc60ae96735a66331f62ed7efa:1/1$</string>
            <key>textureFileName</key>
            <string>7330_10.png</string>
        </dict>
    </dict>
</plist>
