<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>7331_4_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,120},{2,2}}</string>
                <key>offset</key>
                <string>{-78,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,156},{2,2}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7331_4_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,120},{2,2}}</string>
                <key>offset</key>
                <string>{-78,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,156},{2,2}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7331_4_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,0},{146,120}}</string>
                <key>offset</key>
                <string>{-23,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,147},{146,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7331_4_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{142,122}}</string>
                <key>offset</key>
                <string>{-12,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,134},{142,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7331_4_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,0},{150,120}}</string>
                <key>offset</key>
                <string>{-19,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,141},{150,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>7331_40.png</string>
            <key>size</key>
            <string>{438,122}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7fbc1bbb4f7313073f7fb75b54365e74:1/1$</string>
            <key>textureFileName</key>
            <string>7331_40.png</string>
        </dict>
    </dict>
</plist>
