<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>7340_4_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,164},{6,66}}</string>
                <key>offset</key>
                <string>{-77,132}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,91},{6,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7340_4_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,164},{6,66}}</string>
                <key>offset</key>
                <string>{-77,132}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,91},{6,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7340_4_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{6,164},{30,64}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,213},{30,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7340_4_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,86},{34,78}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,215},{34,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7340_4_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{34,86}}</string>
                <key>offset</key>
                <string>{-3,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,222},{34,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>7340_40.png</string>
            <key>size</key>
            <string>{36,230}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4dae8a8a57f22fd77c590c45ba6d5ddb:1/1$</string>
            <key>textureFileName</key>
            <string>7340_40.png</string>
        </dict>
    </dict>
</plist>
