<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>7350_4_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,242},{2,2}}</string>
                <key>offset</key>
                <string>{-78,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,156},{2,2}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7350_4_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,242},{2,2}}</string>
                <key>offset</key>
                <string>{-78,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,156},{2,2}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7350_4_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{66,242}}</string>
                <key>offset</key>
                <string>{-32,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,50},{66,242}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7350_4_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,0},{62,254}}</string>
                <key>offset</key>
                <string>{-30,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,50},{62,254}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7350_4_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,242},{64,224}}</string>
                <key>offset</key>
                <string>{-35,83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,61},{64,224}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>7350_40.png</string>
            <key>size</key>
            <string>{128,466}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8b46cf11eff884bc5eea00e8ddf4bdd1:1/1$</string>
            <key>textureFileName</key>
            <string>7350_40.png</string>
        </dict>
    </dict>
</plist>
