<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>7350_0_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,346},{10,40}}</string>
                <key>offset</key>
                <string>{-74,118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,118},{10,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7350_0_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,346},{10,40}}</string>
                <key>offset</key>
                <string>{-74,118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,118},{10,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7350_0_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{70,166}}</string>
                <key>offset</key>
                <string>{-30,146}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,27},{70,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7350_0_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,166},{64,180}}</string>
                <key>offset</key>
                <string>{-30,132}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,34},{64,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7350_0_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,346},{60,152}}</string>
                <key>offset</key>
                <string>{-22,143}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,37},{60,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>7350_00.png</string>
            <key>size</key>
            <string>{70,498}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a98f5e5b6677ca6d556ec0403ad41dce:1/1$</string>
            <key>textureFileName</key>
            <string>7350_00.png</string>
        </dict>
    </dict>
</plist>
