<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>7351_4_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,278},{2,2}}</string>
                <key>offset</key>
                <string>{26,123}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{475,326},{2,2}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>7351_4_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,278},{2,2}}</string>
                <key>offset</key>
                <string>{26,123}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{475,326},{2,2}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>7351_4_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,574},{76,266}}</string>
                <key>offset</key>
                <string>{30,86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{442,231},{76,266}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>7351_4_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,278},{78,296}}</string>
                <key>offset</key>
                <string>{29,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{440,230},{78,296}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>7351_4_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{86,278}}</string>
                <key>offset</key>
                <string>{27,82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{434,229},{86,278}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>7351_40.png</string>
            <key>size</key>
            <string>{86,840}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:21d7b14b9cf983eb71da3ea039ab2313:1/1$</string>
            <key>textureFileName</key>
            <string>7351_40.png</string>
        </dict>
    </dict>
</plist>
