<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>7410_2_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,46},{2,2}}</string>
                <key>offset</key>
                <string>{-79,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,154},{2,2}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7410_2_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,46},{2,2}}</string>
                <key>offset</key>
                <string>{-79,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,154},{2,2}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7410_2_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{200,48}}</string>
                <key>offset</key>
                <string>{40,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,175},{200,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7410_2_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,0},{66,46}}</string>
                <key>offset</key>
                <string>{109,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{332,170},{66,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>7410_20.png</string>
            <key>size</key>
            <string>{266,48}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ae0755e38515044c0f0d0af631168ec8:1/1$</string>
            <key>textureFileName</key>
            <string>7410_20.png</string>
        </dict>
    </dict>
</plist>
