<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>7410_4_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,174},{2,2}}</string>
                <key>offset</key>
                <string>{-103,118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,137},{2,2}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7410_4_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,174},{2,2}}</string>
                <key>offset</key>
                <string>{-103,118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,137},{2,2}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7410_4_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,0},{162,174}}</string>
                <key>offset</key>
                <string>{-73,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,102},{162,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7410_4_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{206,86}}</string>
                <key>offset</key>
                <string>{-17,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,201},{206,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>7410_40.png</string>
            <key>size</key>
            <string>{248,206}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:14cfef78c090d20d725aeede42f5a316:1/1$</string>
            <key>textureFileName</key>
            <string>7410_40.png</string>
        </dict>
    </dict>
</plist>
