<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>7410_1_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,58},{2,2}}</string>
                <key>offset</key>
                <string>{-84,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,150},{2,2}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7410_1_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,58},{2,2}}</string>
                <key>offset</key>
                <string>{-84,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,150},{2,2}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7410_1_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{114,76}}</string>
                <key>offset</key>
                <string>{120,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{319,120},{114,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7410_1_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,0},{142,58}}</string>
                <key>offset</key>
                <string>{94,104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{279,123},{142,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>7410_10.png</string>
            <key>size</key>
            <string>{256,76}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:78395b35f52dd85ed6e527d3bc08b3e4:1/1$</string>
            <key>textureFileName</key>
            <string>7410_10.png</string>
        </dict>
    </dict>
</plist>
