<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>7411_1_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,208},{2,2}}</string>
                <key>offset</key>
                <string>{-75,108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{324,291},{2,2}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>7411_1_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,208},{2,2}}</string>
                <key>offset</key>
                <string>{-75,108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{324,291},{2,2}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>7411_1_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,0},{168,208}}</string>
                <key>offset</key>
                <string>{67,152}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{383,144},{168,208}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>7411_1_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{166,234}}</string>
                <key>offset</key>
                <string>{76,147}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{393,136},{166,234}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>7411_1_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,0},{170,170}}</string>
                <key>offset</key>
                <string>{79,171}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{394,144},{170,170}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>7411_10.png</string>
            <key>size</key>
            <string>{504,234}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6e4223b8c5539f85f02a269c383820a7:1/1$</string>
            <key>textureFileName</key>
            <string>7411_10.png</string>
        </dict>
    </dict>
</plist>
