<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>7411_3_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,346},{2,2}}</string>
                <key>offset</key>
                <string>{-71,108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{328,291},{2,2}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>7411_3_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,346},{2,2}}</string>
                <key>offset</key>
                <string>{-71,108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{328,291},{2,2}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>7411_3_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{172,346}}</string>
                <key>offset</key>
                <string>{41,132}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{355,95},{172,346}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>7411_3_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,346},{142,344}}</string>
                <key>offset</key>
                <string>{55,130}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{384,98},{142,344}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>7411_3_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,690},{112,210}}</string>
                <key>offset</key>
                <string>{70,132}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{414,163},{112,210}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>7411_30.png</string>
            <key>size</key>
            <string>{172,900}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a22d8f05a233a49fe8deca1f96abdb88:1/1$</string>
            <key>textureFileName</key>
            <string>7411_30.png</string>
        </dict>
    </dict>
</plist>
