<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>7420_0_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,644},{140,96}}</string>
                <key>offset</key>
                <string>{2,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{332,338},{140,96}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>7420_0_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{280,406}}</string>
                <key>offset</key>
                <string>{8,147}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{268,50},{280,406}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>7420_0_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,406},{260,404}}</string>
                <key>offset</key>
                <string>{9,158}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{279,40},{260,404}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>7420_0_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,0},{254,404}}</string>
                <key>offset</key>
                <string>{10,161}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{283,37},{254,404}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>7420_0_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,644},{246,372}}</string>
                <key>offset</key>
                <string>{9,160}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{286,54},{246,372}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>7420_0_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,406},{238,350}}</string>
                <key>offset</key>
                <string>{13,165}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{294,60},{238,350}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>7421_0_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,810},{110,206}}</string>
                <key>offset</key>
                <string>{-3,86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{342,511},{110,206}}</string>
                <key>sourceSize</key>
                <string>{800,1400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>7420_00.png</string>
            <key>size</key>
            <string>{610,1016}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:747491b9de7de76cdefc4662107a969f:1/1$</string>
            <key>textureFileName</key>
            <string>7420_00.png</string>
        </dict>
    </dict>
</plist>
