<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>7461_4_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,212},{2,2}}</string>
                <key>offset</key>
                <string>{-78,143}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,156},{2,2}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>7461_4_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,0},{66,118}}</string>
                <key>offset</key>
                <string>{2,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{269,330},{66,118}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>7461_4_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,66},{114,184}}</string>
                <key>offset</key>
                <string>{2,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,295},{114,184}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>7461_4_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,0},{152,206}}</string>
                <key>offset</key>
                <string>{9,-112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,309},{152,206}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>7461_4_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,0},{170,202}}</string>
                <key>offset</key>
                <string>{6,-104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,303},{170,202}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>7461_4_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{178,212}}</string>
                <key>offset</key>
                <string>{5,-110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,304},{178,212}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>7461_40.png</string>
            <key>size</key>
            <string>{618,250}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f74392d8b69445351a5ff93364bf88b5:1/1$</string>
            <key>textureFileName</key>
            <string>7461_40.png</string>
        </dict>
    </dict>
</plist>
