<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>7480_4_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,190},{2,2}}</string>
                <key>offset</key>
                <string>{-78,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{321,300},{2,2}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>7480_4_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,326},{134,194}}</string>
                <key>offset</key>
                <string>{80,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{413,277},{134,194}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>7480_4_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,190},{310,194}}</string>
                <key>offset</key>
                <string>{7,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,311},{310,194}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>7480_4_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{322,190}}</string>
                <key>offset</key>
                <string>{3,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,322},{322,190}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>7480_4_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,0},{326,182}}</string>
                <key>offset</key>
                <string>{-2,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,337},{326,182}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>7480_4_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,384},{288,108}}</string>
                <key>offset</key>
                <string>{-2,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,409},{288,108}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>7480_40.png</string>
            <key>size</key>
            <string>{504,492}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:71d22bcfce4bb5bb7cfc875a4ee1a32b:1/1$</string>
            <key>textureFileName</key>
            <string>7480_40.png</string>
        </dict>
    </dict>
</plist>
