<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>7500_1_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,198},{2,2}}</string>
                <key>offset</key>
                <string>{-78,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{321,300},{2,2}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>7500_1_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,198},{2,2}}</string>
                <key>offset</key>
                <string>{-78,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{321,300},{2,2}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>7500_1_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{240,210}}</string>
                <key>offset</key>
                <string>{39,128}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{319,167},{240,210}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>7500_1_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,0},{158,190}}</string>
                <key>offset</key>
                <string>{79,110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{400,195},{158,190}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>7500_1_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,0},{198,236}}</string>
                <key>offset</key>
                <string>{81,116}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{382,166},{198,236}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>7500_10.png</string>
            <key>size</key>
            <string>{634,210}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e024576754a436aa3a2e92489e3609fa:1/1$</string>
            <key>textureFileName</key>
            <string>7500_10.png</string>
        </dict>
    </dict>
</plist>
