<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>7580_0_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{46,102}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,31},{46,102}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>7580_7580_0_00005.png0.png</string>
            <key>size</key>
            <string>{46,102}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:15c038ac4a00c29b8d30d8c0b6787a7d:1/1$</string>
            <key>textureFileName</key>
            <string>7580_7580_0_00005.png0.png</string>
        </dict>
    </dict>
</plist>
