<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>7580_0_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{42,98}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,34},{42,98}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>7580_7580_0_00001.png0.png</string>
            <key>size</key>
            <string>{42,98}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eae24dfc6d21fce290aa001a449d3e22:1/1$</string>
            <key>textureFileName</key>
            <string>7580_7580_0_00001.png0.png</string>
        </dict>
    </dict>
</plist>
