<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>7704_2_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,76},{2,2}}</string>
                <key>offset</key>
                <string>{-78,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{321,300},{2,2}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>7704_2_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,76},{2,2}}</string>
                <key>offset</key>
                <string>{-78,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{321,300},{2,2}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>7704_2_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,0},{160,70}}</string>
                <key>offset</key>
                <string>{157,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{477,340},{160,70}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>7704_2_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,0},{184,72}}</string>
                <key>offset</key>
                <string>{172,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{480,339},{184,72}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>7704_2_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,0},{194,74}}</string>
                <key>offset</key>
                <string>{189,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{492,336},{194,74}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>7704_2_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{186,84}}</string>
                <key>offset</key>
                <string>{216,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{523,334},{186,84}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>7704_2_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,0},{178,76}}</string>
                <key>offset</key>
                <string>{237,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{548,322},{178,76}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>7704_2_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,0},{108,66}}</string>
                <key>offset</key>
                <string>{287,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{633,314},{108,66}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>7704_20.png</string>
            <key>size</key>
            <string>{1010,84}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:65c402d57234b35cbb864ec3ae5a2cfb:1/1$</string>
            <key>textureFileName</key>
            <string>7704_20.png</string>
        </dict>
    </dict>
</plist>
