<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>7704_1_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,328},{2,2}}</string>
                <key>offset</key>
                <string>{-78,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{321,300},{2,2}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>7704_1_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,328},{2,2}}</string>
                <key>offset</key>
                <string>{-78,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{321,300},{2,2}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>7704_1_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,426},{124,102}}</string>
                <key>offset</key>
                <string>{124,84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{462,265},{124,102}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>7704_1_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,236},{112,92}}</string>
                <key>offset</key>
                <string>{131,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{475,259},{112,92}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>7704_1_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{120,112}}</string>
                <key>offset</key>
                <string>{146,109}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{486,235},{120,112}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>7704_1_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,120},{116,112}}</string>
                <key>offset</key>
                <string>{155,110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{497,234},{116,112}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>7704_1_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,328},{108,98}}</string>
                <key>offset</key>
                <string>{167,120}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{513,231},{108,98}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>7704_1_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,550},{68,74}}</string>
                <key>offset</key>
                <string>{184,144}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{550,219},{68,74}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>7704_10.png</string>
            <key>size</key>
            <string>{112,618}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bb372f6536be4b34746a8145d2fc7c89:1/1$</string>
            <key>textureFileName</key>
            <string>7704_10.png</string>
        </dict>
    </dict>
</plist>
